.Main {
    position: absolute;
    left: 0;

    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    
    ._mobile_
    & {
        flex-direction: column-reverse;
    }
}

.width__mainColumn {
    width: 100%;

    ._monitor_
    & {
        max-width: ~"calc(100% - @{js__width__goldenCord})";
    }

    ._laptop_
    & {
        max-width: ~"calc(100% - @{js__width__uncannyValley})";
    }

    ._mobile_
    & {
        max-width: 100%;
    }
}

.height__mainColumn {
    top: @js__height__menu;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ._mobile_
    & {
        height: ~"calc(100% - @{js__height__lyricCollapsed} - @{js__height__menu})";
    }

    ._desktop_
    &,
    ._lyricHeightless_
    & {
        height: ~"calc(100% - @{js__height__menu})";
    }

    ._phone_
    & {
        top: @js__height__menu__phone;
        height: ~"calc(100% - @{js__height__lyricCollapsed} - @{js__height__menu__phone})";
    }

    ._phone_._lyricHeightless_
    & {
        height: ~"calc(100% - @{js__height__menu__phone})";
    }
}