.Main {
    position: absolute;
    left: 0;

    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    
    ._mobile_
    & {
        flex-direction: column-reverse;
    }
}

.width__mainColumn {
    width: 100%;

    ._monitor_
    & {
        max-width: ~"calc(100% - @{width__goldenCord})";
    }

    ._laptop_
    & {
        max-width: ~"calc(100% - @{width__uncannyValley})";
    }

    ._mobile_
    & {
        max-width: 100%;
    }
}

.height__mainColumn {
    top: @height__menu;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    ._mobile_
    & {
        height: ~"calc(100% - @{height__lyricCollapsed} - @{height__menu})";
    }

    .PopupOverlaid
    &,
    ._desktop_
    &,
    ._lyricHeightless_
    & {
        height: ~"calc(100% - @{height__menu})";
    }
}