.whiteDarkest { fill: hsl(0, 0%, 57%); }
// .whiteDarker { fill: hsl(0, 0%, 62%); }
.whiteDark { fill: hsl(0, 0%, 67%); }
.whiteMediumDark { fill: hsl(0, 0%, 72%); }
.whiteMedium { fill: hsl(0, 0%, 77%); }
.whiteMediumLight { fill: hsl(0, 0%, 82%); }
.whiteLight { fill: hsl(0, 0%, 87%); }
// .whiteLighter { fill: hsl(0, 0%, 92%); }
// .whiteLightest { fill: hsl(0, 0%, 97%); }

.darkenDefault .darken#{$suffix} {
    .whiteMedium { fill: hsl(0, 0%, 44%); }
    .whiteMediumLight { fill: hsl(0, 0%, 46%); }
    .whiteLight { fill: hsl(0, 0%, 49%); }
}