.robitussin#{$suffix} {
    .labelWhiteMedium { fill: hsl(97, 24%, 85%); }
    .labelWhiteLight { fill: hsl(95, 35%, 89%); }
    .labelText { fill: hsl(38, 26%, 71%); }
    .labelLightGreen { fill: hsl(119, 69%, 77%); }
    .labelDarkPurple { fill: hsl(262, 34%, 62%); }
    .labelDarkGreen { fill: hsl(123, 23%, 53%); }
    .labelBlack { fill: hsl(37, 11%, 23%); }
    .labelLightPurple { fill: hsl(262, 69%, 77%); }

}