.wedding#{$suffix} {
    .tableDark { fill: hsl(30, 32%, 56%); }
    .tableLight { fill: hsl(30, 32%, 64%); }
    .curtainFlap { fill: hsl(351, 27%, 43%); }
    .curtain { fill: hsl(351, 27%, 49%); }
    .canopyDark { fill: hsl(13, 27%, 49%); }
    .canopyLight { fill: hsl(13, 27%, 54%); }
    .rose { fill: hsl(60, 42%, 62%); }
}
