@each $dotLetter in $dotLettersArray {

    // "Root selected dot letter, child unit dot letter."
    .RsD#{$dotLetter} .CuD#{$dotLetter} {

        max-width: inherit;
        margin-top: $margin__lyricUnit;

        opacity: 1;

        &:not(:first-child) {
            margin-left: $marginX__stanzaChildColumn;
        }

        &.UnitDot__lastStanza {
            max-height: inherit;
        }
    }
}
