@import '../../../../scss/constants/icon';
@import '../../../../scss/constants/transition';

.UnitDot {
    flex-direction: column-reverse;

    padding-bottom: $MARGIN_THIN;

    max-width: 0;
    margin-top: 0;

    &:not(:first-child) {
        margin-left: 0;
    }

    opacity: 0;

    .DW__userAgentDesktop
    & {
        transition:
            opacity $transitionDuration__default,
            max-width $transitionDuration__default,
            max-height $transitionDuration__default,
            margin-top $transitionDuration__default,
            margin-left $transitionDuration__default;
    }
}
