.ButtonIcon__about {
    .primaryDark { fill: hsl(30, 22%, 45%); }
    .primaryLight { fill: hsl(30, 30%, 57%); }
    .secondaryDark { fill: hsl(225, 20%, 35%); }
    .sclera { fill: hsl(225, 20%, 90%); }
}