.ButtonIcon__about {
    .eyeDark { fill: hsl(225, 20%, 20%); }
    .eyeLight { fill: hsl(225, 20%, 90%); }
    .hoof { fill: hsl(225, 20%, 30%); }
    .letter { fill: hsl(30, 22%, 49%); }
    .head { fill: hsl(30, 30%, 57%); }
    .snout { fill: hsl(30, 22%, 45%); }
    .ear { fill: hsl(29, 22%, 50%); }
}