// TODO: This is getting unwieldy...
@import '../../../../scss/constants/icon';
@import '../../../../scss/constants/popup';
@import '../../../../scss/constants/zIndex';

$offset__popupButton: 0.75;

.PopupViewButton {
    position: absolute;
    z-index: $zIndex__popupButton;
}

.PopupViewButton__close {

    .DW__desktopWidth
    & {
        // Top left corner.
        top: -$LENGTH_ICON_LARGE * $offset__popupButton;
        left: -$LENGTH_ICON_LARGE * $offset__popupButton;
    }
    .DW__tabletWidth
    & {
        // Top left corner.
        top: -$LENGTH_ICON_LARGE_TABLET * $offset__popupButton;
        left: -$LENGTH_ICON_LARGE_TABLET * $offset__popupButton;
    }

    .DW__miniWidth
    & {

        // Top left corner.
        top: -$LENGTH_ICON_LARGE_MINI * $offset__popupButton;
        left: -$LENGTH_ICON_LARGE_MINI * $offset__popupButton;
    }

    .DW__phoneWidth
    & {

        &.PopupViewButton__inCardSize {

            // If card size, don't show close button at all in phone.
            display: none;
        }
    }
}

.PopupViewButton__closeFullWidth {

    .DW__miniWidth
    & {
        top: -$LENGTH_ICON_LARGE_MINI + $margin__thick;
    }

    .DW__phoneWidth
    & {
        top: -$LENGTH_ICON + $margin__thick;
    }

    .DW__miniWidth
    &,
    .DW__phoneWidth
    & {
        left: 10%;
    }
}

.PopupViewButton__side {
        
    .DW__desktopWidth
    & {
        // Buttons on top so they don't shift regardless of content height.
        top: $LENGTH_ICON_LARGE * $offset__popupButton;
    }

    .DW__tabletWidth
    &.PopupViewButton__notInOverlay {
        // Buttons on bottom so they don't shift regardless of content height.
        bottom: -$LENGTH_ICON_LARGE_TABLET * $offset__popupButton;
    }

    .DW__miniWidth
    &.PopupViewButton__notInOverlay {
        bottom: -$LENGTH_ICON_LARGE_MINI * $offset__popupButton;
    }

    .DW__tabletWidth
    &.PopupViewButton__displaysInOverlay {
        top: calc(50% - #{$LENGTH_ICON_LARGE_TABLET} * 0.5);
    }

    .DW__miniWidth
    &.PopupViewButton__displaysInOverlay {
        top: calc(50% - #{$LENGTH_ICON_LARGE_MINI} * 0.5);
    }

    .DW__phoneWidth
    & {
        bottom: -$LENGTH_ICON * $offset__popupButton;
    }
}

.PopupViewButton__previous {

    .DW__desktopWidth
    & {
        left: -$LENGTH_ICON_LARGE * $offset__popupButton;
    }

    .DW__tabletWidth
    & {
        left: -$LENGTH_ICON_LARGE_TABLET * $offset__popupButton;
    }

    .DW__miniWidth
    & {
        left: -$LENGTH_ICON_LARGE_MINI * $offset__popupButton;
    }

    .DW__phoneWidth
    &,
    .DW__mobileWidth
    &.PopupViewButton__notInOverlay {
        left: 10%;
    }
}

.PopupViewButton__next {

    .DW__desktopWidth
    & {
        right: -$LENGTH_ICON_LARGE * $offset__popupButton;
    }

    .DW__tabletWidth
    & {
        right: -$LENGTH_ICON_LARGE_TABLET * $offset__popupButton;
    }

    .DW__miniWidth
    & {
        right: -$LENGTH_ICON_LARGE_MINI * $offset__popupButton;
    }

    .DW__phoneWidth
    &,
    .DW__mobileWidth
    &.PopupViewButton__notInOverlay {
        right: 10%;
    }
}
