.Overview {
    overflow: auto;
}

.Overview__toggleFloatContainer {

    position: relative;
    margin-right: 10px;
    float: left;

    .RM__tablet
    & {
        width: @width__overviewToggle__tablet;
        height: @height__overviewToggle__tablet;
    }

    .RM__mini
    & {
        width: @width__overviewToggle__mini;
        height: @height__overviewToggle__mini;
    }

    .RM__phone
    & {
        width: @width___overviewToggle__phone;
        height: @height___overviewToggle__phone;
    }
}
