@margin__overview: 5px;

.OverviewToggle {

    // ._desktop_
    // &,
    // ._phone_
    // & {
    //     // Give some room to menu above.
    //     margin-top: @margin__overview;
    // }

    // ._mobileNotPhone_
    // & {
    //     // Give room to carousel horizontal scrollbar.
    //     margin-bottom: @margin__scrollbar;
    // }

    ._tablet_
    & {
        height: @height__overviewToggle__tablet;
    }

    ._mini_
    & {
        height: @height__overviewToggle__mini;
    }

    ._phone_
    & {
        height: @height___overviewToggle__phone;
    }
}

.OverviewToggle {
    position: relative;

    width: 100%;
    height: @height__overviewToggle;

    // Ensure toggle button is above its popup container and the carousel.
    z-index: @zIndex__centreFieldChild;

    ._laptop_
    & {
        height: @height__overviewToggle__laptop;
    }
}