.Overview__toggleFloatContainer {
    position: relative;
    margin-right: 10px;
    float: left;

    .DW__tabletWidth
    & {
        width: $width__overviewToggle__tablet;
        height: $height__overviewToggle__tablet;
    }

    .DW__miniWidth
    & {
        width: $width__overviewToggle__mini;
        height: $height__overviewToggle__mini;
    }

    .DW__phoneWidth
    & {
        width: $width__overviewToggle__phone;
        height: $height__overviewToggle__phone;
    }
}

.Overview__toggleInOverview {
    // When toggle is in overview, force minimum height to be toggle height.

    min-height: $height__overviewToggle;

    .DW__tabletWidth
    & {
        min-height: $height__overviewToggle__tablet;
    }

    .DW__miniWidth
    & {
        min-height: $height__overviewToggle__mini;
    }

    .DW__phoneWidth
    & {
        min-height: $height__overviewToggle__phone;
    }
}