@use 'sass:math';
@import '../../../../../scss/constants/icon';
@import '../../../../../scss/constants/responsive';
@import '../../../../../scss/constants/transition';

.NavButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;

    .NavColumn__hidden
    .NavBookSongs
    & {
        width: 0;
        height: 0;
    }

    .DW__userAgentDesktop
    .Nav__showSingleBook
    & {
        transition:
            width $transitionDuration__default,
            margin $transitionDuration__default;
    }

    .RW__navIconStatic
    & {
        width: $LENGTH_ICON;
        height: $LENGTH_ICON;
    }

    .RW__navIconShrunk
    .NavColumn__shown.NavColumn__left
    & {
        &:not(:last-child) {
            margin-right: 1px;
        }
    }

    .RW__navIconShrunk
    .NavColumn__shown.NavColumn__right
    & {
        &:not(:last-child) {
            margin-left: 1px;
        }
    }
}

[class*=Button__nav] {
    width: 100%;
    height: 100%;
}

[class*=ButtonCharacter__nav] {
    padding-bottom: 15%;
}

[class*=ButtonTitle__nav] {
    left: auto;
    top: $height__schwa__stickers;
    opacity: 0;

    .DW__userAgentDesktop
    & {
        transition:
            top $transitionDuration__default,
            opacity $transitionDuration__default;
    }

    .DW__mobileWidth
    & {
        top: -$height__schwa__stickers;
    }

    .ShW__navExpanded
    & {
        top: 0;
        opacity: 1;
    }
}

[class*=ButtonTitleText__nav] {
    float: left;
    padding-left: math.div($margin__thick, 2);
    transform: rotate(270deg);
    transform-origin: left top 0;

    .DW__mobileWidth
    & {
        padding-left: $margin__thick;
        transform: rotate(90deg);
        transform-origin: left bottom 0;
    }
}