.TextAnchor__plainText {
    position: relative;

    // Specific selector to override.
    .TW__sliderMoving
    .Anchor
    & {
        display: inline;
    }
}

.TextAnchor__linkText {
    position: relative;
    display: none;

    // Override defaults.
    text-indent: 0;
    padding: 0;
    line-height: 125%;
    direction: ltr;

    .DW__higherProcessor
    & {
        transition:
            color $animationDuration__fast,
            visibility $animationDuration__fast;
    }

    // "Root accessed letter Enter, child accessed letter Enter."
    .PaLEnter
    .CaLEnter
    &.TextAnchor__linkText__accessed {
        /**
        * Overly specific selectors are needed to override default link text
        * styling in cursored verse, which also has the !important flag. This
        * is unfortunate, but unavoidable.
        */
        color: $colour__accessedLinkActive !important;
    }

    // Specific selector to override.
    .TW__sliderMoving
    .Anchor
    & {
        display: none;
    }
}
