.TimeOfDay__stage { background-color: none; }
.TimeOfDay__twilight { background-color: hsl(263, 49%, 21%); }
.TimeOfDay__dawn { background-color: hsl(243, 49%, 76%); }
.TimeOfDay__morning { background-color: hsl(223, 49%, 92%); }
.TimeOfDay__noon { background-color: hsl(199, 42%, 87%); }
.TimeOfDay__afternoon { background-color: hsl(227, 100%, 85%); }
.TimeOfDay__evening { background-color: hsl(223, 49%, 60%); }
.TimeOfDay__night { background-color: hsl(243, 49%, 29%); }

.Season__spring { background-color: hsl(240, 100%, 93%); }
.Season__summer { background-color: hsl(240, 100%, 97%); }
.Season__autumn { background-color: hsl(240, 50%, 87%); }
.Season__winter { background-color: hsl(240, 33%, 80%); }

.Season__past { background-color: hsl(36, 56%, 70%); }
.Season__present { background-color: hsl(30, 12%, 87%); }
.Season__future { background-color: hsl(276, 56%, 70%); }

.Season__stage { background-color: hsl(324, 56%, 70%); }
.Season__love { background-color: hsl(324, 56%, 70%); }
.Season__nightMagic { background-color: hsl(156, 56%, 70%); }
.Season__ocean { background-color: hsl(206, 78%, 70%); }
.Season__thought { background-color: hsl(0, 14%, 23%); }
