.TimeOfDay__stage { background: none; }
.TimeOfDay__twilight {
    background: linear-gradient(
        hsl(232, 40%, 22%),
        hsl(18, 40%, 46%)
    );
}
.TimeOfDay__dawn {
    background: linear-gradient(
        hsl(215, 50%, 61%),
        hsl(36, 40%, 86%),
    );
}
.TimeOfDay__morning {
    background: linear-gradient(
        hsl(200, 65%, 67%),
        hsl(190, 40%, 87%)
    );
}
.TimeOfDay__noon {
    background: linear-gradient(
        hsl(192, 75%, 70%),
        hsl(182, 55%, 90%)
    );
}
.TimeOfDay__afternoon {
    background: linear-gradient(
        hsl(203, 75%, 67%),
        hsl(155, 55%, 87%),
    );
}
.TimeOfDay__evening {
    background: linear-gradient(
        hsl(213, 55%, 50%),
        hsl(5, 50%, 65%)
    );
}
.TimeOfDay__night {
    background: linear-gradient(
        hsl(223, 35%, 7%),
        hsl(203, 35%, 12%)
    );
}

.TimeOfDay__twilightTaiwan {
    background: linear-gradient(
        hsl(176, 40%, 22%),
        hsl(336, 40%, 46%)
    );
}
.TimeOfDay__nightTaiwan {
    background: linear-gradient(
        hsl(170, 35%, 10%),
        hsl(136, 38%, 17%)
    );
}

.Season__spring { background-color: hsla(225, 65%, 60%, 0.2); }
.Season__summer { background-color: hsla(215, 70%, 70%, 0.2); }
.Season__autumn { background-color: hsla(225, 50%, 65%, 0.2); }
.Season__winter { background-color: hsla(235, 25%, 35%, 0.2); }

// Prologue, Epilogue
.Season__stage {
    background: linear-gradient(
        hsl(12, 24%, 43%),
        hsl(50, 56%, 73%)
    );
}

// Didi, Uncanny
.Season__past {
    background: linear-gradient(
        hsl(36, 56%, 70%),
        hsl(50, 56%, 90%)
    );
}

// Uncanny
.Season__present {
    background: linear-gradient(
        hsl(156, 56%, 70%),
        hsl(50, 56%, 95%)
    );
}

// Pchelka, Uncanny
.Season__future {
    background: linear-gradient(
        hsl(276, 46%, 70%),
        hsl(50, 56%, 90%)
    );
}

// Grasshoppers, Vegan
.Season__love {
    background: linear-gradient(
        hsl(334, 56%, 60%),
        hsl(50, 56%, 90%)
    );
}

// Pchelka
.Season__nightMagic {
    background: linear-gradient(
        hsl(125, 35%, 7%),
        hsl(125, 35%, 25%)
    );
}

// Odin
.Season__oceanTop {
    background: linear-gradient(
        hsl(206, 78%, 50%),
        hsl(50, 56%, 90%)
    );
}
.Season__oceanSide {
    background: linear-gradient(
        hsl(206, 78%, 50%),
        hsl(50, 56%, 90%)
    );
}

// Sasha, Ash, Constellations, Golden, Cremated, Dream
.Season__thought {
    background: linear-gradient(
        hsl(0, 24%, 23%),
        hsl(330, 14%, 45%)
    );
}
