.Season__indoor { background-color: hsl(0, 0%, 27%); }
.Season__spring { background-color: hsl(240, 100%, 93%); }
.Season__summer { background-color: hsl(240, 100%, 97%); }
.Season__autumn { background-color: hsl(240, 50%, 87%); }
.Season__winter { background-color: hsl(240, 33%, 80%); }
.Season__past { background-color: hsl(36, 56%, 70%); }
.Season__present { background-color: hsl(84, 56%, 70%); }
.Season__future { background-color: hsl(276, 56%, 70%); }
.Season__love { background-color: hsl(324, 56%, 70%); }
.Season__magic { background-color: hsl(156, 56%, 70%); }
.Season__ocean { background-color: hsl(206, 78%, 70%); }
.Season__thought { background-color: hsl(0, 14%, 23%); }

.TimeOfDay__anytime { background-color: none; }
.TimeOfDay__dawn { background-color: hsla(60, 33%, 29%, 0.05); }
.TimeOfDay__morning { background-color: hsla(60, 33%, 29%, 0.05); }
.TimeOfDay__noon { background-color: hsla(60, 33%, 29%, 0.05); }
.TimeOfDay__afternoon { background-color: hsla(60, 33%, 29%, 0.05); }
.TimeOfDay__evening { background-color: hsla(60, 33%, 29%, 0.05); }
.TimeOfDay__night { background-color: hsla(60, 33%, 29%, 0.05); }
