.wine#{$suffix} {
    .wineBottleSide { fill: hsla(161, 19%, 64%, 0.6); }
    .wineBottleBottom { fill: hsla(161, 14%, 58%, 0.3); }
    .wineLabel { fill: hsl(235, 24%, 59%); }
    .wineLabelReverse { fill: hsl(235, 33%, 81%); }
}