.miriam#{$suffix} {
    .miriamJacket { fill: hsl(203, 29%, 56%); }
    .miriamDressInner { fill: hsl(62, 56%, 66%); }
    .miriamDress { fill: hsl(62, 56%, 74%); }
    .miriamPantyhoseDense { fill: hsl(21, 12%, 56%); }
    .miriamPantyhose { fill: hsl(21, 21%, 68%); }
    .miriamShoe { fill: hsl(4, 23%, 53%); }

    .miriamNightie { fill: hsl(193, 47%, 72%); }
    .miriamNightieLace { fill: hsl(193, 30%, 79%); }
    .miriamUnderwear { fill: hsl(56, 31%, 74%); }
    .miriamWaistband { fill: hsl(55, 29%, 85%); }

    &.gopi {
        .sari { fill: hsl(59, 49%, 71%); }
    }

    &.perfuming {
        .bottleSide { fill: hsl(328, 52%, 66%); }
        .bottleTop { fill: hsl(328, 60%, 69%); }
        .capSide { fill: hsl(200, 26%, 66%); }
        .capTop { fill: hsl(200, 32%, 71%); }
        .tipSide { fill: hsl(201, 23%, 83%); }
        .tipTop { fill: hsl(202, 35%, 88%); }
    }

    &.tennis {
        .bikiniTop { fill: hsl(56, 50%, 72%); }
        .shorts { fill: hsl(205, 31%, 63%); }
        .shoe { fill: hsl(190, 22%, 56%); }

        .racketGrip { fill: hsl(173, 11%, 55%); }
        .racketStrings { fill: hsl(72, 21%, 81%); }
        .tennisRacket { fill: hsl(72, 42%, 65%); }
    }
}