.bennettPresent#{$suffix} {
    .bennettJacket { fill: hsl($hue__present, 10%, 38%); }
    .bennettSleeves { fill: hsl($hue__present, 37%, 52%); }
    .bennettUnderwear { fill: hsl($hue__present, 39%, 61%); }
    .bennettWaistband { fill: hsl($hue__present, 47%, 72%); }
    .bennettJeans { fill: hsl($hue__present, 27%, 47%); }
    .bennettShoe { fill: hsl($hue__present, 11%, 41%); }
}