.dullRedDarker { fill: hsl(0, 20%, 42%); }
.dullRedDark { fill: hsl(0, 20%, 47%); }

.dullAmberMedium { fill: hsl(45, 20%, 57%); }

.dullYellowDark { fill: hsl(60, 20%, 47%); }

.dullGreenDarker { fill: hsl(120, 20%, 42%); }

.dullTurquoiseDark { fill: hsl(150, 20%, 47%); }
.dullTurquoiseMedium { fill: hsl(150, 20%, 57%); }
.dullTurquoiseLight { fill: hsl(150, 20%, 67%); }

.dullBlueDarker { fill: hsl(210, 20%, 42%); }
.dullBlueDark { fill: hsl(210, 20%, 47%); }
.dullBlueMedium { fill: hsl(210, 20%, 57%); }

.dullPurpleDarker { fill: hsl(270, 20%, 42%); }

.dullMagentaDarker { fill: hsl(330, 20%, 42%); }
.dullMagentaDark { fill: hsl(330, 20%, 47%); }