.dull#{$suffix} {
    .dullBlueDarker { fill: hsl(210, 20%, 42%); }

    .dullGreenDarker { fill: hsl(120, 20%, 42%); }

    .dullRedDarker { fill: hsl(0, 20%, 42%); }
    .dullRedDark { fill: hsl(0, 20%, 47%); }

    .dullPurpleDarker { fill: hsl(270, 20%, 42%); }
}