.brass#{$suffix} {
    .brassDarkest { fill: hsl(61, 15%, 37%); }
    // .brassDarker { fill: hsl(61, 15%, 42%); }
    .brassDark { fill: hsl(61, 15%, 47%); }
    .brassMediumDark { fill: hsl(61, 15%, 52%); }
    .brassMedium { fill: hsl(61, 15%, 57%); }
    // .brassMediumLight { fill: hsl(61, 15%, 62%); }
    .brassLight { fill: hsl(61, 15%, 67%); }
}
