.brass#{$suffix} {
    .brassDarkest { fill: hsl(65, 13%, 37%); }
    // .brassDarker { fill: hsl(65, 13%, 42%); }
    .brassDark { fill: hsl(65, 13%, 47%); }
    .brassMediumDark { fill: hsl(65, 13%, 52%); }
    .brassMedium { fill: hsl(65, 13%, 57%); }
    // .brassMediumLight { fill: hsl(65, 13%, 62%); }
    .brassLight { fill: hsl(65, 13%, 67%); }
}
