.allPeople#{$suffix} {
    .ashedCross { fill: hsla(9, 5%, 48%, 0.75); }
    .eyeBlob { fill: hsl(0, 0%, 27%); }
    .mouthBlob { fill: hsl(0, 0%, 27%); }
    .sclera { fill: hsl(216, 16%, 94%); }
    .pupil { fill: hsla(0, 0%, 0%, 0.5); }
    .irisBrown { fill: hsl(42, 30%, 45%); }
    .irisGreen { fill: hsl(104, 30%, 45%); }
    .irisHazel { fill: hsl(71, 30%, 45%); }
    .irisAmber { fill: hsl(36, 30%, 45%); }
    .irisBlue { fill: hsl(204, 30%, 45%); }
    .irisDarkBrown { fill: hsl(36, 30%, 45%); }
    .gum { fill: hsl(6, 37%, 63%); }
    .lip { fill: hsl(4, 52%, 73%); }
    [class^=lipFemaleLight] { fill: hsla(1, 24%, 61%, 0.4); }
    [class^=lipFemaleMedium] { fill: hsla(1, 22%, 51%, 0.5); }
    [class^=lipFemaleBrown] { fill: hsla(2, 15%, 48%, 0.5); }
    [class^=lipFemaleDark] { fill: hsla(2, 15%, 41%, 0.6); }
    .lipMaleLight__noStroke { fill: hsla(1, 24%, 61%, 0.2); }
    .lipMaleMedium__noStroke { fill: hsla(1, 17%, 54%, 0.3); }
    .lipMaleBrown__noStroke { fill: hsla(2, 15%, 48%, 0.3); }
    .lipMaleDark__noStroke { fill: hsla(2, 15%, 41%, 0.4); }
    .teeth { fill: hsl(40, 17%, 89%); }
    .tongue { fill: hsl(350, 33%, 63%); }
    .mouthInner { fill: hsl(4, 31%, 44%); }

    .skinAnimal { fill: hsl(29, 55%, 80%); }
    .skinNordic { fill: hsl(21, 48%, 83%); }
    .skinGallic { fill: hsl(19, 46%, 75%); }
    .skinAshkenazi { fill: hsl(22, 46%, 72%); }
    .skinMestizo { fill: hsl(26, 45%, 70%); }
    .skinHapa { fill: hsl(29, 45%, 70%); }
    .skinEastAsian { fill: hsl(32, 45%, 67%); }
    .skinLatino { fill: hsl(20, 47%, 63%); }
    .skinFilipino { fill: hsl(24, 42%, 59%); }
    .skinIndian { fill: hsl(22, 32%, 50%); }
    .skinBlack { fill: hsl(28, 29%, 45%); }
    
    .eyebrowBlonde, .hairBlonde { fill: hsl(41, 48%, 72%); }
    .eyebrowSandy, .hairSandy { fill: hsl(32, 37%, 61%); }
    .eyebrowRed, .hairRed { fill: hsl(21, 56%, 40%); }
    .eyebrowDyedRed, .hairDyedRed { fill: hsl(355, 42%, 52%); }
    .eyebrowLightBrown, .hairLightBrown { fill: hsl(19, 18%, 55%); }
    .eyebrowMediumBrown, .hairMediumBrown { fill: hsl(23, 32%, 39%); }
    .eyebrowDarkBrown, .hairDarkBrown { fill: hsl(19, 23%, 32%); }
    .eyebrowLightGray, .hairLightGray { fill: hsl(60, 1%, 61%); }
    .eyebrowDarkGray, .hairDarkGray { fill: hsl(26, 1%, 32%); }
    .eyebrowBlack, .hairBlack { fill: hsl(26, 7%, 25%); }
    .eyebrowBlackDark, .hairBlackDark { fill: hsl(26, 7%, 22%); }
    
    .stubbleBlonde { fill: hsl(33, 41%, 77%); }
    .stubbleBlack { fill: hsl(33, 16%, 44%); }

    .nippleEastAsian { fill: hsl(16, 26%, 49%); }
    .nippleWhite { fill: hsl(16, 26%, 59%); }
}