.lizFuture#{$suffix} {
    .lizShirt { fill: hsl($HUE_FUTURE, 28%, 57%); }
    .lizShirtCollar { fill: hsl($HUE_FUTURE, 32%, 62%); }
    .lizJeans { fill: hsl($HUE_FUTURE, 12%, 54%); }
    .lizJeansCuff { fill: hsl($HUE_FUTURE, 14%, 62%); }
    .lizShoe { fill: hsl($HUE_FUTURE, 18%, 48%); }
}