.sasha#{$suffix} {
    .sashaHairTie { fill: hsl(102, 41%, 57%); }
    .sashaShirt { fill: hsl(187, 40%, 78%); }
    .birthrightLight { fill: hsl(197, 32%, 55%); }
    .birthrightDark { fill: hsl(215, 32%, 38%); }

    .sashaPants { fill: hsl(44, 27%, 59%); }
    .sashaSock { fill: hsl(102, 27%, 65%); }
    .sashaShoe { fill: hsl(184, 7%, 48%); }

    &.mermaid {
        .bikiniShell { fill: hsl(325, 34%, 62%); }
        .bikiniStrap { fill: hsl(325, 35%, 67%); }
        .tail { fill: hsl(180, 35%, 53%); }
        .tailLining { fill: hsl(180, 39%, 64%); }
    }

    &.popularGirl {
        .sweater { fill: hsl(32, 56%, 58%); }
        .shorts { fill: hsl(207, 27%, 56%); }
        .shortsInner { fill: hsl(207, 37%, 63%); }
        .shoe { fill: hsl(208, 27%, 60%); }
        .shoeStripe { fill: hsl(208, 19%, 52%); }
    }
}