$height__proscenium__horizontal: 7.5%;
$width__proscenium__vertical: 5%;

$overlap__proscenium__horizontal:0%;
$overlap__proscenium__vertical: 0%;

$offset__proscenium__horizontal:
    $overlap__proscenium__horizontal
    - $height__proscenium__horizontal;

$offset__proscenium__vertical:
    $overlap__proscenium__vertical
    - $width__proscenium__vertical;

.Proscenium__child {
    position: absolute;
    top: $offset__proscenium__horizontal;
}

.Proscenium__horizontal {
    left: $offset__proscenium__vertical;
    width:
        100%
        - $offset__proscenium__vertical * 2;
    height: $height__proscenium__horizontal;
}

.Proscenium__vertical {
    height:
        100%
        - $offset__proscenium__horizontal;
    width: $width__proscenium__vertical;
    background-color: rgba(150, 150, 100, 0.9);
}

.Proscenium__top {
    background-color: rgba(100, 150, 150, 0.9);
}

.Proscenium__pit {
    top: auto;
    bottom: -$height__proscenium__horizontal;
    background-color: rgba(150, 100, 150, 0.9);
}


.Proscenium__left {
    left: $offset__proscenium__vertical;
}

.Proscenium__right {
    right: $offset__proscenium__vertical;
}
