.Proscenium {
    z-index: $zIndex__theatre;
}

.proscenium {
    .stageFront {
        fill: hsl(31, 17%, 41%);
    }

    .stageTop {
        fill: hsl(31, 19%, 52%);
    }

    .prosceniumBottom {
        fill: hsl(47, 32%, 70%);
    }

    .prosceniumSide {
        fill: hsl(47, 26%, 66%);
    }

    .prosceniumFront {
        fill: hsl(47, 21%, 61%);
    }

    .prosceniumInset {
        fill: hsl(47, 18%, 57%);
    }
}