.Proscenium {
    z-index: $zIndex__theatre;
}

.proscenium {
    .stageFront {
        fill: #7a6957;
    }

    .stageTop {
        fill: #9c866f;
    }

    .prosceniumSide {
        fill: #857e65;
    }

    .prosceniumBottom {
        fill: #736d57;
    }

    .prosceniumFront {
        fill: #9c9477;
    }
}

.dramaMasks {
    .mask {
        fill: #c9c2a5;
    }

    .overlapLine {
        fill: none;
        stroke: #444;
    }
}

.Proscenium__rect {
    stroke: rgba(150, 100, 150, 1);
    stroke-width: 1px;
    fill: transparent;
}