@import "./DramaMasks/style";

.Proscenium {
    z-index: $zIndex__theatre;
}

.proscenium {
    .stageFront {
        fill: #7a6957;
    }

    .stageTop {
        fill: #9c866f;
    }

    .prosceniumBottom {
        fill: #ccc19b;
    }

    .prosceniumSide {
        fill: #bfb591;
    }

    .prosceniumFront {
        fill: #b0a786;
    }

    .prosceniumInset {
        fill: #a69d7e;
    }
}