.pharmacyCel {
    .sheetFront { fill: #c9c9c9; }
    .sheetBack { fill: #dbdbdb; }
}

.pharmacyAisle {
    .rackBack { fill: #999; }
    .boxTopFirst { fill: #c69; }
    .labelTopFirst { fill: #7b99af; }
    .bottleTopSecond { fill: #c96; }
    .labelTopSecond { fill: #50a57a; }
    .boxTopThird { fill: #cc6; }
    .labelTopThird { fill: #ccb06a; }
    .boxTopFourth { fill: #6c6; }
    .labelTopFourth { fill: #a57c5d; }
    .boxTopFifth { fill: #6cc; }
    .labelTopFifth { fill: #dd9ec8; }
    .boxTopMiddleFirst { fill: #96c; }
    .labelTopMiddleFirst { fill: #a493cc; }
    .capTopMiddleSecond { fill: #29abe2; }
    .boxTopMiddleSecond { fill: #c99; }
    .labelTopMiddleSecond { fill: #81b6d3; }
    .bottleTopMiddleThird { fill: #a67c52; }
    .capTopMiddleThird { fill: #00a99d; }
    .boxTopMiddleThird { fill: #52a088; }
    .labelTopMiddleThird { fill: #cc9; }
    .boxTopMiddleFourth { fill: #9c9; }
    .labelTopMiddleFourth { fill: #52a35f; }
    .boxMiddleFirst { fill: #69c; }
    .labelMiddleFirst { fill: #afc18b; }
    .capMiddleSecond { fill: #ed1e79; }
    .boxMiddleSecond { fill: #d5d8a3; }
    .labelMiddleSecond { fill: #99c; }
    .bottleMiddleThird { fill: #c69c6d; }
    .capMiddleThird { fill: #22b573; }
    .boxMiddleThird { fill: #c9c; }
    .boxMiddleFourth { fill: #cc6698; }
    .labelMiddleFourth { fill: #9ad8e2; }
    .boxMiddleFifth { fill: #cc9965; }
    .labelMiddleFifth { fill: #8ab7a2; }
    .capBottomMiddleFirst { fill: #fbb03b; }
    .boxBottomMiddleFirst { fill: #afbf9d; }
    .labelBottomMiddleFirst { fill: #cccc65; }
    .boxBottomMiddleSecond { fill: #66cc65; }
    .labelBottomMiddleSecond { fill: #ddccb1; }
    .capBottomMiddleThird { fill: #8cc63f; }
    .boxBottomMiddleThird { fill: #66cccb; }
    .labelBottomMiddleThird { fill: #e89ac8; }
    .capBottomMiddleFourth { fill: #e6e6e6; }
    .boxBottomMiddleFourth { fill: #8cb4e0; }
    .labelBottomMiddleFourth { fill: #9966cb; }
    .boxBottomFirst { fill: #cc9998; }
    .labelBottomFirst { fill: #8cdae5; }
    .boxBottomSecond { fill: #cccc98; }
    .labelBottomSecond { fill: #524a70; }
    .capBottomThird { fill: #ccc; }
    .boxBottomThird { fill: #729dc1; }
    .labelBottomThird { fill: #99cc98; }
    .boxBottomFourth { fill: #6699cb; }
    .labelBottomFourth { fill: #6fa5a4; }
    .shelf { fill: #996; }
    .rackFront { fill: #663; }
}
