.oaklandHouseLeft#{$suffix} {
    .wallSide { fill: hsl(30, 19%, 50%); }
    .wallFront { fill: hsl(30, 25%, 56%); }
}

.oaklandHouseRight#{$suffix} {
    .wallSide { fill: hsl(210, 19%, 50%); }
    .wallFront { fill: hsl(210, 25%, 56%); }
}