.promisePhoto#{$suffix} {
    .frameDark { fill: hsl(88, 15%, 52%); }
    .frameMedium { fill: hsl(88, 19%, 57%); }
    .frameLight { fill: hsl(87, 23%, 62%); }
    .frameLighter { fill: hsl(88, 28%, 67%); }
    .frameLightest { fill: hsl(89, 35%, 72%); }
    .background { fill: hsl(256, 42%, 81%); }
    .lotusRear { fill: hsl(296, 45%, 66%); }
    .lotusFront { fill: hsl(296, 69%, 75%); }
}