.preteenFurniture#{$suffix} {
    .frameDarker { fill: hsl(33, 14%, 39%); }
    .frameMedium { fill: hsl(35, 19%, 47%); }
    .frameLight { fill: hsl(38, 22%, 52%); }
    .frameDark { fill: hsl(31, 14%, 44%); }
    .drawerDark { fill: hsl(42, 20%, 60%); }
    .drawerMedium { fill: hsl(43, 27%, 67%); }
    .drawerLight { fill: hsl(41, 40%, 75%); }
    .mount { fill: hsl(74, 11%, 61%); }
    .handle { fill: hsl(74, 23%, 78%); }
    .ball { fill: hsl(39, 6%, 49%); }
}
