.lizLinens#{$suffix} {
    .cushion { fill: hsl($HUE_LIZ_LINENS, 11%, 46%); }
    .pillowSurface { fill: hsl($HUE_LIZ_LINENS, 8%, 39%); }
    .pillowEdge { fill: hsl($HUE_LIZ_LINENS, 10%, 34%); }
    .skirt { fill: hsl($HUE_LIZ_LINENS, 11%, 32%); }

    .boyfriendPillow { fill: hsl($HUE_LIZ_LINENS - 35, 32%, 62%); }
    .lizPillow { fill: hsl($HUE_LIZ_LINENS + 15, 27%, 59%); }
    .lizBlanket { fill: hsl($HUE_LIZ_LINENS, 25%, 60%); }

    .darkenDefault &.darken#{$suffix} {
        .cushion { fill: hsl($HUE_LIZ_LINENS, 6%, 28%); }
        .pillowSurface { fill: hsl($HUE_LIZ_LINENS, 4%, 25%); }
        .pillowEdge { fill: hsl($HUE_LIZ_LINENS, 5%, 22%); }
        .skirt { fill: hsl($HUE_LIZ_LINENS, 6%, 21%); }

        .boyfriendPillow { fill: hsl($HUE_LIZ_LINENS - 35, 15%, 36%); }
        .lizPillow { fill: hsl($HUE_LIZ_LINENS + 15, 15%, 36%); }
    }
}
