.taiwanLinens#{$suffix} {
    .welt { fill: hsl(62, 32%, 54%); }
    .cushion { fill: hsl($hue__taiwan__linens + 10, 39%, 54%); }
    .taiwanBlanket { fill: hsl($hue__taiwan__linens, 40%, 61%); }
    .taiwanBlanketInner { fill: hsl($hue__taiwan__linens, 40%, 53%); }
}
