/**
 * Overview popup styling is somewhat different from the others, because it is
 * not positioned absolute.
 */

.OverviewPopup {
    margin-left: $js__margin__thick;

    .DW__mobileWidth
    .Main
    & {
        margin-right: $js__margin__thin;
    }

    .DW__phoneWidth
    .Main
    & {
        margin-left: $js__margin__thin;
    }
}

.OverviewPopupView {
    // Needed to prevent closing upon popup click.
    z-index: $zIndex__centreFieldChild;
    max-width: 480px; // Arbitrary.
}

.OverviewPopupViewContent {
    border-radius: 30px;
}