.OverviewPopup {

    .DW__mobileWidth
    .LyricOverview
    & {
        margin-left: $js__margin__thin;
        margin-right: $js__margin__thin;
    }

    .Main
    & {
        margin-left: $js__margin__thick;

        .DW__mobileWidth
        & {
            margin-right: $js__margin__thin;
        }

        .DW__phoneWidth
        & {
            margin-left: $js__margin__thin;
        }
    }
}

.OverviewPopupView {
    // Needed to prevent closing upon popup click.
    z-index: $zIndex__centreFieldChild;
    max-width: 480px; // Arbitrary.
}

.OverviewPopupViewContent {
    border-radius: 30px;
}