.OverviewPopup {

    .DW__mobileWidth
    .LyricOverview
    & {
        margin-left: $MARGIN_THIN;
        margin-right: $MARGIN_THIN;
    }

    .RW__lyricHeighted
    .LyricOverview
    & {
        /**
         * These are eyeballed numbers. They ensure that the overview stays
         * above the bottom in logues on mobile.
         */
        .DW__miniOrTabletWidth
        & {
            margin-bottom: 40px;
        }
        .DW__phoneWidth
        & {
            margin-bottom: 80px;
        }
    }

    .Main
    & {
        margin-left: $margin__thick;

        .DW__mobileWidth
        & {
            margin-right: $MARGIN_THIN;
        }

        .DW__phoneWidth
        & {
            margin-left: $MARGIN_THIN;
        }
    }
}

.OverviewPopupView {
    // Needed to prevent closing upon popup click.
    z-index: $zIndex__centreFieldChild;
    max-width: 480px; // Arbitrary.
}

.OverviewPopupViewContent {
    border-radius: 30px;
}