.volkswagen {
    .chassis {
        fill: #363f35;
    }

    .tire {
        fill: #424241;
    }

    .tireInner {
        fill: #3f3f3b;
    }

    .hubcap {
        fill: #969695;
    }

    .hubcapCentre {
        fill: #aaaaa7;
    }

    .handleRecess {
        fill: #b4ba8c;
    }

    .window {
        fill: #8cada2;
    }

    .windowTrim {
        fill: #5a5c38;
    }

    .body {
        fill: #dae56e;
    }

    .bodyBorderLine {
        stroke: #736357;
    }

    .bodySide {
        fill: #e2de6d;
    }

    .headLight {
        fill: #f5f7cb;
    }

    .brakeLight {
        fill: #f46e58;
    }

    .handle {
        fill: #e0dc89;
    }

    .mirrorMount {
        fill: #c9c771;
    }

    .mirror {
        fill: #cec976;
    }
}