.dogsRocket {
    .booster { fill: hsl(16, 43%, 47%); }
    .fin { fill: hsl(16, 48%, 58%); }
    .rocket { fill: hsl(17, 43%, 50%); }
    .checkerRed { fill: hsl(17, 53%, 58%); }
    .suitHindLeg { fill: hsl(60, 13%, 63%); }
    .suitBody { fill: hsl(249, 34%, 65%); }
    .suitFrontLeg { fill: hsl(60, 16%, 69%); }
    .suitInner { fill: hsl(248, 22%, 56%); }
    .head { fill: hsl(43, 27%, 82%); }
    .nose { fill: hsl(53, 8%, 41%); }
    .mouth { fill: hsl(53, 8%, 38%); }
    .tongue { fill: hsl(323, 38%, 65%); }
}

.posterElliottSmith {
    .pants { fill: hsl(270, 8%, 33%); }
}

.posterLeonardCohen {
    .frame { fill: hsl(189, 15%, 26%); }
    .pants { fill: hsl(279, 14%, 23%); }
    .hat { fill: hsl(201, 8%, 57%); }
    .band { fill: hsl(304, 14%, 55%); }
    .shirt { fill: hsl(184, 30%, 70%); }
    .collar { fill: hsl(189, 26%, 64%); }
    .suitInner { fill: hsl(201, 14%, 36%); }
    .cuff { fill: hsl(188, 16%, 54%); }
    .suit { fill: hsl(203, 15%, 48%); }
    .lapel { fill: hsl(185, 11%, 24%); }
    .endPin { fill: hsl(180, 11%, 76%); }
    .guitarTrim { fill: hsl(270, 14%, 80%); }
    .guitarBody { fill: hsl(285, 6%, 27%); }
    .fretboard { fill: hsl(82, 21%, 67%); }
    .bridge { fill: hsl(52, 11%, 40%); }
}

.posterMaraMemento {
    .frame { fill: hsl(0, 17%, 21%); }
    .outline { fill: hsl(28, 15%, 53%); }
    .shirt { fill: hsl(55, 33%, 67%); }
    .collar { fill: hsl(61, 32%, 59%); }
    .photoFrame { fill: hsl(56, 25%, 89%); }
}

.marqueeFrame {
    .frame { fill: hsl(5, 73%, 58%); }
    .bulbOuter { fill: hsl(57, 71%, 58%); }
    .bulbInner { fill: hsl(55, 20%, 87%); }
}

.albumNas {
    .frame { fill: hsl(188, 13%, 48%); }
    .street { fill: hsl(215, 6%, 38%); }
    .buildingNearFront { fill: hsl(0, 28%, 41%); }
    .buildingNearSide { fill: hsl(0, 33%, 33%); }
    .buildingMiddleFront { fill: hsl(0, 28%, 41%); }
    .buildingMiddleSide { fill: hsl(0, 33%, 33%); }
    .buildingRearFront { fill: hsl(0, 28%, 41%); }
    .buildingRearSide { fill: hsl(0, 33%, 33%); }
    .shirt { fill: hsla(22, 64%, 50%, 0.7); }
    .skinBlack { fill: hsla(28, 29%, 50%, 0.7); }
    .hairBlack { fill: hsla(26, 7%, 25%, 0.7); }
}

.posterNirvana {
    .frame { fill: hsl(194, 17%, 45%); }
    .pants { fill: hsl(220, 7%, 25%); }
    .shirt { fill: hsl(169, 18%, 58%); }
    .suitInner { fill: hsl(276, 12%, 47%); }
    .strap { fill: hsl(325, 12%, 38%); }
    .suit { fill: hsl(272, 27%, 64%); }
    .button { fill: hsl(71, 30%, 68%); }
    .lapel { fill: hsl(276, 11%, 48%); }
    .endPin { fill: hsl(176, 8%, 63%); }
    .guitar { fill: hsl(195, 38%, 60%); }
    .bridgeBottom { fill: hsl(177, 8%, 50%); }
    .bridgeTop { fill: hsl(177, 12%, 66%); }
    .pickguard { fill: hsl(179, 54%, 82%); }
    .knob { fill: hsl(176, 18%, 66%); }
    .pickup { fill: hsl(180, 17%, 88%); }
    .fretboard { fill: hsl(43, 22%, 56%); }
    .head { fill: hsl(40, 36%, 79%); }
    .nut { fill: hsl(64, 11%, 73%); }
}

.painting {
    .wall { fill: hsl(240, 33%, 70%); }
    .table { fill: hsl(60, 33%, 30%); }
    .appleRed { fill: hsl(0, 50%, 40%); }
    .pear { fill: hsl(60, 20%, 50%); }
    .orange { fill: hsl(40, 60%, 50%); }
    .banana { fill: hsl(60, 50%, 60%); }
    .bananaDisplayLine { stroke: hsl(30, 42%, 39%); }
    .bowlBase { fill: hsl(180, 50%, 40%); }
    .bowl { fill: hsl(180, 50%, 60%); }
    .grapes { fill: hsl(240, 20%, 50%); }
    .peach { fill: hsl(30, 50%, 60%); }
    .olive { fill: hsl(120, 50%, 60%); }
    .kiwi { fill: hsl(0, 20%, 50%); }
    .appleGreen { fill: hsl(90, 50%, 40%); }
    .frame { fill: hsl(30, 100%, 20%); }
}

.progressChartLate {
    .sheetBottomLeft { fill: hsl(240, 100%, 87%); }
    .sheetBottomRight { fill: hsl(300, 100%, 87%); }
}

.dogsSpaceStation {
    .body { fill: hsl(43, 27%, 82%); }
    .stationTop { fill: hsl(248, 45%, 73%); }
    .stationMiddle { fill: hsl(249, 32%, 66%); }
    .stationBottom { fill: hsl(247, 16%, 49%); }
    .stationInner { fill: hsl(248, 22%, 56%); }
    .stationFloor { fill: hsl(247, 16%, 49%); }
    .trim { fill: hsl(42, 26%, 62%); }
    .panelBottom { fill: hsl(191, 20%, 63%); }
    .panelSide { fill: hsl(191, 15%, 55%); }
    .panelFront { fill: hsl(190, 25%, 68%); }
    .bar { fill: hsl(192, 12%, 48%); }
}

.albumTelevision {
    .background { fill: hsl(203, 43%, 47%); }
    .tomShirt { fill: hsl(0, 7%, 24%); }
    .billyPants { fill: hsl(0, 7%, 24%); }
    .billyShirt { fill: hsl(122, 15%, 48%); }
    .fredPants { fill: hsl(0, 10%, 23%); }
    .fredShirt { fill: hsl(0, 7%, 40%); }
    .fredSuit { fill: hsl(0, 3%, 26%); }
    .richardPants { fill: hsl(0, 32%, 20%); }
    .richardShirt { fill: hsl(0, 35%, 42%); }
    .tomPants { fill: hsl(0, 17%, 15%); }
    .tomVest { fill: hsl(0, 5%, 53%); }
    .frame { fill: hsl(0, 5%, 21%); }
}

.posterTintin {
    .frame { fill: hsl(55, 34%, 70%); }
    .fur { fill: hsl(168, 35%, 86%); }
    .nose { fill: hsl(32, 10%, 29%); }
    .mouth { fill: hsl(30, 14%, 23%); }
    .sock { fill: hsl(27, 23%, 91%); }
    .shoe { fill: hsl(31, 20%, 31%); }
    .coatInner { fill: hsl(32, 11%, 26%); }
    .pants { fill: hsl(321, 14%, 36%); }
    .pantsDisplayLine { stroke: hsl(270, 10%, 27%); }
    .soleBottom { fill: hsl(33, 13%, 17%); }
    .soleFront { fill: hsl(33, 13%, 17%); }
    .soleSide { fill: hsl(30, 10%, 24%); }
    .shirt { fill: hsl(180, 27%, 64%); }
    .collar { fill: hsl(27, 23%, 91%); }
    .coat { fill: hsl(31, 12%, 46%); }
    .lapel { fill: hsl(31, 11%, 45%); }
    .sleeve { fill: hsl(177, 21%, 58%); }
}
