.marqueeFrame {
    .bulbOuter { fill: hsl(60, 33%, 77%); }
    .bulbInner__noStroke { fill: hsl(60, 20%, 87%); }
}

.albumNas {
    .skinBlack { fill: hsla(28, 29%, 50%, 0.7); }
    .hairBlack { fill: hsla(26, 7%, 25%, 0.7); }
}