.AboutChild {
    &:not(:last-child) {
        margin-bottom: 1.25em;
    }
}

.AboutChild__header {
    font-size: 1.5em;
    margin-bottom: 0.25em;
}

.AboutGrandchild {
    display: flex;
    flex-direction: column;
    gap: 1em;
}