.tablet-width {
    .overview-toggle-button-container {
        height: @overview-toggle-tablet-height;
    }

    // Inside overview bubble.
    &.is-logue.heightless-lyric {
        .overview-toggle-section {
            width: @overview-toggle-tablet-width;
            height: @overview-toggle-tablet-height;
        }
    }
}

.mini-width {
    .dots-overview-toggle-section, .carousel-toggle-button-block {
        width: @overview-toggle-mini-width;
    }

    .overview-toggle-button-container {
        height: @overview-toggle-mini-height;
    }

    // Inside overview bubble.
    &.is-logue.heightless-lyric {
        .overview-toggle-section {
            width: @overview-toggle-mini-width;
            height: @overview-toggle-mini-height;
        }
    }
}

.phone-width {

    &.dots-section-shown {
        .dots-subfield {
            margin-left: @dots-subfield-phone-margin;
        }
    }

    // In phone, also hidden to left when overview is shown.
    &.overview-shown {
        .dots-overview-toggle-section {
            opacity: 0;
            margin-left: -@overview-toggle-phone-width;
        }
    }

    .dots-overview-toggle-section {
        width: @overview-toggle-phone-width;
    }

    .overview-toggle-button-container {
        height: @overview-toggle-phone-height;
    }

    // Inside overview bubble.
    .overview-toggle-section {
        width: @overview-toggle-phone-width;
        height: @overview-toggle-phone-height;
    }
}

.is-logue.heightless-lyric, &.phone-width {

    // Inside overview bubble.
    .overview-toggle-section {
            position: relative;
            margin-right: 10px;
            float: left;
    }
}
