.buddhaShrine#{$suffix} {
    .base { fill: hsl(325, 100%, 31%); }
    .hair { fill: hsl(0, 0%, 10%); }
    .robe { fill: hsl(358, 66%, 45%); }
    .skin { fill: hsl(32, 44%, 60%); }
    .flange { fill: hsl(60, 100%, 47%); }
    .faceDisplayLine { stroke: hsl(30, 25%, 27%); }
}
