.bennettLinens#{$suffix} {
    .cushion { fill: hsl($HUE_BENNETT_LINENS, 25%, 45%); }
    .cushionLight { fill: hsl($HUE_BENNETT_LINENS, 25%, 52%); }
    .bennettPillow { fill: hsl($HUE_BENNETT_LINENS - 20, 35%, 58%); }
    .girlfriendPillow { fill: hsl($HUE_BENNETT_LINENS + 30, 35%, 58%); }
    .bennettBlanketInner { fill: hsl($HUE_BENNETT_LINENS + 20, 35%, 52%); }
    .bennettBlanket { fill: hsl($HUE_BENNETT_LINENS + 20, 35%, 62%); }

    .darken__parent
    &.darken#{$suffix} {
        .cushion { fill: hsl($HUE_BENNETT_LINENS, 13%, 28%); }
        .cushionLight { fill: hsl($HUE_BENNETT_LINENS, 13%, 31%); }
        .bennettPillow { fill: hsl($HUE_BENNETT_LINENS - 20, 18%, 36%); }
    }
}
