@import '../../../../scss/constants/zIndex';

// These are the parent elements of the TextSpan component.
// .AnnotationCard__text,
.VerseLine {
    // Position above absolute elements.
    position: relative;
    z-index: $zIndex__verseChild__topMost;

    // Fix issue with "floater" line always wrapping for some reason.
    text-wrap: nowrap;
}

.VerseLine__lyricLeft,
.VerseLine__lyricRight {
    /**
     * Fix issue with "floater" line always wrapping for some reason. Do with
     * both left and right for consistency.
     */
    text-wrap: nowrap;
}