@import '../../scss/constants/colour';
@import '../../scss/constants/transition';

.Tracker {
    opacity: 0;
    background-color: $colour__paused__filled;

    .DW__userAgentDesktop
    .ShW__canTransitionAfterSongChange.ShW__canTransitionAfterVerseChange
    & {
        transition:
            opacity $transitionDuration__instant,
            height $transitionDuration__slow,
            width $transitionDuration__slow;
    }

    .PlW__isPlaying
    & {
        background-color: $colour__playing__filled;
    }
}

.Tracker__visible {
    // Not sure why disabling transition during song change isn't good enough.
    .ShW__canTransitionAfterSongChange
    .TW__hidePastFutureLyrics
    & {
        opacity: 1;
    }
}
