@import '../../../scss/constants/annotation';
@import '../../../scss/constants/icon';
@import '../../../scss/constants/popup';
@import '../../../scss/constants/transition';

$MARGIN_CAROUSEL_ANNOTATION: $MARGIN_THIN * 2.5;

.CarouselAnnotation {
    display: flex;
    flex-direction: column-reverse;

    max-width: 0;
    min-width: 0;

    .DW__desktopWidth
    & {
        padding-bottom: $margin__thick;
    }

    .DW__mobileWidth
    & {
        flex-direction: column;

        /**
         * This is purely eyeballed. Allows room for the annotation title and
         * toggle button highlights when hovered.
         */
        padding-top:
            $height__annotationTitle * 4;
    }

    .DW__userAgentDesktop
    .ShW__canTransitionAfterSongChange
    & {
        transition:
            min-width $transitionDuration__default,
            opacity $transitionDuration__default;
    }
}

.CarouselAnnotation__shown {
    min-width:
        $width__annotationCard
        + $PADDING_POPUP_CONTENT_WIDE * 2
        + $MARGIN_CAROUSEL_ANNOTATION * 2;

    padding-left: $MARGIN_CAROUSEL_ANNOTATION;
    padding-right: $MARGIN_CAROUSEL_ANNOTATION;
}

/**
 * Override if hidden by single lyric column. Using specific selectors to
 * override styles for mini width as well.
 */
.DeviceWrapper
.RW__lyricRightEarColumnOnly
.CarouselAnnotation__inEarColumn__lyricLeft,

.DeviceWrapper
.RW__lyricLeftEarColumnOnly
.CarouselAnnotation__inEarColumn__lyricRight {

    min-width: 0;
    opacity: 0;

    padding-left: 0;
    padding-right: 0;

    .AnnotationCardContainer {
        max-height: 0;
        opacity: 0;
    }

    .AnnotationHeaderAnimatable {
        opacity: 0;
    }
}
