.mara#{$suffix} {
    .maraDress { fill: hsl(32, 48%, 52%); }
    .maraHeadband { fill: hsl(2, 39%, 63%); }
    .maraStrap { fill: hsl(2, 34%, 47%); }
    .maraShoe { fill: hsl(2, 30%, 43%); }

    .maskBand { fill: hsl(0, 0%, 80%); }
    .maraWatchBand { fill: hsl(5, 49%, 60%); }

    &.gopi {
        .sari { fill: hsl(25, 61%, 62%); }
    }
}