.building#{$suffix} {
    .wallLowSide { fill: hsl(45, 10%, 53%); }
    .wallLowFront { fill: hsl(45, 15%, 61%); }
    .wallMediumSide { fill: hsl(22, 15%, 45%); }
    .wallMediumFront { fill: hsl(22, 20%, 53%); }
    .wallHighSide { fill: hsl(7, 20%, 41%); }
    .wallHighFront { fill: hsl(7, 25%, 49%); }
    .roofSide { fill: hsl(17, 20%, 45%); }
    .roofBelow { fill: hsl(17, 20%, 49%); }
    .roofFront { fill: hsl(17, 24%, 53%); }
    .awningTop { fill: hsl(228, 30%, 61%); }
    .awningFront { fill: hsl(228, 18%, 53%); }
    .awningSide { fill: hsl(228, 10%, 45%); }
}
