// This is based on just eyeballing it until it looked right. Includes padding.
$height__annotationTitle: 22px;

$paddingX__carouselAnnotation: 8px;

$padding__annotationCard: 5px;

$width__annotationCard: 364px;

$width__annotationCard__mini:
    $width__annotationCard
    * $multiplier__fontSize__mini;

$width__annotationCard__phone:
    $width__annotationCard
    * $multiplier__fontSize__phone;