@import './font';

// This is based on just eyeballing it until it looked right. Includes padding.
$height__annotationTitle: 18px;

$paddingX__carouselAnnotation: 8px;

$padding__annotationCard: 5px;

$width__annotation: 384px;

$width__annotation__mini:
    $width__annotation
    * $multiplier__fontSize__mini;

$width__annotation__phone:
    $width__annotation
    * $multiplier__fontSize__phone;