@import './colours.scss';

// Box shadow colours.
$colour__boxShadow: rgba(75, 75, 100, 0.4);
$colour__boxShadow__dark: rgba(25, 25, 50, 0.4);

$colour__boxShadow__cursored: rgba(225, 255, 200, 0.3);
$colour__boxShadow__cursoredBright: rgba(225, 255, 200, 0.5);

$boxShadow__admin: 0 2px 2px 2px $colour__boxShadow;

$boxShadow__access: 0 0 3px 3px #8f8;

$boxShadow__annotationCard: 0 1px 1px 1px $colour__boxShadow;
$boxShadow__annotationWormhole: inset 0 2px 2px $colour__boxShadow;

$boxShadow__dotsContainer: -2px 2px 8px 8px $colour__boxShadow;

$boxShadow__verseAudio: -1px 1px 4px 4px $colour__boxShadow;

$boxShadow__activeVerse: inset 0 0 5px $colour__boxShadow__dark;

$boxShadow__cursorVerse:
    // 0 0 5px 1px $colour__boxShadow__cursoredBright,
    0 1px 3px 3px $colour__boxShadow__dark;

$boxShadow__unitCard: 0 3px 3px 3px $colour__boxShadow__dark;
$boxShadow__unitCard__cursored:
    0 0 15px 4px $colour__boxShadow__cursoredBright,
    0 3px 10px 3px $colour__boxShadow__dark;

$boxShadow__sliderStanza: 0 1px 1px 1px $colour__boxShadow;
// $boxShadow__sliderStanza__cursored:
//     0 1px 5px 5px $colour__boxShadow__cursoredBright;

$boxShadow__verseBar__above: 0 3px 12px 5px $colour__boxShadow__dark;
$boxShadow__verseBar__below: 0 0 12px 5px $colour__boxShadow__dark;

// $boxShadow__menu: 0 0 1px 1px $colour__boxShadow;

$boxShadow__popupView: -2px 2px 8px 8px $colour__boxShadow;
$boxShadow__popupView__inOverlay: -2px 2px 8px 8px $colour__boxShadow__dark;

$boxShadow__button: -1px 1px 2px 2px $colour__boxShadow;
$boxShadow__button__inOverlay: -1px 1px 2px 2px $colour__boxShadow__dark;
