// Box shadow colours.
$colour__boxShadow: hsla(240, 14%, 34%, 0.4);
$colour__boxShadow__dark: hsla(240, 33%, 15%, 0.7);
$colour__boxShadow__darker: hsla(240, 33%, 15%, 0.9);

$colour__boxShadow__hover: hsla($hue__select, 100%, 90%, 0.7);
$colour__boxShadow__hoverDark: hsla($hue__select, 63%, 45%, 0.7);
$colour__boxShadow__access: hsla($hue__access, 100%, 90%, 0.7);
$colour__boxShadow__accessDark: hsla($hue__access, 63%, 45%, 0.7);
$colour__boxShadow__select: hsla($hue__select, 100%, 90%, 0.7);

// Main.
$boxShadow__mainCard: 0 3px 5px 2px $colour__boxShadow__dark;

$dropShadow__accessLetter: drop-shadow(0 2px 2px $colour__boxShadow__dark);
$dropShadow__button: drop-shadow(0 2px 4px $colour__boxShadow__dark);
$dropShadow__button__overlay: drop-shadow(0 2px 4px $colour__boxShadow__darker);

$dropShadow__hover: drop-shadow(0 2px 8px $colour__boxShadow__hover);
$dropShadow__hoverDark: drop-shadow(0 2px 8px $colour__boxShadow__hoverDark);
$dropShadow__access: drop-shadow(0 2px 8px $colour__boxShadow__access);
$dropShadow__accessDark: drop-shadow(0 2px 8px $colour__boxShadow__accessDark);
$dropShadow__select: drop-shadow(0 2px 8px $colour__boxShadow__select);

// Lyric.
$boxShadow__verseBar__above: 0 3px 10px 6px $colour__boxShadow__dark;
$boxShadow__verseBar__below: 0 0 10px 6px $colour__boxShadow__dark;

// Annotation.
$boxShadow__annotationCard: 0 1px 1px 1px $colour__boxShadow;
$boxShadow__annotationWormhole: inset 0 2px 2px $colour__boxShadow;

// Verse.
$boxShadow__activeVerse: inset 0 0 5px $colour__boxShadow__dark;
$boxShadow__cursorVerse: $boxShadow__mainCard;

// Slider.
$dropShadow__sliderStanza__sheet: 0 3px 6px 2px $colour__boxShadow__dark;
$boxShadow__sliderStanza__tab: 0 3px 6px 2px $colour__boxShadow__dark;
$boxShadow__cursorVerse__slider: 0 1px 4px 2px $colour__boxShadow__dark;

// Popup.
$boxShadow__popupView: $boxShadow__mainCard;
$boxShadow__popupView__inOverlay: 0 3px 5px 2px $colour__boxShadow__darker;
