// Box shadow colours.
$colour__boxShadow: rgba(75, 75, 100, 0.4);
$colour__boxShadow__dark: rgba(25, 25, 50, 0.4);
$colour__boxShadow__cursored: rgba(255, 225, 155, 0.4);
$colour__boxShadow__cursoredBright: rgba(255, 225, 100, 0.8);
// Audio related colours.
$bgColour__audioPlay: #bfb;
$bgColour__audioPause: #fdd;
$bgColour__audioDisabled: lightGray;
$bgColour__audioSelect: #fdb;
$bgColour__audioNeutral: #ddf;
$bgColour__audioHighlight: #ffd;

// Lyric verse colours.

$colour__beforeSelected: #543;
$bgColour__beforeSelected: #fef0e0;

$colour__afterSelected: #345;
$bgColour__afterSelected: #e0f0fe;

// Slider verse colours.

$colour__beforeSlider: #ffbb88;
$bgColour__beforeSlider: #b59905;

$colour__afterSlider: #88bbff;
$bgColour__afterSlider: #0599b5;

$colour__sideSlider: #bbb;
$bgColour__sideSlider: #888;

// Lyric text and anchor colours.
$colour__annotation__selected: gold;
$colour__textAnchor__selected: #b59905;
$bgColour__underline__selected: mix(
    $colour__annotation__selected, white, 25%
);

$colour__annotationPortal__title: #bbb;

$colour__textAnchor__accessedLink: #484;
$colour__textAnchor__accessedHover: #7b7;
$colour__textAnchor__accessedActive: #aea;
$bgColour__underline__accessed: mix(
    $colour__textAnchor__accessedLink, white, 25%
);

$colour__text: #444;
$colour__textAnchor__link: #844;
$colour__textAnchor__hover: #b77;
$colour__textAnchor__active: #eaa;
$bgColour__underline__disabled: #aaa;
$bgColour__underline__selectable: mix(
    $colour__textAnchor__link, white, 25%
);

// Dot colours.
$bgColour__dot__narrative: #fbb;
$bgColour__dot__backstory: #fda;
$bgColour__dot__observation: #eea;
$bgColour__dot__pun: #cf9;
$bgColour__dot__reference: #9fc;
$bgColour__dot__songwriting: #aef;
$bgColour__dot__portal: #bcf;
$bgColour__dot__afterword: #fbe;

$bgColour__dot__deselected: lightGray;

// Annotation and Portal colours.
$bgColour__annotationCard: rgba(250, 250, 255, 0.9);
$bgColour__annotationPortal: #fff4f4;

// Song stanza colours.
$bgColour__stanzaType__title: brown;
$bgColour__stanzaType__refrain: tomato;
$bgColour__stanzaType__verse: orange;
$bgColour__stanzaType__prechorus: green;
$bgColour__stanzaType__chorus: blue;
$bgColour__stanzaType__postchorus: violet;
$bgColour__stanzaType__bridge: purple;
$bgColour__stanzaType__coda: tan;
$bgColour__stanzaType__instrumental: #f4f;
$bgColour__stanzaType__rhyme: turquoise;
$bgColour__stanzaType__backing: skyBlue;
$bgColour__stanzaType__response: cadetBlue;
