/********
 * TEXT *
 ********/

 // Plain text colours.
$colour__text__light: hsl(0, 0%, 100%);
$colour__text__dark: hsl(0, 0%, 30%);
$textShadow__light: 0.5px 1px hsla(0, 0%, 100%, 0.5);
$textShadow__dark: 0.5px 1px hsla(0, 0%, 0%, 0.5);

$colour__road: hsl(41, 30%, 61%);

$hue__past: 36;
$hue__present: 156;
$hue__future: 276;

$hue__playing: 156;
$hue__paused: 216;

$hue__link: 6;
$hue__select: 66;
$hue__access: 126;
$hue__interact: 186;

$sat__bold: 90%;
$sat__lighter: 71%;
$sat__light: 67%;
$sat__medLight: 56%;
$sat__medium: 52%;
$sat__dark: 42%;
$sat__darker: 38%;

$lum__lighter: 94%;
$lum__light: 90%;
$lum__medLight: 78%;
$lum__medium: 73%;
$lum__dark: 63%;
$lum__darker: 59%;

$colour__past__bold: hsl($hue__past, $sat__bold, $lum__medLight);
$colour__past__lighter: hsl($hue__past, $sat__lighter, $lum__lighter);
$colour__past__light: hsl($hue__past, $sat__light, $lum__light);
$colour__past__medLight: hsl($hue__past, $sat__medLight, $lum__medLight);
$colour__past__medium: hsl($hue__past, $sat__medium, $lum__medium);
$colour__past__dark: hsl($hue__past, $sat__dark, $lum__dark);
$colour__past__darker: hsl($hue__past, $sat__darker, $lum__darker);

$colour__playing__bold: hsl($hue__playing, $sat__bold, $lum__medLight);
$colour__playing__empty: hsl($hue__playing, $sat__medium, $lum__lighter);
$colour__playing__filled: hsl($hue__playing, $sat__dark, $lum__medium);

$colour__paused__bold: hsl($hue__paused, $sat__bold, $lum__medLight);
$colour__paused__filled: hsl($hue__paused, $sat__medium, $lum__medium);
$colour__paused__empty: hsl($hue__paused, $sat__dark, $lum__darker);

$colour__future__bold: hsl($hue__future, $sat__bold, $lum__medLight);
$colour__future__lighter: hsl($hue__future, $sat__lighter, $lum__lighter);
$colour__future__light: hsl($hue__future, $sat__light, $lum__light);
$colour__future__medLight: hsl($hue__future, $sat__medLight, $lum__medLight);
$colour__future__medium: hsl($hue__future, $sat__medium, $lum__medium);
$colour__future__dark: hsl($hue__future, $sat__dark, $lum__dark);
$colour__future__darker: hsl($hue__future, $sat__darker, $lum__darker);

$colour__neutral__light: hsl(0, 0%, $lum__light);
$colour__neutral__dark: hsl(0, 0%, $lum__dark);

$lum__link__dark: 43%;
$lum__hover__dark: 54%;
$lum__active: 65%;
$lum__hover__light: 76%;
$lum__link__light: 87%;

$colour__link__dark: hsl($hue__link, $sat__darker, $lum__link__dark);
$colour__linkHover__dark: hsl($hue__link, $sat__darker, $lum__hover__dark);
$colour__linkActive: hsl($hue__link, $sat__medium, $lum__active);
$colour__linkHover__light: hsl($hue__link, $sat__light, $lum__hover__light);
$colour__link__light: hsl($hue__link, $sat__light, $lum__link__light);

$colour__access__dark: hsl($hue__access, $sat__darker, $lum__link__dark);
$colour__accessHover__dark: hsl($hue__access, $sat__darker, $lum__hover__dark);
$colour__accessActive: hsl($hue__access, $sat__medium, $lum__active);
$colour__accessHover__light: hsl($hue__access, $sat__light, $lum__hover__light);
$colour__access__light: hsl($hue__access, $sat__light, $lum__link__light);

$colour__select__dark: hsl($hue__select, $sat__darker, $lum__link__dark);
$colour__select__light: hsl($hue__select, $sat__light, $lum__link__light);

// Just used by nav title.
$colour__select__medium: hsl($hue__select, $sat__medium, $lum__active);

// Underline colours.
$colour__underline: hsl($hue__link, $sat__darker, $lum__medium);
$colour__underlineAccess: hsl($hue__access, $sat__darker, $lum__medium);
$colour__underlineSelect: hsl($hue__select, $sat__darker, $lum__medium);

// Interactable hover colours.
$colour__interact__bold: hsl($hue__interact, $sat__bold, $lum__medLight);
$colour__interact__lighter: hsl($hue__interact, $sat__light, $lum__link__light);
$colour__interact__light: hsl($hue__interact, $sat__light, $lum__link__light);
$colour__interact__medium: hsl($hue__interact, $sat__medium, $lum__medium);

// Annotation and Wormhole colours.
$bgColour__annotation__dark: hsl(220, 13%, 62%); // For carousel button only.
$bgColour__annotation: hsl(220, 13%, 82%);
$colour__annotation__selected: hsl($hue__select, 100%, 93%);
$bgColour__annotationCard: hsla(240, 100%, 99%, 0.9);
$bgColour__annotationWormhole: hsl(0, 100%, 98%);
$colour__annotationWormhole__title: hsl(0, 0%, 73%);

// Dot colours.
$bgColour__dot__narrative: hsl(315, 100%, 87%);
$bgColour__dot__backstory: hsl(36, 100%, 83%);
$bgColour__dot__observation: hsl(90, 100%, 80%);
$bgColour__dot__pun: hsl(192, 100%, 83%);
$bgColour__dot__reference: hsl(150, 100%, 80%);
$bgColour__dot__wormhole: hsl(225, 100%, 87%);
$bgColour__dot__songwriting: hsl(0, 100%, 87%);
$bgColour__dot__afterword: hsl(60, 67%, 80%);
$bgColour__dot__deselected: $colour__neutral__light;

// Song stanza colours.
$bgColour__stanzaType__verse: hsl(210, 35, 40);
$bgColour__stanzaType__prechorus: hsl(120, 25, 40);
$bgColour__stanzaType__chorus: hsl(300, 25, 40);
$bgColour__stanzaType__postchorus: hsl(30, 40, 40);
$bgColour__stanzaType__bridge: hsl(180, 40, 30);
$bgColour__stanzaType__refrain: hsl(60, 40, 35);
$bgColour__stanzaType__coda: hsl(90, 40, 35);
$bgColour__stanzaType__instrumental: hsl(270, 25, 40);
$bgColour__stanzaType__none: hsl(0, 0, 45);
