@import './hue';

$colour__text__light: hsl(0, 0%, 100%);
$colour__text__dark: hsl(0, 0%, 30%);
$textShadow__light: 0.5px 1px hsla(0, 0%, 90%, 0.7);
$textShadow__dark: 0.5px 1px hsla(0, 0%, 10%, 0.7);

$colour__road__dark: hsl(75, 12%, 47%);
$colour__road__medium: hsl(75, 12%, 57%);

$sat__bold: 90%;
$sat__lighter: 71%;
$sat__light: 67%;
$sat__medLight: 56%;
$sat__medium: 52%;
$sat__dark: 38%;
$sat__darker: 34%;
$sat__darkest: 21%;

$lum__lightest: 96%;
$lum__lighter: 94%;
$lum__light: 90%;
$lum__medLightest: 87%;
$lum__medLighter: 83%;
$lum__medLight: 78%;
$lum__medium: 73%;
$lum__dark: 63%;
$lum__darker: 59%;
$lum__darkest: 54%;

$colour__foreground: hsl(47, 21%, $lum__lighter);
$colour__background: hsl(47, 21%, $lum__darker);

$colour__past__bold: hsl($HUE_PAST, $sat__bold, $lum__medLight);
$COLOUR__PAST__LIGHTER: hsl($HUE_PAST, $sat__lighter, $lum__lighter);
$COLOUR__PAST__LIGHT: hsl($HUE_PAST, $sat__light, $lum__light);
$COLOUR__PAST__MEDLIGHT: hsl($HUE_PAST, $sat__medLight, $lum__medLight);
$COLOUR__PAST__MEDIUM: hsl($HUE_PAST, $sat__medium, $lum__medium);
$COLOUR__PAST__DARK: hsl($HUE_PAST, $sat__dark, $lum__dark);
$COLOUR__PAST__DARKER: hsl($HUE_PAST, $sat__darker, $lum__darker);

$colour__playing__bold: hsl($hue__playing, $sat__bold, $lum__medLight);
$colour__playing__empty: hsl($hue__playing, $sat__medium, $lum__lighter);
$colour__playing__filled: hsl($hue__playing, $sat__dark, $lum__medium);
$colour__interactPlay__empty: hsl($hue__interact, $sat__medium, $lum__lighter);
$colour__interactPlay__filled: hsl($hue__interact, $sat__dark, $lum__medium);

$colour__paused__bold: hsl($hue__paused, $sat__bold, $lum__medLight);
$colour__paused__filled: hsl($hue__paused, $sat__medium, $lum__medium);
$colour__paused__empty: hsl($hue__paused, $sat__dark, $lum__darker);
$colour__interactPause__filled: hsl($hue__interact, $sat__medium, $lum__medium);
$colour__interactPause__empty: hsl($hue__interact, $sat__dark, $lum__darker);

$colour__future__bold: hsl($HUE_FUTURE, $sat__bold, $lum__medLight);
$COLOUR__FUTURE__LIGHTER: hsl($HUE_FUTURE, $sat__lighter, $lum__lighter);
$COLOUR__FUTURE__LIGHT: hsl($HUE_FUTURE, $sat__light, $lum__light);
$colour__future__medLight: hsl($HUE_FUTURE, $sat__medLight, $lum__medLight);
$colour__future__medium: hsl($HUE_FUTURE, $sat__medium, $lum__medium);
$COLOUR__FUTURE__DARK: hsl($HUE_FUTURE, $sat__dark, $lum__dark);
$COLOUR__FUTURE__DARKER: hsl($HUE_FUTURE, $sat__darker, $lum__darker);

$colour__neutral__light: hsl(0, 0%, $lum__light);
$colour__neutral__medium: hsl(0, 0%, $lum__medium);
$colour__neutral__dark: hsl(0, 0%, $lum__dark);

$lum__link__dark: 45%;
$lum__hover__dark: 55%;
$lum__active: 65%;
$lum__hover__light: 75%;
$lum__link__light: 85%;

$colour__link__dark: hsl($hue__link, $sat__darker, $lum__link__dark);
$colour__linkHover__dark: hsl($hue__link, $sat__darker, $lum__hover__dark);
$colour__linkActive: hsl($hue__link, $sat__medium, $lum__active);
$colour__linkHover__light: hsl($hue__link, $sat__light, $lum__hover__light);
$colour__link__light: hsl($hue__link, $sat__light, $lum__link__light);

$colour__access__dark: hsl($hue__access, $sat__darker, $lum__link__dark);
$colour__accessHover__dark: hsl($hue__access, $sat__darker, $lum__hover__dark);
$colour__accessActive: hsl($hue__access, $sat__medium, $lum__active);
$colour__accessHover__light: hsl($hue__access, $sat__light, $lum__hover__light);
$colour__access__light: hsl($hue__access, $sat__light, $lum__link__light);

$colour__select__dark: hsl($hue__select, $sat__darker, $lum__link__dark);

// Just used by nav and pitch.
$colour__select__medium: hsl($hue__select, $sat__medium, $lum__active);
$colour__select__light: hsl($hue__select, $sat__light, $lum__link__light);

// Just used by button text. (Nav song, pitch slide, and root home.)
$colour__buttonTextSelect__dark: hsl($hue__paused, $sat__dark, $lum__dark);
$colour__buttonTextSelect__light: hsl($hue__paused, $sat__medLight, $lum__medLight);
$colour__buttonText__dark: hsl($hue__link, $sat__darkest, $lum__darkest);
$colour__buttonTextHover__dark: hsl($hue__masks, $sat__medium, $lum__dark);
$colour__buttonTextActive__dark: hsl($hue__masks, $sat__medLight, $lum__medium);
$colour__buttonTextHover__light: hsl($hue__masks, $sat__lighter, $lum__medLighter);
$colour__buttonTextActive__light: hsl($hue__masks, $sat__medLight, $lum__medium);

// Underline colours.
$colour__underline: hsl($hue__link, $sat__darker, $lum__medium);
$colour__underlineAccess: hsl($hue__access, $sat__darker, $lum__medium);
$colour__underlineSelect: hsl($hue__select, $sat__darker, $lum__medium);

$colour__navigation: hsl($hue__wormhole, $sat__medLight, $lum__medium);
$colour__close: hsl($hue__songcraft, $sat__medLight, $lum__medium);

// Interactable hover colours.
$colour__interact__bold: hsl($hue__interact, $sat__lighter, $lum__medium);
$colour__interact__lighter: hsl($hue__interact, $sat__light, $lum__link__light);
$colour__interact__light: hsl($hue__interact, $sat__light, $lum__link__light);
$colour__interact__medium: hsl($hue__interact, $sat__medium, $lum__medium);

// Annotation and Wormhole colours.
$colour__annotation__dark: hsl($hue__paused, 8%, 62%); // For carousel button.
$colour__annotation: hsl($hue__paused, 8%, 85%);
$colour__annotation__selected: hsl($hue__select, 100%, 93%);

$colour__annotationCard: hsl(0, 0%, $lum__lightest);
$colour__annotationCard__past: hsl($HUE_PAST, $sat__lighter, $lum__lightest);
$colour__annotationCard__present: hsl($HUE_PRESENT, $sat__lighter, $lum__lightest);
$colour__annotationCard__future: hsl($HUE_FUTURE, $sat__lighter, $lum__lightest);

$colour__annotationWormhole: hsl($hue__wormhole, $sat__lighter, $lum__lightest);
$colour__annotationWormhole__title: hsl($hue__wormhole, 2%, 60%);

// Song stanza colours.
$bgColour__formType__verse: hsl(210, 35, 40);
$bgColour__formType__prechorus: hsl(120, 25, 40);
$bgColour__formType__chorus: hsl(300, 25, 40);
$bgColour__formType__postchorus: hsl(30, 40, 40);
$bgColour__formType__bridge: hsl(180, 40, 30);
$bgColour__formType__refrain: hsl(60, 40, 35);
$bgColour__formType__coda: hsl(90, 40, 35);
$bgColour__formType__instrumental: hsl(270, 25, 40);
$bgColour__formType__none: hsl(0, 0, 45);