$fontSize__verse: 1em;
$fontSize__title: 1.5em;
$fontSize__italic: 0.925em;

$multiplier__fontSize__mini: 0.85;
$fontSize__verse__mini:
    $fontSize__verse
    * $multiplier__fontSize__mini;
$fontSize__title__mini: 1.2em;

$multiplier__fontSize__phone: 0.75;
$fontSize__verse__phone:
    $fontSize__verse
    * $multiplier__fontSize__phone;
$fontSize__title__phone: 1em;