$marginX__stanzaChildColumn: 8px;

$paddingX__verse: 10px;
$paddingY__verse: 6px;

// Lyric values.
$height__formTypeTab: 8px;
$margin__lyricUnit: $height__formTypeTab + 5px;

$width__hangingIndent: 1.5em;
$margin__scrollBar: 17px;