// Constants prefixed with js *must* be the same in JavaScript.
$js__height__menu: 72px;

// This works out to 52px;
$js__height__menu__twoRowMenu:
    $js__length__icon
    + $js__margin__thin * 2;

// Arbitrary for now.
$js__height__banner__twoRowMenu: 48px;

// Phone always has two rows in menu. Includes menu, banner, and slider.
$js__top__twoRowMenu:
    $js__height__menu__twoRowMenu
    + $js__height__banner__twoRowMenu;
