// This value is used to determine whether to show the mobile wiki page.
$js__padding__popupContent__wide: 20px;
$padding__popupContent__narrow: 15px;

$width__popupCard: 425px;
$width__popupCard__mini: 360px;
$width__popupCard__phone: 325px;