$transitionDuration__instant: 0.05s;
$transitionDuration__faster: 0.075s;
$transitionDuration__fast: 0.15s;
$TRANSITION_DURATION_PRESENCE: 0.25s;
$transitionDuration__default: 0.2s;
$TRANSITION_DURATION_CURTAINS: 0.25s;
$transitionDuration__slow: 0.25s;
$transitionDuration__slower: 0.5s;
$transitionDuration__pulse: 1.5s;
$transitionDuration__debug: 2s;
