.ironDarkest { fill: hsl(35, 5%, 37%); }
.ironDarker { fill: hsl(35, 5%, 42%); }
.ironDark { fill: hsl(35, 5%, 47%); }
.ironMediumDark { fill: hsl(35, 5%, 52%); }
.ironMedium { fill: hsl(35, 5%, 57%); }
.ironMediumLight { fill: hsl(35, 5%, 62%); }
// .ironLight { fill: hsl(35, 5%, 67%); }

.darkenDefault .darken#{$suffix} {
    .ironDarker { fill: hsl(35, 3%, 26%); }
    .ironMediumDark { fill: hsl(35, 3%, 31%); }
}