.TempGlobalAnnotation,
.TempGlobalAnnotationsCounter {
    background-color: #fafafa;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 20px 80px;
    padding: 10px;
    box-shadow: $boxShadow__admin;
}

.TempGlobalAnnotation__header {
    font-size: 1.15em;
    border-radius: 5px;
    border: 1px solid #cca;
    background-color: #ffe;
    padding: 5px;

    display: flex;
    justify-content: space-between;
}

.TempGlobalAnnotationCard {
    font-size: 0.95em;
    border: 1px solid #acc;
    background-color: #eff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.Button__increment {
    background-color: #ea7;
}

.Button__reset {
    background-color: #7ae;
}
