.heineken#{$suffix} {
    .bottleSide { fill: hsla(140, 33%, 44%, 0.5); }
    .bottleBottom { fill: hsla(140, 60%, 25%, 0.25); }
    .beerSide { fill: hsla(45, 50%, 39%, 0.5); }
    .beerTop { fill: hsla(45, 40%, 49%, 0.5); }
    .labelMain { fill: hsl(120, 25%, 54%); }
    .labelSecondary { fill: hsl(105, 29%, 65%); }
    .labelReverse { fill: hsl(105, 16%, 43%); }
}