.brassDarkest { fill: hsl(61, 21%, 37%); }
.brassDarker { fill: hsl(61, 21%, 42%); }
.brassDark { fill: hsl(61, 21%, 47%); }
.brassMediumDark { fill: hsl(61, 21%, 52%); }
.brassMedium { fill: hsl(61, 21%, 57%); }
.brassMediumLight { fill: hsl(61, 21%, 62%); }
.brassLight { fill: hsl(61, 21%, 67%); }

.darkRoomDefault .darkRoom#{$suffix} {
    .brassDarkest { fill: hsl(61, 11%, 24%); }
    .brassDarker { fill: hsl(61, 11%, 26%); }
    .brassDark { fill: hsl(61, 11%, 29%); }
    .brassMedium { fill: hsl(61, 11%, 34%); }
    .brassMediumLight { fill: hsl(61, 11%, 39%); }
}