.DotsSlideSelects {

    display: flex;
    flex-direction: column;

    padding: 10px;

    // TODO: Maybe consolidate all the text shadows that use this colour.
    .mixin__textShadow(@bgColour__verse__odd);
}

.DotsSlideSelects__row {
    display: flex;
}