@length__dotsSlideSelect: 64px;

@length__dotsSlideSelect__tablet:
    @js__length__iconLarge * 0.95;

.DotsSlideSelect {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;

    .RM__mini
    & {
        padding: @js__margin__thin * 2;
    }

    .RM__phone
    & {
        padding: @js__margin__thin;
    }
}

.Button__slideSelectSize {

    width: @length__dotsSlideSelect;
    height: @length__dotsSlideSelect;

    .RM__phone
    & {
        width: @length__dotsSlideSelect__tablet;
        height: @length__dotsSlideSelect__tablet;
    }
}

.SlideSelectDescription {

    text-align: center;
    font-size: .6em;

    opacity: 0;
    transition: opacity @animationDuration__default;

    .DotsSlideSelect:hover
    &,
    &.SlideSelectDescription__interactivated {
        opacity: 1;
    }
}

.DotsSlideSelect__textAnchor {
    padding-top: 5px;
    font-size: 0.75em;

    .RM__phone
    & {
        padding-top: 0;
    }
}