.dot-description {
    position: absolute;

    // Specify for Safari.
    top: 0;
    left: 0;

    width: @dot-toggle-container-diameter;
    height: @dot-toggle-container-diameter;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: .6em;

    opacity: 0;
    transition: opacity @animationDuration__default;

    &:hover, &.interactivated {
        opacity: 1;
    }

    .RM__phone
    & {
        width: @dot-toggle-container-phone-diameter;
        height: @dot-toggle-container-phone-diameter;
    }
}

.dot-section-anchor {
    padding-top: 5px;
    text-align: center;
    font-size: 0.75em;
    transition: box-shadow @animationDuration__default;
    cursor: pointer;
}