@length__dotsSlideToggle: 64px;

@length__dotsSlideToggle__phone:
    @length__iconLarge * 0.95;

@padding__dotsSlideToggle:
    @length__dotsSlideToggle / 6;

@padding__dotsSlideToggle__phone:
    @length__iconLarge / 7;

.DotsSlideSelects {

    display: flex;
    flex-direction: column;

    padding: 10px;

    // TODO: Maybe consolidate all the text shadows that use this colour.
    .mixin__textShadow(@bgColour__verse__odd);
}

.DotsSlideSelects__row {
    display: flex;
}