@length__dotsSlideToggle: 64px;

@length__dotsSlideToggle__phone:
    @length__iconLarge * 0.95;

@padding__dotsSlideToggle:
    @length__dotsSlideToggle / 6;

@padding__dotsSlideToggle__phone:
    @length__iconLarge / 7;

.DotsSlideToggles {

    display: flex;
    flex-direction: column;

    padding: 10px;

    // TODO: Maybe consolidate all the text shadows that use this colour.
    .mixin__textShadow(@bgColour__verse__odd);

    .dot {
        &, & .icon-canvas {
            width: @length__dotsSlideToggle;
            height: @length__dotsSlideToggle;
        }
    }

    .RM__phone
    & {
        .dot {
            &, & .icon-canvas {
                width: @length__dotsSlideToggle__phone;
                height: @length__dotsSlideToggle__phone;
            }
        }
    }
}

.DotsSlideToggles__row {
    display: flex;
}