.DotsSlideSelects {

    display: flex;
    flex-direction: column;

    padding: $js__margin__thick;

    .RM__mobile:not(.RM__tablet)
    & {
        padding: $js__margin__thin;
    }
}

.DotsSlideSelects__row {
    display: flex;
}