.DotsSlideSelects {

    display: flex;
    flex-direction: column;

    padding: @js__margin__thick;

    // TODO: Maybe consolidate all the text shadows that use this colour.
    .mixin__textShadow(@bgColour__verse__odd);

    .RM__phone
    & {
        padding: @js__margin__thin;
    }
}

.DotsSlideSelects__row {
    display: flex;
}