.DotsSlideSelect {
    display: flex;
    flex-direction: column-reverse;
    padding: @padding__dotsSlideToggle;

    .DotAnchor {

        &:hover {
            .icon-canvas {
                animation: bounceHover @animationDuration__default;
            }
        }

        &:active {
            .icon-canvas {
                transform: scale(0.9);
            }
        }
    }

    .dot {
        &.deselected {
            .icon-canvas {
                background-color: @Dot__deselected;
            }
        }
    }

    .RM__phone
    & {
        padding: @padding__dotsSlideToggle__phone;
    }
}

.DotsSlideSelect__description {
    position: absolute;

    // Specify for Safari.
    top: 0;
    left: 0;

    width: @length__dotsSlideToggle;
    height: @length__dotsSlideToggle;
    border-radius: 50%;

    text-align: center;
    font-size: .6em;

    opacity: 0;
    transition: opacity @animationDuration__default;

    &:hover, &.DotsSlideSelect__interactivated {
        opacity: 1;
    }

    .RM__phone
    & {
        width: @length__dotsSlideToggle__phone;
        height: @length__dotsSlideToggle__phone;
    }
}

.dot-section-anchor {
    padding-top: 5px;
    text-align: center;
    font-size: 0.75em;
    transition: box-shadow @animationDuration__default;
    cursor: pointer;
}