.DotsSlideSelects {

    display: flex;
    flex-direction: column;

    padding: $js__margin__thick;

    // TODO: Maybe consolidate all the text shadows that use this colour.
    @include mixin__textShadow($bgColour__afterSelected);

    .RM__mobile:not(.RM__tablet)
    & {
        padding: $js__margin__thin;
    }
}

.DotsSlideSelects__row {
    display: flex;
}