@import '../../scss/constants/border';
@import '../../scss/constants/icon';
@import '../../scss/constants/shadow';
@import '../../scss/constants/transition';
@import '../../scss/constants/zIndex';

$margin__dotsContainer: 12px;
$margin__dotsContainer__phone: 8px;

.DotsSlide {
    position: absolute;
    top: 0;
    left: -$LENGTH_ICON_LARGE;
    opacity: 0;
    margin-top: $margin__dotsContainer;
    margin-left: $margin__dotsContainer;
    border-radius: $borderRadius__wide;

    z-index: $zIndex__mainShelf;

    .DW__userAgentDesktop
    & {
        transition:
            opacity $transitionDuration__default,
            left $transitionDuration__slow;
    }

    box-shadow: $boxShadow__mainCard;
    background-color: $COLOUR__FUTURE__LIGHTER;

    .DW__desktopWidth
    .MW__cannotCarouselShow
    &,
    .DW__miniOrTabletWidth
    .MW__canCarouselNavMount
    & {
        top: auto;
        bottom: 0;
        margin-top: 0;
        margin-bottom: $margin__dotsContainer;
    }

    .DW__phoneWidth
    & {
        margin-left: $MARGIN_THIN;
        margin-top: $MARGIN_THIN;
    }
}

.DotsSlide__shown {
    .PlW__song
    .ShW__overlayHidden
    .TrW__isSongChangeDone
    & {
        opacity: 1;
        left: 0;
    }
}

.DotsSlideSelects {
    display: flex;
    flex-direction: column;

    padding: $margin__thick;

    background-color: $COLOUR__FUTURE__LIGHTER;

    .DW__phoneOrMiniWidth
    & {
        padding: $margin__thick * 0.75;
    }

    border-radius: $borderRadius__wide;
}

.DotsSlideSelects__row {
    display: flex;
}
