@import "./Select/style";

$margin__dotsContainer: 16px;
$margin__dotsContainer__phone: 8px;

.DotsSlide {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    margin-left: -$margin__dotsContainer;
    margin-top: $margin__dotsContainer / 2;
    border-radius: $borderRadius__narrow;

    z-index: $zIndex__leftShelf;

    // TODO: Ideal for dots section to fade to halfway left, then move all the way out to prevent user interaction.
    transition:
        opacity $animationDuration__default,
        margin-left $animationDuration__slow,
        transform $animationDuration__slow;

    transform: translateX(-100%);

    box-shadow: $boxShadow__mainCard;
    background-color: $bgColour__afterSelected;

    .DW__mobileNotPhone
    & {
        top: auto;
        bottom: 0;

        margin-top: 0;
        margin-bottom: $margin__dotsContainer / 2;
    }
}

.DotsSlide__shown {
    .PlW__song
    .ShW__overlayHidden
    .TrW__canLyricCarouselEnter
    & {
        opacity: 1;
        margin-left: $margin__dotsContainer;
        transform: translateX(0);
    }

    .DW__mobileNotTablet
    & {
        margin-left: $margin__dotsContainer__phone;
    }
}

.DotsSlideSelects {

    display: flex;
    flex-direction: column;

    padding: $js__margin__thick;

    .DW__mobileNotTablet
    & {
        padding: $js__margin__thin;
    }
}

.DotsSlideSelects__row {
    display: flex;
}
