.NavBookSongs {
    max-width: 1000px; // Arbitrary large number.

    .DW__userAgentDesktop
    .NavColumn__left
    & {
        transition:
            max-width $transitionDuration__default,
            opacity $transitionDuration__default,
            left $transitionDuration__default;
    }

    .NavColumn__left.NavColumn__hidden
    & {
        left: 0;
    }

    .DW__userAgentDesktop
    .NavColumn__right
    & {
        transition:
            max-width $transitionDuration__default,
            opacity $transitionDuration__default,
            right $transitionDuration__default;
    }

    .NavColumn__right
    & {
        flex-direction: row-reverse;
    }

    .NavColumn__right.NavColumn__hidden
    & {
        right: 0;
    }

    .NavColumn__hidden
    & {
        max-width: $LENGTH_ICON;
        opacity: 0;
        padding-right: 0;
    }
}
