.NavRoad {
    opacity: 1;

    .DW__higherProcessor {
        transition: opacity $animationDuration__default;
    }

    .NavColumn__hidden
    & {
        opacity: 0;
    }
}

.NavRoad__rect {
    fill: red;
}

.NavBookSongs {

    max-width: 1000px; // Arbitrary large number.

    .DW__higherProcessor
    .NavColumn__left
    & {
        transition:
            max-width $animationDuration__default,
            opacity $animationDuration__default,
            left $animationDuration__default;
    }

    .NavColumn__left.NavColumn__hidden
    & {
        left: 0;
    }

    .DW__higherProcessor
    .NavColumn__right
    & {
        transition:
            max-width $animationDuration__default,
            opacity $animationDuration__default,
            right $animationDuration__default;
    }

    .NavColumn__right
    & {
        flex-direction: row-reverse;
    }

    .NavColumn__right.NavColumn__hidden
    & {
        right: 0;
    }

    .NavColumn__hidden
    & {
        max-width: $js__length__icon;
        opacity: 0.5;
        padding-right: 0;
    }
}
