.trafficLight {
    .support { fill: #666; }
    .pole { fill: #333; }
    .shell { fill: #444; }
    .offLight { fill: #433; }
    .redLight { fill: #e66; }
    .greenLight { fill: #6e6; }
    .visor { fill: #966; }
}

.goKartThought {
    .bubble { fill: #9dd1c7; }
    .foliage { fill: #4a774a; }
    .pole { fill: #727272; }
    .checkerWhite { fill: #d8d8d8; }
    .checkerBlack { fill: #303030; }
}