.TrafficLight {
    .support { fill: #666; }
    .pole { fill: #333; }
    .shell { fill: #444; }
    .offLight { fill: #433; }
    .redLight { fill: #e66; }
    .greenLight { fill: #6e6; }
    .visor { fill: #966; }
}
