.trafficLight {
    .support { fill: #99998e; }
    .pole { fill: #73736a; }
    .casing { fill: #73735a; }
    .visor { fill: #595946; }
    .lightGreen { fill: #74ff4d; }
    .lightOff { fill: #6b5850; }
    .lightRed { fill: #ff4d63; }
}

.goKartThought {
    .bubble { fill: #9dd1c7; }
    .foliage { fill: #4a774a; }
    .pole { fill: #727272; }
    .checkerWhite { fill: #d8d8d8; }
    .checkerBlack { fill: #303030; }
}

.cypressTree {
    .leavesRear { fill: #5c995c; }
    .leavesFront { fill: #68a068; }
}

.publicFar {
    .wallFront { fill: #c69bc7; }
    .wallSide { fill: #ac87ad; }
}

.publicNear {
    .wallFront { fill: #c69bc7; }
    .wallSide { fill: #ac87ad; }
}
