@import '../../scss/constants/responsive';
@import '../../scss/constants/transition';

.LyricOverview {
    position: absolute;
    width: 100%;

    .DW__userAgentDesktop
    & {
        transition: height $transitionDuration__default;
    }
}

.width__lyricColumn__desktop {
    .VW__desktopWidth
    & {
        width: $WIDTH_GOLDEN_CORD;
        left: auto;
        right: 0;
    }

    .VW__laptopWidth
    & {
        width: $WIDTH_UNCANNY_VALLEY;
    }
}

.position__lyricColumn__mobile {
    width: 100%;
    bottom: 0;
}
