.buildings#{$suffix} {
    .buildingsNearest { fill: hsl(216, 23%, 45%); }
    .buildingsNear { fill: hsl(216, 23%, 48%); }
    .buildingsFar { fill: hsl(220, 21%, 51%); }
    .buildingsFarthest { fill: hsl(220, 19%, 54%); }

    .eveningTime
    &.eveningTime#{$suffix} {
        .buildingsNear { fill: hsl(216, 18%, 40%); }
        .buildingsFar { fill: hsl(220, 16%, 43%); }
        .buildingsFarthest { fill: hsl(220, 14%, 46%); }
    }

    .nightTime
    &.nightTime#{$suffix} {
        .buildingsNearest { fill: hsl(216, 13%, 32%); }
        .buildingsNear { fill: hsl(216, 13%, 36%); }
        .buildingsFar { fill: hsl(220, 11%, 40%); }
        .buildingsFarthest { fill: hsl(220, 9%, 44%); }
    }
}