.annotation-section {
    @overflow-margin-width: 5px;
    position: absolute;
    top: 45px;
    left: -@overflow-margin-width - (@field-padding * 0.5);
    width: @notes-field-width + (@overflow-margin-width * 2);
    background-color: @annotation-colour;

    // border-top-left-radius:     45px 15px;
    // border-top-right-radius:    15px 45px;
    // border-bottom-right-radius: 45px 15px;
    // border-bottom-left-radius:  15px 45px;

    .dots-block-mixin;
    .dots-block {
        margin-bottom: 5px;
    }

    .cards-block {
        .annotation-card {
            margin: 5px;
            padding: 5px;
            box-shadow: 0 1px 1px 1px @box-shadow-colour;
        }
    }
}