.annotation-section {
    .animation-mixin;
    @overflow-margin-width: 5px;
    position: absolute;
    top: 45px;
    left: -@overflow-margin-width - (@field-padding * 0.5);
    width: @notes-field-width + (@overflow-margin-width * 2);
    box-shadow: -2px 2px 8px 8px @box-shadow-colour;
    background-color: @annotation-colour;

    // border-top-left-radius:     45px 15px;
    // border-top-right-radius:    15px 45px;
    // border-bottom-right-radius: 45px 15px;
    // border-bottom-left-radius:  15px 45px;

    .code-block-mixin;
    .code-block {
        margin-bottom: 5px;
    }
}