.lyrics-section {

    .lyric-columns {
        display: flex;
    }

    .lyric-column {

        &.doublespeaker {
            &.left {
                padding-right: @field-padding * 0.5;
            }

            &.right {
                padding-left: @field-padding * 0.5;
            }
        }
    }

    .lyric-block {
        @lyric-verse-size: 1em;
        font-size: @lyric-verse-size;
        line-height: 150%;

        a {
            font-weight: normal;
        }

        .stanza {
            &:not(:last-child) {
                margin-bottom: @lyric-verse-size;
            }

            .verse {
                @hanging-indent-width: 1.5em;
                padding-left: @hanging-indent-width;
                text-indent:-@hanging-indent-width;
            }
        }
    }

    /**
     * Applies to both plain text, and text within anchors, so that they are
     * in front of dots.
     */

    .plain-text, .text-block {
        position: relative;
        z-index: @text-z-index;
    }

    @dot-diameter: 0.9em;
    .dots-block-mixin(@dot-diameter);

    .anchor-wrapper {
        position: relative;
        height: @dot-diameter;

        .dots-block {
            position: absolute;
            left: -@dot-diameter * 0.2;
            top: -@dot-diameter * 0.2;
        }

        .text-block {

        }
    }

    .anchor-link {
        position: relative;
        z-index: 0;
        white-space: nowrap;
        @text-shadow-colour: @lyrics-field-colour;
        @text-shadow-offset: 0.75px;
        @text-shadow-blur: 0;
        text-shadow:
            -@text-shadow-offset -@text-shadow-offset @text-shadow-blur @text-shadow-colour,
            @text-shadow-offset -@text-shadow-offset @text-shadow-blur @text-shadow-colour,
            -@text-shadow-offset @text-shadow-offset @text-shadow-blur @text-shadow-colour,
            @text-shadow-offset @text-shadow-offset @text-shadow-blur @text-shadow-colour;

        // Underline anchor tag.
        &:before {
            content: '';
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 35%;
            bottom: 0;
            background-color: mix(@lyric-link-colour, white, 25%);
        }
    }

    // For dev purposes.
    .todo {
        a {
            color: #b00;

            &:hover {
                color: #d33;
            }

            &:active {
                color: #f66;
            }
        }

        .anchor-link {

            &:before {
                background-color: mix(red, white, 50%);
            }
        }
    }
}