@import "../constants.less";
@import "../vendor-prefixes.less";

body {
    background-color: #999;
}

.app {
    @column-padding: 15px;
    @row-height-margin: 2px;

    @primary-row-font-size: 1.05em;
    @secondary-row-font-size: 0.9em;

    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    font-family: PTSansNarrow;
    font-size: 1.1em;

    /**********
     * FIELDS *
     **********/

    .field {
        position: relative;
        box-sizing: border-box;
        padding: 0 @column-padding @column-padding;
    }

    @songs-field-width: 350px;
    .songs-field {
        width: @songs-field-width;
        min-width: @songs-field-width;
        background-color: #fef;
        font-size: 1.2em;
    }

    @notes-field-width: 350px;
    .notes-field {
        width: @notes-field-width;
        min-width: @notes-field-width;
        background-color: #fee;
    }

    .lyrics-field {
        background-color: #ffe;
    }

    /************
     * SECTIONS *
     ************/

    .section {
        box-sizing: border-box;
        padding: 0px @column-padding @column-padding;
    }

    .songs-section {

        .song-row {
            position: relative;
            overflow: hidden;
            margin: @row-height-margin 0;

            .progress-bar {
                background-color: #fcf;

                .filled-bar {
                    background-color: #dad;
                }
            }

            &.played {
                .progress-bar {
                    background-color: #cfc;

                    .filled-bar {
                        background-color: #ada;
                    }
                }

                a {
                    color: #484;

                    &:hover {
                        color: #7b7;
                    }

                    &:active {
                        color: #aea;
                    }
                }
            }
        }
    }

    .annotation-section {
        .animation-mixin;
        @overflow-margin-width: 5px;
        position: absolute;
        top: 45px;
        left: -@overflow-margin-width;
        width: @notes-field-width + (@overflow-margin-width * 2);
        box-shadow: -2px 2px 8px 8px rgba(100, 100, 120, 0.2);
        border-radius: 5px;
        z-index: 1;
        margin: auto 0;
        background-color: #eff;
    }

    .tasks-section {

        .task-row {
            // Header is first child.
            &:not(:nth-child(2)) {
                margin-top: @row-height-margin;
            }

            font-size: @primary-row-font-size;
        }

        .subtask-row {
            padding-left: 25px;
            font-size: @secondary-row-font-size;
        }

        [class$="subrow"] {
            position: relative;
            overflow: hidden;
            margin: @row-height-margin;

            .progress-bar {
                background-color: #fcc;

                .filled-bar {
                    background-color: #daa;
                }
            }
        }
    }

    .speech-bubbles-section {

        .button-row {
            display: flex;
            justify-content: space-between;

            .disabled {
                a {
                    color: #aaa;
                    cursor: default;
                }
            }
        }
    }

    .stats-section {
        .stats-row {
            font-size: @primary-row-font-size;
        }
    }

    .lyrics-section {

        .lyric-columns {
            display: flex;
        }

        .lyric-column {

            &.double-column {
                &.left {
                    padding-right: @column-padding * 0.5;
                }

                &.right {
                    padding-left: @column-padding * 0.5;
                }
            }
        }

        .lyric-text-area {
            @lyric-verse-size: 1em;
            font-size: @lyric-verse-size;

            .stanza {
                &:not(:last-child) {
                    margin-bottom: @lyric-verse-size;
                }

                .verse {
                    @hanging-indent-width: 1.5em;
                    padding-left: @hanging-indent-width;
                    text-indent:-@hanging-indent-width;
                }
            }
        }
    }

    /*****************
     * BARS AND ROWS *
     *****************/

    .progress-bar {
        position: absolute;
        width: 0%;
        height: 100%;
        border-radius: 5px;
        overflow: hidden;

        .filled-bar {
            position: absolute;
            width: 0%;
            height: 100%;
        }
    }

    .text-cell-wrapper {
        @height-margin: 4px;
        @width-margin: 12px;
        position: relative;
        display: flex;
        justify-content: space-between;
        margin: @height-margin @width-margin;

        .text-cell {
            display: inline-block;

            &:first-child {
                flex-grow: 1;
            }

            &.figure {
                text-align: right;

                &.font-size-1 {
                    font-size: 1.4em;
                }

                &.font-size-2 {
                    font-size: 1.25em;
                }
            }
        }
    }
}