@import "../constants.less";
@import "../global.less";

@import "./dots.less";
@import "./songs-section.less";
@import "./annotation-section.less";
@import "./overviews-section.less";
@import "./tasks-section.less";
@import "./lyrics-section.less";

body {
    background-color: #999;
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    font-family: PTSansNarrow;
    font-size: 1.1em;
}

/**********
 * FIELDS *
 **********/

.field {
    position: relative;
    box-sizing: border-box;
    padding: 0 (@field-padding * 0.5);

    height: 100%;
    overflow-y: scroll;

    &:first-child {
        padding-left: @field-padding;
    }

    &:last-child {
        padding-right: @field-padding;
    }
}

.songs-field {
    width: @songs-field-width;
    min-width: @songs-field-width;
    background-color: @songs-field-colour;
    font-size: 1.2em;
}

.notes-field {
    width: @notes-field-width;
    min-width: @notes-field-width;
    background-color: @notes-field-colour;
}

.lyrics-field {
    width: @lyrics-field-width;
    min-width: @lyrics-field-width;
    background-color: @lyrics-field-colour;
}

/************
 * SECTIONS *
 ************/

.section {
    box-sizing: border-box;
    padding: @field-padding;
    margin: @field-padding 0;

    &:not(.annotation-section) {
        background-color: @section-colour;
        box-shadow: 0 2px 2px 2px @box-shadow-colour;
    }
}

/*****************
 * BARS AND ROWS *
 *****************/

.row {
    position: relative;
    margin: @row-height-margin 0;

    &.primary-row {
        height: @primary-row-font-size * 1.6;
        font-size: @primary-row-font-size;
    }

    &.secondary-row {
        height: @secondary-row-font-size * 1.6;
        font-size: @secondary-row-font-size;
    }
}

.progress-bar {
    position: absolute;
    width: 0%;
    height: 100%;
    box-shadow: 0 1px 1px 1px @box-shadow-colour;

    .filled-bar {
        position: absolute;
        width: 0%;
        height: 100%;
    }
}

.text-cell-wrapper {
    @height-margin: 4px;
    @width-margin: 12px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: @height-margin @width-margin;

    .text-cell {
        &:first-child {
            flex-grow: 1;
        }

        &.text, &.figure {
            display: flex;
            align-items: center;
        }

        &.footer, &.figure {
            text-align: right;
        }

        &.footer {
            &.font-size-1 {
                font-size: 1.4em;
            }

            &.font-size-2 {
                font-size: 1.25em;
            }
        }
    }
}

.interactable {
    cursor: pointer;
}

.popup-content-wrapper {
    .animation-mixin;
    box-shadow: -2px 2px 8px 8px @box-shadow-colour;
}

.popup-transition-group {
    position: fixed;
    z-index: 1;
}

/**
 * Portal link. For dev purposes only.
 */
.portals-block {
    color: #a88;

    .portal-button {
        cursor: pointer;

        .annotation-title {
            padding-left: 1.5em;
            font-style: italic;
        }
    }
}