.speech-bubbles-section {

    .button-block {
        display: flex;
        justify-content: space-between;

        .disabled {
            a {
                color: #aaa;
                cursor: default;
            }
        }
    }
}