/***********
 * ANCHORS *
 ***********/

.accessed-on {

    // Show access highlight of dots and text...

    // ... in dots section whenever...
    .dots-section,

    // ... in carousel and popup anchor when selected...
    .selected-annotation .annotation-card,

    // ... in carousel title only when...
    .dots-section-hidden.is-not-verse-interactivated .carousel .accessed-annotation:not(.selected-annotation) .annotation-title-block,

    // ... in lyrics only when...
    .dots-section-hidden.nav-collapsed.is-not-verse-interactivated .lyric-section {

        .access-highlighted {

            &.anchor-block .animated-background {
                border: @dot-border solid @access-underline-colour;
            }

            /**
             * Text anchors in both lyrics and dots section. This doesn't need
             * to care whether the anchor is shown as anchor or text, because
             * the access logic will skip over the anchor if it's shown as text.
             *
             * Also, do not style text anchors in portals.
             */
            &:not(.portal-block) {

                &.text-anchor-block {
                    .text-span {
                        color: @access-link-colour;
                    }

                    &:hover {
                        .text-span {
                            color: @access-hover-colour;
                        }
                    }

                    &:active {
                        .text-span {
                            color: @access-active-colour;
                        }
                    }
                }

                .underline-bar {
                    background-color: @access-underline-colour;
                }
            }
        }
    }

    // Nav buttons in nav section.
    .nav-expanded {
        .nav-section {
            .access-highlighted {
                .animated-background {
                    background-color: @access-underline-colour;
                }
            }
        }
    }

    .annotation-hidden.dots-section-hidden.is-not-verse-interactivated {

        // Lyrics annotation is accessed.
        .lyric-section {
            background-color: rgba(200, 250, 200, 0.5);
        }
    }

    // Interactivated verse is accessed.
    .is-verse-interactivated {
        .lyric-section {
            .verse.interactivated {
                background-color: @access-underline-colour;
            }
        }
    }

    // Dots section is accessed.
    .dots-section-shown.nav-collapsed {
        .dots-section {
            // background-color: @temp-access-background;

            // Show dot description in dots section.
            .access-highlighted {
                .dot-description {
                    opacity: 1;
                }
            }
        }
    }

    // Keyboard letter shown on accessible button.
    .access-button-icon {
        opacity: 1;
    }
}

.access-button-icon {
    @access-button-icon-edge: 20px;

    position: absolute;
    bottom: 0;
    right: 0;

    width: @access-button-icon-edge;
    height: @access-button-icon-edge;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity @animation-default;
    opacity: 0;

    border: 2px solid green;
    border-radius: 3px;

    background-color: #bfb;
}
