.text-anchor-block {
    position: relative;

    /**
     * Stupid hack to keep dots block and underline bar aligned in right column
     * when anchor breaks onto new line.
     */
    &:before {
        content: 'a';
        opacity: 0;
        font-size: 0;
        line-height: 0;
    }

    .dots-block {
        position: absolute;
        left: -@lyric-anchor-dot-diameter * 0.2;
        top: -@lyric-anchor-dot-diameter * 0.2;
    }

    // For dev purposes.
    // &.todo {
    //     color: #c00;
    //
    //     &:hover {
    //         color: #d33;
    //     }
    //
    //     &:active {
    //         color: #f66;
    //     }
    //
    //     // Make underline red.
    //     .underline-bar {
    //             background-color: mix(red, white, 50%);
    //     }
    // }
}

/**
 * All dot backgrounds in lyrics and annotation cards, except portal annotation
 * cards.
 */
.text-anchor-block, .annotation-card:not(.portal) {
    .animated-background {

        // FIXME: Animation jankiness is due to the transform, which is expensive.
        transition: margin @animation-fast,
                    width @animation-fast,
                    border @animation-fast,
                    transform @animation-instant,
                    background-color @animation-fast;
        transform: scale(0);
        width: 0;
    }
}

.underline-bar {
    transition: background-color @animation-fast, transform @animation-instant;

    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    left: 0;
}

.dot-anchor-block {
    position: relative;

    .underline-bar {
        height: 25%;
        bottom: -10%;
    }
}
