.side-annotation {
    .annotation {
        &.popup-wrapper {
            position: absolute;
            top: 0;
            right: 0;

            margin-top: 20px;
            margin-right: 15px;
        }
    }
}
.is-mobile {
    .side-annotation {
        .annotation {
            &.popup-wrapper {
                top: auto;
                bottom: 0;
                margin-top: auto;

                // Wider margin bottom to make room for lyrics at bottom.
                margin-bottom: 25px;
            }
        }

        &.heightless-lyric {
            .annotation {
                &.popup-wrapper {
                    // Even wider margin bottom if no lyrics at bottom.
                    margin-bottom: @app-large-icon-diameter;
                }
            }
        }
    }
}

.annotation-title {
    text-align: center;
}

.annotation-card {
    position: relative;
    max-height: 0;
    padding: 0 5px;
    opacity: 0.5;
    overflow: hidden;

    // FIXME: Height transition is still janky.
    transition: opacity 0.2s, margin 0.2s, padding 0.2s, max-height 0.2s, box-shadow 0.2s;

    .text-shadow-mixin(@annotation-card-colour);

    // TODO: Portals block needs its own text shadow?
    .text-span {
    }

    // Select for annotation card dots, not portal dots.
    > .dots-block {
        position: absolute;
        height: @annotation-dot-diameter;
    }
}

.live-app.narrative .annotation-card.narrative,
.live-app.backstory .annotation-card.backstory,
.live-app.observation .annotation-card.observation,
.live-app.pun .annotation-card.pun,
.live-app.reference .annotation-card.reference,
.live-app.songwriting .annotation-card.songwriting,
.live-app.portal .annotation-card.portal,
.live-app.afterword .annotation-card.afterword {
    min-height: @annotation-dot-diameter;
    max-height: 500px; // Arbitrary large number.
    margin: 5px 0;
    padding: 5px;
    opacity: 1;
    box-shadow: 0 1px 1px 1px @box-shadow-colour;
}

// Override if in carousel and hidden by single lyric column.
.live-app.just-show-right-lyric .carousel-annotation.in-column-left,
.live-app.just-show-left-lyric .carousel-annotation.in-column-right {

    .annotation-card {
        min-height: auto;
        max-height: 0;
        margin: auto;
        padding: 0 5px;
        opacity: 0.5;
        box-shadow: none;
    }
}
