.annotation-section {

    .annotation-card, {
        min-height: 1.75em;
        margin: 5px 0;
        padding: 5px;
        box-shadow: 0 1px 1px 1px @box-shadow-colour;

        .dots-block {
            @dot-diameter: 1.75em;
            .dot-diameter-mixin(@dot-diameter);
            position: absolute;
            height: @dot-diameter;
            opacity: .45;
        }

        .text-span {
            @colour: white;
            @offset: 0.75px;
            @blur: 0;
            text-shadow:
                -@offset -@offset @blur @colour,
                @offset -@offset @blur @colour,
                -@offset @offset @blur @colour,
                @offset @offset @blur @colour;
        }
    }

    .portals-block {
        color: #a88;

        .portal-button {
            cursor: pointer;

            .annotation-title {
                padding-left: 1.5em;
                font-style: italic;
            }
        }
    }
}
