@annotation-text-colour: #f4f4ff;

.annotation-section {

    .annotation-card {
        min-height: 1.8em;
        margin: 5px 0;
        padding: 5px;
        background-color: @annotation-text-colour;
        box-shadow: 0 1px 1px 1px @box-shadow-colour;

        // Select for annotation card dots, not portal dots.
        > .dot-block {
            @dot-diameter: 1.8em;
            .dot-diameter-mixin(@dot-diameter);
            position: absolute;
            height: @dot-diameter;
        }

        // TODO: Portals block needs its own text shadow?
        .text-span, .portals-block {
            text-shadow:
                -@text-shadow-offset -@text-shadow-offset @text-shadow-blur @annotation-text-colour,
                @text-shadow-offset -@text-shadow-offset @text-shadow-blur @annotation-text-colour,
                -@text-shadow-offset @text-shadow-offset @text-shadow-blur @annotation-text-colour,
                @text-shadow-offset @text-shadow-offset @text-shadow-blur @annotation-text-colour;
        }
    }
}
