// These values *must* be the same in js.
@audio-block-padding: 12px;
@audio-banner-min-width: 220px;

// These values *must* be the same in js.
@audio-block-padding-y: 4px;
@audio-banner-height: (@menu-height - 2 * @audio-block-padding-y) / 2;
@audio-banner-custom-subfield-padding: 4px;
@audio-banner-custom-subfield-height: @audio-banner-height * 2;

@title-in-audio-block-padding: 6px;
