.audio-banner-block {
    background-color: #fed;
    line-height: 1em;
}

.audio-buttons-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    max-width: 300px;

    background-color: #efd;
}

.audio-icon {
    width: @app-icon-diameter;
    height: @app-icon-diameter;
    border-radius: @app-icon-diameter / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: orange;
}
