@audio-block-padding: 15px;
@title-in-audio-padding: 3px;
@audio-block-padding-y: 4px;

@audio-banner-height: (@menu-height - (2 * @audio-block-padding-y)) / 2;
@audio-slider-height: @audio-banner-height;

@audio-button-margin: 3px;
@audio-option-button-margin: 8px;

// 232 px.
@audio-buttons-constant: 2 * @audio-block-padding + 3 * @app-icon-diameter + 2 * @audio-button-margin + @audio-option-button-margin;

@audio-banner-min-width: 225px;

.admin {
    .audio-section {
        flex-direction: column;
    }

    .audio-block {
        width: 100%;
    }
}

.live {
    .audio-section {
        height: 100%;
    }
}

.audio-subfield {
    min-width: @audio-banner-min-width + @audio-buttons-constant + @app-large-icon-diameter;
    max-width: 720px; // Arbitrary.
}

.overlay-popup-subfield {

    .audio-subfield {
        z-index: @audio-in-overlay-z-index;
        width: 100%;
    }
}

.tablet-width {
    .audio-subfield {
        min-width: @audio-banner-min-width + @audio-buttons-constant + @app-tablet-large-icon-diameter;
    }
}

.mini-width {
    .audio-subfield {
        min-width: @audio-banner-min-width + @audio-buttons-constant + @app-mini-large-icon-diameter;
    }
}

.phone-width {
    .audio-subfield {
        min-width: @audio-buttons-constant + @app-icon-diameter;
    }

    .audio-section {
        justify-content: center;
    }
}

.audio-section, .audio-block, .audio-subblock, .audio-display-block {
    display: flex;
    align-items: center;
}

.audio-section {
    width: 100%;
}

.audio-block {
    box-sizing: border-box;
    padding: @audio-block-padding-y @audio-block-padding;
    flex-grow: 1;
}

.audio-buttons-block {
    justify-content: space-between;
    max-width: 280px; // Arbitrary.

    background-color: #fed;
}

.player-subblock {
    justify-content: space-between;
    margin-right: @audio-option-button-margin;
    flex-grow: 4;
}

.option-subblock {
    justify-content: flex-end;
    flex-grow: 3;
}

.audio-button:not(:last-child) {
    margin-right: @audio-button-margin;
}

.audio-banner-block, .timer-in-audio .audio-timer-block {
    background-color: #8dd;
}

.audio-banner-block {
    flex-direction: column;

    min-width: @audio-banner-min-width;

    line-height: 1em;

    .audio-display-block {
        height: @audio-banner-height;
    }

    .audio-banner {
        flex-grow: 1;
    }
}

.is-desktop, .tablet-width {

    /**
     * In desktop and tablet, width of audio subfield in overlay is less than
     * width of screen.
     */
    .overlay-popup-subfield .audio-subfield {
        overflow: hidden;
        border-radius: 15px;
    }
}

.timer-in-audio {
    .overlay-popup-subfield {
        .audio-buttons-block {
            max-width: 300px; // Also arbitrary.
        }

        .audio-timer-block {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 1.75em;
        }
    }
}

.audio-display-block {
    justify-content: space-between;

    width: 100%;
}

.audio-slider-block {
    width: 100%;
    height: @audio-slider-height;
    background-color: #def;
}

.audio-nav {
    background-color: @audio-nav-colour;
}

.audio-neutral {
    background-color: @audio-neutral-colour;
}

.is-playing {
    .audio-colour {
        background-color: @audio-pause-colour;
    }
}

.is-paused {
    .audio-colour {
        background-color: @audio-play-colour;
    }
}

.audio-banner-custom-subfield {
    height: @audio-banner-height + @audio-slider-height + @audio-block-padding-y * 2;

    .audio-banner-block {
        position: absolute;
        width: 100%;

        .transition( 0.2s ease);
        top: 0;
    }
}

.lyric-expanded.is-song {
    .audio-banner-block {
        top: -@menu-height;
    }
}

.title-in-audio {
    .menu-field {
        .audio-block {
            padding: @audio-block-padding-y @title-in-audio-padding;
        }
    }
}

.audio-players-section {
    display: none;
}

.audio-player {
    &.selected {
        border: 1px solid green;
    }
}
