.button-icon {
    border-radius: 50%;
}

.button-icon {
    width: @app-icon-diameter;
    height: @app-icon-diameter;
    border-radius: 50%;
}

.button-icon.large, .popup-button-block {
    width: @app-large-icon-diameter;
    height: @app-large-icon-diameter;
}

.tablet-width {
    .button-icon.large, .popup-button-block {
        width: @app-tablet-large-icon-diameter;
        height: @app-tablet-large-icon-diameter;
    }
}

.mini-width {
    .button-icon.large, .popup-button-block {
        width: @app-mini-large-icon-diameter;
        height: @app-mini-large-icon-diameter;
    }
}

.phone-width {
    .button-icon.large, .popup-button-block {
        width: @app-icon-diameter;
        height: @app-icon-diameter;
    }
}

.button:hover {
    .button-icon {
        animation: transformLightBounce 0.15s;
    }
}
