.button {
    position: relative;
    width: @app-icon-diameter;
    height: @app-icon-diameter;
}

.animated-background {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.custom-shape {
    .animated-background {
        border-radius: 0;
    }
}

.custom-size {
    &.button {
        width: 100%;
        height: 100%;
    }
}

.button.small {
    width: @app-small-icon-diameter;
    height: @app-small-icon-diameter;
}

.button.large, .popup-button-block, .lyric-button-block {
    width: @app-large-icon-diameter;
    height: @app-large-icon-diameter;
}

.tablet-width {
    .button.large, .popup-button-block, .lyric-button-block {
        width: @app-tablet-large-icon-diameter;
        height: @app-tablet-large-icon-diameter;
    }
}

.mini-width {
    .button.large, .popup-button-block, .lyric-button-block {
        width: @app-mini-large-icon-diameter;
        height: @app-mini-large-icon-diameter;
    }
}

.phone-width {
    .button.large, .popup-button-block, .lyric-button-block {
        width: @app-icon-diameter;
        height: @app-icon-diameter;
    }
}
