/**
 * I'm not happy with how complicated this styling became, but it was needed
 * to ensure that the carousel remains under all other interactable elements in
 * the centre field.
 */

@carousel-toggle-laptop-length: @overview-toggle-laptop-width;
@carousel-toggle-tablet-length: @overview-toggle-tablet-width;
@carousel-toggle-mini-length: @overview-toggle-mini-width;

// This isn't ideal, but I don't know where the extra 2 pixels are coming from.
@carousel-toggle-tablet-length: @overview-toggle-tablet-width - 2px;
@carousel-toggle-mini-length: @overview-toggle-mini-width - 2px;

@carousel-height-variable: @carousel-toggle-laptop-length + @dots-overview-padding;
@carousel-position-variable: @carousel-height-variable * 2 + @dots-overview-padding * 2 + @nav-height;

@carousel-tablet-variable: @carousel-toggle-tablet-length * 2;
@carousel-mini-variable: @carousel-toggle-mini-length * 2;

@carousel-nav-buttons-block-width: @app-large-icon-diameter * 2 + @app-thin-margin * 3;
@carousel-nav-buttons-block-tablet-width: @app-tablet-large-icon-diameter * 2 + @app-thin-margin * 3;
@carousel-nav-buttons-block-mini-width: @app-mini-large-icon-diameter * 2 + @app-thin-margin * 3;

@carousel-annotation-small-padding: 10px;
@carousel-annotation-padding: 16px;
@carousel-annotation-hidden-padding: @carousel-annotation-padding * 2 - @annotation-section-padding * 0.5;

.carousel-toggle-button-block {
    background-color: #edf;
    padding: @app-thin-margin 0;
    margin: @dots-overview-padding 0;
    border-radius: 0 @nav-border-radius @nav-border-radius 0;

    transition: margin @animation-default, border-radius @animation-default, box-shadow @animation-default;

    display: flex;
    justify-content: center;
    z-index: @carousel-z-index + 1;

    width: @carousel-toggle-laptop-length;
}

.is-logue {
    .carousel-toggle-button-block {
        margin-left: -@carousel-toggle-laptop-length;
    }
}

.carousel-toggle-button {

    .animated-background {
        background-color: #dfe;
    }
}

.carousel-nav-buttons-block {
    position: absolute;
    bottom: -@app-large-icon-diameter - @app-thin-margin * 2;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: @app-thin-margin;

    transition: bottom @animation-default;

    background-color: orange;

    .button:first-child {
        margin-right: @app-thin-margin;
    }

    .button {
        z-index: @carousel-nav-button-z-index;
    }

    .animated-background {
        background-color: #d84;
    }
}

.is-song.annotation-shown.carousel-expanded {
    .carousel-nav-buttons-block {
        bottom: 0;
    }
}

.carousel {
    position: absolute;
    left: 0;
    bottom: calc(~"-100% - @{carousel-position-variable}");
    width: 100vw;
    height: calc(~"100% + @{carousel-height-variable}");
    z-index: @carousel-z-index;
    transition: bottom @animation-default;

    // background-color: rgba(250, 225, 200, 0.5);
}

.carousel-expanded {
    .carousel-toggle-button-block {
        margin-bottom: -@nav-height;
        border-radius: 0 @nav-border-radius 0 0;
        box-shadow: @popup-box-shadow;
    }

    &.is-song {
        .carousel {
            bottom: -@carousel-height-variable;
        }
    }
}

.carousel-scroll {
    display: flex;
    flex-direction: column-reverse;
    overflow-x: scroll;
    height: 100%;
}

.carousel-annotations-block {
    display: flex;
    align-items: center;
    // background-color: #ffe;
}

.carousel-annotation {
    overflow-y: scroll;

    display: flex;
    flex-direction: column-reverse;

    min-width: @carousel-annotation-hidden-padding;
    transition: min-width @animation-default;

    .annotation-section {
        margin: @carousel-annotation-small-padding @annotation-section-padding;
        padding: @carousel-annotation-small-padding @carousel-annotation-padding @carousel-annotation-padding;
        transition: background-color @animation-default;
    }

    &:not(:last-child) {
        margin-right: -@carousel-annotation-padding * 2 + @annotation-section-padding * 0.5;
    }

    &:first-child {
        padding-left: @carousel-toggle-laptop-length;
    }
}

/**
 * Override if hidden by single lyric column. Must be specific to override
 * styles for mini width as well.
 */
.live .live-app.show-one-of-two-lyrics.show-right-lyric .carousel-annotation.in-column-left,
.live .live-app.show-one-of-two-lyrics.show-left-lyric .carousel-annotation.in-column-right {
    min-width: @carousel-annotation-hidden-padding;

    .annotation-title-block {
        max-height: 0;
    }
}

.monitor-width {

    .carousel-nav-buttons-block {
        right: @golden-cord-width;
    }

    .carousel-annotation {
        &:last-child {
            padding-right: @golden-cord-width + @carousel-nav-buttons-block-width;
        }
    }
}

.laptop-width {

    .carousel-nav-buttons-block {
        right: @uncanny-valley-width;
    }

    .carousel-annotation {
        &:last-child {
            padding-right: @uncanny-valley-width + @carousel-nav-buttons-block-width;
        }
    }
}

.is-mobile {

    .carousel-toggle-button-block {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        border-radius: 0 0 @nav-border-radius 0;
        transition: left @animation-default;
    }

    .carousel-nav-buttons-block {
        top: -@app-tablet-large-icon-diameter - @app-thin-margin * 2;
        bottom: auto;

        transition: top @animation-default;
    }

    .carousel {
        bottom: auto;
        top: calc(~"-100% - @{carousel-tablet-variable}");
        height: calc(~"100% + @{carousel-toggle-tablet-length}");

        transition: top @animation-default;
    }

    .carousel-scroll {
        flex-direction: column;
    }

    .is-song.carousel-expanded {
        .carousel {
            top: -@carousel-toggle-tablet-length;
        }

        &.annotation-shown {
            .carousel-nav-buttons-block {
                bottom: auto;
                top: 0;
            }
        }
    }

    .lyric-expanded, .heightless-lyric, .nav-expanded, .is-logue {
        .carousel-toggle-button-block {
            left: -@overview-toggle-tablet-width;
        }
    }

    .carousel-annotations-block {
        align-items: flex-start;
    }

    .carousel-annotation {
        flex-direction: column;

        &:first-child {
            padding-left: @carousel-toggle-tablet-length;
        }

        &:last-child {
            padding-right: @carousel-nav-buttons-block-tablet-width;
        }
    }

    &.mini-width {

        .carousel-nav-buttons-block {
            top: -@app-mini-large-icon-diameter - @app-thin-margin * 2;
            bottom: auto;

            transition: top @animation-default;
        }

        .carousel {
            top: calc(~"-100% - @{carousel-mini-variable}");
            height: calc(~"100% + @{carousel-toggle-mini-length}");
        }

        .is-song.carousel-expanded {
            .carousel {
                top: -@carousel-toggle-mini-length;
            }
        }

        .lyric-expanded, .heightless-lyric, .nav-expanded, .is-logue {
            .carousel-toggle-button-block {
                left: -@overview-toggle-mini-width;
            }
        }

        .carousel-annotation {

            &:first-child {
                padding-left: @carousel-toggle-mini-length;
            }

            &:last-child {
                padding-right: @carousel-nav-buttons-block-mini-width;
            }
        }

    }
}
