@carousel-height: 100vh;

.carousel-toggle-button-block {
    background-color: #edf;
    padding: @app-thin-margin 0;
    margin: @dots-overview-padding 0;
    border-radius: 0 @nav-border-radius @nav-border-radius 0;

    transition: margin 0.2s, border-radius 0.2s;

    display: flex;
    justify-content: center;
    z-index: @carousel-z-index + 1;

    width: @overview-toggle-laptop-width;
}

.is-logue {
    .carousel-toggle-button-block {
        margin-left: -@overview-toggle-laptop-width;
    }
}

.carousel-toggle-button {

    .button-background {
        background-color: #dfe;
    }
}

.carousel {
    position: absolute;
    left: 0;
    bottom: -@carousel-height;
    width: 100%;
    height: @carousel-height;
    z-index: @carousel-z-index;
    transition: bottom 0.2s;

    background-color: rgba(250, 225, 200, 0.5);
}

.carousel-expanded {
    .carousel-toggle-button-block {
        margin-bottom: -@nav-height;
        border-radius: 0 @nav-border-radius 0 0;
    }

    &.is-song {
        .carousel {
            bottom: 0;
        }
    }
}

.is-mobile {

    .carousel-toggle-button-block {
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        border-radius: 0 0 @nav-border-radius 0;
        transition: left 0.2s;
    }

    .carousel {
        bottom: auto;
        top: -@carousel-height;

        transition: top 0.2s;
    }

    .carousel-expanded {
        .carousel {
            top: @menu-height;
        }
    }

    .lyric-expanded, .nav-expanded, .is-logue {
        .carousel-toggle-button-block {
            left: -@overview-toggle-tablet-width;
        }
    }

    &.mini-width {
        .lyric-expanded, .nav-expanded, .is-logue {
            .carousel-toggle-button-block {
                left: -@overview-toggle-mini-width;
            }
        }
    }
}

.carousel-scroll {
    display: flex;
    overflow-x: scroll;
}

.carousel-annotation {
    min-width: @annotation-width;
    height: @carousel-height;
    overflow-y: scroll;

    display: flex;
    flex-direction: column-reverse;

    .annotation-section {
        margin: 10px 5px;
    }

    @annotation-bookend-margin: 12.5px;

    &:last-child {
        .annotation-section {
            margin-right: @annotation-bookend-margin;
        }
    }
}

.carousel-annotation {
    &:first-child {
        padding-left: @overview-toggle-laptop-width;
    }
}

.monitor-width {
    .carousel-annotation {
        &:last-child {
            padding-right: @golden-cord-width;
        }
    }
}

.laptop-width {
    .carousel-annotation {
        &:last-child {
            padding-right: @uncanny-valley-width;
        }
    }
}

.is-mobile {
    .carousel-annotation {
        flex-direction: column;
    }
}
