.dot-stanza {
    padding-bottom: 5px;
    &:not(:first-child) {
        margin-left: 0;
    }

    .button {
        transition: width @animation-default, height @animation-default;
        height: 0;
        width: 0;
    }

    &.stanza-block {
        transition: margin-top @animation-default, margin-left @animation-default;
    }

    .dot .animated-background {
        transition: background-color @animation-fast, border @animation-fast;
    }
}
