.dots-block {
    .dot-diameter-mixin;
    display: flex;
    width: auto;
    height: 100%;

    &.interactable {

        .dot-container {
            position: relative;

            &.dot-enabled {

                &.interacted {

                    .tooltip-container {
                        z-index: @dot-tooltip-z-index;
                    }

                    .tooltip {
                        animation: tooltipGrow 0.25s;
                        opacity: 1;
                        transform: scale(1);
                    }

                    .dot {
                        animation: transformLightBounce 0.15s;
                        background-color: orange;
                    }
                }

                &.uninteracted {

                    .tooltip {
                        animation: tooltipShrink 0.1s;
                        opacity: 0;
                    }
                }
            }
        }

        .dot {
            // TODO: Improve state styling.
            &.background { opacity: 0.35; }
            &.disabled { background-color: lightGray; }
            &.deselected { background-color: lightGray; }

            // TODO: Obviously.
            &.access-outlined {
                background-color: violet;
            }
        }
    }
}

.dots-subfield {
    .dot-diameter-mixin(@app-large-icon-diameter);
}

.dot {
    border-radius: 50%;

    .transition(background-color 0.15s ease);

    // TODO: Key styling.
    &.pun { background-color: @pun-dot-colour; }
    &.backstory { background-color: @backstory-dot-colour; }
    &.narrative { background-color: @narrative-dot-colour; }
    &.foreshadow { background-color: @foreshadow-dot-colour; }
    &.music { background-color: @music-dot-colour; }
    &.pulpit { background-color: @pulpit-dot-colour; }
    &.wiki { background-color: @wiki-dot-colour; }
    &.portal { background-color: @portal-dot-colour; }
    &.title { background-color: white; }
    &.afterword { background-color: white; }

    .dot-text {
        font-size: .6em;
    }
}

.dot-interactable {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    // FIXME: Not great.
    border-radius: 50%;
    &:active { background-color: red; opacity: 0.2; }
}

.tooltip-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    // TODO: This accommodates dot borders, but borders are temporary.
    bottom: @default-dot-diameter + 15px;

    .tooltip {
        // FIXME: Improve styling, of course.
        text-align: center;
        padding: 5px 15px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 1px 2px 2px lightGray;
    }
}
