@dots-tips-padding: 10px;
@dots-tips-margin: 5px;

@dots-tips-width: 2 * @app-large-icon-diameter + 2 * @dots-tips-padding + @dots-tips-margin;
@dots-tips-tablet-width: 2 * @app-tablet-large-icon-diameter + 2 * @dots-tips-padding + @dots-tips-margin;
@dots-tips-mini-width: 2 * @app-mini-large-icon-diameter + 2 * @dots-tips-padding + @dots-tips-margin;
@dots-tips-phone-width: 2 * @app-icon-diameter + 2 * @dots-tips-padding + @dots-tips-margin;

.dots-tips-custom-subfield {
    height: @menu-height-laptop-monitor;
    width: @dots-tips-width;
    z-index: @dots-tips-z-index;
    position: absolute;

    .transition(right 0.2s ease);
    right: 0;
}

.monitor-width, .laptop-width {
    .dots-tips-custom-subfield {
        .transition(top 0.2s ease);
        top: 0;
    }

    .overview-shown {
        .dots-tips-custom-subfield {
            top: -@menu-height-laptop-monitor;
        }
    }
}

.tablet-width {
    .dots-tips-custom-subfield {
        width: @dots-tips-tablet-width;
    }

    .lyric-expanded, .overview-shown {
        .dots-tips-custom-subfield {
            right: -@dots-tips-tablet-width;
        }
    }
}

.mini-width {
    .dots-tips-custom-subfield {
        width: @dots-tips-mini-width;
    }

    .lyric-expanded, .overview-shown {
        .dots-tips-custom-subfield {
            right: -@dots-tips-mini-width;
        }
    }
}

.phone-width {
    .dots-tips-custom-subfield {
        width: @dots-tips-phone-width;
    }

    .lyric-expanded, .overview-shown {
        .dots-tips-custom-subfield {
            right: -@dots-tips-phone-width;
        }
    }
}

.dots-tips-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 @dots-tips-padding;

    background-color: #efd;

    .dots-tips-button:first-child {
        margin-right: @dots-tips-margin;
    }
}

.dots-icon, .tips-icon {
    background-color: #dbb;
}
