@overview-toggle-width: 100px;
@overview-toggle-height: @overview-toggle-width * 1.5;

@overview-toggle-laptop-width:  @app-large-icon-diameter + @app-thin-margin * 2;
@overview-toggle-laptop-height: @overview-toggle-laptop-width * 1.5;

@overview-toggle-tablet-width: @app-tablet-large-icon-diameter + @app-thin-margin * 2;
@overview-toggle-tablet-height: @overview-toggle-laptop-width * 1.5;

@overview-toggle-mini-width: @app-mini-large-icon-diameter + @app-thin-margin * 2;
@overview-toggle-mini-height: @overview-toggle-mini-width * 1.5;

@overview-toggle-phone-width: @app-icon-diameter + @app-thin-margin * 2;
@overview-toggle-phone-height: @overview-toggle-phone-width * 1.5;

@dots-subfield-margin: 16px;
@dots-subfield-phone-margin: 8px;

@toggle-animation-duration: 0.2s;

@dots-overview-padding: 8px;

// In main field.
.dots-overview-subfield {
    position: relative;
    padding: @dots-overview-padding 0;

    // Override subfield height. Let flex-grow take care of height.
    height: 0;
    flex-grow: 1;

    display: flex;

    // Ensure overview is below lyrics.
    z-index: @dots-overview-subfield-z-index;
}

// Toggle container.
.dots-overview-toggle-section {
    position: relative;
    width: @overview-toggle-width;

    transition: margin-left @toggle-animation-duration;
    margin-left: 0;

    // Ensure toggle button is above its popup container.
    z-index: @overview-toggle-z-index;

    background-color: rgba(190, 210, 225, 0.5);
}

.dots-overview-toggle-section, .dots-row {
    display: flex;
    flex-direction: column;
}

.overview-toggle-button-container {
    position: relative;

    width: 100%;
    height: @overview-toggle-height;

    background-color: #d84;
}

.overview-toggle-button {
    position: absolute;
    width: 100%;
    height: 100%;
}

// Hidden to left when is logue, or annotation shown.
.is-logue, .annotation-shown, .dots-shown {
    .dots-overview-toggle-section {
        margin-left: -@overview-toggle-width;
    }
}

.dots-row {
    position: relative;
    flex-grow: 1;

    padding: @dots-overview-padding 0;
}

.dots-toggle-button-block {
    width: 100%;
    display: flex;
    margin-left: 0;

    padding-left: @app-thin-margin;
    align-items: center;

    transition: margin 0.2s;

    .button-icon {
        background-color: purple;
    }
}

.overview-shown {
    .dots-toggle-button-block {
        margin-left: -@overview-toggle-width;
    }
}

.dots-subfield {
    position: absolute;
    left: 0;
    margin-left: -@dots-subfield-margin;
    margin-top: @dots-subfield-margin / 2;

    transition: margin-left 0.2s, transform 0.2s;
    transform: translateX(-100%);

    box-shadow: -2px 2px 8px 8px @box-shadow-colour;
    background-color: white;
}

.dots-shown {
    .dots-subfield {
        margin-left: @dots-subfield-margin;
        transform: translateX(0);
    }
}

// Responsive rules.
.is-desktop {

    // Overview is at the top in desktop.
    .overview-toggle-button-container, .overview.popup-content-wrapper {
        top: 0;
    }

    &.laptop-width {

        .dots-overview-toggle-section {
            width: @overview-toggle-laptop-width;
        }

        .overview-toggle-button-container {
            height: @overview-toggle-laptop-height;
        }
    }
}

.is-mobile {

    // In mobile, also hidden to left when lyric expanded.
    .lyric-expanded {
        .dots-overview-toggle-section {
            margin-left: -@overview-toggle-tablet-width;
        }
    }

    .dots-overview-toggle-section {
        width: @overview-toggle-tablet-width;
    }

    .overview-toggle-button-container {
        height: @overview-toggle-tablet-height;
    }

    // Overview and dots toggle are at the bottom in tablet and mini.
    &:not(.phone-width) {

        .overview.popup-wrapper {
            bottom: 0;
        }

        .dots-overview-toggle-section, .dots-row {
            flex-direction: column-reverse;
        }

        .dots-subfield {
            top: auto;
            bottom: 0;

            margin-top: 0;
            margin-bottom: @dots-subfield-margin / 2;
        }
    }

    &.mini-width {
        .dots-overview-toggle-section {
            width: @overview-toggle-mini-width;
        }

        .overview-toggle-button-container {
            height: @overview-toggle-mini-height;
        }
    }

    &.phone-width {

        .dots-shown {
            .dots-subfield {
                margin-left: @dots-subfield-phone-margin;
            }
        }

        // In phone, also hidden to left when overview is shown.
        .overview-shown {
            .dots-overview-toggle-section {
                margin-left: -@overview-toggle-phone-width;
            }
        }

        .dots-overview-toggle-section {
            width: @overview-toggle-phone-width;
        }

        // Inside overview bubble.
        .overview-toggle-section {
                position: relative;
                width: @overview-toggle-phone-width;
                height: @overview-toggle-phone-height;
                margin-right: 10px;
                float: left;
        }

        .overview-toggle-button-container {
            height: @overview-toggle-phone-height;
        }

        .overview-toggle-button-container, .overview.popup-wrapper {
            min-width: 100%;
        }
    }
}
