@dots-tips-padding: @app-thin-margin;
@dots-tips-margin: 10px;

@dots-tips-width: 2 * @app-large-icon-diameter + 2 * @dots-tips-padding + @dots-tips-margin;
@dots-tips-tablet-width: 2 * @app-tablet-large-icon-diameter + 2 * @dots-tips-padding + @dots-tips-margin;
@dots-tips-mini-width: 2 * @app-mini-large-icon-diameter + 2 * @dots-tips-padding + @dots-tips-margin;
@dots-tips-phone-width: 2 * @app-icon-diameter + 2 * @dots-tips-padding + @dots-tips-margin;

.dots-tips-menu-subfield {
    min-width: @dots-tips-width;
}

.tablet-width {
    .dots-tips-menu-subfield {
        min-width: @dots-tips-tablet-width;
    }
}

.mini-width {
    .dots-tips-menu-subfield {
        min-width: @dots-tips-mini-width;
    }
}

/****/

.dots-tips-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @dots-tips-padding;

    background-color: #efd;
}

/****/

.dots-tips-menu-subfield {
    .dots-tips-section {
        .dots-tips-button:first-child {
            margin-right: @dots-tips-margin;
        }
    }
}

.dots-tips-custom-subfield {
    z-index: @dots-tips-z-index;
    position: absolute;
    bottom: @nav-height;
    height: @dots-tips-width;

    .dots-tips-section {
        flex-direction: column;

        .dots-tips-button:first-child {
            margin-bottom: @dots-tips-margin;
        }
    }
}

.is-mobile {

    .dots-tips-custom-subfield {
        right: 0;
        .transition(bottom 0.2s ease);
        bottom: @collapsed-lyric-section-height;

        .dots-tips-section {
            position: absolute;
            .transition(right 0.2s ease);
            right: 0;
            bottom: 0;
        }
    }

    .is-logue, .heightless-lyric {
        .dots-tips-custom-subfield {
            bottom: 0;
        }
    }

    &.tablet-width {
        .is-song {
            &.lyric-expanded, &.overview-shown {
                .dots-tips-section {
                    right: -@dots-tips-tablet-width;
                }
            }
        }
    }

    &.mini-width {
        .is-song {
            &.lyric-expanded, &.overview-shown {
                .dots-tips-section {
                    right: -@dots-tips-mini-width;
                }
            }
        }
    }

    &.phone-width {
        .is-song {
            &.lyric-expanded, &.overview-shown {
                .dots-tips-section {
                    right: -@dots-tips-phone-width;
                }
            }
        }
    }
}

.dots-icon, .tips-icon {
    background-color: #dbb;
}
