// TODO: Make general icon class.

.dots-tips-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    background-color: #efd;

    .dots-tips-button:first-child {
        margin-right: 5px;
    }
}

.dots-icon, .tips-icon {
    background-color: #dbb;
}
