@dot-interactable-diameter: 64px;
@dot-container-padding: @dot-interactable-diameter / 6;

@dot-interactable-mini-diameter: @app-large-icon-diameter;
@dot-container-mini-padding: @dot-interactable-mini-diameter / 6;

@dot-interactable-phone-diameter: @app-large-icon-diameter;
@dot-container-phone-padding: @dot-interactable-mini-diameter / 7;

.dots-block {
    .dot-diameter-mixin;
    display: flex;
    width: auto;
    height: 100%;

    &.interactable {

        .dot-container {
            position: relative;

            &.dot-enabled {

                &.interacted {

                    .tooltip-container {
                        visibility: visible;
                    }

                    .tooltip {
                        animation: tooltipGrow 0.25s;
                        opacity: 1;
                        transform: scale(1);
                    }

                    .dot {
                        animation: transformLightBounce 0.15s;
                        background-color: orange;
                    }
                }

                &.uninteracted {

                    .tooltip-container {
                        .transition(~"bottom 0s ease 0.25s, visibility 0s ease 0.25s");
                        bottom: 0;
                        visibility: hidden;
                    }

                    .tooltip {
                        animation: tooltipShrink 0.1s;
                        opacity: 0;
                    }
                }
            }
        }

        .dot {
            // TODO: Improve state styling.
            &.background { opacity: 0.35; }
            &.disabled { background-color: lightGray; }
            &.deselected { background-color: lightGray; }

            // TODO: Obviously.
            &.access-outlined {
                background-color: violet;
            }
        }
    }
}

.dot-interactable {
    // These are overridden by dots in subfield.
    width: 100%;
    height: 100%;
    top: 0;

    z-index: @dot-interactable-z-index;
    position: absolute;
    border-radius: 50%;

    // FIXME: Not great.
    &:active { background-color: red; opacity: 0.2; }
}

.dots-subfield {
    border: 1px solid red;
    .dot-diameter-mixin(@dot-interactable-diameter, 0);

    .dots-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        // Monitor through tablet will have five dots per row.
        width: 5 * (@dot-interactable-diameter + 2 * @dot-container-padding);
    }

    .dot-container {
        padding: @dot-container-padding;
        box-sizing: border-box;
    }

    .dot-interactable {
        width: @dot-interactable-diameter;
        height: @dot-interactable-diameter;
        top: @dot-container-padding;
    }
}

.tooltip-container {
    z-index: @dot-tooltip-z-index;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 95%;

    .tooltip {
        // FIXME: Improve styling, of course.
        text-align: center;
        padding: 5px 15px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 1px 2px 2px lightGray;
    }
}

.dot-text-container {
    text-align: center;
    font-size: 0.75em;
}

.mini-width {
    .dots-subfield {

        .dots-block {
            // Mini will have three dots per row.
            width: 3 * (@dot-interactable-diameter + 2 * @dot-container-padding);
        }
    }
}

.phone-width {
    .dots-subfield {
        .dot-diameter-mixin(@dot-interactable-phone-diameter, 0);

        .dots-block {
            // Phone will have three dots per row.
            width: 3 * (@dot-interactable-phone-diameter + 2 * @dot-container-phone-padding);
        }

        .dot-container {
            padding: @dot-container-phone-padding;
        }

        .dot-interactable {
            width: @dot-interactable-phone-diameter;
            height: @dot-interactable-phone-diameter;
            top: @dot-container-phone-padding;
        }
    }
}

.dot {
    border-radius: 50%;
    .transition(background-color 0.15s ease);

    // TODO: Key styling.
    &.pun { background-color: @pun-dot-colour; }
    &.backstory { background-color: @backstory-dot-colour; }
    &.narrative { background-color: @narrative-dot-colour; }
    &.foreshadow { background-color: @foreshadow-dot-colour; }
    &.music { background-color: @music-dot-colour; }
    &.pulpit { background-color: @pulpit-dot-colour; }
    &.wiki { background-color: @wiki-dot-colour; }
    &.portal { background-color: @portal-dot-colour; }
    &.title { background-color: white; }
    &.afterword { background-color: #8d8; }

    .dot-text {
        font-size: .6em;
    }
}
