@stanza-block-margin: 10px;
@odd-verse-colour: #fefefa;
@even-verse-colour: #fcfce9;
@selected-verse-colour: #dfd;

@lyric-verse-size: 1em;
@lyric-title-size: 1.5em;

@mini-verse-size: 0.95em;
@mini-title-size: 1.2em;

@phone-verse-size: 0.9em;
@phone-title-size: 1em;

.lyrics-block {
    padding: 20px 0;
    line-height: 150%;

    a {
        font-weight: normal;
    }

    .lyrics-unit {
        display: flex;
        justify-content: center;
        font-size: @lyric-verse-size;

        &.subsequent {
            margin-top: -@stanza-block-margin * 1.5;
        }

        &:not(:last-child) {
            margin-bottom: @lyric-verse-size;
        }
    }

    .title-unit {
        font-size: @lyric-title-size;

        .stanza {

            @title-verse-padding: 15px;

            .verse {
                padding: @title-verse-padding;

                .lyrics-audio-button-block {
                    margin-top: -@title-verse-padding;
                }
            }
        }
    }

    .stanza-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /**
         * Limit width of stanzas when lyric column is full width of screen.
         * This is necessary for Vegan Proclamation. This value doesn't affect
         * the layout anywhere else.
         */
        max-width: 720px;

        &:not(:first-child) {
            margin-left: @stanza-block-margin;
        }

        &.side {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &.bottom-only {
                justify-content: flex-end;
            }
        }

        .sub-block {
            margin-top: -2.5px;
            display: flex;
        }
    }

    .stanza {

        // TODO: Better styling, of course.
        &.title { border: 2px solid brown; }
        &.instrumental { border: 2px solid #f4f; }
        &.refrain { border: 2px solid tomato; }
        &.verses { border: 2px solid orange; }
        &.prechorus { border: 2px solid green; }
        &.chorus { border: 2px solid blue; }
        &.postchorus { border: 2px solid violet; }
        &.bridge { border: 2px solid purple; }
        &.coda { border: 2px solid tan; }
        &.rhyme { border: 2px solid turquoise; }
        &.response { border: 2px solid cadetBlue; }
        &.backing { border: 2px solid skyBlue; }
    }

    .verse {
        @verse-padding: 10px;
        padding-left: @verse-padding;
        padding-right: @verse-padding;

        &:first-child {
            padding-top: @verse-padding;
            .lyrics-audio-button-block {
                margin-top: -@verse-padding;
                .lyrics-audio-button-child {
                    padding-top: @verse-padding;
                }
            }
        }
        &:last-child {
            padding-bottom: @verse-padding;
            .lyrics-audio-button-block {
                .lyrics-audio-button-child {
                    padding-bottom: @verse-padding;
                }
            }
        }

        &.odd {
            background-color: @odd-verse-colour;
        }
        &.even {
            background-color: @even-verse-colour;
        }

        .transition(color 0.1s ease);

        &.interactable {
            position: relative;

            // Play button hover styling.
            &:not(.selected) {
                &:hover {
                    color: green;

                    .lyrics-audio-button {
                        opacity: 1;
                        font-size: 1em;
                        animation: fontSnapback 0.16s ease;
                    }

                    .small-lyrics-audio-button {
                        opacity: 0;
                    }
                }
            }

            &.selected {
                .lyrics-audio-button {
                    font-size: 1em;
                }
            }
        }
    }

    @lyrics-audio-button-block-width: 1.5em;

    .lyrics-audio-button-block {
        position: absolute;
        height: 100%;
        width: @lyrics-audio-button-block-width;
        left: -@lyrics-audio-button-block-width / 2;

        // Either button or icon.
        .lyrics-audio-button-child {
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            font-size: 1em;
            display: flex;
            justify-content: center;
            align-items: center;

            .transition(opacity 0.5s ease);
            .transition(font 0.1s ease);
        }

        .small-lyrics-audio-button {
            position: absolute;
        }

        .lyrics-audio-button {
            position: relative;
            font-size: 0.1em;
            opacity: 0;
            z-index: @lyrics-audio-button-z-index;
        }

        // .play-icon {
        //     color: black;
        // }
    }

    .verse.selected {
        .lyrics-audio-button {
            opacity: 1;
        }
    }

    .custom {
        @side-padding: 15%;
        @overlap-margin: 20px;

        &.left {
            padding-right: @side-padding;
        }
        &.right {
            padding-left: @side-padding;
        }
        &.overlap {
            margin-top: -@overlap-margin;
        }
    }
}

// Make font size smaller in mini and phone.
.mini-width {
    .lyrics-unit, .verse-bar-block, .annotation-card {
        font-size: @mini-verse-size;
    }

    .title-unit, .annotation-title {
        font-size: @mini-title-size;
    }
}

.phone-width {
    .lyrics-unit, .verse-bar-block, .annotation-card {
        font-size: @phone-verse-size;
    }

    .title-unit, .annotation-title {
        font-size: @phone-title-size;
    }
}

/**
 * Styling for selected verse is only applicable when the verse bar is hidden.
 * TODO: Make styling better, and animate.
 */
.verse-bar-hidden {
    .verse.interactable.selected {
        color: blue;
        background-color: @selected-verse-colour;
    }
}

.double-lines-block {
    display: flex;
    justify-content: space-between;
}

// Single right column should be text-aligned to right.
.single-column {
    .double-lines-block {
        &.hidden-left {
            flex-direction: row-reverse;
        }
    }
}

.line {
    @hanging-indent-width: 1.5em;
    @centre-edge-margin: 15%;

    &.left {
        text-indent:-@hanging-indent-width;
        padding-left: @hanging-indent-width;
    }

    &.centre {
        width: 100%;
        text-indent: 0;
        padding-left: 0;
        text-align: center;
    }

    &.right {
        // If both columns show, have a single gutter between them.
        &:not(:first-child) {
            margin-left: @field-padding;
        }

        /**
         * Styling for hanging indent with right-aligned text. The hidden
         * last letter is a stupid hack to prevent rtl from switching the
         * order of the last letter.
         */
        text-indent:-@hanging-indent-width;
        padding-right: @hanging-indent-width;
        direction: rtl;
        &:after {
            content: 'a';
            opacity: 0;
            font-size: 0;
            line-height: 0;
        }
    }
}

.verse .anchor-block, .portal-anchor {

    white-space: nowrap;

    // Underline anchor tag.
    .underline-bar {
        position: absolute;
        width: 100%;
        height: 35%;
        bottom: 0;
        left: 0;
    }

    &:not(.portal-anchor) {
        text-shadow:
            -@text-shadow-offset -@text-shadow-offset @text-shadow-blur @odd-verse-colour,
            @text-shadow-offset -@text-shadow-offset @text-shadow-blur @odd-verse-colour,
            -@text-shadow-offset @text-shadow-offset @text-shadow-blur @odd-verse-colour,
            @text-shadow-offset @text-shadow-offset @text-shadow-blur @odd-verse-colour;

        .underline-bar {
            background-color: mix(gray, white, 15%);
        }

        &.enabled {
            .underline-bar {
                background-color: mix(@lyric-link-colour, white, 25%);
            }
        }
    }

    &.portal-anchor {
        .underline-bar {
            background-color: @portal-text-colour;
        }
    }
}

.verse.even .anchor-block {
    text-shadow:
    -@text-shadow-offset -@text-shadow-offset @text-shadow-blur @even-verse-colour,
    @text-shadow-offset -@text-shadow-offset @text-shadow-blur @even-verse-colour,
    -@text-shadow-offset @text-shadow-offset @text-shadow-blur @even-verse-colour,
    @text-shadow-offset @text-shadow-offset @text-shadow-blur @even-verse-colour;
}

.verse.selected .anchor-block {
    text-shadow:
    -@text-shadow-offset -@text-shadow-offset @text-shadow-blur @selected-verse-colour,
    @text-shadow-offset -@text-shadow-offset @text-shadow-blur @selected-verse-colour,
    -@text-shadow-offset @text-shadow-offset @text-shadow-blur @selected-verse-colour,
    @text-shadow-offset @text-shadow-offset @text-shadow-blur @selected-verse-colour;
}
