.lyric-column {
    transition: height 0.2s;
}

.is-song {
    .lyric-column {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: @lyric-column-z-index;
    }
}

.lyric-column-animatable {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    display: flex;
    justify-content: center;

    transition: opacity 0.2s, transform 0.2s;

    background-color: #ddeeff;
}

.is-song {
    .lyric-column-animatable {
        // opacity: 1;
        transform: scale(1);
    }
}

.is-logue {
    .lyric-column-animatable {
        opacity: 0;
        transform: scale(1.3);
    }
}

.lyric-button-block {
    position: absolute;
    padding: @app-thin-margin;

    background-color: gray;
    transition: transform 0.2s;

    .button-background {
        background-color: orange;
    }
}

.lyric-column {
    .lyric-button-block {
        z-index: @lyric-column-button-z-index;
    }
}

.lyrics-section {
    width: 100%;
    overflow-y: scroll;
    padding: 0 5px;
}

.lyrics-block {
    padding: 20px 0;
    line-height: 150%;

    a {
        font-weight: normal;
    }
}

@lyric-button-side-padding: 17px;
@lyric-button-top-padding: 8.5px;

.lyric-column {
    .lyric-button-block {
        top: @lyric-button-top-padding;
    }

    .ear-button-block {
        // Needed to expand properly in Chrome.
        right: @lyric-button-side-padding;
    }

    .expand-button-block {
        left: @lyric-button-side-padding;
    }
}

.centre-field {
    .expand-button-block {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) scale(1);
    }
}

.is-logue, .lyric-expanded, .overview-shown, .dots-shown, .annotation-shown {
    .centre-field {
        .expand-button-block {
            transform: translateX(-50%) scale(0);
        }
    }
}

.lyric-collapsed {
    .lyric-column {
        .expand-button-block {
            transform: scale(0);
        }
    }
}

.is-desktop {
    .lyric-column {
        width: @golden-cord-width;
    }

    &.laptop-width {
        .lyric-column {
            width: @uncanny-valley-width;
        }
    }
}

.is-mobile {
    .lyric-column {
        height: @collapsed-lyric-section-height;
        width: 100%;
        bottom: 0;
    }

    .lyric-expanded {
        &.is-song {
            .lyric-column {
                height: ~"calc(100% - @{menu-height})";
            }
        }
    }

    .heightless-lyric {
        .lyric-column {
            height: 0;
        }
    }

    @phone-lyric-column-subtraction: @menu-phone-height + @audio-banner-custom-subfield-height + @audio-banner-custom-subfield-padding * 2;

    &.phone-width {
        .lyric-expanded {
            &.is-song {
                .lyric-column {
                    height: ~"calc(100% - @{phone-lyric-column-subtraction})";
                }
            }
        }
    }
}
