.lyrics-block {
    @lyric-verse-size: 1em;
    font-size: @lyric-verse-size;
    line-height: 150%;

    a {
        font-weight: normal;
    }

    .lyrics-unit {
        display: flex;
        justify-content: center;

        &.title-unit {

            .main {
                font-size: 1.5em;

                .verse {
                    padding: 15px;
                }
            }
        }

        &:not(:last-child) {
            margin-bottom: @lyric-verse-size;
        }
    }

    .anchor-block {
        white-space: nowrap;

        @colour: @song-field-colour;
        @offset: 0.75px;
        @blur: 0;
        text-shadow:
        -@offset -@offset @blur @colour,
        @offset -@offset @blur @colour,
        -@offset @offset @blur @colour,
        @offset @offset @blur @colour;

        // Underline anchor tag.
        .underline-bar {
            position: absolute;
            width: 100%;
            height: 35%;
            bottom: 0;
            left: 0;
            background-color: mix(gray, white, 15%);
        }

        &.enabled {
            .underline-bar {
                background-color: mix(@lyric-link-colour, white, 25%);
            }
        }
    }

    .stanza-block {
        display: flex;
        flex-direction: column;
        align-items: center;

        @stanza-block-margin: 10px;
        &:not(:first-child) {
            margin-left: @stanza-block-margin;
        }

        &.subsequent {
            margin-top: -@stanza-block-margin;
        }

        &.side {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &.bottom-only {
                justify-content: flex-end;
            }
        }

        &.dot {
            &.shared {
                @shared-dot-diameter: 1.5em;
                .dot-diameter-mixin(@shared-dot-diameter);
                display: flex;
                flex-direction: row;
                align-items: center;
            }

            &.only {
                @only-dot-diameter: 2em;
                .dot-diameter-mixin(@only-dot-diameter);
            }

            .stanza {
                border-radius: 50%;
            }
        }

        .sub-block {
            margin-top: -2.5px;
            display: flex;
        }
    }


    .stanza {
        box-shadow: 0 1px 2px 2px @box-shadow-colour;

        // TODO: Better styling, of course.
        &.title { border: 2px solid brown; }
        &.refrain { border: 2px solid tomato; }
        &.verses { border: 2px solid orange; }
        &.prechorus { border: 2px solid green; }
        &.chorus { border: 2px solid blue; }
        &.postchorus { border: 2px solid violet; }
        &.bridge { border: 2px solid purple; }
        &.outro { border: 2px solid tan; }
        &.rhyme { border: 2px solid turquoise; }
        &.response { border: 2px solid cadetBlue; }
        &.backing { border: 2px solid skyBlue; }

        .verse {
            transition: color 0.1s ease;

            &.interactable:not(.selected) {
                &:hover {
                    color: green;
                }
            }

            &.selected {
                color: blue;
            }

            @verse-padding: 10px;
            padding-left: @verse-padding;
            padding-right: @verse-padding;

            &:first-child {
                padding-top: @verse-padding;
            }

            &:last-child {
                padding-bottom: @verse-padding;
            }

            &:nth-child(odd) {
                background-color: #fefefa;
            }
            &:nth-child(even) {
                background-color: #fcfce9;
            }
        }
    }

    .play-button-container {
        position: relative;

        // FIXME: Improve styling, of course.
        .play-button-block {
            display: flex;
            flex-direction: row;
            position: absolute;
            left: -55px;
            top: -5px;

            .play-button {
                padding: 5px 15px;
                background-color: white;
                border-radius: 5px;
                box-shadow: 0 1px 2px 2px lightGray;
                opacity: 0;

                &.hovered, &.selected {
                    transition: opacity 0.1s ease 0.2s;
                    opacity: 1;
                }
            }
        }
    }

    .custom {
        @side-padding: 15%;
        @overlap-margin: 20px;

        &.left {
            padding-right: @side-padding;
        }
        &.right {
            padding-left: @side-padding;
        }
        &.overlap {
            margin-top: -@overlap-margin;
        }
    }
}

.double-lines-block {
    display: flex;
    justify-content: space-between;
}

.line {
    @hanging-indent-width: 1.5em;
    @centre-edge-margin: 15%;

    &.left {
        text-indent:-@hanging-indent-width;
        padding-left: @hanging-indent-width;
    }

    &.centre {
        width: 100%;
        text-indent: 0;
        padding-left: 0;
        text-align: center;
    }

    &.right {
        // Single gutter between far left and right columns.
        margin-left: @field-padding;

        /**
         * Styling for hanging indent with right-aligned text. The hidden
         * last letter is a stupid hack to prevent rtl from switching the
         * order of the last letter.
         */
        text-indent:-@hanging-indent-width;
        padding-right: @hanging-indent-width;
        direction: rtl;
        &:after {
            content: 'a';
            opacity: 0;
            font-size: 0;
            line-height: 0;
        }
    }
}
