@lyric-button-padding: 10px;

.live {

    .lyrics-section {
        width: 100%;
        overflow-y: scroll;
        padding: 0 5px;
    }
}

.lyric-column {
    bottom: 0;
    display: flex;
    justify-content: center;

    // This fixes the issue of being unable to scroll between stanzas.
    z-index: @lyric-column-z-index;

    background-color: #88d;

    // TODO: This hides the accessed section highlighting, which is fine, since it's temporary anyway.
    overflow: hidden;

    .lyric-button-block {
        top: 0;
        z-index: @lyric-column-button-z-index;
    }
}

// Includes expand button block in main field.
.lyric-button-block {
    position: absolute;
    padding: @lyric-button-padding;
    background-color: gray;
}

.expand-button-block.in-main {
    .transition(right 0.2s ease);
    bottom: 0;
    right: 0;
}

.is-logue {
    .expand-button-block.in-main {
        .transition(right 0.2s ease);
        bottom: 0;
        right: -@app-icon-diameter - @lyric-button-padding * 2;
    }
}

.expand-button-block:not(.in-main) {
    // Accommodate scrollbar.
    right: 17px;
}

.ear-button-block {
    // Needed to expand properly in Chrome.
    left: 0;
}

.lyric-icon {
    background-color: orange;
}

.monitor-width, .laptop-width {

    // TODO: Needs animation for hiding lyric column in logue for monitor and laptop widths.

    // TODO: Making lyric column widths constant. Do I like this better?

    .lyric-column {
        position: relative;
        // .transition(right 0.2s ease);
        right: 0;

        height: 100%;
        width: @golden-cord-width;
    }

    .is-logue {
        .lyric-column {
            right: -@golden-cord-width;
        }
    }

    &.laptop-width {
        .lyric-column {
            width: @uncanny-valley-width;
        }

        .is-logue {
            .lyric-column {
                right: -@uncanny-valley-width;
            }
        }
    }
}

.tablet-width, .mini-width, .phone-width {

    .lyric-column {
        position: absolute;
        height: @collapsed-lyric-section-height;
        width: 100%;

        .transition(height 0.2s ease);
    }

    .lyric-expanded {
        &:not(.is-logue) {
            .lyric-column {
                height: ~"calc(100% - @{menu-height-mini-tablet})";
            }
        }
    }

    .heightless-lyric {
        .lyric-column {
            height: 0;
        }
    }

    &.phone-width {
        .lyric-expanded {
            &:not(.is-logue) {
                .lyric-column {
                    height: ~"calc(100% - @{menu-height-phone})";
                }
            }
        }
    }
}

.is-logue {
    .lyric-column {
        height: 0;
    }
}
