@stanza-block-margin: 10px;
@selected-verse-colour: #dfd;

.annotation-title {
    font-size: @mini-title-size;
}

// Make font size smaller in mini and phone.
.mini-width {
    .lyrics-unit, .verse-bar-block, .annotation-card {
        font-size: @mini-verse-size;
    }

    .title-unit {
        font-size: @mini-title-size;
    }
}

.phone-width {
    .lyrics-unit, .verse-bar-block, .annotation-card {
        font-size: @phone-verse-size;
    }

    .title-unit, .annotation-title {
        font-size: @phone-title-size;
    }
}

.double-lines-block {
    display: flex;
    justify-content: space-between;
}

// Single right column should be text-aligned to right.
.hidden-left {
    flex-direction: row-reverse;
}

.line {
    @centre-edge-margin: 15%;

    &.left {
        text-indent:-@hanging-indent-width;
        padding-left: @hanging-indent-width;
    }

    &.centre {
        width: 100%;
        text-indent: 0;
        padding-left: 0;
        text-align: center;
    }

    &.right {
        // If both columns show, have a single gutter between them.
        &:not(:first-child) {
            margin-left: @field-padding;
        }

        /**
         * Styling for hanging indent with right-aligned text. The hidden
         * last letter is a stupid hack to prevent rtl from switching the
         * order of the last letter.
         */
        text-indent:-@hanging-indent-width;
        padding-right: @hanging-indent-width;
        direction: rtl;
        &:after {
            content: 'a';
            opacity: 0;
            font-size: 0;
            line-height: 0;
        }
    }
}
