@verse-bar-extra-margin: 16px;

@verse-bar-desktop-margins: @lyric-button-side-padding * 2 + @app-large-icon-diameter * 2 + @verse-bar-extra-margin;

@verse-bar-tablet-margins: @lyric-button-side-padding * 2 + @app-tablet-large-icon-diameter * 2 + @verse-bar-extra-margin;

@verse-bar-mini-margins: @lyric-button-side-padding * 2 + @app-mini-large-icon-diameter * 2 + @verse-bar-extra-margin;

@verse-bar-phone-margins: @lyric-button-side-padding * 2 + @app-icon-diameter * 2 + @verse-bar-extra-margin;

// TODO: Make this styling better, of course.
.verse-bar-block {
    position: absolute;

    width: ~"calc(100% - @{verse-bar-desktop-margins})";
    z-index: @selected-verse-bar-z-index;

    @verse-bar-margin: 8px;

    &.above {
        top: -50px;
        margin-top: @verse-bar-margin;
        transition: top 0.15s, transform 0.15s;
    }

    &.below {
        bottom: -50px;
        margin-bottom: @verse-bar-margin;
        transition: bottom 0.15s, transform 0.15s;

        .verse-bar {
            box-shadow: 0 0 12px 5px @darker-box-shadow-colour;
        }
    }

    transform: scale(0);
}

.tablet-width {
    .verse-bar-block {
        width: ~"calc(100% - @{verse-bar-tablet-margins})";
    }
}

.mini-width {
    .verse-bar-block {
        width: ~"calc(100% - @{verse-bar-mini-margins})";
    }
}

.phone-width {
    .verse-bar-block {
        width: ~"calc(100% - @{verse-bar-phone-margins})";
    }
}

.verse-above {
    .verse-bar-block {
        &.above {
            top: 0;
            transform: scale(1);
        }
    }
}

.verse-below {
    .verse-bar-block {
        &.below {
            bottom: 0;
            transform: scale(1);
        }
    }
}

.verse-bar {
    max-width: 100%;

    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;

    box-shadow: 0 3px 12px 5px @darker-box-shadow-colour;

    .text-span {
        z-index: @verse-bar-text-z-index;
    }
}
