@stanza-block-margin: 10px;
@selected-verse-colour: #dfd;

.annotation-title {
    font-size: @mini-title-size;
}

// Make font size smaller in mini and phone.
.mini-width {
    .lyric-unit, .verse-bar-block, .annotation-card {
        font-size: @mini-verse-size;
    }

    .title-unit {
        font-size: @mini-title-size;
    }
}

.phone-width {
    .lyric-unit, .verse-bar-block, .annotation-card {
        font-size: @phone-verse-size;
    }

    .title-unit, .annotation-title {
        font-size: @phone-title-size;
    }
}

.double-lines-block {
    display: flex;
    justify-content: space-between;
}

.line {
    @centre-edge-margin: 15%;

    // transition: padding @animation-default,
    //             margin @animation-default,
    //             width @animation-default,
    //             max-width @animation-default,
    //             max-height @animation-default;

    &.left, &.right {
        &.hidden {
            // Override max width set programmatically in verse line.
            // max-width: 0 !important;
            width: 0;
            overflow: hidden;
            padding: 0;
            max-height: 0;

            &.right:not(:first-child) {
                margin: 0;
            }
        }
    }

    &.left {
        text-indent:-@hanging-indent-width;
        padding-left: @hanging-indent-width;
    }

    // Not needed?
    // &.centre {
    //     width: 100%;
    //     text-indent: 0;
    //     padding-left: 0;
    //     text-align: center;
    // }

    &.right {
        // If both columns show, have a single gutter between them.
        &:not(:first-child) {
            margin-left: @field-padding;
        }

        /**
         * Styling for hanging indent with right-aligned text. The hidden
         * last letter is a stupid hack to prevent rtl from switching the
         * order of the last letter.
         */
        text-indent:-@hanging-indent-width;
        padding-right: @hanging-indent-width;
        direction: rtl;
        &:after {
            content: 'a';
            opacity: 0;
            font-size: 0;
            line-height: 0;
        }
    }
}

// Single right column should not have margin left.
.hidden-left {
    .line {
        &.right {
            &:not(:first-child) {
                margin-left: 0;
            }
        }
    }
}
