@stanza-block-margin: 10px;
@odd-verse-colour: #fefefa;
@even-verse-colour: #fcfce9;
@selected-verse-colour: #dfd;

@lyric-verse-size: 1em;
@lyric-title-size: 1.5em;

@mini-verse-size: 0.95em;
@mini-title-size: 1.2em;

@phone-verse-size: 0.9em;
@phone-title-size: 1em;

// Make font size smaller in mini and phone.
.mini-width {
    .lyrics-unit, .verse-bar-block, .annotation-card {
        font-size: @mini-verse-size;
    }

    .title-unit, .annotation-title {
        font-size: @mini-title-size;
    }
}

.phone-width {
    .lyrics-unit, .verse-bar-block, .annotation-card {
        font-size: @phone-verse-size;
    }

    .title-unit, .annotation-title {
        font-size: @phone-title-size;
    }
}

.double-lines-block {
    display: flex;
    justify-content: space-between;
}

// Single right column should be text-aligned to right.
.single-column {
    .double-lines-block {
        &.hidden-left {
            flex-direction: row-reverse;
        }
    }
}

.line {
    @hanging-indent-width: 1.5em;
    @centre-edge-margin: 15%;

    &.left {
        text-indent:-@hanging-indent-width;
        padding-left: @hanging-indent-width;
    }

    &.centre {
        width: 100%;
        text-indent: 0;
        padding-left: 0;
        text-align: center;
    }

    &.right {
        // If both columns show, have a single gutter between them.
        &:not(:first-child) {
            margin-left: @field-padding;
        }

        /**
         * Styling for hanging indent with right-aligned text. The hidden
         * last letter is a stupid hack to prevent rtl from switching the
         * order of the last letter.
         */
        text-indent:-@hanging-indent-width;
        padding-right: @hanging-indent-width;
        direction: rtl;
        &:after {
            content: 'a';
            opacity: 0;
            font-size: 0;
            line-height: 0;
        }
    }
}

.verse .anchor-block, .portal-anchor {

    white-space: nowrap;

    // Underline anchor tag.
    .underline-bar {
        position: absolute;
        width: 100%;
        height: 35%;
        bottom: 0;
        left: 0;
    }

    &:not(.portal-anchor) {
        text-shadow:
            -@text-shadow-offset -@text-shadow-offset @text-shadow-blur @odd-verse-colour,
            @text-shadow-offset -@text-shadow-offset @text-shadow-blur @odd-verse-colour,
            -@text-shadow-offset @text-shadow-offset @text-shadow-blur @odd-verse-colour,
            @text-shadow-offset @text-shadow-offset @text-shadow-blur @odd-verse-colour;

        .underline-bar {
            background-color: mix(gray, white, 15%);
        }

        &.enabled {
            .underline-bar {
                background-color: mix(@lyric-link-colour, white, 25%);
            }
        }
    }

    &.portal-anchor {
        .underline-bar {
            background-color: @portal-text-colour;
        }
    }
}

.verse.even .anchor-block {
    text-shadow:
    -@text-shadow-offset -@text-shadow-offset @text-shadow-blur @even-verse-colour,
    @text-shadow-offset -@text-shadow-offset @text-shadow-blur @even-verse-colour,
    -@text-shadow-offset @text-shadow-offset @text-shadow-blur @even-verse-colour,
    @text-shadow-offset @text-shadow-offset @text-shadow-blur @even-verse-colour;
}

.interactivated, .hoverable:hover {
    &.verse .anchor-block {
        text-shadow:
        -@text-shadow-offset -@text-shadow-offset @text-shadow-blur @audio-neutral-colour,
        @text-shadow-offset -@text-shadow-offset @text-shadow-blur @audio-neutral-colour,
        -@text-shadow-offset @text-shadow-offset @text-shadow-blur @audio-neutral-colour,
        @text-shadow-offset @text-shadow-offset @text-shadow-blur @audio-neutral-colour;
    }
}

.is-playing {
    .verse.audio-colour .anchor-block {
        text-shadow:
        -@text-shadow-offset -@text-shadow-offset @text-shadow-blur @audio-play-colour,
        @text-shadow-offset -@text-shadow-offset @text-shadow-blur @audio-play-colour,
        -@text-shadow-offset @text-shadow-offset @text-shadow-blur @audio-play-colour,
        @text-shadow-offset @text-shadow-offset @text-shadow-blur @audio-play-colour;
    }
}

.is-paused {
    .verse.audio-colour .anchor-block {
        text-shadow:
        -@text-shadow-offset -@text-shadow-offset @text-shadow-blur @audio-pause-colour,
        @text-shadow-offset -@text-shadow-offset @text-shadow-blur @audio-pause-colour,
        -@text-shadow-offset @text-shadow-offset @text-shadow-blur @audio-pause-colour,
        @text-shadow-offset @text-shadow-offset @text-shadow-blur @audio-pause-colour;
    }
}
