// FIXME: Have as much calculation as possible done in Less, not calc.

@full-vw: 100vw;

// These values *must* be the same in constants.js.
@nav-icon-diameter: 44px;
@nav-book-padding: 4px; // Left and right padding for each book.
@nav-last-title-margin: 50px; // Margin to accommodate last title.
@nav-toggle-width: @nav-icon-diameter + @nav-book-padding * 2;

@double-icons: 21;
@single-icons: 12;

@double-units: 26;
@single-units: 16;

@medium-unit: 2;
@large-unit: 3;

@double-column-nav-minus-unit-width: @double-icons * @nav-icon-diameter + 10 * @nav-book-padding + @nav-last-title-margin;
@double-column-nav-minus-icon-width: 10 * @nav-book-padding + @nav-last-title-margin + @double-units * 1px;
@single-column-nav-minus-unit-width: @single-icons * @nav-icon-diameter + 8 * @nav-book-padding + @nav-last-title-margin;
@single-column-nav-minus-icon-width: 8 * @nav-book-padding + @nav-last-title-margin + @single-units * 1px;

/**
 * Total width of wide desktop nav field is:
 * 21 * @nav-icon-diameter +
 * 10 * @nav-book-padding +
 * 1 * @nav-last-title-margin
 *
 * Margins are as follows:
 * nav toggle right margin: 1 * 3 units
 * between books margin: 1 * 3 units
 * between logue and book margin: 2 * 2 units
 * between buttons: 16 * 1 unit
 * Total units: 26 units
 */
@monitor-small-unit: ~"calc((@{full-vw} - @{golden-cord-width} - @{double-column-nav-minus-unit-width}) / @{double-units})";
@monitor-medium-unit: ~"calc((@{full-vw} - @{golden-cord-width} - @{double-column-nav-minus-unit-width}) / @{double-units} * @{medium-unit})";
@monitor-large-unit: ~"calc((@{full-vw} - @{golden-cord-width} - @{double-column-nav-minus-unit-width}) / @{double-units} * @{large-unit})";

@monitor-songs-book-offset: ~"calc(@{full-vw} - @{golden-cord-width} - (@{double-icons} - 1) * @{nav-icon-diameter} - 8 * @{nav-book-padding} - @{nav-last-title-margin} - (@{double-units} - @{medium-unit}) * ((@{full-vw} - @{golden-cord-width} - @{double-column-nav-minus-unit-width}) / @{double-units}))";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 * 745px + 21 * 44px + 10 * 4px + 50px + 26px = 1785px
 *
 * Each unit is a pixel. There are 26 units, so 26 pixels.
 * To be divided amongst 21 icons.
 */
@monitor-shrink-icon: ~"calc((@{full-vw} - @{golden-cord-width} - @{double-column-nav-minus-icon-width}) / @{double-icons})";

@monitor-shrink-songs-book-offset: ~"calc(@{medium-unit} * 1px + @{nav-book-padding} * 2 + (@{full-vw} - @{golden-cord-width} - @{double-column-nav-minus-icon-width}) / @{double-icons})";

@monitor-shrink-toggle-width: ~"calc(@{nav-book-padding} * 2 + (@{full-vw} - @{golden-cord-width} - @{double-column-nav-minus-icon-width}) / @{double-icons})";

/**
 * Breakpoint to switch to single column is when icon width is 36px.
 * 745px + 21 * 36px + 10 * 4px + 50px + 26px = 1617px
 *
 * Total width of single column desktop nav field is:
 * 12 * @nav-icon-diameter +
 * 8 * @nav-book-padding +
 * 1 * @nav-last-title-margin
 *
 * Margins are as follows:
 * nav toggle right margin: 1 * 3 units
 * between books margin: 1 * 3 units
 * between logue and book margin: 1 * 2 units
 * between buttons: 8 * 1 unit
 * Total units: 16 units
 */
@monitor-single-small: ~"calc((@{full-vw} - @{golden-cord-width} - @{single-column-nav-minus-unit-width}) / @{single-units})";
@monitor-single-medium: ~"calc((@{full-vw} - @{golden-cord-width} - @{single-column-nav-minus-unit-width}) / @{single-units} * @{medium-unit})";
@monitor-single-large: ~"calc((@{full-vw} - @{golden-cord-width} - @{single-column-nav-minus-unit-width}) / @{single-units} * @{large-unit})";

@monitor-single-songs-book-offset: ~"calc(@{full-vw} - @{golden-cord-width} - (@{single-icons} - 1) * @{nav-icon-diameter} - 6 * @{nav-book-padding} - @{nav-last-title-margin} - (@{single-units} - @{medium-unit}) * ((@{full-vw} - @{golden-cord-width} - @{single-column-nav-minus-unit-width}) / @{single-units}))";

/**
 * Monitor does not need to shrink icon for single column before screen width
 * switches to laptop at 1400px.
 *
 * Laptop width is too narrow for double column, so begin with single column.
 * Laptop follows same equation, with different lyric column width.
 */
@laptop-single-small: ~"calc((@{full-vw} - @{uncanny-valley-width} - @{single-column-nav-minus-unit-width}) / @{single-units})";
@laptop-single-medium: ~"calc((@{full-vw} - @{uncanny-valley-width} - @{single-column-nav-minus-unit-width}) / @{single-units} * @{medium-unit})";
@laptop-single-large: ~"calc((@{full-vw} - @{uncanny-valley-width} - @{single-column-nav-minus-unit-width}) / @{single-units} * @{large-unit})";

@laptop-single-songs-book-offset: ~"calc(@{full-vw} - @{uncanny-valley-width} - (@{single-icons} - 1) * @{nav-icon-diameter} - 6 * @{nav-book-padding} - @{nav-last-title-margin} - (@{single-units} - @{medium-unit}) * ((@{full-vw} - @{uncanny-valley-width} - @{single-column-nav-minus-unit-width}) / @{single-units}))";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 * 570px + 12 * 44px + 8 * 4px + 50px + 16px = 1196px
 *
 * In single column, there are 16 units, so 16 pixels.
 * To be divided amongst 12 icons.
 */
@laptop-single-shrink-icon: ~"calc((@{full-vw} - @{uncanny-valley-width} - @{single-column-nav-minus-icon-width}) / @{single-icons})";

@laptop-single-shrink-songs-book-offset: ~"calc(@{medium-unit} * 1px + @{nav-book-padding} * 2 + (@{full-vw} - @{uncanny-valley-width} - @{single-column-nav-minus-icon-width}) / @{single-icons})";

@laptop-single-shrink-toggle-width: ~"calc(@{nav-book-padding} * 2 + (@{full-vw} - @{uncanny-valley-width} - @{single-column-nav-minus-icon-width}) / @{single-icons})";

/**
 * Tablet/mini follows the same equations, without a lyric column width. Switch
 * at 1100px.
 */
@tablet-small-unit: ~"calc((@{full-vw} - @{double-column-nav-minus-unit-width}) / @{double-units})";
@tablet-medium-unit: ~"calc((@{full-vw} - @{double-column-nav-minus-unit-width}) / @{double-units} * @{medium-unit})";
@tablet-large-unit: ~"calc((@{full-vw} - @{double-column-nav-minus-unit-width}) / @{double-units} * @{large-unit})";

@tablet-songs-book-offset: ~"calc(@{full-vw} - (@{double-icons} - 1) * @{nav-icon-diameter} - 8 * @{nav-book-padding} - @{nav-last-title-margin} - (@{double-units} - @{medium-unit}) * ((@{full-vw} - @{double-column-nav-minus-unit-width}) / @{double-units}))";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 * 21 * 44px + 10 * 4px + 50px + 26px = 1040px
 */
@tablet-shrink-icon: ~"calc((@{full-vw} - @{double-column-nav-minus-icon-width}) / @{double-icons})";

@tablet-shrink-songs-book-offset: ~"calc(@{medium-unit} * 1px + @{nav-book-padding} * 2 + (@{full-vw} - @{double-column-nav-minus-icon-width}) / @{double-icons})";

@tablet-shrink-toggle-width: ~"calc(@{nav-book-padding} * 2 + (@{full-vw} - @{double-column-nav-minus-icon-width}) / @{double-icons})";

/**
 * Breakpoint to switch to single column is when icon width is 36px.
 * 21 * 36px + 10 * 4px + 50px + 26px = 872px
 */
@tablet-single-small: ~"calc((@{full-vw} - @{single-column-nav-minus-unit-width}) / @{single-units})";
@tablet-single-medium: ~"calc((@{full-vw} - @{single-column-nav-minus-unit-width}) / @{single-units} * @{medium-unit})";
@tablet-single-large: ~"calc((@{full-vw} - @{single-column-nav-minus-unit-width}) / @{single-units} * @{large-unit})";

@tablet-single-songs-book-offset: ~"calc(@{full-vw} - (@{single-icons} - 1) * @{nav-icon-diameter} - 6 * @{nav-book-padding} - @{nav-last-title-margin} - (@{single-units} - @{medium-unit}) * ((@{full-vw} - @{single-column-nav-minus-unit-width}) / @{single-units}))";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 * 12 * 44px + 8 * 4px + 50px + 16px = 626px
 */
@mini-shrink-icon: ~"calc((@{full-vw} - @{single-column-nav-minus-icon-width}) / @{single-icons})";

@mini-shrink-songs-book-offset: ~"calc(@{medium-unit} * 1px + @{nav-book-padding} * 2 + (@{full-vw} - @{single-column-nav-minus-icon-width}) / @{single-icons})";

@mini-shrink-toggle-width: ~"calc(@{nav-book-padding} * 2 + (@{full-vw} - @{single-column-nav-minus-icon-width}) / @{single-icons})";

.nav-toggle-container {
    min-width: @nav-toggle-width;
}

.lyric-expanded.is-song {
    .nav-toggle {
        right: @nav-toggle-width;
    }
}

.double-book-column {
    &.static-icon {
        .nav-toggle-container {
            margin-right: @monitor-large-unit;
        }

        .column-1 {
            .nav-book {
                &.songs {
                    left: @monitor-songs-book-offset;
                }
            }

            .nav-button:not(:last-child) {
                margin-right: @monitor-small-unit;
            }
        }

        .column-2 {
            .nav-book {
                &.songs {
                    right: @monitor-songs-book-offset;
                }
            }

            .nav-button:not(:last-child) {
                margin-left: @monitor-small-unit;
            }
        }

    }
    &.shrink-icon {
        .nav-book {
            min-width: @monitor-shrink-icon;
        }

        .column-1 {
            .nav-book {
                &.songs {
                    left: @monitor-shrink-songs-book-offset;
                }
            }
        }

        .column-2 {
            .nav-book {
                &.songs {
                    right: @monitor-shrink-songs-book-offset;
                }
            }
        }

        .nav-toggle-container {
            min-width: @monitor-shrink-toggle-width;
        }

        .lyric-expanded.is-song {
            .nav-toggle {
                right: @monitor-shrink-toggle-width;
            }
        }

        .nav-button {
            width: @monitor-shrink-icon;
        }
        .nav-icon {
            width: @monitor-shrink-icon;
            height: @monitor-shrink-icon;
        }
    }
}

.single-book-column {
    &.static-icon {
        .nav-toggle-container {
            margin-right: @monitor-single-large;
        }

        .column-shown {
            &.column-1 {
                .nav-book {
                    &.songs {
                        left: @monitor-single-songs-book-offset;
                    }
                }

                .nav-button:not(:last-child) {
                    margin-right: @monitor-single-small;
                }
            }

            &.column-2 {
                .nav-book {
                    &.songs {
                        right: @monitor-single-songs-book-offset;
                    }
                }

                .nav-button:not(:last-child) {
                    margin-left: @monitor-single-small;
                }
            }
        }
    }
}

.laptop-width {
    .single-book-column {
        &.static-icon {
            .nav-toggle-container {
                margin-right: @laptop-single-large;
            }
            .column-shown {
                &.column-1 {
                    .nav-book {
                        &.songs {
                            left: @laptop-single-songs-book-offset;
                        }
                    }

                    .nav-button:not(:last-child) {
                        margin-right: @laptop-single-small;
                    }
                }

                &.column-2 {
                    .nav-book {
                        &.songs {
                            right: @laptop-single-songs-book-offset;
                        }
                    }

                    .nav-button:not(:last-child) {
                        margin-left: @laptop-single-small;
                    }
                }
            }
        }
        &.shrink-icon {
            .nav-book {
                min-width: @laptop-single-shrink-icon;
            }

            .column-shown {
                &.column-1 {
                    .nav-book {
                        &.songs {
                            left: @laptop-single-shrink-songs-book-offset;
                        }
                    }
                }

                &.column-2 {
                    .nav-book {
                        &.songs {
                            right: @laptop-single-shrink-songs-book-offset;
                        }
                    }
                }

                .nav-button {
                    width: @laptop-single-shrink-icon;
                }
            }

            .nav-toggle-container {
                min-width: @laptop-single-shrink-toggle-width;
            }

            .lyric-expanded.is-song {
                .nav-toggle {
                    right: @laptop-single-shrink-toggle-width;
                }
            }

            .nav-icon {
                width: @laptop-single-shrink-icon;
                height: @laptop-single-shrink-icon;
            }
        }
    }
}

.tablet-width, .mini-width {
    .double-book-column {
        &.static-icon {
            .nav-toggle-container {
                margin-right: @tablet-large-unit;
            }

            .column-1 {
                .nav-book {
                    &.songs {
                        left: @tablet-songs-book-offset;
                    }
                }

                .nav-button:not(:last-child) {
                    margin-right: @tablet-small-unit;
                }
            }

            .column-2 {
                .nav-book {
                    &.songs {
                        right: @tablet-songs-book-offset;
                    }
                }

                .nav-button:not(:last-child) {
                    margin-left: @tablet-small-unit;
                }
            }
        }

        &.shrink-icon {
            .nav-book {
                min-width: @tablet-shrink-icon;
            }

            .column-1 {
                .nav-book {
                    &.songs {
                        left: @tablet-shrink-songs-book-offset;
                    }
                }
            }

            .column-2 {
                .nav-book {
                    &.songs {
                        right: @tablet-shrink-songs-book-offset;
                    }
                }
            }

            .nav-toggle-container {
                min-width: @tablet-shrink-toggle-width;
            }

            .lyric-expanded.is-song {
                .nav-toggle {
                    right: @tablet-shrink-toggle-width;
                }
            }

            .nav-button {
                width: @tablet-shrink-icon;
            }

            .nav-icon {
                width: @tablet-shrink-icon;
                height: @tablet-shrink-icon;
            }
        }
    }

    .single-book-column {
        &.static-icon {
            .nav-toggle-container {
                margin-right: @tablet-single-large;
            }

            .column-shown {
                &.column-1 {
                    .nav-book {
                        &.songs {
                            left: @tablet-single-songs-book-offset;
                        }
                    }

                    .nav-button:not(:last-child) {
                        margin-right: @tablet-single-small;
                    }
                }

                &.column-2 {
                    .nav-book {
                        &.songs {
                            right: @tablet-single-songs-book-offset;
                        }
                    }

                    .nav-button:not(:last-child) {
                        margin-left: @tablet-single-small;
                    }
                }
            }
        }
        &.shrink-icon {
            .nav-book {
                min-width: @mini-shrink-icon;
            }

            .column-shown {
                &.column-1 {
                    .nav-book {
                        &.songs {
                            left: @mini-shrink-songs-book-offset;
                        }
                    }
                }

                &.column-2 {
                    .nav-book {
                        &.songs {
                            right: @mini-shrink-songs-book-offset;
                        }
                    }
                }

                .nav-button {
                    width: @mini-shrink-icon;
                }
            }

            .nav-toggle-container {
                min-width: @mini-shrink-toggle-width;
            }

            .lyric-expanded.is-song {
                .nav-toggle {
                    right: @mini-shrink-toggle-width;
                }
            }

            .nav-icon {
                width: @mini-shrink-icon;
                height: @mini-shrink-icon;
            }
        }
    }
}
