/**
 * NOTE: The comments were written before nav toggle was changed to larger icon
 * sizes. The values are all updated and correct, however.
 */

@full-vw: 100vw;

// These values *must* be the same in constants.js.
@nav-book-padding: 4px; // Left and right padding for each book.
@nav-last-title-margin: 50px; // Margin to accommodate last title.

@double-icons: 20;
@single-icons: 11;

@double-units: 26;
@single-units: 16;

@medium-unit: 2;
@large-unit: 3;

@medium-double-units: @medium-unit / @double-units;
@large-double-units: @large-unit / @double-units;

@medium-single-units: @medium-unit / @single-units;
@large-single-units: @large-unit / @single-units;

/**
 * Total width of wide desktop nav field is:
 * 21 * @app-icon-diameter +
 * 10 * @nav-book-padding +
 * 1 * @nav-last-title-margin
 *
 * Margins are as follows:
 * nav toggle right margin: 1 * 3 units
 * between books margin: 1 * 3 units
 * between logue and book margin: 2 * 2 units
 * between buttons: 16 * 1 unit
 * Total units: 26 units
 */

@double-column-nav-golden-cord-minus-unit-width: @golden-cord-width + @double-icons * @app-icon-diameter + @app-large-icon-diameter + 10 * @nav-book-padding + @nav-last-title-margin;

@monitor-small-unit: ~"calc((@{full-vw} - @{double-column-nav-golden-cord-minus-unit-width}) / @{double-units})";
@monitor-large-unit: ~"calc((@{full-vw} - @{double-column-nav-golden-cord-minus-unit-width}) * @{large-double-units})";

@monitor-songs-book-offset-constant: -@medium-double-units * (@golden-cord-width + @double-icons * @app-icon-diameter + @app-large-icon-diameter + 10 * @nav-book-padding + @nav-last-title-margin) + @app-icon-diameter + 2 * @nav-book-padding;

@monitor-songs-book-offset: ~"calc(@{medium-double-units} * @{full-vw} + @{monitor-songs-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 * 745px + 21 * 44px + 10 * 4px + 50px + 26px = 1785px
 *
 * Each unit is a pixel. There are 26 units, so 26 pixels.
 * To be divided amongst 21 icons.
 */

@double-column-nav-minus-icon-width: 10 * @nav-book-padding + @app-large-icon-diameter + @nav-last-title-margin + @double-units * 1px;

@double-column-nav-golden-cord-minus-icon-width: @golden-cord-width + @double-column-nav-minus-icon-width;

@monitor-shrink-icon: ~"calc((@{full-vw} - @{double-column-nav-golden-cord-minus-icon-width}) / @{double-icons})";

@monitor-shrink-songs-book-offset-constant: @medium-unit * 1px + @nav-book-padding * 2 - (@golden-cord-width + 10 * @nav-book-padding + @app-large-icon-diameter + @nav-last-title-margin + @double-units) / @double-icons;

@monitor-shrink-songs-book-offset: ~"calc(@{full-vw} / @{double-icons} + @{monitor-shrink-songs-book-offset-constant})";

@monitor-shrink-toggle-width-constant: @nav-book-padding * 2 - (@golden-cord-width + 10 * @nav-book-padding + @nav-last-title-margin + @double-units * 1px) / @double-icons;

@monitor-shrink-toggle-width: ~"calc(@{full-vw} / @{double-icons} + @{monitor-shrink-toggle-width-constant})";

/**
 * Breakpoint to switch to single column is when icon width is 36px.
 * 745px + 21 * 36px + 10 * 4px + 50px + 26px = 1617px
 *
 * Total width of single column desktop nav field is:
 * 12 * @app-icon-diameter +
 * 8 * @nav-book-padding +
 * 1 * @nav-last-title-margin
 *
 * Margins are as follows:
 * nav toggle right margin: 1 * 3 units
 * between books margin: 1 * 3 units
 * between logue and book margin: 1 * 2 units
 * between buttons: 8 * 1 unit
 * Total units: 16 units
 */

@single-column-nav-golden-cord-minus-unit-width: @golden-cord-width + @single-icons * @app-icon-diameter + @app-large-icon-diameter + 8 * @nav-book-padding + @nav-last-title-margin;

@monitor-single-small: ~"calc((@{full-vw} - @{single-column-nav-golden-cord-minus-unit-width}) / @{single-units})";
@monitor-single-large: ~"calc((@{full-vw} - @{single-column-nav-golden-cord-minus-unit-width}) * @{large-single-units})";

@monitor-single-songs-book-offset-constant: -@medium-single-units * (@golden-cord-width + @single-icons * @app-icon-diameter + @app-large-icon-diameter + 10 * @nav-book-padding + @nav-last-title-margin) + @app-icon-diameter + 2 * @nav-book-padding;

@monitor-single-songs-book-offset: ~"calc(@{medium-single-units} * @{full-vw} + @{monitor-single-songs-book-offset-constant})";

/**
 * Monitor does not need to shrink icon for single column before screen width
 * switches to laptop at 1400px.
 *
 * Laptop width is too narrow for double column, so begin with single column.
 * Laptop follows same equation, with different lyric column width.
 */

@single-column-nav-uncanny-valley-minus-unit-width: @uncanny-valley-width + @single-icons * @app-icon-diameter + @app-large-icon-diameter + 8 * @nav-book-padding + @nav-last-title-margin;

@laptop-single-small: ~"calc((@{full-vw} - @{single-column-nav-uncanny-valley-minus-unit-width}) / @{single-units})";
@laptop-single-large: ~"calc((@{full-vw} - @{single-column-nav-uncanny-valley-minus-unit-width}) * @{large-single-units})";

@laptop-single-songs-book-offset-constant: -@medium-single-units * (@uncanny-valley-width + @single-icons * @app-icon-diameter + @app-large-icon-diameter + 10 * @nav-book-padding + @nav-last-title-margin) + @app-icon-diameter + 2 * @nav-book-padding;

@laptop-single-songs-book-offset: ~"calc(@{medium-single-units} * @{full-vw} + @{laptop-single-songs-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 * 570px + 12 * 44px + 8 * 4px + 50px + 16px = 1196px
 *
 * In single column, there are 16 units, so 16 pixels.
 * To be divided amongst 12 icons.
 */

@single-column-nav-minus-icon-width: 8 * @nav-book-padding + @app-large-icon-diameter + @nav-last-title-margin + @single-units * 1px;

@single-column-nav-uncanny-valley-minus-icon-width: @uncanny-valley-width + @single-column-nav-minus-icon-width;

@laptop-single-shrink-icon: ~"calc((@{full-vw} - @{single-column-nav-uncanny-valley-minus-icon-width}) / @{single-icons})";

@laptop-single-shrink-songs-book-offset-constant: @medium-unit * 1px + @nav-book-padding * 2 - (@uncanny-valley-width + 8 * @nav-book-padding + @app-large-icon-diameter + @nav-last-title-margin + @single-units) / @single-icons;

@laptop-single-shrink-songs-book-offset: ~"calc(@{full-vw} / @{single-icons} + @{laptop-single-shrink-songs-book-offset-constant})";

@laptop-single-shrink-toggle-width-constant: @nav-book-padding * 2 - (@uncanny-valley-width + 8 * @nav-book-padding + @nav-last-title-margin + @single-units * 1px) / @single-icons;

@laptop-single-shrink-toggle-width: ~"calc(@{full-vw} / @{single-icons} + @{laptop-single-shrink-toggle-width-constant})";

/**
 * Tablet/mini follows the same equations, without a lyric column width. Switch
 * at 1100px.
 */

@double-column-nav-minus-unit-width: @double-icons * @app-icon-diameter + @app-large-icon-diameter + 10 * @nav-book-padding + @nav-last-title-margin;

@tablet-small-unit: ~"calc((@{full-vw} - @{double-column-nav-minus-unit-width}) / @{double-units})";
@tablet-large-unit: ~"calc((@{full-vw} - @{double-column-nav-minus-unit-width}) * @{large-double-units})";

@tablet-songs-book-offset-constant: -@medium-double-units * (@double-icons * @app-icon-diameter + @app-large-icon-diameter + 10 * @nav-book-padding + @nav-last-title-margin) + @app-icon-diameter + 2 * @nav-book-padding;

@tablet-songs-book-offset: ~"calc(@{medium-double-units} * @{full-vw} + @{tablet-songs-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 * 21 * 44px + 10 * 4px + 50px + 26px = 1040px
 */
@tablet-shrink-icon: ~"calc((@{full-vw} - @{double-column-nav-minus-icon-width}) / @{double-icons})";

@tablet-shrink-songs-book-offset-constant: @medium-unit * 1px + @nav-book-padding * 2 - (10 * @nav-book-padding + @app-large-icon-diameter + @nav-last-title-margin + @double-units) / @double-icons;

@tablet-shrink-songs-book-offset: ~"calc(@{full-vw} / @{double-icons} + @{tablet-shrink-songs-book-offset-constant})";

@tablet-shrink-toggle-width-constant: @nav-book-padding * 2 - (10 * @nav-book-padding + @nav-last-title-margin + @double-units * 1px) / @double-icons;

@tablet-shrink-toggle-width: ~"calc(@{full-vw} / @{double-icons} + @{tablet-shrink-toggle-width-constant})";

/**
 * Breakpoint to switch to single column is when icon width is 36px.
 * 21 * 36px + 10 * 4px + 50px + 26px = 872px
 */

@single-column-nav-minus-unit-width: @single-icons * @app-icon-diameter + @app-large-icon-diameter + 8 * @nav-book-padding + @nav-last-title-margin;

@tablet-single-small: ~"calc((@{full-vw} - @{single-column-nav-minus-unit-width}) / @{single-units})";
@tablet-single-large: ~"calc((@{full-vw} - @{single-column-nav-minus-unit-width}) * @{large-single-units})";

@tablet-single-songs-book-offset-constant: -@medium-single-units * (@single-icons * @app-icon-diameter + @app-large-icon-diameter + 10 * @nav-book-padding + @nav-last-title-margin) + @app-icon-diameter + 2 * @nav-book-padding;

@tablet-single-songs-book-offset: ~"calc(@{medium-single-units} * @{full-vw} + @{tablet-single-songs-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 * 12 * 44px + 8 * 4px + 50px + 16px = 626px
 */
@mini-shrink-icon: ~"calc((@{full-vw} - @{single-column-nav-minus-icon-width}) / @{single-icons})";

@mini-shrink-songs-book-offset-constant: @medium-unit * 1px + @nav-book-padding * 2 - (8 * @nav-book-padding + @app-large-icon-diameter + @nav-last-title-margin + @single-units) / @single-icons;

@mini-shrink-songs-book-offset: ~"calc(@{full-vw} / @{single-icons} + @{mini-shrink-songs-book-offset-constant})";

@mini-shrink-toggle-width-constant: @nav-book-padding * 2 - (8 * @nav-book-padding + @nav-last-title-margin + @single-units * 1px) / @single-icons;

@mini-shrink-toggle-width: ~"calc(@{full-vw} / @{single-icons} + @{mini-shrink-toggle-width-constant})";

/**
 * Begin styles.
 */

@nav-toggle-width: @app-large-icon-diameter + @nav-book-padding * 2;

.nav-toggle-container {
    min-width: @nav-toggle-width;
}

.double-book-column {
    &.static-icon {
        .nav-toggle-container {
            margin-right: @monitor-large-unit;
        }

        .column-1 {
            .nav-book {
                &.songs {
                    left: @monitor-songs-book-offset;
                }
            }

            .nav-button:not(:last-child) {
                margin-right: @monitor-small-unit;
            }
        }

        .column-2 {
            .nav-book {
                &.songs {
                    right: @monitor-songs-book-offset;
                }
            }

            .nav-button:not(:last-child) {
                margin-left: @monitor-small-unit;
            }
        }

    }
    &.shrink-icon {
        .nav-book {
            min-width: @monitor-shrink-icon;
        }

        .column-1 {
            .nav-book {
                &.songs {
                    left: @monitor-shrink-songs-book-offset;
                }
            }
        }

        .column-2 {
            .nav-book {
                &.songs {
                    right: @monitor-shrink-songs-book-offset;
                }
            }
        }

        .nav-button {
            width: @monitor-shrink-icon;
        }
        .nav-icon {
            width: @monitor-shrink-icon;
            height: @monitor-shrink-icon;
        }
    }
}

.single-book-column {
    &.static-icon {
        .nav-toggle-container {
            margin-right: @monitor-single-large;
        }

        .column-shown {
            &.column-1 {
                .nav-book {
                    &.songs {
                        left: @monitor-single-songs-book-offset;
                    }
                }

                .nav-button:not(:last-child) {
                    margin-right: @monitor-single-small;
                }
            }

            &.column-2 {
                .nav-book {
                    &.songs {
                        right: @monitor-single-songs-book-offset;
                    }
                }

                .nav-button:not(:last-child) {
                    margin-left: @monitor-single-small;
                }
            }
        }
    }
}

.laptop-width {
    .single-book-column {
        &.static-icon {
            .nav-toggle-container {
                margin-right: @laptop-single-large;
            }
            .column-shown {
                &.column-1 {
                    .nav-book {
                        &.songs {
                            left: @laptop-single-songs-book-offset;
                        }
                    }

                    .nav-button:not(:last-child) {
                        margin-right: @laptop-single-small;
                    }
                }

                &.column-2 {
                    .nav-book {
                        &.songs {
                            right: @laptop-single-songs-book-offset;
                        }
                    }

                    .nav-button:not(:last-child) {
                        margin-left: @laptop-single-small;
                    }
                }
            }
        }
        &.shrink-icon {
            .nav-book {
                min-width: @laptop-single-shrink-icon;
            }

            .column-shown {
                &.column-1 {
                    .nav-book {
                        &.songs {
                            left: @laptop-single-shrink-songs-book-offset;
                        }
                    }
                }

                &.column-2 {
                    .nav-book {
                        &.songs {
                            right: @laptop-single-shrink-songs-book-offset;
                        }
                    }
                }

                .nav-button {
                    width: @laptop-single-shrink-icon;
                }
            }

            .nav-icon {
                width: @laptop-single-shrink-icon;
                height: @laptop-single-shrink-icon;
            }
        }
    }
}

.tablet-width, .mini-width {

    // TODO: Move these into nav.less. No longer dependent on dynamic width.
    .lyric-expanded.is-song {
        .nav-toggle-book {
            right: @nav-toggle-width;
        }
    }

    .double-book-column {
        &.static-icon {
            .nav-toggle-container {
                margin-right: @tablet-large-unit;
            }

            .column-1 {
                .nav-book {
                    &.songs {
                        left: @tablet-songs-book-offset;
                    }
                }

                .nav-button:not(:last-child) {
                    margin-right: @tablet-small-unit;
                }
            }

            .column-2 {
                .nav-book {
                    &.songs {
                        right: @tablet-songs-book-offset;
                    }
                }

                .nav-button:not(:last-child) {
                    margin-left: @tablet-small-unit;
                }
            }
        }

        &.shrink-icon {
            .nav-book {
                min-width: @tablet-shrink-icon;
            }

            .column-1 {
                .nav-book {
                    &.songs {
                        left: @tablet-shrink-songs-book-offset;
                    }
                }
            }

            .column-2 {
                .nav-book {
                    &.songs {
                        right: @tablet-shrink-songs-book-offset;
                    }
                }
            }

            .lyric-expanded.is-song {
                .nav-toggle-book {
                    right: @tablet-shrink-toggle-width;
                }
            }

            .nav-button {
                width: @tablet-shrink-icon;
            }

            .nav-icon {
                width: @tablet-shrink-icon;
                height: @tablet-shrink-icon;
            }
        }
    }

    .single-book-column {
        &.static-icon {
            .nav-toggle-container {
                margin-right: @tablet-single-large;
            }

            .column-shown {
                &.column-1 {
                    .nav-book {
                        &.songs {
                            left: @tablet-single-songs-book-offset;
                        }
                    }

                    .nav-button:not(:last-child) {
                        margin-right: @tablet-single-small;
                    }
                }

                &.column-2 {
                    .nav-book {
                        &.songs {
                            right: @tablet-single-songs-book-offset;
                        }
                    }

                    .nav-button:not(:last-child) {
                        margin-left: @tablet-single-small;
                    }
                }
            }
        }
        &.shrink-icon {
            .nav-book {
                min-width: @mini-shrink-icon;
            }

            .column-shown {
                &.column-1 {
                    .nav-book {
                        &.songs {
                            left: @mini-shrink-songs-book-offset;
                        }
                    }
                }

                &.column-2 {
                    .nav-book {
                        &.songs {
                            right: @mini-shrink-songs-book-offset;
                        }
                    }
                }

                .nav-button {
                    width: @mini-shrink-icon;
                }
            }

            .lyric-expanded.is-song {
                .nav-toggle-book {
                    right: @mini-shrink-toggle-width;
                }
            }

            .nav-icon {
                width: @mini-shrink-icon;
                height: @mini-shrink-icon;
            }
        }
    }
}
