@nav-border-radius: @nav-width / 2;

.admin {
    .nav-section {

        .progress-bar-mixin(@song-total-colour, @song-filled-colour);

        .selected {
            .progress-bar-mixin(@played-total-colour, @played-filled-colour);

            a.enabled {
                color: @song-link-colour;

                &:hover {
                    color: @song-hover-colour;
                }

                &:active {
                    color: @song-active-colour;
                }
            }
        }

        .primary-row {
            line-height: 1em;
        }
    }
}

.live {
    .nav-section {
        position: absolute;
        width: 100%;
        overflow: visible;
    }
}

// All containers.
.live-nav-block, .toggle-column, .nav-book {
    display: flex;
}

.live-nav-block {
    height: 100%;
}

.books-block {
    position: relative;

    // Total width of nav, minus toggle button block.
    // FIXME: This value is now wrong.
    // left: ~"calc(-8 * @{nav-book-padding} - 7 * @{nav-book-margin} - @{nav-book-extra-margin} - 20 * @{nav-icon-diameter})";
    width: 0;

    .transition(left 0.4s ease, width 0.5s ease);
}

.nav-expanded {
    .books-block {
        left: 0;
        width: 100%;
    }
}

.book-column-block, .book-column, .toggle-column, .nav-book:not(.nav-toggle) {
    position: absolute;
    height: 100%;
}

.book-column-block {
    &:last-child {
        margin-right: @nav-last-title-margin;
    }
}

.static-icon {
    .nav-button { width: @nav-icon-diameter; }
    .nav-icon { width: @nav-icon-diameter; height: @nav-icon-diameter; }
}

.nav-book {
    min-width: @nav-icon-diameter;
    padding: 0 @nav-book-padding;
    background-color: #48d;
    border-radius: @nav-border-radius @nav-border-radius 0 0;
}

.nav-toggle {
    border-radius: 0 @nav-border-radius 0 0;

    // FIXME: Consolidate all z-indices under single chain of constants.
    z-index: 1;

    background-color: purple;
}

.nav-button {
    position: relative;

    .nav-icon-block {
        position: absolute;
    }
}

.nav-icon-block, .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    &.nav-icon-block {
        height: 100%;
    }
}

.nav-icon {
    background-color: yellow;
    border-radius: 50%;
}

.selected {
    .nav-icon {
        background-color: orange;
    }
}

.nav-title-block {
    position: absolute;
    left: 25%;

    // FIXME: Make transform vendor friendly.
    transform: rotate(315deg);
    transform-origin: left top;
}

.tablet-width, .mini-width {
    .nav-book {
        border-radius: 0 0 @nav-border-radius @nav-border-radius;
    }

    .nav-toggle {
        border-radius: 0 0 @nav-border-radius 0;
    }

    .nav-title-block {
        transform: rotate(45deg);
        transform-origin: left bottom;
        top: 50%;
    }
}

.nav-title {
    white-space: nowrap;
    .transition(transform 0.2s ease);

    transform: scale(0);
}

.nav-expanded:not(.lyric-expanded) {
    .column-shown {
        .nav-title {
            transform: scale(1);
        }
    }
}

// Hide nav bar when lyric column is expanded.
.lyric-expanded:not(.is-logue) {
    .nav-field {
        height: 0;
    }
}

// Static margins after icons begin shrinking.
.shrink-icon {
    .book-column-block {
        &:first-child {
            margin-right: 3px;
        }
    }

    .column-shown {
        &.column-1 {
            .nav-button {
                &:not(:last-child) {
                    margin-right: 1px;
                }
            }
        }

        &.column-2 {
            .nav-button {
                &:not(:last-child) {
                    margin-left: 1px;
                }
            }
        }
    }

    .nav-toggle {
        margin-right: 3px;
    }

}

// TODO: Begin animations.
// Make toggle button disappearing action better.

.toggle-column {
    .transition(transform 0.2s ease);
}

.column-1 {
    .book-column {
        .transition(left 0.2s ease);
    }

    .nav-book {
        &.songs {
            left: 50px;
            .transition(left 0.2s ease);
        }
    }
}

.column-2 {
    right: 0;

    .book-column {
        right: 0;
        .transition(right 0.2s ease);
    }

    .nav-book {
        &.logue {
            right: 0;
        }

        &.songs {
            right: 50px;
            .transition(right 0.2s ease);
            flex-direction: row-reverse;

            .nav-icon-block {
                right: 0;
            }
        }

        &.toggle {
            right: 0;
        }
    }

    .toggle-column {
        right: 0;
    }
}

.single-book-column {
    .nav-button {
        .transition(width 0.2s ease);
    }

    .column-hidden {
        &.column-1 {
            .nav-book.songs {
                left: 0;
            }
        }

        &.column-2 {
            .nav-book.logue {
                right: 0;
            }

            .nav-book.songs {
                right: 0;
            }

        }

        .nav-button {
            width: 0;
        }

        .toggle-column {
            transform: scale(1);
        }
    }

    .column-shown {

        .toggle-column {
            transform: scale(0);
        }
    }
}

// End animations.
