@overview-toggle-width: 100px;
@overview-toggle-height: 150px;

// Subfield in main field.
.overview-subfield {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

// Toggle container.
.overview-toggle-section {
    position: relative;
    width: @overview-toggle-width;
    height: 100%;
}

.overview-toggle-button {
    position: absolute;
    display: block;
    width: 100%;
    height: @overview-toggle-height;

    // Temporary.
    background-color: #848;
}

// Popup container.
.overview-popup-container {
    position: relative;
    flex-grow: 1;
}

.overview {
    &.popup-transition-group {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;

        .popup-content-wrapper {
            position: absolute;
            min-width: 320px;
            width: 50%;
        }
    }
}

// Responsive rules.
.monitor-width, .laptop-width {

    // Overview is at the top in desktop.
    .overview-toggle-button, .overview.popup-content-wrapper {
        top: 0;
    }
}

.tablet-width, .mini-width, .phone-width {

    // Overview is at the bottom in mobile.
    .overview-toggle-button, .overview.popup-content-wrapper {
        bottom: 0;
    }

    &.phone-width {

        .overview-subfield {
            flex-direction: column-reverse;
        }

        .overview-toggle-section {
            height: @overview-toggle-height;
        }

        .overview-toggle-button, .overview.popup-content-wrapper {
            min-width: 100%;
        }
    }
}
