.live {

    .overview-toggle-section {
        width: 100px;
        height: 100%;
    }

    .overview-toggle-button {
        display: block;
        font-size: 3em;
        width: 100%;
        height: 100%;
    }

    .overview {
        &.popup-transition-group {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            padding: 5px;

            .popup-content-wrapper {
                height: 100%;
                width: 50%;
            }
        }
    }
}
