@overview-toggle-width: 100px;
@overview-toggle-height: 150px;

@overview-subfield-margin: 5px;
@overview-popup-content-wrapper-padding: 15px;

@overview-toggle-laptop-width: @overview-toggle-width / 1.5;
@overview-toggle-laptop-height: @overview-toggle-height / 1.5;

@overview-toggle-tablet-width: @overview-toggle-width / 1.7;
@overview-toggle-tablet-height: @overview-toggle-height / 1.7;

@overview-toggle-mini-width: @overview-toggle-width / 2;
@overview-toggle-mini-height: @overview-toggle-height / 2;

@overview-toggle-phone-width: @overview-toggle-width / 2.5;
@overview-toggle-phone-height: @overview-toggle-height / 2.5;

@toggle-animation-duration: 0.2s;

// In main field.
.overview-subfield {
    position: absolute;

    // Ensure overview is below lyrics.
    z-index: @overview-subfield-z-index;

    // This is necessary to avoid right scrollbar in phone width.
    width: ~"calc(100% - @{overview-subfield-margin} * 2)";
    height: ~"calc(100% - @{overview-subfield-margin} * 2)";

    margin: @overview-subfield-margin;
    display: flex;
}

.overview-logue-column {

    .overview {
        &.popup-transition-group {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: @overview-subfield-margin;
        }

        &.popup-content-wrapper {
            position: relative;
        }
    }
}

.is-song {
    .overview {
        &.popup-content-wrapper {
            // Space for speech bubble arrow. Overridden in phone width.
            margin-left: 25px;
        }
    }
}

// Toggle container.
.overview-toggle-section {
    position: relative;
    height: 100%;
    width: @overview-toggle-width;

    // Ensure toggle button is above its popup container.
    z-index: @overview-toggle-z-index;
}

// Animated container for toggle button.
.overview-toggle-button-container {
    position: absolute;
    width: 100%;
    height: @overview-toggle-height;

    .transition(margin @toggle-animation-duration ease);
    margin-left: 0;

    background-color: #d84;
}

.overview-toggle-button {
    position: absolute;
    width: 100%;
    height: 100%;
}

// Hidden to left when is logue.
.is-logue {
    .overview-toggle-button-container:not(.in-popup) {
        margin-left: ~"calc(-100% - @{overview-subfield-margin})"
    }
}

// Popup container.
.overview-popup-container {
    position: relative;
    flex-grow: 1;
}

.overview {
    &.popup-transition-group {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &.popup-content-wrapper {
        width: 75%;
        min-width: 200px;
        max-width: 450px;
        border-radius: 25px;
        padding: @overview-popup-content-wrapper-padding;

        background-color: white;
    }
}

// Responsive rules.
.monitor-width, .laptop-width {

    .overview-logue-column {
        right: 0;
        width: 50%;
        height: 100%;
    }

    // Overview is at the top in desktop.
    .overview-toggle-button-container, .overview.popup-content-wrapper {
        top: 0;
    }

    &.laptop-width {

        .overview-toggle-section {
            width: @overview-toggle-laptop-width;
        }

        .overview-toggle-button-container {
            height: @overview-toggle-laptop-height;
        }
    }
}

.tablet-width, .mini-width, .phone-width {

    // Hidden to left when lyric expanded.
    .lyric-expanded {
        .overview-toggle-button-container:not(.in-popup) {
            margin-left: ~"calc(-100% - @{overview-subfield-margin})"
        }
    }

    .overview-logue-column {
        position: absolute;

        width: 100%;
        height: 50%;
        bottom: 0;
    }

    // Overview is at the bottom in mobile.
    .overview-toggle-button-container, .overview.popup-content-wrapper {
        bottom: 0;
    }

    .overview-toggle-section {
        width: @overview-toggle-tablet-width;
    }

    .overview-toggle-button-container {
        height: @overview-toggle-tablet-height;
    }

    &.mini-width {
        .overview-toggle-section {
            width: @overview-toggle-mini-width;
        }

        .overview-toggle-button-container {
            height: @overview-toggle-mini-height;
        }
    }

    &.phone-width {
        // Hidden to left when overview is shown.
        .overview-shown {
            .overview-toggle-button-container:not(.in-popup) {
                margin-left: ~"calc(-100% - @{overview-subfield-margin})"
            }
        }

        .overview-subfield {
            flex-direction: column-reverse;

            .overview-popup-container {
                position: absolute;
                width: 100%;
                height: 100%;
            }
        }

        // Inside overview bubble.
        .overview-toggle-section {
            width: @overview-toggle-phone-width;
            height: @overview-toggle-phone-height;
            float: left;
            margin-right: 10px;
        }

        .overview-toggle-button-container {
            height: @overview-toggle-phone-height;
        }

        .overview-toggle-button-container, .overview.popup-content-wrapper {
            min-width: 100%;
        }

        .is-song {
            .overview.popup-content-wrapper {
                margin-left: 0;
            }
        }
    }
}
