.portals-block {
    display: flex;
    justify-content: center;

    color: black;
    // border: 1px solid orange;
}

.portal-block {
    // padding: 10px;
    // border: 1px solid green;

    // Accommodate foreign characters in Didi and Kyon.
    .song-title {
        line-height: 1em;
    }

    .portal-card-block {
        transform: scale(0.85);
    }
}

// Temporary styling for debugging. Final result doesn't need to be done through CSS.
.first-verse-object {
    // color: orange;
    // border: 2px dotted tomato;
}

.last-verse-object {
    // color: orange;
    // border: 1px dotted orange;
}
