.portals-block {
    display: flex;
    justify-content: center;
}

.portal-block {
    box-shadow: inset 0 2px 2px @box-shadow-colour;
    padding: 10px;
    margin: 5px;
    cursor: pointer;

    // Accommodate foreign characters in Didi and Kyon.
    .song-title {
        margin-bottom: 0.25em;
        font-size: 1em;
        color: @lyric-text-invert-colour;

        strong {
            color: @lyric-text-colour;
        }
    }

    .verse-text {
        font-size: 0.9em;
        padding: 0 0.5em;
    }

    .text-shadow-mixin(@portal-block-colour);

    // .portal-card-block {
    //     transform: scale(0.85);
    //
    //     .annotation-card {
    //         background-color: #f4fff4;
    //     }
    // }
}

// These are only needed for debugging. Final result doesn't need to be done through CSS.
.first-verse-object {
    // color: orange;
    // border: 2px dotted tomato;
}

.last-verse-object {
    // color: orange;
    // border: 1px dotted orange;
}
