.row {
    position: relative;
    margin: @row-height-margin 0;

    &.primary-row {
        height: @primary-row-font-size * 1.6;
        font-size: @primary-row-font-size;
    }

    &.secondary-row {
        height: @secondary-row-font-size * 1.6;
        font-size: @secondary-row-font-size;
    }
}

.progress-bar {
    position: absolute;
    width: 0%;
    height: 100%;
    box-shadow: 0 1px 1px 1px @box-shadow-colour;

    .filled-bar {
        position: absolute;
        width: 0%;
        height: 100%;
    }
}

.text-cell-wrapper {
    @height-margin: 4px;
    @width-margin: 12px;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: @height-margin @width-margin;

    .text-cell {
        &:first-child {
            flex-grow: 1;
        }

        &.text, &.figure {
            display: flex;
            align-items: center;
        }

        &.footer, &.figure {
            text-align: right;
        }

        &.footer {
            font-size: 1.4em;
        }
    }
}