@scores-tips-padding: @app-thin-margin;
@scores-tips-margin: 10px;

@scores-tips-width: 2 * @app-large-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;
@scores-tips-tablet-width: 2 * @app-tablet-large-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;
@scores-tips-mini-width: 2 * @app-mini-large-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;
@scores-tips-phone-width: 2 * @app-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;

/****/

.scores-tips-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @scores-tips-padding;

    background-color: #efd;
}

/****/

.centre-field {
    .scores-tips-section {
        flex-direction: column;
        align-items: flex-start;

        .button:first-child {
            margin-bottom: @scores-tips-margin;
        }
    }
}

.scores-tips-menu-subfield {
    min-width: @scores-tips-width;
    .scores-tips-section {
        .button:first-child {
            margin-right: @scores-tips-margin;
        }
    }
}

.is-mobile {

    .centre-field {
        .scores-tips-section {
            position: absolute;
            transition: right 0.2s;
            right: 0;
            bottom: @dots-overview-padding;
        }
    }

    &.tablet-width {
        .scores-tips-menu-subfield {
            min-width: @scores-tips-tablet-width;
        }
    }

    &.mini-width {
        // Affects section in centre field only.
        .lyric-expanded, .overview-shown, .annotation-shown.carousel-collapsed, .dots-section-shown {
            .scores-tips-section {
                right: -@scores-tips-mini-width;
            }
        }

        .scores-tips-menu-subfield {
            min-width: @scores-tips-mini-width;
        }
    }

    &.phone-width {
        .lyric-expanded, .overview-shown, .annotation-shown.carousel-collapsed, .dots-section-shown {
            .scores-tips-section {
                right: -@scores-tips-phone-width;
            }
        }

        // In phone, section is always in centre field.
        .scores-tips-section {
            bottom: auto;
        }
    }
}

.scores-tips-section .button {

    // Ensure that these buttons are above the carousel.
    z-index: @centre-field-element-z-index;
    transition: transform 0.2s, opacity 0.2s;

    .button-background {
        background-color: #dbb;
    }
}

.is-logue, .is-song.overview-shown {
    .scores-tips-section .button {
        transform: scale(0);
        opacity: 0;
    }
}

.is-song {
    .scores-tips-section .button {
        transform: scale(1);
    }
}
