@scores-tips-padding: @app-thin-margin;
@scores-tips-margin: 10px;

@scores-tips-width: 2 * @app-large-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;
@scores-tips-tablet-width: 2 * @app-tablet-large-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;
@scores-tips-mini-width: 2 * @app-mini-large-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;
@scores-tips-phone-width: 2 * @app-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;

/****/

.scores-tips-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @scores-tips-padding;

    background-color: #efd;
}

/****/

.centre-field {
    .scores-tips-section {
        z-index: @scores-tips-z-index;
        flex-direction: column;
        align-items: flex-start;

        .scores-tips-button:first-child {
            margin-bottom: @scores-tips-margin;
        }
    }
}

.scores-tips-menu-subfield {
    min-width: @scores-tips-width;
    .scores-tips-section {
        .scores-tips-button:first-child {
            margin-right: @scores-tips-margin;
        }
    }
}

.is-mobile {

    .centre-field {
        .scores-tips-section {
            position: absolute;
            .transition(right 0.2s ease);
            right: 0;
            bottom: 0;
        }
    }

    &.tablet-width {
        .lyric-expanded, .overview-shown, .annotation-shown, .dots-shown {
            .scores-tips-section {
                right: -@scores-tips-tablet-width;
            }
        }

        .scores-tips-menu-subfield {
            min-width: @scores-tips-tablet-width;
        }
    }

    &.mini-width {
        .lyric-expanded, .overview-shown, .annotation-shown, .dots-shown {
            .scores-tips-section {
                right: -@scores-tips-mini-width;
            }
        }

        .scores-tips-menu-subfield {
            min-width: @scores-tips-mini-width;
        }
    }

    &.phone-width {
        .lyric-expanded, .overview-shown, .annotation-shown, .dots-shown {
            .scores-tips-section {
                right: -@scores-tips-phone-width;
            }
        }

        .centre-field {
            .scores-tips-section {
                bottom: auto;
            }
        }
    }
}

.is-logue {
    .scores-tips-button {
        animation: tooltipShrink 0.2s;
        transform: scale(0);
    }
}

.is-song {
    .scores-tips-button {
        animation: tooltipGrow 0.2s;
        transform: scale(1);
    }
}

.scores-icon, .tips-icon {
    background-color: #dbb;
}
