.anchor-block {
    position: relative;

    /**
     * Stupid hack to keep dots block and underline bar aligned in right column
     * when anchor breaks onto new line.
     */
    &:before {
        content: 'a';
        opacity: 0;
        font-size: 0;
        line-height: 0;
    }

    .dots-block {
        position: absolute;
        left: -@lyric-anchor-dot-diameter * 0.2;
        top: -@lyric-anchor-dot-diameter * 0.2;
    }

    // For dev purposes.
    // &.todo {
    //     color: #c00;
    //
    //     &:hover {
    //         color: #d33;
    //     }
    //
    //     &:active {
    //         color: #f66;
    //     }
    //
    //     // Make underline red.
    //     .underline-bar {
    //             background-color: mix(red, white, 50%);
    //     }
    // }
}

.text-span {
    position: relative;
    transition: color 0.2s, text-shadow 0.2s;

    color: @lyric-text-colour;
}

// Underline anchor tag.
.underline-bar {
    transition: background-color 0.15s;

    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    left: 0;
}

.lyrics-section .anchor-block, .dot-key {
    white-space: nowrap;
}

.live-app.narrative .anchor-block.narrative,
.live-app.backstory .anchor-block.backstory,
.live-app.observation .anchor-block.observation,
.live-app.pun .anchor-block.pun,
.live-app.reference .anchor-block.reference,
.live-app.songwriting .anchor-block.songwriting,
.live-app.portal .anchor-block.portal,
.live-app.afterword .anchor-block.afterword,
.anchor-block.in-dots-section,
.anchor-block.is-wiki,
.carousel-annotation-title .annotation-title,

// TODO: Consolidate dots stanza rules.
.dots-stanza {

    .underline-bar {
        background-color: @lyric-underline-disabled-colour;
    }

    &.not-in-portal:not(.selected), &.in-dots-section.is-not-interactivated, &.annotation-title:not(.selected), &.dots-stanza:not(.selected) {
        cursor: pointer;

        .text-span {
            color: @lyric-link-colour;
        }

        &:hover {
            .text-span {
                color: @lyric-hover-colour;
            }
        }

        &:active {
            .text-span {
                color: @lyric-active-colour;
            }
        }

        .underline-bar {
            background-color: @lyric-underline-enabled-colour;
        }
    }

    &.selected {
        .text-span {
            color: @selected-annotation-text-colour;
        }

        .underline-bar {
            background-color: @selected-annotation-underline-colour;
        }
    }
}

// Allow text to be selected only when slider is not being used.
.slider-not-moving {
    .text-span {
        user-select: auto;
    }
}

.annotation-section, .lyrics-section {
    // Text span and portals block should be in front of dots block.
    .text-span, .portals-block {
        z-index: @text-span-z-index;
    }
}
