.text-span {
    position: relative;
    transition: color @animation-default, text-shadow @animation-default;

    color: @lyric-text-colour;
}

.lyric-section .text-anchor-block, .dot-section-anchor {
    white-space: nowrap;
}

// Allow text to be selected only when slider is not being used.
.slider-not-moving {
    .text-span {
        user-select: auto;
    }
}

.annotation-section, .lyric-section {
    // Text span and portals block should be in front of dots block.
    .text-span, .portals-block {
        z-index: @text-span-z-index;
    }
}
