.title-menu-subfield {
    .title-section {
        height: 100%;
        width: 100%;
    }

    .title-button {
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
    }
}

.title-in-audio {
    .title-section {
        padding: 0 @title-in-audio-padding;
    }
}

.title-icon {
    background-color: #d88;
}
