.title-toggle {
    height: 100%;
    width: 100%;

    .animated-background {
        background-color: #d88;
    }
}

.title-toggle-button-container {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}

.title-in-audio {
    .title-toggle {
        padding: 0 @title-in-audio-padding;
    }
}
