.title-section {
    height: 100%;
    width: 100%;
}

.title-in-audio {
    .title-section {
        padding: 0 @title-in-audio-padding;
    }
}

.title-section {
    .button-icon {
        background-color: #d88;
    }
}
