@popup-transition-duration-in: @animation-slow;
@popup-transition-duration-out: @animation-fast;

.popup-transition-group {

    &.annotation, &.overview, &.title {
        .popup-wrapper {
            animation: bounceOut @popup-transition-duration-out;
        }

        &.visible {
            .popup-wrapper {
                animation: bounceIn @popup-transition-duration-in;
            }
        }
    }

    &.wiki, &.audio {
        .popup-wrapper {
            animation: shrinkOut @popup-transition-duration-out;
        }

        &.visible {
            .popup-wrapper {
                animation: shrinkIn @popup-transition-duration-in;
            }
        }
    }

    &.audio, &.overview, &.score, &.title, &.wiki {
        z-index: @popup-content-z-index;
    }

    transition: opacity @popup-transition-duration-out;
    opacity: 0;

    &.visible {
        transition: opacity @popup-transition-duration-in;
        opacity: 1;
    }

    &.not-displayed {
        z-index: 0;
    }
}

// For annotations, only raise z-index if overlaid.
.overlaid-annotation.annotation-shown {
    .popup-transition-group {
        &.annotation {
            z-index: @popup-content-z-index;
        }
    }
}
