@popup-transition-duration-in: @animation-duration-slow;
@popup-transition-duration-out: @animation-duration-fast;

.popup-transition-group {

    &.annotation, &.overview {
        .popup-wrapper {
            animation: bounceOut @popup-transition-duration-out;
        }

        &.visible {
            .popup-wrapper {
                animation: bounceIn @popup-transition-duration-in;
            }
        }
    }

    &.wiki {
        .popup-wrapper {
            animation: shrinkOut @popup-transition-duration-out;
        }

        &.visible {
            .popup-wrapper {
                animation: shrinkIn @popup-transition-duration-in;
            }
        }
    }

    &.annotation, &.overview, &.score, &.wiki {
        transition: opacity @popup-transition-duration-out;
        z-index: @popup-content-z-index;
        opacity: 0;

        &.visible {
            transition: opacity @popup-transition-duration-in;
            opacity: 1;
        }

        &.not-displayed {
            z-index: 0;
        }
    }
}
