.popup-transition-group {

    // Apply to score and wiki only for now. But hopefully apply it to all.
    &.score, &.wiki {
        z-index: @popup-content-z-index;
        opacity: 0;
        transition: opacity 0.15s;

        &.visible {
            opacity: 1;
            transition: opacity 0.25s;
        }

        &.not-displayed {
            z-index: 0;
        }
    }
}
