.drivingHouseLeft {
    .wallSide { fill: #8f759b; }
    .wallFront { fill: #ab8bba; }
    .leaves { fill: #376e37; }
    .trunk { fill: #8b7d56; }
}

.drivingHouseRight {
    .wallSide { fill: #8f759b; }
    .wallFront { fill: #ab8bba; }
    .leaves { fill: #376e37; }
    .trunk { fill: #8b7d56; }
}

.schoolbusExterior {
    .chassis { fill: #330; }
    .body { fill: #cc6; }
    .tire { fill: #444; }
    .hubcap { fill: #999; }
    .reflection { fill: #ccc; }
    .trim { fill: #555; }
    .door { fill: #666; }
    .window { fill: #699; }
    .windshield { fill: #9cc; }
    .roof { fill: #fff; }
    .stopLight { fill: #f33; }
    .visor { fill: #666; }
    .turnLight { fill: #c93; }
}

.schoolbusSeat {
    .cushion { fill: #567352; }
}

.backpackBennett {
    .backpackStrapLight { fill: #7ca8a8; }
    .backpackStrapDark { fill: #6f9696; }
    .backpackAdjusterDark { fill: #6a7878; }
    .backpackAdjusterLight { fill: #768585; }
    .backpackPocketMedium { fill: #598a8a; }
    .backpackDark { fill: #6ca9b5; }
    .backpackLight { fill: #75b7c4; }
    .backpackPocketLight { fill: #609696; }
    .backpackMedium { fill: #72b1bd; }
    .backpackReflector { fill: #97bdbd; }
    .backpackLightest { fill: #7abecc; }
    .backpackZipperTeeth { fill: #969ba6; }
    .backpackZipperPull { fill: #5c5f66; }
}