@import '../../../scss/constants/border';
@import '../../../scss/constants/colour';
@import '../../../scss/constants/icon';
@import '../../../scss/constants/shadow';

.PitchScroll__container {
    background-color: $colour__foreground;
    box-shadow: $boxShadow__popupView;
    border-radius: $borderRadius__wide;
}

.PitchScroll {
    position: relative;
    width: 100%;
    height: 100%;
    padding: $margin__thick * 2;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    & > :not(:last-child) {
        margin-bottom: $margin__thick * 2;
    }
}

.PitchScroll__content {
    flex-grow: 1;
    display: flex;
    align-items: center;

    & > :not(:last-child) {
        margin-right: $margin__thick * 2;
    }

    .DW__phoneOrMiniWidth
    & {
        flex-direction: column;
        & > :not(:last-child) {
            margin-right: 0;
            margin-bottom: $margin__thick;
        }
    }
}

.gradientMask__pitch {
    $gradient__pitch: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1) 96%,
        rgba(0, 0, 0, 0)
    );

    mask-image: $gradient__pitch;
}
