.buildings#{$suffix} {
    .buildingsFarthest { fill: hsl(220, 19%, 40%); }
    .buildingsFar { fill: hsl(220, 19%, 45%); }
    .buildingsNear { fill: hsl(216, 23%, 50%); }
    .buildingsNearDark { fill: hsl(216, 23%, 45%); }
}