.buildings#{$suffix} {
    .buildingsFarthest { fill: hsl(220, 19%, 54%); }
    .buildingsFar { fill: hsl(220, 21%, 50%); }
    .buildingsNear { fill: hsl(216, 23%, 46%); }
    .buildingsNearDark { fill: hsl(216, 23%, 42%); }
}