.khariFuture#{$suffix} {
    .khariShirt { fill: hsl($HUE_FUTURE, 19%, 54%); }
    .khariCollar { fill: hsl($HUE_FUTURE, 22%, 58%); }
    .khariSweater { fill: hsl($HUE_FUTURE, 37%, 60%); }
    .khariSweaterTrim { fill: hsl($HUE_FUTURE, 32%, 56%); }
    .khariShorts { fill: hsl($HUE_FUTURE, 29%, 70%); }
    .khariShoe { fill: hsl($HUE_FUTURE, 8%, 49%); }
}