$height__input: 44px;
$padding__dashboard: 10px;
$height__dashboard: $height__input + $padding__dashboard * 2;
$height__dashboard__mobile: $height__input * 2 + $padding__dashboard * 2;

.PreviewerDashboard {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $height__dashboard__mobile;
    z-index: 1;

    padding: $padding__dashboard;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media (min-width: 1000px) {
        height: $height__dashboard;
    }
}

.PreviewerDashboard__child {
    height: $height__input;
    font-size: 1.2em;
    width: 100%;

    @media (min-width: 1000px) {
        font-size: 1.5em;
        width: auto;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.Previewer__main {
    position: absolute;
    padding: 0 $padding__dashboard $padding__dashboard;
    top: $height__dashboard__mobile;
    width: 100%;

    @media (min-width: 1000px) {
        top: $height__dashboard;
    }
}

.Previewer__mainFullHeight {
    display: flex;
    justify-content: center;
    height: calc(100% - #{$height__dashboard__mobile});

    @media (min-width: 1000px) {
        height: calc(100% - #{$height__dashboard});
    }
}

.Previewer__mainScrollHorizontal {
    width: auto;
    justify-content: flex-start;
}

.Previewer__mainScrollVertical {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}