.elliottSmithPoster {
    .frame {
        fill: #daeaed;
    }

    .stripeRed {
        fill: #60384c;
    }

    .stripeBlue {
        fill: #505f75;
    }

    .pants {
        fill: #514d5b;
    }

    .pantsDisplayLine {
        stroke: #26254c;
    }

    .pantsOverlapLine {
        stroke: #3b407a;
    }

    .skin {
        fill: #d1baae;
    }

    .skinOverlapLine {
        stroke: #736357;
    }

    .shirt {
        fill: #af9880;
    }

    .shirtCreaseLine {
        stroke: #7f6a5c;
    }

    .hair {
        fill: #564f3e;
    }

    .hairOverlapLine {
        stroke: #383838;
    }

    .hoodie {
        fill: #4f566d;
    }

    .hoodieOverlapLine {
        stroke: #373770;
    }

    .hoodieDisplayLine {
        stroke: #363572;
    }

    .hoodieFoldLine {
        stroke: #18435b;
    }

    .zipperDisplayLine {
        stroke: #d3d3d3;
    }
}

.nasAlbum {
    .frame {
        fill: #6a8589;
    }

    .street {
        fill: #5c6168;
    }

    .buildingNearFront {
        fill: #914141;
    }

    .buildingNearSide {
        fill: #773030;
    }

    .buildingMiddleFront {
        fill: #914141;
    }

    .buildingMiddleSide {
        fill: #773030;
    }

    .buildingRearFront {
        fill: #914141;
    }

    .buildingRearSide {
        fill: #773030;
    }

    .skin {
        fill: #736357;
    }

    .skinOverlapLine {
        stroke: #534741;
    }

    .shirt {
        fill: #d16a30;
    }

    .hair {
        fill: #1a1a1a;
    }
}