.nasAlbum {
    .frame {
        fill: #6a8589;
    }

    .street {
        fill: #5c6168;
    }

    .buildingNearFront {
        fill: #914141;
    }

    .buildingNearSide {
        fill: #773030;
    }

    .buildingMiddleFront {
        fill: #914141;
    }

    .buildingMiddleSide {
        fill: #773030;
    }

    .buildingRearFront {
        fill: #914141;
    }

    .buildingRearSide {
        fill: #773030;
    }

    .skin {
        fill: #736357;
    }

    .skinOverlapLine {
        stroke: #534741;
    }

    .shirt {
        fill: #d16a30;
    }

    .hair {
        fill: #1a1a1a;
    }
}