.hospitalLinens#{$suffix} {
    .hospitalPillow { fill: hsl($hue__hospital__linens, 19%, 75%); }
    .hospitalBlanket { fill: hsl($hue__hospital__linens + 10, 19%, 62%); }
    .hospitalBlanketInner { fill: hsl($hue__hospital__linens + 10, 14%, 54%); }
}
