.AccessField {
    filter: $dropShadow__accessLetter;
}

.key {
    .AccessField
    & {
        fill: #ffffe6;
    }
}

.keyEdgeLine {
    .AccessField
    & {
        stroke: rgba(100, 100, 100, 0.7);
        stroke-width: 0.5px;
    }
}