// In main field.
.dots-overview-subfield {
    position: relative;
    padding: @dots-overview-padding 0;

    // Override subfield height. Let flex-grow take care of height.
    height: 0;
    flex-grow: 1;

    display: flex;

    // Ensure this is below lyrics but above popup wrappers.
    z-index: @dots-overview-subfield-z-index;
}

// Toggle container.
.dots-overview-toggle-section {
    position: relative;
    width: @overview-toggle-width;

    transition: opacity @toggle-animation-duration,
                margin-left @toggle-animation-duration;

    opacity: 1;
    margin-left: 0;

    background-color: rgba(190, 210, 225, 0.5);
}

.dots-overview-toggle-section, .dots-toggle-button-container {
    display: flex;
    flex-direction: column;
}

.overview-toggle-button-container {
    position: relative;

    width: 100%;
    height: @overview-toggle-height;

    // Ensure toggle button is above its popup container and the carousel.
    z-index: @centre-field-element-z-index;

    .icon-canvas {
        background-color: #d84;
    }
}

// Hidden to left when is logue, or annotation shown and carousel hidden.
.is-logue, .annotation-shown.nav-expanded, .dots-section-shown, .tips-shown {
    .dots-overview-toggle-section {
        opacity: 0;
        margin-left: -@overview-toggle-width;
    }
}

.dots-subfield {
    position: absolute;
    left: 0;
    opacity: 0;
    margin-left: -@dots-subfield-margin;
    margin-top: @dots-subfield-margin / 2;
    z-index: @dots-overview-section-z-index;

    // TODO: Ideal for dots section to fade to halfway left, then move all the way out to prevent user interaction.
    transition: opacity @animation-default,
                margin-left @animation-slow,
                transform @animation-slow;

    transform: translateX(-100%);

    box-shadow: @dots-subfield-box-shadow;
    background-color: @odd-verse-colour;
}

.is-song {
    &.dots-section-shown {
        .dots-subfield {
            opacity: 1;
            margin-left: @dots-subfield-margin;
            transform: translateX(0);
        }
    }
}

// Responsive rules.
.is-desktop {

    &.laptop-width {

        .dots-overview-toggle-section {
            width: @overview-toggle-laptop-width;
        }

        .overview-toggle-button-container {
            height: @overview-toggle-laptop-height;
        }
    }
}

.is-mobile {

    // In mobile, also hidden to left when lyric expanded.
    &.lyric-expanded {
        .dots-overview-toggle-section {
            opacity: 0;
            margin-left: -@overview-toggle-tablet-width;
        }
    }

    .dots-overview-toggle-section, .carousel-toggle-button-block {
        width: @overview-toggle-tablet-width;
    }

    // Overview and dots toggle are at the bottom in tablet and mini.
    &:not(.phone-width) {

        .dots-overview-subfield {

            .overview.popup-wrapper {
                bottom: 0;
            }
        }

        .dots-overview-toggle-section, .dots-toggle-button-container {
            flex-direction: column-reverse;
        }

        .dots-subfield {
            top: auto;
            bottom: 0;

            margin-top: 0;
            margin-bottom: @dots-subfield-margin / 2;
        }
    }
}
