.audio-banner-custom-subfield {
    position: relative;
    top: 0;
    height: @audio-banner-custom-subfield-height;
    z-index: @custom-audio-banner-z-index;

    transition: top @animation-default;

    // Arbitrary values;
    padding: @audio-banner-custom-subfield-padding 8px;

    .audio-banner-block {
        width: 100%;
    }
}
