.progressChart#{$suffix} {
    .frame { fill: hsl(57, 27%, 69%); }
    .sheetTopRight { fill: hsl(295, 37%, 76%); }
    .sheetTopLeft { fill: hsl(144, 43%, 70%); }
    .blank { fill: hsl(60, 7%, 95%); }
    .progress { fill: hsl(13, 69%, 61%); }
    .columnHeaderRight { fill: hsl(288, 61%, 82%); }
    .columnHeaderLeft { fill: hsl(235, 61%, 82%); }
    .rowHeaderEven { fill: hsl(160, 59%, 80%); }
    .rowHeaderOdd { fill: hsl(105, 27%, 74%); }
    .chart { fill: hsl(60, 13%, 86%); }
    .numeral { stroke: hsl(0, 0%, 27%); }
    .pushpin { fill: hsl(173, 45%, 72%); }
}