@import '../../../scss/constants/icon';
@import '../../../scss/constants/lyric';
@import '../../../scss/constants/overview';
@import '../../../scss/constants/transition';
@import '../../../scss/constants/zIndex';

.CarouselToggle {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: $MARGIN_THIN;

    display: flex;
    justify-content: center;

    margin-left: -$width__overviewToggle;

    .RW__carouselToggleShowable
    .TrW__isSongChangeDone
    &,
    .ShW__tips__nav
    &,
    .ShW__tips__carousel
    & {
        margin-left: 0;
    }

    /**
     * When annotation is selected, carousel switches z-index with lyric. So
     * carousel toggle should have same z-index as lyric to always show above
     * carousel.
     */
    z-index: $zIndex__lyricColumn;

    .DW__userAgentDesktop
    & {
        transition:
            margin $transitionDuration__fast,
            bottom $transitionDuration__fast,
            box-shadow $transitionDuration__fast;
    }

    .DW__desktopWidth
    .PlW__song
    .ShW__carouselShown:not(.ShW__tipsShown)
    & {
        bottom: $margin__scrollBar;
    }

    .DW__mobileWidth
    & {
        top: 0;
        bottom: auto;
    }
}
