// .sandDarkest { fill: hsl($HUE_SAND, 22%, 37%); }
// .sandDarker { fill: hsl($HUE_SAND, 22%, 42%); }
// .sandDark { fill: hsl($HUE_SAND, 22%, 47%); }
.sandMediumDark { fill: hsl($HUE_SAND, 22%, 52%); }
// .sandMedium { fill: hsl($HUE_SAND, 22%, 57%); }
.sandMediumLight { fill: hsl($HUE_SAND, 22%, 62%); }
// .sandLight { fill: hsl($HUE_SAND, 22%, 67%); }

.nightTime .nightTime#{$suffix} {
    .sandMediumDark { fill: hsl($HUE_SAND, 12%, 42%); }
}