.clubDoorOpen {
    .handle { fill: hsl(43, 5%, 28%); }
}

.dishroomDoor {
    .stainlessSteel { fill: hsl(206, 16%, 69%); }
}

.loadingDockDoor {
    .trimBlack { fill: hsl(60, 35%, 14%); }
    .trimYellow { fill: hsl(60, 44%, 55%); }
    .awning { fill: hsl(284, 20%, 36%); }
}

.nurseDoor {
    .cross { fill: hsl(10, 47%, 49%); }
}

.porchDoor {
    .mailSlotFrame { fill: hsl(47, 40%, 42%); }
    .mailSlotLid { fill: hsl(46, 41%, 45%); }
}
