.dollar#{$suffix} {
    .dollarBelow { fill: hsl(105, 18%, 37%); }
    .dollarEdge { fill: hsl(104, 18%, 51%); }
    .dollarCentre { fill: hsl(105, 25%, 81%); }
    .dollarSeal { fill: hsl(57, 29%, 61%); }
    .dollarPortrait { fill: hsl(56, 11%, 69%); }
}