@import '../../../scss/constants/icon';
@import '../../../scss/constants/lyric';

.mainFlexContainer {
    padding-top: $margin__thick;
    display: flex;

    .VW__desktopWidth.VW__cannotCarouselShow
    &,
    .VW__miniOrTabletWidth.VW__canCarouselNavMount
    & {
        padding-bottom: $margin__scrollBar;
    }

    .VW__phoneWidth
    & {
        padding-top: $MARGIN_THIN;
    }
}

.mainFlexContainer__side {
    align-items: flex-start;

    .VW__desktopWidth.VW__cannotCarouselShow
    &,
    .VW__miniOrTabletWidth.VW__canCarouselNavMount
    & {
        align-items: flex-end;
    }
}

.mainFlexContainer__right {
    flex-direction: row-reverse;
}
