.nestor#{$suffix} {
    .nestorShirt { fill: hsl(0, 2%, 54%); }
    .nestorJacketDark { fill: hsl(0, 2%, 25%); }
    .nestorJacket { fill: hsl(0, 1%, 34%); }
    .nestorJacketLight { fill: hsl(0, 1%, 39%); }
    .nestorPants { fill: hsl(102, 10%, 41%); }
    .nestorBoot { fill: hsl(240, 2%, 33%); }

    &.jogger {
        .sweatband { fill: hsl(191, 29%, 65%); }
        .shirt { fill: hsl(72, 29%, 72%); }
        .shorts { fill: hsl(207, 9%, 40%); }
        .shoe { fill: hsl(220, 27%, 59%); }
    }
}