.paperBag#{$suffix} {
    .bagFront { fill: hsl(30, 27%, 59%); }
    .bagSideMedium { fill: hsl(29, 19%, 47%); }
    .bagSideDark { fill: hsl(31, 19%, 50%); }
    .bagSideLight { fill: hsl(31, 20%, 52%); }
    .bagFlapBelow { fill: hsl(30, 23%, 56%); }
    .bagFlapAbove { fill: hsl(30, 32%, 63%); }
}