@font-face {
    font-family: Neuton;
    src: url('../../assets/fonts/Neuton/Neuton-Regular.ttf');
}

@font-face {
    font-family: PT Sans Narrow;
    src: url('../../assets/fonts/pt_sans/PTN57F.ttf');
}

@font-face {
    font-family: Rancho;
    src: url('../../assets/fonts/Rancho/Rancho-Regular.ttf');
}

@import './classes/animation';
@import './classes/button';
@import './classes/dom';
@import './classes/dot';
@import './classes/font';
@import './classes/global';
@import './classes/gradient';
@import './classes/iframe';
@import './classes/mixin';
@import './classes/shadow';

@import './presences/style';
