.flatRedDarker { fill: hsl(0, 33%, 42%); }
.flatRedDark { fill: hsl(0, 33%, 47%); }
.flatRedMediumDark { fill: hsl(0, 33%, 52%); }
.flatRedMedium { fill: hsl(0, 33%, 57%); }
.flatRedMediumLight { fill: hsl(0, 33%, 62%); }
.flatRedLight { fill: hsl(0, 33%, 67%); }
.flatRedLighter { fill: hsl(0, 33%, 72%); }

.flatOrangeDark { fill: hsl(30, 33%, 47%); }
.flatOrangeMedium { fill: hsl(30, 33%, 57%); }
.flatOrangeMediumLight { fill: hsl(30, 33%, 62%); }
.flatOrangeLighter { fill: hsl(30, 33%, 72%); }

.flatAmberDarker { fill: hsl(45, 33%, 42%); }
.flatAmberDark { fill: hsl(45, 33%, 47%); }
.flatAmberMediumDark { fill: hsl(45, 33%, 52%); }
.flatAmberMedium { fill: hsl(45, 33%, 57%); }
.flatAmberLight { fill: hsl(45, 33%, 67%); }
.flatAmberLightest { fill: hsl(45, 33%, 77%); }

.flatYellowDarker { fill: hsl(60, 33%, 42%); }
.flatYellowDark { fill: hsl(60, 33%, 47%); }
.flatYellowMediumDark { fill: hsl(60, 33%, 52%); }
.flatYellowMedium { fill: hsl(60, 33%, 57%); }
.flatYellowMediumLight { fill: hsl(60, 33%, 62%); }
.flatYellowLighter { fill: hsl(60, 33%, 72%); }
.flatYellowLightest { fill: hsl(60, 33%, 77%); }

.flatChartreuseMedium { fill: hsl(90, 33%, 57%); }
.flatChartreuseMediumLight { fill: hsl(90, 33%, 62%); }
.flatChartreuseLight { fill: hsl(90, 33%, 67%); }

.flatGreenDarker { fill: hsl(120, 33%, 42%); }
.flatGreenDark { fill: hsl(120, 33%, 47%); }
.flatGreenMediumDark { fill: hsl(120, 33%, 52%); }
.flatGreenMedium { fill: hsl(120, 33%, 57%); }
.flatGreenMediumLight { fill: hsl(120, 33%, 62%); }
.flatGreenLight { fill: hsl(120, 33%, 67%); }
.flatGreenLighter { fill: hsl(120, 33%, 72%); }

.flatTurquoiseMediumDark { fill: hsl(150, 33%, 52%); }
.flatTurquoiseMedium { fill: hsl(150, 33%, 57%); }
.flatTurquoiseMediumLight { fill: hsl(150, 33%, 62%); }
.flatTurquoiseLight { fill: hsl(150, 33%, 67%); }

.flatTealMedium { fill: hsl(180, 33%, 57%); }
.flatTealLight { fill: hsl(180, 33%, 67%); }
.flatTealLighter { fill: hsl(180, 33%, 72%); }

.flatBlueDark { fill: hsl(210, 33%, 47%); }
.flatBlueMediumDark { fill: hsl(210, 33%, 52%); }
.flatBlueMedium { fill: hsl(210, 33%, 57%); }
.flatBlueMediumLight { fill: hsl(210, 33%, 62%); }
.flatBlueLight { fill: hsl(210, 33%, 67%); }
.flatBlueLighter { fill: hsl(210, 33%, 72%); }
.flatBlueLightest { fill: hsl(210, 33%, 77%); }

.flatIndigoMedium { fill: hsl(240, 33%, 57%); }

.flatPurpleDarker { fill: hsl(270, 33%, 42%); }
.flatPurpleDark { fill: hsl(270, 33%, 47%); }
.flatPurpleMediumDark { fill: hsl(270, 33%, 52%); }
.flatPurpleMedium { fill: hsl(270, 33%, 57%); }
.flatPurpleMediumLight { fill: hsl(270, 33%, 62%); }
.flatPurpleLight { fill: hsl(270, 33%, 67%); }
.flatPurpleLighter { fill: hsl(270, 33%, 72%); }

.flatMagentaMedium { fill: hsl(300, 33%, 57%); }
.flatMagentaLighter { fill: hsl(300, 33%, 72%); }

.flatMaroonDark { fill: hsl(330, 33%, 47%); }
.flatMaroonMedium { fill: hsl(330, 33%, 57%); }
.flatMaroonLight { fill: hsl(330, 33%, 67%); }

.darkenDefault .darken#{$suffix} {
    .flatRedDarker { fill: hsl(0, 17%, 27%); }
    .flatRedDark { fill: hsl(0, 17%, 29%); }
    .flatRedMediumDark { fill: hsl(0, 17%, 32%); }
    .flatRedMedium { fill: hsl(0, 17%, 34%); }
    .flatRedLight { fill: hsl(0, 17%, 39%); }
    .flatOrangeMedium { fill: hsl(30, 17%, 34%); }
    .flatAmberLight { fill: hsl(45, 17%, 39%); }
    .flatAmberLightest { fill: hsl(45, 17%, 44%); }
    .flatChartreuseMedium { fill: hsl(90, 17%, 34%); }
    .flatGreenLight { fill: hsl(120, 17%, 39%); }
    .flatTealMedium { fill: hsl(180, 17%, 34%); }
    .flatTealLight { fill: hsl(180, 17%, 39%); }
    .flatBlueDark { fill: hsl(210, 17%, 29%); }
    .flatBlueMedium { fill: hsl(210, 17%, 34%); }
    .flatBlueMediumLight { fill: hsl(210, 17%, 39%); }
    .flatBlueLightest { fill: hsl(210, 17%, 44%); }
    .flatPurpleMediumDark { fill: hsl(270, 17%, 32%); }
    .flatPurpleMedium { fill: hsl(270, 17%, 34%); }
    .flatMaroonLight { fill: hsl(330, 17%, 39%); }
}