@VerseBar-margin: 8px;
@RM__verseBarHidden-offset: -50px;

@VerseBar-desktop-margins: @margin__scrollbar * 2 +
                            @length__iconLarge * 2 +
                            @VerseBar-margin * 2;

@VerseBar-tablet-margins: @margin__scrollbar * 2 +
                           @length__iconLarge__tablet * 2 +
                           @VerseBar-margin * 2;

@VerseBar-mini-margins: @margin__scrollbar * 2 +
                         @length__iconLarge__mini * 2 +
                         @VerseBar-margin * 2;

@VerseBar-phone-margins: @margin__scrollbar * 2 +
                          @js__length__icon * 2 +
                          @VerseBar-margin * 2;

.VerseBar-block {
    position: absolute;
    left: 50%;
    width: 100%;

    max-width: ~"calc(100% - @{VerseBar-desktop-margins})";

    .RM__tablet
    & {
        max-width: ~"calc(100% - @{VerseBar-tablet-margins})";
    }

    .RM__mini
    & {
        max-width: ~"calc(100% - @{VerseBar-mini-margins})";
    }

    .RM__phone
    & {
        max-width: ~"calc(100% - @{VerseBar-phone-margins})";
    }

    z-index: @zIndex__selectedVerseBar;

    transform: translateX(-50%) scale(0);

    &.above {
        top: @RM__verseBarHidden-offset;
        margin-top: @VerseBar-margin;
        transition: top @animationDuration__fast, transform @animationDuration__fast;

        .RM__verseBarAbove
        & {
            top: 0;
            transform: translateX(-50%) scale(1);
        }

        .VerseBar {
            box-shadow: @boxShadow__verseBar__above;
        }
    }

    &.below {
        bottom: @RM__verseBarHidden-offset;
        margin-bottom: @VerseBar-margin;
        transition: bottom @animationDuration__fast, transform @animationDuration__fast;

        .RM__verseBarBelow
        & {
            bottom: 0;
            transform: translateX(-50%) scale(1);
        }

        .VerseBar {
            box-shadow: @boxShadow__verseBar__below;
        }
    }
}

.VerseBar {
    max-width: 100%;

    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;

    transition: background-color @animationDuration__default;

    .TextSpan {
        z-index: @zIndex__verseBarText;
    }

    .RM__sliderMoving
    & {
        background-color: @colour__audioNeutral;
    }
}