@verse-padding: 10px;

@import "./VerseAudioButton.less";
@import "./VerseAudioIndicator.less";
@import "./VerseBar.less";
@import "./VerseLine.less";
@import "./VerseLinesBlock.less";

.verse {

    .lyric-block
    & {
        padding-left: @verse-padding;
        padding-right: @verse-padding;
        transition: color @animation-fast, background-color @animation-fast;
        
        &.interactable {
            padding-left: @verse-padding * 2;
        }

        .override-animate
        & {
            transition: none;
        }
    }

    &.title {
        .text-shadow-mixin(@odd-verse-colour);
    }

    .slider-not-moving
    & {
        // Default odd verse.
        &.odd {
            .text-shadow-mixin(@odd-verse-colour);

            .TextSpan {
                color: #644;
            }
        }

        // Default even verse.
        &.even {
            .text-shadow-mixin(@even-verse-colour);

            .TextSpan {
                color: #533;
            }
        }

        // Default side verse.
        &.in-side {
            .text-shadow-mixin(@odd-verse-colour);

            .TextSpan {
                color: #644;
            }
        }
    }

    .slider-moving
    & {
        // Slider side verse.
        &.in-side {
            .text-shadow-mixin(@side-slider-colour);

            .TextSpan {
                color: @side-slider-text-colour;
            }
        }

        // Slider selected verse.
        &.on-slider {
            .text-shadow-mixin(@audio-neutral-colour);
        }

        // Before slider.
        &.before-slider {
            &.odd {
                .text-shadow-mixin(@odd-before-slider-colour);

                .TextSpan {
                    color: @odd-before-slider-text-colour;
                }
            }

            &.even {
                .text-shadow-mixin(@even-before-slider-colour);

                .TextSpan {
                    color: @even-before-slider-text-colour;
                }
            }
        }

        // After slider.
        &.after-slider {
            &.odd {
                .text-shadow-mixin(@odd-after-slider-colour);

                .TextSpan {
                    color: @odd-after-slider-text-colour;
                }
            }

            &.even {
                .text-shadow-mixin(@even-after-slider-colour);

                .TextSpan {
                    color: @odd-after-slider-text-colour;
                }
            }
        }
    }
}

/**
 * Selected verse colours.
 */

.slider-not-moving {

    &.is-playing {
        &.VerseBar-hidden {
            .verse.selected {
                .text-shadow-mixin(@audio-play-colour);
            }
        }

        .VerseBar {
            background-color: @audio-play-colour;
        }
    }

    &.is-paused {
        &.VerseBar-hidden {
            .verse.selected {
                .text-shadow-mixin(@audio-pause-colour);
            }
        }

        .VerseBar {
            background-color: @audio-pause-colour;
        }
    }

    /**
     * Interactable verse has highlighted styling only when interactivated, or
     * when hovered, not selected, and with no other verse interactivated.
     */
    &.is-not-verse-interactivated .Lyric .verse.interactable:not(.selected):hover,
    &.is-verse-interactivated .Lyric .verse.interactivated {
        .text-shadow-mixin(@audio-highlight-colour);
    }
}