@import "./VerseBar/VerseBar";
@import "./VerseColour/VerseColour";
@import "./VerseNav/VerseNav";
@import "./VerseTracker/VerseTracker";

@import "./VerseLine";
@import "./VerseLines";

.Verse__inLyric {
    $border: 1px solid rgba(0, 0, 0, 0.15);

    box-sizing: border-box;
    position: relative;

    padding: 0 $paddingX__verse;
    border-left: $border;
    border-right: $border;

    // transition:
    //     color $animationDuration__fast;

    &:first-child {
        border-top: $border;

        /**
         * Since dot anchors need to overflow, we can't just apply overflow
         * hidden to the verse itself, so we need to add border radius to both
         * verse parent and verse colour child.
         */
        &,
        .VerseColour,
        .Verse__noIndexColour {
            border-top-left-radius: $borderRadius;
            border-top-right-radius: $borderRadius;
        }

        &,
        .padding__verseInLyric {
            padding-top: $paddingY__verse;
        }
    }
    &:last-child {

        border-bottom: $border;

        &,
        .VerseColour,
        .Verse__noIndexColour {
            border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
        }

        &,
        .padding__verseInLyric {
            padding-bottom: $paddingY__verse;
        }
    }

    .RM__sliderMoving
    & {
        @include mixin__textAndLinkColours($light: true);
        @include mixin__underlineColours($light: true);
    }
}

.Verse__interactable {
    position: relative;
}

.Verse__title {
    $paddingX__title: 15px;
    padding: 0 $paddingX__title;
}

.Verse__noIndexColour {
    /**
     * These styles are for verses without a verse index, that don't need the
     * added complexity of a VerseColour component, but still need to be styled
     * similarly for consistency.
     */

    .RM__sliderNotMoving
    & {
        // Default side verse.
        background-color: #ddd;
    }

    .RM__sliderMoving
    & {
        // Slider side verse.
        background-color: $bgColour__sideSlider;
    }
}