.double-lines-block {
    display: flex;
    justify-content: space-between;
}

.truncated-main {
    display: none;
}

.RM__rightLyricColumnOnly {
    .complete-main {
        display: none;
    }

    .truncated-main {
        display: inline;
    }
}

.RM__bothLyricColumnsShown {

    &.RM__desktop,
    &.RM__tablet {
        // Make font sizes smaller when showing both columns.
        .double-lines-block, .has-side {
            font-size: 0.95em;
        }
    }

    &.RM__mini {
        // In mini, only has side can still show both columns.
        .has-side {
            font-size: 0.96em * @mini-multiplier;
        }
    }
}