@import "./VerseAudio/VerseAudio.less";
@import "./VerseController/VerseController.less";
@import "./VerseLine.less";
@import "./VerseLines.less";

@paddingX__verse: 10px;
@paddingY__verse: 6px;

.Verse__inLyric {
    padding: 0 @paddingX__verse;

    &:first-child {
        &,
        .padding__verseInLyric {
            padding-top: @paddingY__verse;
        }
    }
    &:last-child {
        &,
        .padding__verseInLyric {
            padding-bottom: @paddingY__verse;
        }
    }
}

.Verse__interactable {
    position: relative;
}

.Verse__side {

    .RM__sliderNotMoving
    & {
        // Default side verse.
        background-color: @bgColour__beforeSelected__odd;
        .mixin__textShadow(@bgColour__beforeSelected__odd);

        color: #644;
    }

    .RM__sliderMoving
    & {
        // Slider side verse.
        background-color: @bgColour__sideSlider;
        .mixin__textShadow(@bgColour__sideSlider);

        color: @colour__sideSlider;
    }
}

.Verse__title {
    background-color: @bgColour__beforeSelected__odd;
    .mixin__textShadow(@bgColour__beforeSelected__odd);

    @paddingX__title: 15px;
    padding: 0 @paddingX__title;
}