.VerseLines {
    display: flex;
    justify-content: space-between;
}

.fontSize__lyricMultipleColumns {

    @fontSize__bothColumnsShown: 0.95em;

    // Make font sizes smaller when showing both columns.
    .RM__bothLyricColumnsShown.RM__desktop
    &,
    .RM__bothLyricColumnsShown.RM__tablet
    & {
        font-size: @fontSize__bothColumnsShown;
    }

    .RM__bothLyricColumnsShown.RM__mini
    & {
        font-size:
            @fontSize__bothColumnsShown
            * @multiplier__fontSize__mini;
    }
}