.VerseAudioIndicator {
    position: absolute;
    top: 0;
    left: @paddingX__verse * 0.5;
    font-size: 0.75em;
    opacity: 1;

    transition: opacity @animationDuration__default;

    .Verse__interactivated
    & {
        opacity: 0;
    }
}