.double-lines-block {
    display: flex;
    justify-content: space-between;
}

.truncated-main {
    display: none;
}

._rightLyricColumnOnly_ {
    .complete-main {
        display: none;
    }

    .truncated-main {
        display: inline;
    }
}

._bothLyricColumnsShown_ {
    
    &._desktop_,
    &._tablet_ {
        // Make font sizes smaller when showing both columns.
        .double-lines-block, .has-side {
            font-size: 0.95em;
        }
    }

    &._mini_ {
        // In mini, only has side can still show both columns.
        .has-side {
            font-size: 0.96em * @mini-multiplier;
        }
    }
}