/**
 * FIXME: It's 26px in the browser, so I've hard-coded it here. This isn't
 * great, obviously. It would be better to know where the 26px comes from.
 */
@verse-height: 26px;
@VerseAudioButton-block-extra: 3px;

@VerseAudioButton-block-width: @verse-height + @VerseAudioButton-block-extra * 2;

.VerseAudioButton-block {
    position: absolute;
    left: 0;
    height: 100%;
    width: @VerseAudioButton-block-width;

    top: 50%;
    transform: translateY(-50%);

    transition: left @animationDuration__fast;

    .Verse__interactivated
    & {
        left: -@VerseAudioButton-block-width * 0.5;
        z-index: @zIndex__verseAudioButton;

        .icon-canvas {
            box-shadow: @boxShadow__verseAudio;
        }
    }
}

// Either button or icon.
.VerseAudioButton-child {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    // font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button__verseAudio {
    position: relative;
    // font-size: 0.1em;
    opacity: 0;
    // z-index: @zIndex__verseAudioButton;
    transition: opacity @animationDuration__default;

    .Verse__interactivated
    & {
        opacity: 1;
        // font-size: 1em;
        animation: fontSnapback 0.16s;
    }

    &, .icon-canvas {
        width: @VerseAudioButton-block-width;
        height: @VerseAudioButton-block-width;
    }
}

// TODO: Revisit.
.Verse__inLyric {
    &:first-child {
        &,
        .VerseAudioButton-child,
        .VerseAudioIndicator {
            padding-top: @paddingX__verse;
        }
    }
    &:last-child {
        &,
        .VerseAudioButton-child,
        .VerseAudioIndicator {
            padding-bottom: @paddingX__verse;
        }
    }
}
