.VerseCursor {
    background-color: rgba(200, 150, 250, 0.4);
}

.VerseCursor__onCursor {

    .RM__sliderNotMoving
    & {
        transition: width @animationDuration__default;
    }
}

.VerseCursor__beforeCursor {
    width: 100%;
}

.VerseCursor__afterCursor {
    width: 0;
}