@verse-padding: 10px;

@import "./VerseAudioButton.less";
@import "./VerseAudioIndicator.less";
@import "./VerseBar.less";
@import "./VerseLine.less";
@import "./VerseLinesBlock.less";

.verse {

    .lyric-block
    & {
        padding-left: @verse-padding;
        padding-right: @verse-padding;
        transition: color @animationDuration__fast, background-color @animationDuration__fast;

        &.interactable {
            padding-left: @verse-padding * 2;
        }

        .overrideAnimate
        & {
            transition: none;
        }
    }

    &.title {
        .text-shadow-mixin(@colour__verse__odd);
    }

    .dm__sliderNotMoving
    & {
        // Default odd verse.
        &.odd {
            .text-shadow-mixin(@colour__verse__odd);

            .TextSpan {
                color: #644;
            }
        }

        // Default even verse.
        &.even {
            .text-shadow-mixin(@colour__verse__even);

            .TextSpan {
                color: #533;
            }
        }

        // Default side verse.
        &.in-side {
            .text-shadow-mixin(@colour__verse__odd);

            .TextSpan {
                color: #644;
            }
        }
    }

    .dm__sliderMoving
    & {
        // Slider side verse.
        &.in-side {
            .text-shadow-mixin(@side-slider-colour);

            .TextSpan {
                color: @side-slider-text-colour;
            }
        }

        // Slider selected verse.
        &.on-slider {
            .text-shadow-mixin(@colour__audioNeutral);
        }

        // Before slider.
        &.before-slider {
            &.odd {
                .text-shadow-mixin(@odd-before-slider-colour);

                .TextSpan {
                    color: @odd-before-slider-text-colour;
                }
            }

            &.even {
                .text-shadow-mixin(@even-before-slider-colour);

                .TextSpan {
                    color: @even-before-slider-text-colour;
                }
            }
        }

        // After slider.
        &.after-slider {
            &.odd {
                .text-shadow-mixin(@odd-after-slider-colour);

                .TextSpan {
                    color: @odd-after-slider-text-colour;
                }
            }

            &.even {
                .text-shadow-mixin(@even-after-slider-colour);

                .TextSpan {
                    color: @odd-after-slider-text-colour;
                }
            }
        }
    }
}

/**
 * Selected verse colours.
 */

.dm__sliderNotMoving {

    &.dm__isPlaying {
        &._verseBarHidden_ {
            .verse.selected {
                .text-shadow-mixin(@colour__audioPlay);
            }
        }

        .VerseBar {
            background-color: @colour__audioPlay;
        }
    }

    &.dm__isPaused {
        &._verseBarHidden_ {
            .verse.selected {
                .text-shadow-mixin(@colour__audioPause);
            }
        }

        .VerseBar {
            background-color: @colour__audioPause;
        }
    }

    /**
     * Interactable verse has highlighted styling only when interactivated, or
     * when hovered, not selected, and with no other verse interactivated.
     */
    &.dm__verseInactive .Lyric .verse.interactable:not(.selected):hover,
    &.dm__verseActive .Lyric .verse.interactivated {
        .text-shadow-mixin(@colour__audioHighlight);
    }
}