.sketchbook#{$suffix} {
    .sketchPaperLight { fill: hsl(44, 25%, 88%); }
    .sketchPaperMedium { fill: hsl(56, 21%, 73%); }
    .sketchbookWire { fill: hsl(348, 2%, 40%); }
    .pencilBody { fill: hsl(89, 44%, 64%); }
    .pencilMetal { fill: hsl(167, 14%, 73%); }
    .blueDisplayLine { stroke: hsl(200, 20%, 80%); }
    .redDisplayLine { stroke: hsl(0, 20%, 80%); }
    
    .darken__parent
    &.darken#{$suffix} {
        .sketchPaperLight { fill: hsl(44, 13%, 45%); }
        .pencilBody { fill: hsl(89, 22%, 37%); }
        .pencilMetal { fill: hsl(167, 7%, 42%); }
    }
}