.DramaMasks {
    top: 0.5%;
    left: 50%;
    width: 12.5%;
    height: 10%;
    transform: translateX(-50%);
    filter: drop-shadow( 0 0 1px rgba(0, 0, 0, 0.75));
}

.dramaMasks {
    .mask {
        fill: #c9c2a5;
    }

    .overlapLine {
        fill: none;
        stroke-width: 1px;
        stroke: #858061;
    }
}
