.basementTakeout#{$suffix} {
    .containerDark { fill: hsl(60, 14%, 64%); }
    .containerMedium { fill: hsl(60, 13%, 69%); }
    .containerLight { fill: hsl(60, 16%, 74%); }
    .nuggetDark { fill: hsl(55, 25%, 55%); }
    .nuggetLight { fill: hsl(54, 33%, 62%); }

    .burgerWrapper { fill: hsl(61, 38%, 64%); }
    .burgerBun { fill: hsl(44, 28%, 53%); }
    .burgerBunInner { fill: hsl(43, 25%, 63%); }
    .burgerPatty { fill: hsl(26, 15%, 44%); }
    .burgerPattyInner { fill: hsl(29, 10%, 52%); }
    .burgerLettuce { fill: hsl(102, 29%, 62%); }
    .fryDarkest { fill: hsl(68, 16%, 52%); }
    .fryDarker { fill: hsl(68, 18%, 54%); }
    .fryDark { fill: hsl(67, 19%, 58%); }
    .fryMedium { fill: hsl(68, 23%, 62%); }
    .fryLight { fill: hsl(68, 28%, 67%); }
}