/* assume 96 pixels per inch */

@black: #000;
@background-colour: @black;

@wrapper-max-width: 1200px; // was 1248
@lyrics-column-width: 27%;

@wrapper-height: 2016px;
@top-nav-height: 384px;
@scrolling-nav-height: @top-nav-height * 0.5;
@sticky-nav-height: @top-nav-height - @scrolling-nav-height;
@sticky-nav-wrapper-width: 80%;

@footer-height: 48px;
@page-height: @wrapper-height - @top-nav-height - @footer-height;

@page-z-index: 1;
@nav-z-index: @page-z-index + 1;
@lyrics-z-index: @nav-z-index + 1;

.sticky-mixin {
    position: absolute;
    width: 100%;

    &.stuck {
        position: fixed;
        top: 0;
        left: inherit;
        max-width: @wrapper-max-width;
        z-index: @nav-z-index;
    }

    .wrapper-width {
        height: 100%;
        margin: 0 auto;
    }
}

body {
    margin: 0;

    .app {
        background-color: red;
        margin: 0 auto;
        height: @wrapper-height;
        max-width: @wrapper-max-width;

        .top-nav {
            background-color: orange;
            position: relative;
            margin: 0 auto;
            height: @top-nav-height;
            width: 100%;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0 auto;

                &.scrolling-nav {
                    height: @scrolling-nav-height;
                    width: 60%;
                }

                &.sticky-nav {
                    .sticky-mixin;
                    background-color: tomato;

                    top: @scrolling-nav-height;
                    height: @sticky-nav-height;

                    .wrapper-width {
                        @sticky-nav-wrapper-margin: (100% - @sticky-nav-wrapper-width) * 0.5;
                        width: @sticky-nav-wrapper-width;
                        margin-left: @sticky-nav-wrapper-margin;
                        margin-right: @sticky-nav-wrapper-margin;
                        transition: width 0.2s ease, margin-left 0.2s ease, margin-right 0.2s ease;
                    }

                    &.stuck {
                        .wrapper-width {
                            &[data-nav-width^="left"] {
                                width: 100% - @lyrics-column-width;
                                margin-left: 0;
                                margin-right: @lyrics-column-width;
                            }

                            &[data-nav-width^="right"] {
                                width: 100% - @lyrics-column-width;
                                margin-left: @lyrics-column-width;
                                margin-right: 0;
                            }

                            &[data-nav-width^="centre"] {
                                width: 100% - (@lyrics-column-width * 2);
                                margin-left: @lyrics-column-width;
                                margin-right: @lyrics-column-width;
                            }
                        }
                    }
                }

                li {
                    display: inline-block;
                    padding: 2%;
                    height: 100%;
                    vertical-align: top;
                    box-sizing: border-box;

                    &.title-bar {
                        background-color: yellow;
                        width: 80%;
                    }

                    &.annotation-legend {
                        background-color: violet;
                        width: 20%;
                    }

                    &.audio-player {
                        background-color: green;
                        width: 60%;

                        ul.playback-buttons {
                            list-style-type: none;
                        }
                    }

                    &.synopsis-bar {
                        background-color: turquoise;
                        width: 40%;
                    }
                }
            }
        }

        .book {
            position: relative;
            height: @page-height;
            overflow: hidden;

            .sticky-lyrics {
                .sticky-mixin;

                .wrapper-width {
                    width: 100%;

                    div[class^="lyrics-song"] {
                        background-color: brown;
                        position: absolute;
                        width: @lyrics-column-width;
                        z-index: @lyrics-z-index;
                        transition: left 0.1s ease, right 0.1s ease;

                        &.lyrics-column-left {
                            left: 0;

                            &.unshown {
                                left: -@lyrics-column-width;
                            }
                        }

                        &.lyrics-column-right {
                            right: 0;

                            &.unshown {
                                right: -@lyrics-column-width;
                            }
                        }

                        .lyrics-text-area {
                            // FIXME: vh is buggy in iOS7 and some IE
                            max-height: 100vh;
                            overflow: auto;
                        }
                    }
                }
            }

            [class^="book-page"] {
                background-color: purple;
                position: absolute;
                z-index: @page-z-index;
                height: 100%;
                width: 100%;
                transition: left 0.25s ease-in-out;

                &.book-page-1 {
                    background-color: violet;
                }

                &.hidden {
                    &.previous {
                        left: -100%;
                    }

                    &.next {
                        left: 100%;
                    }
                }

                &.viewed {
                    left: 0;
                }

                ul.song-path {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    li[class^="song-point"] {
                        margin: 0 auto;
                        height: 40px;
                        width: 200px;

                        button {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }

                .page-change-button {
                    text-align: center;

                    button {
                        height: 40px;
                        width: 300px;
                    }
                }
            }
        }

        .footer {
            background-color: gray;
            height: @footer-height;
            text-align: center;
        }
    }
}
