.top-nav {
    background-color: orange;
    position: relative;
    margin: 0 auto;
    height: @phone-top-nav-height;
    width: 100%;

    @media @tablets {
        height: @top-nav-height;
    }

    @media @desktops {
        height: @top-nav-height;
    }

    .scrolling-nav {
        height: @phone-scrolling-nav-height;
        width: 100%;
        .transition(width 1s ease);

        @media @tablets {
            height: @scrolling-nav-height;
            width: 70%;
        }

        @media @desktops {
            height: @scrolling-nav-height;
            width: 70%;
        }

        &.unshown {
            width: 0%;
        }
    }

    .sticky-nav {
        .sticky-mixin;
        background-color: transparent;
        top: @phone-scrolling-nav-height;
        height: @phone-sticky-nav-height;
        .transition(height 1s ease);

        .wrapper-width {
            width: @phone-sticky-nav-wrapper-width;
            .transition(~"width 1s ease, margin-left 1s ease, margin-right 1s ease");
        }

        @media @tablets {
            top: @scrolling-nav-height;
            height: @sticky-nav-height;

            .wrapper-width {
                @sticky-nav-wrapper-margin: (100% - @sticky-nav-wrapper-width) * 0.5;
                width: @sticky-nav-wrapper-width;
                margin-left: @sticky-nav-wrapper-margin;
                margin-right: @sticky-nav-wrapper-margin;
            }
        }

        @media @desktops {
            top: @scrolling-nav-height;
            height: @sticky-nav-height;

            .wrapper-width {
                @sticky-nav-wrapper-margin: (100% - @sticky-nav-wrapper-width) * 0.5;
                width: @sticky-nav-wrapper-width;
                margin-left: @sticky-nav-wrapper-margin;
                margin-right: @sticky-nav-wrapper-margin;
            }
        }

        &.stuck {
            top: 0;
            height: @phone-stuck-nav-height;

            @media @desktops {
                .wrapper-width {
                    &[data-nav-width^="left"] {
                        width: 100% - @lyrics-column-width;
                        margin-left: 0;
                        margin-right: @lyrics-column-width;
                    }

                    &[data-nav-width^="right"] {
                        width: 100% - @lyrics-column-width;
                        margin-left: @lyrics-column-width;
                        margin-right: 0;
                    }

                    &[data-nav-width^="centre"] {
                        width: 100% - (@lyrics-column-width * 2);
                        margin-left: @lyrics-column-width;
                        margin-right: @lyrics-column-width;
                    }
                }
            }

            // FIXME: Can delete this whole section;
            div {
                // height: 100px;

                // &.synopsis-bar {
                //     width: 25%;
                // }

                &.audio-player {
                    width: 50%;
                }

                // &.annotation-legend {
                //     width: 25%;
                // }

                @media @tablets {
                    &.title-bar {
                        width: 15%;
                    }

                    // &.synopsis-bar {
                    //     width: 40%;
                    // }

                    &.audio-player {
                        width: 45%;
                    }

                    // &.annotation-legend {
                    //     width: 15%;
                    // }
                }

                @media @desktops {
                    &.title-bar {
                        width: 15%;
                    }

                    // &.synopsis-bar {
                    //     width: 25%;
                    // }

                    &.audio-player {
                        width: 45%;
                    }

                    // &.annotation-legend {
                    //     width: 15%;
                    // }
                }
            }
        }
    }

    .now-playing-bar {
        background-color: turquoise;
        height: @now-playing-bar-height;
        width: 100%;
    }

    .nav-component {
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        .transition(~"width 1s ease, height 1s ease");

        .popup {
            position: relative;

            &.expanded {
                z-index: @expanded-popup-z-index;
            }
        }
    }
}
