.audio-player {
    background-color: green;
    height: @phone-audio-player-height;
    width: @phone-audio-player-width;

    @media @tablets {
        height: @audio-player-height;
        width: @audio-player-width;
    }

    @media @desktops {
        height: @audio-player-height;
        width: @audio-player-width;
    }

    ul.playback-buttons {
        @playback-button-length: 50px;

        li {
            position: relative;
            height: @playback-button-length;
            width: @playback-button-length;
            z-index: @audio-button-z-index;

            .button {
                background-color: blue;
                height: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}