.top-nav {
    background-color: orange;
    position: relative;
    margin: 0 auto;
    height: @top-nav-height;
    width: 100%;

    >ul {
        margin: 0 auto;

        &.scrolling-nav {
            height: @scrolling-nav-height;
            width: 70%;
            transition: width 0.2s ease;

            &.unshown {
                width: 0%;
            }
        }

        >li, >.wrapper-width > li {
            height: 100%;
            vertical-align: top;
            box-sizing: border-box;
            transition: width 0.2s ease;

            &.title-bar {
                background-color: yellow;
                width: 67%;

                &.unshown {
                    width: 0;
                }

                .band-logo {
                    background-color: tomato;
                    float: left;
                    width: 25%;
                    height: 100%;
                }

                .cover-title {
                    float: left;
                    width: 75%;
                }
            }

            &.annotation-legend {
                background-color: violet;
                width: 33%;
                z-index: @nav-z-index + 2;

                &.unshown {
                    width: 0;
                }

                ul.symbols {
                    @symbol-height: 50px;
                    width: @symbol-height * 5;

                    &:not(:last-child) {
                        margin-bottom: 5px;
                    }

                    >li[class^="symbol"] {
                        display: block;
                        width: @symbol-height;
                        height: @symbol-height;
                        overflow: hidden;

                        ul {
                            height: 100%;

                            >li {
                                &.icon {
                                    background-color: black;
                                    height: 100%;
                                    width: @symbol-height;
                                    border-radius: @symbol-height * 0.5;
                                }

                                &.text {
                                    background-color: beige;
                                    position: relative;
                                    height: 100%;
                                    width: @symbol-height * 4;
                                    vertical-align: top;
                                    z-index: @nav-z-index + 1;
                                }
                            }
                        }

                        &.expanded {
                            width: @symbol-height * 5;

                            &.engraved {
                                border: 2px solid green;
                            }
                        }
                    }
                }
            }

            &.audio-player {
                background-color: green;
                width: 60%;

                ul.playback-buttons {

                }
            }

            &.synopsis-bar {
                background-color: turquoise;
                width: 40%;

                ul.speech-bubbles {
                    @speech-bubble-height: 25px;
                    @speech-bubble-expanded-width: 250px;

                    position: relative;
                    height: 100%;
                    width: 70%;
                    float: left;

                    li[class^="bubble"] {
                        background-color: white;
                        display: block;
                        position: absolute;
                        right: 0;
                        height: @speech-bubble-height;
                        cursor: pointer;
                        border-radius: 3px;

                        &:first-child {
                            top: 0;
                        }

                        &:last-child {
                            bottom: 0;
                        }

                        &.expanded {
                            height: 100% - @speech-bubble-height;
                            width: @speech-bubble-expanded-width;

                            &.engraved {
                                border: 2px solid green;
                            }
                        }
                    }
                }

                .avatar {
                    background-color: gray;
                    height: 100%;
                    width: 30%;
                    float: left;
                }
            }
        }

        &.sticky-nav {
            .sticky-mixin;
            background-color: transparent;

            top: @scrolling-nav-height;
            height: @sticky-nav-height;
            transition: height 0.2s ease;

            .wrapper-width {
                @sticky-nav-wrapper-margin: (100% - @sticky-nav-wrapper-width) * 0.5;
                width: @sticky-nav-wrapper-width;
                margin-left: @sticky-nav-wrapper-margin;
                margin-right: @sticky-nav-wrapper-margin;
                transition: width 0.2s ease, margin-left 0.2s ease, margin-right 0.2s ease;
            }

            li {
                &.title-bar {
                    .band-logo {
                        width: 100%;
                    }
                }

                &.annotation-legend {
                    .icon {
                        cursor: pointer;
                    }
                }
            }

            &.stuck {
                height: @sticky-nav-height * 0.7;

                .wrapper-width {
                    &[data-nav-width^="left"] {
                        width: 100% - @lyrics-column-width;
                        margin-left: 0;
                        margin-right: @lyrics-column-width;
                    }

                    &[data-nav-width^="right"] {
                        width: 100% - @lyrics-column-width;
                        margin-left: @lyrics-column-width;
                        margin-right: 0;
                    }

                    &[data-nav-width^="centre"] {
                        width: 100% - (@lyrics-column-width * 2);
                        margin-left: @lyrics-column-width;
                        margin-right: @lyrics-column-width;
                    }
                }

                li {

                    &.title-bar {
                        width: 15%;
                    }

                    &.annotation-legend {
                        width: 15%;
                    }

                    &.audio-player {
                        width: 45%;
                    }

                    &.synopsis-bar {
                        width: 25%;
                    }
                }

            }
        }
    }
}
