$boxShadow__adminActor: 0 2px 2px 2px rgba(75, 75, 100, 0.4);
$boxShadow__adminCharacter: inset 0 2px 5px rgba(75, 75, 100, 0.4);

.actors-table {

    .flex-row {
        display: flex;
    }

    .actor-block {
        background-color: #fef;
        padding: 2px 5px;

        box-shadow: $boxShadow__adminActor;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    .character-block {
        background-color: #fffff0;
        padding: 2px 5px;

        box-shadow: $boxShadow__adminCharacter;
    }

    .header-row {
        width: 100%;
        font-size: 1.1em;
    }

    .actor-header-row {
        font-size: 1em;
    }

    .character-header-row {
        font-size: 0.95em;
    }

    .count-row {
        width: 100%;
        text-align: right;
    }

    .role-row {
        color: #d66;

        &.halfDone {
            color: #cd2;
        }

        &.done {
            color: #2d7;
        }
    }

    .role-info {
        font-size: 0.75em;
    }

    .song-index-column {
        width: 1.5em;
    }

    .scene-index-column {
        width: 1.5em;
    }

    .worked-hours-column {
        width: 2em;
    }

    .instance-column {
        flex-grow: 1;
    }
}
