.LyricToggle {
    position: absolute;
    padding: $js__margin__thin;

    background-color: gray;
    transition:
        opacity $animationDuration__default;

    z-index: $zIndex__lyricChild__topMost;
}

.LyricToggle__inLyric {
    top: $margin__scrollbar / 2;
}

.LyricToggleScroll {
    // Needed to expand properly in Chrome.
    right: $margin__scrollbar;
}

.LyricToggleExpand__inLyric,
.LyricToggleEar {
    left: $margin__scrollbar;
}

.LyricToggleEar {
    // When in mobile, expand toggle will *always* be present.
    .DW__tablet
    & {
        top:
            $margin__scrollbar / 2
            + $js__margin__thin * 2
            + $js__length__iconLarge__tablet
            + $js__margin__thick;
    }

    .DW__mini
    & {
        top:
            $margin__scrollbar / 2
            + $js__margin__thin * 2
            + $js__length__iconLarge__mini
            + $js__margin__thick;
    }

    .DW__phone
    & {
        top:
            $margin__scrollbar / 2
            + $js__margin__thin * 2
            + $js__length__icon
            + $js__margin__thick;
    }
}

.LyricToggleScroll {
    opacity: 0;
    z-index: $zIndex__negative;

    .RM__manualScroll
    & {
        opacity: 1;
        z-index: $zIndex__lyricChild__topMost;
    }
}

.LyricToggle__inMain {
    bottom: 0;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%) scale(1);
    z-index: $zIndex__leftShelf;

    transition:
        opacity $animationDuration__default,
        transform $animationDuration__default;

    /**
     * TODO: Ideally, this would be a single selector for when the toggle is
     * shown.
     */
    .RM__carouselNavUnshowable
    &,
    .RM__dotsShown
    &,
    .RM__annotationShown.RM__navExpanded
    & {
        opacity: 0;
        transform: translateX(-50%) scale(0);
    }
}
