@import '../../../scss/constants/colour';
@import '../../../scss/constants/transition';

.TextAnchor__plainText {
    position: relative;

    // Specific selector to override.
    .TW__showPastFutureLyrics
    .Anchor
    & {
        display: inline;
    }

    .Anchor__shown
    & {
        display: none;
    }
}

.TextAnchor__linkText {
    /**
     * To fix a bug in Chrome where an anchor split onto a new line was unable
     * to determine the dimensions of a span on the second line, the Underline
     * was made the last child instead of the first child in the DOM. This
     * z-index ensures that the text is still visibly the top child.
     */
    z-index: 1;
    position: relative;
    display: none;

    // Override defaults.
    text-indent: 0;
    padding: 0;
    line-height: 125%;
    direction: ltr;

    .DW__userAgentDesktop
    & {
        transition:
            color $transitionDuration__fast,
            visibility $transitionDuration__fast;
    }

    // "Root accessed letter Enter, child accessed letter Enter."
    .PaLEnter
    .CaLEnter
    &.TextAnchor__linkText__accessed {
        /**
        * Overly specific selectors are needed to override default link text
        * styling in cursored verse, which also has the !important flag. This
        * is unfortunate, but unavoidable.
        */
        color: $colour__accessActive !important;
    }

    // Specific selector to override.
    .TW__showPastFutureLyrics
    .Anchor
    & {
        display: none;
    }
}

.TextAnchor__linkText__default {
    .Anchor__shown
    & {
        display: inline;
    }

    .Anchor__accessed.Anchor__shown
    & {
        display: none;
    }
}

.TextAnchor__linkText__accessed {
    .Anchor__accessed.Anchor__shown
    & {
        display: inline;
    }
}
