.NavBookSongs {

    .NavColumn__left
    & {
        transition:
            opacity @animationDuration__default,
            left @animationDuration__default;
    }

    .NavColumn__left.NavColumn__hidden
    & {
        left: 0;
    }

    .NavColumn__right
    & {
        transition:
            opacity @animationDuration__default,
            right @animationDuration__default;

        flex-direction: row-reverse;
    }

    .NavColumn__right.NavColumn__hidden
    & {
        right: 0;
    }

    .NavColumn__hidden
    & {
        padding: 0;
        opacity: 0.5;
    }
}
