.NavBook {
    padding: 0 @js__padding__navColumnChild;
    display: flex;

    height: 100%;
    min-width: @js__length__icon;
    border-radius: @borderRadius__nav @borderRadius__nav 0 0;
    background-color: #48d;

    ._mobileNotPhone_
    & {
        border-radius: 0 0 @borderRadius__nav @borderRadius__nav;
    }
}

.NavBookLogue {

    .NavColumn__right
    & {
        right: 0;
    }
}