.NavBookSongs {

    .NavColumn__left
    & {
        transition: left @animationDuration__default;
    }

    .NavColumn__left.NavColumn__hidden
    & {
        left: 0;
    }

    .NavColumn__right
    & {
        transition: right @animationDuration__default;
        flex-direction: row-reverse;
    }

    .NavColumn__right.NavColumn__hidden
    & {
        right: 0;
    }
}
