.NavBookSongs {

    max-width: 1000px; // Arbitrary large number.

    // transition: max-width @animationDuration__default;

    .NavColumn__left
    & {
        transition:
            max-width @animationDuration__default,
            opacity @animationDuration__default,
            left @animationDuration__default;
    }

    .NavColumn__left.NavColumn__hidden
    & {
        left: 0;
    }

    .NavColumn__right
    & {
        transition:
            max-width @animationDuration__default,
            opacity @animationDuration__default,
            right @animationDuration__default;

        flex-direction: row-reverse;
    }

    .NavColumn__right.NavColumn__hidden
    & {
        right: 0;
    }

    .NavColumn__hidden
    & {
        max-width: @js__length__icon;
        opacity: 0.5;
        padding-right: 0;
    }
}
