a {
    text-decoration: none;
}

body {
    margin: 0;
    color: $colour__text__dark;
    cursor: default;
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 1.6em;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

i, em {
    /**
     * All device widths inherit this reduction. I'm not exactly sure how this
     * works, but it does...
     */
    font-size: $fontSize__italic;
}

circle, ellipse, line, path, polygon, polyline, rect {
    // This allows the stroke width to stay constant.
    vector-effect: non-scaling-stroke;
}
