.Dot__wormhole {
    fill: $colour__wormhole;
}
.Dot__observation {
    fill: $colour__observation;
}
.Dot__backstory {
    fill: $colour__backstory;
}
.Dot__reference {
    fill: $colour__reference;
}
.Dot__pun {
    fill: $colour__pun;
}
.Dot__narrative {
    fill: $colour__narrative;
}
.Dot__songwriting {
    fill: $colour__songwriting;
}
.Dot__afterword {
    fill: $colour__afterword;
}
.Dot__deselected {
    fill: $colour__deselected;
}
