.Neuton {
    font-family: Neuton, Times;
}

.PtSansNarrow {
    font-family: PT Sans Narrow, Arial;
}

.Rancho {
    font-family: Rancho, Georgia;
}

.fontSize__title {
    font-size: $fontSize__title;

    .DW__miniWidth
    & {
        font-size: $fontSize__title__mini;
    }

    .DW__phoneWidth
    & {
        font-size: $fontSize__title__phone;
    }
}

.fontSize__verse {
    font-size: $fontSize__verse;

    .DW__miniWidth
    & {
        font-size: $fontSize__verse__mini;
    }

    .DW__phoneWidth
    & {
        font-size: $fontSize__verse__phone;
    }
}

.fontSize__lyricMultipleColumns {

    $fontSize__bothColumnsShown: 0.95em;

    // Make font sizes smaller when showing both columns.
    .DW__desktopWidth
    .RW__bothEarColumnsShown
    &,
    .DW__tabletWidth
    .RW__bothEarColumnsShown
    & {
        font-size: $fontSize__bothColumnsShown;
    }

    .DW__miniWidth
    .RW__bothEarColumnsShown
    & {
        font-size:
            $fontSize__bothColumnsShown
            * $multiplier__fontSize__mini;
    }
}