/* Font declarations used by legacy webpack setup. */
@font-face {
    font-family: PT Sans Narrow;
    src: url('../../assets/fonts/pt_sans/PTN57F.ttf') format('truetype');
}

@font-face {
    font-family: PT Sans Narrow;
    src: url('../../assets/fonts/pt_sans/PTN77F.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: PT Sans Narrow;
    src: url('../../assets/fonts/pt_sans/PTS56F.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: Neuton;
    src: url('../../assets/fonts/Neuton/Neuton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Rancho;
    src: url('../../assets/fonts/Rancho/Rancho-Regular.ttf') format('truetype');
}

.Neuton {
    font-family: Neuton, Georgia;
}

.PtSansNarrow {
    font-family: PT Sans Narrow, Arial;
}

.Rancho {
    font-family: Rancho, Garamond;
}

.fontSize__title {
    font-size: $fontSize__title;

    .DW__miniWidth
    & {
        font-size: $fontSize__title__mini;
    }

    .DW__phoneWidth
    & {
        font-size: $fontSize__title__phone;
    }
}

.fontSize__verse {
    font-size: $fontSize__verse;

    .DW__miniWidth
    & {
        font-size: $fontSize__verse__mini;
    }

    .DW__phoneWidth
    & {
        font-size: $fontSize__verse__phone;
    }
}

.fontSize__lyricMultipleColumns {

    $fontSize__bothColumnsShown: 0.95em;

    // Make font sizes smaller when showing both columns.
    .DW__desktopWidth
    .RW__bothEarColumnsShown
    &,
    .DW__tabletWidth
    .RW__bothEarColumnsShown
    & {
        font-size: $fontSize__bothColumnsShown;
    }

    .DW__miniWidth
    .RW__bothEarColumnsShown
    & {
        font-size:
            $fontSize__bothColumnsShown
            * $multiplier__fontSize__mini;
    }
}