// Display none container.
.dNC {
    display: none;
}

// Absolute full container.
.abF {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Overflow hidden container.
.ovH {
    overflow: hidden;
}

// Flex centre container.
.fCC {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAlignContainer {
    display: flex;
    align-items: center;
}