@import '../constants/colour';
@import '../constants/icon';

.hybridContainer {
    flex-direction: column;

    padding-left: $margin__thick;
    padding-right: $margin__thick;

    background-color: $colour__background;
}
