.bulbRed { fill: hsl(0, 23%, 47%); }
.bulbYellow { fill: hsl(60, 23%, 47%); }
.bulbGreen { fill: hsl(120, 23%, 47%); }
.bulbBlue { fill: hsl(210, 23%, 47%); }
.bulbPurple { fill: hsl(270, 23%, 47%); }
.bulbWhite { fill: hsla(240, 100%, 94%, 0.7); }

.darkRoom .darkRoom#{$suffix} {
    .bulbRed { fill: hsl(0, 63%, 77%); }
    .bulbYellow { fill: hsl(60, 63%, 77%); }
    .bulbGreen { fill: hsl(120, 63%, 77%); }
    .bulbBlue { fill: hsl(210, 63%, 77%); }
    .bulbPurple { fill: hsl(270, 63%, 77%); }
}

.ShW__tipsShown,
.darkRoom .darkRoom#{$suffix},
.eveningTime .eveningTime#{$suffix},
.nightTime .nightTime#{$suffix} {
    .bulbWhite { fill: hsl(60, 100%, 90%); }
}