.sketchDogs#{$suffix} {
    .head { fill: hsl(0, 0%, 69%); }
    .eye { fill: hsl(0, 0%, 45%); }
    .nose { fill: hsl(0, 0%, 36%); }
    .tongue { fill: hsl(0, 0%, 52%); }
    .body { fill: hsl(0, 0%, 67%); }
    .hindLeg { fill: hsl(0, 0%, 65%); }
}