.sketchDogs#{$suffix} {
    .head { fill: #b0b0b0; }
    .eye { fill: #737373; }
    .nose { fill: #5c5c5c; }
    .tongue { fill: #858585; }
    .body { fill: #ababab; }
    .hindLeg { fill: #a6a6a6; }
}