.LyricOverview {
    position: absolute;
    width: 100%;

    .DW__userAgentDesktop
    & {
        transition: height $animationDuration__default;
    }
}

.width__lyricColumn__desktop {
    .DW__desktopWidth
    & {
        width: $WIDTH_GOLDEN_CORD;
        left: auto;
        right: 0;
    }

    .DW__laptopWidth
    & {
        width: $WIDTH_UNCANNY_VALLEY;
    }
}

.position__lyricColumn__mobile {
    width: 100%;
    bottom: 0;
}
