.bloomCountyPoster {
    .frame { fill: #a0d4e0; }
    .mountain { fill: #4c4534; }
    .billFur { fill: #b58a3c; }
    .billNose { fill: #d88dd8; }
    .billTongue { fill: #e2a6df; }
    .oliverPants { fill: #537b91; }
    .oliverShoe { fill: #2e3038; }
    .oliverShirt { fill: #bad4e2; }
    .binkleyPants { fill: #726daf; }
    .binkleyShoe { fill: #221d26; }
    .binkleyShirt { fill: #ccc7e0; }
    .miloPants { fill: #938269; }
    .miloShoe { fill: #3a3d33; }
    .miloShirt { fill: #648761; }
    .opusFeather { fill: #1e1c17; }
    .opusCollar { fill: #f4f2ed; }
    .opusBowtie { fill: #f7563c; }
    .meadow { fill: #62a372; }
}

.clipboard {
    .folder { fill: #cc9; }
    .rack { fill: #699; }
    .labelBottom { fill: #9cf; }
    .labelMiddle { fill: #9c9; }
    .labelTop { fill: #c99; }
}

.codeBox {
    .boxBack { fill: #e6e6e6; }
    .slit { fill: #534741; }
    .keypad { fill: #998675; }
    .key { fill: #c7b299; }
    .boxSide { fill: #666; }
    .boxBottom { fill: #999; }
    .boxTop { fill: #333; }
    .boxFront { fill: #ccc; }
}

.corkboard {
    .cork { fill: #ccc; }
    .frame { fill: #963; }
    .paperBottomRightBelow { fill: #c99; }
    .paperBottomRightAbove { fill: #9c9; }
    .paperBottomCentre { fill: #fc9; }
    .paperBottomLeft { fill: #c9c; }
    .paperTopRight { fill: #9cf; }
    .paperTopCentreBelow { fill: #9cc; }
    .paperTopCentreAbove { fill: #ff9; }
    .paperTopLeft { fill: #9f9; }
    .thumbtack { fill: #999; }
}

.dogsSketch {
    .launchFront { fill: #949494; }
    .launchSide { fill: #8c8c8c; }
    .booster { fill: #7d7d7d; }
    .rocket { fill: #7d7d7d; }
    .checkerWhite { fill: #d9d9d9; }
    .checkerRed { fill: #a1a1a1; }
    .fin { fill: #999; }
    .bone { fill: #d9d9d9; }
}

.earth {
    .ocean { fill: #46a0bd; }
    .land { fill: #8a7f6e; }
    .cloud { fill: #d6d6d6; }
}

.elliottSmithPoster {
    .frame { fill: #daeaed; }
    .stripeRed { fill: hsl(7, 40%, 48%); }
    .stripeBlue { fill: hsl(240, 14%, 44%); }
    .pants { fill: #514d5b; }
    .pantsDisplayLine { stroke: #26254c; }
    .shirt { fill: #af9880; }
    .hoodie { fill: #4f566d; }
    .hoodieDisplayLine { stroke: #363572; }
    .zipperDisplayLine { stroke: #d3d3d3; }
}

.goKartThought {
    .bubble { fill: #9dd1c7; }
    .foliage { fill: #4a774a; }
    .pole { fill: #727272; }
    .checkerWhite { fill: #d8d8d8; }
    .checkerBlack { fill: #303030; }
}

.johnnyHortonAlbum {
    .sky { fill: #6cc; }
    .leaves { fill: #696; }
    .branch { fill: #633; }
    .shirt { fill: #ccc; }
    .tie { fill: #669; }
    .collar { fill: #cc9; }
    .suit { fill: #969; }
    .lapel { fill: #c69; }
    .frame { fill: #cff; }
    .banner { fill: #c93; }
}

.khariAttackSpeech {
    .ground { fill: #8c763c; }
    .wall { fill: #b5974b; }
    .cutout { fill: #b8b8a7; }
    .supportFront { fill: #bebfa1; }
    .supportSide { fill: #9b9c84; }
    .mount { fill: #80868f; }
    .shutter { fill: #52565c; }
    .stageLightSide { fill: #696e75; }
    .stageLightTop { fill: #727880; }
    .stephanieShoe { fill: #827967; }
    .stephanieDress { fill: #c971c2; }
    .khariPants { fill: #7bb87b; }
    .khariShoe { fill: #595344; }
    .khariVest { fill: #a9ba68; }
}

.leonardCohenPoster {
    .frame { fill: #38494c; }
    .pants { fill: #3e3344; }
    .hat { fill: #889399; }
    .band { fill: #9b7b99; }
    .shirt { fill: #9bc6c9; }
    .collar { fill: #8ab3ba; }
    .suitInner { fill: #4e5f68; }
    .cuff { fill: #76969b; }
    .suit { fill: #687e8c; }
    .lapel { fill: #374344; }
    .endPin { fill: #bcc9c9; }
    .guitarTrim { fill: #ccc5d3; }
    .guitarBody { fill: #474149; }
    .fretboard { fill: #afbc99; }
    .bridge { fill: #726f5b; }
}

.lizDefenceSpeech {
    .ground { fill: #4a5b69; }
    .wall { fill: #7d97b0; }
}

.maraMementoPoster {
    .frame { fill: #3f2d2d; }
    .shadow { fill: #998675; }
    .shirt { fill: #c6c18f; }
    .collar { fill: #b6b774; }
    .photoFrame { fill: #eae9dc; }
}

.marqueeFrame {
    .frame { fill: #e25044; }
    .bulbOuter { fill: #e0d846; }
    .bulbInner { fill: #e5e4d8; }
}

.nasAlbum {
    .frame { fill: #6a8589; }
    .street { fill: #5c6168; }
    .buildingNearFront { fill: #914141; }
    .buildingNearSide { fill: #773030; }
    .buildingMiddleFront { fill: #914141; }
    .buildingMiddleSide { fill: #773030; }
    .buildingRearFront { fill: #914141; }
    .buildingRearSide { fill: #773030; }
    .shirt { fill: #d16a30; }
}

.nirvanaPoster {
    .frame { fill: #607e87; }
    .pants { fill: #3b3e44; }
    .shirt { fill: #82a8a1; }
    .suitInner { fill: #7c6b87; }
    .strap { fill: #6d5563; }
    .suit { fill: #a58bbc; }
    .button { fill: #bdc695; }
    .lapel { fill: #7e6d89; }
    .endPin { fill: #98a8a7; }
    .guitar { fill: #71abbf; }
    .bridgeBottom { fill: #748988; }
    .bridgeTop { fill: #9db2b1; }
    .pickguard { fill: #b9eae9; }
    .knob { fill: #98b7b5; }
    .pickup { fill: #dae5e5; }
    .fretboard { fill: #a89a78; }
    .head { fill: #ddd0b6; }
    .nut { fill: #c0c1b2; }
}

.painting {
    .wall { fill: #99c; }
    .table { fill: #663; }
    .appleRed { fill: #933; }
    .pear { fill: #996; }
    .orange { fill: #c93; }
    .banana { fill: #cc6; }
    .bananaDisplayLine { stroke: #8c6239; }
    .bowlBase { fill: #399; }
    .bowl { fill: #6cc; }
    .grapes { fill: #669; }
    .peach { fill: #c96; }
    .olive { fill: #6c6; }
    .kiwi { fill: #966; }
    .appleGreen { fill: #693; }
    .frame { fill: #630; }
}

.pchelkaMushkaRocket {
    .booster { fill: #ad6145; }
    .fin { fill: #c77c60; }
    .rocket { fill: #b56648; }
    .checkerWhite { fill: #f5eae6; }
    .checkerRed { fill: #cc7a5a; }
    .suitHindLeg { fill: #adad95; }
    .suitBody { fill: #9087c4; }
    .suitFrontLeg { fill: #bdbda3; }
    .suitInner { fill: #7e78a8; }
    .glassOuter { fill: #c6d5d9; }
    .head { fill: #ded7c5; }
    .nose { fill: #706e5f; }
    .mouth { fill: #696759; }
    .tongue { fill: #c782ad; }
    .glassInner { fill: rgba(200, 200, 250, 0.2); }
    .glassOuter { fill: rgba(200, 200, 250, 0.1); }
}

.policeAlbum {
    .frame { fill: #231717; }
    .display { fill: #c94343; }
}

.progressChartLate {
    .sheetBottomLeft { fill: #bbf; }
    .sheetBottomRight { fill: #fbf; }
}

.seaSerpentLeft {
    .gill { fill: #8cc63f; }
    .scales { fill: #0071bc; }
    .eye { fill: red; }
    .dorsalFin { fill: #009245; }
}

.seaSerpentRight {
    .gill { fill: #8cc63f; }
    .scales { fill: #0071bc; }
    .eye { fill: red; }
    .dorsalFin { fill: #009245; }
}

.spaceColony {
    .body { fill: #ded7c5; }
    .stationTop { fill: #a39bd9; }
    .stationMiddle { fill: #948cc4; }
    .stationBottom { fill: #6d6891; }
    .stationInner { fill: #7e78a8; }
    .stationFloor { fill: #6d6891; }
    .trim { fill: #b8a986; }
    .panelBottom { fill: #8dacb3; }
    .panelSide { fill: #7d989e; }
    .panelFront { fill: #99bbc2; }
    .bar { fill: #6d848a; }
    .glassInner { fill: rgba(200, 200, 250, 0.2); }
    .glassOuter { fill: rgba(200, 200, 250, 0.1); }
}

.televisionAlbum {
    .background { fill: #4586ad; }
    .tomShirt { fill: #423939; }
    .billyPants { fill: #423939; }
    .billyShirt { fill: #698e6a; }
    .fredPants { fill: #3f3434; }
    .fredShirt { fill: #6d5e5e; }
    .fredSuit { fill: #444040; }
    .richardPants { fill: #422222; }
    .richardShirt { fill: #914646; }
    .tomPants { fill: #2d2020; }
    .tomVest { fill: #8e8282; }
    .frame { fill: #231717; }
}

.tintinPoster {
    .frame { fill: #ccc897; }
    .fur { fill: #cfe8e3; }
    .nose { fill: #514a42; }
    .mouth { fill: #423a32; }
    .sock { fill: #ede7e2; }
    .shoe { fill: #5e4f3f; }
    .coatInner { fill: #49423a; }
    .pants { fill: #684e5f; }
    .pantsDisplayLine { stroke: #453e4c; }
    .soleBottom { fill: #302b25; }
    .soleFront { fill: #302b25; }
    .soleSide { fill: #443e38; }
    .shirt { fill: #8bbcbc; }
    .collar { fill: #ede7e2; }
    .coat { fill: #847667; }
    .lapel { fill: #7f7366; }
    .sleeve { fill: #7eaaa8; }
}

.vanNuysLogo {
    .gray { fill: hsl(0, 0%, 40%); }
    .beige { fill: hsl(0, 0%, 80%); }
    .logo,
    .magenta { fill: hsl(330, 30%, 40%); }
}