.evian#{$suffix} {
    .bottleCap { fill: hsl(188, 100%, 84%); }
    .label { fill: hsl(277, 50%, 82%); }
    .labelReverse { fill: hsl(276, 28%, 72%); }
    .bottleTop { fill: hsla(213, 100%, 89%, 0.5); }
    .bottleLip { fill: hsla(213, 100%, 91%, 0.5); }
    .bottleSide { fill: hsla(214, 100%, 93%, 0.5); }
    .waterTop { fill: hsla(213, 100%, 89%, 0.7); }
    .waterSide { fill: hsla(213, 100%, 91%, 0.7); }
}