.willy#{$suffix} {
    .visor { fill: hsl(59, 57%, 51%); }
    .visorBillTop { fill: hsl(28, 67%, 55%); }
    .visorBillBottom { fill: hsl(28, 56%, 47%); }

    .willyShirt { fill: hsl(197, 17%, 66%); }
    .willyPants { fill: hsl(261, 18%, 47%); }
    .willyShoe { fill: hsl(148, 14%, 54%); }
}