.steamPipes {
    .flange {
        fill: #966;
    }

    .flangeSide {
        fill: #633;
    }

    .pipeLarge {
        fill: #663;
    }

    .pipeSmall {
        fill: #996;
    }

    .mount {
        fill: #666;
    }

    .spokes {
        fill: #c96;
    }

    .wheel {
        fill: #c33;
    }

    .cap {
        fill: #cc0;
    }
}