.cafeteria#{$suffix} {
    .cafeteriaHatMesh { fill: hsl(226, 0%, 77%); }
    .cafeteriaHatDark { fill: hsl(221, 33%, 33%); }
    .cafeteriaHat { fill: hsl(222, 32%, 40%); }
    .cafeteriaHatAdjuster { fill: hsl(60, 14%, 79%); }
    .dishroomCollar { fill: hsl(225, 30%, 48%); }
    .dishroomShirt { fill: hsl(225, 32%, 52%); }
    .dishroomApronInner { fill: hsl(64, 12%, 51%); }
    .dishroomApronLace { fill: hsl(65, 15%, 55%); }
    .dishroomApron { fill: hsl(65, 18%, 60%); }
    .bookCover { fill: hsl(154, 29%, 56%); }
}