.taiwanHouse#{$suffix} {
    .palaceWallSide { fill: hsl(2, 28%, 28%); }
    .palaceWallFront { fill: hsl(1, 30%, 32%); }
    .palaceWallInner { fill: hsl(0, 30%, 25%); }
    .palaceTrimFront { fill: hsl(44, 34%, 49%); }
    .palaceTrimSide { fill: hsl(43, 34%, 42%); }
    .palaceRoofSide { fill: hsl(50, 28%, 30%); }
    .palaceRoofFront { fill: hsl(50, 28%, 32%); }
    .palaceRoofTrimBelow { fill: hsl(49, 27%, 37%); }
    .palaceRoofTrimAbove { fill: hsl(49, 29%, 41%); }
    .wallSide { fill: hsl(52, 17%, 56%); }
    .wallFront { fill: hsl(50, 24%, 64%); }
    .trimFront { fill: hsl(39, 23%, 37%); }
    .trimSide { fill: hsl(40, 28%, 31%); }
    .slit { fill: hsl(0, 0%, 27%); }
    .door { fill: hsl(37, 32%, 29%); }
    .stepFront { fill: hsl(221, 27%, 35%); }
    .stepSide { fill: hsl(221, 27%, 30%); }
    .roofSide { fill: hsl(22, 28%, 44%); }
    .roofTop { fill: hsl(21, 28%, 50%); }
    .roofFront { fill: hsl(21, 28%, 47%); }
    .roofBelow { fill: hsl(21, 28%, 39%); }
    .beamSide { fill: hsl(39, 20%, 38%); }
    .beamFront { fill: hsl(39, 23%, 32%); }
    .awningBelow { fill: hsl(215, 30%, 37%); }
    .awningSide { fill: hsl(215, 30%, 41%); }
    .awningFront { fill: hsl(215, 30%, 45%); }
    .awningTop { fill: hsl(215, 30%, 50%); }
}