.lizCondom#{$suffix} {
    .condomRing { fill: hsl(128, 34%, 64%); }
    .condomBag { fill: hsl(128, 18%, 73%); }
    .wrapperOuter { fill: hsl(128, 65%, 72%); }
    .wrapperInner { fill: hsl(128, 52%, 80%); }

    .dark__indoor
    & {
        .condomRing { fill: hsl(128, 34%, 5%); }
        .condomBag { fill: hsl(128, 18%, 5%); }
        .wrapperOuter { fill: hsl(128, 65%, 5%); }
        .wrapperInner { fill: hsl(128, 52%, 5%); }
    }
}