.lizCondom#{$suffix} {
    .condomRing { fill: hsl(128, 34%, 64%); }
    .condomBag { fill: hsl(128, 18%, 73%); }
    .wrapperOuter { fill: hsl(128, 65%, 72%); }
    .wrapperInner { fill: hsl(128, 52%, 80%); }

    .dark__indoor
    &.darkens#{$suffix} {
        .condomRing { fill: hsl(128, 17%, 37%); }
        .condomBag { fill: hsl(128, 9%, 42%); }
        .wrapperOuter { fill: hsl(128, 33%, 41%); }
        .wrapperInner { fill: hsl(128, 26%, 45%); }
    }
}