.khari#{$suffix} {
    .khariShirt { fill: hsl(220, 19%, 54%); }
    .khariCollar { fill: hsl(220, 22%, 58%); }
    .khariSweater { fill: hsl(123, 37%, 60%); }
    .khariSweaterTrim { fill: hsl(123, 32%, 56%); }
    .khariShorts { fill: hsl(27, 29%, 70%); }
    .khariShoe { fill: hsl(66, 8%, 49%); }
}