.jacob#{$suffix} {
    .jacobShirt { fill: hsl(25, 47%, 65%); }
    .jacobShirtTrim { fill: hsl(20, 35%, 54%); }
    .jacobPants { fill: hsl(206, 37%, 53%); }
    .jacobShoe { fill: hsl(207, 27%, 42%); }
    .adidasLogo { fill: hsl(0, 0%, 80%); }
}