.banana#{$suffix} {
    .bananaOuterRear { fill: #a6a859; }
    .bananaOuterMiddle { fill: #b3b560; }
    .bananaInnerMiddle { fill: #abb3a1; }
    .bananaInnerRear { fill: #a1a897; }
    .bananaOuterFront { fill: #bdbf65; }
    .bananaInnerFront { fill: #b5bdaa; }
    .bananaEnd { fill: #58592f; }
}