// These values *must* be the same in js.
@audio-block-padding: 12px;
@minWidth__audioBanner: 220px;

// These values *must* be the same in js.
@audio-block-padding-y: 4px;
@AudioBanner-height: (@js__height__menu - 2 * @audio-block-padding-y) / 2;
@AudioBanner-custom-subfield-padding: 4px;
@AudioBanner-custom-subfield-height: @AudioBanner-height * 2;

@_titleInAudio_-block-padding: 6px;
