// These values *must* be the same in js.
@js__padding__audio: 12px;
@minWidth__audioBanner: 220px;

// These values *must* be the same in js.
@paddingY__audio: 4px;
@AudioBanner-height: (@js__height__menu - 2 * @paddingY__audio) / 2;
@AudioBanner-custom-subfield-padding: 4px;
@AudioBanner-custom-subfield-height: @AudioBanner-height * 2;

@paddingX__titleInAudio: 6px;
