@admin-box-shadow: 0 2px 2px 2px @box-shadow-colour;
@admin-actor-box-shadow: @admin-box-shadow;
@admin-character-box-shadow: inset 0 2px 5px @box-shadow-colour;
@admin-progress-box-shadow: 0 1px 1px 1px @box-shadow-colour;

@AnnotationCard-box-shadow: 0 1px 1px 1px @box-shadow-colour;
@AnnotationPortal-box-shadow: inset 0 2px 2px @box-shadow-colour;

@dots-subfield-box-shadow: -2px 2px 8px 8px @box-shadow-colour;

@hovered-slider-box-shadow: 0 0 1px 1px @audio-highlight-colour;

@verse-audio-box-shadow: -1px 1px 4px 4px @box-shadow-colour;

@interactivated-verse-box-shadow: inset 0 0 5px @darker-box-shadow-colour;

@verse-bar-above-box-shadow: 0 3px 12px 5px @darker-box-shadow-colour;
@verse-bar-below-box-shadow: 0 0 12px 5px @darker-box-shadow-colour;

@menu-box-shadow: 0 0 1px 1px @box-shadow-colour;

@popup-box-shadow: -2px 2px 8px 8px @box-shadow-colour;
@popup-darker-box-shadow: -2px 2px 8px 8px @darker-box-shadow-colour;
@PopupButton-box-shadow: -1px 1px 2px 2px @box-shadow-colour;
