@admin-box-shadow: 0 2px 2px 2px @colour__boxShadow;
@admin-actor-box-shadow: @admin-box-shadow;
@admin-character-box-shadow: inset 0 2px 5px @colour__boxShadow;
@admin-progress-box-shadow: 0 1px 1px 1px @colour__boxShadow;

@AnnotationCard-box-shadow: 0 1px 1px 1px @colour__boxShadow;
@AnnotationPortal-box-shadow: inset 0 2px 2px @colour__boxShadow;

@boxShadow__dotsContainer: -2px 2px 8px 8px @colour__boxShadow;

@hovered-slider-box-shadow: 0 0 1px 1px @audio-highlight-colour;

@verse-audio-box-shadow: -1px 1px 4px 4px @colour__boxShadow;

@interactivated-verse-box-shadow: inset 0 0 5px @colour__boxShadowDarker;

@_verseBarAbove_-box-shadow: 0 3px 12px 5px @colour__boxShadowDarker;
@_verseBarBelow_-box-shadow: 0 0 12px 5px @colour__boxShadowDarker;

@boxShadow__menu: 0 0 1px 1px @colour__boxShadow;

@boxShadow__popup: -2px 2px 8px 8px @colour__boxShadow;
@boxShadow__popupDarker: -2px 2px 8px 8px @colour__boxShadowDarker;
@boxShadow__popupButton: -1px 1px 2px 2px @colour__boxShadow;
