// Box shadow colours.
@colour__boxShadow: rgba(100, 100, 120, 0.2);
@colour__boxShadow__darker: rgba(25, 25, 50, 0.4);

// Audio related colours.
@colour__audioPlay: #bfb;
@colour__audioPause: #fdd;
@colour__audioDisabled: lightGray;
@colour__audioSelect: #fdb;
@colour__audioNeutral: #ddf;
@colour__audioHighlight: #ffd;
@colour__audioDisplay__dark: black;
@colour__audioDisplay__light: white;

// Lyric verse colours.
@colour__verse__odd: #fefefa;
@colour__verse__even: #f4f4f0;

// Slider verse colours.
@odd-before-slider-colour: #b59905;
@odd-before-slider-text-colour: #ffbb88;

@even-before-slider-colour: #aa8f00;
@even-before-slider-text-colour: #ffbb88;

@odd-after-slider-colour: #0599b5;
@odd-after-slider-text-colour: #88bbff;

@even-after-slider-colour: #008faa;
@even-after-slider-text-colour: #88bbff;

@side-slider-colour: #888;
@side-slider-text-colour: #bbb;

@time-spent-bar-colour: @even-before-slider-colour;
@time-remain-bar-colour: @even-after-slider-colour;

// Lyric text and anchor colours.
@selected-annotation-colour: gold;
@selected-annotation-text-colour: #b59905;
@selected-annotation-underline-colour: mix(@selected-annotation-colour, white, 25%);
@selected-CarouselAnnotation-colour: mix(@selected-annotation-colour, white, 25%);

@colour__access__link: #484;
@colour__access__hover: #7b7;
@colour__access__active: #aea;
@colour__access__underline: mix(@colour__access__link, white, 25%);

@lyric-text-colour: #000;
@lyric-link-colour: #844;
@lyric-hover-colour: #b77;
@lyric-active-colour: #eaa;
@border__dot-colour: #aaa;
@lyric-underline-disabled-colour: #aaa;
@lyric-underline-enabled-colour: mix(@lyric-link-colour, white, 25%);

// Slider text and anchor colours.
@lyric-text-invert-colour: #bbb;
@lyric-link-invert-colour: #8bb;
@lyric-hover-invert-colour: #499;
@lyric-active-invert-colour: #255;
@border__dot-invert-colour: #555;
@lyric-underline-disabled-invert-colour: #555;
@lyric-underline-enabled-invert-colour: mix(@lyric-link-invert-colour, white, 25%);

// Dot colours.
@colour__dot__narrative: #fbb;
@colour__dot__backstory: #fda;
@colour__dot__observation: #eea;
@colour__dot__pun: #bfb;
@colour__dot__reference: #afd;
@colour__dot__songwriting: #aff;
@colour__dot__portal: #adf;
@colour__dot__afterword: #fbe;

@colour__dot__deselected: lightGray;

// Annotation and Portal colours.
@bgColour__annotationCard: rgba(250, 250, 255, 0.9);
@bgColour__annotationPortal: #fff4f4;

// Song stanza colours.
@colour__stanza__title: brown;
@colour__stanza__refrain: tomato;
@colour__stanza__verse: orange;
@colour__stanza__prechorus: green;
@colour__stanza__chorus: blue;
@colour__stanza__postchorus: violet;
@colour__stanza__bridge: purple;
@colour__stanza__coda: tan;
@colour__stanza__instrumental: #f4f;
@colour__stanza__rhyme: turquoise;
@colour__stanza__backing: skyBlue;
@colour__stanza__response: cadetBlue;
