// Audio related colours.
@audio-play-colour: #bfb;
@audio-pause-colour: #fdd;
@audio-disabled-colour: lightGray;
@audio-nav-colour: #fdb;
@audio-neutral-colour: #ddf;
@audio-highlight-colour: #ffd;
@time-display-dark-colour: black;
@time-display-light-colour: white;

// Lyric verse colours.
@odd-verse-colour: #fefefa;
@even-verse-colour: #f4f4f0;

// Slider verse colours.
@odd-before-slider-colour: #fafefe;
@even-before-slider-colour: #f0f4f4;
@odd-after-slider-colour: #151212;
@even-after-slider-colour: #1f1b1b;

@time-spent-bar-colour: @even-before-slider-colour;
@time-remain-bar-colour: @even-after-slider-colour;

// Lyric text and anchor colours.
@selected-annotation-colour: gold;
@selected-annotation-text-colour: #b59905;
@selected-annotation-underline-colour: mix(@selected-annotation-colour, white, 25%);
@selected-carousel-annotation-colour: mix(@selected-annotation-colour, white, 25%);

@access-link-colour: #484;
@access-hover-colour: #7b7;
@access-active-colour: #aea;
@access-underline-colour: mix(@access-link-colour, white, 25%);

@lyric-text-colour: #000;
@lyric-link-colour: #844;
@lyric-hover-colour: #b77;
@lyric-active-colour: #eaa;
@dot-border-colour: #aaa;
@lyric-underline-disabled-colour: #aaa;
@lyric-underline-enabled-colour: mix(@lyric-link-colour, white, 25%);

// Slider text and anchor colours.
@lyric-text-invert-colour: #bbb;
@lyric-link-invert-colour: #8bb;
@lyric-hover-invert-colour: #499;
@lyric-active-invert-colour: #255;
@dot-border-invert-colour: #555;
@lyric-underline-disabled-invert-colour: #555;
@lyric-underline-enabled-invert-colour: mix(@lyric-link-invert-colour, white, 25%);

// Dot colours.
@narrative-dot-colour: #fbb;
@backstory-dot-colour: #fda;
@observation-dot-colour: #eea;
@pun-dot-colour: #bfb;
@reference-dot-colour: #afd;
@songwriting-dot-colour: #aff;
@portal-dot-colour: #adf;
@afterword-dot-colour: #fbe;

@deselected-dot-colour: lightGray;

// Song stanza colours.
@stanza-title-colour: brown;
@stanza-refrain-colour: tomato;
@stanza-verse-colour: orange;
@stanza-prechorus-colour: green;
@stanza-chorus-colour: blue;
@stanza-postchorus-colour: violet;
@stanza-bridge-colour: purple;
@stanza-coda-colour: tan;
@stanza-instrumental-colour: #f4f;
@stanza-rhyme-colour: turquoise;
@stanza-backing-colour: skyBlue;
@stanza-response-colour: cadetBlue;

// Annotation and Portal colours.
@annotation-card-colour: rgba(250, 250, 255, 0.9);
@portal-block-colour: #fff4f4;
@portal-text-colour: #ccc;

// Box shadow.
@box-shadow-colour: rgba(100, 100, 120, 0.2);
@darker-box-shadow-colour: rgba(25, 25, 50, 0.4);
