@overview-toggle-width: 75px;
@overview-toggle-height: @overview-toggle-width * 1.5;

@overview-toggle-laptop-width:  @app-large-icon-diameter + @app-thin-margin * 2;
@overview-toggle-laptop-height: @overview-toggle-laptop-width * 1.5;

@overview-toggle-tablet-width: @app-tablet-large-icon-diameter + @app-thin-margin * 2;
@overview-toggle-tablet-height: @overview-toggle-tablet-width * 1.5;

@overview-toggle-mini-width: @app-mini-large-icon-diameter + @app-thin-margin * 2;
@overview-toggle-mini-height: @overview-toggle-mini-width * 1.5;

@overview-toggle-phone-width: @app-icon-diameter + @app-thin-margin * 2;
@overview-toggle-phone-height: @overview-toggle-phone-width * 1.5;

@dots-subfield-margin: 16px;
@dots-subfield-phone-margin: 8px;

@toggle-animation-duration: @animation-default;

@dots-overview-padding: 8px;

@dot-container-diameter: 64px;
@dot-container-padding: @dot-container-diameter / 6;

@dot-container-phone-diameter: @app-large-icon-diameter * 0.95;
@dot-container-phone-padding: @app-large-icon-diameter / 7;

@dot-border: 1px;
