@OverviewToggle-width: 75px;
@OverviewToggle-height: @OverviewToggle-width * 1.5;

@OverviewToggle-laptop-width:  @app-large-icon-diameter + @app-thin-margin * 2;
@OverviewToggle-laptop-height: @OverviewToggle-laptop-width * 1.5;

@OverviewToggle-tablet-width: @app-tablet-large-icon-diameter + @app-thin-margin * 2;
@OverviewToggle-tablet-height: @OverviewToggle-tablet-width * 1.5;

@OverviewToggle-mini-width: @app-mini-large-icon-diameter + @app-thin-margin * 2;
@OverviewToggle-mini-height: @OverviewToggle-mini-width * 1.5;

@OverviewToggle-phone-width: @app-icon-diameter + @app-thin-margin * 2;
@OverviewToggle-phone-height: @OverviewToggle-phone-width * 1.5;

@dots-subfield-margin: 16px;
@dots-subfield-phone-margin: 8px;

@toggle-animation-duration: @animationDuration__default;

@dots-overview-padding: 8px;

@dot-toggle-container-diameter: 64px;
@dot-toggle-container-padding: @dot-toggle-container-diameter / 6;

@dot-toggle-container-phone-diameter: @app-large-icon-diameter * 0.95;
@dot-toggle-container-phone-padding: @app-large-icon-diameter / 7;

@dot-border: 1px;
