// Values prefixed with "js" *must* be the same on the JavaScript side.

@length__iconAccess: 20px;

@length__iconSmall: 32px;

@js__length__icon: 44px;

@length__iconLarge: 54px;
@length__iconLarge__tablet: 50px;
@length__iconLarge__mini: 47px;

@margin__thin: 4px;

// Dot diameters.
@length__annotationDot: 24px;
@length__lyricAnchorDot: 0.9em;

// Lyric values.
@height__stanzaTypeTab: 20px;
@margin__lyricUnit: @height__stanzaTypeTab + 5px;

@width__hangingIndent: 1.5em;

// Browser scrollbar.
@margin__scrollbar: 17px;
