// This value *must* be the same in js.
@js__paddingSide__popupContent: 20px;

@full-subfield-margin: @length__iconLarge;

@width__popupAnnotation: @width__annotationCard + @AnnotationCard-padding * 2 + @js__paddingSide__popupContent * 2;
@width__popupAnnotation__mini: @width__annotationCard__mini + @AnnotationCard-padding * 2 + @js__paddingSide__popupContent * 2;
@width__popupAnnotation__phone: @width__annotationCard__phone + @AnnotationCard-padding * 2 + @js__paddingSide__popupContent * 2;

@popup-transition-duration-in: @animationDuration__slow;
@popup-transition-duration-out: @animationDuration__fast;

@text-PopupView__content-padding: 15px;
