// This value *must* be the same in js.
@popup-content-side-padding: 20px;

@full-subfield-margin: @app-large-icon-diameter;
@mini-full-subfield-margin: 10px;

@popup-box-shadow: -2px 2px 8px 8px @box-shadow-colour;
@popup-darker-box-shadow: -2px 2px 8px 8px @darker-box-shadow-colour;
@popup-button-box-shadow: -1px 1px 2px 2px @box-shadow-colour;

@popup-button-multiplier: 0.56;

@popup-annotation-width: @annotation-card-width + @annotation-card-padding * 2 + @popup-content-side-padding * 2;
@mini-popup-annotation-width: @annotation-card-mini-width + @annotation-card-padding * 2 + @popup-content-side-padding * 2;
@phone-popup-annotation-width: @annotation-card-phone-width + @annotation-card-padding * 2 + @popup-content-side-padding * 2;

@popup-transition-duration-in: @animation-slow;
@popup-transition-duration-out: @animation-fast;
