// This value *must* be the same in js.
@popup-content-side-padding: 20px;

@full-subfield-margin: @app-large-icon-diameter;
@mini-full-subfield-margin: 10px;

@PopupButton-multiplier: 0.56;

@popup-annotation-width: @AnnotationCard-width + @AnnotationCard-padding * 2 + @popup-content-side-padding * 2;
@mini-popup-annotation-width: @AnnotationCard-mini-width + @AnnotationCard-padding * 2 + @popup-content-side-padding * 2;
@phone-popup-annotation-width: @AnnotationCard-phone-width + @AnnotationCard-padding * 2 + @popup-content-side-padding * 2;

@popup-transition-duration-in: @animation-slow;
@popup-transition-duration-out: @animation-fast;

@text-popup-content-wrapper-padding: 15px;
