/********
 * TEXT *
 ********/

// Establish the definitive colours for each text element.

@verse-odd-before-background-default: #000;
@verse-even-before-background-default: #000;
@verse-side-before-background-default: #000;
@verse-selected-background-default: #000;
@verse-odd-after-background-default: #000;
@verse-even-after-background-default: #000;
@verse-side-after-background-default: #000;

@verse-text-odd-before-colour-default: #000;
@verse-text-even-before-colour-default: #000;
@verse-text-side-before-colour-default: #000;
@verse-text-selected-colour-default: #000;
@verse-text-odd-after-colour-default: #000;
@verse-text-even-after-colour-default: #000;
@verse-text-side-after-colour-default: #000;

@verse-TextAnchor-odd-before-colour-default: #000;
@verse-TextAnchor-even-before-colour-default: #000;
@verse-TextAnchor-side-before-colour-default: #000;
@verse-TextAnchor-selected-colour-default: #000;
@verse-TextAnchor-odd-after-colour-default: #000;
@verse-TextAnchor-even-after-colour-default: #000;
@verse-TextAnchor-side-after-colour-default: #000;

@verse-TextAnchor-hover-odd-before-colour-default: #000;
@verse-TextAnchor-hover-even-before-colour-default: #000;
@verse-TextAnchor-hover-side-before-colour-default: #000;
@verse-TextAnchor-hover-selected-colour-default: #000;
@verse-TextAnchor-hover-odd-after-colour-default: #000;
@verse-TextAnchor-hover-even-after-colour-default: #000;
@verse-TextAnchor-hover-side-after-colour-default: #000;

@verse-TextAnchor-active-odd-before-colour-default: #000;
@verse-TextAnchor-active-even-before-colour-default: #000;
@verse-TextAnchor-active-side-before-colour-default: #000;
@verse-TextAnchor-active-selected-colour-default: #000;
@verse-TextAnchor-active-odd-after-colour-default: #000;
@verse-TextAnchor-active-even-after-colour-default: #000;
@verse-TextAnchor-active-side-after-colour-default: #000;

@verse-TextAnchor-selected-odd-before-colour-default: #000;
@verse-TextAnchor-selected-even-before-colour-default: #000;
@verse-TextAnchor-selected-side-before-colour-default: #000;
@verse-TextAnchor-selected-selected-colour-default: #000;
@verse-TextAnchor-selected-odd-after-colour-default: #000;
@verse-TextAnchor-selected-even-after-colour-default: #000;
@verse-TextAnchor-selected-side-after-colour-default: #000;

@verse-TextAnchor-accessed-odd-before-colour-default: #000;
@verse-TextAnchor-accessed-even-before-colour-default: #000;
@verse-TextAnchor-accessed-side-before-colour-default: #000;
@verse-TextAnchor-accessed-selected-colour-default: #000;
@verse-TextAnchor-accessed-odd-after-colour-default: #000;
@verse-TextAnchor-accessed-even-after-colour-default: #000;
@verse-TextAnchor-accessed-side-after-colour-default: #000;

// Lyric title.
// Underline bar.
// Dot border.
// Slider variants of background, text, underline bar, dot border.
// Annotation title.
// Annotation card text.
// Annotation anchor.
// Portal.

// Audio.
