@negative-z-index: -1;

// This should be the lowest shown element.
@popup-container-z-index: 0;

@admin-toggle-z-index: @popup-container-z-index + 1;

@nav-custom-subfield-z-index: @admin-toggle-z-index + 1;
@dots-overview-subfield-z-index: @nav-custom-subfield-z-index + 1;
@carousel-z-index: @dots-overview-subfield-z-index + 1;

@dots-Overview-z-index: @carousel-z-index + 1;
@centre-field-element-z-index: @dots-Overview-z-index + 1;

// This should be over overview toggle button for animation purposes.
@custom-AudioBanner-z-index: @centre-field-element-z-index + 1;

// Lyrics should be higher than anything in centre field.
@LyricColumn-z-index: @custom-AudioBanner-z-index + 1;
@verse-audio-button-z-index: @LyricColumn-z-index + 1;

// This is in lyrics and annotation.
@text-span-z-index: @verse-audio-button-z-index + 1;

// This needs to be above annotation text in carousel.
@CarouselNav-button-z-index: @text-span-z-index + 1;

// This is above text but below verse bar and buttons.
@LyricAccess-icons-z-index: @CarouselNav-button-z-index + 1;

// Selected verse should be above normal text span.
@selected-verse-bar-z-index: @LyricAccess-icons-z-index + 1;

// Verse bar text should be even more above.
@verse-bar-text-z-index: @selected-verse-bar-z-index + 1;

/**
 * Lyric buttons should be higher than everything else in lyric column,
 * including text span.
 */
@LyricColumn-button-z-index: @verse-bar-text-z-index + 1;

@MenuField-z-index: @LyricColumn-button-z-index + 1;

// Menu should be higher than centre field and lyrics.
@menu-subfield-z-index: @MenuField-z-index + 1;

// Score, title, and wiki popups are higher.
@PopupOverlay-z-index: @menu-subfield-z-index + 1;
@PopupOverlay-content-z-index: @PopupOverlay-z-index + 1;

@audio-in-overlay-z-index: @PopupOverlay-content-z-index + 1;

// The overlay preventing popup interaction should be the highest.
@super-overlay-z-index: @audio-in-overlay-z-index + 1;
