@zIndex__negative: -1;

// This should be the lowest shown element.
@zIndex__popupContainer: 0;

@zIndex__adminToggle: @zIndex__popupContainer + 1;

@zIndex__navCustomSubfield: @zIndex__adminToggle + 1;

// @zIndex__leftShelfSubfield:

@zIndex__carousel: @zIndex__navCustomSubfield + 1;

@zIndex__leftShelf: @zIndex__carousel + 1;
@zIndex__centreFieldChild: @zIndex__leftShelf + 1;

// This should be over overview toggle button for animation purposes.
// @zIndex__customAudioBanner:

// Lyrics should be higher than anything in centre field.
@zIndex__lyricColumn: @zIndex__centreFieldChild + 1;

@zIndex__verseAudioButton: @zIndex__lyricColumn + 1;

// This is in lyrics and annotation.
@zIndex__textSpan: @zIndex__verseAudioButton + 1;

// This needs to be above annotation text in carousel.
@zIndex__carouselNavButton: @zIndex__textSpan + 1;

// This is above text but below verse bar and buttons.
@zIndex__lyricAccessIcons: @zIndex__carouselNavButton + 1;

// Lyric toggle buttons should be higher than lyrics.
@zIndex__lyricToggle: @zIndex__lyricAccessIcons + 1;

// Selected verse bar should be above lyric column toggles.
@zIndex__selectedVerseBar: @zIndex__lyricToggle + 1;

// Verse bar text should be even more above.
@zIndex__verseBarText: @zIndex__selectedVerseBar + 1;

// Score, title, and wiki popups are higher.
@zIndex__popupOverlay: @zIndex__verseBarText + 1;
@zIndex__popupOverlayContent: @zIndex__popupOverlay + 1;

// MenuTopRow should be higher than popup overlay.
@zIndex__menuField: @zIndex__popupOverlayContent + 1;

// The overlay preventing popup interaction should be the highest.
@zIndex__touchOverlay: @zIndex__menuField + 1;