@zIndex__negative: -1;

// This should be the lowest shown element.
@zIndex__popupContainer: 0;

@zIndex__adminToggle: @zIndex__popupContainer + 1;

@zIndex__navCustomSubfield: @zIndex__adminToggle + 1;

@zIndex__carousel: @zIndex__navCustomSubfield + 1;

@zIndex__leftShelf: @zIndex__carousel + 1;
@zIndex__centreFieldChild: @zIndex__leftShelf + 1;

// Lyrics should be higher than anything in centre field.
@zIndex__lyricColumn: @zIndex__centreFieldChild + 1;

/**
 * For verse audio button to stay on top of next verse, and text span to stay
 * on top of next dot sequence.
 */
@zIndex__verseChild__topMost: @zIndex__lyricColumn + 1;

// This needs to be above annotation text in carousel.
@zIndex__carouselNavButton: @zIndex__verseChild__topMost + 1;

/**
 * For lyric toggles, verse bars, and access icons to stay on top of topmost
 * verse elements.
 */
@zIndex__lyricChild__topMost: @zIndex__carouselNavButton + 1;

// Score, title, and wiki popups are higher.
@zIndex__popupOverlay: @zIndex__lyricChild__topMost + 1;
@zIndex__popupOverlayContent: @zIndex__popupOverlay + 1;
@zIndex__popupButton: @zIndex__popupOverlayContent + 1;

// MenuTopRow should be higher than popup overlay.
@zIndex__menuField: @zIndex__popupButton + 1;

// The overlay preventing popup interaction should be the highest.
@zIndex__touchOverlay: @zIndex__menuField + 1;