.stage-tiles-field, .stage-wood {
    position: absolute;
    width: 100%;
    left: 0;
    
    &.stage-tiles-field {
        height: 100%;
        bottom: 0;
    }
}

.stage-wood {
    .floor & {
        bottom: 0;
        fill: #aba;
    }

    .ceiling & {
        top: 0;
        fill: #aab;
    }
}

.stage-tiles {
    position: relative;
}