.StageSceneAction {

    border: 1px solid green;

    // For dev purposes only. Once stuff is to be positioned, remove.
    &,
    .layer,
    .thing {
        display: flex;

        &.StageSceneAction,
        &.thing {
            flex-direction: column;
        }
    }

    .layer {
        width: 100%;
        border: 1px solid purple;
    }

    .actor {
        padding: 10px;
        color: #f88;
    }

    .fixture {
        padding: 10px;
        color: green;
    }

    .wall {
        padding: 10px;
        color: blue;
    }
}