@height__proscenium__top: 5%;
@height__proscenium__bottom: 0%;
@width__proscenium__side: 5%;

@overlap__proscenium__top: 3%;
@overlap__proscenium__bottom: 0%;
@overlap__proscenium__side: 3%;

@offset__proscenium__top:
    @overlap__proscenium__top
    - @height__proscenium__top;

@offset__proscenium__bottom:
    @overlap__proscenium__bottom
    - @height__proscenium__bottom;

@offset__proscenium__side:
    @overlap__proscenium__side
    - @width__proscenium__side;

.StageProscenium__child {
    position: absolute;
    top: @offset__proscenium__top;
}

.StageProscenium__top {
    left: @offset__proscenium__side;
    width:
        100%
        - @offset__proscenium__side * 2;
    height: @height__proscenium__top;
    background-color: rgba(250, 250, 200, 0.5);
}

.StageProscenium__side {
    height:
        100%
        - @offset__proscenium__top
        - @offset__proscenium__bottom;
    width: @width__proscenium__side;
    background-color: rgba(200, 250, 200, 0.5);
}

.StageProscenium__left {
    left: @offset__proscenium__side;
}

.StageProscenium__right {
    right: @offset__proscenium__side;
}