.oldBennett#{$suffix} {
    .stubbleBlack { fill: rgba(30, 30, 30, 0.35); stroke: none; }
    .oldBennettShirt { fill: #bac2d6; }
    .oldBennettVest { fill: #51555e; }
    .oldBennettBowtie { fill: #b35e58; }
}