@import '../constants/annotation';
@import '../constants/logic';
@import '../constants/shadow';

// FIXME: Only selectors need to be iterated, not style.
@each $dotLetter in $dotLettersArray {

    // "Root selected dot letter, child annotation card."
    .AnnotationCard__inPopup,
    .RsD#{$dotLetter} .CaC#{$dotLetter} {

        max-height: 500px; // Arbitrary large number.

        &:not(:first-child) {
            margin-top: $padding__annotationCard;
        }

        opacity: 1;
        box-shadow: $boxShadow__annotationCard;
    }
}
