.PreviewerKilobytes {
    height: $height__input;
    flex-direction: column;
}

.PreviewerKilobytes__hideInMobile {
    // Hide kilobytes in mobile.
    display: none;

    @media (min-width: 1000px) {
        display: flex;
    }
}

.PreviewerKilobytes__child {
    height: $height__input * 0.5;
}

.PreviewerKilobytes__data {
    font-size: 1.25em;
}

.PreviewerKilobytes__instance {
    font-size: 1.125em;
}
