.oceanBottomFar {
    .shadow { fill: #303; }
}

.oceanBottomMiddle {
    .shadow { fill: #448; }
}

.oceanBottomNear {
    .tubeWormCavity { fill: #669; }
    .tubeWorm { fill: #69c; }
    .kelpBack { fill: #393; }
    .kelpFront { fill: #696; }
    .rockBack { fill: #666; }
    .rockMiddle { fill: #999; }
    .rockFront { fill: #ccc; }
    .coralTube { fill: #993; }
    .coralTubeCavity { fill: #cc9; }
    .coralBrain { fill: #c96; }
    .coralBrainCavity { fill: #963; }
    .urchinBack { fill: #969; }
    .urchinFront { fill: #96c; }
}