/**
 * Styling if at least one sequence dot is selected.
 */

.RsDn .ChQn,
.RsDb .ChQb,
.RsDo .ChQo,
.RsDp .ChQp,
.RsDr .ChQr,
.RsDs .ChQs,
.RsDw .ChQw,
.RsDa .ChQa {
    opacity: 1;

    &.SequenceDot__annotationCard {
        width: $length__annotationDot;
    }
    &.SequenceDot__textAnchor {
        width: $length__lyricAnchorDot;
    }
}
