/**
 * Styling if at least one sequence dot is selected.
 */

@each $dotLetter in $dotLettersArray {

    // "Root selected dot letter, child dot sequence letter."
    .RsD#{$dotLetter} .ChQ#{$dotLetter} {

        opacity: 1;

        &.SequenceDot__annotationCard {
            width: $length__annotationDot;
        }
        &.SequenceDot__textAnchor {
            width: $length__lyricAnchorDot;
        }
    }
}