.taiwanMountain#{$suffix} {
    .mountainDark { fill: hsl(9, 14%, 37%); }
    .mountainMedium { fill: hsl(10, 14%, 41%); }
    .mountainLight { fill: hsl(9, 15%, 45%); }
    .pineDark { fill: hsl(101, 26%, 40%); }
    .pineLight { fill: hsl(102, 26%, 47%); }
    .bonsaiTrunk { fill: hsl(34, 18%, 45%); }
    .bonsaiLeavesDark { fill: hsl(149, 26%, 38%); }
    .bonsaiLeavesLIght { fill: hsl(149, 26%, 47%); }
}