// Constants prefixed with js *must* be the same in JavaScript.
$js__width__mini: 720px;
$js__width__laptop: 1400px;

// Height of the tallest carousel annotation. (Along with shivaree.)
$height__chivalry: 372px;

/**
 * This is the maximum lyric column width in monitor, as determined by the
 * width of On a Golden Cord in double columns. MenuTopRow and nav widths can be as
 * narrow as 656px. (1401 - 745.)
 */
$js__width__goldenCord: 745px;
/**
 * This is the maximum lyric column width in laptop, as determined by the
 * width of Uncanny Valley and Vegan Proclamation. MenuTopRow and nav widths can be
 * as narrow as 531px. (1101 - 570.)
 */
$js__width__uncannyValley: 570px;

$js__height__lyricCollapsed: 32%;

$width__overviewToggle: 100px;
$height__overviewToggle: 150px;
