// Constants prefixed with js *must* be the same in JavaScript.
@js__width__mini: 720px;
@js__width__laptop: 1400px;

/**
 * This is the maximum lyric column width in monitor, as determined by the
 * width of On a Golden Cord in double columns. MenuTopRow and nav widths can be as
 * narrow as 656px. (1401 - 745.)
 */
@js__width__goldenCord: 745px;
/**
 * This is the maximum lyric column width in laptop, as determined by the
 * width of Uncanny Valley and Vegan Proclamation. MenuTopRow and nav widths can be
 * as narrow as 531px. (1101 - 570.)
 */
@js__width__uncannyValley: 570px;

@js__height__lyricCollapsed: 32%;

@fontSize__verse: 1em;
@fontSize__title: 1.5em;

@multiplier__fontSize__mini: 0.85;
@fontSize__verse__mini:
    @fontSize__verse
    * @multiplier__fontSize__mini;
@fontSize__title__mini: 1.2em;

@multiplier__fontSize__phone: 0.75;
@fontSize__verse__phone:
    @fontSize__verse
    * @multiplier__fontSize__phone;
@fontSize__title__phone: 1em;

@width__overviewToggle: 100px;
@height__overviewToggle: 150px;
