// Constants prefixed with js *must* be the same in JavaScript.

@js__width__mini: 720px;
@js__width__laptop: 1400px;

/**
 * This is the maximum lyric column width in monitor, as determined by the
 * width of On a Golden Cord in double columns. MenuTopRow and nav widths can be as
 * narrow as 656px. (1401 - 745.)
 */
@js__width__goldenCord: 745px;
/**
 * This is the maximum lyric column width in laptop, as determined by the
 * width of Uncanny Valley and Vegan Proclamation. MenuTopRow and nav widths can be
 * as narrow as 531px. (1101 - 570.)
 */
@js__width__uncannyValley: 570px;

@js__height__lyricCollapsed: 32%;

@LyricVerse-size: 1em;
@fontSize__title: 1.5em;

@mini-multiplier: 0.9;
@fontSize__verse__mini: @LyricVerse-size * @mini-multiplier;
@fontSize__title__mini: 1.2em;

@phone-multiplier: 0.8;
@fontSize__verse__phone: @LyricVerse-size * @phone-multiplier;
@fontSize__title__phone: 1em;

@padding__annotation: 5px;
@paddingX__annotationCard: @padding__annotation;

@width__annotationCard: 354px;
@width__annotationCard__mini: @width__annotationCard * @mini-multiplier;
@width__annotationCard__phone: @width__annotationCard * @phone-multiplier;

@width__overviewToggle: 100px;
@height__overviewToggle: 150px;
