@import "./constants.less";
@import "./Main/DotsOverview.less";
@import "./OverviewLogue.less";
@import "./PopupOverlaid.less";
@import "./ScoresTips.less";
@import "./Menu.less";
@import "./Main/Main.less";

.Live {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}