// These values *must* be the same in js.
@margin__menuChild: 10px;
@margin__menuChild__narrow: 3px;
@minWidth__childTitle: 72px;

@height__menu: 72px;
@height__menu__phone: @length__icon + 2 * @margin__menuChild__narrow;

.Menu__container,
.Menu {
    height: @height__menu;
}

.Menu__container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.Menu {
    background-color: #8dd;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;

    position: absolute;
    height: @height__menu;
    overflow: hidden;

    box-shadow: @boxShadow__menu;
    z-index: @zIndex__menuField;

    transition:
        left @animationDuration__slow,
        transform @animationDuration__slow,
        max-width @animationDuration__default;

    ._overlayShown_
    &.width__mainColumn {
        max-width: @maxWidth__mini;

        left: 50%;
        transform: translateX(-50%);
    }

    ._phone_
    & {
        height: @height__menu__phone;
    }

}

.Menu__child {
    height: 100%;
    flex-grow: 1;

    transition:
        min-width @animationDuration__fast,
        max-width @animationDuration__fast;
}

.Menu__childTitle {
    min-width: @minWidth__childTitle;
    max-width: 200px; // Arbitrary.

    // Override.
    overflow: visible;

    ._titleInAudio_
    & {
        /**
         * Don't bother to show if title in audio. Child component also will
         * not be rendered.
         */
        display: none;
    }
}

.Menu__childAudio {
    flex-grow: 2;

    margin: 0 @margin__menuChild;
    background-color: #8d8;

    max-width: @audio-max-width;

    transition: margin @animationDuration__default;

    ._laptop_
    &,
    ._mini_
    & {
        margin: 0 @margin__menuChild__narrow;
    }

    ._scoresTipsMain_
    & {
        // If scores tips is hidden, remove audio subfield's right margin.
        margin-right: 0;
    }

    ._titleInAudio_
    & {
        // If title is hidden, remove audio subfield's left margin.
        margin-left: 0;
    }

    ._overlayShown_
    & {
        max-width: 100%;
        margin: 0;
    }

    ._mobile_
    & {
        justify-content: flex-end;
    }

    min-width: @AudioBanner-min-width + @AudioButtons-constant + @length__iconLarge + @audio-block-padding * 3;
    
    box-sizing: border-box;
    
    ._tablet_
    & {
        min-width: @AudioBanner-min-width + @AudioButtons-constant + @length__iconLarge__tablet + @audio-block-padding * 3;
    }
    
    ._mini_
    & {
        min-width: @AudioBanner-min-width + @AudioButtons-constant + @length__iconLarge__mini + @audio-block-padding * 3;
    }
    
    ._phone_
    & {
        min-width: @AudioButtons-constant + @length__icon + @audio-block-padding * 3;
    }
}

.Menu__childScoresTips {
    display: flex;
    align-items: center;
    
    ._scoresTipsMain_
    & {
        /**
         * Don't bother to show if scores tips in main. Child component also
         * will not be rendered.
         */
        display: none;
    }

    min-width: @scores-tips-width;

    ._tablet_
    & {
        min-width: @scores-tips-_tablet_;
    }

    ._mini_
    & {
        min-width: @scores-tips-_mini_;
    }
}

.Menu__child__hiddenInOverlay {
    ._overlayShown_
    & {
        width: 0;
        min-width: 0;
        max-width: 0;
    }
}
