// Constants prefixed with js *must* be the same in JavaScript.

@js__margin__menuChild: 10px;
@js__margin__menuChild__narrow: 3px;
@js__height__menu: 72px;
@js__minWidth__childTitle: 72px;

// This works out to 50px;
@js__height__menuTopRow__phone:
    @js__length__icon +
    @js__margin__menuChild__narrow * 2;

// Arbitrary for now.
@js__height__audioBanner__bottomRow: @js__height__audio / 2;

// Arbitrary for now.
@js__height__audioSlider__bottomRow: @js__height__audio / 2;

// Includes menu and slider.
@js__height__aboveOverlay__phone:
    @js__height__menuTopRow__phone +
    @js__height__audioSlider__bottomRow;

// Includes menu, banner, and slider.
@js__height__menu__phone:
    @js__height__aboveOverlay__phone +
    @js__height__audioBanner__bottomRow;

@height__bottomRow:
    @js__height__audioBanner__bottomRow +
    @js__height__audioSlider__bottomRow;

@maxWidth__childAudio: 640px; // Arbitrary.

.Menu,
.MenuTopRow {
    position: absolute;
    top: 0;
    left: 0;
    height: @js__height__menu;
}

.Menu {
    width: 100%;
    z-index: @zIndex__menuField;

    ._phone_
    & {
        height: @js__height__menu__phone;
    }
}

.MenuTopRow {
    overflow: hidden;
    
    box-shadow: @boxShadow__menu;
    background-color: #8dd;

    transition:
        left @animationDuration__slow,
        transform @animationDuration__slow,
        max-width @animationDuration__default;

    ._overlayShown_
    &.width__mainColumn {
        max-width: @maxWidth__mini;

        left: 50%;
        transform: translateX(-50%);
    }

    ._phone_
    & {
        height: @js__height__menuTopRow__phone;
    }
}

.MenuBottomRow {
    position: absolute;
    bottom: 0;
    height: @height__bottomRow;

    transition: bottom @animationDuration__default;

    ._overlayShown_
    &,
    ._song_._lyricExpanded_
    & {
        bottom: @js__height__audioBanner__bottomRow;
    }
}

.MenuTopRow,
.MenuTopRow__scoresTips {
    display: flex;
    align-items: center;
}

.MenuTopRow__child {
    height: 100%;
    flex-grow: 1;

    transition:
        min-width @animationDuration__fast,
        max-width @animationDuration__fast;
}

.MenuTopRow__titleTimer {
    position: relative;

    min-width: @js__minWidth__childTitle;
    max-width: 200px; // Arbitrary.

    padding: 5px;

    overflow: hidden;

    ._titleInAudio_
    & {
        /**
         * Don't bother to show if title in audio. Child component also will
         * not be rendered.
         */
        display: none;
    }
}

.MenuTopRow__titleTimer__child {
    
    ._phone_
    & {
        transition: left @animationDuration__default;

        &:first-child {
            left: 0;
        }
    
        &:last-child {
            left: 100%;
        }
    }

    ._phone_._overlayShown_
    &,
    ._phone_._song_._lyricExpanded_
    & {

        &:first-child {
            left: -100%;
        }

        &:last-child {
            left: 0;
        }
    }
}

.MenuTopRow__audio {
    flex-grow: 2;

    margin: 0 @js__margin__menuChild;    
    max-width: @maxWidth__childAudio;
    
    transition: margin @animationDuration__default;
    
    background-color: #8d8;

    ._laptop_
    &,
    ._mini_
    & {
        margin: 0 @js__margin__menuChild__narrow;
    }

    ._scoresTipsMain_
    & {
        // If scores tips is hidden, remove audio subfield's right margin.
        margin-right: 0;
    }

    ._titleInAudio_
    & {
        // If title is hidden, remove audio subfield's left margin.
        margin-left: 0;
    }

    ._overlayShown_
    & {
        max-width: 100%;
        margin-right: 0;
    }

    ._overlayShown_:not(._phone_)
    & {
        margin-left: 0;
    }

    ._mobile_
    & {
        justify-content: flex-end;
    }

    min-width: @minWidth__audioBanner + @AudioButtons-constant + @length__iconLarge + @audio-block-padding * 3;
    
    box-sizing: border-box;
    
    ._tablet_
    & {
        min-width: @minWidth__audioBanner + @AudioButtons-constant + @length__iconLarge__tablet + @audio-block-padding * 3;
    }
    
    ._mini_
    & {
        min-width: @minWidth__audioBanner + @AudioButtons-constant + @length__iconLarge__mini + @audio-block-padding * 3;
    }
    
    ._phone_
    & {
        min-width: @AudioButtons-constant + @js__length__icon + @audio-block-padding * 3;
    }
}

.MenuTopRow__scoresTips {
    
    ._scoresTipsMain_
    & {
        /**
         * Don't bother to show if scores tips in main. Child component also
         * will not be rendered.
         */
        display: none;
    }

    min-width: @width__childScoresTips;

    ._tablet_
    & {
        min-width: @scores-tips-_tablet_;
    }

    ._mini_
    & {
        min-width: @scores-tips-_mini_;
    }
}

.MenuTopRow____hiddenInOverlay {
    ._overlayShown_
    & {
        width: 0;
        min-width: 0;
        max-width: 0;
    }
}
