// Used by OverlayPopups only.
.topHeight__mainColumn__desktop {

    top: @js__height__menu;
    height: ~"calc(100% - @{js__height__menu})";
}

// Used by both OverlayPopups and OverviewLogue.
.topHeight__mainColumn__mobile {

    .RM__mobile
    & {
        top: @js__height__menu;
        height: ~"calc(100% - @{js__height__menu})";
    }

    .RM__twoRowMenu
    & {
        top: @js__height__aboveOverlay__twoRowMenu;
        height: ~"calc(100% - @{js__height__aboveOverlay__twoRowMenu})";
    }

    .RM__phone
    & {
        top: @js__height__aboveOverlay__phone;
        height: ~"calc(100% - @{js__height__aboveOverlay__phone})";
    }
}
