.OverviewLogue {

    .Popup__overview {

        background-color: rgba(250, 150, 200, 0.5);
    }

    ._mobile_
    & {
        .Popup__overview {
            flex-direction: column-reverse;
            padding-bottom: 25px;
        }
    }
}