// Used by OverlayPopups only.
.position__overlayPopups__desktop {
    top: @js__height__menu;
    height: ~"calc(100% - @{js__height__menu})";
}

// Used by both OverlayPopups and OverviewLogue.
.position__overlayPopups__mobile {
    .RM__mobile
    & {
        top: @js__height__menu;
        height: ~"calc(100% - @{js__height__menu})";
    }

    .RM__phone
    & {
        top: @js__height__menu__phone;
        height: ~"calc(100% - @{js__height__menu__phone})";
    }
}