.OverviewLogue {
    display: flex;
    align-items: center;

    .RM__mobile
    & {
        flex-direction: column-reverse;
        padding-bottom: @js__margin__thick;
    }

    // Override collapsed height of lyric column in mobile.
    .RM__mobile
    &.position__lyricColumn {
        height: 100%;
    }
}