.OverviewLogue {
        
    .Popup {
        display: flex;
    
        // Desktop settings.
        align-items: center;
    
        background-color: rgba(250, 150, 200, 0.5);
    }

    ._desktop_
    & {
        .Popup {
            justify-content: center;
        }
    }

    ._mobile_
    & {
        .Popup {
            flex-direction: column-reverse;
            padding-bottom: 25px;
        }
    }
}