.PopupOverlaid {

    // Prevent lyric scrolling from pushing app offscreen.
    // overflow: hidden;

    // Centre the audio section.
    display: flex;
    flex-direction: column;
    align-items: center;

    top: @js__height__menu;

    height: ~"calc(100% - @{js__height__menu})";

    .RM__phone
    & {
        height: ~"calc(100% - @{js__height__menu__phone})";
    }

    .PopupView__content {
        box-sizing: border-box;

        &.annotation {
            box-shadow: @boxShadow__popup;
        }

        &.score, &.wiki, &.title {
            box-shadow: @boxShadow__popupDarker;
        }
    }
}
