.PopupOverlaid {

    // Prevent lyric scrolling from pushing app offscreen.
    // overflow: hidden;

    top: @js__height__menu;

    height: ~"calc(100% - @{js__height__menu})";

    .RM__phone
    & {
        height: ~"calc(100% - @{js__height__menu__phone})";
    }
}
