$jsx__width__laptop: 1400px;

// Height of the tallest carousel annotation. (Along with shivaree.)
$height__chivalry: 410px;

/**
 * This is the maximum lyric column width in monitor, as determined by the
 * width of On a Golden Cord in double columns. MenuTopRow and nav widths can be as
 * narrow as 656px. (1401 - 745.)
 */
$jsx__width__goldenCord: 745px;
/**
 * This is the maximum lyric column width in laptop, as determined by the
 * width of Uncanny Valley and Vegan Proclamation. MenuTopRow and nav widths can be
 * as narrow as 531px. (1101 - 570.)
 */
$jsx__width__uncannyValley: 570px;
