.oaklandHouseLeft#{$suffix} {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.oaklandHouseRight#{$suffix} {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}