.maple#{$suffix} {
    .mapleDarkest { fill: hsl(19, 18%, 37%); }
    .mapleDarker { fill: hsl(19, 19%, 42%); }
    .mapleDark { fill: hsl(19, 20%, 47%); }
    // .mapleMediumDark { fill: hsl(19, 22%, 52%); }
    // .mapleMedium { fill: hsl(19, 22%, 57%); }
    // .mapleMediumLight { fill: hsl(19, 22%, 62%); }
    // .mapleLight { fill: hsl(19, 24%, 67%); }
}
