.mapleDarkest { fill: hsl(23, 13%, 37%); }
.mapleDarker { fill: hsl(23, 23%, 42%); }
.mapleDark { fill: hsl(23, 23%, 47%); }
.mapleMediumDark { fill: hsl(23, 23%, 52%); }
.mapleMedium { fill: hsl(23, 23%, 57%); }
.mapleMediumLight { fill: hsl(23, 23%, 62%); }
.mapleLight { fill: hsl(23, 23%, 67%); }
// .mapleLighter { fill: hsl(23, 23%, 72%); }
.mapleLightest { fill: hsl(23, 23%, 77%); }