@import '../../../scss/constants/border';
@import '../../../scss/constants/icon';
@import '../../../scss/constants/lyric';
@import '../../../scss/constants/shadow';

.UnitCard {
    position: relative;
}

.boxShadow__stanza,
.boxShadow__stanzaTab:before {
    box-shadow: $boxShadow__mainCard;
}

.UnitCard__subVerse {
    $paddingX__offsetStanza: 17%;
    $marginY__offsetUnit__overlap: 6.5px;

    margin-top: -$marginY__offsetUnit__overlap;

    .Unit__column__main
    & {
        padding-left: $paddingX__offsetStanza;
    }

    // Fix the issue once and for all with subVerses wrapping onto next line.
    white-space: nowrap;
}

.UnitCard__sheet {
    position: relative;

    padding: $MARGIN_THIN / 2;
    border-radius: $borderRadius__narrow;

    .Unit__column__main
    & {
        padding-left: $margin__thick;
    }

    .UnitCard__tabbed
    & {
        padding-top: $margin__thick * 1.5;
        border-top-left-radius: 0;
    }
}

$height: $height__formTypeTab * 4;
.bgColour__unit__pattern {
    $degrees: 60deg;
    $lightShade: hsla(0, 0%, 69%, 0.125);
    $darkShade: hsla(0, 0%, 0%, 0.1);
    $width: $height * 0.5773; // Square root of 3 for 30, 60, 90 triangle.

    background-image:
    repeating-linear-gradient(
        180 - $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent $height / 2
    ),
    repeating-linear-gradient(
        $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent $height / 2
    ),
    linear-gradient(
        $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    ),
    linear-gradient(
        180 - $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    );
    background-size: $width $height;
    background-position: top left 5px;
}

.bgColour__unit__pattern__reverse {
    background-position: bottom left 5px;
}

.bgColour__formType__refrain {
    background-color: $bgColour__formType__refrain;
}
.bgColour__formType__verse {
    background-color: $bgColour__formType__verse;
}
.bgColour__formType__prechorus {
    background-color: $bgColour__formType__prechorus;
}
.bgColour__formType__chorus {
    background-color: $bgColour__formType__chorus;
}
.bgColour__formType__postchorus {
    background-color: $bgColour__formType__postchorus;
}
.bgColour__formType__bridge {
    background-color: $bgColour__formType__bridge;
}
.bgColour__formType__coda {
    background-color: $bgColour__formType__coda;
}
.bgColour__formType__intro {
    background-color: $bgColour__formType__instrumental;
}
.bgColour__formType__solo {
    background-color: $bgColour__formType__instrumental;
}
.bgColour__formType__outro {
    background-color: $bgColour__formType__instrumental;
}
.bgColour__formType__rhyme,
.bgColour__formType__backing,
.bgColour__formType__response {
    background-color: $bgColour__formType__none;
}
