.flatRedDarker { fill: hsl(0, 33%, 42%); }
.flatRedDark { fill: hsl(0, 33%, 47%); }
.flatRedMediumDark { fill: hsl(0, 33%, 52%); }
.flatRedMedium { fill: hsl(0, 33%, 57%); }
.flatRedLight { fill: hsl(0, 33%, 67%); }
.flatRedLighter { fill: hsl(0, 33%, 72%); }

.flatOrangeLighter { fill: hsl(30, 33%, 72%); }

.flatAmberDarker { fill: hsl(45, 33%, 42%); }
.flatAmberDark { fill: hsl(45, 33%, 47%); }
.flatAmberMediumDark { fill: hsl(45, 33%, 52%); }
.flatAmberMedium { fill: hsl(45, 33%, 57%); }
.flatAmberLight { fill: hsl(45, 33%, 67%); }
.flatAmberLightest { fill: hsl(45, 33%, 77%); }

.flatYellowDarker { fill: hsl(60, 33%, 42%); }
.flatYellowDark { fill: hsl(60, 33%, 47%); }
.flatYellowMediumDark { fill: hsl(60, 33%, 52%); }
.flatYellowLighter { fill: hsl(60, 33%, 72%); }

.flatGreenDark { fill: hsl(120, 33%, 47%); }
.flatGreenMedium { fill: hsl(120, 33%, 57%); }
.flatGreenLight { fill: hsl(120, 33%, 67%); }
.flatGreenLighter { fill: hsl(120, 33%, 72%); }

.flatTurquoiseMediumDark { fill: hsl(150, 33%, 52%); }
.flatTurquoiseMedium { fill: hsl(150, 33%, 57%); }
.flatTurquoiseMediumLight { fill: hsl(150, 33%, 62%); }

.flatTealLighter { fill: hsl(180, 33%, 72%); }

.flatBlueDark { fill: hsl(210, 33%, 47%); }
.flatBlueMediumDark { fill: hsl(210, 33%, 52%); }
.flatBlueMedium { fill: hsl(210, 33%, 57%); }
.flatBlueLight { fill: hsl(210, 33%, 67%); }
.flatBlueLighter { fill: hsl(210, 33%, 72%); }
.flatBlueLightest { fill: hsl(210, 33%, 77%); }

.flatPurpleMedium { fill: hsl(270, 33%, 57%); }

.flatMagentaLighter { fill: hsl(300, 33%, 72%); }

.flatMaroonMedium { fill: hsl(330, 33%, 57%); }