.taiwanMountain#{$suffix} {
    .mountainFarthest { fill: hsl(198, 12%, 55%); }
    .mountainFarther { fill: hsl(198, 13%, 51%); }
    .mountainFar { fill: hsl(198, 14%, 47%); }
    .mountain { fill: hsl(198, 15%, 39%); }
    .mountainNear { fill: hsl(198, 16%, 35%); }

    .meadowFar { fill: hsl(154, 10%, 38%); }
    .meadowMiddle { fill: hsl(154, 12%, 35%); }
    .meadowNear { fill: hsl(154, 14%, 32%); }

    .nightTime
    &.nightTime#{$suffix} {

    }
}