.NavRoad {
    opacity: 1;

    .DW__higherProcessor {
        transition: opacity $animationDuration__default;
    }

    .NavColumn__hidden
    & {
        opacity: 0;
    }

    top: 85%;
    height: 15%;
    background-color: red;
}