.NavRoad {
    top: 85%;
    height: 15%;

    opacity: 1;

    .DW__userAgentDesktop {
        transition: opacity $transitionDuration__default;
    }

    .NavColumn__hidden
    & {
        opacity: 0;
    }

    background-color: $colour__road;

    border-radius: $borderRadius__narrow;
}