@import '../../scss/constants/icon';
@import '../../scss/constants/menu';
@import '../../scss/constants/transition';
@import '../../scss/constants/zIndex';

$padding__menuChild__mobile: $margin__thick;
$padding__menuChild__desktop: $margin__thick * 2;

.Menu__topField {
    height: $HEIGHT_MENU;
    padding: $MARGIN_THIN;
}

.Menu__main {
    .DW__userAgentDesktop
    & {
        transition:
            margin $transitionDuration__slow,
            max-width $transitionDuration__slow;
    }

    /**
     * Dynamic margins are calculated by JavaScript when menu mainTop is
     * centred. Override them when it's not. Not happy about doing it this way,
     * but I wasn't able to keep the animation smooth in Safari otherwise.
     */
    .DW__desktopWidth
    .PlW__song
    .ShW__overlayHidden
    & {
        // This keeps the menu mainTop to the right.
        margin: 0 !important;
        max-width: auto;
    }

    // In desktop, when in logue, centre menu main.
    .DW__desktopWidth
    .PlW__logue
    &,

    // In desktop, also centre menu main in overlay.
    .DW__desktopWidth
    .ShW__overlayShown
    & {
        max-width: $WIDTH_MENU_BREAKPOINT;
    }
}

.Menu__mainTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /**
     * This allows the about tooltip to show above the banner filmstrip. The
     * tooltip no longer seems to care about the stacking order, and the
     * original styling using flex ordering also no longer has an effect? I'm
     * confused, but I have no time to investigate.
     */
    flex-direction: row-reverse;

    .AboutToggle {
        order: 3;
        margin-right: $padding__menuChild__mobile;

        .DW__tabletOrDesktopWidth
        & {
            margin-right: $padding__menuChild__desktop;
        }
    }
    .BannerFilmstrip { order: 2; }
    .Audio {
        order: 1;
        margin-left: $padding__menuChild__mobile;

        .DW__tabletOrDesktopWidth
        & {
            margin-left: $padding__menuChild__desktop;
        }
    }
}

.Menu__mainBottom {
    top: $HEIGHT_MENU;
    padding-top: $MARGIN_THIN;

    height:
        $LENGTH_ICON_LARGE
        + $MARGIN_THIN;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Menu__lyricTop {
    // This is only ever shown in desktop, so no need for mobile padding.
    padding-left: $padding__menuChild__desktop;
    padding-right: $padding__menuChild__desktop;

    .ShW__tips__slider
    & {
        z-index: $zIndex__menuChild__topMost;
    }
}
