$suffix: __shared;

@import "./animals/style";
@import "./buildings/style";
@import "./dishroom/style";
@import "./food/style";
@import "./furniture/style";
@import "./home/style";
@import "./household/style";
@import "./instruments/style";
@import "./outdoor/style";
@import "./paper/style";
@import "./people/style";
@import "./print/style";
@import "./props/style";
@import "./sketch/style";
@import "./taiwan/style";
@import "./vehicles/style";
@import "./wardrobe/style";

.Presence,
[class$=Line] {
    fill: none;
    stroke-width: 1px;
    stroke: hsla(0, 5%, 20%, 0.6);
}

.cheekLine {
    stroke: hsla(0, 5%, 20%, 0.4);
}

.eyeCornerLine,
[class$=CreaseLine] {
    stroke-width: 0.5px;
}

.teeth,
.mouthInner,
[class^=lipFemale],
[class$=EdgeLine] {
    stroke-width: 0.66px;
}

.eyeFoldLine,
[class^=eyebrow],
.smileLine,
.cheekLine,
.lipOverlapLine,
[class$=FoldLine] {
    stroke-width: 0.75px;
}

// [class$=BorderLine] {
//     stroke-width: 1px;
// }

// [class$=OverlapLine] {
//     stroke-width: 1px;
// }

[class$=DisplayLine] {
    stroke-width: 1.25px;
}

[class$=LightLine] {
    stroke: hsla(0, 0%, 100%, 0.7);
    stroke-width: 2px;
}
