.museumDisplay {
    .displayBack {
        fill: #ffc;
    }

    .displayLeft {
        fill: #cc9;
    }

    .displayRight {
        fill: #cc9;
    }

    .displayTop {
        fill: #cc9;
    }

    .displayBottom {
        fill: #cc9;
    }

    .case {
        fill: #cc6;
    }

    .land {
        fill: #c96;
    }

    .routes {
        fill: #c66;
    }

    .oar {
        fill: #963;
    }

    .axeHandle {
        fill: #963;
    }

    .axeBlade {
        fill: #999;
    }

    .axeTwine {
        fill: #fcc;
    }

    .pot {
        fill: #996;
    }

    .vaseLeg {
        fill: #366;
    }

    .vase {
        fill: #699;
    }

    .vaseBand {
        fill: #9c9;
    }

    .pitcher {
        fill: #99c;
    }

    .pitcherBand {
        fill: #c9c;
    }
}

.cavemanBones {
    .poleSide {
        fill: #7e949e;
    }

    .poleFront {
        fill: #97b0bd;
    }

    .placardBottom {
        fill: #8a8a5c;
    }

    .placardSide {
        fill: #9e9b7e;
    }

    .placardFront {
        fill: #9991b5;
    }

    .appendageRear {
        fill: #abaa97;
    }

    .centreInner {
        fill: #b0af9d;
    }

    .spine {
        fill: #b5b4a0;
    }

    .centreOuter {
        fill: #bdbca7;
    }

    .appendageFront {
        fill: #bfbea9;
    }
}