@import './things/style';

.sclera,
.pupil,
[class^=iris],
[class^=nipple],
[class$=Blob],
[class$=Logo],
[class$=noStroke] {
    stroke: none;
}

.Presence,
[class$=Line] {
    fill: none;
    stroke-width: 0.8px;
    stroke: hsla(0, 5%, 20%, 0.6);
}

.clothesFoldLine,
.cheekLine {
    stroke: hsla(0, 5%, 20%, 0.4);
}

.eyeCornerLine,
.eyeFoldLine,
[class$=CreaseLine] {
    stroke-width: 0.5px;
}

[class^=eyebrow],
.gum,
.teeth,
.mouthInner,
[class^=lipFemale],
[class$=EdgeLine] {
    stroke-width: 0.6px;
}

.smileLine,
.cheekLine,
.lipOverlapLine,
[class$=FoldLine] {
    stroke-width: 0.7px;
}

// [class$=BorderLine] {
//     stroke-width: 1px;
// }

// [class$=OverlapLine] {
//     stroke-width: 1px;
// }

[class$=DisplayLine] {
    stroke-width: 1px;
}

[class$=Logo]
[class$=Line] {
    stroke: hsla(0, 5%, 20%, 0.4);
}

[class$=LightLine] {
    stroke: hsla(0, 0%, 90%, 0.5);
    // stroke-width: 2px;
}

.darkRoomDefault .darkRoom#{$suffix} {
    [class$=LightLine] {
        stroke: none;
    }
}