.christopher#{$suffix} {
    .christopherShirt { fill: hsl(187, 43%, 62%); }
    .christopherShirtInner { fill: hsl(187, 43%, 52%); }
    .christopherSweater { fill: hsl(177, 21%, 53%); }
    .christopherWaistband { fill: hsl(60, 19%, 55%); }
    .christopherShortsInner { fill: hsl(44, 19%, 36%); }
    .christopherShorts { fill: hsl(44, 23%, 44%); }
    .christopherShoe { fill: hsl(217, 31%, 57%); }
    .christopherStrap { fill: hsl(217, 28%, 48%); }

    .blissfulGuilty {
        .handle { fill: hsl(184, 47%, 58%); }
    }
}