@import '../../scss/constants/transition';

.Iframe {
    height: 100%;
    overflow-y: hidden;
}

.Iframe__window {
    border: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;

    .DW__userAgentDesktop
    & {
        transition: opacity $transitionDuration__slower;
    }
}

.Iframe__window__loaded {
    opacity: 1;
}
