@import "./preload";
@import "./live";
@import "./menu";

@import "./constants/commented-out";

@import "./constants/audio";
@import "./constants/box-shadow";
@import "./constants/carousel";
@import "./constants/colours";
@import "./constants/dots";
@import "./constants/Lyric";
@import "./constants/nav-responsive";
@import "./constants/Popups";
@import "./constants/text";
@import "./constants/z-indices";

@import "./utilities/constants";
@import "./utilities/animations";
@import "./utilities/dot-key-animations";
@import "./utilities/globals";
@import "./utilities/mixins";

@import "../components/Admin/admin";
@import "../components/Admin/admin-nav";
@import "../components/Admin/progress";
@import "../components/Admin/tasks";
@import "../components/Admin/drawings";

@import "../components/Access/access-icons-block.less";

@import "../components/Annotation/annotation-card.less";
@import "../components/Annotation/annotation-portal.less";
@import "../components/Annotation/annotation-section.less";

@import "../components/Audio/audio-banner.less";
@import "../components/Audio/audio-buttons.less";
@import "../components/Audio/audio-section.less";
@import "../components/Audio/audio-timer.less";

@import "../components/Button/button.less";

@import "../components/Carousel/carousel-annotation.less";
@import "../components/Carousel/carousel-nav.less";
@import "../components/Carousel/carousel-section.less";
@import "../components/Carousel/carousel-toggle.less";

@import "../components/Dot/dot-anchor.less";
@import "../components/Dot/dot-block.less";
@import "../components/Dot/dot-toggle-block.less";
@import "../components/Dot/dot-toggle-button.less";

@import "../components/Dots/dots-section.less";
@import "../components/Dots/dots-toggle.less";

@import "../components/Lyric/lyric-access.less";
@import "../components/Lyric/lyric-column.less";
@import "../components/Lyric/lyric-dot-stanza.less";
@import "../components/Lyric/lyric-section.less";
@import "../components/Lyric/lyric-stanza.less";
@import "../components/Lyric/lyric-toggle.less";
@import "../components/Lyric/lyric-unit.less";

@import "../components/Main/dots-overview-toggle-section.less";
@import "../components/Main/main-column.less";
@import "../components/Main/menu-field.less";
@import "../components/Main/overlay.less";
@import "../components/Main/ScoresTipsSection.less";

@import "../components/Nav/nav-book.less";
@import "../components/Nav/nav-books-column.less";
@import "../components/Nav/nav-button.less";
@import "../components/Nav/nav-panel.less";
@import "../components/Nav/nav-responsive.less";
@import "../components/Nav/nav-section.less";
@import "../components/Nav/nav-toggle.less";

@import "../components/Overview/overview-section.less";
@import "../components/Overview/overview-toggle.less";

@import "../components/Popup/Popup.less";

@import "../components/Score/Score.less";

@import "../components/Slider/slider-cursor.less";
@import "../components/Slider/slider-scenes.less";
@import "../components/Slider/slider-section.less";
@import "../components/Slider/slider-stanzas.less";
@import "../components/Slider/slider-time-bars.less";
@import "../components/Slider/slider-verses.less";

@import "../components/Stage/Stage.less";
@import "../components/Theatre/Theatre.less";

@import "../components/Text/text-anchor-block.less";
@import "../components/Text/text-anchor.less";
@import "../components/Text/text-span.less";

@import "../components/Tips/Tips.less";

@import "../components/Title/Title.less";

@import "../components/Verse/verse-constants.less";
@import "../components/Verse/verse-audio-button.less";
@import "../components/Verse/verse-audio-indicator.less";
@import "../components/Verse/verse-bar.less";
@import "../components/Verse/verse-line.less";
@import "../components/Verse/verse-lines-block.less";
@import "../components/Verse/verse-unit.less";

@import "../components/Wiki/Wiki.less";

@import "../components/Icon/icon.less";

@import "./utilities/access";

body {
    background-color: rgba(200, 200, 200, 1);
    margin: 0;
    cursor: default;
}

.domManager {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    font-family: PTSansNarrow, Arial;
    font-size: 1.1em;
    user-select: none;

    // Not sure why autoprefixer isn't working in this case.
    -moz-user-select: none;

    // FIXME: Temp styling, of course.
    background-color: rgba(200, 200, 200, 1);
}
