@import "./vendor-prefixes.less";

@field-padding: 15px;
@row-height-margin: 2px;

@primary-row-font-size: 1.05em;
@secondary-row-font-size: 0.9em;

@songs-field-width: 350px;
@notes-field-width: 350px;
@lyrics-field-width: auto;

/*********
 * FONTS *
 *********/

@font-face {
  font-family: PTSansNarrow;
  src: url('../assets/fonts/pt_sans/PTN57F.ttf') format('truetype'),
       url('../assets/fonts/pt_sans/PTN77F.ttf') format('truetype')
}

/**********
 * MIXINS *
 **********/

.animation-mixin(@property: opacity,
                 @shown-value: 1,
                 @hidden-value: 0,
                 @duration: 0.1s,
                 @timing: ease) {

    .transition(@property @duration @timing);

    &[class*="animation-enter"] {
        @{property}: @hidden-value;

        &[class*="animation-enter-active"] {
            @{property}: @shown-value;
        }
    }

    &[class*="animation-leave"] {
        @{property}: @shown-value;

        &[class*="animation-leave-active"] {
            @{property}: @hidden-value;
        }
    }
}

.progress-bar-mixin(@progress-bar-colour, @filled-bar-colour) {

    .progress-bar {
        background-color: @progress-bar-colour;

        .filled-bar {
            background-color: @filled-bar-colour;
        }
    }
}