@import "./vendor-prefixes.less";

@field-padding: 15px;
@row-height-margin: 5px;

@primary-row-font-size: 1.05em;
@secondary-row-font-size: 0.9em;

// Field widths.
@songs-field-width: 350px;
@notes-field-width: 350px;
@lyrics-field-width: auto;

// Field colours.
@songs-field-colour: #ede;
@notes-field-colour: #edd;
@lyrics-field-colour: #eed;
@annotation-colour: #eff;

// Section colours.
@section-colour: rgba(255, 255, 255, 0.5);
@box-shadow-colour: rgba(100, 100, 120, 0.2);

// TODO: Finalise link colours.
// FIXME: Delete dev dot colour.
@dev-dot-colour: #f88;
@pun-dot-colour: #dfa;
@backstory-dot-colour: #fbe;
@narrative-dot-colour: #adf;
@foreshadow-dot-colour: #ebf;
@music-dot-colour: #afd;
@pulpit-dot-colour: #fda;
@reference-dot-colour: #aff;
@portal-dot-colour: #ddf;

// TODO: Finalise lyric link colours.
@lyric-link-colour: #844;
@lyric-hover-colour: #b77;
@lyric-active-colour: #eaa;
@song-link-colour: #484;
@song-hover-colour: #7b7;
@song-active-colour: #aea;
@disabled-link-colour: #aaa;

// Progress bar colours.
@task-total-colour: #fcc;
@task-filled-colour: #daa;
@song-total-colour: #fcf;
@song-filled-colour: #dad;
@played-total-colour: #cfc;
@played-filled-colour: #ada;

/*********
 * FONTS *
 *********/

@font-face {
  font-family: PTSansNarrow;
  src: url('../assets/fonts/pt_sans/PTN57F.ttf') format('truetype'),
       url('../assets/fonts/pt_sans/PTN77F.ttf') format('truetype')
}

@text-z-index: 1;

/**********
 * MIXINS *
 **********/

.animation-mixin(@property: opacity,
                 @shown-value: 1,
                 @hidden-value: 0,
                 @duration: 0.1s,
                 @timing: ease) {

    .transition(@property @duration @timing);

    &[class*="animation-enter"] {
        @{property}: @hidden-value;

        &[class*="animation-enter-active"] {
            @{property}: @shown-value;
        }
    }

    &[class*="animation-leave"] {
        @{property}: @shown-value;

        &[class*="animation-leave-active"] {
            @{property}: @hidden-value;
        }
    }
}

.dots-mixin(@dot-diameter: 2em) {
    .dot {
        width: @dot-diameter;
        height: @dot-diameter;
        border: (@dot-diameter * 0.1) solid #aaa;
        border-radius: @dot-diameter;

        &.description {
            background-color: @dev-dot-colour;
        }

        &.pun {
            background-color: @pun-dot-colour;
        }

        &.backstory {
            background-color: @backstory-dot-colour;
        }

        &.narrative {
            background-color: @narrative-dot-colour;
        }

        &.foreshadow {
            background-color: @foreshadow-dot-colour;
        }

        &.music {
            background-color: @music-dot-colour;
        }

        &.pulpit {
            background-color: @pulpit-dot-colour;
        }

        &.reference {
            background-color: @reference-dot-colour;
        }

        &.portal {
            background-color: @portal-dot-colour;
        }
    }
}

.dots-block-mixin(@dot-diameter: 2em) {
    .dots-block {
        display: flex;
        width: auto;
        height: 100%;

        .dots-mixin(@dot-diameter);
        .dot {
            &:not(:last-child) {
                margin-right: @dot-diameter * 0.1;
            }
        }
    }
}

.progress-bar-mixin(@progress-bar-colour, @filled-bar-colour) {

    .progress-bar {
        background-color: @progress-bar-colour;

        .filled-bar {
            background-color: @filled-bar-colour;
        }
    }
}