/********
 * TAGS *
 ********/

h1 {
    font-size: 1.6em;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    .transition(color 0.05s ease);
    .no-select;
    cursor: pointer;

    font-weight: bold;
    color: #844;

    &:hover {
        color: #b77;
    }

    &:active {
        color: #eaa;
    }
}