// These values *must* be the same in js.
@mini-max-width: 720px;
@laptop-max-width: 1400px;

// These values *must* be the same in js.
/**
 * This is the maximum lyric column width in monitor, as determined by the
 * width of On a Golden Cord in double columns. Menu and nav widths can be as
 * narrow as 656px. (1401 - 745.)
 */
@width__goldenCord: 745px;
/**
 * This is the maximum lyric column width in laptop, as determined by the
 * width of Uncanny Valley and Vegan Proclamation. Menu and nav widths can be
 * as narrow as 531px. (1101 - 570.)
 */
@width__uncannyValley: 570px;

// This value *must* be the same in js.
@collapsed-Lyric-height: 32%;

@nav-height-padding: 6px;
@nav-height: @length__iconLarge + @nav-height-padding;
@nav-tablet-height: @length__iconLarge__tablet + @nav-height-padding;
@nav-mini-height: @length__iconLarge__mini + @nav-height-padding;
@book-height: @length__icon + @nav-height-padding;

@LyricVerse-size: 1em;
@lyric-title-size: 1.5em;

@mini-multiplier: 0.9;
@mini-verse-size: @LyricVerse-size * @mini-multiplier;
@mini-title-size: 1.2em;

@phone-multiplier: 0.8;
@phone-verse-size: @LyricVerse-size * @phone-multiplier;
@phone-title-size: 1em;

@Annotation-padding: 5px;
@AnnotationCard-padding: @Annotation-padding;

@AnnotationCard-width: 354px;
@AnnotationCard-_mini_: @AnnotationCard-width * @mini-multiplier;
@AnnotationCard-_phone_: @AnnotationCard-width * @phone-multiplier;

@OverviewToggle-width: 100px;
@OverviewToggle-height: 150px;

@hanging-indent-width: 1.5em;

.Live {
    background-color: black;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.MainColumn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subfield, .menu-subfield {
    height: 100%;
}

.centre-field {
    position: relative;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

._desktop_ {

    .column {
        position: absolute;
        height: 100%;
    }

    .MainColumn {
        width: ~"calc(100% - @{width__goldenCord})";
    }

    .LyricColumn, .OverviewLogueColumn {
        width: @width__goldenCord;
        right: 0;
    }

    &._laptop_ {
        .MainColumn {
            width: ~"calc(100% - @{width__uncannyValley})";
        }

        .LyricColumn, .OverviewLogueColumn {
            width: @width__uncannyValley;
        }
    }

    .OverviewLogueColumn {
        
        .Popup {
            display: flex;
            justify-content: center;
        }
    }
}

._mobile_ {

    .MainColumn {
        width: 100%;
        height: 100% - @collapsed-Lyric-height;
    }

    .centre-field {
        flex-direction: column-reverse;
    }

    .LyricColumn, .OverviewLogueColumn {
        position: absolute;
        height: @collapsed-Lyric-height;
        width: 100%;
        bottom: 0;
    }

    &._lyricHeightless_ {
        .MainColumn {
            height: 100%;
        }
    }
}
