// These values should be the same in constants.js. (Used only by admin.)
@phone-max-width: 475px;
@mini-max-width: 720px;
@tablet-max-width: 1100px;
@laptop-max-width: 1400px;

/**
 * This is the maximum lyric column width in monitor, as determined by the
 * width of On a Golden Cord in double columns. Menu and nav widths can be as
 * narrow as 656px. (1401 - 745.)
 */
@golden-cord-width: 745px;

/**
 * This is the maximum lyric column width in laptop, as determined by the
 * width of Uncanny Valley and Vegan Proclamation. Menu and nav widths can be
 * as narrow as 531px. (1101 - 570.)
 */
@uncanny-valley-width: 570px;

@collapsed-lyric-section-height: 32%;

@menu-height-laptop-monitor: 72px;
@menu-height-mini-tablet: 60px;
@menu-height-phone: 50px;

@audio-width-monitor: 50%;
@side-menu-width-monitor: (100% - @audio-width-monitor) / 2;
@audio-min-width-monitor: 400px;

@nav-height: 50px;
@nav-width: @nav-height * 2 / 3;

@overview-toggle-width: 100px;
@overview-toggle-height: 150px;

.live {
    background-color: black;
}

.live-window {
    position: relative;
    width: 100%;

    // Needed by Safari.
    height: 100%;

    background-color: #ddd;
}

.main-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .transition(height 0.2s ease);
}

.field {
    // border: 2px dotted green;

    /**
     * Desktop menu and nav will calculate widths based on screen width, so
     * they are placed outside the main column. Use this "desktop" class name
     * because they each have a placeholder that is still in the main column.
     */
    &.outside-main {
        position: absolute;
        left: 0;

        &.menu-field {
            top: 0;
        }

        &.nav-field {
            bottom: 0;
        }
    }

    // Keep the placeholder hidden;
    &.placeholder {
        visibility: hidden;
    }
}

.subfield {
    // border: 2px dotted orange;
}

.menu-field, .nav-field {
    // Ensure that this isn't some grossly huge value.
    max-width: @laptop-max-width;

    &.menu-field {
        display: flex;
        justify-content: center;
        align-items: center;

        border: 2px dotted violet;

        .subfield {
            height: 100%;
        }
    }
}

.title-subfield, .dots-tips-subfield {
    position: relative;
}

.title-subfield {
    width: @side-menu-width-monitor;
    background-color: #d88;
}

.audio-subfield {
    width: @audio-width-monitor;
    background-color: #8d8;
}

.audio-subfield {
    min-width: @audio-min-width-monitor;
}

.dots-tips-subfield {
    width: @side-menu-width-monitor;
    background-color: #88d;
}

.title-block, .dots-tips-block {
    position: absolute;
    background-color: #d84;
    height: 100%;
}

.main-field {
    position: relative;
    flex-grow: 1;
}

.nav-field {
    position: relative;
    .transition(height 0.2s ease);
    height: @nav-height;

    background-color: #4d4;
}

.live {
    .nav-section {
        height: 100%;
        width: 200px;
        overflow: hidden;
    }
}

.monitor-width, .laptop-width {

    .live-window {
        display: flex;
        justify-content: space-between;
    }

    .main-column {
        flex-grow: 1;
    }

    .menu-field {
        height: @menu-height-laptop-monitor;
    }

    .field {
        &.outside-main {
            width: ~"calc(100% - @{golden-cord-width})";
        }
    }

    // For admin device width toggle. Should be the same as in constants.js.
    &.laptop-width {
        .live-window {
            max-width: @laptop-max-width;
        }

        .field {
            &.outside-main {
                width: ~"calc(100% - @{uncanny-valley-width})";
            }
        }
    }
}

.tablet-width, .mini-width, .phone-width {

    // For admin device width toggle. Should be the same as in constants.js.
    .live-window {
        max-width: @tablet-max-width;
    }

    .main-column {
        width: 100%;
        height: 100% - @collapsed-lyric-section-height;
    }

    .is-logue {
        .main-column {
            height: 100%;
        }
    }

    .field {
        width: 100%;
    }

    .menu-field {
        height: @menu-height-mini-tablet;
        order: 1;
    }

    .nav-field {
        order: 2;

        &.outside-main {
            top: @menu-height-mini-tablet;
        }
    }

    .main-field {
        order: 3;
    }

    // For admin device width toggle. Should be the same as in constants.js.
    &.mini-width {
        .live-window {
            max-width: @mini-max-width;
        }
    }

    &.phone-width {
        // Phone has no nav field.

        // For admin device width toggle. Should be the same as in constants.js.
        .live-window {
            max-width: @phone-max-width;
        }

        .menu-field {
            height: @menu-height-phone;
        }

        .audio-subfield {
            width: 100%;
        }
    }
}
