@collapsed-lyric-section-height: 32%;
@menu-height-laptop-monitor: 72px;
@menu-height-mini-tablet: 60px;
@menu-height-phone: 50px;

@nav-height: 50px;

@overview-toggle-width: 100px;
@overview-toggle-height: 150px;

.live-column {
    position: relative;
    width: 100%;

    // Needed by Safari.
    height: 100%;
}

// FIXME: For admin device width toggle.
// .app.live {
//     &:not(.monitor-width) {
//         .live-column {
//             left: 0;
//         }
//     }
// }

.main-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.field {
    // border: 2px dotted green;
}

.subfield {
    // border: 2px dotted orange;
}

.menu-field {
    display: flex;
}

.main-field {
    position: relative;
    flex-grow: 1;
}

.nav-field {
    height: @nav-height;
}

.live {
    .nav-section {
        height: 100%;
        width: 200px;
        overflow: hidden;
    }
}

.monitor-width, .laptop-width {

    .live-column {
        display: flex;
        justify-content: space-between;
    }

    .main-column {
        flex-grow: 1;
    }

    .menu-field {
        height: @menu-height-laptop-monitor;
    }

    // FIXME: For admin device width toggle.
    // &.laptop-width {
    //     .live-column {
    //         max-width: 1400px;
    //     }
    // }
}

.tablet-width, .mini-width, .phone-width {

    // FIXME: For admin device width toggle.
    // .live-column {
    //     max-width: 900px;
    // }

    .main-column {
        width: 100%;
        height: 100% - @collapsed-lyric-section-height;
    }

    .menu-field {
        height: @menu-height-mini-tablet;
        order: 1;
    }

    .nav-field {
        order: 2;
    }

    .main-field {
        order: 3;
    }

    // FIXME: For admin device width toggle.
    // &.mini-width {
    //     .live-column {
    //         max-width: 720px;
    //     }
    // }

    &.phone-width {
        // Phone has no nav field.

        // FIXME: For admin device width toggle.
        // .live-column {
        //     max-width: 500px;
        // }

        .menu-field {
            height: @menu-height-phone;
        }

        .audio-section {
            width: 100%;
        }
    }
}
