@import "./utilities/vendor-prefixes";
@import "./utilities/constants";
@import "./utilities/mixins";
@import "./utilities/tags";
@import "./utilities/popups";
@import "./utilities/text";

@import "./classes/songs";
@import "./classes/annotation";
@import "./classes/wiki";
@import "./classes/overviews";
@import "./classes/tasks";
@import "./classes/progress";
@import "./classes/dots";
@import "./classes/lyrics";

body {
    background-color: #999;
    margin: 0;
    cursor: default;
    // .no-select;
}

.app {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100vh;
    font-family: PTSansNarrow;
    font-size: 1.1em;
}

/**********
 * FIELDS *
 **********/

.column {
    display: flex;
    box-sizing: border-box;

    // Needed by Safari.
    height: 100%;
}

.field {
    width: @field-width;
    min-width: @field-width;
    padding: 0 (@field-padding * 0.5);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.album-field {
    padding-left: @field-padding;
    background-color: @album-field-colour;
    font-size: 1.2em;
}

.shared-field {
    background-color: @shared-field-colour;
}

.song-field {
    width: @song-field-width;
    min-width: @song-field-width;
    padding-right: @field-padding;
    background-color: @song-field-colour;
}

/************
 * SECTIONS *
 ************/

.section {
    box-sizing: border-box;
    padding: @field-padding;

    &:not(.in-popup) {
        margin: @field-padding 0;
        background-color: @section-colour;
        box-shadow: 0 2px 2px 2px @box-shadow-colour;
    }

    &.access-highlighted {
        box-shadow: 0 2px 10px 10px violet ;
    }
}

/***********
 * BUTTONS *
 ***********/

 .enabled {
     cursor: pointer;
 }

.radio-button-block {
    display: flex;
    justify-content: space-between;

    .disabled {
        a {
            color: @disabled-link-colour;
        }
    }
}
