@menu-height: 72px;
@menu-phone-height: @app-icon-diameter + 2 * @menu-subfield-narrow-margin;

@menu-subfield-margin: 10px;
@menu-subfield-narrow-margin: 3px;

@title-subfield-min-width: 72px;

.menu-field, .menu-subfield {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-field {
    height: @menu-height;
    background-color: #dfd;

    // Needs to be above nav when nav buttons are hidden.
    z-index: @menu-field-z-index;
}

.menu-subfield {
    border-radius: 15px;

    z-index: @menu-subfield-z-index;
    flex-grow: 1;

    &.audio-subfield {
        flex-grow: 2;
    }

    &:not(:last-child) {
        margin-right: @menu-subfield-margin;
    }
}

.scores-tips-menu-subfield {
    justify-content: flex-start;
}

.title-menu-subfield {
    min-width: @title-subfield-min-width;
    max-width: 200px; // Arbitrary.

    background-color: #d88;
}

.audio-subfield {
    background-color: #8d8;
}

.is-desktop {

    &.laptop-width {
        .menu-subfield {
            &:not(:last-child) {
                margin-right: @menu-subfield-narrow-margin;
            }
        }
    }
}

.is-mobile {

    .scores-tips-menu-subfield {
        justify-content: flex-end;
    }

    &.mini-width {
        .menu-subfield {
            &:not(:last-child) {
                margin-right: @menu-subfield-narrow-margin;
            }
        }
    }

    &.phone-width {
        .menu-field {
            height: @menu-phone-height;
        }
    }
}
