@menu-height: 72px;
@menu-height-phone: 50px;

@menu-subfield-margin: 10px;
@menu-subfield-narrow-margin: 3px;

@title-subfield-min-width: 72px;

.menu-field, .menu-subfield {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-field {
    height: @menu-height;
}

.menu-subfield {
    border-radius: 15px;
    overflow: hidden;

    z-index: @menu-subfield-z-index;
    flex-grow: 1;

    &.audio-menu-subfield {
        flex-grow: 2;
    }

    &:not(:last-child) {
        margin-right: @menu-subfield-margin;
    }
}

.title-menu-subfield, .dots-tips-menu-subfield {
    justify-content: flex-start;
}

.title-menu-subfield {
    min-width: @title-subfield-min-width;
    max-width: 200px; // Arbitrary.

    background-color: #d88;
}

.audio-menu-subfield {
    background-color: #8d8;
}

.is-desktop {

    &.laptop-width {
        .menu-subfield {
            &:not(:last-child) {
                margin-right: @menu-subfield-narrow-margin;
            }
        }
    }
}

.is-mobile {

    .dots-tips-menu-subfield {
        justify-content: flex-end;
    }

    &.mini-width {
        .menu-subfield {
            &:not(:last-child) {
                margin-right: @menu-subfield-narrow-margin;
            }
        }
    }

    // &.phone-width {
    //     .menu-field {
    //         height: @menu-height-phone;
    //     }
    //
    //     .audio-menu-subfield {
    //         width: 100%;
    //     }
    // }
}
