.familyHouse {
    .wall {
        fill: #f3ffa6;
    }

    .plant {
        fill: #5c9c55;
    }

    .doorTrim {
        fill: #8c8a65;
    }

    .door {
        fill: #b9b685;
    }

    .stepTop {
        fill: #8cb5ff;
    }

    .beam {
        fill: #bfbf76;
    }

    .stepBottom {
        fill: #779ad9;
    }

    .windowTrim {
        fill: #917340;
    }

    .window {
        fill: #94efff;
    }

    .windowDisplayLine {
        stroke: #317a80;
    }

    .roofSide {
        fill: #998951;
    }

    .roofTop {
        fill: #ad9953;
    }
}

.campfire {
    .flameOuter {
        fill: #f03;
    }

    .flameMiddle {
        fill: #f60;
    }

    .flameInner {
        fill: #ff0;
    }

    .logBack {
        fill: #c96;
    }

    .logBackLine {
        stroke: #754c24;
    }

    .logBottom {
        fill: #630;
    }

    .logSide {
        fill: #963;
    }

    .logSideLine {
        stroke: #42210b;
    }

    .logFront {
        fill: #fc9;
    }

    .logFrontLine {
        stroke: #a67c52;
    }

    .logBottomCut {
        fill: #c93;
    }

    .logSideCut {
        fill: #fc6;
    }

    .logCutLine {
        stroke: #b82;
    }

    .stoneSide {
        fill: #333;
    }

    .stoneSideMiddle {
        fill: #666;
    }

    .stoneMiddleCentre {
        fill: #999;
    }

    .stoneCentre {
        fill: #ccc;
    }
}

.caveShadows {
    .wall {
        fill: #996;
    }

    .caveFoldLine {
        stroke: #603813;
    }

    .rockBack {
        fill: #c96;
    }

    .rockMiddle {
        fill: #963;
    }

    .rockFront {
        fill: #630;
    }
}