.Campfire {
    .flameOuter {
        fill: #f03;
    }

    .flameMiddle {
        fill: #f60;
    }

    .flameInner {
        fill: #ff0;
    }

    .logBack {
        fill: #c96;
    }

    .logBackLine {
        stroke: #754c24;
    }

    .logBottom {
        fill: #630;
    }

    .logSide {
        fill: #963;
    }

    .logSideLine {
        stroke: #42210b;
    }

    .logFront {
        fill: #fc9;
    }

    .logFrontLine {
        stroke: #a67c52;
    }

    .logBottomCut {
        fill: #c93;
    }

    .logSideCut {
        fill: #fc6;
    }

    .logCutLine {
        stroke: #b82;
    }

    .stoneSide {
        fill: #333;
    }

    .stoneSideMiddle {
        fill: #666;
    }

    .stoneMiddleCentre {
        fill: #999;
    }

    .stoneCentre {
        fill: #ccc;
    }
}

.Stalactites {
    .shadow {
        fill: #222;
    }
}

.TrollShadowLeft {
    .shadow {
        fill: #222;
    }
}

.TrollShadowRight {
    .shadow {
        fill: #222;
    }
}

.TrollShadowFar {
    .shadow {
        fill: #222;
    }
}