.taiwanTree {
    .trunk { fill: #5c5224; }
    .leavesFarthest { fill: #734168; }
    .leavesFar { fill: #804974; }
    .leavesNear { fill: #8c507f; }
    .leavesNearer { fill: #99588b; }
    .leavesNearest { fill: #a65e97; }
}

.bennettOdinRickshaw {
    .pedalBarFront { fill: #b3b3b3; }
    .pedalBottom { fill: #42210b; }
    .pedalBarSide { fill: gray; }
    .tires { fill: #333; }
    .chassis { fill: #006837; }
    .rear { fill: #009245; }
    .lights { fill: #ff0; }
    .tiresLine { stroke: gray; }
    .rearLine { stroke: #009245; }
    .pedalFront { fill: #754c24; }
    .pedalSide { fill: #603813; }
}