.taiwanHousesCentre {
    // .wallSide { fill: #a29d7b; }
    // .roofSide { fill: #8f6750; }
    // .wallFront { fill: #b9b28d; }
    // .roofTop { fill: #a3755c; }
    // .roofFront { fill: #9a6e56; }
    // .stepFront { fill: #686ca4; }
    // .trimFront { fill: #75664a; }
    // .trimSide { fill: #66573a; }
    // .beamFront { fill: #75664a; }
    // .awning { fill: #716a98; }
    // .beamSide { fill: #66573a; }
    // .door { fill: #4b412f; }
    // .roofBelow { fill: #7d5a46; }
}

.taiwanHouseFar {
    // .wallSide { fill: #a39d77; }
    // .wallFront { fill: #bab388; }
    // .stepFront { fill: #686aa8; }
    // .stepSide { fill: #5a5b91; }
    // .door { fill: #4d412d; }
    // .slit { fill: #424242; }
    // .trimFront { fill: #786646; }
    // .trimSide { fill: #695736; }
    // .roofBelow { fill: #855944; }
    // .awningFront { fill: #73689c; }
    // .awningSide { fill: #625985; }
    // .roofTop { fill: #ab7357; }
    // .roofSide { fill: #96654c; }
    // .roofFront { fill: #a16c52; }
}

.taiwanHouseNear {
    // .palaceWallFront { fill: #703636; }
    // .palaceWallSide { fill: #613232; }
    // .trim { fill: #6e6142; }


    // .palaceRoofFront { fill: #6b6235; }
    // .palaceRoofSide { fill: #635b31; }
    // .palaceRoofTrimAbove { fill: #877b42; }
    // .palaceRoofTrimBelow { fill: #786e3e; }
}

.bennettOdinRickshaw {
    .pedalBarFront { fill: #b3b3b3; }
    .pedalBottom { fill: #42210b; }
    .pedalBarSide { fill: gray; }
    .tires { fill: #333; }
    .chassis { fill: #006837; }
    .rear { fill: #009245; }
    .lights { fill: #ff0; }
    .tiresLine { stroke: gray; }
    .rearLine { stroke: #009245; }
    .pedalFront { fill: #754c24; }
    .pedalSide { fill: #603813; }
}