.sketchbook__shared {
    .paperStackLight { fill: #b7b3a5; }
    .paperStackDark { fill: #a8a498; }
    .paperLight { fill: #e8e4d9; }
    .paperMedium { fill: #c9c7ad; }
    .sketchbookWire { fill: #686364; }
    .pencilBody { fill: #a5cc7b; }
    .pencilMetal { fill: #b1c4c0; }
}