.lizCondom#{$suffix} {
    .condomRing { fill: hsl(128, 20%, 62%); }
    .condomBag { fill: hsl(128, 20%, 72%); }
    .wrapperOuter { fill: hsl(128, 33%, 62%); }
    .wrapperInner { fill: hsl(128, 33%, 72%); }

    .darkRoomDefault &.darkRoom#{$suffix} {
        .condomRing { fill: hsl(128, 10%, 36%); }
        .condomBag { fill: hsl(128, 10%, 41%); }
        .wrapperOuter { fill: hsl(128, 17%, 36%); }
        .wrapperInner { fill: hsl(128, 17%, 41%); }
    }
}