@field-padding: 15px;

// Field widths.
@field-width: 350px;
@song-field-width: auto;

// Field colours.
@album-field-colour: #ede;
@shared-field-colour: #edd;
@song-field-colour: #eed;
@annotation-colour: #eff;

// Progress bar colours.
@task-total-colour: #fcc;
@task-filled-colour: #daa;
@song-total-colour: #fcf;
@song-filled-colour: #dad;
@played-total-colour: #cfc;
@played-filled-colour: #ada;

/**********
 * FIELDS *
 **********/

.admin-column {
    display: flex;
    box-sizing: border-box;

    // Needed by Safari.
    height: 100%;
}

.admin-field {
    width: @field-width;
    min-width: @field-width;
    padding: 0 (@field-padding * 0.5);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.album-admin-field {
    padding-left: @field-padding;
    background-color: @album-field-colour;
}

.shared-admin-field {
    background-color: @shared-field-colour;
}

.song-admin-field {
    width: @song-field-width;
    min-width: @song-field-width;
    padding-right: @field-padding;
    background-color: @song-field-colour;
}

/************
 * SECTIONS *
 ************/

.admin {
    .section {
        padding: @field-padding;

        &:not(.in-popup) {
            margin: @field-padding 0;
            background-color: @section-colour;
            box-shadow: 0 2px 2px 2px @box-shadow-colour;
        }
    }
}

.admin-toggle {
    z-index: @text-z-index + 1;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    color: violet;
    background-color: black;
}
