.actors-table {

    .flex-row {
        display: flex;
        // justify-content: space-between;
    }

    .actor-block {
        background-color: #fef;
        padding: 2px 5px;

        box-shadow: @admin-actor-box-shadow;
        &:not(:last-child) {
            margin-bottom: 6px;
        }
    }

    .character-block {
        background-color: #ffe;
        padding: 2px 5px;

        box-shadow: @admin-character-box-shadow;
    }

    .header-row {
        width: 100%;
        font-size: 1.1em;
    }

    .actor-header-row {
        font-size: 1em;
    }

    .character-header-row {
        font-size: 0.95em;
    }

    .count-row {
        width: 100%;
        text-align: right;
    }

    .role-row {
        &.todo {
            color: #d44;
        }

        &.done {
            color: #4d4;
        }
    }

    .role-info {
        font-size: 0.75em;
    }

    .song-index-column {
        width: 1.5em;
    }

    .scene-index-column {
        width: 1.5em;
    }

    .worked-hours-column {
        width: 1.5em;
    }

    .description-column {
        flex-grow: 1;
    }
}
