.actors-table {

    .flex-row {
        display: flex;
        // justify-content: space-between;
    }

    .actor-block {
        background-color: #fef;
        padding: 2px 5px;

        box-shadow: 0 2px 2px 2px @box-shadow-colour;
    }

    .character-block {
        background-color: #ffe;
        padding: 2px 5px;
        
        box-shadow: inset 0 2px 5px @box-shadow-colour;
    }

    .header-row {
        width: 100%;
        font-size: 1.1em;
    }

    .count-row {
        width: 100%;
        text-align: right;
    }

    .song-index-column {
        width: 1em;
    }

    .scene-index-column {
        width: 1em;
    }

    .description-column {
        flex-grow: 1;
    }
}
