.Television {
    .antenna {
        fill: #9cc;
    }

    .antennaBase {
        fill: #669;
    }

    .antennaRing {
        fill: #399;
    }

    .side {
        fill: #963;
    }

    .back {
        fill: #c63;
    }

    .panel {
        fill: #666;
    }

    .tubeSide {
        fill: #066;
    }

    .tubeBack {
        fill: #033;
    }

    .slat {
        fill: #333;
    }
}
