.microphone#{$suffix} {
    .base { fill: #4b585c; }
    .bar { fill: #b3c8cf; }
    .handle { fill: #536266; }
    .micInner { fill: #43454a; }
    .micStand { fill: #71798a; }
    .micBack { fill: #3d414a; }
    .micBody { fill: #585e6b; }
    .micHead { fill: #8f98ad; }
    .micStripe { fill: #5aadbf; }
    .partShaded { fill: #556469; }
    .partDark { fill: #627378; }
    .partLight { fill: #7d9399; }
    .clip { fill: #747e80; }
    .bolt { fill: #91abb3; }
    .lever { fill: #9aacb3; }
    .ball { fill: #8c9da3; }
}