.miriamCondom#{$suffix} {
    .condomRing { fill: hsl(339, 20%, 62%); }
    .condomBag { fill: hsl(339, 20%, 72%); }

    .wrapperOuter { fill: hsl(339, 33%, 62%); }
    .wrapperInner { fill: hsl(339, 33%, 72%); }
}