@import "./Button/style";
@import "./Logue/style";
@import "./Road/style";
@import "./Songs/style";
@import "./Toggle/style";

.NavBook {
    position: absolute;

    display: flex;
    align-items: center;

    height: 100%;
    min-width: $LENGTH_ICON;
    padding: 0 $padding__navColumnChild;

    z-index: $zIndex__carouselNav;
}
