@import '../../../../scss/constants/icon';
@import '../../../../scss/constants/zIndex';
@import '../../variables';

.NavBook {
    position: absolute;

    display: flex;
    align-items: center;

    height: 100%;
    min-width: $LENGTH_ICON;
    padding: 0 $padding__navColumnChild;

    z-index: $zIndex__carouselNav;
}
