@import '../../scss/constants/icon';
@import '../../scss/constants/responsive';
@import '../../scss/constants/transition';
@import '../../scss/constants/zIndex';

.Lyric {
    opacity: 0;

    .DW__userAgentDesktop
    & {
        transition: opacity $TRANSITION_DURATION_CURTAINS;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /**
     * Let verse bars own the top and bottom margins, and lyric column own the
     * the side padding. This allows the lyric column to collapse down to zero
     * height when lyric is heightless.
     */
    padding: 0 $margin__thick;

    .PlW__song
    & {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: $zIndex__lyricColumn;
    }
}

.Lyric__visible {
    .PlW__song
    .ShW__overlayHidden
    & {
        opacity: 1;
    }
}

.gradientMask__lyricColumn__desktop {

    $gradient__lyric__desktopCarousel: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1) calc(100% - #{$height__schwa__stickers * 1.25}),
        rgba(0, 0, 0, 0) calc(100% - #{$height__schwa__stickers * 0.5}),
        rgba(0, 0, 0, 0)
    );

    .DW__desktopWidth
    .RW__carouselAndNavShowable
    .ShW__annotationShown.ShW__carouselShown
    & {
        mask-image: $gradient__lyric__desktopCarousel;

        // When carousel annotation is selected, switch z-index with carousel.
        z-index: $zIndex__annotation;
    }
}
