$height__input: 44px;

.Presence {
    .Previewer__heightAspectRatio
    & {
        width: auto;
        height: 100%;

        &.Presence__kilobytes {
            height: calc(100% - #{$height__input});
        }
    }
}

svg {
    .Previewer__heightAspectRatio
    & {
        height: 100%;
    }
}

.Previewer__scrollChild {
    display: flex;
    flex-direction: column;

    width: auto;

    .Previewer__scroll
    &:not(:first-child) {
        margin-left: 10px;
    }
}
