.Previewer__scrollChild {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;

    .Previewer__mainScrollHorizontal
    &:not(:first-child) {
        margin-left: 10px;
    }
    .Previewer__mainScrollVertical
    &:not(:first-child) {
        margin-top: 10px;
    }
}

.Presence {
    .Previewer__mainFullHeight
    & {
        height: 100%;
    }
}

.Presence__kilobytes {
    .Previewer__mainFullHeight
    & {
        height: calc(100% - #{$height__input});
    }
}

.Presence__loaded {
    width: 100%;
}

svg {
    .Previewer__mainFullHeight
    & {
        height: 100%;
    }

    .Previewer__mainScrollVertical
    & {
        width: 100%;
    }
}
