.wedding#{$suffix} {
    .tableDark { fill: hsl(180, 32%, 56%); }
    .tableLight { fill: hsl(180, 44%, 64%); }
    .rose { fill: hsl(0, 31%, 52%); }
    .curtainFlap { fill: hsl(296, 27%, 43%); }
    .curtain { fill: hsl(296, 27%, 49%); }
    .canopyDark { fill: hsl(66, 27%, 49%); }
    .canopyLight { fill: hsl(66, 32%, 54%); }
}
