.oaklandCommercial__shared {
    .trimSide { fill: #928869; }
    .windowSide { fill: #81b6bc; }
    .trimFront { fill: #b3a681; }
    .windowFront { fill: #93d1d7; }
    .door { fill: #706156; }
    .roofFront { fill: #a47d6c; }
    .roofBelow { fill: #967264; }
    .roofSide { fill: #89685b; }
}
