.lizGate#{$suffix} {
    .post { fill: #a6926f; }
    .plankLight { fill: #bfb18e; }
    .plankDark { fill: #b0ab82; }
    .plankMedium { fill: #b8ad88; }
    .beam { fill: #c0c290; }
    .hinge { fill: #9eb3b1; }
}