.commercialCentre {
    .wallSide {
        fill: #8f759b;
    }

    .wallFront {
        fill: #ab8bba;
    }
}

.commercialFarLeft {
    .wallSide {
        fill: #8f759b;
    }

    .wallFront {
        fill: #ab8bba;
    }

    .awningFront {
        fill: #8594bb;
    }

    .awningSide {
        fill: #7480a3;
    }

    .shutter {
        fill: #717a91;
    }

    .shutterDisplayLine {
        stroke: #2c2e33;
    }
}

.commercialFarRight {
    .wallSide {
        fill: #8f759b;
    }

    .wallFront {
        fill: #ab8bba;
    }
}

.commercialMiddleLeft {
    .wallSide {
        fill: #8f759b;
    }

    .wallFront {
        fill: #ab8bba;
    }

    .signOuter {
        fill: #4a467d;
    }

    .signInner {
        fill: #cdcaf0;
    }

    .letterLarge {
        fill: #847ede;
    }

    .letterDisplayLine {
        stroke: #5b4b63;
    }
}

.commercialMiddleRight {
    .wallSide {
        fill: #8f759b;
    }

    .wallFront {
        fill: #ab8bba;
    }
}

.commercialNearLeft {
    .wallSide {
        fill: #8f759b;
    }

    .wallFront {
        fill: #ab8bba;
    }

    .awningFront {
        fill: #8594bb;
    }

    .awningSide {
        fill: #7480a3;
    }
}

.commercialNearRight {
    .wallSide {
        fill: #8f759b;
    }

    .wallFront {
        fill: #ab8bba;
    }

    .awningTop {
        fill: #93a4d6;
    }

    .awningFront {
        fill: #8594bb;
    }

    .awningSide {
        fill: #7480a3;
    }
}