.campusTreeSingle {
    .trunk {
        fill: #786c4c;
    }

    .leaves {
        fill: #427d4b;
    }
}

.ghostOdinDemonstration {
    .fur {
        fill: #8dbde3;
    }

    .nose {
        fill: #516c82;
    }
}