.bennettFuture#{$suffix} {
    .bennettJacket { fill: hsl($HUE_FUTURE, 10%, 38%); }
    .bennettSleeves { fill: hsl($HUE_FUTURE, 37%, 52%); }
    .bennettUnderwear { fill: hsl($HUE_FUTURE, 39%, 61%); }
    .bennettWaistband { fill: hsl($HUE_FUTURE, 47%, 72%); }
    .bennettJeans { fill: hsl($HUE_FUTURE, 27%, 47%); }
    .bennettShoe { fill: hsl($HUE_FUTURE, 11%, 41%); }
}