.miriamCondom#{$suffix} {
    .condomRing { fill: hsl(339, 34%, 64%); }
    .condomBag { fill: hsl(339, 18%, 73%); }

    .wrapperOuter { fill: hsl(339, 65%, 72%); }
    .wrapperInner { fill: hsl(339, 52%, 80%); }
}