.roadFuture {
    .road {
        fill: #baa77f;
    }
}

.snowglobeFutureReatta {
    .tire {
        fill: #4a4945;
    }

    .hubcap {
        fill: #75746d;
    }

    .windshield {
        fill: #b0e7ff;
    }

    .body {
        fill: #ab4b5d;
    }

    .trimDisplayLine {
        stroke: #594c44;
    }

    .headLight {
        fill: #c6d66d;
    }
}
