.recordingBeers {
    .labelReverse { fill: #664530; }
    .bottleSide { fill: rgba(150, 100, 75, 0.8); }
    .bottleBottom { fill: rgba(100, 50, 25, 0.5); }
    .labelDark { fill: #b07753; }
    .labelLight { fill: #b0a476; }
    .bottleCap { fill: #b39d52; }
    .packageSideDark { fill: #946a50; }
    .packageSideLight { fill: #a69c77; }
    .packageFrontDark { fill: #a37558; }
    .packageFrontLight { fill: #b3a981; }
    .star { fill: #d9d9d9; }
}