.recordingBeers {
    .labelReverse { fill: #65805c; }
    .bottleSide { fill: rgba(75, 150, 100, 0.5); }
    .bottleBottom { fill: rgba(25, 100, 50, 0.25); }
    .labelDark { fill: #97bf8a; }
    .labelLight { fill: #6ba66b; }
    .bottleCap { fill: #7ea68c; }
    .packageSideDark { fill: #598a59; }
    .packageSideLight { fill: #82a677; }
    .packageFrontDark { fill: #639963; }
    .packageFrontLight { fill: #8db381; }
    .star { fill: #ba5050; }
}