.snowglobeShared {
    .base { fill: #9e7289; }
    .rim { fill: #939; }
    .globeOuter {fill: rgba(225, 225, 255, 0.7); }
    .globeCentre {fill: rgba(225, 225, 255, 0.5); }
    .globeInner { fill: #cff; }
    .reflectionOuter {fill: rgba(225, 225, 255, 0.2); }
    .reflectionCentre {fill: rgba(225, 225, 255, 0.4); }
    .reflectionInner {fill: rgba(225, 225, 255, 0.6); }
    .snowSide { fill: #d4e6e8; }
    .snowTop { fill: #fff; }
}
