/* assume 96 pixels per inch */

@black: #000;
@background-colour: @black;

@wrapper-height: 2016px;
@title-bar-height: 192px;
@top-nav-height: 192px;
@footer-height: 48px;
@page-height: @wrapper-height - @title-bar-height - @top-nav-height - @footer-height;

body {
    margin: 0;
    // background-color: @background-colour;
    // background-image: url('../images/mary.jpg');

    .app {
        border: 5px dotted red;
        margin: 0 auto;
        height: @wrapper-height;
        max-width: 1248px;

        .title-bar {
            border: 5px dotted yellow;
            height: @title-bar-height;
            text-align: center;
        }

        ul.top-nav {
            border: 5px dotted orange;
            padding: 0;
            margin: 0 auto;
            height: @top-nav-height;
            width: 80%;
            list-style-type: none;

            li {
                display: inline-block;
                height: 100%;
                box-sizing: border-box;

                &.audio-player {
                    border: 5px dotted green;
                    width: 60%;
                }

                &.bennett-avatar {
                    border: 5px dotted blue;
                    width: 30%;
                }

                &.legend {
                    border: 5px dotted violet;
                    width: 10%;
                }
            }
        }

        .page {
            border: 5px dotted purple;
            height: @page-height;
            box-sizing: border-box;

            ul.song-path {
                list-style-type: none;

                li[class^="song-point"] {
                    height: 40px;
                    width: 200px;

                    button {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .page-change-button {
                button {
                    height: 40px;
                    width: 200px;
                }
            }
        }

        .footer {
            border: 5px dotted gray;
            height: @footer-height;
            text-align: center;
        }
    }
}
