/* assume 96 pixels per inch */

@black: #000;
@background-colour: @black;

@wrapper-height: 2016px;
@top-nav-height: 384px;
@footer-height: 48px;
@page-height: @wrapper-height - @top-nav-height - @footer-height;

body {
    margin: 0;
    // background-color: @background-colour;
    // background-image: url('../images/mary.jpg');

    .app {
        border: 5px dotted red;
        margin: 0 auto;
        height: @wrapper-height;
        max-width: 1248px;

        div.top-nav {
            border: 5px dotted orange;
            margin: 0 auto;
            height: @top-nav-height;
            width: 90%;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0 auto;

                // FIXME: Make this a mixin.
                &.movable-nav {
                    height: 50%;
                    width: 60%
                }

                &.fixed-nav {
                    height: 50%;
                    width: 80%;
                }

                li {
                    display: inline-block;
                    padding: 2%;
                    height: 100%;
                    vertical-align: top;
                    box-sizing: border-box;

                    &.narrative-bar {
                        border: 5px dotted yellow;
                        width: 80%;
                    }

                    &.annotation-legend {
                        border: 5px dotted violet;
                        width: 20%;
                    }

                    &.audio-player {
                        border: 5px dotted green;
                        width: 60%;

                        ul.playback-buttons {
                            list-style-type: none;
                        }
                    }

                    &.bennett-avatar {
                        border: 5px dotted blue;
                        width: 40%;
                    }
                }
            }
        }

        .book-page {
            border: 5px dotted purple;
            height: @page-height;
            box-sizing: border-box;

            ul.song-path {
                list-style-type: none;

                li[class^="song-point"] {
                    height: 40px;
                    width: 200px;

                    button {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            div[class^="lyrics-song"] {
                border: 5px dotted brown;
                width: 30%;
            }

            .page-change-button {
                button {
                    height: 40px;
                    width: 200px;
                }
            }
        }

        .footer {
            border: 5px dotted gray;
            height: @footer-height;
            text-align: center;
        }
    }
}
