/* assume 96 pixels per inch */

@black: #000;
@background-colour: @black;

@wrapper-height: 2016px;
@wrapper-max-width: 1248px;

@top-nav-height: 384px;
@scrolling-nav-height: @top-nav-height * 0.5;
@sticky-nav-height: @top-nav-height - @scrolling-nav-height;

@footer-height: 48px;
@page-height: @wrapper-height - @top-nav-height - @footer-height;

@page-z-index: 1;
@nav-z-index: @page-z-index + 1;
@lyrics-z-index: @nav-z-index + 1;

.sticky-mixin {
    position: absolute;
    left: 0;

    &.stuck {
        position: fixed;
        z-index: @nav-z-index;
        top: 0;
    }

    &.app-width {
        width: 100%;

        .wrapper-width {
            margin: 0 auto;
            height: 100%;
            width: 100%;
            max-width: @wrapper-max-width;

            .true-width {
                height: 100%;
                margin: 0 auto;
            }
        }
    }
}

body {
    margin: 0;

    .app {
        background-color: red;
        margin: 0 auto;
        height: @wrapper-height;
        max-width: @wrapper-max-width;

        .top-nav {
            // FIXME: this relative position is the cause of the sticky problem.
            // without it, it works fine. unfortunately, book needs relative.
            // so try keeping position relative in top nav as well, so that
            // any solution will apply to both.
            position: relative;
            background-color: orange;
            margin: 0;
            height: @top-nav-height;
            width: 90%;

            ul {
                list-style-type: none;
                padding: 0;
                margin: 0 auto;

                &.scrolling-nav {
                    height: @scrolling-nav-height;
                    width: 60%;
                }

                &.sticky-nav {
                    .sticky-mixin;
                    background-color: tomato;
                    top: @scrolling-nav-height;
                    height: @top-nav-height * 0.5;

                    .wrapper-width {

                        .true-width {
                            width: 80%;
                            // transition: width 0.15s ease-out, top 0.15s ease-out;
                        }
                    }
                }

                li {
                    display: inline-block;
                    padding: 2%;
                    height: 100%;
                    vertical-align: top;
                    box-sizing: border-box;

                    &.title-bar {
                        background-color: yellow;
                        width: 80%;
                    }

                    &.annotation-legend {
                        background-color: violet;
                        width: 20%;
                    }

                    &.audio-player {
                        background-color: green;
                        width: 60%;

                        ul.playback-buttons {
                            list-style-type: none;
                        }
                    }

                    &.synopsis-bar {
                        background-color: turquoise;
                        width: 40%;
                    }
                }
            }
        }

        .book {
            position: relative;
            height: @page-height;
            overflow: hidden;

            .sticky-lyrics {
                .sticky-mixin;
                background-color: rgba(200, 100, 0, 0.3);
                top: 0;
                height: @page-height;

                .wrapper-width {

                    .true-width {
                        width: 100%;

                        div[class^="lyrics-song"] {
                            background-color: brown;
                            position: absolute;
                            width: 30%;
                            z-index: @lyrics-z-index;

                            &[class$="left"] {
                                left: 0;
                            }

                            &[class$="right"] {
                                right: 0;
                            }
                        }
                    }
                }
            }

            [class^="book-page"] {
                background-color: purple;
                position: absolute;
                z-index: @page-z-index;
                height: 100%;
                width: 100%;
                transition: left 0.25s ease-in-out;

                &.book-page-1 {
                    background-color: violet;
                }

                &.hidden {
                    &.previous {
                        left: -100%;
                    }

                    &.next {
                        left: 100%;
                    }
                }

                &.viewed {
                    left: 0;
                }

                ul.song-path {
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    li[class^="song-point"] {
                        margin: 0 auto;
                        height: 40px;
                        width: 200px;

                        button {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }

                .page-change-button {
                    text-align: center;

                    button {
                        height: 40px;
                        width: 300px;
                    }
                }
            }
        }

        .footer {
            background-color: gray;
            height: @footer-height;
            text-align: center;
        }
    }
}
