/* assume 96 pixels per inch */
body {
  margin: 0;
}
body .app {
  border: 5px dotted red;
  margin: 0 auto;
  height: 2016px;
  max-width: 1248px;
}
body .app div.top-nav {
  border: 5px dotted orange;
  margin: 0 auto;
  height: 384px;
  width: 90%;
}
body .app div.top-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
body .app div.top-nav ul.movable-nav {
  height: 50%;
  width: 60%;
}
body .app div.top-nav ul.fixed-nav {
  height: 50%;
  width: 80%;
}
body .app div.top-nav ul li {
  display: inline-block;
  padding: 2%;
  height: 100%;
  vertical-align: top;
  box-sizing: border-box;
}
body .app div.top-nav ul li.narrative-bar {
  border: 5px dotted yellow;
  width: 80%;
}
body .app div.top-nav ul li.annotation-legend {
  border: 5px dotted violet;
  width: 20%;
}
body .app div.top-nav ul li.audio-player {
  border: 5px dotted green;
  width: 60%;
}
body .app div.top-nav ul li.audio-player ul.playback-buttons {
  list-style-type: none;
}
body .app div.top-nav ul li.bennett-avatar {
  border: 5px dotted blue;
  width: 40%;
}
body .app .book-page {
  border: 5px dotted purple;
  height: 1584px;
  box-sizing: border-box;
}
body .app .book-page ul.song-path {
  list-style-type: none;
}
body .app .book-page ul.song-path li[class^="song-point"] {
  height: 40px;
  width: 200px;
}
body .app .book-page ul.song-path li[class^="song-point"] button {
  height: 100%;
  width: 100%;
}
body .app .book-page div[class^="lyrics-song"] {
  border: 5px dotted brown;
  width: 30%;
}
body .app .book-page .page-change-button button {
  height: 40px;
  width: 200px;
}
body .app .footer {
  border: 5px dotted gray;
  height: 48px;
  text-align: center;
}
