@import '../../../scss/constants/annotation';
@import '../../../scss/constants/border';
@import '../../../scss/constants/colour';
@import '../../../scss/constants/icon';
@import '../../../scss/constants/popup';
@import '../../../scss/constants/shadow';
@import '../../../scss/constants/transition';

.AnnotationCardContainer {
    position: relative;
    max-height: 0;
    opacity: 0;
}

.AnnotationCardContainer__shown {
    max-height: 500px; // Arbitrary large number.
    margin-top: $MARGIN_THIN * 2;

    opacity: 1;
    border-radius: $borderRadius__narrow;
    box-shadow: $boxShadow__annotationCard;
}

.AnnotationCardContainer__animated {

    .DW__userAgentDesktop
    .ShW__canTransitionAfterSongChange
    & {
        transition:
            max-height $transitionDuration__default,
            opacity $transitionDuration__default;
    }
}

.AnnotationCard {
    position: relative;

    padding: $padding__annotationCard;
    min-height: $length__annotationDot;

    width: $width__annotationCard;
    max-width: $width__annotationCard;

    background-color: $colour__annotationCard;

    .DW__miniWidth
    & {
        // Multiplier is .9, just like for lyric text in mini.
        width: $width__annotationCard__mini;
        max-width: $width__annotationCard__mini;
    }

    .DW__phoneWidth
    & {
        // Multiplier is .98, just like for lyric text in phone.
        width: $width__annotationCard__phone;
        max-width: $width__annotationCard__phone;
    }
}

.AnnotationCard__backstory {
    background-color: $colour__annotationCard__past;
}

.AnnotationCard__narrative {
    background-color: $colour__annotationCard__present;
}

.AnnotationCard__afterword {
    background-color: $colour__annotationCard__future;
}

.AnnotationCard__isText {
    display: flex;
    flex-direction: column;
}