// Default styling. Kept in this stylesheet for consistency.
.VerseColour {
    .RM__verseCanHover
    .verseColour__hoverParent:hover
    &,

    .RM__sliderNotMoving.RM__verseActive
    &.VerseColour__interactivated {

        background-color: $bgColour__audioHighlight;

        // Nesting here for simplicity.
        .colourFilter__verse__even {
            display: none;
        }
    }
}

@for $verseIndex from 0 through $verseMax {

    // "Root non-interactivated verse index, child verse index."
    .RnV#{$verseIndex} .ChV#{$verseIndex} {
        // Styling for cursored verse.

        // "Grandchild interactable."
        .GcN {
            z-index: $zIndex__cursorVerse;

            // TODO: This is some ugly nesting...
            ~ .sibling__verseCursor
            .Anchor {
                // Allow anchor in cursor verse to still show.
                z-index: $zIndex__cursorVerse;
            }
        }

        // "Grandchild in slider."
        .GcS {
            box-shadow: $boxShadow__cursorVerse;

            border-radius: $borderRadius $borderRadius 0 0;
            top: -2px;
            left: -0.5px;
            height: calc(100% + 2px);
            width: calc(100% + 1px);
        }
    }

    // "Root cursored lyric verse index, child verse index."
    .RlV#{$verseIndex} .ChV#{$verseIndex} {
        // Styling for cursored verse.

        // "Grandchild in lyric."
        .GcL {
            box-shadow: $boxShadow__cursorVerse;

            border-radius: $borderRadius;
            top: -$js__margin__thin;
            left: -$js__margin__thin;
            height: calc(100% + #{$js__margin__thin * 2});
            width: calc(100% + #{$js__margin__thin * 2});
        }

        // "Grandchild even filter."
        .GcE {
            display: none;
        }
    }

    // "Root playing verse index, child verse index."
    .RpV#{$verseIndex} .ChV#{$verseIndex} {
        // Styling for cursored verse.

        // "Child in lyric."
        &.ChL {
            @include mixin__textAndLinkColours($light: true, $important: true);
            @include mixin__underlineColours($light: true, $important: true);
        }

        // "Grandchild verse colour."
        .GcV {
            // Use !important to override hover highlight.
            background-color: $bgColour__audioPlay !important;
        }
    }
}
