@import "./VerseDefaultLogic";
@import "./VerseSliderLogic";
@import "./VerseCursorLogic";

.VerseColour {
    overflow: hidden;

    // .RM__sliderNotMoving
    // .parentIsShown
    // & {
    //     transition:
    //         background-color $animationDuration__fast;
    // }
}

.VerseColour__interactivated {
    box-shadow: $boxShadow__activeVerse;
}

/**
 * Border radius is needed on both parent and child because of box shadow, I
 * think.
 */
.VerseBar__animatable,
.VerseColour__inVerseBar {
    border-radius: $borderRadius__narrow;
}

.colourFilter__verse__even {
    background-color: rgba(0, 0, 0, 0.05);
}
