.lancetPen#{$suffix} {
    .lancetPenLight { fill: hsl(180, 32%, 82%); }
    .penCapLight { fill: hsl(180, 49%, 67%); }
    .penCapDark { fill: hsl(180, 36%, 59%); }
    .penCapInner { fill: hsl(180, 25%, 45%); }
}