.bubble { fill: hsl(60, 5%, 82%); }
.bubbleClear { fill: hsla(60, 5%, 82%, 0.75); }
.bubbleClearer { fill: hsla(60, 5%, 82%, 0.5); }
.bubbleClearest { fill: hsla(60, 5%, 82%, 0.25); }

// TODO: Eventually remove this style.
.bubbleClearest__noStroke { fill: hsla(60, 5%, 82%, 0.75); }
