.christopher#{$suffix} {
    .christopherShirtInner { fill: hsl(105, 32%, 49%); }
    .christopherShirt { fill: hsl(105, 32%, 59%); }
    .triceratopsLogo { fill: hsl(60, 61%, 72%); }

    .christopherSweater { fill: hsl(177, 21%, 53%); }
    .christopherWaistband { fill: hsl(64, 19%, 53%); }
    .christopherShortsInner { fill: hsl(64, 9%, 71%); }
    .christopherShorts { fill: hsl(64, 13%, 76%); }
    .christopherShoe { fill: hsl(197, 21%, 62%); }
    .christopherStrap { fill: hsl(197, 18%, 48%); }

    .pastChristopherShirt { fill: hsl($HUE_PAST, 51%, 59%); }
    .pastChristopherShorts { fill: hsl($HUE_PAST, 17%, 44%); }
    .pastChristopherShoe { fill: hsl($HUE_PAST, 31%, 57%); }

    .blissfulGuilty {
        .handle { fill: hsl(184, 47%, 58%); }
    }
}