.taiwanFoliage#{$suffix} {
    .foliage {fill: hsl(5, 23%, 54%); }

    .treeFurthest { fill: hsl(331, 25%, 55%); }
    .treeFurther { fill: hsl(331, 25%, 56%); }
    .treeMiddle { fill: hsl(331, 25%, 58%); }
    .treeCloser { fill: hsl(331, 25%, 59%); }
    
    .treeTrunk { fill: hsl(34, 12%, 46%); }

    .shrubFurther { fill: hsl(305, 23%, 47%); }
    .shrubCloser { fill: hsl(305, 23%, 52%); }

    .bonsaiFurther { fill: hsl(290, 23%, 56%); }
    .bonsaiMiddle { fill: hsl(290, 23%, 61%); }
    .bonsaiCloser { fill: hsl(290, 23%, 66%); }

    .nightTime
    &.nightTime#{$suffix} {

    }
}