@import '../../scss/constants/transition';

.Presence {
    opacity: 0;

    &.Backdrop {
        overflow: hidden;
    }

    .DW__userAgentDesktop
    & {
        transition: opacity $transitionDuration__fast;
    }
}

.Presence__loaded {
    opacity: 1;
}
