.Presence {
    opacity: 0;

    .DW__higherProcessor
    & {
        transition: opacity $animationDuration__fast;
    }
}

.Presence__visible,
.Presence__loaded {
    opacity: 1;
}

.Presence__temporaryText {
    font-size: 0.15em;
}

.Presence__noShadow {
    filter: none;
}

.Presence {
    filter: drop-shadow( 0 0 1.5px rgba(0, 0, 0, 0.5));
}

[class$=Line] {
    fill: none;
    stroke: rgba(50, 50, 50, 0.5);
}

[class$=CreaseLine] {
    stroke-width: 0.25px;
}

[class$=EdgeLine] {
    stroke-width: 0.5px;
}

[class$=FoldLine] {
    stroke-width: 0.75px;
}

[class$=BorderLine] {
    stroke-width: 1px;
}

[class$=OverlapLine] {
    stroke-width: 1px;
}

[class$=DisplayLine] {
    stroke-width: 1.5px;
}

[class$=LightLine] {
    stroke: rgba(255, 255, 255, 0.7);
    stroke-width: 2px;
}
