@import '../../scss/classes/mixin';
@import '../../scss/constants/border';
@import '../../scss/constants/lyric';

.Verse__inLyric {
    $border: 1px solid rgba(0, 0, 0, 0.15);

    position: relative;

    padding: 0 $paddingX__verse;
    border-left: $border;
    border-right: $border;

    line-height: 180%;

    &:first-child {
        border-top: $border;

        /**
         * Since dot anchors need to overflow, we can't just apply overflow
         * hidden to the verse itself, so we need to add border radius to both
         * verse parent and verse colour child.
         */
        &,
        .VerseColour,
        .Verse__noIndexColour {
            border-top-left-radius: $borderRadius__narrow;
            border-top-right-radius: $borderRadius__narrow;
        }

        &,
        .padding__verseInLyric {
            padding-top: $paddingY__verse;
        }
    }
    &:last-child {

        border-bottom: $border;

        &,
        .VerseColour,
        .Verse__noIndexColour {
            border-bottom-left-radius: $borderRadius__narrow;
            border-bottom-right-radius: $borderRadius__narrow;
        }

        &,
        .padding__verseInLyric {
            padding-bottom: $paddingY__verse;
        }
    }
}

.Verse__interactable {
    position: relative;
}
