.sketchPeople#{$suffix} {
    .eyeBlob { fill: hsl(0, 0%, 38%); }
    .hairSandy { fill: hsl(0, 0%, 76%); }
    .hairLightBrown { fill: hsl(0, 0%, 64%); }
    .hairDarkBrown { fill: hsl(0, 0%, 45%); }
    .hairBlack { fill: hsl(0, 0%, 21%); }
    .skinAshkenazi { fill: hsl(0, 0%, 89%); }
    .skinEastAsian { fill: hsl(0, 0%, 85%); }
    .bennettSleeves { fill: hsl(0, 0%, 55%); }
    .bennettShirt { fill: hsl(0, 0%, 87%); }
    .bennettJeans { fill: hsl(0, 0%, 46%); }
    .bennettShoe { fill: hsl(0, 0%, 32%); }
    .sashaShirt { fill: hsl(0, 0%, 53%); }
    .sashaPants { fill: hsl(0, 0%, 58%); }
    .sashaShoe { fill: hsl(0, 0%, 37%); }
}