@import "./logic";
@import "./Card/Wormholes/style";

.AnnotationCardAnimatable {
    max-height: 0;
    opacity: 0;
    overflow: hidden;

    .parent__shown
    & {
        transition:
            max-height $animationDuration__default,
            opacity $animationDuration__default;
    }
}

.AnnotationCard {
    position: relative;
    box-sizing: border-box;

    padding: $padding__annotationCard;
    min-height: $length__annotationDot;

    width: $width__annotationCard;
    max-width: $width__annotationCard;

    .DW__mini
    & {
        // Multiplier is .9, just like for lyric text in mini.
        width: $width__annotationCard__mini;
        max-width: $width__annotationCard__mini;
    }

    .DW__phone
    & {
        // Multiplier is .98, just like for lyric text in phone.
        width: $width__annotationCard__phone;
        max-width: $width__annotationCard__phone;
    }
}

.AnnotationCard__isText {
    background-color: $bgColour__annotationCard;
}

.AnnotationCard__wormhole {
    background-color: $bgColour__annotationCard;
}