.foliage#{$suffix} {
    .foliageFar {fill: hsl(105, 20%, 53%); }
    .foliageMiddle {fill: hsl(105, 21%, 49%); }
    .foliageNear {fill: hsl(105, 22%, 45%); }
    .foliageNearest {fill: hsl(105, 23%, 41%); }

    .palmFrond { fill: hsl(94, 22%, 46%); }
    .palmTrunk { fill: hsl(35, 24%, 35%); }

    .cactusFurther { fill: hsl(83, 23%, 46%); }
    .cactusCloser { fill: hsl(83, 23%, 51%); }
    
    .treeFurthest { fill: hsl(121, 24%, 41%); }
    .treeFurther { fill: hsl(121, 24%, 43%); }
    .treeMiddle { fill: hsl(121, 24%, 44%); }
    .treeCloser { fill: hsl(121, 24%, 46%); }

    .treeTrunkFurther { fill: hsl(35, 22%, 32%); }
    .treeTrunk { fill: hsl(35, 22%, 36%); }
    .treeTrunkCloser { fill: hsl(35, 22%, 40%); }

    .bushFurthest { fill: hsl(139, 24%, 44%); }
    .bushFurther { fill: hsl(139, 24%, 48%); }
    .bushCloser { fill: hsl(139, 24%, 52%); }

    .cypressFurther { fill: hsl(158, 24%, 37%); }
    .cypressCloser { fill: hsl(158, 24%, 42%); }

    .shrubFurther { fill: hsl(164, 22%, 66%); }
    .shrubCloser { fill: hsl(165, 25%, 47%); }

    .lemon { fill: hsl(57, 43%, 49%); }
    .peach { fill: hsl(12, 47%, 65%); }

    .nightTime
    &.nightTime#{$suffix} {
        .foliageFar {fill: hsl(105, 10%, 48%); }
        .foliageMiddle {fill: hsl(105, 11%, 44%); }
        .foliageNear {fill: hsl(105, 12%, 40%); }
        .palmFrond { fill: hsl(94, 12%, 41%); }
        .palmTrunk { fill: hsl(35, 14%, 30%); }
        .treeFurthest { fill: hsl(121, 14%, 36%); }
        .treeFurther { fill: hsl(121, 14%, 38%); }
        .treeCloser { fill: hsl(121, 14%, 41%); }
        .treeTrunk { fill: hsl(35, 12%, 31%); }
    }

    .autumnSeason
    &.autumn#{$suffix} {
        .foliageFar {fill: hsl(45, 20%, 53%); }
        .foliageMiddle {fill: hsl(45, 21%, 49%); }
        .foliageNear {fill: hsl(45, 22%, 45%); }
        .foliageNearest {fill: hsl(45, 23%, 41%); }
        .palmFrond { fill: hsl(34, 22%, 46%); }
        .treeFurthest { fill: hsl(31, 24%, 41%); }
        .treeFurther { fill: hsl(31, 24%, 43%); }
        .treeMiddle { fill: hsl(31, 24%, 44%); }
        .treeCloser { fill: hsl(31, 24%, 46%); }

        .bushFurthest { fill: hsl(79, 24%, 44%); }
        .bushFurther { fill: hsl(79, 24%, 48%); }
        .bushCloser { fill: hsl(79, 24%, 52%); }

        .shrubFurther { fill: hsl(100, 25%, 42%); }
        .shrubCloser { fill: hsl(100, 25%, 47%); }
    }

    .winterSeason
    &.winter#{$suffix} {
        .foliageNear {fill: hsl(195, 17%, 55%); }
        .foliageNearest {fill: hsl(195, 18%, 51%); }
        .treeFurthest { fill: hsl(211, 19%, 51%); }
        .treeFurther { fill: hsl(211, 19%, 53%); }
        .treeCloser { fill: hsl(211, 19%, 56%); }
    }

    .autumnSeason.nightTime
    &.autumn#{$suffix}.nightTime#{$suffix} {
        .foliageNear {fill: hsl(45, 12%, 40%); }
        .palmFrond { fill: hsl(34, 12%, 41%); }
        .treeFurthest { fill: hsl(31, 14%, 36%); }
        .treeCloser { fill: hsl(31, 14%, 41%); }
        .bushFurthest { fill: hsl(79, 14%, 39%); }
        .bushFurther { fill: hsl(79, 14%, 43%); }
        .bushCloser { fill: hsl(79, 14%, 47%); }
        .cypressFurther { fill: hsl(93, 14%, 32%); }
        .cypressCloser { fill: hsl(93, 14%, 37%); }
        .shrubFurther { fill: hsl(100, 13%, 37%); }
        .shrubCloser { fill: hsl(100, 15%, 42%); }
    }

    .winterSeason.nightTime
    &.winter#{$suffix}.nightTime#{$suffix} {
        .foliageNear {fill: hsl(195, 17%, 50%); }
        .treeFurthest { fill: hsl(211, 19%, 46%); }
        .treeFurther { fill: hsl(211, 19%, 48%); }
        .treeCloser { fill: hsl(211, 19%, 51%); }
    }
}