.foliage#{$suffix} {
    .foliageNearest {fill: hsl(105, 23%, 42%); }
    .foliageNear {fill: hsl(105, 22%, 45%); }
    .foliageMiddle {fill: hsl(105, 21%, 48%); }
    .foliageFar {fill: hsl(105, 20%, 50%); }

    .palmFrond { fill: hsl(94, 22%, 46%); }
    .palmTrunk { fill: hsl(35, 24%, 35%); }

    .cactusFurther { fill: hsl(83, 23%, 46%); }
    .cactusCloser { fill: hsl(83, 23%, 51%); }
    
    .treeFurthest { fill: hsl(121, 24%, 41%); }
    .treeFurther { fill: hsl(121, 24%, 43%); }
    .treeMiddle { fill: hsl(121, 24%, 44%); }
    .treeCloser { fill: hsl(121, 24%, 46%); }

    .treeTrunkFurther { fill: hsl(35, 22%, 32%); }
    .treeTrunk { fill: hsl(35, 22%, 36%); }
    .treeTrunkCloser { fill: hsl(35, 22%, 40%); }

    .bushFurthest { fill: hsl(139, 24%, 44%); }
    .bushFurther { fill: hsl(139, 24%, 47%); }
    .bushCloser { fill: hsl(139, 24%, 50%); }

    .cypressFurther { fill: hsl(158, 24%, 37%); }
    .cypressMiddle { fill: hsl(158, 24%, 39%); }
    .cypressCloser { fill: hsl(158, 24%, 42%); }

    .shrubFurther { fill: hsl(164, 22%, 42%); }
    .shrubCloser { fill: hsl(165, 25%, 47%); }

    .lemon { fill: hsl(57, 33%, 49%); }
    .peach { fill: hsl(12, 37%, 65%); }

    .eveningTime
    &.eveningTime#{$suffix} {
        .foliageNear {fill: hsl(105, 17%, 40%); }
        .palmFrond { fill: hsl(94, 17%, 41%); }
        .palmTrunk { fill: hsl(35, 19%, 30%); }
        .cactusFurther { fill: hsl(83, 18%, 41%); }
        .cactusCloser { fill: hsl(83, 18%, 46%); }
        .treeFurthest { fill: hsl(121, 19%, 36%); }
        .treeFurther { fill: hsl(121, 19%, 38%); }
        .treeCloser { fill: hsl(121, 19%, 41%); }
        .treeTrunkFurther { fill: hsl(35, 17%, 27%); }
        .treeTrunk { fill: hsl(35, 17%, 31%); }
        .bushFurther { fill: hsl(139, 19%, 42%); }
        .bushCloser { fill: hsl(139, 19%, 45%); }
        .cypressFurther { fill: hsl(158, 19%, 32%); }
        .cypressCloser { fill: hsl(158, 19%, 37%); }
        .shrubFurther { fill: hsl(164, 17%, 37%); }
        .shrubCloser { fill: hsl(165, 20%, 42%); }
    }

    .nightTime
    &.nightTime#{$suffix} {
        .foliageNear {fill: hsl(105, 12%, 35%); }
        .foliageMiddle {fill: hsl(105, 11%, 38%); }
        .foliageFar {fill: hsl(105, 10%, 40%); }
        .palmFrond { fill: hsl(94, 12%, 36%); }
        .palmTrunk { fill: hsl(35, 14%, 25%); }
        .treeFurthest { fill: hsl(121, 14%, 31%); }
        .treeFurther { fill: hsl(121, 14%, 33%); }
        .treeCloser { fill: hsl(121, 14%, 36%); }
        .treeTrunk { fill: hsl(35, 12%, 26%); }
        .bushFurther { fill: hsl(139, 14%, 37%); }
        .bushCloser { fill: hsl(139, 14%, 40%); }
        .cypressFurther { fill: hsl(158, 14%, 27%); }
        .cypressCloser { fill: hsl(158, 14%, 32%); }
        .shrubFurther { fill: hsl(164, 7%, 32%); }
        .shrubCloser { fill: hsl(165, 10%, 37%); }
    }

    .magicSeason
    &.magic#{$suffix} {
        .foliageNear {fill: hsl($HUE_MAGIC, 12%, 35%); }
        .palmFrond { fill: hsl($HUE_MAGIC, 12%, 36%); }
        .palmTrunk { fill: hsl($HUE_MAGIC, 14%, 25%); }
        .cactusFurther { fill: hsl($HUE_MAGIC, 13%, 36%); }
        .treeFurther { fill: hsl($HUE_MAGIC, 14%, 33%); }
        .treeMiddle { fill: hsl($HUE_MAGIC, 14%, 34%); }
        .treeCloser { fill: hsl($HUE_MAGIC, 14%, 36%); }
        .treeTrunk { fill: hsl($HUE_MAGIC, 12%, 26%); }
        .bushFurther { fill: hsl($HUE_MAGIC, 14%, 37%); }
        .bushCloser { fill: hsl($HUE_MAGIC, 14%, 40%); }
        .cypressFurther { fill: hsl($HUE_MAGIC, 14%, 27%); }
        .cypressMiddle { fill: hsl($HUE_MAGIC, 14%, 29%); }
        .cypressCloser { fill: hsl($HUE_MAGIC, 14%, 32%); }
        .lemon { fill: hsl($HUE_MAGIC, 18%, 39%); }
        .peach { fill: hsl($HUE_MAGIC, 17%, 45%); }
    }

    .pastSeason
    &.past#{$suffix} {
        .palmFrond { fill: hsl($HUE_PAST, 22%, 46%); }
        .palmTrunk { fill: hsl($HUE_PAST, 24%, 35%); }
        .treeFurther { fill: hsl($HUE_PAST, 24%, 43%); }
        .treeMiddle { fill: hsl($HUE_PAST, 24%, 44%); }
        .treeCloser { fill: hsl($HUE_PAST, 24%, 46%); }
        .treeTrunk { fill: hsl($HUE_PAST, 22%, 36%); }
        .bushCloser { fill: hsl($HUE_PAST, 24%, 50%); }
        .cypressCloser { fill: hsl($HUE_PAST, 24%, 42%); }
        .lemon { fill: hsl($HUE_PAST, 33%, 49%); }
    }

    .futureSeason
    &.future#{$suffix} {
        .foliageNear {fill: hsl($HUE_FUTURE, 12%, 35%); }
        .palmFrond { fill: hsl($HUE_FUTURE, 12%, 36%); }
        .palmTrunk { fill: hsl($HUE_FUTURE, 14%, 25%); }
        .treeFurther { fill: hsl($HUE_FUTURE, 14%, 33%); }
        .treeMiddle { fill: hsl($HUE_FUTURE, 14%, 34%); }
        .treeCloser { fill: hsl($HUE_FUTURE, 14%, 36%); }
        .treeTrunk { fill: hsl($HUE_FUTURE, 12%, 26%); }
        .bushFurther { fill: hsl($HUE_FUTURE, 14%, 37%); }
        .bushCloser { fill: hsl($HUE_FUTURE, 14%, 40%); }
        .cypressFurther { fill: hsl($HUE_FUTURE, 14%, 27%); }
        .cypressMiddle { fill: hsl($HUE_FUTURE, 14%, 29%); }
        .cypressCloser { fill: hsl($HUE_FUTURE, 14%, 32%); }
        .lemon { fill: hsl($HUE_FUTURE, 23%, 39%); }
    }

    .autumnSeason.eveningTime
    &.autumn#{$suffix}.eveningTime#{$suffix} {
        .foliageNear {fill: hsl(45, 17%, 40%); }
        .foliageMiddle {fill: hsl(45, 16%, 43%); }
        .foliageFar {fill: hsl(45, 15%, 45%); }
        .foliageNearest {fill: hsl(45, 18%, 36%); }
        .palmFrond { fill: hsl(34, 17%, 41%); }
        .bushFurther { fill: hsl(54, 19%, 42%); }
        .bushCloser { fill: hsl(54, 19%, 45%); }
        .treeFurthest { fill: hsl(31, 19%, 36%); }
        .treeFurther { fill: hsl(31, 19%, 38%); }
        .treeMiddle { fill: hsl(31, 19%, 39%); }
        .treeCloser { fill: hsl(31, 19%, 41%); }
    }

    .autumnSeason.nightTime
    &.autumn#{$suffix}.nightTime#{$suffix} {
        .foliageNear {fill: hsl(45, 12%, 35%); }
        .palmFrond { fill: hsl(34, 12%, 36%); }
        .treeFurthest { fill: hsl(31, 14%, 31%); }
        .treeCloser { fill: hsl(31, 14%, 36%); }
        .bushFurthest { fill: hsl(54, 14%, 34%); }
        .bushFurther { fill: hsl(54, 14%, 37%); }
        .bushCloser { fill: hsl(54, 14%, 40%); }
        .cypressFurther { fill: hsl(68, 14%, 27%); }
        .cypressCloser { fill: hsl(68, 14%, 32%); }
        .shrubFurther { fill: hsl(80, 13%, 32%); }
        .shrubCloser { fill: hsl(80, 15%, 37%); }
    }

    .winterSeason.eveningTime
    &.winter#{$suffix}.eveningTime#{$suffix} {
        .foliageNear {fill: hsl(195, 17%, 50%); }
        .treeFurthest { fill: hsl(211, 19%, 46%); }
        .treeFurther { fill: hsl(211, 19%, 48%); }
        .treeCloser { fill: hsl(211, 19%, 51%); }
    }

    .winterSeason.nightTime
    &.winter#{$suffix}.nightTime#{$suffix} {
        .foliageNear {fill: hsl(195, 17%, 45%); }
        .treeFurthest { fill: hsl(211, 19%, 41%); }
        .treeFurther { fill: hsl(211, 19%, 43%); }
        .treeCloser { fill: hsl(211, 19%, 46%); }
    }

    .autumnSeason
    &.autumn#{$suffix} {
        .foliageNearest {fill: hsl(45, 23%, 42%); }
        .foliageNear {fill: hsl(45, 22%, 45%); }
        .foliageMiddle {fill: hsl(45, 21%, 48%); }
        .foliageFar {fill: hsl(45, 20%, 50%); }
        .palmFrond { fill: hsl(34, 22%, 46%); }
        .treeFurthest { fill: hsl(31, 24%, 41%); }
        .treeFurther { fill: hsl(31, 24%, 43%); }
        .treeMiddle { fill: hsl(31, 24%, 44%); }
        .treeCloser { fill: hsl(31, 24%, 46%); }
        .bushFurthest { fill: hsl(54, 24%, 44%); }
        .bushFurther { fill: hsl(54, 24%, 47%); }
        .bushCloser { fill: hsl(54, 24%, 50%); }
        .shrubFurther { fill: hsl(80, 25%, 42%); }
        .shrubCloser { fill: hsl(80, 25%, 47%); }
    }

    .winterSeason
    &.winter#{$suffix} {
        .foliageNearest {fill: hsl(195, 18%, 51%); }
        .foliageNear {fill: hsl(195, 17%, 55%); }
        .treeFurthest { fill: hsl(211, 19%, 51%); }
        .treeFurther { fill: hsl(211, 19%, 53%); }
        .treeCloser { fill: hsl(211, 19%, 56%); }
    }
}