.microphone#{$suffix} {
    .base { fill: hsl(194, 10%, 33%); }
    .bar { fill: hsl(195, 10%, 67%); }
    .handle { fill: hsl(193, 10%, 36%); }
    .micInner { fill: hsl(223, 5%, 28%); }
    .micStand { fill: hsl(221, 10%, 49%); }
    .micBack { fill: hsl(222, 10%, 26%); }
    .micBody { fill: hsl(221, 10%, 38%); }
    .micHead { fill: hsl(222, 15%, 62%); }
    .micStripe { fill: hsl(191, 44%, 55%); }
    .partShaded { fill: hsl(195, 11%, 37%); }
    .partDark { fill: hsl(194, 10%, 43%); }
    .partLight { fill: hsl(193, 12%, 55%); }
    .clip { fill: hsl(190, 5%, 48%); }
    .bolt { fill: hsl(194, 18%, 64%); }
    .lever { fill: hsl(197, 14%, 65%); }
    .ball { fill: hsl(196, 11%, 59%); }
}