$margin__audioBanner__accessIcons: 3px;

.AccessLetters {
    .Slider
    & {
        bottom: $margin__audioBanner__accessIcons;

        z-index: $zIndex__negative;
    }

    .SW__accessOn
    .Slider
    & {
        z-index: $zIndex__menuField;
    }
}

.AccessLetters__sliderRewindForward {
    left: $margin__audioBanner__accessIcons;
}
