// TODO: Move default logic here as well.

.RM__narrative
    .UnitDot__narrative,
.RM__backstory
    .UnitDot__backstory,
.RM__observation
    .UnitDot__observation,
.RM__pun
    .UnitDot__pun,
.RM__reference
    .UnitDot__reference,
.RM__songwriting
    .UnitDot__songwriting,
.RM__portal
    .UnitDot__portal,
.RM__afterword
    .UnitDot__afterword {

    max-width: inherit;
    margin-top: $margin__lyricUnit;

    opacity: 1;

    &:not(:first-child) {
        margin-left: $marginX__stanzaChildColumn;
    }

    &.UnitDot__lastStanza {
        max-height: inherit;
    }
}
