// TODO: Move default logic here as well.

.RsDn .CuDn,
.RsDb .CuDb,
.RsDo .CuDo,
.RsDp .CuDp,
.RsDr .CuDr,
.RsDs .CuDs,
.RsDw .CuDw,
.RsDa .CuDa {

    max-width: inherit;
    margin-top: $margin__lyricUnit;

    opacity: 1;

    &:not(:first-child) {
        margin-left: $marginX__stanzaChildColumn;
    }

    &.UnitDot__lastStanza {
        max-height: inherit;
    }
}
