.UnitDot {
    flex-direction: column-reverse;

    padding-bottom: 5px;

    max-width: 0;
    margin-top: 0;

    &:not(:first-child) {
        margin-left: 0;
    }

    opacity: 0;

    .parentIsShown
    & {
        transition:
        opacity $animationDuration__default,
        max-width $animationDuration__default,
        max-height $animationDuration__default,
        margin-top $animationDuration__default,
        margin-left $animationDuration__default;
    }
}

.UnitDot__lastStanza {
    max-height: 0;
}
