.paperBag#{$suffix} {
    .bagFront { fill: #b3977b; }
    .bagSideMedium { fill: #8f7862; }
    .bagSideDark { fill: #967f67; }
    .bagSideLight { fill: #9e866d; }
    .bagFlapBelow { fill: #a88e74; }
    .bagFlapAbove { fill: #bfa183; }
}