// TODO: This is getting unwieldy...

$offset__popupButton: 0.75;

.PopupViewButton {
    position: absolute;
    z-index: $zIndex__popupButton;
}

.PopupViewButton__close {

    .DW__desktopWidth
    & {
        // Top left corner.
        top: -$jsx__length__iconLarge * $offset__popupButton;
        left: -$jsx__length__iconLarge * $offset__popupButton;
    }
    .DW__tabletWidth
    & {
        // Top left corner.
        top: -$jsx__length__iconLarge__tablet * $offset__popupButton;
        left: -$jsx__length__iconLarge__tablet * $offset__popupButton;
    }

    .DW__miniWidth
    & {

        // Top left corner.
        top: -$jsx__length__iconLarge__mini * $offset__popupButton;
        left: -$jsx__length__iconLarge__mini * $offset__popupButton;
    }

    .DW__phoneWidth
    & {

        &.PopupViewButton__inCardSize {

            // If card size, don't show close button at all in phone.
            display: none;
        }
    }
}

.PopupViewButton__closeFullWidth {

    .DW__miniWidth
    & {
        top: -$jsx__length__iconLarge__mini + $margin__thick;
    }

    .DW__phoneWidth
    & {
        top: -$jsx__length__icon + $margin__thick;
    }

    .DW__miniWidth
    &,
    .DW__phoneWidth
    & {
        left: 10%;
    }
}

.PopupViewButton__side {

    .DW__desktopWidth
    & {
        // Buttons on top so they don't shift regardless of content height.
        top: -$jsx__length__iconLarge * $offset__popupButton;
    }

    .DW__tabletWidth
    &.PopupViewButton__notInOverlay {
        // Buttons on bottom so they don't shift regardless of content height.
        bottom: -$jsx__length__iconLarge__tablet * $offset__popupButton;
    }

    .DW__miniWidth
    &.PopupViewButton__notInOverlay {
        bottom: -$jsx__length__iconLarge__mini * $offset__popupButton;
    }

    .DW__phoneWidth
    & {
        bottom: -$jsx__length__icon * $offset__popupButton;
    }

    .DW__desktopWidth
    & {
        top: $jsx__padding__popupContent__wide;
    }

    .DW__tabletWidth
    &.PopupViewButton__displaysInOverlay {
        top: calc(50% - #{$jsx__length__iconLarge__tablet} * 0.5);
    }

    .DW__miniWidth
    &.PopupViewButton__displaysInOverlay {
        top: calc(50% - #{$jsx__length__iconLarge__mini} * 0.5);
    }
}

.PopupViewButton__previous {

    .DW__desktopWidth
    & {
        left: -$jsx__length__iconLarge * $offset__popupButton;
    }

    .DW__tabletWidth
    & {
        left: -$jsx__length__iconLarge__tablet * $offset__popupButton;
    }

    .DW__miniWidth
    & {
        left: -$jsx__length__iconLarge__mini * $offset__popupButton;
    }

    .DW__phoneWidth
    &,
    .DW__mobileWidth
    &.PopupViewButton__notInOverlay {
        left: 10%;
    }
}

.PopupViewButton__next {

    .DW__desktopWidth
    & {
        right: -$jsx__length__iconLarge * $offset__popupButton;
    }

    .DW__tabletWidth
    & {
        right: -$jsx__length__iconLarge__tablet * $offset__popupButton;
    }

    .DW__miniWidth
    & {
        right: -$jsx__length__iconLarge__mini * $offset__popupButton;
    }

    .DW__phoneWidth
    &,
    .DW__mobileWidth
    &.PopupViewButton__notInOverlay {
        right: 10%;
    }
}
