// TODO: This is getting unwieldy...

$offset__popupButton: 0.75;

.PopupViewButton {
    position: absolute;
}

.Button__popupNotShadow {
    z-index: $zIndex__popupButton;
}

.PopupViewButton__close {

    .DW__desktop
    & {
        // Top left corner.
        top: -$js__length__iconLarge * $offset__popupButton;
        left: -$js__length__iconLarge * $offset__popupButton;
    }
    .DW__tablet
    & {
        // Top left corner.
        top: -$js__length__iconLarge__tablet * $offset__popupButton;
        left: -$js__length__iconLarge__tablet * $offset__popupButton;
    }

    .DW__mini
    & {

        // Top left corner.
        top: -$js__length__iconLarge__mini * $offset__popupButton;
        left: -$js__length__iconLarge__mini * $offset__popupButton;
    }

    .DW__phone
    & {

        &.PopupViewButton__inCardSize {

            // If card size, don't show close button at all in phone.
            display: none;
        }
    }

    .DW__mini
    &,
    .DW__phone
    & {
        &.PopupViewButton__inFullSize {
            left: 10%;
        }
    }
}

.PopupViewButton__side {

    .DW__desktop
    & {
        // Buttons on top so they don't shift regardless of content height.
        top: -$js__length__iconLarge * $offset__popupButton;
    }

    .DW__tablet
    &.PopupViewButton__notInOverlay {
        // Buttons on bottom so they don't shift regardless of content height.
        bottom: -$js__length__iconLarge__tablet * $offset__popupButton;
    }

    .DW__mini
    &.PopupViewButton__notInOverlay {
        bottom: -$js__length__iconLarge__mini * $offset__popupButton;
    }

    .DW__phone
    & {
        bottom: -$js__length__icon * $offset__popupButton;
    }

    // Using calc here because transform messes with z-indices.
    .DW__desktop
    &.PopupViewButton__inFullSize {
        top: calc(50% - #{$js__length__iconLarge} * 0.5);
    }

    .DW__desktop
    &.PopupViewButton__notInFullSize {
        top: $js__padding__popupContent__wide;
    }

    .DW__tablet
    &.PopupViewButton__inFullSize,

    .DW__tablet
    &.PopupViewButton__displaysInOverlay.PopupViewButton__notInFullSize {
        top: calc(50% - #{$js__length__iconLarge__tablet} * 0.5);
    }

    .DW__mini
    &.PopupViewButton__displaysInOverlay.PopupViewButton__notInFullSize {
        top: calc(50% - #{$js__length__iconLarge__mini} * 0.5);
    }
}

.PopupViewButton__previous {

    .DW__desktop
    & {
        left: -$js__length__iconLarge * $offset__popupButton;
    }

    .DW__tablet
    & {
        left: -$js__length__iconLarge__tablet * $offset__popupButton;
    }

    .DW__mini
    & {
        left: -$js__length__iconLarge__mini * $offset__popupButton;
    }

    .DW__phone
    &,
    .DW__mobile
    &.PopupViewButton__notInOverlay {
        left: 10%;
    }

    .DW__mini
    &,
    .DW__phone
    & {
        &.PopupViewButton__inFullSize {
            left: auto;
            right: 22.5%;
        }
    }
}

.PopupViewButton__next {

    .DW__desktop
    & {
        right: -$js__length__iconLarge * $offset__popupButton;
    }

    .DW__tablet
    & {
        right: -$js__length__iconLarge__tablet * $offset__popupButton;
    }

    .DW__mini
    & {
        right: -$js__length__iconLarge__mini * $offset__popupButton;
    }

    .DW__phone
    &,
    .DW__mobile
    &.PopupViewButton__notInOverlay {
        right: 10%;
    }

    /**
     * Keeping this as a separate style. They are currently the same, but this
     * might change.
     */
    .DW__mini
    &,
    .DW__phone
    & {
        &.PopupViewButton__inFullSize {
            right: 10%;
        }
    }
}

.PopupViewButton__inFullSize {

    .DW__mini
    & {
        top: -$js__length__iconLarge__mini + $js__margin__thick;
    }

    .DW__phone
    & {
        top: -$js__length__icon + $js__margin__thick;
    }
}