@import '../../../../scss/constants/slider';
@import '../../../../scss/constants/transition';

.SliderTime {
    position: absolute;
    bottom: 25%;

    transform: translateY(50%);

    .DW__userAgentDesktop
    & {
        transition: opacity $transitionDuration__default;
    }

    font-size: 1.1em;

    opacity: 0;

    .TW__showPastFutureLyrics
    & {
        opacity: 1;
    }
}

.SliderTime__spent {
    left: 0;
    padding-left: $margin__sliderTime * 1.5;
}

.SliderTime__remain {
    right: 0;
    padding-right: $margin__sliderTime;
}
