.oceanLife#{$suffix} {
    .kelpBack { fill: hsl(150, 30%, 40%); }
    .kelpFront { fill: hsl(150, 30%, 50%); }

    .seaweed { fill: hsl(90, 30%, 40%); }

    .frondBack { fill: hsl(210, 30%, 40%); }
    .frondFront { fill: hsl(210, 30%, 50%); }

    .coralTubeCavity { fill: hsl(60, 30%, 40%); }
    .coralTube { fill: hsl(60, 30%, 50%); }

    .coralBrainCavity { fill: hsl(30, 33%, 40%); }
    .coralBrain { fill: hsl(30, 33%, 50%); }

    .urchinBack { fill: hsl(270, 30%, 40%); }
    .urchinFront { fill: hsl(270, 30%, 50%); }

    .tubeWormCavity { fill: hsl(180, 30%, 30%); }
    .tubeWormBack { fill: hsl(180, 30%, 40%); }
    .tubeWormFront { fill: hsl(180, 30%, 50%); }
    .tubeWormPlume { fill: hsl(20, 30%, 50%); }
}