.glassDarkest { fill: hsl(175, 23%, 37%); }
// .glassDarker { fill: hsl(175, 24%, 42%); }
.glassDark { fill: hsl(175, 23%, 47%); }
.glassMediumDark { fill: hsl(175, 24%, 52%); }
.glassMedium { fill: hsl(175, 25%, 57%); }
// .glassMediumLight { fill: hsl(175, 26%, 62%); }
.glassLight { fill: hsl(175, 27%, 67%); }
.glassLightest { fill: hsl(175, 28%, 77%); }

.glassClear { fill: hsla(175, 25%, 75%, 0.25); }

.darkRoom .darkRoom#{$suffix} {
    .glassDarkest { fill: hsl(175, 12%, 24%); }
    .glassClear { fill: hsla(175, 15%, 15%, 0.25); }
}

.eveningTime .eveningTime#{$suffix} {
    .glassDarkest { fill: hsl(175, 13%, 32%); }
    .glassClear { fill: hsla(175, 20%, 25%, 0.25); }
}

.nightTime .nightTime#{$suffix} {
    .glassDarkest { fill: hsl(175, 8%, 27%); }
    .glassDark { fill: hsl(175, 8%, 37%); }
    .glassMediumDark { fill: hsl(175, 9%, 42%); }
    .glassMedium { fill: hsl(175, 10%, 47%); }
    .glassLight { fill: hsl(175, 12%, 52%); }
    .glassClear { fill: hsla(175, 10%, 20%, 0.25); }
}