@import "./Timer/style";
@import "./Title/style";

.SongBanner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $height__songBanner;
    padding-left: $js__margin__thin * 2;
    padding-right: $js__margin__thin * 2;

    border-radius: $borderRadius__narrow;

    line-height: 1em;

    background-color: $bgColour__audioPause;

    cursor: pointer;
}

.BannerTracker {
    background-color: $bgColour__audioPlay;

    .DW__higherProcessor
    & {
        transition: width $animationDuration__slow;
    }
}
