$padding__songBanner: $MARGIN_THIN * 2;

@import "./Timer/style";
@import "./Title/style";

.SongBanner {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: $height__songBanner;

    border-radius: $borderRadius__narrow;

    background-color: $colour__paused__empty;

    .PlW__isPlaying
    & {
        background-color: $colour__playing__empty;
    }

    .PlW__song
    .TW__lyricsUnlocked
    & {
        cursor: pointer;
    }

    .TW__lyricsLocked
    & {
        background-color: $colour__access__light;
    }

    .TW__verseActive
    & {
        box-shadow: $boxShadow__activeVerse;
    }
}
