$padding__songBanner: $MARGIN_THIN * 2;

@import "./Timer/style";
@import "./Title/style";

.SongBanner {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: $height__songBanner;

    border-radius: $borderRadius__narrow;

    background-color: $colour__paused__medium;

    .PlW__isPlaying
    & {
        background-color: $colour__playing__medium;
    }

    .PlW__song
    & {
        cursor: pointer;
    }

    &:hover {
        filter: $dropShadow__light;
    }
}
