.slider-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}

._sliderNotMoving_._verseInactive_ {

    .time-bar {
        // FIXME: Width animation is buggy if longer than 0.05s?
        transition: width @animationDuration__instant,
                    background-color @animationDuration__default;
    }

    .time-spent-bar {
        background-color: rgba(225, 225, 225, 0.5);
    }
}

.time-remain-bar {
    width: 100%;
}

._sliderMoving_ {

    .time-bar {
        transition: background-color @animationDuration__default;
    }

    .time-spent-bar {
        background-color: @time-spent-bar-colour;
    }

    .time-remain-bar {
        background-color: @time-remain-bar-colour;
    }
}

.time-display {
    box-sizing: border-box;

    @time-display-margin: 5px;

    position: absolute;
    bottom: 25%;
    opacity: 0;
    transform: translateY(50%);
    font-size: 0.8em;
    transition: opacity @animationDuration__default;

    &.spent {
        left: 0;
        padding-left: @time-display-margin;

        &.above {
            color: @colour__audioDisplay__dark;
        }

        &.below {
            color: @colour__audioDisplay__light;
        }
    }

    &.remain {
        right: 0;
        padding-right: @time-display-margin;

        direction: rtl;
        overflow: hidden;

        &.above {
            color: @colour__audioDisplay__light;
        }

        &.below {
            color: @colour__audioDisplay__dark;
        }
    }

    ._sliderMoving_
    & {
        opacity: 1;
    }
}
