.audio-cursor {
    position: absolute;
    top: 0;
    height: 100%;

    transition: left @animationDuration__default,
                width @animationDuration__default,
                background-color @animationDuration__default,
                box-shadow @animationDuration__default;

    // NOTE: The order of the following styling rules matters.
    ._isPlaying_
    & {
        background-color: mix(@colour__audioPlay, transparent, 50%);
    }

    ._isPaused_
    & {
        background-color: mix(@colour__audioPause, transparent, 50%);
    }

    ._verseActive_
    & {
        background-color: @colour__audioHighlight;
    }

    ._sliderMoving_
    & {
        background-color: @colour__audioNeutral;
    }
}