.audio-cursor {
    position: absolute;
    top: 0;
    height: 100%;

    transition: left @animation-default,
                width @animation-default,
                background-color @animation-default,
                box-shadow @animation-default;

    // NOTE: The order of the following styling rules matters.
    .is-playing
    & {
        background-color: mix(@audio-play-colour, transparent, 50%);
    }

    .is-paused
    & {
        background-color: mix(@audio-pause-colour, transparent, 50%);
    }

    .is-verse-interactivated
    & {
        background-color: @audio-highlight-colour;
    }

    .slider-moving
    & {
        background-color: @audio-neutral-colour;
    }
}