@margin__sliderTime: 5px;

.SliderTimes__belowCursor {
    // TODO: Rework these colours, obviously.
    color: #444;
    .mixin__textShadow(#ffd);
}

.SliderTimes__aboveCursor {
    // TODO: Rework these colours, obviously.
    color: #ffd;
    .mixin__textShadow(#444);
}

.SliderTime {
    position: absolute;
    bottom: 25%;

    transform: translateY(50%);
    transition:
        opacity @animationDuration__default;

    font-size: 0.8em;

    opacity: 0;

    .RM__sliderMoving
    & {
        opacity: 1;
    }
}

.SliderTime__spent {
    left: 0;
    padding-left: @margin__sliderTime;
}

.SliderTime__remain {
    right: 0;
    padding-right: @margin__sliderTime;
}
