.audio-cursor {
    position: absolute;
    top: 0;
    height: 100%;

    transition: left @animationDuration__default,
                width @animationDuration__default,
                background-color @animationDuration__default,
                box-shadow @animationDuration__default;

    // NOTE: The order of the following styling rules matters.
    .dm__isPlaying
    & {
        background-color: mix(@colour__audioPlay, transparent, 50%);
    }

    .dm__isPaused
    & {
        background-color: mix(@colour__audioPause, transparent, 50%);
    }

    .dm__verseActive
    & {
        background-color: @colour__audioHighlight;
    }

    .dm__sliderMoving
    & {
        background-color: @colour__audioNeutral;
    }
}