.SliderScenes {
    position: absolute;
    left: 0;
    width: 100%;
    height: 5%;
}

.SliderSceneBar {
    position: absolute;
    height: 100%;

    // Anchor to bottom and right!
    bottom: 0;
    right: 0;
}

.SliderSceneBar__odd {
    background-color: #f88;
}

.SliderSceneBar__even {
    background-color: #88f;
}
