$margin__audioBanner__accessIcons: 3px;

.AccessLetters__inSlider {
    bottom: $margin__audioBanner__accessIcons;

    z-index: $zIndex__negative;

    .RM__accessOn
    & {
        z-index: $zIndex__menuField;
    }
}

.AccessLetters__sliderRewindForward {
    left: $margin__audioBanner__accessIcons;
}
