@import "./SliderScenes";
@import "./Stanzas/SliderStanzas";
@import "./Verses/SliderVerses";
@import "./Times/SliderTimes";
@import "./SliderAccess";

.Slider {
    height: 100%;
    opacity: 0;

    transition: opacity $animationDuration__default;

    .RM__song
    & {
        cursor: pointer;
    }

    &.parentIsShown {
        opacity: 1;
    }
}
