.SliderScenes-block {
    position: absolute;
    top: 12.5%;
    left: 0;
    width: 100%;
    height: 50%;
}

.scene-slider-bar {
    &.odd {
        background-color: #f88;
    }

    &.even {
        background-color: #88f;
    }
}
