.slider-verses-block {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 50%;
}

.verse-slider-bar {
    &.odd {
        background-color: @odd-verse-colour;
    }

    &.even {
        background-color: @even-verse-colour;
    }
}
