// TODO: Redo with access icons refactor.

.Slider {

    @margin__audioBanner__accessIcons: 3px;

    .AccessIcons {
        bottom: @margin__audioBanner__accessIcons;

        &.rewindForward {
            left: @margin__audioBanner__accessIcons;
        }

        &.enter {
            right: @margin__audioBanner__accessIcons;
        }
    }
}