.slider-bar {
    &.stanza-slider-bar,
    &.verse-slider-bar,
    &.scene-slider-bar {

        left: auto;
        right: 0;

        transition: width @animationDuration__default,
                    background-color @animationDuration__default;
    }
}
