@import "./SliderScenes.scss";
@import "./Stanzas/SliderStanzas.scss";
@import "./Times/SliderTimes.scss";
@import "./SliderAccess.scss";

.Slider {
    height: 100%;
    opacity: 0;

    transition: opacity $animationDuration__default;

    .RM__song
    & {
        cursor: pointer;
    }

    &.parentIsShown {
        opacity: 1;
    }
}

.Slider__touch {
    z-index: $zIndex__touchOverlay;
}