@import "./SliderScenes.less";
@import "./Stanzas/SliderStanzas.less";
@import "./Times/SliderTimes.less";
@import "./SliderAccess.less";

.Slider {
    height: 100%;
    opacity: 0;

    transition: opacity @animationDuration__default;

    .RM__song
    & {
        cursor: pointer;
    }

    &.renderReady {
        opacity: 1;
    }
}

// TODO: Maybe get rid of this class, since the only permanent component that uses it is the slider verse.
.Slider__dynamicBar {
    position: absolute;
    height: 100%;
    bottom: 0;
    right: 0;

    transition:
        width @animationDuration__default,
        background-color @animationDuration__default;

    .overrideTransitions
    & {
        transition: none;
    }
}
