.SliderVerses {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    height: 50%;
}

.SliderVerseBar__odd {
    background-color: @bgColour__verse__odd;
}

.SliderVerseBar__even {
    background-color: @bgColour__verse__even;
}
