@import "./SliderCursor.less";
@import "./SliderScenes.less";
@import "./SliderStanzas.less";
@import "./SliderTimeBars.less";
@import "./SliderVerses.less";

.slider-block {
    height: 100%;
}

.verse-slider-bar {
    transition: box-shadow @animationDuration__default, background-color @animationDuration__default;

    &.hovered {
        transition: box-shadow 0.1s, background-color 0.1s;
        background-color: @colour__audioHighlight;
        box-shadow: @hovered-slider-box-shadow;
    }
}

.slider-touch-bar {
    width: 100%;

    .RM__song
    & {
        cursor: pointer;
    }
}
