@import "./Scenes/style";
@import "./Stanzas/style";
@import "./Times/style";

.Slider {
    position: relative;
    height: $js__length__iconLarge + $js__margin__thin;

    z-index: $zIndex__slider;

    opacity: 0;

    .DW__userAgentDesktop
    & {
        transition: opacity $animationDuration__fast;
    }
}

.ShW__overlayHidden
.Slider__visible {
    opacity: 1;
}
