@import "./Access/style";
@import "./Scenes/style";
@import "./Stanzas/style";
@import "./Times/style";

.Slider {
    height: 100%;
    opacity: 0;

    transition: opacity $animationDuration__default;

    .RM__song
    & {
        cursor: pointer;
    }

    &.parent__shown {
        opacity: 1;
    }
}
