@import '../../../scss/constants/icon';
@import '../../../scss/constants/transition';
@import '../../../scss/constants/zIndex';
@import './Field/style';
@import './Icon/style';

.AccessLetter {
    position: relative;
    width: $length__iconAccess;
    height: $length__iconAccess;

    .DW__userAgentDesktop
    & {
        transition:
            opacity $transitionDuration__default,
            transform $transitionDuration__instant;
    }

    opacity: 0;
}

.AccessLetter__shown {

    .PlW__accessOn
    & {
        opacity: 1;
        z-index: $zIndex__lyricChild__topMost;
    }
}

.AccessLetter__inButtonOrDotAnchor {
    position: absolute;
    bottom: 0;
    right: 0;
}
