@import "./Field/style";
@import "./Icon/style";

.AccessLetter {
    position: relative;
    width: $length__iconAccess;
    height: $length__iconAccess;

    transition:
        opacity $animationDuration__default,
        transform $animationDuration__instant;

    opacity: 0;
    z-index: $zIndex__negative;
}

.AccessLetter__showIfAccessed {

    .RM__accessOn
    &.AccessLetter__isNotShadow {
        opacity: 1;
        z-index: $zIndex__lyricChild__topMost;
    }
}

.AccessLetter__inInteractable {
    position: absolute;
    bottom: 0;
}

.AccessLetter__inTextAnchor {
    right: -$length__iconAccess - $js__margin__thin * 1.5;
}

.AccessLetter__inButtonOrDotAnchor {
    right: 0;
}
