.TipsHand {
    width: $LENGTH_ICON_LARGE;
    height: $LENGTH_ICON_LARGE;
    top: 50%;
    transform: translateY(-50%);
    
    left: 100%;
    margin-left: $MARGIN_THIN;

    z-index: $zIndex__tipsHand;

    opacity: 0;

    .DW__userAgentDesktop
    & {
        transition: opacity $animationDuration__default;
    }

    .DW__tabletWidth
    & {
        width: $LENGTH_ICON_LARGE_TABLET;
        height: $LENGTH_ICON_LARGE_TABLET;
    }

    .DW__miniWidth
    & {
        width: $LENGTH_ICON_LARGE_MINI;
        height: $LENGTH_ICON_LARGE_MINI;
    }
}

.TipsHand__reverse {
    left: -100%;
    margin-left: auto;
    margin-right: $MARGIN_THIN;
}

.TipsHand__animatable {
    animation: pulse $animationDuration__pulse infinite;
    animation-timing-function: ease-in-out;

    // TODO: Improve styling.
    filter: drop-shadow(0 0 5px hsla(200, 50%, 50%, 0.5));
}

.TipsHand__shown {
    opacity: 1;
}

.tipsHand {
    stroke-width: 0.25px;
    stroke: hsla(200, 20%, 20%, 0.6);

    .hand { fill: hsl(199, 38%, 82%); }
    .handInner { fill: hsl(201, 10%, 55%); }

    .TipsHand__reverse
    & {
        transform: scaleX(-1);
    }
}