.TipsHand {
    width: $LENGTH_ICON_LARGE;
    height: $LENGTH_ICON_LARGE;

    animation: pulse $animationDuration__pulse infinite;
    animation-timing-function: ease-in-out;

    z-index: $zIndex__tipsHand;

    opacity: 0;

    // TODO: Improve styling.
    filter: drop-shadow(0 0 5px hsla(200, 50%, 50%, 0.5));

    .DW__userAgentDesktop
    & {
        transition: opacity $animationDuration__default;
    }
}

.TipsHand__shown {
    opacity: 1;
}

.tipsHand {
    stroke-width: 0.25px;
    stroke: hsla(200, 20%, 20%, 0.6);

    .hand { fill: hsl(199, 38%, 82%); }
    .handInner { fill: hsl(201, 10%, 55%); }
}