.TipsHand {
    width: $LENGTH_ICON_LARGE;
    height: $LENGTH_ICON_LARGE;
    top: 50%;
    left: 100%;
    transform: translate(5%, -50%);

    z-index: $zIndex__tipsHand;

    opacity: 0;

    .DW__userAgentDesktop
    & {
        transition: opacity $animationDuration__default;
    }

    .DW__tabletWidth
    & {
        width: $LENGTH_ICON_LARGE_TABLET;
        height: $LENGTH_ICON_LARGE_TABLET;
    }

    .DW__miniWidth
    & {
        width: $LENGTH_ICON_LARGE_MINI;
        height: $LENGTH_ICON_LARGE_MINI;
    }
}

.TipsHand__reverse {
    left: auto;
    right: 100%;
    transform: translate(-5%, -50%);
}

.TipsHand__animatable {
    animation: pulse $animationDuration__pulse infinite;
    animation-timing-function: ease-in-out;

    // TODO: Improve styling.
    filter: drop-shadow(0 0 5px hsla(200, 50%, 50%, 0.5));
}

.TipsHand__shown {
    opacity: 1;
}

.tipsHand {
    .hand { fill: hsl(60, 38%, 92%); }
    .handInner { fill: hsl(60, 10%, 65%); }

    .TipsHand__reverse
    & {
        transform: scaleX(-1);
    }
}