.book#{$suffix} { 
    .bookCover { fill: hsl(122, 20%, 39%); }
    .bookmark { fill: hsl(329, 43%, 49%); }
    .bookPageLight { fill: hsl(48, 10%, 90%); }
    .bookPageMedium { fill: hsl(48, 6%, 84%); }
    .bookPageDark { fill: hsl(48, 5%, 63%); }
    .paperStackLight { fill: hsl(47, 11%, 68%); }
    .paperStackDark { fill: hsl(45, 8%, 63%); }
    .romanNumeral { fill: hsl(61, 65%, 88%); }

    .darkenDefault &.darken#{$suffix} {
        .paperStackLight { fill: hsl(47, 6%, 39%); } 
    }
}