.allPeople__shared {
    .skinBlack { fill: #857652; }
    .skinEastAsian { fill: #d1b899; }
    .skinIndian { fill: #856439; }
    .skinWhite { fill: #c9b2a3; }
    .hairBlonde { fill: #aeb382; }
    .hairSandy { fill: #897f64; }
    .hairRed { fill: #8c4b39; }
    .hairRedDark { fill: #7d4333; }
    .hairMediumBrown { fill: #5b4d3e; }
    .hairDarkBrown { fill: #4c4539; }
    .hairBlack { fill: #343636; }
    .hairBlackDark { fill: #2a2b2b; }
    .mouthBlob { fill: #453d36; }
    .eyeBlob { fill: #343636; }
}