.allPeople#{$suffix} {
    .skinBlack { fill: hsl(28, 29%, 45%); }
    .skinEastAsian { fill: hsl(32, 45%, 67%); }
    .skinIndian { fill: hsl(22, 32%, 50%); }
    .skinWhite { fill: hsl(29, 55%, 80%); }
    .hairBlonde { fill: #aeb382; }
    .hairSandy { fill: #897f64; }
    .hairRed { fill: #8c4b39; }
    .hairRedDark { fill: #7d4333; }
    .hairMediumBrown { fill: #5b4d3e; }
    .hairDarkBrown { fill: #4c4539; }
    .hairBlack { fill: #343636; }
    .hairBlackDark { fill: #2a2b2b; }
    .mouthBlob { fill: #453d36; }
    .eyeBlob { fill: #343636; }
}