.Curtains {
    z-index: $zIndex__curtains;
}

.Curtains__top {
    height: 7.5%;
}

.Curtains__side {
    width: 50%;
}

.Curtains__left {
    // Allow curtains to overlap a bit when closed.
    left: 0.1%;

    .DW__higherProcessor
    & {
        transition: left $animationDuration__default;
    }

    .Curtains__parted
    & {
        left: -45%;
    }
}

.Curtains__right {
    left: auto;
    right: 0.1%;

    .DW__higherProcessor
    & {
        transition: right $animationDuration__default;
    }

    .Curtains__parted
    & {
        right: -45%;
    }
}

// This is the path in the svg.
.curtain  {
    fill: url(#fill__curtainDark);

    .PlW__logue
    & {
        fill: url(#fill__curtainLit);
    }
}
.curtainBand  {
    fill: url(#fill__curtainBandDark);

    .PlW__logue
    & {
        fill: url(#fill__curtainBandLit);
    }
}
.curtainRear  {
    fill: url(#fill__curtainRear);
}