.magazine#{$suffix} {
    .paperRed { fill: hsl(330, 32%, 57%); }
    .paperBlue { fill: hsl(210, 32%, 57%); }
    .paperPurple { fill: hsl(270, 32%, 57%); }
    .paperGreen { fill: hsl(120, 32%, 57%); }
    .magazinePageMedium { fill: hsl(42, 2%, 73%); }
    .magazineStackDark { fill: hsl(40, 2%, 63%); }
    .magazineStackLight { fill: hsl(40, 2%, 68%); }
}   