@import "./Card/style";
@import "./Dot/style";

.Unit {
    display: flex;
    justify-content: center;
}

.Unit__column {
    display: flex;
    align-items: center;

    .Unit__subsequent
    & {
        margin-top:
            $margin__lyricUnit
            - $height__stanzaTypeTab
            - 2.5px;
    }
}

.Unit__column__text {
    flex-direction: column;
    justify-content: flex-end;

    // Dots stanza will have this style only if not hidden.
    &:not(:first-child) {
        margin-left: $marginX__stanzaChildColumn;
    }

    /**
     * Apply margin top to stanza block rather than lyrics unit, so that
     * bottom dot stanza can override it when faded out.
     */
    .Stanza:not(:first-child)
    .Unit__notSubsequent
    & {
        margin-top: $margin__lyricUnit;
    }

    /**
     * Limit width of stanzas when lyric column is full width of screen.
     * This is necessary for Vegan Proclamation. This value doesn't affect
     * the layout anywhere else. This is also wide enough for Golden Cord.
     */
    max-width: 700px;
}

.Unit__column__main {
    // Account for verse audio button and its box shadow.
    padding-left: $paddingX__verse + 5px;
}

.Unit__column__side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // Rules to show or hide stanzas when only one lyric column is shown.
    .RM__leftEarColumnOnly
    & {
        // Hide side stanzas when only left lyric column is shown.
        display: none;
    }
}

.Unit__column__sideBottomOnly {
    justify-content: flex-end;
}
