$length__dotsSlideSelect: 64px;

$length__dotsSlideSelect__tablet:
    $js__length__iconLarge * 0.95;

.DotsSlideSelect {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;

    .DW__mini
    & {
        padding: $js__margin__thin * 2;
    }

    .DW__phone
    & {
        padding: $js__margin__thin;
    }
}

.Button__slideSelectSize {

    width: $length__dotsSlideSelect;
    height: $length__dotsSlideSelect;

    .DW__phone
    & {
        width: $length__dotsSlideSelect__tablet;
        height: $length__dotsSlideSelect__tablet;
    }
}

.SlideSelectDescription {

    text-align: center;
    font-size: .6em;

    opacity: 0;
    transition: opacity $animationDuration__default;

    .DotsSlideSelect:hover
    &,

    &.SlideSelectDescription__interactivated,

    &.SlideSelectDescription__accessed {
        opacity: 1;
    }
}

.DotsSlideSelect__textAnchor {
    padding-top: 5px;
    font-size: 0.75em;

    .DW__phone
    & {
        padding-top: 0;
    }
}

// TODO: Deselected styling will strategically gray out fills.
.DotField__dotsSlide__deselected {
    fill: $bgColour__dot__deselected;
}
.DotIcon__dotsSlide__deselected {
    fill: $bgColour__dot__deselected;
}