@import "./Character/style";
@import "./Title/style";

.NavButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;

    .NavColumn__hidden
    .NavBookSongs
    & {
        width: 0;
        height: 0;
    }

    .DW__userAgentDesktop
    .Nav__showSingleBook
    & {
        transition:
            width $animationDuration__default,
            margin $animationDuration__default;
    }

    .RW__navIconStatic
    & {
        width: $LENGTH_ICON;
        height: $LENGTH_ICON;
    }

    .RW__navIconShrunk
    .NavColumn__shown.NavColumn__left
    & {
        &:not(:last-child) {
            margin-right: 1px;
        }
    }

    .RW__navIconShrunk
    .NavColumn__shown.NavColumn__right
    & {
        &:not(:last-child) {
            margin-left: 1px;
        }
    }
}

.Button {
    .NavButton
    & {
        width: 100%;
        height: 100%;
    }
}

.Nav__text__selected {
    color: $colour__select__medium;
}

.Nav__text__interactable {

    .Button__enabled:hover
    & {
        color: $colour__linkHover__light;
    }

    .Button__enabled:active
    & {
        color: $colour__linkActive;
    }

    .Button__accessed
    & {
        color: $colour__accessHover__light;
    }

    .Button__accessed:hover
    & {
        color: $colour__accessActive;
    }

    .Button__accessed:active
    & {
        color: $colour__accessHover__dark;
    }

    .DW__userAgentDesktop
    & {
        transition:
            color $animationDuration__default;
    }
}
