@import "./DotAnchor.less";
@import "./TextAnchor.less";

.Anchor,
.TextAnchor,
.DotAnchor {
    position: relative;
    white-space: nowrap;
}

.Anchor__selectable.Anchor__styleAlways {
    cursor: pointer;
}

.AnchorUnderline {
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    left: 0;

    transition:
        opacity @animationDuration__default,
        background-color @animationDuration__default,
        transform @animationDuration__fast;

    .overrideTransitions
    & {
        transition: none;
    }

    .RM__sliderMoving
    & {
        background-color: @bgColour__underline__disabled;
    }
}

// Initial style is not visible.
.AnchorUnderline__styleOnlyWithSequenceDot {
    opacity: 0;
}

.AnchorUnderline__underDot {
    height: 25%;
    bottom: -10%;
}

.AnchorUnderline__selectable {
    background-color: @bgColour__underline__selectable;

    .Anchor__selectable:hover
    & {
        animation: bounceHover @animationDuration__default;
    }

    .Anchor__selectable:active
    & {
        transform: scale(0.9);
    }
}

.AnchorUnderline__selected {
    .RM__sliderNotMoving
    & {
        background-color: @bgColour__underline__selected;
    }
}

.AnchorUnderline__accessed {
    .RM__sliderNotMoving.RM__accessOn
    & {
        background-color: @bgColour__underline__accessed;
    }
}
