// TODO: Move default logic here as well?

.RsDn .ChAn,
.RsDb .ChAb,
.RsDo .ChAo,
.RsDp .ChAp,
.RsDr .ChAr,
.RsDs .ChAs,
.RsDw .ChAw,
.RsDa .ChAa,
.Anchor__alwaysVisible {

    &.Anchor__selectable {
        cursor: pointer;
    }

    // Anchors show as more than text.
    .TextAnchor__plainText {
        visibility: hidden;
    }
    .TextAnchor__linkText__default {
        visibility: visible;
    }

    .AnchorUnderline__bar__default {
        visibility: visible;
    }

    .TextAnchor__accessed {
        .TextAnchor__linkText__default {
            visibility: hidden;
        }
        .TextAnchor__linkText__accessed {
            visibility: visible;
        }
    }

    .AnchorUnderline__accessed {
        .AnchorUnderline__bar__default {
            visibility: hidden;
        }
        .AnchorUnderline__bar__accessed {
            visibility: visible;
        }
    }
}
