.AnchorUnderline {
    // $width__anchorUnderline__bleed: 0.125em;
    $width__anchorUnderline__bleed: 0em;

    position: absolute;
    left: -$width__anchorUnderline__bleed;
    bottom: 0;
    width: calc(100% + #{$width__anchorUnderline__bleed * 2});
    height: 35%;
}

.AnchorUnderline__bar {
    visibility: hidden;

    .parentIsShown
    & {
        transition:
            opacity $animationDuration__default,
            background-color $animationDuration__default;
    }

    .RM__key__Enter
    .TransitionKey__Enter
    &.AnchorUnderline__bar__accessed {
        background-color: $colour__accessedLinkActive !important;
    }
}

.RM__sliderMoving {

    .AnchorUnderline__bar {
        display: none;
    }
}
