@import "./DotAnchor.less";
@import "./TextAnchor.less";

.Anchor,
.TextAnchor,
.DotAnchor {
    position: relative;
    white-space: nowrap;
}

.Anchor__selectable {
    cursor: pointer;
}

.AnchorUnderline {
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    left: 0;

    background-color: @bgColour__underline__disabled;

    transition:
        background-color @animationDuration__fast,
        transform @animationDuration__faster;

    .overrideAnimate
    & {
        transition: none;
    }
}

.AnchorUnderline__underDot {
    height: 25%;
    bottom: -10%;
}

.AnchorUnderline__selectable {
    background-color: @bgColour__underline__selectable;

    .Anchor__selectable:hover
    & {
        animation: bounceHover @animationDuration__default;
    }

    .Anchor__selectable:active
    & {
        transform: scale(0.9);
    }
}

.AnchorUnderline__selected {
    background-color: @bgColour__underline__selected;
}

.AnchorUnderline__accessed {
    .RM__accessOn
    & {
        background-color: @bgColour__underline__accessed;
    }
}
