.Anchor, .Anchor__text {
    position: relative;
}

.Anchor__selectable {
    cursor: pointer;
}

.Anchor__underline {
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    left: 0;

    background-color: @lyric-underline-disabled-colour;

    transition:
        background-color @animationDuration__fast,
        transform @animationDuration__faster;

    .overrideAnimate
    & {
        transition: none;
    }
}

.Anchor__underline__selectable {
    background-color: @lyric-underline-enabled-colour;

    .Anchor__selectable:hover
    & {
        animation: bounceHover @animationDuration__default;
    }

    .Anchor__selectable:active
    & {
        transform: scale(0.9);
    }
}

.Anchor__underline__selected {
    background-color: @selected-annotation-underline-colour;
}

.Anchor__text__selectable {
    color: @lyric-link-colour;

    .Anchor__selectable:hover
    & {
        color: @lyric-hover-colour;
    }

    .Anchor__selectable:active
    & {
        color: @lyric-active-colour;
    }
}

.Anchor__text__selected {
    color: @selected-annotation-text-colour;
}

.Anchor__selected {
    // .icon-canvas {
    //     border: @border__dot solid @selected-annotation-underline-colour;
    //     background-color: @Dot__deselected;
    // }
}


// .RM__sliderNotMoving.RM__narrative
//     .Anchor__narrative,
// .RM__sliderNotMoving.RM__backstory
//     .Anchor__backstory,
// .RM__sliderNotMoving.RM__observation
//     .Anchor__observation,
// .RM__sliderNotMoving.RM__pun
//     .Anchor__pun,
// .RM__sliderNotMoving.RM__reference
//     .Anchor__reference,
// .RM__sliderNotMoving.RM__songwriting
//     .Anchor__songwriting,
// .RM__sliderNotMoving.RM__portal
//     .Anchor__portal,
// .RM__sliderNotMoving.RM__afterword
//     .Anchor__afterword,

// .DotsSlideAnchor__inDots {