@import "./AnchorLogic.scss";
@import "./DotAnchor.scss";
@import "./DotAnchorLogic.scss";
@import "./TextAnchor.scss";

.Anchor,
.TextAnchor,
.DotAnchor {
    // Keep underline below.
    position: relative;
}

.Anchor {
    .RM__verseInactive
    .Verse__interactable
    .VerseColour__onCursor
    ~ .sibling__verseCursor
    & {
        // Allow anchor in cursor verse to still show.
        z-index: $zIndex__cursorVerse;
    }
}

.Anchor__noWrap {
    white-space: nowrap;
}

.AnchorUnderline {
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    left: 0;

    opacity: 0;

    .RM__sliderMoving
    & {
        background-color: $bgColour__underline__disabled;
    }

    .parentIsShown
    & {
        transition:
        opacity $animationDuration__default,
        background-color $animationDuration__default,
        transform $animationDuration__fast;
    }
}

.AnchorUnderline__underDot {
    height: 25%;
    bottom: -10%;
}

.AnchorUnderline__selectable {
    background-color: $bgColour__underline__selectable;

    .Anchor__selectable:hover
    & {
        animation: bounceHover $animationDuration__default;
    }

    .Anchor__selectable:active
    & {
        transform: scale(0.9);
    }
}

.AnchorUnderline__selected {
    .RM__sliderNotMoving
    & {
        background-color: $bgColour__underline__selected;
    }
}

.AnchorUnderline__accessed {
    .RM__sliderNotMoving.RM__accessOn
    & {
        background-color: $bgColour__underline__accessed;
    }
}
