.DotAnchor__selectable {

    .Anchor__selectable:hover
    & {
        animation: bounceHover $animationDuration__slow;
    }

    .RM__key__Enter
    .TransitionKey__Enter
    &,
    .Anchor__selectable:active
    & {
        transform: scale(0.9);
    }
}

.DotAnchor__inAnnotation {
    width: $length__iconSmall;
    height: $length__iconSmall;
}

.DotAnchor__inStanza {
    width: $length__iconSmaller;
    height: $length__iconSmaller;
}

// TODO: Come up with better styling, obviously.
.DotAnchor__accessed {
    box-shadow: $boxShadow__access;
}