.DotAnchor {
    background-color: $bgColour__dot__deselected;
}

.DotAnchor__selectable {
    .Anchor__selectable:hover
    & {
        animation: bounceHover $animationDuration__slow;
    }

    .Anchor__selectable:active
    & {
        transform: scale(0.8);
    }
}

.DotAnchor__inAnnotation {
    width: $length__iconSmall;
    height: $length__iconSmall;
}

.DotAnchor__inStanza {
    width: $js__length__icon;
    height: $js__length__icon;
}

// TODO: Come up with better styling, obviously.
.DotAnchor__accessed {
    .RM__accessOn
    & {
        box-shadow: $boxShadow__access;
    }
}