.DotAnchor {
    display: none;
}

.RsDw .CdAw,
.RsDo .CdAo,
.RsDb .CdAb,
.RsDr .CdAr,
.RsDp .CdAp,
.RsDn .CdAn,
.RsDs .CdAs,
.RsDa .CdAa {

    display: inline-block;

    // All subsequent sibling dots in dot anchor should not be displayed.
    ~ .DotAnchor {
        display: none;
    }
}
