@each $dotLetter in $dotLettersArray {

    // "Root selected dot letter, child anchor."
    .Anchor__alwaysVisible,
    .RsD#{$dotLetter} .ChA#{$dotLetter} {

        .TW__lyricsUnlocked
        &.Anchor__selectable {
            cursor: pointer;
        }

        // Anchors show as more than text.
        .TextAnchor__plainText {
            display: none;
        }
        .TextAnchor__linkText__default {
            display: inline;
        }

        &.Anchor__accessed {
            .TextAnchor__linkText__default {
                display: none;
            }
            .TextAnchor__linkText__accessed {
                display: inline;
            }
        }

        .Underline {
            visibility: visible;
        }
    }
}