.TextAnchor__selectable {
    color: @lyric-link-colour;

    .Anchor__selectable:hover
    & {
        color: @lyric-hover-colour;
    }

    .Anchor__selectable:active
    & {
        color: @lyric-active-colour;
    }
}

.TextAnchor__selected {
    color: @selected-annotation-text-colour;
}
