.TextAnchor__selectable {
    color: @colour__textAnchor__link;

    .Anchor__selectable:hover
    & {
        color: @colour__textAnchor__hover;
    }

    .Anchor__selectable:active
    & {
        color: @colour__textAnchor__active;
    }
}

.TextAnchor__selected {
    color: @colour__textAnchor__selected;
}

.TextAnchor__accessed {
    .RM__accessOn
    & {
        color: @colour__textAnchor__accessedLink;
    }

    .RM__accessOn .Anchor__selectable:hover
    & {
        color: @colour__textAnchor__accessedHover;
    }

    .RM__accessOn .Anchor__selectable:active
    & {
        color: @colour__textAnchor__accessedActive;
    }
}
