.TextAnchor__linkText {

    .parentIsShown
    & {
        transition: color $animationDuration__fast;
    }
}

.TextAnchor__linkText {
    display: none;

    /**
     * Overly specific selectors are needed to override default link text
     * styling in cursored verse, which also has the !important flag. This is
     * unfortunate, but unavoidable.
     */
    .RM__key__Enter
    .TransitionKey__Enter
    &.TextAnchor__linkText__accessed {
        color: $colour__accessedLinkActive !important;
    }
}
