.recorder#{$suffix} {
    .recorderBrass { fill: hsl(46, 28%, 61%); }
    .recorderPadding { fill: hsl(65, 28%, 61%); }
    .recorderLight { fill: hsl(330, 12%, 45%); }
    .recorderTrim { fill: hsl(341, 10%, 43%); }
    .recorderDark { fill: hsl(330, 12%, 39%); }
    .recorderInner { fill: hsl(327, 7%, 31%); }
}