.FloorSeat__lit {
    fill: #965;

    .SW__logue
    & {
        fill: #c98;
    }
}

.FloorSeat__base {
    fill: #633;

    .SW__logue
    & {
        fill: #966;
    }
}

.FloorSeat__shaded {
    fill: #222;

    .SW__logue
    & {
        fill: #555;
    }
}