.wade#{$suffix} {
    .wadeShirt { fill: hsl(199, 41%, 64%); }
    .wadeShirtInner { fill: hsl(199, 30%, 57%); }
    .wadePants { fill: hsl(36, 28%, 74%); }
    .wadeBelt { fill: hsl(29, 26%, 40%); }
    .wadeBeltBuckle { fill: hsl(43, 41%, 45%); }
    .wadeShoe { fill: hsl(33, 26%, 60%); }
    .wadeSole { fill: hsl(16, 9%, 47%); }
}