.cinemaDoors {
    .ball {
        fill: #b39c4c;
    }

    .handle {
        fill: #998541;
    }
}

.marqueeFrame {
    .frame {
        fill: #e25044;
    }

    .bulbOuter {
        fill: #e0d846;
    }

    .bulbInner {
        fill: #e5e4d8;
    }
}

.maraMementoPoster {
    .frame {
        fill: #3f2d2d;
    }

    .shadow {
        fill: #998675;
    }

    .shirt {
        fill: #c6c18f;
    }

    .collar {
        fill: #b6b774;
    }

    .photoFrame {
        fill: #eae9dc;
    }
}