.maraMementoPoster {
    .frame { fill: #3f2d2d; }
    .shadow { fill: #998675; }
    .shirt { fill: #c6c18f; }
    .dress { fill: #ce6a32; }
    .collar { fill: #b6b774; }
    .photoFrame { fill: #eae9dc; }
}
