.evian__shared {
    .bottleWater {
        fill: #b3dde6;
    }

    .bottlePlastic {
        fill: #cce9f0;
    }

    .bottleLabel {
        fill: #ccf;
    }

    .bottleCap {
        fill: #fff;
    }
}