@import '../../../scss/constants/border';
@import '../../../scss/constants/colour';
@import '../../../scss/constants/shadow';
@import '../../../scss/constants/transition';

$width__underline__bleed: 0.125em;

.Underline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    height: 2px;
    transform: translateY(50%);

    // This is only in About.
    .font__heading
    & {
        bottom: 18%;
    }

    .DW__userAgentDesktop
    & {
        transition:
            height $transitionDuration__faster,
            background-color $transitionDuration__fast;
    }

    // "Root accessed letter Enter, child accessed letter Enter."
    .PaLEnter
    .CaLEnter
    &.Underline__accessed {
        background-color: $colour__accessActive !important;
    }

    // Specific selector to override.
    .Anchor__isPlainText
    &,

    .TW__showPastFutureLyrics
    .Anchor
    & {
        visibility: hidden;
    }
}

.Underline__accessed,
.Underline__selected,

.TW__isStationary
.Anchor__animatable:hover
.Underline {
    height: 35%;
}

.Underline__isDot {
    &.Underline__accessed,
    &.Underline__selected,

    .TW__isStationary
    .Anchor__animatable:hover
    & {
        height: 25%;
    }
}

.Underline__isNotWiki {
    border-radius: $borderRadius__narrow;

    &.Underline__accessed,
    &.Underline__selected,

    .TW__isStationary
    .Anchor__animatable:hover
    & {
        filter: $dropShadow__small;
    }
}

.Underline__isWiki__firstChild {
    border-top-left-radius: $borderRadius__narrow;
    border-bottom-left-radius: $borderRadius__narrow;
}
.Underline__isWiki__notFirstChild {
    left: -$width__underline__bleed;
}
.Underline__isWiki__lastChild {
    border-top-right-radius: $borderRadius__narrow;
    border-bottom-right-radius: $borderRadius__narrow;
}
.Underline__isWiki__notLastChild {
    right: -$width__underline__bleed;
}
