@import '../../../../scss/constants/colour';

// Applies to back button as well.
.promoIcon {
    .Button
    & {
        fill: $colour__buttonTextSelect__dark;
    }

    .Button.Button__enabled
    & {
        fill: $colour__buttonText__dark;
    }

    .Button.Button__enabled:hover
    & {
        fill: $colour__buttonTextHover__dark;
    }

    .Button.Button__enabled:active
    & {
        fill: $colour__buttonTextActive__dark;
    }
}