.schoolBackdrop {
    .mountain {
        fill: #ad91b7;
    }

    .foliage {
        fill: #506d4d;
    }

    .palmTrunk {
        fill: #564a3b;
    }

    .palmFrond {
        fill: #5c7f61;
    }

    .building {
        fill: #677b8c;
    }

    .trunk {
        fill: #5b5040;
    }

    .leavesBack {
        fill: #547258;
    }

    .leavesFront {
        fill: #639369;
    }

    .wall {
        fill: #a08975;
    }

    .ledge {
        fill: #c6baa8;
    }

    .brickDark {
        fill: #895540;
    }

    .brickLight {
        fill: #99865b;
    }

    .bush {
        fill: #54775a;
    }
}

.schoolBungalow {
    .wall {
        fill: #76b0c4;
    }

    .ramp {
        fill: #c6c7a7;
    }

    .door {
        fill: #929c44;
    }

    .trim {
        fill: #ab944d;
    }

    .awning {
        fill: #e3eb94;
    }

    .window {
        fill: #87edff;
    }

    .windowDisplayLine {
        stroke: #4884b8;
    }

    .roof {
        fill: #ba8e49;
    }
}

.playgroundSlide {
    .rung {
        fill: #699;
    }

    .bar {
        fill: #663;
    }

    .frameSide {
        fill: #336;
    }

    .slide {
        fill: #69c;
    }

    .frameFront {
        fill: #66c;
    }
}

.nurseDoor {
    .cross {
        fill: #b85642;
    }
}

.estherSpeech {
    .bubble {
        fill: #9eafae;
    }
}

.playgroundBall {
    .ball {
        fill: #915e83;
    }
}

.safewayBag {
    .bagFront {
        fill: #b3977b;
    }

    .bagSideMedium {
        fill: #8f7862;
    }

    .bagSideDark {
        fill: #967f67;
    }

    .bagSideLight {
        fill: #9e866d;
    }

    .bagFlapBelow {
        fill: #a88e74;
    }

    .bagFlapAbove {
        fill: #bfa183;
    }
}