.nohoSchoolBackdrop {
    .mountain {
        fill: #ad91b7;
    }

    .foliage {
        fill: #506d4d;
    }

    .palmTrunk {
        fill: #564a3b;
    }

    .palmFrond {
        fill: #5c7f61;
    }

    .building {
        fill: #677b8c;
    }

    .trunk {
        fill: #5b5040;
    }

    .leavesBack {
        fill: #547258;
    }

    .leavesFront {
        fill: #639369;
    }

    .wall {
        fill: #a08975;
    }

    .ledge {
        fill: #c6baa8;
    }

    .brickDark {
        fill: #895540;
    }

    .brickLight {
        fill: #99865b;
    }

    .bush {
        fill: #54775a;
    }
}

.playgroundSlide {
    .rung {
        fill: #699;
    }

    .bar {
        fill: #663;
    }

    .frameSide {
        fill: #336;
    }

    .slide {
        fill: #69c;
    }

    .frameFront {
        fill: #66c;
    }
}