.PlaygroundSlide {
    .rung {
        fill: #699;
    }

    .bar {
        fill: #663;
    }

    .frameSide {
        fill: #336;
    }

    .slide {
        fill: #69c;
    }

    .frameFront {
        fill: #66c;
    }
}
