@import "./DotAnchorLogic";

.DotAnchor__selectable {

    .Anchor__selectable:hover
    & {
        animation: bounceHover $animationDuration__slow;
    }

    // "Root accessed letter Enter, child accessed letter Enter."
    .PaLEnter
    .CaLEnter
    &,
    .Anchor__selectable:active
    & {
        transform: scale(0.9);
    }
}

.DotAnchor__inAnnotation {
    bottom: -$length__iconSmall * 0.1;
    width: $length__iconSmall;
    height: $length__iconSmall;
}

.DotAnchor__inStanza {
    bottom: -$length__iconSmaller * 0.1;
    width: $length__iconSmaller;
    height: $length__iconSmaller;
}
