.acousticGuitar__shared {
    .guitarDark { fill: #827759; }
    .guitarLight { fill: #9e9e8f; }
    .guitarNeck { fill: #73735c; }
    .guitarFretboard { fill: #87876c; }
    .guitarHeadstock { fill: #695d46; }
    .soundHole { fill: #343636; }
}