/* assume 96 pixels per inch */

/* colours */
@black: #000;
@background-colour: @black;

/**
 * media query variables
 *
 * make sure that these variables are consistent with App component
 */
@tablets: ~"all and (min-width:421px) and (max-width:1200px)";
@desktops: ~"all and (min-width:1201px)";

/* WIDTHS */

    /* universal widths */
    @wrapper-max-width: 1600px;
    @lyrics-column-width: 27%;

    /* mobile widths */
    @mobile-title-bar-width: 100%;
    @mobile-synopsis-bar-width: 100%;
    @mobile-audio-player-width: 100%;
    @mobile-annotation-legend-width: 100%;
    @mobile-sticky-nav-wrapper-width: 100%;

    /* desktop widths */
    @title-bar-width: 67%;
    @synopsis-bar-width: 100% - @title-bar-width;
    @audio-player-width: 60%;
    @annotation-legend-width: 100% - @audio-player-width;
    @sticky-nav-wrapper-width: 80%;

/* HEIGHTS */

    /* universal heights */
    @now-playing-bar-height: 50px;
    @footer-height: 48px;

    /* mobile heights */
    @mobile-base-height: 192px;
    @mobile-title-bar-height: @mobile-base-height;
    @mobile-synopsis-bar-height: @mobile-base-height;
    @mobile-audio-player-height: @mobile-base-height;
    @mobile-annotation-legend-height: @mobile-base-height;

    @mobile-scrolling-nav-height: @mobile-title-bar-height + @mobile-synopsis-bar-height + @mobile-annotation-legend-height;
    @mobile-sticky-nav-height: @now-playing-bar-height + @mobile-audio-player-height;

    // FIXME: Might not need? Keeping for now, since it's used to get wrapper height;
    // Same deal for other devices
    @mobile-top-nav-height: @mobile-scrolling-nav-height + @mobile-sticky-nav-height;

    @mobile-page-height: 2000px;
    @mobile-wrapper-height: @mobile-top-nav-height + @mobile-page-height + @footer-height;

    /* desktop heights */
    @base-height: 192px;
    @title-bar-height: @base-height;
    @synopsis-bar-height: @base-height;
    @audio-player-height: @base-height;
    @annotation-legend-height: @base-height;

    @scrolling-nav-height: @base-height;
    @sticky-nav-height: @now-playing-bar-height + @base-height;

    @top-nav-height: @scrolling-nav-height + @sticky-nav-height;

    @page-height: 2000px;
    @wrapper-height: @top-nav-height + @page-height + @footer-height;

/* Z-INDICES */
    @page-z-index: 1;
    @nav-z-index: @page-z-index + 1;
    @lyrics-z-index: @nav-z-index + 1;
    @audio-button-z-index: @lyrics-z-index + 1;
    @expanded-popup-z-index: @audio-button-z-index + 1;

/* mixins */
.sticky-mixin {
    position: absolute;
    width: 100%;

    &.stuck {
        position: fixed;
        top: 0;
        left: inherit;
        max-width: @wrapper-max-width;
        z-index: @nav-z-index;
    }

    .wrapper-width {
        height: 100%;
        margin: 0 auto;
    }
}
