// TODO: Stagger this.
.Face__path {
    transition: d 0.2s;
}

.Face__undercoat {
    fill: rgba(255, 255, 255, 0.75);
}

.Face__shade {
    // For now, we'll have a stroke on the shade face.

    // This allows the stroke width to stay constant.
    vector-effect: non-scaling-stroke;
    stroke-width: 1px;
    stroke: rgba(225, 225, 175, 0.5);
}

.Face__shade__ceilingTile {
    fill: rgba(25, 25, 25, 0.45);
}

.Face__shade__floorTile {

    // Default.
    fill: transparent;

    // Dynamic floor tile shading lives in CubeFacesStyle.
}

.Face__shade__side {

    .Cube__x5
    &,
    .Cube__x6
    & {
        fill: rgba(25, 25, 25, 0.1);
    }

    .Cube__x4
    &,
    .Cube__x7
    & {
        fill: rgba(25, 25, 25, 0.125);
    }

    .Cube__x3
    &,
    .Cube__x8
    & {
        fill: rgba(25, 25, 25, 0.15);
    }

    .Cube__x2
    &,
    .Cube__x9
    & {
        fill: rgba(25, 25, 25, 0.175);
    }

    .Cube__x1
    &,
    .Cube__xa
    & {
        fill: rgba(25, 25, 25, 0.2);
    }

    .Cube__x0
    &,
    .Cube__xb
    & {
        fill: rgba(25, 25, 25, 0.225);
    }
}

.Face__shade__front {

    .Cubes__y0__back
    & {
        fill: rgba(25, 25, 25, 0.2);
    }

    .Cubes__y1
    & {
        fill: rgba(25, 25, 25, 0.225);
    }

    .Cubes__y2
    & {
        fill: rgba(25, 25, 25, 0.25);
    }

    .Cubes__y3
    & {
        fill: rgba(25, 25, 25, 0.3);
    }

    .Cubes__y4
    & {
        fill: rgba(25, 25, 25, 0.35);
    }

    .Cubes__y5__front
    & {
        fill: rgba(25, 25, 25, 0.4);
    }
}
