.steelDarkest { fill: hsl(195, 8%, 37%); }
.steelDarker { fill: hsl(195, 8%, 42%); }
.steelDark { fill: hsl(195, 8%, 47%); }
.steelMediumDark { fill: hsl(195, 8%, 52%); }
.steelMedium { fill: hsl(195, 8%, 57%); }
.steelMediumLight { fill: hsl(195, 8%, 62%); }
.steelLight { fill: hsl(195, 8%, 67%); }
.steelLighter { fill: hsl(195, 8%, 72%); }

.darken__parent
.darken#{$suffix} {
    .steelDark { fill: hsl(195, 4%, 27%); }
    .steelMediumDark { fill: hsl(195, 4%, 31%); }
    .steelMedium { fill: hsl(195, 4%, 34%); }
    .steelMediumLight { fill: hsl(195, 4%, 37%); }
    .steelLight { fill: hsl(195, 4%, 39%); }
}