.steelDarkest { fill: hsl(195, 8%, 37%); }
.steelDarker { fill: hsl(195, 8%, 42%); }
.steelDark { fill: hsl(195, 8%, 47%); }
.steelMediumDark { fill: hsl(195, 8%, 52%); }
.steelMedium { fill: hsl(195, 8%, 57%); }
.steelMediumLight { fill: hsl(195, 8%, 62%); }
.steelLight { fill: hsl(195, 8%, 67%); }
.steelLighter { fill: hsl(195, 8%, 72%); }

.darkRoom .darkRoom#{$suffix} {
    .steelDark { fill: hsl(195, 4%, 27%); }
    .steelMediumDark { fill: hsl(195, 4%, 31%); }
    .steelMedium { fill: hsl(195, 4%, 34%); }
    .steelMediumLight { fill: hsl(195, 4%, 37%); }
    .steelLight { fill: hsl(195, 4%, 39%); }
}

.eveningTime .eveningTime#{$suffix} {
    .steelDarkest { fill: hsl(195, 6%, 32%); }
    .steelDarker { fill: hsl(195, 6%, 37%); }
    .steelDark { fill: hsl(195, 6%, 42%); }
    .steelMediumDark { fill: hsl(195, 6%, 47%); }
    .steelMedium { fill: hsl(195, 6%, 52%); }
}

.nightTime .nightTime#{$suffix} {
    .steelDarkest { fill: hsl(195, 6%, 27%); }
    .steelDark { fill: hsl(195, 6%, 37%); }
    .steelMediumDark { fill: hsl(195, 6%, 42%); }
    .steelMedium { fill: hsl(195, 6%, 47%); }
    .steelLight { fill: hsl(195, 6%, 57%); }
}