// Skews light.
.porcelainDarkest { fill: hsl(190, 28%, 57%); }
// .porcelainDarker { fill: hsl(190, 28%, 62%); }
.porcelainDark { fill: hsl(190, 28%, 67%); }
.porcelainMediumDark { fill: hsl(190, 28%, 72%); }
.porcelainMedium { fill: hsl(190, 28%, 77%); }
.porcelainMediumLight { fill: hsl(190, 28%, 82%); }
.porcelainLight { fill: hsl(190, 28%, 87%); }
// .porcelainLighter { fill: hsl(190, 28%, 92%); }
// .porcelainLightest { fill: hsl(190, 28%, 97%); }

.darkRoom .darkRoom#{$suffix} {
    .porcelainDarkest { fill: hsl(190, 11%, 34%); }
    .porcelainMediumLight { fill: hsl(190, 11%, 51%); }
    .porcelainLight { fill: hsl(190, 11%, 54%); }
}