@import "./Scene/style";

$colour__filmReel: hsl(0, 0%, 13%);

.Filmstrip {
    height: $jsx__height__menu
        - $height__albumBanner
        - $height__songBanner
        - $jsx__margin__thin;

    // Outer filmstrip borders.
    border-top: $length__filmPerf solid $colour__filmReel;
    border-bottom: $length__filmPerf solid $colour__filmReel;

    // Film perforations.
    background-image: linear-gradient(to right, $colour__filmReel 50%, transparent 50%);
    background-size: $length__filmPerf * 3;
    background-position: $length__filmPerf;

    // Inner cell borders.
    &:before {
        content: '';
        position: absolute;
        top: $length__filmPerf;
        left: 0;
        width: 100%;
        height: calc(100% - #{$length__filmPerf * 2});
        background-color: $colour__filmReel;
    }
}