.stage-floor-field, .stage-floor-wood {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stage-floor-wood {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: #884;
}

.test-floor-panel-pixel {
    position: absolute;
    width: 2px;
    height: 2px;

    transition: background-colour 0.2s, left 0.2s, bottom 0.2s;
}