.stage-scene-section {

    .stage-action-field {
        transition: opacity 0.2s;
    }

    &.render-unready {
        .stage-action-field {
            opacity: 0;
        }
    }

    &.render-ready {
        .stage-action-field {
            opacity: 1;
        }
    }
}