.stage-tiles-field, .stage-tiles-wood {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}

.stage-ceiling-field, .stage-ceiling-wood {
    top: 0;
}

.stage-floor-field, .stage-floor-wood {
    bottom: 0;
}

.stage-ceiling-wood {
    // Arbitrary value, for now.
    height: 24%;
    background-color: #bbb;
}

.stage-floor-wood {
    // Arbitrary value, for now.
    background-color: #aaa;
    height: 24%;
}

.test-tile-corner-pixel {
    position: absolute;
    width: 2px;
    height: 2px;

    transition: background-colour 0.2s, left 0.2s, bottom 0.2s;
}