.stage-sky-field {

    &, .filter {
        width: 100%;
        height: 100%;
    }

    .filter {
        position: absolute;
        top: 0;
        left: 0;
    }

    .season-filter {
        &.none {
            background-color: #88b;
        }

        &.spring {
            background-color: #88b;            
        }

        &.summer {
            background-color: #88b;            
        }

        &.autumn {
            background-color: #88b;            
        }

        &.winter {
            background-color: #88b;            
        }
    }

    .time-filter {
        &.none {
            background-color: rgba(100, 100, 50, 0.2);
        }

        &.morning {
            background-color: rgba(100, 100, 50, 0.2);            
        }

        &.noon {
            background-color: rgba(100, 100, 50, 0.2);            
        }

        &.afternoon {
            background-color: rgba(100, 100, 50, 0.2);            
        }

        &.evening {
            background-color: rgba(100, 100, 50, 0.2);            
        }

        &.night {
            background-color: rgba(100, 100, 50, 0.2);            
        }
    }
}