.stage-cube-face {
    stroke: #bbb;

    &.tile {
        fill: rgba(0, 200, 0, 0.5);
    }

    &.front {
        fill: rgba(0, 0, 200, 0.5);
    }
    
    &.side {
        fill: rgba(200, 0, 0, 0.5);
    }
}