// Desired ratio is 1.1 for now.

@aspect-ratio-width: 2.75;
@aspect-ratio-height: 2.5;
@aspect-ratio: @aspect-ratio-height / @aspect-ratio-width * 100%;

.stage-section, .aspect-ratio-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stage-section {
    position: absolute;
}

.aspect-ratio-container {
    position: absolute;

    // Layout set through JavaScript.

    // TODO: This won't be needed after border is no longer needed.
    box-sizing: border-box;

    background-color: #8be;
    border: 1px solid green;
}

.phone-width {
    .stage-section {
        // Accommodate slider in main.
        top: @menu-height;
    }
}
