.bennettOdinShared {
    .hair { fill: #2b2b2b; }
    .skin { fill: #e8bc8d; }
    .sleeves { fill: #f44; }
    .shirt { fill: #e6e6e6; }
    .jeans { fill: #44f; }
    .shoe { fill: #736357; }
    .soleSide { fill: #c7b299; }
    .soleBottom { fill: #998675; }
    .fur { fill: #f7931e; }
}
