.amy#{$suffix} {
    .amyEarring { fill: hsl(229, 61%, 69%); }
    .amyChoker { fill: hsl(229, 22%, 56%); }
    .amyShirt { fill: hsl(270, 41%, 76%); }
    .amyShirtTrim { fill: hsl(0, 41%, 63%); }
    .nirvanaFace { fill: hsl(50, 51%, 72%); }
    .amySkirt { fill: hsl(189, 24%, 52%); }
    .amyHose { fill: hsl(33, 40%, 59%); }
    .amyBootLining { fill: hsl(15, 29%, 54%); }
    .amyBoot { fill: hsl(15, 39%, 61%); }

    &.protester {
        .bikini { fill: hsl(114, 39%, 62%); }
        .bikiniStrapDark { fill: hsl(113, 24%, 49%); }
        .bikiniStrap { fill: hsl(114, 32%, 57%); }
        .heel { fill: hsl(139, 30%, 51%); }
        .shoe { fill: hsl(139, 38%, 56%); }
        .shoeStrap { fill: hsl(139, 43%, 60%); }

        .signHandle { fill: hsl(38, 22%, 62%); }
        .signDisplayLine { stroke: hsl(153, 42%, 35%); }
        .platterDark { fill: hsl(32, 34%, 58%); }
        .platterMedium { fill: hsl(33, 42%, 62%); }
        .platterLight { fill: hsl(33, 50%, 66%); }
        .cupYellow { fill: hsl(52, 33%, 67%); }
        .cupGreen { fill: hsl(121, 33%, 67%); }
        .cupBlue { fill: hsl(178, 33%, 67%); }
        .vanilla { fill: hsl(47, 19%, 80%); }
        .strawberry { fill: hsl(16, 37%, 70%); }
        .chocolate { fill: hsl(30, 15%, 55%); }
    }

    &.doctor {
        .collar { fill: hsl(150, 11%, 82%); }
        .jacket { fill: hsl(150, 9%, 78%); }
        .pants { fill: hsl(150, 39%, 67%); }
        .shoe { fill: hsl(78, 8%, 44%); }
    }

    &.officer {
        .helmetTop { fill: hsl(193, 46%, 82%); }
        .helmetTrim { fill: hsl(210, 49%, 44%); }
        .helmetVisorTop { fill: hsl(50, 4%, 32%); }
        .helmetVisorBottom { fill: hsl(48, 4%, 24%); }
        .helmetFoam { fill: hsl(210, 49%, 37%); }
        .helmetStrap { fill: hsl(51, 3%, 41%); }
        .glassesLens { fill: hsl(351, 5%, 52%); }
        .glassesFrame { fill: hsl(67, 23%, 57%); }

        .jacketTrim { fill: hsl(216, 24%, 41%); }
        .jacket { fill: hsl(217, 24%, 46%); }
        .pants { fill: hsl(216, 25%, 38%); }
        .boot { fill: hsl(219, 8%, 46%); }
        .bootStrap { fill: hsl(219, 9%, 38%); }

        .horseHair { fill: hsl(31, 22%, 31%); }
        .horseHead { fill: hsl(32, 22%, 50%); }
        .horseBody { fill: hsl(33, 14%, 55%); }
        .strapDark { fill: hsl(294, 6%, 32%); }
        .strapLight { fill: hsl(295, 6%, 39%); }
        .saddle { fill: hsl(90, 5%, 29%); }

        .metalDark { fill: hsl(199, 12%, 36%); }
        .metalMedium { fill: hsl(199, 12%, 40%); }
        .metalLight { fill: hsl(198, 12%, 44%); }
        .metalLightest { fill: hsl(198, 12%, 48%); }
        .leatherDark { fill: hsl(75, 5%, 31%); }
        .leatherLight { fill: hsl(73, 5%, 36%); }
        .lightYellow { fill: hsl(74, 27%, 44%); }
        .lightGreen { fill: hsl(148, 27%, 39%); }
        .lightRed { fill: hsl(0, 27%, 39%); }
        .rubber { fill: hsl(70, 4%, 33%); }
    }

    &.smoker {
        .jacketTop { fill: hsl(44, 55%, 62%); }
        .jacketBottom { fill: hsl(30, 55%, 62%); }
        .jeans { fill: hsl(224, 20%, 51%); }
        .bootStrap { fill: hsl(178, 20%, 52%); }
        .boot { fill: hsl(178, 28%, 60%); }

        .bagLining { fill: hsl(11, 8%, 50%); }
        .bag { fill: hsl(12, 22%, 53%); }
        .bagStrap { fill: hsl(28, 26%, 57%); }
    }
}