.buddhaShrine#{$suffix} {
    .base { fill: #9e005d; }
    .hair { fill: #1a1a1a; }
    .robe { fill: #c1272d; }
    .skin { fill: #c69c6d; }
    .flange { fill: #ee0; }
    .faceDisplayLine { stroke: #543; }
}
