.mother#{$suffix} {
    .motherShirt { fill: hsl(26, 39%, 61%); }
    .motherShirtCollar { fill: hsl(26, 34%, 65%); }
    .motherShortsInner { fill: hsl(205, 32%, 49%); }
    .motherShorts { fill: hsl(205, 32%, 59%); }
    .motherShortsCuff { fill: hsl(204, 38%, 65%); }
    .motherSole { fill: hsl(230, 22%, 58%); }
    .motherSandal { fill: hsl(231, 16%, 48%); }
    .motherSandalStrap { fill: hsl(231, 29%, 59%); }

    &.stooping {
        .frameDark { fill: hsl(41, 13%, 43%); }
        .frameLight { fill: hsl(41, 13%, 48%); }
        .woodDark { fill: hsl(39, 18%, 58%); }
        .woodLight { fill: hsl(40, 22%, 64%); }
    }
}