// @padding__dotsToggle: 24px;

.DotsToggle {
    // padding: @padding__dotsToggle 0;

    // Ensure toggle button is above its popup container and the carousel.
    z-index: @zIndex__centreFieldChild;

    transition: margin @animationDuration__default;

    ._overviewShown_
    & {
        margin-left: -@width__overviewToggle;
    }
}
