@import "./DotsToggle.less";

.Dots {
    padding: 10px;

    // TODO: Maybe consolidate all the text shadows that use this colour.
    .text-shadow-mixin(@odd-verse-colour);

    // Dots section and dot stanzas.
    .dot .icon-canvas {
        transition: background-color @animation-fast;
    }
}

.Dots, .portals-block {
    .dot .icon-canvas {
        border: @dot-border solid @dot-border-colour;
    }
}
