@DotsToggle-padding: 24px;

.DotsToggle-button-container {
    position: relative;

    padding: @DotsToggle-padding 0;
}

.DotsToggle-button-block {
    width: 100%;
    display: flex;
    margin-left: 0;
    box-sizing: border-box;

    // Ensure toggle button is above its popup container and the carousel.
    z-index: @zIndex__centreFieldChild;

    padding-left: @margin__thin;
    align-items: center;

    transition: margin @animationDuration__default;

    ._overviewShown_
    & {
        margin-left: -@OverviewToggle-width;
    }
}
