@dot-toggle-container-diameter: 64px;
@dot-toggle-container-padding: @dot-toggle-container-diameter / 6;

@dot-toggle-container-phone-diameter: @length__iconLarge * 0.95;
@dot-toggle-container-phone-padding: @length__iconLarge / 7;

.DotsToggle-block {
    flex-direction: column;

    .dot {
        &, & .icon-canvas {
            width: @dot-toggle-container-diameter;
            height: @dot-toggle-container-diameter;
        }
    }

    ._phone_
    & { 
        .dot {
            &, & .icon-canvas {
                width: @dot-toggle-container-phone-diameter;
                height: @dot-toggle-container-phone-diameter;
            }
        }
    }
}

.dot-toggle-container {
    display: flex;
    flex-direction: column-reverse;
    padding: @dot-toggle-container-padding;
    
    .DotAnchor {

        &:hover {
            .icon-canvas {
                animation: bounceHover @animationDuration__default;
            }
        }

        &:active {
            .icon-canvas {
                transform: scale(0.9);
            }
        }
    }

    .dot {
        &.deselected {
            .icon-canvas {
                background-color: @colour__dot__deselected;
            }
        }
    }

    ._phone_
    & {
        padding: @dot-toggle-container-phone-padding;
    }
}

.DotsToggle-row {
    display: flex;
}