.ButtonIcon__tips {
    .mountDark { fill: hsl(197, 50%, 60%); }
    .mountLight { fill: hsl(197, 70%, 67%); }
    .groove { fill: hsl(197, 34%, 30%); }
    .switch { fill: hsl(198, 38%, 52%); }
    .contact { fill: hsl(205, 8%, 45%); }
    .screw { fill: hsl(203, 14%, 63%); }
    .bulbOff { fill: hsla(240, 100%, 94%, 0.7); }
    .bulbOn { fill: hsl(60, 100%, 90%); }
}