$suffix: __shared;

$hue__past: 36;
$hue__present: 156;
$hue__future: 276;

$HUE_APARTMENT: 330;
$HUE_BENNETT: 16;
$HUE_FAMILY: 60;
$HUE_LIZ: 182;
$HUE_ROOF: 7;
$HUE_OCEAN: 204;
$HUE_SAND: 60;

@import "../sky/style";
@import "./actors/style";
@import "./shared/style";
@import "./things/style";