// Skews light.
.glassDarkest { fill: hsl(175, 27%, 57%); }
// .glassDarker { fill: hsl(175, 28%, 62%); }
// .glassDark { fill: hsl(175, 29%, 67%); }
// .glassMediumDark { fill: hsl(175, 30%, 72%); }
.glassMedium { fill: hsl(175, 31%, 77%); }
// .glassMediumLight { fill: hsl(175, 32%, 82%); }
.glassLight { fill: hsl(175, 33%, 87%); }