// Skews light.
// .glassDarkest { fill: hsl(175, 33%, 57%); }
// .glassDarker { fill: hsl(175, 33%, 62%); }
// .glassDark { fill: hsl(175, 33%, 67%); }
// .glassMediumDark { fill: hsl(175, 33%, 72%); }
.glassMedium { fill: hsl(175, 33%, 77%); }
// .glassMediumLight { fill: hsl(175, 33%, 82%); }
.glassLight { fill: hsl(175, 33%, 87%); }