// This value *must* be the same in js.
@CarouselAnnotation-min-width: @width__annotationCard +
                                @AnnotationCard-padding * 2 +
                                @CarouselAnnotation-padding * 2 +
                                @Annotation-padding * 2;

@CarouselAnnotation-mini-min-width: @width__annotationCard__mini +
                                     @AnnotationCard-padding * 2 +
                                     @CarouselAnnotation-padding * 2 +
                                     @Annotation-padding * 2;

.in-carousel-width {
    /**
     * Needed in carousel for proper layout.
     */
    width: @width__annotationCard + @AnnotationCard-padding * 2;

    ._mini_
    & {
        width: @width__annotationCard__mini +
        @AnnotationCard-padding * 2;   
    }
}

// FIXME: There should be a better way to handle carousel sizing and layout. Afterwards, the in-carousel-width class might no longer be necessary.
.cards-block {
    
    ._desktop_
    .Carousel
    & {
        margin-bottom: @CarouselAnnotation-padding;
    }
}
.annotation-title-block {

    ._mobile_
    .Carousel
    & {
        margin-top: @CarouselAnnotation-padding;
    }
}

.AnnotationCard {
    position: relative;

    min-height: 0;
    max-height: 0;
    padding: 0 @AnnotationCard-padding;
    opacity: 0;

    transition: min-height @animationDuration__default,
                max-height @animationDuration__default,
                margin @animationDuration__default,
                padding @animationDuration__default,
                opacity @animationDuration__default,
                box-shadow @animationDuration__default;

    .text-shadow-mixin(@AnnotationCard-colour);

    // Select for annotation card dots, not portal dots.
    > .dots-block {
        position: absolute;
        height: @length__annotationDot;
    }

    .overrideAnimate
    & {
        transition: none;
    }
}

.DomManager.narrative .CarouselAnnotation.narrative,
.DomManager.backstory .CarouselAnnotation.backstory,
.DomManager.observation .CarouselAnnotation.observation,
.DomManager.pun .CarouselAnnotation.pun,
.DomManager.reference .CarouselAnnotation.reference,
.DomManager.songwriting .CarouselAnnotation.songwriting,
.DomManager.portal .CarouselAnnotation.portal,
.DomManager.afterword .CarouselAnnotation.afterword {

    min-width: @CarouselAnnotation-min-width;

    .annotation-title-block {
        max-height: 2em; // Arbitrary value that's larger than its max height.
        min-height: @length__iconSmall;
        padding: @Annotation-padding 0;
    }
}

.DomManager._mini_.narrative .CarouselAnnotation.narrative,
.DomManager._mini_.backstory .CarouselAnnotation.backstory,
.DomManager._mini_.observation .CarouselAnnotation.observation,
.DomManager._mini_.pun .CarouselAnnotation.pun,
.DomManager._mini_.reference .CarouselAnnotation.reference,
.DomManager._mini_.songwriting .CarouselAnnotation.songwriting,
.DomManager._mini_.portal .CarouselAnnotation.portal,
.DomManager._mini_.afterword .CarouselAnnotation.afterword {

    min-width: @CarouselAnnotation-mini-min-width;
}

.DomManager.narrative .AnnotationCard.narrative,
.DomManager.backstory .AnnotationCard.backstory,
.DomManager.observation .AnnotationCard.observation,
.DomManager.pun .AnnotationCard.pun,
.DomManager.reference .AnnotationCard.reference,
.DomManager.songwriting .AnnotationCard.songwriting,
.DomManager.portal .AnnotationCard.portal,
.DomManager.afterword .AnnotationCard.afterword {

    min-height: @length__annotationDot;
    max-height: 500px; // Arbitrary large number.
    padding: @AnnotationCard-padding;
    opacity: 1;
    box-shadow: @AnnotationCard-box-shadow;

    &:not(:last-child) {
        margin-bottom: @Annotation-padding;
    }
}

// Override if in carousel and hidden by single lyric column.
.CarouselAnnotation {

    ._rightLyricColumnOnly_
    &.in-column-left,
    ._leftLyricColumnOnly_
    &.in-column-right {
        opacity: 0;
    
        .AnnotationCard {
            margin: auto;
            opacity: 0;
            box-shadow: none;
        }
    }
}
