// TODO: Move default logic here as well.

.RsDn .CaCn,
.RsDb .CaCb,
.RsDo .CaCo,
.RsDp .CaCp,
.RsDr .CaCr,
.RsDs .CaCs,
.RsDw .CaCw,
.RsDa .CaCa,
.AnnotationCard__inPopup {
    max-height: 500px; // Arbitrary large number.

    margin-top: $padding__annotationCard;

    opacity: 1;
    box-shadow: $boxShadow__annotationCard;
}
