@backgroundColour__selectedAnnotationTitle: @colour__verse__odd;

.AnnotationTitle {

    /** .Carousel. */

    .Carousel
    & {
        text-align: center;

        transition: max-height @animationDuration__default,
                    padding @animationDuration__default;
        overflow: hidden;
        max-height: 0;

        // FIXME: Make text shadow transparent?
        // .text-shadow-mixin(transparent);
    }

    ._mobile_
    .Carousel
    & {
        margin-top: @paddingX__carouselAnnotation;
    }

    .Carousel.overrideAnimate
    & {
        transition: none;
    }

    /** Popup. */

    .PopupView__content
    & {
        padding: @padding__annotation 0;
    }

    /**
     * Not using mixin here so that text shadow applies only to annotation
     * title and not to annotation card.
     */
    .Annotation__selected
    & {

        background-color: @backgroundColour__selectedAnnotationTitle;

        .TextAnchorBlock {
            text-shadow:
            -@textShadow__offset -@textShadow__offset @textShadow__blur @backgroundColour__selectedAnnotationTitle,
            @textShadow__offset -@textShadow__offset @textShadow__blur @backgroundColour__selectedAnnotationTitle,
            -@textShadow__offset @textShadow__offset @textShadow__blur @backgroundColour__selectedAnnotationTitle,
            @textShadow__offset @textShadow__offset @textShadow__blur @backgroundColour__selectedAnnotationTitle;
        }
    }
}

.AnnotationTitle {
    text-align: center;
    font-size: @mini-title-size;
}
