@import "./AnnotationCard.less";
@import "./AnnotationPortal.less";

@selected-annotation-title-background-colour: @odd-verse-colour;

.annotation-title-block {

    /** Carousel. */

    .carousel
    & {
        text-align: center;

        transition: max-height @animation-default,
                    padding @animation-default;
        overflow: hidden;
        max-height: 0;

        // FIXME: Make text shadow transparent?
        // .text-shadow-mixin(transparent);
    }

    .carousel.override-animate
    & {
        transition: none;
    }

    /** Popup. */

    .popup-content-wrapper
    & {
        padding: @Annotation-padding 0;
    }

    /**
     * Not using mixin here so that text shadow applies only to annotation
     * title and not to annotation card.
     */
    .selected-annotation
    & {

        background-color: @selected-annotation-title-background-colour;

        .text-anchor-block {
            text-shadow:
            -@text-shadow-offset -@text-shadow-offset @text-shadow-blur @selected-annotation-title-background-colour,
            @text-shadow-offset -@text-shadow-offset @text-shadow-blur @selected-annotation-title-background-colour,
            -@text-shadow-offset @text-shadow-offset @text-shadow-blur @selected-annotation-title-background-colour,
            @text-shadow-offset @text-shadow-offset @text-shadow-blur @selected-annotation-title-background-colour;
        }
    }
}

.annotation-title {
    text-align: center;
    font-size: @mini-title-size;
}
