@import "./AnnotationCard.less";
@import "./AnnotationPortal.less";
@import "./AnnotationTitle.less";

.Annotation {
    display: flex;
    flex-direction: column;

    transition:
        background-color @animationDuration__default;
}

.Annotation__selectedInCarousel {
    background-color: rgba(250, 250, 225, 0.5);
}