// For annotations, only raise z-index if overlaid.
.annotation-shown.overlaid-annotation {
    .popup-transition-group {
        &.annotation {
            z-index: @PopupOverlay-content-z-index;
        }
    }
}

.annotation.popup-wrapper {

    .side-annotation
    & {
        position: absolute;
        top: 0;
        right: 0;

        margin-top: 20px;
        margin-right: 15px;
    }

    .is-mobile.side-annotation
    & {
        top: auto;
        bottom: 0;
        margin-top: auto;

        // Wider margin bottom to make room for lyrics at bottom.
        margin-bottom: 25px;
    }

    .is-mobile.side-annotation.heightless-lyric
    & {
        // Even wider margin bottom if no lyrics at bottom.
        margin-bottom: @app-large-icon-diameter;
    }
}