.AnnotationTitle {
    text-align: center;

    // Unlike lyric title, annotation title maxes out at mini font size.
    &.fontSize__title {
        font-size: $fontSize__title__mini;
    }
}

.AnnotationHeaderAnimatable {
    // For access icons.
    position: relative;

    /**
     * In carousel, annotation titles are given a height so that the top cards
     * are aligned.
     */
    display: flex;
    flex-direction: column-reverse;

    height: 0;
    opacity: 0;

    .parentIsShown
    & {
        transition:
        height $animationDuration__default,
        opacity $animationDuration__default;
    }
}