.AnnotationPortal {
    display: flex;
    padding: 10px;
    margin: 5px;
    box-shadow: @AnnotationPortal-box-shadow;
    background-color: @bgColour__annotationPortal;
}

// Accommodate foreign characters in Didi and Kyon.
.portal-song-title {
    margin-bottom: 0.25em;
    font-size: 1em;
    color: @lyric-text-invert-colour;

    strong {
        color: @lyric-text-colour;
    }
}

.portal-verse-text {

    // TODO: Doesn't have text outline.

    text-indent: -@width__hangingIndent;
    padding-left: @width__hangingIndent;

    font-size: 0.9em;

    .TextSpan {
        color: @lyric-text-invert-colour;
    }

    .portal-anchor {
        .TextSpan {
            color: @lyric-text-colour;
        }
    }
}

.text-portal-column {

    padding-left: 10px;
}