// This value *must* be the same in js.
@carousel-annotation-min-width: @annotation-card-width +
                                @annotation-card-padding * 2 +
                                @carousel-annotation-padding * 2 +
                                @annotation-section-padding * 2;

@carousel-annotation-mini-min-width: @annotation-card-mini-width +
                                     @annotation-card-padding * 2 +
                                     @carousel-annotation-padding * 2 +
                                     @annotation-section-padding * 2;

.in-carousel-width {
    /**
     * Needed in carousel for proper layout.
     */
    width: @annotation-card-width + @annotation-card-padding * 2;

    .mini-width
    & {
        width: @annotation-card-mini-width +
        @annotation-card-padding * 2;   
    }
}

// FIXME: There should be a better way to handle carousel sizing and layout. Afterwards, the in-carousel-width class might no longer be necessary.
.cards-block {
    
    .is-desktop
    .carousel
    & {
        margin-bottom: @carousel-annotation-padding;
    }
}
.annotation-title-block {

    .is-mobile
    .carousel
    & {
        margin-top: @carousel-annotation-padding;
    }
}

.annotation-card {
    position: relative;

    min-height: 0;
    max-height: 0;
    padding: 0 @annotation-card-padding;
    opacity: 0;

    transition: min-height @animation-default,
                max-height @animation-default,
                margin @animation-default,
                padding @animation-default,
                opacity @animation-default,
                box-shadow @animation-default;

    .text-shadow-mixin(@annotation-card-colour);

    // Select for annotation card dots, not portal dots.
    > .dots-block {
        position: absolute;
        height: @annotation-dot-diameter;
    }

    .override-animate
    & {
        transition: none;
    }
}

.domManager.narrative .carousel-annotation.narrative,
.domManager.backstory .carousel-annotation.backstory,
.domManager.observation .carousel-annotation.observation,
.domManager.pun .carousel-annotation.pun,
.domManager.reference .carousel-annotation.reference,
.domManager.songwriting .carousel-annotation.songwriting,
.domManager.portal .carousel-annotation.portal,
.domManager.afterword .carousel-annotation.afterword {

    min-width: @carousel-annotation-min-width;

    .annotation-title-block {
        max-height: 2em; // Arbitrary value that's larger than its max height.
        min-height: @app-small-icon-diameter;
        padding: @annotation-section-padding 0;
    }
}

.domManager.mini-width.narrative .carousel-annotation.narrative,
.domManager.mini-width.backstory .carousel-annotation.backstory,
.domManager.mini-width.observation .carousel-annotation.observation,
.domManager.mini-width.pun .carousel-annotation.pun,
.domManager.mini-width.reference .carousel-annotation.reference,
.domManager.mini-width.songwriting .carousel-annotation.songwriting,
.domManager.mini-width.portal .carousel-annotation.portal,
.domManager.mini-width.afterword .carousel-annotation.afterword {

    min-width: @carousel-annotation-mini-min-width;
}

.domManager.narrative .annotation-card.narrative,
.domManager.backstory .annotation-card.backstory,
.domManager.observation .annotation-card.observation,
.domManager.pun .annotation-card.pun,
.domManager.reference .annotation-card.reference,
.domManager.songwriting .annotation-card.songwriting,
.domManager.portal .annotation-card.portal,
.domManager.afterword .annotation-card.afterword {

    min-height: @annotation-dot-diameter;
    max-height: 500px; // Arbitrary large number.
    padding: @annotation-card-padding;
    opacity: 1;
    box-shadow: @annotation-card-box-shadow;

    &:not(:last-child) {
        margin-bottom: @annotation-section-padding;
    }
}

// Override if in carousel and hidden by single lyric column.
.carousel-annotation {

    .show-only-right
    &.in-column-left,
    .show-only-left
    &.in-column-right {
        opacity: 0;
    
        .annotation-card {
            margin: auto;
            opacity: 0;
            box-shadow: none;
        }
    }
}
