@import "./AnnotationCard.less";
@import "./AnnotationPortal.less";

@selected-annotation-title-background-colour: @odd-verse-colour;

.annotation-title-block {

    /** .Carousel. */

    .Carousel
    & {
        text-align: center;

        transition: max-height @animationDuration__default,
                    padding @animationDuration__default;
        overflow: hidden;
        max-height: 0;

        // FIXME: Make text shadow transparent?
        // .text-shadow-mixin(transparent);
    }

    .Carousel.overrideAnimate
    & {
        transition: none;
    }

    /** Popup. */

    .popup-content-wrapper
    & {
        padding: @Annotation-padding 0;
    }

    /**
     * Not using mixin here so that text shadow applies only to annotation
     * title and not to annotation card.
     */
    .selected-annotation
    & {

        background-color: @selected-annotation-title-background-colour;

        .TextAnchorBlock {
            text-shadow:
            -@textShadow__offset -@textShadow__offset @textShadow__blur @selected-annotation-title-background-colour,
            @textShadow__offset -@textShadow__offset @textShadow__blur @selected-annotation-title-background-colour,
            -@textShadow__offset @textShadow__offset @textShadow__blur @selected-annotation-title-background-colour,
            @textShadow__offset @textShadow__offset @textShadow__blur @selected-annotation-title-background-colour;
        }
    }
}

.annotation-title {
    text-align: center;
    font-size: @mini-title-size;
}
