.AnnotationPortal {
    display: flex;
    padding: 10px;

    box-shadow: $boxShadow__annotationPortal;
    background-color: $bgColour__annotationPortal;
}

.AnnotationPortal__text {
    padding-left: 10px;
}

// Accommodate foreign characters in Didi and Kyon.
.AnnotationPortal__title {
    margin-bottom: 0.25em;
    font-size: 1em;
    color: $colour__annotationPortal__title;

    strong {
        color: $colour__text__dark;
    }
}

.AnnotationPortal__verse {
    text-indent: -$width__hangingIndent;
    padding-left: $width__hangingIndent;
    font-size: 0.9em;

    color: $colour__annotationPortal__title;
}

.textSpan__portalInPortal {
    color: $colour__selected__dark;
}
