@import "./Card/AnnotationCard";
@import "./Wormhole/AnnotationWormhole";

@import "./Header/AnnotationHeader";

.Annotation {
    position: relative;

    display: flex;
    flex-direction: column;

    padding: $js__padding__popupContent__wide;
    border-radius: $borderRadius__wide;
}

.bgColour__annotation {
    background-color: #bdb;

    transition:
        background-color $animationDuration__default;
}

.bgColour__annotation__selected {
    background-color: #ffd;
}

// TODO:
// https://css-tricks.com/almanac/properties/b/box-shadow/
