@import "./Card/style";
@import "./Header/style";
@import "./Title/style";

.Annotation {
    position: relative;

    display: flex;
    flex-direction: column;

    padding: $js__padding__popupContent__wide;
}

.Annotation__cardField {
    border-radius: $borderRadius__narrow;
}

.boxShadow__annotation {
    box-shadow: $boxShadow__annotation;
}

.boxShadow__annotation__selected {
    box-shadow: $boxShadow__annotation__selected;
}

.bgColour__annotation {
    background-color: #bdb;

    transition:
        background-color $animationDuration__default;
}

.bgColour__annotation__selected {
    background-color: #ffd;
}

.bgColour__annotation__pattern {
    $degrees: 60deg;
    $lightShade: rgba(255, 255, 255, 0.125);
    $darkShade: rgba(0, 0, 0, 0.033);
    $height: 32px;
    $width: $height * 0.5773; // Square root of 3 for 30, 60, 90 triangle.

    background-image:
    repeating-linear-gradient(
        180 - $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent $height / 2
    ),
    repeating-linear-gradient(
        $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent $height / 2
    ),
    linear-gradient(
        $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    ),
    linear-gradient(
        180 - $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    );
    background-size: $width $height;
}
