.lizPhone#{$suffix} {
    .antennaMedium { fill: hsl(210, 33%, 62%); }
    .antennaLight { fill: hsl(210, 33%, 67%); }
    .phoneDark { fill: hsl(188, 43%, 62%); }
    .phoneMedium { fill: hsl(188, 43%, 67%); }
    .phoneLight { fill: hsl(188, 43%, 72%); }
    .buttonSmall { fill: hsl(126, 33%, 57%); }
    .buttonLarge { fill: hsl(210, 33%, 57%); }

    .darkenDefault &.darken#{$suffix} {
        .antennaMedium { fill: hsl(210, 17%, 36%); }
        .antennaLight { fill: hsl(210, 17%, 39%); }
        .phoneDark { fill: hsl(188, 22%, 36%); }
        .phoneMedium { fill: hsl(188, 22%, 39%); }
        .phoneLight { fill: hsl(188, 22%, 41%); }
        .buttonSmall { fill: hsl(126, 17%, 34%); }
        .buttonLarge { fill: hsl(210, 17%, 34%); }
    }
}