.guitarCase__shared {
    .guitarHandle { fill: #4a5359; }
    .guitarLiningLight { fill: #7a574b; }
    .guitarLiningDark { fill: #66493f; }
    .guitarBrassLight { fill: #788a80; }
    .guitarCaseDark { fill: #4e5959; }
    .guitarLeatherDark { fill: #484f52; }
    .guitarBrassDark { fill: #56635d; }
    .guitarBrassMedium { fill: #6a7a72; }
    .guitarCaseLight { fill: #596666; }
    .guitarLeatherLight { fill: #535b5e; }
}