.SequenceDot {
    width: 0;
    height: 0;
    opacity: 0;

    // Increase width first, then fade in.
    transition:
        width $animationDuration__default,
        opacity $animationDuration__default $animationDuration__fast;
}

.SequenceDot__annotationCard {
    height: $length__annotationDot;
}

.SequenceDot__textAnchor {
    height: $length__lyricAnchorDot;

    // TODO: Eventually put this in Anchor styling?
    .Anchor__selectable:hover
    & {
        animation: bounceHover $animationDuration__slow;
    }

    // "Root accessed letter Enter, child accessed letter Enter."
    .PaLEnter
    .CaLEnter
    &,
    .Anchor__selectable:active
    & {
        transform: scale(0.9);
    }
}
