.SequenceDot {
    width: 0;
    height: 0;
    opacity: 0;

    // Increase width first, then fade in.
    .DW__userAgentDesktop
    & {
        transition:
            width $animationDuration__default,
            opacity $animationDuration__default $animationDuration__fast;
    }
}

.SequenceDot__annotationCard {
    height: $length__annotationDot;
}

.SequenceDot__textAnchor {
    height: $length__lyricSequenceDot;

    .Anchor__accessed
    &,
    .Anchor__selectable:hover
    & {
        animation: bounceHover $animationDuration__slow;
    }

    // "Root accessed letter Enter."
    .PaLEnter
    .Anchor__accessed
    &,
    .Anchor__selectable:active
    & {
        transform: scale(0.9);
    }
}
