.anita#{$suffix} {
    .anitaBarrette { fill: hsl(52, 67%, 59%); }
    
    .anitaDress { fill: hsl(58, 47%, 73%); }
    .anitaBelt { fill: hsl(58, 26%, 62%); }
    .anitaJacket { fill: hsl(204, 34%, 59%); }
    .anitaJacketSleeve { fill: hsl(205, 24%, 80%); }
    .anitaRainbowTop { fill: hsl(0, 36%, 58%); }
    .anitaRainbowMiddle { fill: hsl(33, 56%, 68%); }
    .anitaRainbowBottom { fill: hsl(111, 39%, 62%); }
    .anitaShoe { fill: hsl(190, 31%, 61%); }
    
    &.exasperated {
        .backpackMedium { fill: hsl(309, 37%, 60%); }
        .backpackLight { fill: hsl(310, 42%, 62%); }
        .backpackPocket { fill: hsl(300, 22%, 48%); }
        .backpackStrap { fill: hsl(300, 20%, 57%); }
    }
    
    &.youngChild {
        .hairTie { fill: hsl(30, 53%, 67%); }

        .lapel { fill: hsl(48, 24%, 64%); }
        .jacket { fill: hsl(48, 20%, 59%); }
        .pants { fill: hsl(211, 24%, 57%); }
        .shoe { fill: hsl(35, 18%, 55%); }

        .backpackMedium { fill: hsl(34, 46%, 56%); }
        .backpackLight { fill: hsl(34, 55%, 61%); }
        .backpackPocket { fill: hsl(44, 32%, 43%); }
        .backpackTrim { fill: hsl(45, 58%, 54%); }
        .backpackStrap { fill: hsl(45, 30%, 52%); }
    }
}