.mountain#{$suffix} {
    .mountainNear { fill: hsl(340, 14%, 43%); }
    .mountain { fill: hsl(340, 13%, 47%); }
    .mountainFar { fill: hsl(340, 12%, 51%); }

    .meadowFar { fill: hsl(92, 28%, 44%); }
    .meadowMiddle { fill: hsl(92, 28%, 41%); }
    .meadowNear { fill: hsl(92, 28%, 38%); }

    .autumnSeason
    &.autumn#{$suffix} {
        .meadowNear { fill: hsl(62, 28%, 38%); }
    }

    .winterSeason
    &.winter#{$suffix} {
        .meadowFar { fill: hsl(182, 18%, 54%); }
        .meadowMiddle { fill: hsl(182, 18%, 51%); }
        .meadowNear { fill: hsl(182, 18%, 48%); }
    }

    .autumnSeason.nightTime
    &.autumn#{$suffix} {
        .meadowNear { fill: hsl(62, 18%, 33%); }
    }
}