@import "./Verses/style";

$js__marginX__slider: 3px;
$js__overlap__marginX__slider: 2px;
$height__sliderStanzaTab: 5px;
$width__sliderStanzaTab: 15px;

.SliderStanza {
    position: absolute;

    // Default height when not cursored.
    height: 50%;

    bottom: 0;
    border-top-right-radius: $borderRadius__narrow;

    .parent__shown
    & {
        transition: height $animationDuration__default;
    }
}

.SliderStanza__tab {
    position: absolute;
    top: -$height__sliderStanzaTab;
    left: 0;
    width: $width__sliderStanzaTab;
    border-radius: $borderRadius__narrow $borderRadius__narrow 0 0;
}

.SliderStanza__tabShadow {
    /**
     * Minimise overlap of tab and sheet box shadows. Not exactly accurate.
     */
    height:
        $height__sliderStanzaTab
        - $borderRadius__narrow;

    top: -$height__sliderStanzaTab;
}

.SliderStanza__tabTop {
    // Ensure that tab covers sheet.
    height: $height__sliderStanzaTab;
}

.boxShadow__sliderStanza {
    box-shadow: $boxShadow__sliderStanza;
}

.SliderStanza__sheet {
    padding: $borderRadius__narrow 0 0 $js__marginX__slider;

    box-sizing: border-box;
    display: flex;

    .SliderStanza:not(:last-child)
    & {
        border-top-right-radius: $borderRadius__narrow;
        padding-right: $js__overlap__marginX__slider;
    }
}

.bgColour__sliderStanza__pattern {
    $degrees: 60deg;
    $lightShade: rgba(255, 255, 255, 0.125);
    $darkShade: rgba(0, 0, 0, 0.2);
    $height: $height__sliderStanzaTab * 3;
    $width: $height * 0.5773; // Square root of 3 for 30, 60, 90 triangle.

    background-image:
    repeating-linear-gradient(
        180 - $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent $height / 2
    ),
    repeating-linear-gradient(
        $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent $height / 2
    ),
    linear-gradient(
        $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    ),
    linear-gradient(
        180 - $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    );
    background-size: $width $height;
}

.bgColour__sliderStanza__pattern__reverse {
    background-position: bottom left;
}
