@import "./Verses/style";

$js__marginX__slider: 4px;
$js__marginY__slider: 6px;
$js__overlap__marginX__slider: 2px;
$height__sliderStanzaTab: 3px;
$width__sliderStanzaTab: 9px;

.SliderStanza {
    position: absolute;

    // Default height when not cursored.
    height: $js__length__icon;

    .DW__userAgentMobile
    & {
        transition: height $animationDuration__default;
    }

    bottom: 0;
    border-top-right-radius: $borderRadius__narrower;
}

.SliderStanza__tab {
    position: absolute;
    top: -$height__sliderStanzaTab;
    left: 0;
    height: $height__sliderStanzaTab;
    width: $width__sliderStanzaTab;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /**
         * Minimise overlap of tab and sheet box shadows. Eyeballed.
         */
        height: 0;
        z-index: -1;
    }

    &, &:before {
        border-top-left-radius: $borderRadius__narrower;
        border-top-right-radius: $borderRadius__narrower;
    }
}

.boxShadow__sliderStanza {
    filter: $dropShadow__sliderStanza;
}

.boxShadow__sliderStanzaTab:before {
    box-shadow: $boxShadow__sliderStanza;
}

.SliderStanza__sheet {
    padding:
        $js__marginY__slider
        $js__overlap__marginX__slider
        0
        $js__marginX__slider;

    display: flex;
    border-top-right-radius: $borderRadius__narrow;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /**
         * Minimise overlap of sheet and slider box shadows. Eyeballed.
         */
        height: calc(100% - 10px);
        z-index: -1;
    }

    .SliderStanza:first-child
    & {
        border-bottom-left-radius: $borderRadius__narrow;
    }

    .SliderStanza:last-child
    & {
        border-bottom-right-radius: $borderRadius__narrow;
    }
}

.bgColour__sliderStanza__pattern {
    $degrees: 60deg;
    $lightShade: rgba(255, 255, 255, 0.125);
    $darkShade: rgba(0, 0, 0, 0.1);
    $height: $height__sliderStanzaTab * 5;
    $width: $height * 0.5773; // Square root of 3 for 30, 60, 90 triangle.

    background-image:
    repeating-linear-gradient(
        180 - $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent $height / 2
    ),
    repeating-linear-gradient(
        $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent $height / 2
    ),
    linear-gradient(
        $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    ),
    linear-gradient(
        180 - $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    );
    background-size: $width $height;
    background-position: top left 5px;
}

.bgColour__sliderStanza__pattern__reverse {
    background-position: bottom left 5px;
}
