.lizPurse#{$suffix} {
    .purseDark { fill: hsl(153, 47%, 62%); }
    .purseMedium { fill: hsl(153, 56%, 66%); }
    .purseLight { fill: hsl(153, 67%, 70%); }
    .purseStrap { fill: hsl(153, 24%, 62%); }
}