@import '../../../scss/constants/icon';
@import '../../../scss/constants/lyric';
@import '../../../scss/constants/menu';
@import '../../../scss/constants/transition';
@import '../../../scss/constants/zIndex';

.LyricToggles {
    position: absolute;
    display: flex;
    flex-direction: column;

    & > :not(:last-child) {
        margin-bottom: $margin__thick;
    }
}

.top__lyricChild {
    // Position at same level as play button.
    top: (
        $HEIGHT_MENU
        - $LENGTH_ICON_LARGE
    ) * 0.5;

    .DW__canSliderMount
    & {
        top: $HEIGHT_MENU
            + $MARGIN_THIN;
    }
}

.LyricToggles__leftOrTop {
    .RW__lyricNotExpandable
    & {
        right: $margin__scrollBar;
    }
    
    .RW__lyricExpandable
    & {
        // This overrides the top lyric child rule, so make sure it's after it.
        top: auto;
        bottom: $MARGIN_THIN;
        left: $margin__scrollBar;
    }
}


.LyricToggles__bottomRight {
    right: $margin__scrollBar;
    bottom: $MARGIN_THIN;
}

.LyricToggle {
    z-index: $zIndex__lyricChild__topMost;
    opacity: 0;

    .DW__userAgentDesktop
    & {
        transition: opacity $transitionDuration__default;
    }
}

.LyricToggle__shown {
    opacity: 1;
}
