@import "./Expand/style";

.LyricToggles {
    position: absolute;
    z-index: $zIndex__lyricChild__topMost;

    .DW__canSliderMount
    & {
        top:
            $js__height__menu
            + $margin__scrollbar / 2;
    }
}

.LyricToggles__left {
    left: $margin__scrollbar;
}

.LyricToggles__right {
    right: $margin__scrollbar;
}

.LyricToggle {
    // position: absolute;
    padding: $js__margin__thin;

    // background-color: gray;
    transition:
        opacity $animationDuration__default;
}

// .LyricToggle__inLyric {
//     top: $margin__scrollbar / 2;
// }

// .LyricToggleScroll,
// .LyricToggleGlobalAnnotations {
//     // Needed to expand properly in Chrome.
//     right: $margin__scrollbar;
// }

// .LyricToggleExpand__inLyric,
// .LyricToggleEar {
//     left: $margin__scrollbar;
// }

// .LyricToggleEar,
// .LyricToggleGlobalAnnotations {
//     // When in mobile, expand toggle will *always* be present.
//     .DW__tabletWidth
//     & {
//         top:
//             $margin__scrollbar / 2
//             + $js__margin__thin * 2
//             + $js__length__iconLarge__tablet
//             + $js__margin__thick;
//     }

//     .DW__miniWidth
//     & {
//         top:
//             $margin__scrollbar / 2
//             + $js__margin__thin * 2
//             + $js__length__iconLarge__mini
//             + $js__margin__thick;
//     }

//     .DW__phoneWidth
//     & {
//         top:
//             $margin__scrollbar / 2
//             + $js__margin__thin * 2
//             + $js__length__icon
//             + $js__margin__thick;
//     }
// }

.LyricToggleScroll {
    opacity: 0;
    z-index: $zIndex__negative;

    .TW__manualScroll
    & {
        opacity: 1;
        z-index: $zIndex__lyricChild__topMost;
    }
}
