@import "./Expand/style";

.LyricToggles {
    position: absolute;
    display: flex;
    flex-direction: column;

    & > :not(:last-child) {
        margin-bottom: $js__margin__thick;
    }
}

.top__lyricChild {
    // Position at same level as play button.
    top: (
        $js__height__menu
        - $js__length__iconLarge
    ) * 0.5;

    .DW__canSliderMount
    & {
        top: $js__height__menu
            + $js__margin__thin;
    }
}

.LyricToggles__leftOrTop {
    .RW__lyricNotExpandable
    & {
        right: $margin__scrollBar;
    }

    .RW__lyricExpandable
    & {
        left: $margin__scrollBar;
    }

    .RW__lyricExpandable
    & {
        // This overrides the top lyric child rule, so make sure it's after it.
        top: auto;
        bottom: $js__margin__thin;
    }
}


.LyricToggles__bottomRight {
    right: $margin__scrollBar;
    bottom: $js__margin__thin;
}

.LyricToggle {
    z-index: $zIndex__lyricChild__topMost;
    opacity: 0;

    .DW__userAgentMobile
    & {
        transition: opacity $animationDuration__default;
    }
}

.LyricToggle__shown {
    opacity: 1;
}
