.tarpitConstellation {
    .tar { fill: #595959; }
    .pitSide { fill: #7a7a7a; }
    .tigerHind { fill: #919191; }
    .tigerBody { fill: #999; }
    .tigerHead { fill: #9e9e9e; }
    .mastodonHind { fill: #828282; }
    .mastodonBody { fill: #8f8f8f; }
    .mastodonHead { fill: #9c9c9c; }
    .legTar { fill: #666; }
    .eye { fill: #757575; }
    .nose { fill: #757575; }
    .mouth { fill: #757575; }
    .tongue { fill: #757575; }
    .tooth { fill: #d1d1d1; }
    .star { fill: #ebebeb; }
}

.siblingConstellation {
    .shoe { fill: gray; }
    .hair { fill: #424242; }
    .crown { fill: #adadad; }
    .skin { fill: #ccc; }
    .dress { fill: #a8a8a8; }
    .spearShaft { fill: #7a7a7a; }
    .spearHead { fill: #b8b8b8; }
    .pommel { fill: #999; }
    .grip { fill: #787878; }
    .horn { fill: #d4d4d4; }
    .blade { fill: #c4c4c4; }
    .guard { fill: #a1a1a1; }
    .eye { fill: #616161; }
    .belt { fill: #878787; }
    .star { fill: #ebebeb; }
}

.saturnExterior {
    .chassis { fill: #333; }
    .tire { fill: #666; }
    .hubcap { fill: #ccc; }
    .reflection { fill: #fff; }
    .windshield { fill: #9ff; }
    .body { fill: #96c; }
    .brakeLight { fill: #930; }
    .turnLight { fill: #c60; }
    .headLight { fill: #ffc; }
    .bumper { fill: #999; }
}

.saturnSeat {
    .bar { fill: #a9a0b3; }
    .cushion { fill: #7e6899; }
}