.SaturnInterior {
    .interior {
        fill: #636;
    }
}

.SaturnExterior {
    .chassis {
        fill: #333;
    }

    .tire {
        fill: #666;
    }

    .hubcap {
        fill: #ccc;
    }

    .reflection {
        fill: #fff;
    }

    .windshield {
        fill: #9ff;
    }

    .body {
        fill: #96c;
    }

    .brakeLight {
        fill: #930;
    }

    .turnLight {
        fill: #c60;
    }

    .headLight {
        fill: #ffc;
    }

    .bumper {
        fill: #999;
    }
}
