.oakDarkest { fill: hsl(35, 18%, 37%); }
.oakDarker { fill: hsl(35, 19%, 42%); }
.oakDark { fill: hsl(35, 20%, 47%); }
.oakMediumDark { fill: hsl(35, 22%, 52%); }
.oakMedium { fill: hsl(35, 22%, 57%); }
.oakMediumLight { fill: hsl(35, 22%, 62%); }
.oakLight { fill: hsl(35, 24%, 67%); }
.oakLighter { fill: hsl(35, 25%, 72%); }
.oakLightest { fill: hsl(35, 26%, 77%); }

.darkRoom .darkRoom#{$suffix} {
    .oakDarkest { fill: hsl(35, 9%, 24%); }
    .oakDarker { fill: hsl(35, 10%, 26%); }
    .oakDark { fill: hsl(35, 10%, 29%); }
    .oakMediumDark { fill: hsl(35, 11%, 31%); }
    .oakMedium { fill: hsl(35, 11%, 34%); }
    .oakMediumLight { fill: hsl(35, 11%, 36%); }
    .oakLight { fill: hsl(35, 12%, 39%); }
    .oakLighter { fill: hsl(35, 13%, 41%); }
    .oakLightest { fill: hsl(35, 13%, 44%); }
}

.nightTime .nightTime#{$suffix} {
    .oakDarkest { fill: hsl(35, 10%, 27%); }
    .oakDark { fill: hsl(35, 10%, 37%); }
    .oakMediumDark { fill: hsl(35, 12%, 42%); }
    .oakMedium { fill: hsl(35, 12%, 47%); }
}