.anita#{$suffix} {
    .hairTie { fill: hsl(312, 53%, 62%); }

    .anitaBarrette { fill: hsl(52, 67%, 59%); }
    .anitaShoe { fill: hsl(244, 16%, 34%); }
    .anitaDress { fill: hsl(58, 43%, 77%); }
}