.sasha#{$suffix} {
    .sashaHairTie { fill: hsl(201, 28%, 51%); }
    .sashaShirt { fill: hsl(104, 45%, 72%); }
    .sashaPants { fill: hsl(186, 29%, 56%); }
    .sashaSock { fill: hsl(102, 36%, 61%); }
    .sashaShoe { fill: hsl(184, 7%, 42%); }

    &.mermaid {
        .bikiniShell { fill: hsl(325, 34%, 62%); }
        .bikiniStrap { fill: hsl(325, 35%, 67%); }
        .tail { fill: hsl(180, 35%, 53%); }
        .tailLining { fill: hsl(180, 39%, 64%); }
    }

    &.popularGirl {
        .sweater { fill: hsl(186, 29%, 56%); }
        .shorts { fill: hsl(207, 27%, 56%); }
        .shortsInner { fill: hsl(207, 37%, 63%); }
        .shoe { fill: hsl(208, 27%, 60%); }
        .shoeStripe { fill: hsl(208, 19%, 52%); }
    }
}