.publicFarLeft {
    .wallFront { fill: #c69bc7; }
    .wallSide { fill: #ac87ad; }
}

.oaklandSchool {
    .wallFront { fill: #c69bc7; }
    .wallSide { fill: #ac87ad; }
    .awningFront { fill: #8594bb; }
    .awningSide { fill: #7480a3; }
    .clockSide { fill: #aabf8e; }
    .clockFront { fill: #bdd49f; }
    .handDisplayLine { stroke: #888; }
}

.publicNearLeft {
    .wallFront { fill: #c69bc7; }
    .wallSide { fill: #ac87ad; }
}

.oaklandFlag {
    .pole { fill: #706f65; }
    .stripeWhite { fill: #e2dede; }
    .stripeRed { fill: #c64646; }
    .fieldBlue { fill: #4680c6; }
    .finial { fill: #ad8c60; }
}