$width__childAbout: 120px; // Arbitrary.

$width__childAbout__phone: 80px;

.AboutToggle,
.Button__aboutSize {
    height: 100%;
}

.AboutToggle {
    width: $width__childAbout;

    .DW__phone
    & {
        width: $width__childAbout__phone;
    }
}
