@import '../../../scss/constants/border';
@import '../../../scss/constants/colour';
@import '../../../scss/constants/icon';
@import '../../../scss/constants/marketing';
@import '../../../scss/constants/popup';
@import '../../../scss/constants/shadow';

.PromoScroll {
    font-size: 0.9em;
    flex-grow: 1;
}

.PromoScroll__child {
    background-color: $colour__foreground;
    box-shadow: $boxShadow__popupView;
    border-radius: $borderRadius__wide;
}

.PromoScroll__grandchild {
    position: relative;
    width: 100%;
    height: 100%;
    padding: $margin__thick * 2;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    & > :not(:last-child) {
        margin-bottom: $margin__thick * 2;
    }
}
