.Cutout__temporaryRect {
    fill: rgba(200, 250, 200, 0.25);
    vector-effect: non-scaling-stroke;
    stroke-width: 1px;
    stroke: #444;
}

.Cutout__outline {
    fill: none;
    stroke: #654321;
    stroke-width: 1px;
}

.Cutout {
    filter: drop-shadow( 0 0 1px rgba(0, 0, 0, .5));
}

path {
    .Cutout
    & {
        stroke: #543;
        stroke-width: 0.25px;
    }
}

.shadowStroke {
    .Cutout
    & {
        fill: none;
        stroke-width: 0.2%;
    }
}

