.loadingDockDoor {
    .trimBlack {
        fill: #303017;
    }

    .trimYellow {
        fill: #bfbf5c;
    }

    .shutter {
        fill: #94817e;
    }

    .awning {
        fill: #664a70;
    }
}

.dumpster {
    .bodyFront {
        fill: #696;
    }

    .bodyBack {
        fill: #063;
    }

    .bodySide {
        fill: #030;
    }

    .bodyRim {
        fill: #396;
    }

    .ridge {
        fill: #009245;
    }

    .slotSide {
        fill: #030;
    }

    .slotFront {
        fill: #363;
    }

    .slotBottom {
        fill: #063;
    }

    .jointFront {
        fill: #063;
    }

    .jointSide {
        fill: #009245;
    }

    .pin {
        fill: #396;
    }

    .lid {
        fill: #666;
    }

    .lidRim {
        fill: #333;
    }

    .lidTrim {
        fill: #999;
    }

    .wheelSide {
        fill: #666;
    }

    .wheelFront {
        fill: #333;
    }

    .casterBack {
        fill: #663;
    }

    .casterFront {
        fill: #996;
    }

    .warningField {
        fill: #cc6;
    }

    .warningLabel {
        fill: #c33;
    }

    .garbageBack {
        fill: #666;
    }

    .garbageFront {
        fill: #4d4d4d;
    }
}