.VerseBar {
    opacity: 0;
    transform: scale(0.5);

    .DW__userAgentDesktop
    & {
        transition:
            transform $animationDuration__fast,
            opacity $animationDuration__fast;
    }

    max-width: calc(100% - #{$margin__thick * 2});
}

.VerseBar__above {
    margin-top: $jsx__margin__thin;
    top: 0;

    .DW__canSliderMount
    & {
        margin-top:
            $jsx__height__menu
            + $jsx__margin__thin;
    }
}

.VerseBar__below {
    margin-bottom: $jsx__margin__thin;
    bottom: 0;
}

.VerseBar__shown {
    transform: scale(1);
    opacity: 1;
    cursor: pointer;
    z-index: $zIndex__lyricChild__topMost;
}

.VerseBar__animatable {
    padding: $jsx__margin__thin;

    .VerseBar:hover
    & {
        animation: bounceHover $animationDuration__default;
    }

    .VerseBar:active
    & {
        transform: scale(0.9);
    }
}

.VerseBar__animatable__above {
    box-shadow: $boxShadow__verseBar__above;
}

.VerseBar__animatable__below {
    box-shadow: $boxShadow__verseBar__below;
}

.Verse__inBar {
    padding: $jsx__margin__thin $margin__thick;
}
