@import '../../../scss/constants/icon';
@import '../../../scss/constants/menu';
@import '../../../scss/constants/shadow';
@import '../../../scss/constants/transition';
@import '../../../scss/constants/zIndex';

.VerseBar {
    opacity: 0;
    transform: scale(0.5);

    .DW__userAgentDesktop
    & {
        transition:
            transform $transitionDuration__fast,
            opacity $transitionDuration__fast;
    }

    max-width: calc(100% - #{$margin__thick * 2});
}

.VerseBar__above {
    margin-top: $margin__thick;

    .DW__canSliderMount
    & {
        margin-top:
            $HEIGHT_MENU
            + $MARGIN_THIN;
    }
}

.VerseBar__below {
    margin-bottom: $margin__thick;
}

.VerseBar__shown {
    transform: scale(1);
    opacity: 1;
    cursor: pointer;
    z-index: $zIndex__lyricChild__topMost;
}

.VerseBar__animatable {
    padding: $MARGIN_THIN;

    .VerseBar:hover
    & {
        animation: bounceHover $transitionDuration__default;
    }

    .VerseBar:active
    & {
        transform: scale(0.9);
    }
}

.VerseBar__animatable__above {
    box-shadow: $boxShadow__verseBar__above;
}

.VerseBar__animatable__below {
    box-shadow: $boxShadow__verseBar__below;
}

.Verse__inBar {
    padding: $MARGIN_THIN $margin__thick;
}
