.LyricColumn {
    transition: height @animation-default, background-image @animation-default;

    // Keeps elements inside window!
    overflow: hidden;

    .is-song
    & {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: @LyricColumn-z-index;
    }

    .is-mobile.is-song.lyric-expanded
    & {
        height: ~"calc(100% - @{menu-height})";
    }

    .is-mobile.heightless-lyric
    & {
        height: 0;
    }

    @phone-LyricColumn-subtraction: @menu-phone-height + @AudioBanner-custom-subfield-height + @AudioBanner-custom-subfield-padding * 2;

    .phone-width.is-song.lyric-expanded {
        height: ~"calc(100% - @{phone-LyricColumn-subtraction})";
    }
}

.LyricColumn-animatable {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    display: flex;
    justify-content: center;

    transition: opacity @animation-default,
                transform @animation-default;

    .is-logue
    & {
        opacity: 0;
    }

    .is-song .render-unready
    & {
        opacity: 0;
    }

    .is-song .render-ready
    & {
        opacity: 1;
    }
}

/** Gradient mask does not work in IE or Edge. */
@lyric-collapsed-gradient: linear-gradient(
    0deg,
    black,
    black 90%,
    transparent
);

.lyric-collapsed-gradient-mask {
    .is-mobile.lyric-collapsed
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: @lyric-collapsed-gradient;
        mask-image: @lyric-collapsed-gradient;
    }
}