.LyricColumn {
    transition: height @animationDuration__default, background-image @animationDuration__default;

    // Keeps elements inside window!
    overflow: hidden;

    ._song_
    & {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: @zIndex__lyricColumn;
    }

    ._mobile_._song_._lyricExpanded_
    & {
        height: ~"calc(100% - @{js__height__menu})";
    }

    ._phone_._song_._lyricExpanded_
    & {
        height: ~"calc(100% - @{js__height__aboveOverlay__phone})";
    }

    ._mobile_._lyricHeightless_
    & {
        height: 0;
    }
}

.LyricColumn-animatable {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    display: flex;
    justify-content: center;

    transition: opacity @animationDuration__default,
                transform @animationDuration__default;

    ._logue_
    & {
        opacity: 0;
    }

    ._song_ .renderReady
    & {
        opacity: 1;
    }

    ._song_ .renderUnready
    & {
        opacity: 0;
    }
}

.position__lyricColumn {

    ._desktop_
    & {
        position: absolute;
        width: @js__width__goldenCord;
        height: 100%;
        right: 0;
    }

    ._laptop_
    & {
        width: @js__width__uncannyValley;
    }

    ._mobile_
    & {
        position: absolute;
        height: @js__height__lyricCollapsed;
        width: 100%;
        bottom: 0;
    }
}

.LyricColumn__gradientMask__mobileCollapsed {

    /** Gradient mask does not work in IE or Edge. */
    @gradient__lyric__mobileCollapsed: linear-gradient(
        0deg,
        black,
        black 90%,
        transparent
    );
    ._mobile_._lyricCollapsed_
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: @gradient__lyric__mobileCollapsed;
        mask-image: @gradient__lyric__mobileCollapsed;
    }
}

.LyricColumn__gradientMask__desktop {

    @gradient__lyric__desktop: linear-gradient(
        180deg,
        black,
        black 50%,
        transparent
    );
    ._desktop_._carouselNavShowable_._carouselExpanded_._annotationShown_
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: @gradient__lyric__desktop;
        mask-image: @gradient__lyric__desktop;

        // When carousel annotation is selected, switch z-index with carousel.
        z-index: @zIndex__carousel;
    }
}
