.LyricColumn {
    transition: height @animationDuration__default, background-image @animationDuration__default;

    // Keeps elements inside window!
    overflow: hidden;

    .dm__song
    & {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: @zIndex__lyricColumn;
    }

    .dm__mobile.dm__song._lyricExpanded_
    & {
        height: ~"calc(100% - @{js__height__menu})";
    }

    ._phone_.dm__song._lyricExpanded_
    & {
        height: ~"calc(100% - @{js__height__aboveOverlay__phone})";
    }

    .dm__mobile._lyricHeightless_
    & {
        height: 0;
    }
}

.LyricColumn-animatable {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    display: flex;
    justify-content: center;

    transition: opacity @animationDuration__default,
                transform @animationDuration__default;

    .dm__logue
    & {
        opacity: 0;
    }

    .dm__song .renderReady
    & {
        opacity: 1;
    }

    .dm__song .renderUnready
    & {
        opacity: 0;
    }
}

.position__lyricColumn {

    .dm__desktop
    & {
        position: absolute;
        width: @js__width__goldenCord;
        height: 100%;
        right: 0;
    }

    ._laptop_
    & {
        width: @js__width__uncannyValley;
    }

    .dm__mobile
    & {
        position: absolute;
        height: @js__height__lyricCollapsed;
        width: 100%;
        bottom: 0;
    }
}

.LyricColumn__gradientMask__desktop {

    @gradient__lyric__desktop: linear-gradient(
        180deg,
        black,
        black 50%,
        transparent 90%,
        transparent
    );
    .dm__desktop._carouselNavShowable_._carouselExpanded_._annotationShown_
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: @gradient__lyric__desktop;
        mask-image: @gradient__lyric__desktop;

        // When carousel annotation is selected, switch z-index with carousel.
        z-index: @zIndex__carousel;
    }
}
