.lyric-button-block {
    position: absolute;
    padding: @app-thin-margin;

    background-color: gray;
    transition: opacity @animationDuration__default, transform @animationDuration__default;

    // Needed to position access icon properly.
    .Button {
        position: inherit;
    }
}

.LyricColumn {
    .lyric-button-block {
        z-index: @zIndex__lyricColumnButton;
    }
}

@lyric-button-side-padding: 17px;
@lyric-button-top-padding: 8.5px;

.LyricColumn {
    .lyric-button-block {
        top: @lyric-button-top-padding;
    }

    .ear-button-block {
        // Needed to expand properly in Chrome.
        right: @lyric-button-side-padding;
    }

    .expand-button-block {
        left: @lyric-button-side-padding;
    }
}

.expand-button-block {
    .centre-field
    & {
        bottom: 0;
        left: 50%;
        opacity: 1;
        transform: translateX(-50%) scale(1);
        z-index: @zIndex__dotsOverview;
    }
}

._logue_, ._lyricExpanded_, ._overviewShown_, ._tipsShown_, ._dotsShown_, ._annotationShown_._navExpanded_ {
    .centre-field {
        .expand-button-block {
            opacity: 0;
            transform: translateX(-50%) scale(0);
        }
    }
}

._lyricHeightless_ {
    &._lyricCollapsed_ {
        .LyricColumn {
            .expand-button-block {
                opacity: 0;
                transform: scale(0);
            }
        }
    }
}
