@import "./LyricAccess.less";
@import "./LyricColumn.less";
@import "./LyricDotStanza.less";
@import "./LyricStanza.less";
@import "./LyricToggle.less";
@import "./LyricUnit.less";

@lyric-block-top-padding: 20px;

@stanza-block-margin: 10px;

.Lyric {
    width: 100%;
    overflow-y: scroll;
    padding: 0 5px;

    &:focus {
        outline: none;
    }
}

.lyric-block {
    padding: @lyric-block-top-padding 0;
    line-height: 150%;

    a {
        font-weight: normal;
    }
}

.LyricColumn__gradientMask__mobileCollapsed {

    /** Gradient mask does not work in IE or Edge. */
    @gradient__lyric__mobileCollapsed: linear-gradient(
        0deg,
        black,
        black 90%,
        transparent
    );
    ._mobile_._lyricCollapsed_
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: @gradient__lyric__mobileCollapsed;
        mask-image: @gradient__lyric__mobileCollapsed;
    }
}