@AccessIconsBlock-margin: 10px;

.LyricAccess-row {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: @AccessIconsBlock-margin;
    box-sizing: border-box;

    display: flex;
}

.access-icons-group {
    display: flex;
}

.AccessIconsBlock {
    .LyricColumn
    & {
        z-index: @LyricAccess-icons-z-index;

        &.up-down {
            right: @AccessIconsBlock-margin;
        }

        &.left-right, &.enter {
            position: initial;
        }

        &.enter {
            margin-left: @AccessIconsBlock-margin;
        }
    }
}
