.lyric-button-block {
    position: absolute;
    padding: @app-thin-margin;

    background-color: gray;
    transition: opacity @animation-default, transform @animation-default;

    // Needed to position access icon properly.
    .button {
        position: inherit;
    }
}

.lyric-column {
    .lyric-button-block {
        z-index: @lyric-column-button-z-index;
    }
}

@lyric-button-side-padding: 17px;
@lyric-button-top-padding: 8.5px;

.lyric-column {
    .lyric-button-block {
        top: @lyric-button-top-padding;
    }

    .ear-button-block {
        // Needed to expand properly in Chrome.
        right: @lyric-button-side-padding;
    }

    .expand-button-block {
        left: @lyric-button-side-padding;
    }
}

.expand-button-block {
    .centre-field
    & {
        bottom: 0;
        left: 50%;
        opacity: 1;
        transform: translateX(-50%) scale(1);
        z-index: @dots-Overview-z-index;
    }
}

.is-logue, .lyric-expanded, .overview-shown, .tips-shown, .dots-section-shown, .annotation-shown.nav-expanded {
    .centre-field {
        .expand-button-block {
            opacity: 0;
            transform: translateX(-50%) scale(0);
        }
    }
}

.heightless-lyric {
    &.lyric-collapsed {
        .lyric-column {
            .expand-button-block {
                opacity: 0;
                transform: scale(0);
            }
        }
    }
}
