.LyricStanzaDot {
    padding-bottom: 5px;

    &:not(:first-child) {
        margin-left: 0;
    }

    transition:
        margin-top @animationDuration__default,
        margin-left @animationDuration__default;
}
