.LyricStanzaCard {
    position: relative;
}

.LyricStanzaCard__tab {
    position: absolute;
    height: @height__stanzaTypeTab;
    top: -@height__stanzaTypeTab;
    left: 0;
    border-radius: 7.5px 7.5px 0 0;

    padding: 0 5px;
    color: white;

    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.6em;
}

.LyricStanzaCard__sheet {
    padding: 2px;
}

.bgColour__stanza__title { background-color: @colour__stanza__title; }
.bgColour__stanza__refrain { background-color: @colour__stanza__refrain; }
.bgColour__stanza__verse { background-color: @colour__stanza__verse; }
.bgColour__stanza__prechorus { background-color: @colour__stanza__prechorus; }
.bgColour__stanza__chorus { background-color: @colour__stanza__chorus; }
.bgColour__stanza__postchorus { background-color: @colour__stanza__postchorus; }
.bgColour__stanza__bridge { background-color: @colour__stanza__bridge; }
.bgColour__stanza__coda { background-color: @colour__stanza__coda; }
.bgColour__stanza__intro { background-color: @colour__stanza__instrumental; }
.bgColour__stanza__solo { background-color: @colour__stanza__instrumental; }
.bgColour__stanza__outro { background-color: @colour__stanza__instrumental; }
.bgColour__stanza__rhyme { background-color: @colour__stanza__rhyme; }
.bgColour__stanza__backing { background-color: @colour__stanza__backing; }
.bgColour__stanza__response { background-color: @colour__stanza__response; }