@import "./LyricAccess.less";
@import "./LyricColumn.less";
@import "./LyricDotStanza.less";
@import "./LyricStanza.less";
@import "./LyricToggle.less";
@import "./LyricUnit.less";

.Lyric {
    width: 100%;
    overflow-y: scroll;
    padding: 0 5px;

    &:focus {
        outline: none;
    }
}

.lyric-block {
    padding: @lyric-block-top-padding 0;
    line-height: 150%;

    a {
        font-weight: normal;
    }
}
