.dot-stanza {
    padding-bottom: 5px;

    &:not(:first-child) {
        margin-left: 0;
    }

    .Button {
        transition: width @animationDuration__default,
                    height @animationDuration__default;
        height: 0;
        width: 0;
    }

    &.stanza-block {
        transition: margin-top @animationDuration__default,
                    margin-left @animationDuration__default;
    }

    .dot .icon-canvas {
        transition: background-color @animationDuration__fast,
                    border @animationDuration__fast;
    }

    .overrideAnimate
    & {
        .Button {
            transition: none;
        }
        
        &.stanza-block {
            transition: none;
        }
        
        .dot .icon-canvas {
            transition: none;
        }
    }
}
