.lyric-button-block {
    position: absolute;
    padding: @margin__thin;

    background-color: gray;
    transition:
        opacity @animationDuration__default,
        transform @animationDuration__default;

    // Needed to position access icon properly.
    .Button {
        position: inherit;
    }
}

.LyricColumn {
    .lyric-button-block {
        z-index: @zIndex__lyricColumnButton;
    }
}

.LyricColumn {
    .lyric-button-block {
        top: @margin__scrollbar / 2;
    }

    .ear-button-block {
        // Needed to expand properly in Chrome.
        right: @margin__scrollbar;
    }

    .expand-button-block {
        left: @margin__scrollbar;
    }
}

.expand-button-block {
    .Main
    & {
        bottom: 0;
        left: 50%;
        opacity: 1;
        transform: translateX(-50%) scale(1);
        z-index: @zIndex__dotsOverview;
    }
}

.dm__logue, ._lyricExpanded_, ._overviewShown_, ._tipsShown_, ._dotsShown_, ._annotationShown_._navExpanded_ {
    .Main {
        .expand-button-block {
            opacity: 0;
            transform: translateX(-50%) scale(0);
        }
    }
}

._lyricHeightless_ {
    &._lyricCollapsed_ {
        .LyricColumn {
            .expand-button-block {
                opacity: 0;
                transform: scale(0);
            }
        }
    }
}
