@import "./Access/style";
@import "./Scroll/style";
@import "./Toggle/style";
@import "./VerseBar/style";

.Lyric {
    position: absolute;
    box-sizing: border-box;

    transition:
        height $animationDuration__default,
        opacity $animationDuration__default;

    // Keeps elements inside window!
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /**
     * Let verse bars own the top and bottom margins, and lyric column own the
     * the side padding. This allows the lyric column to collapse down to zero
     * height when lyric is heightless.
     */
    padding: 0 $js__margin__thick;

    .RM__song
    & {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: $zIndex__lyricColumn;
    }

    .DW__mobile
    .RM__lyricHeightless
    & {
        height: 0;
    }

    opacity: 0;

    .RM__song
    &.parent__shown {
        opacity: 1;
    }
}

.Lyric__expanded {

    .DW__mobile
    .RM__song
    & {
        height: calc(100% - #{$js__height__menu});
    }

    .RM__song.RM__twoRowMenu
    & {
        height: calc(100% - #{$js__topOffsetTruncated__twoRowMenu});
    }

    .DW__phone
    .RM__song
    & {
        height: calc(100% - #{$js__topOffsetTruncated__twoRowMenu__phone});
    }
}

// Used by Lyric and OverviewLogue.
.position__lyricColumn__desktop {

    .DW__desktop
    & {
        width: $js__width__goldenCord;
        height: 100%;
        right: 0;
    }

    .DW__laptop
    & {
        width: $js__width__uncannyValley;
    }
}

// Used by Lyric only.
.position__lyricColumn__mobile {

    .DW__mobile
    & {

        height: $js__height__lyricCollapsed;
        width: 100%;
        bottom: 0;
    }
}

.gradientMask__lyricColumn__desktop {

    $gradient__lyric__desktop: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) $height__chivalry * 0.8,
        black $height__chivalry * 1.1,
        black
    );
    .DW__desktop
    .RM__carouselNavShowable.RM__carouselExpanded.RM__annotationShown
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: $gradient__lyric__desktop;
        mask-image: $gradient__lyric__desktop;

        // When carousel annotation is selected, switch z-index with carousel.
        z-index: $zIndex__annotation;
    }
}
