@import "./Access/style";
@import "./Scroll/style";
@import "./Toggle/style";
@import "./VerseBar/style";

.Lyric {
    position: absolute;
    box-sizing: border-box;

    opacity: 0;
    transition:
        opacity $animationDuration__fast,
        height $animationDuration__default;

    // Keeps elements inside window!
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /**
     * Let verse bars own the top and bottom margins, and lyric column own the
     * the side padding. This allows the lyric column to collapse down to zero
     * height when lyric is heightless.
     */
    padding: 0 $js__margin__thick;

    .PlW__song
    & {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: $zIndex__lyricColumn;
    }

    .DW__mobile
    .RW__lyricHeightless
    & {
        height: 0;
    }

    .DW__mobile
    .PlW__song
    .ShW__lyricExpanded
    & {
        height: calc(100% - #{$js__height__menu});
    }

    .PlW__song
    .RW__twoRowMenu
    .ShW__lyricExpanded
    & {
        height: calc(100% - #{$js__topOffsetTruncated__twoRowMenu});
    }

    .DW__phone
    .PlW__song
    .ShW__lyricExpanded
    & {
        height: calc(100% - #{$js__topOffsetTruncated__twoRowMenu__phone});
    }
}

.Lyric__visible {
    .PlW__song
    & {
        opacity: 1;
    }
}

// Used by Lyric and OverviewLogue.
.position__lyricColumn__desktop {

    .DW__desktop
    & {
        width: $js__width__goldenCord;
        height: 100%;
        right: 0;
    }

    .DW__laptop
    & {
        width: $js__width__uncannyValley;
    }
}

// Used by Lyric only.
.position__lyricColumn__mobile {

    width: 100%;
    bottom: 0;

    // .DW__mobileNotPhone
    // & {
    //     height: $js__height__lyricCollapsed;
    // }

    // .DW__phone
    // & {
    //     height: 50%;
    // }
}

.gradientMask__lyricColumn__desktop {

    $gradient__lyric__desktop: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0) $height__chivalry * 0.25,
        rgba(0, 0, 0, 0) $height__chivalry * 0.75,
        rgba(0, 0, 0, 0.4) $height__chivalry,
        black $height__chivalry * 1.1
    );
    .DW__desktop
    .RW__carouselNavShowable
    .ShW__annotationShown.ShW__carouselExpanded
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: $gradient__lyric__desktop;
        mask-image: $gradient__lyric__desktop;

        // When carousel annotation is selected, switch z-index with carousel.
        z-index: $zIndex__annotation;
    }
}
