@import "./Access/style";
@import "./Scroll/style";
@import "./Toggle/style";
@import "./VerseBar/style";

.Lyric {
    position: absolute;
    box-sizing: border-box;

    opacity: 0;
    transition:
        opacity $animationDuration__fast,
        height $animationDuration__default;

    // Keeps elements inside window!
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /**
     * Let verse bars own the top and bottom margins, and lyric column own the
     * the side padding. This allows the lyric column to collapse down to zero
     * height when lyric is heightless.
     */
    padding: 0 $js__margin__thick;

    .PlW__song
    & {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: $zIndex__lyricColumn;
    }

    .ShW__lyricExpanded
    & {
        height: calc(100% - #{$js__height__menu});
    }

    .RW__twoRowMenu
    .ShW__lyricExpanded
    & {
        height: calc(100% - #{$js__height__twoRowMenu});
    }
}

.Lyric__visible {
    .PlW__song
    & {
        opacity: 1;
    }
}

// Used by Lyric and OverviewLogue.
.position__lyricColumn__desktop {

    .DW__desktopWidth
    & {
        height: 100%;
    }
}

.width__lyricColumn__desktop {
    .DW__desktopWidth
    & {
        width: $js__width__goldenCord;
        left: auto;
        right: 0;
    }

    .DW__laptopWidth
    & {
        width: $js__width__uncannyValley;
    }
}

// Used by Lyric only.
.position__lyricColumn__mobile {
    width: 100%;
    bottom: 0;
}

.gradientMask__lyricColumn__desktop {

    $gradient__lyric__desktopCarousel: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1) calc(100% - #{$height__chivalry}),
        rgba(0, 0, 0, 0) calc(100% - #{$height__chivalry * 0.75}),
        rgba(0, 0, 0, 0)
    );

    .DW__desktopWidth
    .RW__carouselNavShowable
    .ShW__annotationShown.ShW__carouselExpanded
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: $gradient__lyric__desktopCarousel;
        mask-image: $gradient__lyric__desktopCarousel;

        // When carousel annotation is selected, switch z-index with carousel.
        z-index: $zIndex__annotation;
    }
}
