.DispenserLeft {
    .dispenser { fill: #936; }
    .dispenserShadow { stroke: #825; }
    .panel { fill: #666; }
    .latch { fill: #800; }
    .metal { fill: #ccc; }
    .newspaper { fill: #eee; }
    .print { fill: #999; }
}

.DispenserRight {
    .dispenser { fill: #396; }
    .dispenserShadow { stroke: #285; }
    .panel { fill: #666; }
    .handle { fill: #cc9; }
    .newspaper { fill: #eee; }
    .print { fill: #999; }
    .suit { fill: #66c; }
    .shirt { fill: #fcc; }
    .face { fill: #966; }
}
