.dispenserLeft {
    .dispenserLight { fill: #e69081; }
    .dispenserDark { fill: #d48577; }
    .panel { fill: #cca9a3; }
}

.dispenserRight {
    .dispenserDark { fill: #62a684; }
    .panel { fill: #5a7869; }
    .dispenserLight { fill: #6eba94; }
    .dispenserDoor { fill: #a1c9b6; }
    .suit { fill: #6374a8; }
    .shirt { fill: #cfb674; }
}