.OverviewLogue {
    position: absolute;
    width: 100%;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    // This just needs to be higher than the popup container.
    z-index: $zIndex__adminToggle;

    .DW__mobile
    & {
        padding: $js__margin__thick;
    }

    .DW__mobile
    .RM__lyricHeighted
    & {
        flex-direction: column-reverse;
    }

    .DW__mobile
    .RM__lyricHeightless
    & {
        flex-direction: column;
    }
}
