.monitorSide {
    .bottom {
        fill: #333;
    }

    .top {
        fill: #666;
    }

    .side {
        fill: #222;
    }

    .panel {
        fill: #999;
    }
}

.wallSpeakerSide {
    .bottom {
        fill: #333;
    }

    .side {
        fill: #666;
    }

    .panel {
        fill: #999;
    }
}

.crowdSide {
    .shadow {
        fill: #333;
    }
}
