@import "./Icon/style";

$length__thumb: 100px;

.Thumb {
    position: absolute;

    /**
     * Arbitrary for now. However, make sure that it is never too wide that the
     * next to leftmost or rightmost goes outside the books block.
     */
    width: $length__thumb;
    height: $length__thumb;

    display: flex;
    flex-direction: column;

    opacity: 0;

    white-space: nowrap;

    transition: opacity $animationDuration__fast,
                transform $animationDuration__fast;

    // Needed to prevent button hovering and selecting wonkiness.
    z-index: $zIndex__negative;

    .DW__desktop
    & {
        bottom: 100%;
        margin-bottom: $js__margin__thick;
    }

    .DW__mobile
    & {
        top: 100%;
        margin-top: $js__margin__thick;
    }
}

.Thumb__canShow {
    .RM__accessOn.RM__carouselNavShowable.RM__navExpanded
    &.Thumb__isAccessed,

    .RM__accessOff.RM__carouselNavShowable.RM__navExpanded
    // Prevent thumb from showing when hovering over hidden column elements.
    .NavColumn__shown
    .Button__navSong:hover
    & {
        opacity: 1;
        z-index: $zIndex__navCustomSubfield;
    }
}

.Thumb__default {
    left: 50%;
    transform: translateX(-50%);
}

.Thumb__leftmost {
    left: 0;
}

.Thumb__rightmost {
    right: 0;
}

.ThumbField {
    fill: #ff8;
}

.ThumbTitle {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
}