// .rockDarkest { fill: hsl(80, 7%, 37%); }
// .rockDarker { fill: hsl(80, 7%, 42%); }
.rockDark { fill: hsl(80, 7%, 47%); }
.rockMediumDark { fill: hsl(80, 7%, 52%); }
.rockMedium { fill: hsl(80, 7%, 57%); }
.rockMediumLight { fill: hsl(80, 7%, 62%); }
// .rockLight { fill: hsl(80, 7%, 67%); }
// .rockLighter { fill: hsl(80, 7%, 72%); }
// .rockLightest { fill: hsl(80, 7%, 77%); }

.nightTime .nightTime#{$suffix} {
    .rockDark { fill: hsl(80, 4%, 37%); }
    .rockMediumDark { fill: hsl(80, 4%, 42%); }
    .rockMedium { fill: hsl(80, 4%, 47%); }
    .rockMediumLight { fill: hsl(80, 4%, 52%); }
}