.clubDoorOpen {
    .handle { fill: #4a4843; }
}

.dishroomDoor {
    .stainlessSteel { fill: #a4b2bd; }
}

.loadingDockDoor {
    .trimBlack { fill: #303017; }
    .trimYellow { fill: #bfbf5c; }
    .shutter { fill: #94817e; }
    .awning { fill: #664a70; }
}

.nurseDoor {
    .cross { fill: #b85642; }
}

.porchDoor {
    .mailSlotFrame { fill: #968340; }
    .mailSlotLid { fill: #a18c44; }
}

.principalDoor {
    .window { fill: rgba(255, 255, 255, 0.1); }
}
