.AccessLetters {
    display: flex;
}

.AccessLetters__inAnnotation {

    margin-left: $js__margin__thick * 0.5;
    margin-bottom: $js__margin__thin * 0.5;

    .RM__accessOff
    & {
        display: none;
    }
}

.AccessLetters__absolute {
    position: absolute;
}
