@import '../constants/boxShadow.scss';

/********
 * TEXT *
 ********/

// @font-face {
//     font-family: PTSansNarrow;
//     src: url('app/assets/fonts/pt_sans/PTN57F.ttf') format('truetype');
// }

// @font-face {
//     font-family: PTSansNarrow;
//     src: url('app/assets/fonts/pt_sans/PTN77F.ttf') format('truetype');
//     font-weight: bold;
// }

// @font-face {
//     font-family: PTSansNarrow;
//     src: url('app/assets/fonts/pt_sans/PTS56F.ttf') format('truetype');
//     font-style: italic;
// }

/**************
 * CONTAINERS *
 **************/

.Players {
    display: none;
}

.absoluteFullContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.flexCentreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAlignContainer {
    display: flex;
    align-items: center;
}

.boxShadow__popupView {
    box-shadow: $boxShadow__popupView;

    .RM__overlayShown
    & {
        box-shadow: $boxShadow__popupView__inOverlay;
    }
}

body {
    margin: 0;
    color: $colour__text;
    cursor: default;

    background-color: #111;
}

h1 {
    font-size: 1.6em;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

// TODO: Revisit font sizes.
.fontSize__title {
    font-size: $fontSize__title;

    .RM__mini
    & {
        font-size: $fontSize__title__mini;
    }

    .RM__phone
    & {
        font-size: $fontSize__title__phone;
    }
}

.fontSize__verse {
    font-size: $fontSize__verse;

    .RM__mini
    & {
        font-size: $fontSize__verse__mini;
    }

    .RM__phone
    & {
        font-size: $fontSize__verse__phone;
    }
}

.fontSize__lyricMultipleColumns {

    $fontSize__bothColumnsShown: 0.95em;

    // Make font sizes smaller when showing both columns.
    .RM__bothLyricColumnsShown.RM__desktop
    &,
    .RM__bothLyricColumnsShown.RM__tablet
    & {
        font-size: $fontSize__bothColumnsShown;
    }

    .RM__bothLyricColumnsShown.RM__mini
    & {
        font-size:
            $fontSize__bothColumnsShown
            * $multiplier__fontSize__mini;
    }
}

i, em {
    /**
     * All device widths inherit this reduction. I'm not exactly sure how this
     * works, but it does...
     */
    font-size: $fontSize__italic;
}