@mixin mixin__textShadow($bgColour, $important: false) {
    $offset: 0.5px;
    $offset__negative: -$offset;
    $blur: 0.75px;

    @if $important {
        text-shadow:
            $offset__negative $offset__negative $blur $bgColour,
            $offset $offset__negative $blur $bgColour,
            $offset__negative $offset $blur $bgColour,
            $offset $offset $blur $bgColour !important;
    } @else {
        text-shadow:
            $offset__negative $offset__negative $blur $bgColour,
            $offset $offset__negative $blur $bgColour,
            $offset__negative $offset $blur $bgColour,
            $offset $offset $blur $bgColour;
    }
}

@mixin mixin__textAndLinkColours($light: false, $important: false) {

    @if $light {
        @if $important {
            color: $colour__text__light !important;
        } @else {
            color: $colour__text__light;
        }

        @include mixin__textShadow(
            hsla(0, 0%, 0%, 0.3),
            $important: $important
        );

    } @else {
        @if $important {
            color: $colour__text__dark !important;
        } @else {
            color: $colour__text__dark;
        }

        @include mixin__textShadow(
            hsla(0, 0%, 100%, 0.3),
            $important: $important
        );
    }

    .TextAnchor__linkText__default {
        @if $light {
            @if $important {
                color: $colour__link__light !important;
            } @else {
                color: $colour__link__light;
            }
        } @else {
            @if $important {
                color: $colour__link__dark !important;
            } @else {
                color: $colour__link__dark;
            }
        }
    }

    .TextAnchor__linkText__accessed {
        @if $light {
            @if $important {
                color: $colour__access__light !important;
            } @else {
                color: $colour__access__light;
            }
        } @else {
            @if $important {
                color: $colour__access__dark !important;
            } @else {
                color: $colour__access__dark;
            }
        }
    }

    .TextAnchor__linkText__selected {
        @if $light {
            @if $important {
                color: $colour__selected__light !important;
            } @else {
                color: $colour__selected__light;
            }
        } @else {
            @if $important {
                color: $colour__selected__dark !important;
            } @else {
                color: $colour__selected__dark;
            }
        }
    }

    .Anchor__selectable {

        &:hover {
            .TextAnchor__linkText {
                @if $light {
                    @if $important {
                        color: $colour__linkHover__light !important;
                    } @else {
                        color: $colour__linkHover__light;
                    }
                } @else {
                    @if $important {
                        color: $colour__linkHover__dark !important;
                    } @else {
                        color: $colour__linkHover__dark;
                    }
                }
            }
            .TextAnchor__linkText__accessed {
                @if $light {
                    @if $important {
                        color: $colour__accessHover__light !important;
                    } @else {
                        color: $colour__accessHover__light;
                    }
                } @else {
                    @if $important {
                        color: $colour__accessHover__dark !important;
                    } @else {
                        color: $colour__accessHover__dark;
                    }
                }
            }
        }

        &:active {
            .TextAnchor__linkText {
                @if $important {
                    color: $colour__linkActive !important;
                } @else {
                    color: $colour__linkActive;
                }
            }
            .TextAnchor__linkText__accessed {
                @if $important {
                    color: $colour__accessActive !important;
                } @else {
                    color: $colour__accessActive;
                }
            }
        }
    }
}

@mixin mixin__underlineColours($light: false, $important: false) {

    .Underline__default {
        @if $light {
            @if $important {
                background-color: $colour__link__light !important;
            } @else {
                background-color: $colour__link__light;
            }
        } @else {
            @if $important {
                background-color: $colour__link__dark !important;
            } @else {
                background-color: $colour__link__dark;
            }
        }
    }

    .Underline__accessed {
        @if $light {
            @if $important {
                background-color: $colour__access__light !important;
            } @else {
                background-color: $colour__access__light;
            }
        } @else {
            @if $important {
                background-color: $colour__access__dark !important;
            } @else {
                background-color: $colour__access__dark;
            }
        }
    }

    .Underline__selected {
        @if $light {
            @if $important {
                background-color: $colour__selected__light !important;
            } @else {
                background-color: $colour__selected__light;
            }
        } @else {
            @if $important {
                background-color: $colour__selected__dark !important;
            } @else {
                background-color: $colour__selected__dark;
            }
        }
    }

    .Anchor__selectable {

        &:hover {
            .Underline {
                @if $light {
                    @if $important {
                        background-color: $colour__linkHover__light !important;
                    } @else {
                        background-color: $colour__linkHover__light;
                    }
                } @else {
                    @if $important {
                        background-color: $colour__linkHover__dark !important;
                    } @else {
                        background-color: $colour__linkHover__dark;
                    }
                }
            }
            .Underline__accessed {
                @if $light {
                    @if $important {
                        background-color: $colour__accessHover__light !important;
                    } @else {
                        background-color: $colour__accessHover__light;
                    }
                } @else {
                    @if $important {
                        background-color: $colour__accessHover__dark !important;
                    } @else {
                        background-color: $colour__accessHover__dark;
                    }
                }
            }
        }

        &:active {
            .Underline {
                @if $important {
                    background-color: $colour__linkActive !important;
                } @else {
                    background-color: $colour__linkActive;
                }
            }
            .Underline__accessed {
                @if $important {
                    background-color: $colour__accessActive !important;
                } @else {
                    background-color: $colour__accessActive;
                }
            }
        }
    }
}
