.bennett#{$suffix} {
    .cafeteriaHatMesh {
        fill: #d6d9e3;
    }

    .cafeteriaHatDark {
        fill: #394a70;
    }

    .cafeteriaHat {
        fill: #455987;
    }

    .cafeteriaHatAdjuster {
        fill: #d1d1c2;
    }

    .bennettShoeLining { fill: #999289; }
    .bennettSoleSide { fill: #d9d1c8; }
    .bennettShoe { fill: #736b5c; }
    .bennettShoelace { fill: #d6d1c9; }
    .converseLogo { fill: #bf8273; }
    .bennettSoleBottom { fill: #998675; }
    .bennettJeans { fill: #5c7bab; }
    .bennettJacket { fill: #575b6b; }
    .bennettHoodie { fill: #b35e58; }
    .bennettHood { fill: #bf7b77; }
    .bennettSleeves { fill: #b35e58; }
    .bennettShirt { fill: #eee; }
}