.peopleBennettShared {
    .bennettShoe { fill: #474032; }
    .bennettSoleSide { fill: #c7b299; }
    .bennettSoleBottom { fill: #998675; }
    .bennettJeans { fill: #5c7bab; }
    .bennettJacket { fill: #575b6b; }
    .bennettHoodie { fill: #b35e58; }
    .bennettHood { fill: #bf7b77; }
    .bennettSleeves { fill: #b35e58; }
    .bennettShirt { fill: #eee; }
}