.Backdrop {
    overflow: hidden;
}

.goldenGateBackdrop {
    .ocean { fill: hsl(211, 71%, 59%); }
    .pier { fill: hsl(225, 2%, 36%); }
    .suspenders { fill: hsla(0, 83%, 88%, 0.5); }
    .tower { fill: hsl(18, 31%, 48%); }
    .cable { fill: hsl(18, 36%, 49%); }
    .deck { fill: hsl(18, 36%, 49%); }
    .connector { fill: hsl(16, 37%, 47%); }
}

.roadPast {
    .bookCover { fill: hsl(122, 20%, 39%); }
    .romanNumeral { fill: hsl(61, 65%, 88%); }
}

.shoreRickshawBackdrop {
    .lighthouseInner { fill: hsl(120, 18%, 67%); }
    .lighthouseCentre { fill: hsl(124, 13%, 56%); }
    .lighthouseOuter { fill: hsl(109, 23%, 72%); }
}
