.goldenGateBackdrop {
    .suspenders { fill: hsla(0, 83%, 88%, 0.5); }
}

.shoreRickshawBackdrop {
    .lighthouseInner { fill: hsl(120, 18%, 67%); }
    .lighthouseCentre { fill: hsl(124, 13%, 56%); }
    .lighthouseOuter { fill: hsl(109, 23%, 72%); }
}
