.messengerBag#{$suffix} {
    .bagStrapDark { fill: hsl(210, 24%, 52%); }
    .bagStrapLight { fill: hsl(210, 24%, 62%); }
    .bagDark { fill: hsl(210, 40%, 58%); }
    .bagMedium { fill: hsl(210, 47%, 62%); }
    .bagLight { fill: hsl(211, 56%, 66%); }
}