.youngBackpack#{$suffix} {
    .backpackInner { fill: hsl(200, 26%, 41%); }
    .backpackDark { fill: hsl(210, 33%, 57%); }
    .backpackMedium { fill: hsl(210, 37%, 60%); }
    .backpackLight { fill: hsl(210, 42%, 62%); }
    .backpackStrap { fill: hsl(200, 20%, 57%); }
    .backpackPocket { fill: hsl(200, 22%, 48%); }
}