.lizFuture#{$suffix} {
    .lizShirt { fill: hsl($hue__future, 28%, 57%); }
    .lizShirtCollar { fill: hsl($hue__future, 32%, 62%); }
    .lizJeans { fill: hsl($hue__future, 12%, 54%); }
    .lizJeansCuff { fill: hsl($hue__future, 14%, 62%); }
    .lizShoe { fill: hsl($hue__future, 18%, 48%); }
}