.lizCouch {
    .shadow {
        fill: #332c3a;
    }

    .foot {
        fill: #51483a;
    }

    .pillowSurface {
        fill: #645b6b;
    }

    .pillowEdge {
        fill: #584f60;
    }

    .skirt {
        fill: #52495b;
    }

    .weltDisplayLine {
        stroke: #3b343f;
    }

    .cushion {
        fill: #776882;
    }
}