.lizCouch {
    .shadow {
        fill: #332c3a;
    }

    .foot {
        fill: #51483a;
    }

    .pillowSurface {
        fill: #645b6b;
    }

    .pillowEdge {
        fill: #584f60;
    }

    .skirt {
        fill: #52495b;
    }

    .weltDisplayLine {
        stroke: #3b343f;
    }

    .cushion {
        fill: #776882;
    }
}

.khariAttackSpeech {
    .ground {
        fill: #8c763c;
    }

    .wall {
        fill: #b5974b;
    }

    .cutout {
        fill: #b8b8a7;
    }

    .supportFront {
        fill: #bebfa1;
    }

    .supportSide {
        fill: #9b9c84;
    }

    .mount {
        fill: #80868f;
    }

    .shutter {
        fill: #52565c;
    }

    .stageLightSide {
        fill: #696e75;
    }

    .stageLightTop {
        fill: #727880;
    }

    .stephanieShoe {
        fill: #827967;
    }

    .stephanieDress {
        fill: #c971c2;
    }

    .khariPants {
        fill: #7bb87b;
    }

    .khariShoe {
        fill: #595344;
    }

    .khariVest {
        fill: #a9ba68;
    }
}

.lizDefenceSpeech {
    .ground {
        fill: #4a5b69;
    }

    .wall {
        fill: #7d97b0;
    }

    .monitorSide {
        fill: #3c3f4a;
    }

    .monitorFront {
        fill: #575b6b;
    }

    .coneOuter {
        fill: #e8e8e8;
    }

    .coneInner {
        fill: #484c59;
    }

    .amyBoot {
        fill: #86618f;
    }

    .amySkirt {
        fill: #518bad;
    }

    .amyShirt {
        fill: #f8ffba;
    }
}