@import './icon';
@import './font';

// This is based on just eyeballing it until it looked right. Includes padding.
$height__annotationTitle: 18px;

$padding__annotationCard: $margin__thick;

$baseWidth__annotationCard: 354px;
$width__annotationCard:
    $baseWidth__annotationCard
    + $padding__annotationCard * 2;

$width__annotationCard__mini:
    $baseWidth__annotationCard
    * $multiplier__fontSize__mini
    + $padding__annotationCard * 2;

$width__annotationCard__phone:
    $baseWidth__annotationCard
    * $multiplier__fontSize__phone
    + $padding__annotationCard * 2;