/* App. */
$HUE_PAST: 36;
$HUE_PRESENT: 156;
$HUE_FUTURE: 276;
$HUE_MAGIC: 125;

$hue__playing: 156;
$hue__paused: 216;

$hue__backstory: $HUE_PAST;
$hue__narrative: $HUE_PRESENT;
$hue__observation: 236;
$hue__pun: 196;
$hue__reference: 66;
$hue__wormhole: 106;
$hue__songcraft: 356;
$hue__afterword: $HUE_FUTURE;

$hue__link: 6;
$hue__select: 66;
$hue__access: 126;
$hue__interact: 186;

$hue__masks: 48;

/* Presence. */
$HUE_BENNETT_ROOM: 15;
$HUE_FAMILY: 60;
$HUE_LIZ_ROOM: 182;
$HUE_APARTMENT: 330;

$HUE_BENNETT_LINENS: 4;
$HUE_WAITING: 43;
$hue__hospital__linens: 54;
$hue__attic__linens: 90;
$HUE_MIRIAM_LINENS: 75;
$hue__taiwan__linens: 214;
$HUE_LIZ_LINENS: 205;

$HUE_OCEAN: 204;
$HUE_ROOF: 7;
$HUE_SAND: 60;
$HUE_SNOW: 186;
$HUE_TENNIS: 220;