$length__iconSmall: 28px;
$length__iconSmaller: 24px;
$length__iconAccess: 20px;

$LENGTH_ICON: 44px;
$LENGTH_ICON_LARGE: 54px;
$LENGTH_ICON_LARGE_TABLET: 50px;
$LENGTH_ICON_LARGE_MINI: 47px;

$MARGIN_THIN: 4px;
$margin__thick: 12px;

// Dot diameters.
$length__annotationDot: $length__iconSmaller;
$length__lyricSequenceDot: 0.9em;
