.sashaPast#{$suffix} {
    .sashaHairTie { fill: hsl($HUE_PAST, 41%, 57%); }
    .sashaShirt { fill: hsl($HUE_PAST, 40%, 78%); }
    .birthrightLight { fill: hsl($HUE_PAST, 32%, 55%); }
    .birthrightDark { fill: hsl($HUE_PAST, 32%, 38%); }

    .sashaPants { fill: hsl($HUE_PAST, 27%, 59%); }
    .sashaSock { fill: hsl($HUE_PAST, 27%, 65%); }
    .sashaShoe { fill: hsl($HUE_PAST, 7%, 48%); }
}