.cinemaThoughtBuying {
    .floor { fill: hsl(90, 17%, 53%); }
    .wall { fill: hsl(91, 33%, 70%); }
    .posterLeft { fill: hsl(221, 27%, 51%); }
    .posterRight { fill: hsl(262, 27%, 51%); }
    .albumRightTop { fill: hsl(16, 36%, 61%); }
    .albumLeftTop { fill: hsl(62, 36%, 61%); }
    .pileSide { fill: hsl(64, 15%, 59%); }
    .pileTop { fill: hsl(64, 18%, 64%); }
    .albumRightBottom { fill: hsl(112, 36%, 61%); }
    .yearlingsAlbum { fill: hsl(193, 36%, 61%); }
    .standFront { fill: hsl(58, 21%, 52%); }
    .standSide { fill: hsl(58, 19%, 40%); }
    .binFront { fill: hsl(58, 30%, 61%); }
    .binSide { fill: hsl(58, 25%, 57%); }
    .mask { fill: hsl(48, 25%, 72%); }
    .albumHeld { fill: hsl(333, 34%, 62%); }
}

.cinemaThoughtRecording {
    .wall { fill: hsl(193, 19%, 61%); }
    .floor { fill: hsl(190, 13%, 36%); }
    .popScreen { fill: hsla(240, 20%, 49%, 0.5); }
    .popScreenHolder { fill: hsl(245, 11%, 41%); }
    .fader { fill: hsl(161, 16%, 69%); }
    .consoleScreen { fill: hsl(161, 12%, 58%); }
    .consoleBody { fill: hsl(162, 10%, 54%); }
    .consolePanel { fill: hsl(161, 9%, 53%); }
}

.khariSpeechAttack {
    .ground { fill: hsl(44, 23%, 41%); }
    .wall { fill: hsl(198, 38%, 62%); }
    .cutout { fill: hsl(60, 11%, 69%); }
    .supportFront { fill: hsl(62, 19%, 69%); }
    .supportSide { fill: hsl(63, 11%, 56%); }
    .mount { fill: hsl(216, 6%, 53%); }
    .shutter { fill: hsl(216, 6%, 34%); }
    .stageLightSide { fill: hsl(215, 5%, 44%); }
    .stageLightTop { fill: hsl(214, 6%, 47%); }
    .stephanieShoe { fill: hsl(40, 12%, 46%); }
    .stephanieDress { fill: hsl(305, 35%, 62%); }
    .khariPants { fill: hsl(120, 30%, 60%); }
    .khariShoe { fill: hsl(43, 13%, 31%); }
    .khariVest { fill: hsl(72, 37%, 57%); }
}

.lizSpeechDefence {
    .ground { fill: hsl(36, 13%, 46%); } // ~ old floor hsla.
    .stripePrimary { fill: hsl(355, 23%, 65%); } // ~ club side primary hsla.
    .stripeSecondary { fill: hsl(55, 21%, 58%); } // ~ club side secondary hsla.
}

.lizThoughtReunion {
    .cloud { fill: hsl(209, 11%, 47%); }
}

.waitingThoughtStudying {
    .floor { fill: hsl(103, 13%, 41%); }
    .wall { fill: hsl(103, 19%, 61%); }
    .chairSeat { fill: hsl(101, 10%, 43%); }
}
