.cinemaThoughtBuying {
    .floor { fill: hsl(90, 17%, 53%); }
    .wall { fill: hsl(91, 33%, 70%); }
    .posterLeft { fill: hsl(221, 27%, 51%); }
    .posterRight { fill: hsl(262, 27%, 51%); }
    .albumRightTop { fill: hsl(16, 36%, 61%); }
    .albumLeftTop { fill: hsl(62, 36%, 61%); }
    .pileSide { fill: hsl(64, 15%, 59%); }
    .pileTop { fill: hsl(64, 18%, 64%); }
    .albumRightBottom { fill: hsl(112, 36%, 61%); }
    .yearlingsAlbum { fill: hsl(193, 36%, 61%); }
    .mask { fill: hsl(48, 25%, 72%); }
    .albumHeld { fill: hsl(333, 34%, 62%); }
}

.cinemaThoughtRecording {
    .wall { fill: hsl(193, 19%, 61%); }
    .floor { fill: hsl(190, 13%, 36%); }
    .popScreen { fill: hsla(240, 20%, 49%, 0.5); }
    .popScreenHolder { fill: hsl(245, 11%, 41%); }
    .fader { fill: hsl(161, 16%, 69%); }
    .consoleScreen { fill: hsl(161, 12%, 58%); }
    .consoleBody { fill: hsl(162, 10%, 54%); }
    .consolePanel { fill: hsl(161, 9%, 53%); }
}

.khariSpeechAttack {
    .ground { fill: hsl(44, 23%, 41%); }
    .wall { fill: hsl(0, 20%, 62%); }
    .stephanieShoe { fill: hsl(40, 12%, 46%); }
    .stephanieDress { fill: hsl(305, 35%, 62%); }
    .khariShoe { fill: hsl(43, 13%, 31%); }
}

.lizSpeechDefence {
    .ground { fill: hsl(36, 13%, 46%); } // ~ old floor hsla.
    .stripePrimary { fill: hsl(355, 23%, 65%); } // ~ club side primary hsla.
    .stripeSecondary { fill: hsl(55, 21%, 58%); } // ~ club side secondary hsla.
}

.waitingThoughtStudying {
    .floor { fill: hsl(103, 13%, 41%); }
    .wall { fill: hsl(103, 19%, 61%); }
    .chairSeat { fill: hsl(101, 10%, 43%); }
}
