.cinemaThoughtRecording {
    .wall { fill: hsl(193, 19%, 61%); }
    .floor { fill: hsl(190, 13%, 36%); }
    .popScreen { fill: hsla(240, 20%, 49%, 0.5); }
    .popScreenHolder { fill: hsl(245, 11%, 41%); }
    .fader { fill: hsl(161, 16%, 69%); }
    .consoleScreen { fill: hsl(161, 12%, 58%); }
    .consoleBody { fill: hsl(162, 10%, 54%); }
    .consolePanel { fill: hsl(161, 9%, 53%); }
}

.lizSpeechDefence {
    .ground { fill: hsl(36, 13%, 46%); } // ~ old floor hsla.
    .stripePrimary { fill: hsl(355, 23%, 65%); } // ~ club side primary hsla.
    .stripeSecondary { fill: hsl(55, 21%, 58%); } // ~ club side secondary hsla.
}

.waitingThoughtStudying {
    .floor { fill: hsl(103, 13%, 41%); }
    .wall { fill: hsl(103, 19%, 61%); }
    .chairSeat { fill: hsl(101, 10%, 43%); }
}
