.About__albumTitle {
    line-height: 1em;
    font-size: 3em;

    .DW__miniWidth
    & {
        font-size: 2.5em;
    }

    .DW__phoneWidth
    & {
        font-size: 2em;
    }
}

.About__bandName {
    font-size: 1.5em;
}
