// Skews darker.
.rubber#{$suffix} {
    // .rubberDarkest { fill: hsl(240, 3%, 17%); }
    // .rubberDarker { fill: hsl(240, 3%, 22%); }
    .rubberDark { fill: hsl(240, 3%, 27%); }
    // .rubberMediumDark { fill: hsl(240, 3%, 32%); }
    // .rubberMedium { fill: hsl(240, 3%, 37%); }
    // .rubberMediumLight { fill: hsl(240, 3%, 42%); }
    // .rubberLight { fill: hsl(240, 3%, 47%); }
    // .rubberLighter { fill: hsl(240, 3%, 52%); }
    // .rubberLightest { fill: hsl(240, 3%, 57%); }
}
