.oaklandHouse#{$suffix} {
    .leaves { fill: #376e37; }
    .trunk { fill: #8b7d56; }
    .trimFront { fill: #ad8757; }
    .trimSide { fill: #94754e; }
    .door { fill: #755f43; }
    .stepFront { fill: #868fba; }
    .stepSide { fill: #687091; }
    .windowFront { fill: #6fd0d6; }
    .windowSide { fill: #66bfc4; }
    .windowDisplayLine { stroke: #396c6e; }
    .bushRear { fill: #417849; }
    .bushFront { fill: #4b8a54; }
    .topiaryRear { fill: #609e5f; }
    .topiaryFront { fill: #6bb06a; }
    .roofSide { fill: #966; }
    .roofBelow { fill: #825757; }
    .roofTop { fill: #b06d6d; }
}

.oaklandHouseLeft#{$suffix} {
    .wallFront { fill: #c69bc7; }
    .wallSide { fill: #ac87ad; }
    .bayWallFront { fill: #b799ab; }
    .bayWallSide { fill: #a68a94; }
}

.oaklandHouseRight#{$suffix} {
    .wallFront { fill: #c69bc7; }
    .wallSide { fill: #ac87ad; }
    .bayWallFront { fill: #b799ab; }
    .bayWallSide { fill: #a68a94; }
}