.BennettOdinBuoy {
    .poleBack {
        fill: #009245;
    }

    .poleFront {
        fill: #39b54a;
    }

    .buoyInner {
        fill: #fcee21;
    }

    .buoyOuter {
        fill: #9e005d;
    }

    .water {
        fill: #0071bc;
    }

}

.YellowTapedGrill {
    .tapeBottom {
        fill: #cc3;
    }

    .pole {
        fill: #666;
    }

    .tapeTop {
        fill: #990;
    }

    .grillEdge {
        fill: #cc9;
    }

    .grillOuterSide {
        fill: #996;
    }

    .grillInnerSide {
        fill: #663;
    }

    .grillBack {
        fill: #330;
    }

    .coal {
        fill: #333;
    }

    .handle {
        fill: #999;
    }

    .handleLine {
        stroke: #666;
    }

    .rack {
        fill: #ccc;
    }

    .rackLine {
        stroke: #bbb;
    }
}