.shoreBuoyBackdrop {
    .shore { fill: #b7b3a1; }
    .mountain { fill: #936492; }
    .ocean { fill: #71d8ce; }
}

.yellowTapedGrill {
    .pole { fill: gray; }
    .tapeDark { fill: #99994e; }
    .tapeLight { fill: #abab55; }
    .grillInnerLight { fill: #7e826b; }
    .grillInnerDark { fill: #717560; }
    .grillLight { fill: #7d9996; }
    .grillMedium { fill: #6f8784; }
    .grillDark { fill: #607573; }
    .coal { fill: #5c5c54; }
    .rack { fill: #999989; }
    .handle { fill: #899399; }
}

.rollerCoaster {
    .platformBack { fill: rgba(150, 100, 50, 0.5); }
    .trackBack { fill: #666; }
    .platformFront { fill: rgba(200, 150, 100, 0.5); }
    .trackFront { fill: #999; }
    .flag { fill: #f6c; }
}

.ferrisWheel {
    .tower { fill: #666; }
    .towerLeftTopBottom { fill: #963; }
    .towerLeftFront { fill: #c96; }
    .tentTopLight { fill: #ccc; }
    .spokes { fill: rgba(150, 100, 50, 0.5); }
    .car { fill: #393; }
    .wheel { fill: #696; }
    .support { fill: #0071bc; }
    .base { fill: #29abe2; }
    .hub { fill: #00a99d; }
    .tentRightWall { fill: #939; }
    .tentWallLight { fill: #996; }
    .tentLeftWall { fill: #36c; }
    .towerRightTop { fill: #39c; }
    .tentRightTop { fill: #c66; }
    .tentLeftTop { fill: #96c; }
    .towerRightFront { fill: #069; }
    .tentRightFront { fill: #933; }
    .tentLeftFront { fill: #93c; }
    .tentFrontLight { fill: #999; }
}