.SceneSky,
.StageSkyFilter {
    width: 100%;
    height: 100%;
}

.StageSkyFilter {
    position: absolute;
    top: 0;
    left: 0;

    transition: fill @animationDuration__slow;
}

.StageSkyFilter__season__indoor {
    fill: #444;
}

.StageSkyFilter__season__spring {
    fill: #ddf;
}

.StageSkyFilter__season__summer {
    fill: #eef;
}

.StageSkyFilter__season__autumn {
    fill: #cce;
}

.StageSkyFilter__season__winter {
    fill: #bbd;
}

.StageSkyFilter__time__anytime {
    fill: none;
}

.StageSkyFilter__time__morning {
    fill: rgba(100, 100, 50, 0.05);
}

.StageSkyFilter__time__noon {
    fill: rgba(100, 100, 50, 0.05);
}

.StageSkyFilter__time__afternoon {
    fill: rgba(100, 100, 50, 0.05);
}

.StageSkyFilter__time__evening {
    fill: rgba(100, 100, 50, 0.05);
}

.StageSkyFilter__time__night {
    fill: rgba(100, 100, 50, 0.05);
}