.Sky {
    transition:
        background-color @animationDuration__slow;
}

.Sky__season__indoor {
    background-color: #444;
}

.Sky__season__spring {
    background-color: #ddf;
}

.Sky__season__summer {
    background-color: #eef;
}

.Sky__season__autumn {
    background-color: #cce;
}

.Sky__season__winter {
    background-color: #bbd;
}

.Sky__time__anytime {
    background-color: none;
}

.Sky__time__morning {
    background-color: rgba(100, 100, 50, 0.05);
}

.Sky__time__noon {
    background-color: rgba(100, 100, 50, 0.05);
}

.Sky__time__afternoon {
    background-color: rgba(100, 100, 50, 0.05);
}

.Sky__time__evening {
    background-color: rgba(100, 100, 50, 0.05);
}

.Sky__time__night {
    background-color: rgba(100, 100, 50, 0.05);
}