@import "./SceneSky.less";
@import "./ScenePlane.less";

@import "./Action/Action.less";
@import "./Tiles/Tiles.less";
@import "./Wood/Wood.less";

.Scene {
    position: relative;
    width: 100%;
    height: 100%;
}
