@import "./Layers/Layers.less";
@import "./SceneSky.less";
@import "./SceneWood.less";

@import "./Presences/Presence.less";
@import "./Cubes/Cubes.less";

.Scene {
    position: relative;
    width: 100%;
    height: 100%;
}
