@import "./Book/style";

.NavColumn {
    position: absolute;
    height: $js__height__nav;

    opacity: 0;

    .DW__desktopWidth
    & {
        bottom: -$js__height__nav;
    }

    .DW__userAgentDesktop.DW__desktopWidth
    & {
        transition:
            bottom $animationDuration__default,
            opacity $animationDuration__default;
    }

    .DW__miniOrTabletWidth
    & {
        top: -$js__height__nav;
    }

    .DW__userAgentDesktop.DW__miniOrTabletWidth
    & {
        transition:
            top $animationDuration__default,
            opacity $animationDuration__default;
    }
}

.NavColumn__right {
    right: 0;
    margin-right: $js__margin__navLastTitle;

    .DW__miniOrTabletWidth
    & {
        margin-right: 0;
    }
}

.RW__carouselNavShowable
.ShW__navExpanded
.TrW__canLyricCarouselEnter {

    .DW__miniOrTabletWidth
    & {
        .NavColumn {
            opacity: 1;
            top: 0;
        }
    }

    .DW__desktopWidth
    & {
        .NavColumn {
            bottom: 0;
            opacity: 1;
        }
    }
}
