@import '../../../scss/constants/icon';
@import '../../../scss/constants/nav';
@import '../../../scss/constants/transition';

.NavColumn {
    position: absolute;
    height: $HEIGHT_NAV;

    opacity: 0;

    .VW__desktopWidth
    & {
        bottom: -$HEIGHT_NAV;
    }

    .DW__userAgentDesktop
    .VW__desktopWidth
    & {
        transition:
            bottom $transitionDuration__default,
            opacity $transitionDuration__default;
    }

    .VW__miniOrTabletWidth
    & {
        top: -$HEIGHT_NAV;
    }

    .DW__userAgentDesktop
    .VW__miniOrTabletWidth
    & {
        transition:
            top $transitionDuration__default,
            opacity $transitionDuration__default;
    }
}

.NavColumn__right {
    right: 0;
    margin-right: 0;

    .VW__miniOrTabletWidth
    & {
        margin-right: 0;
    }
}

.RW__navShowable
.ShW__navExpanded
.TrW__isSongChangeDone {

    .VW__miniOrTabletWidth
    & {
        .NavColumn {
            opacity: 1;
            top: 0;
        }
    }

    .VW__desktopWidth
    & {
        .NavColumn {
            bottom: 0;
            opacity: 1;
        }
    }
}
