@import "./Book/style";

.NavColumn,
.NavBook {
    position: absolute;
}

.NavColumn {
    height: $js__height__nav;
    opacity: 0;

    .DW__desktop
    & {
        transition:
            bottom $animationDuration__fast,
            opacity $animationDuration__fast;

        bottom: -$js__height__nav;
    }

    .DW__mobileNotPhone
    & {
        transition:
            top $animationDuration__fast,
            opacity $animationDuration__fast;

        top: -$js__height__nav;
    }

    .DW__mobile
    .RW__twoRowMenu
    & {
        top: -$js__height__nav - $js__height__banner__twoRowMenu__truncated;
    }
}

.NavColumn__right {
    right: 0;
    margin-right: $js__margin__navLastTitle;

    .DW__mobileNotPhone
    & {
        margin-right: 0;
    }
}

// Hide both carousel and nav in logues.
.RW__carouselNavShowable
.ShW__navExpanded
.TrW__canLyricCarouselEnter {

    .NavColumn {
        opacity: 1;
    }

    .DW__mobileNotPhone
    & {
        .NavColumn {
            top: 0;
        }
    }

    .DW__desktop
    & {
        .NavColumn {
            bottom: 0;
        }
    }
}
