.blackDarkest { fill: hsl(0, 0%, 17%); }
// .blackDarker { fill: hsl(0, 0%, 22%); }
.blackDark { fill: hsl(0, 0%, 27%); }
.blackMediumDark { fill: hsl(0, 0%, 32%); }
.blackMedium { fill: hsl(0, 0%, 37%); }
// .blackMediumLight { fill: hsl(0, 0%, 42%); }
.blackLight { fill: hsl(0, 0%, 47%); }
.blackLighter { fill: hsl(0, 0%, 52%); }

.darken__parent
.darken#{$suffix} {
    .blackMediumDark { fill: hsl(0, 0%, 21%); }
    .blackLight { fill: hsl(0, 0%, 29%); }
}