@import '../../scss/constants/colour';
@import '../../scss/constants/icon';

.MarketingContainer {
    flex-direction: column;

    padding-left: $margin__thick;
    padding-right: $margin__thick;

    background-color: $colour__background;
}
