.lyric-column {
    transition: height @animation-default, background-image @animation-default;

    // Keeps elements inside window!
    overflow: hidden;

    @access-icons-block-margin: 10px;

    .left-right-enter, .access-icons-block.up-down {
        position: absolute;
        bottom: @access-icons-block-margin;
    }

    .left-right-enter {
        left: @access-icons-block-margin;
        display: flex;
    }

    .access-icons-block {
        z-index: @lyric-access-icons-z-index;

        &.up-down {
            right: @access-icons-block-margin;
        }

        &.left-right, &.enter {
            position: initial;
        }

        &.enter {
            margin-left: @access-icons-block-margin;
        }
    }
}

.is-song {
    .lyric-column {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: @lyric-column-z-index;
    }
}

.is-mobile {

    &.is-song {
        &.lyric-expanded {
            .lyric-column {
                height: ~"calc(100% - @{menu-height})";
            }
        }
    }

    &.heightless-lyric {
        .lyric-column {
            height: 0;
        }
    }

    @phone-lyric-column-subtraction: @menu-phone-height + @audio-banner-custom-subfield-height + @audio-banner-custom-subfield-padding * 2;

    &.phone-width {
        &.is-song {
            &.lyric-expanded {
                .lyric-column {
                    height: ~"calc(100% - @{phone-lyric-column-subtraction})";
                }
            }
        }
    }
}

.lyric-column-animatable {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    display: flex;
    justify-content: center;

    transition: opacity @animation-default,
                transform @animation-default;
}

.is-logue {
    .lyric-column-animatable {
        opacity: 0;
        // transform: scale(1.3);
    }
}

.is-song {
    .render-unready {
        .lyric-column-animatable {
            opacity: 0;
        }
    }

    .render-ready {
        .lyric-column-animatable {
            opacity: 1;
        }
    }
}

/** Gradient mask does not work in IE or Edge. */
@lyric-collapsed-gradient: linear-gradient(
    0deg,
    black,
    black 90%,
    transparent
);

.is-mobile {
    &.lyric-collapsed {
        .lyric-collapsed-gradient-mask {
            // Not taken care of by autoprefixer, unfortunately.
            -webkit-mask-image: @lyric-collapsed-gradient;
            mask-image: @lyric-collapsed-gradient;
        }
    }
}