.lyric-column {
    transition: height @animation-default;

    // Keeps elements inside window!
    overflow: hidden;
}

.is-song {
    .lyric-column {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: @lyric-column-z-index;
    }
}

.is-desktop {
    .lyric-column {
        width: @golden-cord-width;
    }

    &.laptop-width {
        .lyric-column {
            width: @uncanny-valley-width;
        }
    }

    &.is-song {
        .lyric-column {

            // TODO: Don't hard code.
            background-image: linear-gradient(
                to right,
                rgba(200, 200, 200, 0),
                rgba(200, 200, 200, 0.95) 20%,
                rgba(200, 200, 200, 0.95) 80%,
                rgba(200, 200, 200, 0.5)
            );
        }
    }
}

.is-mobile {
    .lyric-column {
        height: @collapsed-lyric-section-height;
        width: 100%;
        bottom: 0;
    }

    &.is-song {
        &.lyric-expanded {
            .lyric-column {
                height: ~"calc(100% - @{menu-height})";
            }
        }
    }

    &.heightless-lyric {
        .lyric-column {
            height: 0;
        }
    }

    @phone-lyric-column-subtraction: @menu-phone-height + @audio-banner-custom-subfield-height + @audio-banner-custom-subfield-padding * 2;

    &.phone-width {
        &.is-song {
            &.lyric-expanded {
                .lyric-column {
                    height: ~"calc(100% - @{phone-lyric-column-subtraction})";
                }
            }
        }
    }
}

.lyric-column-animatable {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    display: flex;
    justify-content: center;

    transition: opacity @animation-default, transform @animation-default;
}

.is-song {
    .lyric-column-animatable {
        transform: scale(1);
    }
}

.is-logue {
    .lyric-column-animatable {
        opacity: 0;
        transform: scale(1.3);
    }
}

// Fade top in mobile.
.is-mobile {
    &.lyric-collapsed {
        .lyric-collapsed-fade-top {
            position: absolute;
            top: 0;
            height: @lyric-block-top-padding;
            width: 100%;
            z-index: @lyric-column-fade-top-z-index;

            // TODO: Don't hard code.
            background-image: linear-gradient(
                rgba(200, 200, 200, 1),
                rgba(200, 200, 200, 0)
            );
        }
    }
}
