.lyric-column {
    transition: height @animation-default, background-image @animation-default;

    // Keeps elements inside window!
    overflow: hidden;
}

.is-song {
    .lyric-column {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: @lyric-column-z-index;
    }
}

.lyric-column-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity @animation-default;

    // TODO: Don't hard code.
    background-image: linear-gradient(
        to right,
        rgba(200, 200, 200, 0),
        rgba(200, 200, 200, 0.95) 20%,
        rgba(200, 200, 200, 0.95) 80%,
        rgba(200, 200, 200, 0.5)
    );
}

.is-desktop,
.is-mobile.lyric-expanded {
    .lyric-column-gradient {
        opacity: 1;
    }
}

.is-mobile {

    &.is-song {
        &.lyric-expanded {
            .lyric-column {
                height: ~"calc(100% - @{menu-height})";
            }
        }
    }

    &.heightless-lyric {
        .lyric-column {
            height: 0;
        }
    }

    @phone-lyric-column-subtraction: @menu-phone-height + @audio-banner-custom-subfield-height + @audio-banner-custom-subfield-padding * 2;

    &.phone-width {
        &.is-song {
            &.lyric-expanded {
                .lyric-column {
                    height: ~"calc(100% - @{phone-lyric-column-subtraction})";
                }
            }
        }
    }
}

.lyric-column-animatable {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    display: flex;
    justify-content: center;

    transition: opacity @animation-default,
                transform @animation-default;
}

.is-logue {
    .lyric-column-animatable {
        opacity: 0;
        // transform: scale(1.3);
    }
}

.is-song {
    .lyric-column-animatable {
        // transform: scale(1);

        &.render-unready {
            opacity: 0;
        }

        &.render-ready {
            opacity: 1;
        }
    }
}

// Fade top in mobile.
.is-mobile {
    &.lyric-collapsed {
        .lyric-collapsed-fade-top {
            position: absolute;
            top: 0;
            height: @lyric-block-top-padding;
            width: 100%;
            z-index: @lyric-column-fade-top-z-index;

            // TODO: Don't hard code.
            background-image: linear-gradient(
                rgba(200, 200, 200, 1),
                rgba(200, 200, 200, 0)
            );
        }
    }
}
