.lyric-unit {
    display: flex;
    justify-content: center;
    font-size: @lyric-verse-size;

    /**
     * Apply margin top to stanza block rather than lyrics unit, so that
     * bottom dot stanza can override it when faded out.
     */
    &:not(:first-child):not(.subsequent) {
        .stanza-block:not(.dot-stanza) {
            margin-top: @lyric-unit-margin;
        }
    }

    &.subsequent {
        .stanza-block {
            margin-top: @lyric-unit-margin - @stanza-type-tab-height - 2.5px;
        }
    }

    // These styles are just for dev purposes.
    // &.verse-before-unit {
    //     background-color: rgba(240, 200, 200, 0.5);
    // }
    //
    // &.verse-after-unit {
    //     background-color: rgba(240, 240, 200, 0.5);
    // }
    //
    // &.verse-in-unit {
    //     background-color: rgba(200, 200, 240, 0.5);
    // }

    &.scene-1 {
        background-color: rgba(240, 200, 200, 0.5);
    }

    &.scene-2 {
        background-color: rgba(200, 240, 200, 0.5);
    }

    &.scene-3 {
        background-color: rgba(200, 200, 240, 0.5);
    }

    &.scene-4 {
        background-color: rgba(240, 240, 200, 0.5);
    }

    &.scene-5 {
        background-color: rgba(200, 240, 240, 0.5);
    }

    &.scene-6 {
        background-color: rgba(240, 200, 240, 0.5);
    }

    &.scene-7 {
        background-color: rgba(240, 240, 160, 0.5);
    }

    &.scene-8 {
        background-color: rgba(160, 240, 240, 0.5);
    }

    &.scene-9 {
        background-color: rgba(240, 160, 240, 0.5);
    }

    &.scene-10 {
        background-color: rgba(240, 200, 160, 0.5);
    }

    &.scene-11 {
        background-color: rgba(160, 240, 200, 0.5);
    }

    &.scene-12 {
        background-color: rgba(200, 160, 240, 0.5);
    }
}

.title-unit {
    font-size: @lyric-title-size;

    .stanza {

        @title-verse-padding: 15px;

        .verse {
            padding: @title-verse-padding;

            .verse-audio-button-block {
                margin-top: -@title-verse-padding;
            }
        }
    }
}

.stanza-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    /**
     * Limit width of stanzas when lyric column is full width of screen.
     * This is necessary for Vegan Proclamation. This value doesn't affect
     * the layout anywhere else.
     */
    max-width: 640px;

    // Dots stanza will have this style only if not hidden.
    &:not(.dot-stanza):not(:first-child) {
        margin-left: @stanza-block-margin;
    }

    &.main {
        // Account for verse audio button and its box shadow.
        padding-left: @verse-padding + 5px;
    }

    &.side {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.bottom-only {
            justify-content: flex-end;
        }
    }

    .sub-block {
        margin-top: -@stanza-overlap-margin;
        display: flex;
    }
}

// TODO: Can these be animated?
// Rules to show or hide stanzas when only one lyric column is shown.
.show-only-left {

    .stanza-block {

        // Hide side stanzas when only left lyric column is shown.
        &.side {
            display: none;
        }
    }
}

@custom-sub-block-side-padding: 15%;
@stanza-overlap-margin: 6.5px;

.custom-sub-block {
    &.left {
        padding-right: @custom-sub-block-side-padding;
    }
    &.overlap {
        margin-top: -@stanza-overlap-margin;
    }
}

.stanza-block:not(.side) {
    .custom-sub-block {
        &.right {
            padding-left: @custom-sub-block-side-padding;
        }
    }
}

// Make font size smaller in mini and phone.
.mini-width {
    .lyric-unit, .verse-bar-block, .annotation-card {
        font-size: @mini-verse-size;
    }

    .title-unit {
        font-size: @mini-title-size;
    }
}

.phone-width {
    .lyric-unit, .verse-bar-block, .annotation-card {
        font-size: @phone-verse-size;
    }

    .title-unit, .annotation-title {
        font-size: @phone-title-size;
    }
}
