@import '../../scss/constants/transition';

.Presence {
    opacity: 0;
    & * {
        transition:
            fill $TRANSITION_DURATION_PRESENCE,
            stroke $TRANSITION_DURATION_PRESENCE;
    }

    .PresenceContainer__shown
    & {
        opacity: 1;
    }
}

// For wires.
.opacity__transition {
    :not(.PresenceContainer__shown)
    > & {
        opacity: 0;
    }
}

.top__transition {
    :not(.PresenceContainer__shown)
    > & {
        top: 0 !important;
    }
}

.left__transition {
    :not(.PresenceContainer__shown)
    > & {
        left: 0 !important;
    }
}

.right__transition {
    :not(.PresenceContainer__shown)
    > & {
        left: 100% !important;
    }
}

.path__transition {
    :not(.PresenceContainer__shown)
    > & {
        opacity: 0;
    }
}
