// .earthDarkest { fill: hsl(41, 11%, 37%); }
// .earthDarker { fill: hsl(41, 11%, 42%); }
.earthDark { fill: hsl(41, 11%, 47%); }
.earthMediumDark { fill: hsl(41, 11%, 52%); }
// .earthMedium { fill: hsl(41, 11%, 57%); }
// .earthMediumLight { fill: hsl(41, 11%, 62%); }
// .earthLight { fill: hsl(41, 11%, 67%); }
