.peopleLizShared {
    .lizShoe { fill: #706552; }
    .lizPanties { fill: #8dc4aa; }
    .lizPants { fill: #4a4870; }
    .lizJacket { fill: #60a387; }
    .lizLapel { fill: #72b398; }
    .lizShirt { fill: #bce3d5; }
}