@import '../../scss/classes/mixin';
@import '../../scss/constants/colour';
@import '../../scss/constants/zIndex';

.Verse__noIndexColour {
    /**
     * These styles are for verses without a verse index, that don't need the
     * added complexity of a VerseColour component, but still need to be styled
     * similarly for consistency.
     */

     // Default side verse.
     background-color: $colour__neutral__light;

    .TW__showPastFutureLyrics
    & {
        // Slider side verse.
        background-color: $colour__neutral__dark;
        @include mixin__textAndLinkColours($light: true);
    }
}

.Verse__notCursor {
    // When lyrics are locked and scrolling, all verses have light text.
    .TW__showPastFutureLyrics.TW__isScrolling
    &.Verse,

    // When lyrics are locked and stationary, hovered verse has dark text.
    .TW__showPastFutureLyrics.TW__isStationary
    &:not(:hover),

    .TW__showPastFutureLyrics
    &.Verse__selected {
        @include mixin__textAndLinkColours($light: true);
    }
}

.Verse__cursor {
    z-index: $zIndex__lyricChild__topMost;
    
    .PlW__isPaused
    .TW__hidePastFutureLyrics
    & {
        @include mixin__textAndLinkColours($light: true);
    }
}
