.wade#{$suffix} {
    .wadeShirtInner { fill: hsl(348, 30%, 66%); }
    .wadeShirt { fill: hsl(348, 31%, 70%); }
    .wadePants { fill: hsl(36, 28%, 74%); }
    .wadeShoe { fill: hsl(33, 26%, 60%); }

    &.catholicGuy {
        .jacket { fill: hsl(213, 5%, 60%); }
        .jacketInner { fill: hsl(213, 4%, 49%); }
        .backpack { fill: hsl(53, 26%, 50%); }
        .backpackStrap { fill: hsl(53, 18%, 56%); }
        .pants { fill: hsl(31, 19%, 45%); }
        .shoe { fill: hsl(34, 5%, 74%); }
    }

    &.protester {
        .signDisplayLine { stroke: hsl(17, 42%, 35%); }
    }
}