.DotsSlideToggle {
    // Ensure toggle button is above its popup container and the carousel.
    z-index: $zIndex__centreFieldChild;

    transition: margin $animationDuration__default;

    .RM__overviewShown
    & {
        margin-left: -$width__overviewToggle;
    }
}
