.AudioBanner-custom-subfield {
    position: relative;
    top: 0;
    height: @AudioBanner-custom-subfield-height;
    z-index: @custom-AudioBanner-z-index;

    transition: top @animation-default;

    // Arbitrary values;
    padding: @AudioBanner-custom-subfield-padding 8px;

    .AudioBanner-block {
        width: 100%;
    }
}

.centre-field {
    overflow: visible;
}
