// These values *must* be the same in js.
@margin__menuChild: 10px;
@margin__menuChild__narrow: 3px;
@minWidth__childTitle: 72px;

@height__menu: 72px;
@height__menu__phone: @length__icon + 2 * @margin__menuChild__narrow;

.Menu__container,
.Menu {
    height: @height__menu;
}

.Menu__container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.Menu,
.Menu__child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu {
    background-color: #8dd;
    top: 0;
    left: 0;

    position: absolute;
    height: @height__menu;
    box-shadow: @boxShadow__menu;
    z-index: @zIndex__menuField;

    transition:
        left @animationDuration__slow,
        transform @animationDuration__slow,
        max-width @animationDuration__slow;

    ._overlayShown_
    &.width__mainColumn {
        max-width: @maxWidth__mini;

        left: 50%;
        transform: translateX(-50%);
    }

    ._phone_
    & {
        height: @height__menu__phone;
    }

}

.Menu__child {
    // overflow: hidden;

    // z-index: @zIndex__menuSubfield;
    flex-grow: 1;
}

.Menu__childTitle {
    min-width: @minWidth__childTitle;
    max-width: 200px; // Arbitrary.

    // Override.
    overflow: visible;

    ._titleInAudio_
    & {
        /**
         * Don't bother to show if title in audio. Child component also will
         * not be rendered.
         */
        display: none;
    }
}

.Menu__childAudio {
    flex-grow: 2;

    margin: 0 @margin__menuChild;
    background-color: #8d8;

    ._scoresTipsMain_
    & {
        // If scores tips is hidden, remove audio subfield's right margin.
        margin-right: 0;
    }

    ._titleInAudio_
    & {
        // If title is hidden, remove audio subfield's left margin.
        margin-left: 0;
    }

    ._laptop_
    &,
    ._mini_
    & {
        margin: 0 @margin__menuChild__narrow;
    }

    ._mobile_
    & {
        justify-content: flex-end;
    }
}

.Menu__childScoresTips {
    justify-content: flex-start;
    
    ._scoresTipsMain_
    & {
        /**
         * Don't bother to show if scores tips in main. Child component also
         * will not be rendered.
         */
        display: none;
    }
}
