// These values *must* be the same in js.
@menu-height: 72px;
@menu-phone-height: @app-icon-diameter + 2 * @menu-subfield-narrow-margin;
@menu-subfield-margin: 10px;
@menu-subfield-narrow-margin: 3px;
@title-subfield-min-width: 72px;

.MenuField, .menu-subfield {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MenuField {
    position: relative;
    height: @menu-height;
    // background-color: rgba(225, 255, 225, 0.5);
    box-shadow: @menu-box-shadow;
    top: 0;

    transition: top @animationDuration__default;

    // Needs to be above nav when nav buttons are hidden.
    z-index: @zIndex__menuField;
}

.menu-subfield {
    overflow: hidden;

    z-index: @zIndex__menuSubfield;
    flex-grow: 1;

    &.audio-subfield {
        flex-grow: 2;

        margin: 0 @menu-subfield-margin;
    }
}

.scores-tips-menu-subfield {
    justify-content: flex-start;
}

.title-menu-subfield {
    min-width: @title-subfield-min-width;
    max-width: 200px; // Arbitrary.

    // Override.
    overflow: visible;
    border-radius: 0;
}

.audio-subfield {
    background-color: #8d8;
}

._laptop_, ._mini_ {

    .menu-subfield {

        &.audio-subfield {
            margin: 0 @menu-subfield-narrow-margin;
        }
    }
}

._mobile_ {

    .scores-tips-menu-subfield {
        justify-content: flex-end;
    }
}

._phone_ {
    .MenuField {
        height: @menu-phone-height;
    }
}

._titleInAudio_ {

    /**
     * Don't bother to show if title in audio. Child component also will not be
     * rendered.
     */
    .title-menu-subfield {
        display: none;
    }

    .menu-subfield {
        border-radius: 0;

        // If title is hidden, remove audio subfield's left margin.
        &.audio-subfield {
            margin-left: 0;
        }
    }
}

._scoresTipsMain_ {

    /**
     * Don't bother to show if scores tips in main. Child component also will
     * not be rendered.
     */
    .scores-tips-menu-subfield {
        display: none;
    }

    // If scores tips is hidden, remove audio subfield's right margin.
    .menu-subfield {
        &.audio-subfield {
            margin-right: 0;
        }
    }
}
