@margin__overview: 5px;

.OverviewToggle {

    // .RM__desktop
    // &,
    // .RM__phone
    // & {
    //     // Give some room to menu above.
    //     margin-top: @margin__overview;
    // }

    // .RM__mobileNotPhone
    // & {
    //     // Give room to carousel horizontal scrollbar.
    //     margin-bottom: @margin__scrollbar;
    // }

    .RM__tablet
    & {
        height: @height__overviewToggle__tablet;
    }

    .RM__mini
    & {
        height: @height__overviewToggle__mini;
    }

    .RM__phone
    & {
        height: @height___overviewToggle__phone;
    }
}

.OverviewToggle {
    position: relative;

    width: 100%;
    height: @height__overviewToggle;

    // Ensure toggle button is above its popup container and the carousel.
    z-index: @zIndex__centreFieldChild;

    .RM__laptop
    & {
        height: @height__overviewToggle__laptop;
    }
}