// These values *must* be the same in js.
@scores-tips-padding: @app-thin-margin;
@scores-tips-margin: 10px;

@scores-tips-width: 2 * @app-large-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;
@scores-tips-_tablet_: 2 * @app-tablet-large-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;
@scores-tips-_mini_: 2 * @app-mini-large-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;
@scores-tips-_phone_: 2 * @app-icon-diameter + 2 * @scores-tips-padding + @scores-tips-margin;

.ScoresTipsSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: @scores-tips-padding;

    background-color: #efd;

    .Button {
        // Ensure that these buttons are above the carousel.
        z-index: @zIndex__centreFieldChild;
        transition: transform @animationDuration__default, opacity @animationDuration__default;
    }
}

.centre-field {
    .ScoresTipsSection {
        flex-direction: column;
        align-items: flex-start;

        .Button:first-child {
            margin-bottom: @scores-tips-margin;
        }
    }
}

.scores-tips-menu-subfield {

    min-width: @scores-tips-width;

    .ScoresTipsSection {
        .Button:first-child {
            margin-right: @scores-tips-margin;
        }
    }
}

._mobile_ {

    .centre-field {
        .ScoresTipsSection {
            position: absolute;
            transition: right @animationDuration__default;
            right: 0;
            bottom: @dots-overview-padding;
        }
    }

    &._tablet_ {
        .scores-tips-menu-subfield {
            min-width: @scores-tips-_tablet_;
        }
    }

    &._mini_ {
        // Affects section in centre field only.
        &._lyricExpanded_, &._overviewShown_, &._tipsShown_, &._annotationShown_._navExpanded_, &._dotsShown_ {
            .ScoresTipsSection {
                right: -@scores-tips-_mini_;
            }
        }

        .scores-tips-menu-subfield {
            min-width: @scores-tips-_mini_;
        }
    }

    &._phone_ {
        &._lyricExpanded_, &._overviewShown_, &._tipsShown_, &._annotationShown_._navExpanded_, &._dotsShown_ {
            .ScoresTipsSection {
                right: -@scores-tips-_phone_;
            }
        }

        // In phone, section is always in centre field.
        .ScoresTipsSection {
            bottom: auto;
        }
    }
}

// I don't understand this.
._logue_, ._song_._overviewShown_._scoresTipsMain_ {
    .ScoresTipsSection {

        .Button {
            transform: scale(0);
            opacity: 0;
        }
    }
}

._song_ {
    .ScoresTipsSection {
        .Button {
            transform: scale(1);
        }
    }
}