@import '../../scss/constants/responsive';

.width__mainColumn {
    width: 100%;
    max-width: 100%;

    .DW__monitorWidth
    & {
        max-width: calc(100% - #{$WIDTH_GOLDEN_CORD});
    }

    .DW__laptopWidth
    & {
        max-width: calc(100% - #{$WIDTH_UNCANNY_VALLEY});
    }
}
