@import "./LeftShelf/style";
@import "./CarouselSelect/style";
@import "./CarouselToggle/style";
@import "./DotsSlideToggle/style";
@import "./OverviewToggle/style";

.Main {
    flex-grow: 1;
}

.Main__flexContainer {
    display: flex;

    .DW__mobileNotPhone
    & {
        align-items: flex-end;
    }
}

.position__mainColumn {
    position: absolute;
    left: 0;
    top: $js__height__menu;
    height: calc(100% - #{$js__height__menu});

    .RW__twoRowMenu
    & {
        top: $js__topOffset__twoRowMenu;
        height: calc(100% - #{$js__topOffset__twoRowMenu});
    }

    .DW__phone
    & {
        top: $js__topOffset__twoRowMenu__phone;
        height: calc(100% - #{$js__topOffset__twoRowMenu__phone});
    }
}

.width__mainColumn {
    width: 100%;

    .DW__monitor
    & {
        max-width: calc(100% - #{$js__width__goldenCord});
    }

    .DW__laptop
    & {
        max-width: calc(100% - #{$js__width__uncannyValley});
    }

    .DW__mobile
    & {
        max-width: 100%;
    }
}
