@import "./LeftShelf/style";
@import "./CarouselToggle/style";
@import "./DotsSlideToggle/style";
@import "./OverviewToggle/style";

.Main {
    flex-grow: 1;
}

.Main__flexContainer {
    display: flex;

    .DW__mobileNotPhone
    & {
        align-items: flex-end;
    }
}

.position__mainColumn {
    position: absolute;
    top: $js__height__menu;
    height: calc(100% - #{$js__height__menu});

    left: 0;

    .RM__twoRowMenu
    & {
        top: $js__topOffset__twoRowMenu;
    }

    .DW__mobile
    .RM__lyricHeighted
    & {
        height: calc(100% - #{$js__height__lyricCollapsed} - #{$js__height__menu});
    }

    .DW__mini
    .RM__twoRowMenu
    & {
        height: calc(100% - #{$js__height__lyricCollapsed} - #{$js__topOffset__twoRowMenu});
    }

    .DW__laptop
    .RM__twoRowMenu
    &,
    .RM__lyricHeightless.RM__twoRowMenu
    & {
        height: calc(100% - #{$js__topOffset__twoRowMenu});
    }

    .DW__phone
    & {
        top: $js__topOffset__twoRowMenu__phone;
        height: calc(100% - #{$js__height__lyricCollapsed} - #{$js__topOffset__twoRowMenu__phone});
    }

    .DW__phone
    .RM__lyricHeightless
    & {
        height: calc(100% - #{$js__topOffset__twoRowMenu__phone});
    }
}

.width__mainColumn {
    width: 100%;

    .DW__monitor
    & {
        max-width: calc(100% - #{$js__width__goldenCord});
    }

    .DW__laptop
    & {
        max-width: calc(100% - #{$js__width__uncannyValley});
    }

    .DW__mobile
    & {
        max-width: 100%;
    }
}
