@import '../../scss/constants/icon';

.ShareButtons {
    justify-content: center;
}

.ShareButtons__isBelowText {
    margin-top: $margin__thick * 2;
}

.ShareButtons__shelfLeft {
    width: $length__iconSmall * 2;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}