.dullRedDarker { fill: hsl(0, 20%, 42%); }
.dullRedDark { fill: hsl(0, 20%, 47%); }
.dullRedMediumDark { fill: hsl(0, 20%, 52%); }
.dullRedMedium { fill: hsl(0, 20%, 57%); }
.dullRedLight { fill: hsl(0, 20%, 67%); }

.dullOrangeDarkest { fill: hsl(30, 20%, 37%); }
.dullOrangeDark { fill: hsl(30, 20%, 47%); }
.dullOrangeMedium { fill: hsl(30, 20%, 57%); }
.dullOrangeLight { fill: hsl(30, 20%, 67%); }
.dullOrangeLighter { fill: hsl(30, 20%, 72%); }

.dullAmberMedium { fill: hsl(45, 20%, 57%); }
.dullAmberMediumLight { fill: hsl(45, 20%, 62%); }
.dullAmberLighter { fill: hsl(45, 20%, 72%); }

.dullYellowDark { fill: hsl(60, 20%, 47%); }
.dullYellowMediumDark { fill: hsl(60, 20%, 52%); }
.dullYellowMedium { fill: hsl(60, 20%, 57%); }
.dullYellowMediumLight { fill: hsl(60, 20%, 62%); }
.dullYellowLight { fill: hsl(60, 20%, 67%); }
.dullYellowLighter { fill: hsl(60, 20%, 72%); }

.dullChartreuseMedium { fill: hsl(90, 20%, 57%); }

.dullGreenDarker { fill: hsl(120, 20%, 42%); }
.dullGreenDark { fill: hsl(120, 20%, 47%); }
.dullGreenMedium { fill: hsl(120, 20%, 57%); }

.dullTurquoiseDark { fill: hsl(150, 20%, 47%); }
.dullTurquoiseMedium { fill: hsl(150, 20%, 57%); }
.dullTurquoiseLight { fill: hsl(150, 20%, 67%); }
.dullTurquoiseLighter { fill: hsl(150, 20%, 72%); }

.dullTealDark { fill: hsl(180, 20%, 47%); }
.dullTealMedium { fill: hsl(180, 20%, 57%); }
.dullTealLight { fill: hsl(180, 20%, 67%); }
.dullTealLighter { fill: hsl(180, 20%, 72%); }

.dullBlueDarkest { fill: hsl(210, 20%, 37%); }
.dullBlueDarker { fill: hsl(210, 20%, 42%); }
.dullBlueDark { fill: hsl(210, 20%, 47%); }
.dullBlueMedium { fill: hsl(210, 20%, 57%); }
.dullBlueLight { fill: hsl(210, 20%, 67%); }

.dullIndigoDark { fill: hsl(240, 20%, 47%); }
.dullIndigoMedium { fill: hsl(240, 20%, 57%); }
.dullIndigoMediumLight { fill: hsl(240, 20%, 62%); }

.dullPurpleDarker { fill: hsl(270, 20%, 42%); }
.dullPurpleDark { fill: hsl(270, 20%, 47%); }
.dullPurpleMediumDark { fill: hsl(270, 20%, 52%); }
.dullPurpleMedium { fill: hsl(270, 20%, 57%); }
.dullPurpleMediumLight { fill: hsl(270, 20%, 62%); }
.dullPurpleLight { fill: hsl(270, 20%, 67%); }

.dullMagentaMedium { fill: hsl(300, 20%, 57%); }
.dullMagentaMediumLight { fill: hsl(300, 20%, 62%); }
.dullMagentaLight { fill: hsl(300, 20%, 67%); }
.dullMagentaLighter { fill: hsl(300, 20%, 72%); }

.dullMaroonDarkest { fill: hsl(330, 20%, 37%); }
.dullMaroonDarker { fill: hsl(330, 20%, 42%); }
.dullMaroonDark { fill: hsl(330, 20%, 47%); }
.dullMaroonMediumDark { fill: hsl(330, 20%, 52%); }
.dullMaroonMedium { fill: hsl(330, 20%, 57%); }
.dullMaroonMediumLight { fill: hsl(330, 20%, 62%); }
.dullMaroonLight { fill: hsl(330, 20%, 67%); }
.dullMaroonLighter { fill: hsl(330, 20%, 72%); }

.darkRoomDefault .darkRoom#{$suffix} {
    .dullOrangeDark { fill: hsl(30, 10%, 29%); }
    .dullAmberMedium { fill: hsl(45, 10%, 34%); }
    .dullAmberMediumLight { fill: hsl(45, 10%, 36%); }
    .dullYellowDark { fill: hsl(60, 10%, 29%); }
    .dullChartreuseMedium { fill: hsl(90, 10%, 34%); }
    .dullGreenDark { fill: hsl(120, 10%, 29%); }
    .dullGreenMedium { fill: hsl(120, 10%, 34%); }
    .dullTealLight { fill: hsl(180, 10%, 40%); }
    .dullBlueMedium { fill: hsl(210, 10%, 34%); }
    .dullIndigoMedium { fill: hsl(240, 10%, 34%); }
    .dullPurpleMedium { fill: hsl(270, 10%, 34%); }
}