.shane#{$suffix} {
    .shaneShirt { fill: hsl(56, 52%, 71%); }
    .shaneShorts { fill: hsl(352, 19%, 53%); }
    .shaneSockStripe { fill: hsl(36, 49%, 59%); }
    .shaneShoe { fill: hsl(215, 20%, 50%); }
    .newBalanceLogo { fill: hsl(0, 0%, 80%); }
}