$height__input: 44px;
$padding__dashboard: 10px;
$height__dashboard: $height__input + $padding__dashboard * 2;
$height__dashboard__mobile: $height__input * 2 + $padding__dashboard * 2;

@import "./Dashboard/style";

.Previewer__scroll {
    padding: 0 $padding__dashboard $padding__dashboard;

    .Previewer__heightAspectRatio
    & {
        display: flex;
        justify-content: center;
        width: auto;
        height: calc(100% - #{$height__dashboard__mobile});

        @media (min-width: 1000px) {
            height: calc(100% - #{$height__dashboard});
        }
    }
}

.Presence {
    .Previewer__heightAspectRatio
    & {
        width: auto;
        height: 100%;
    }
}

svg {
    .Previewer__heightAspectRatio
    & {
        height: 100%;
    }
}
