// Skews light.
.fiberDarkest { fill: hsl(59, 23%, 57%); }
// .fiberDarker { fill: hsl(59, 23%, 62%); }
.fiberDark { fill: hsl(59, 23%, 67%); }
// .fiberMediumDark { fill: hsl(59, 23%, 72%); }
.fiberMedium { fill: hsl(59, 23%, 77%); }
// .fiberMediumLight { fill: hsl(59, 23%, 82%); }
// .fiberLight { fill: hsl(59, 23%, 87%); }