// Skews light.
.paperDarkest { fill: hsl(48, 13%, 57%); }
.paperDarker { fill: hsl(48, 13%, 62%); }
.paperDark { fill: hsl(48, 13%, 67%); }
// .paperMediumDark { fill: hsl(48, 13%, 72%); }
.paperMedium { fill: hsl(48, 13%, 77%); }
.paperMediumLight { fill: hsl(48, 13%, 82%); }
.paperLight { fill: hsl(48, 13%, 87%); }
// .paperLighter { fill: hsl(48, 13%, 92%); }
// .paperLightest { fill: hsl(48, 13%, 97%); }

.blueDisplayLine { stroke: hsla(200, 35%, 72%, 0.75); }
.redDisplayLine { stroke: hsla(0, 35%, 72%, 0.75); }

.darkRoom .darkRoom#{$suffix} {
    .paperMediumLight { fill: hsl(48, 11%, 43%); }
    .blueDisplayLine { stroke: hsla(200, 35%, 32%, 0.75); }
    .redDisplayLine { stroke: hsla(0, 35%, 32%, 0.75); }
}

.darkRoom .darkRoom#{$suffix}, .darkRoomExtra .darkRoomExtra#{$suffix} {
    .paperDark { fill: hsl(48, 11%, 35%); }
    .paperLight { fill: hsl(48, 11%, 45%); }
}