.bedroomSiren {
    stroke: none;
    .redLight { fill: hsla(0, 81%, 83%, 0.5); }
    .redBrighter { fill: hsla(0, 69%, 71%, 0.5); }
    .redBrightest { fill: hsla(0, 86%, 63%, 0.5); }
    .blueLight { fill: hsla(204, 86%, 84%, 0.5); }
    .blueBrighter { fill: hsla(202, 72%, 71%, 0.5); }
    .blueBrightest { fill: hsla(207, 88%, 63%, 0.5); }
}

.campanile {
    .towerInner { fill: hsl(60, 9%, 82%); }
    .towerOuter { fill: hsl(60, 6%, 87%); }
    .spireInner { fill: hsl(146, 17%, 45%); }
    .spireOuter { fill: hsl(146, 18%, 49%); }
    .window { fill: hsl(68, 6%, 25%); }
    .hourDisplayLine { stroke: hsl(66, 28%, 35%); }
    .handInner { fill: hsl(140, 21%, 47%); }
    .handOuter { fill: hsl(140, 20%, 48%); }
    .wallSideOuter { fill: hsl(64, 8%, 61%); }
    .wallSideInner { fill: hsl(68, 11%, 56%); }
    .wallFrontOuter { fill: hsl(66, 19%, 78%); }
    .wallFrontMiddle { fill: hsl(65, 16%, 74%); }
    .wallFrontInner { fill: hsl(66, 17%, 67%); }
    .ledgeSide { fill: hsl(120, 13%, 61%); }
    .ledgeFront { fill: hsl(120, 25%, 76%); }
    .stepFront { fill: hsl(231, 47%, 77%); }
}

.cemeteryHillsRight {
    .postLeft { fill: hsl(180, 30%, 80%); }
    .postRight { fill: hsl(180, 30%, 70%); }
    .fence { fill: hsl(180, 30%, 60%); }
}

.commercialFarLeft {
    .shutter { fill: hsl(223, 13%, 51%); }
}

.commercialMiddleLeft {
    .signOuter { fill: hsl(244, 28%, 38%); }
    .signInner { fill: hsl(245, 56%, 87%); }
    .letterLarge { fill: hsl(244, 59%, 68%); }
    .letterDisplayLine { stroke: hsl(280, 14%, 34%); }
}

.elCerritoFar {
    .antennaWhite { fill: hsl(0, 0%, 92%); }
    .antennaRed { fill: hsl(14, 52%, 53%); }
    .antennaBuilding { fill: hsl(51, 20%, 64%); }
    .antennaRoof { fill: hsl(90, 5%, 91%); }
}

.elCerritoNear {
    .houseLeftSide { fill: hsl(209, 10%, 55%); }
    .houseLeftFront { fill: hsl(202, 5%, 46%); }
    .houseCentre { fill: hsl(60, 15%, 61%); }
    .houseRightFront { fill: hsl(295, 5%, 47%); }
    .houseRightSide { fill: hsl(297, 9%, 56%); }

}

.familyHouse {
    .wallFront { fill: hsl(68, 100%, 83%); }
}

.ferrisWheel {
    .foundation { fill: hsl(0, 0%, 40%); }
    .towerLeftTopBottom { fill: hsl(59, 51%, 57%); }
    .towerLeftFront { fill: hsl(22, 51%, 57%); }
    .spokes { fill: hsla(0, 0%, 80%, 0.5); }
    .car { fill: hsl(1, 48%, 54%); }
    .wheel { fill: hsl(1, 33%, 52%); }
    .support { fill: hsl(1, 20%, 50%); }
    .hub { fill: hsl(1, 20%, 42%); }
    .tentLeftWall { fill: hsl(270, 34%, 40%); }
    .tentRightWall { fill: hsl(127, 33%, 41%); }
    .tentWallLight { fill: hsl(0, 1%, 55%); }
    .towerRightFront { fill: hsl(200, 100%, 30%); }
    .tentRightFront { fill: hsl(127, 33%, 48%); }
    .tentLeftFront { fill: hsl(270, 34%, 47%); }
    .tentFrontLight { fill: hsl(0, 2%, 65%); }
    .towerRightTop { fill: hsl(200, 60%, 50%); }
    .tentRightTop { fill: hsl(127, 50%, 60%); }
    .tentLeftTop { fill: hsl(270, 50%, 60%); }
    .tentTopLight { fill: hsl(15, 4%, 79%); }
}

.nohoHouseLeft {
    .wallFront { fill: hsl(234, 36%, 70%); }
}

.nohoHouseRight {
    .wallSide { fill: hsl(104, 36%, 61%); }
    .wallFront { fill: hsl(104, 36%, 66%); }
}

.oaklandFlag {
    .stripeWhite { fill: hsl(0, 6%, 88%); }
    .stripeRed { fill: hsl(0, 53%, 53%); }
    .fieldBlue { fill: hsl(213, 53%, 53%); }
    .finial { fill: hsl(34, 32%, 53%); }
}

.oaklandSchool {
    .wallFront { fill: hsl(12, 28%, 69%); }
    .wallSide { fill: hsl(12, 19%, 60%); }
    .clockSide { fill: hsl(60, 28%, 65%); }
    .clockFront { fill: hsl(60, 38%, 73%); }
    .handDisplayLine { stroke: hsl(0, 0%, 53%); }
}

.publicFar {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.publicNear {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.residentialFarLeft {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.residentialFarRight {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.residentialMiddleRight {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.residentialNearRight {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.rollerCoaster {
    .platformBack { fill: hsla(30, 50%, 40%, 0.5); }
    .trackBack { fill: hsl(31, 9%, 55%); }
    .platformFront { fill: hsla(30, 50%, 60%, 0.5); }
    .trackFront { fill: hsl(29, 11%, 60%); }
    .flag { fill: hsl(320, 50%, 70%); }
}

.royceHall {
    .roofDark { fill: hsl(66, 9%, 43%); }
    .roofLight { fill: hsl(60, 9%, 49%); }
    .brickDarkest { fill: hsl(25, 37%, 38%); }
    .brickDarker { fill: hsl(25, 37%, 45%); }
    .brickDark { fill: hsl(25, 38%, 51%); }
    .brickLight { fill: hsl(25, 49%, 57%); }
    .wallInner { fill: hsl(66, 9%, 41%); }
    .wallFront { fill: hsl(62, 15%, 62%); }
    .trimDark { fill: hsl(65, 11%, 55%); }
    .trimLight { fill: hsl(64, 18%, 67%); }
    .slit { fill: hsl(47, 7%, 26%); }
    .doorFrame { fill: hsl(64, 9%, 35%); }
    .door { fill: hsl(37, 15%, 30%); }
    .windowOuter { fill: hsl(194, 23%, 58%); }
    .windowInner { fill: hsl(195, 17%, 50%); }
    .stepFront { fill: hsl(226, 14%, 51%); }
    .stepSide { fill: hsl(226, 13%, 43%); }
    .trimOrnamentInner { fill: hsl(65, 9%, 52%); }
    .trimOrnamentOuter { fill: hsl(64, 14%, 62%); }
    .brickOrnament { fill: hsl(13, 42%, 53%); }
    .stainedGlass { fill: hsl(228, 24%, 47%); }
}

.schoolBungalow {
    .wallFront { fill: hsl(195, 30%, 72%); }
}

.stJosephsAnnex {
    .wallFront { fill: hsl(24, 40%, 59%); }
}

.stJosephsChurch {
    .foundationRear { fill: hsl(316, 6%, 41%); }
    .foundationMiddle { fill: hsl(316, 6%, 44%); }
    .foundationFront { fill: hsl(316, 6%, 47%); }
    .roofTopRear { fill: hsl(147, 8%, 38%); }
    .roofSide { fill: hsl(150, 7%, 43%); }
    .roofTop { fill: hsl(150, 7%, 47%); }
    .wallDark { fill: hsl(24, 25%, 51%); }
    .wallMedium { fill: hsl(24, 25%, 54%); }
    .wallLight { fill: hsl(24, 25%, 57%); }
    .window { fill: hsl(202, 39%, 62%); }
    .slit { fill: hsl(80, 2%, 32%); }
    .ball { fill: hsl(40, 35%, 51%); }
    .cross { fill: hsl(41, 43%, 59%); }
    .marbleDark { fill: hsl(48, 8%, 54%); }
    .marbleLight { fill: hsl(48, 8%, 59%); }
    .trimDark { fill: hsl(74, 14%, 51%); }
    .trimMedium { fill: hsl(74, 14%, 56%); }
    .trimLight { fill: hsl(74, 14%, 61%); }
    .stainedGlassFrame { fill: hsl(56, 30%, 65%); }
    .stainedGlass { fill: hsl(224, 70%, 69%); }
    .door { fill: hsl(42, 19%, 47%); }
    .doorRear { fill: hsl(42, 19%, 44%); }
    .stepFront { fill: hsl(233, 16%, 59%); }
    .lampholder { fill: hsl(30, 8%, 33%); }
    .stJosephRear { fill: hsl(60, 6%, 66%); }
    .stJosephFront { fill: hsl(65, 8%, 70%); }
    .robe { fill: hsl(47, 17%, 31%); }
    .scroll { fill: hsl(60, 3%, 46%); }
    .book { fill: hsl(60, 3%, 41%); }
}

.tennisCourt {
    .court { fill: hsl(220, 51%, 55%); }
    .stripeDisplayLine { stroke: hsl(0, 0%, 100%); }
    .mesh { fill: hsla(78, 24%, 66%, 0.5); }
    .net { fill: hsl(78, 12%, 28%); }
}

.valleyFreeway {
    .overpass {fill: hsl(54, 8%, 23%); }
    .handleSide {fill: hsl(68, 15%, 50%); }
    .handleFront {fill: hsl(67, 26%, 63%); }
    .valleyPlazaSide {fill: hsl(60, 2%, 47%); }
    .valleyPlazaFrontRight {fill: hsl(70, 4%, 68%); }
    .valleyPlazaFrontCentre {fill: hsl(70, 4%, 71%); }
    .valleyPlazaFrontLeft {fill: hsl(70, 4%, 73%); }
    .shoulder {fill: hsl(57, 8%, 51%); }
    .road {fill: hsl(56, 8%, 33%); }
    .divider {fill: hsl(0, 0%, 71%); }
}
