.bedroomBus {
    .smoke { fill: hsl(104, 6%, 52%); }
}

.bedroomSiren {
    stroke: none;
    .redLight { fill: hsla(0, 81%, 83%, 0.5); }
    .redBrighter { fill: hsla(0, 69%, 71%, 0.5); }
    .redBrightest { fill: hsla(0, 86%, 63%, 0.5); }
    .blueLight { fill: hsla(204, 86%, 84%, 0.5); }
    .blueBrighter { fill: hsla(202, 72%, 71%, 0.5); }
    .blueBrightest { fill: hsla(207, 88%, 63%, 0.5); }
}

.campanile {
    .spireInner { fill: hsl(146, 17%, 45%); }
    .towerInner { fill: hsl(60, 9%, 82%); }
    .towerOuter { fill: hsl(60, 6%, 87%); }
    .spireOuter { fill: hsl(146, 18%, 49%); }
    .window { fill: hsl(68, 6%, 25%); }
    .hourDisplayLine { stroke: hsl(66, 28%, 35%); }
    .handInner { fill: hsl(140, 21%, 47%); }
    .handOuter { fill: hsl(140, 20%, 48%); }
    .wallSideOuter { fill: hsl(64, 8%, 61%); }
    .wallSideInner { fill: hsl(68, 11%, 56%); }
    .wallFrontOuter { fill: hsl(66, 19%, 78%); }
    .wallFrontMiddle { fill: hsl(65, 16%, 74%); }
    .wallFrontInner { fill: hsl(66, 17%, 67%); }
    .ledgeSide { fill: hsl(120, 13%, 61%); }
    .ledgeFront { fill: hsl(120, 25%, 76%); }
    .stepFront { fill: hsl(231, 47%, 77%); }
}

.cemeteryHillsRight {
    .postLeft { fill: hsl(180, 30%, 80%); }
    .postRight { fill: hsl(180, 30%, 70%); }
    .fence { fill: hsl(180, 30%, 60%); }
}

.commercialCentre {
    .wallSide { fill: hsl(281, 16%, 53%); }
    .wallFront { fill: hsl(281, 25%, 64%); }
}

.commercialFarLeft {
    .wallSide { fill: hsl(281, 16%, 53%); }
    .wallFront { fill: hsl(281, 25%, 64%); }
    .shutter { fill: hsl(223, 13%, 51%); }
}

.commercialFarRight {
    .wallSide { fill: hsl(281, 16%, 53%); }
    .wallFront { fill: hsl(281, 25%, 64%); }
}

.commercialMiddleLeft {
    .wallSide { fill: hsl(281, 16%, 53%); }
    .wallFront { fill: hsl(281, 25%, 64%); }
    .signOuter { fill: hsl(244, 28%, 38%); }
    .signInner { fill: hsl(245, 56%, 87%); }
    .letterLarge { fill: hsl(244, 59%, 68%); }
    .letterDisplayLine { stroke: hsl(280, 14%, 34%); }
}

.commercialMiddleRight {
    .wallSide { fill: hsl(281, 16%, 53%); }
    .wallFront { fill: hsl(281, 25%, 64%); }
}

.commercialNearLeft {
    .wallSide { fill: hsl(281, 16%, 53%); }
    .wallFront { fill: hsl(281, 25%, 64%); }
}

.commercialNearRight {
    .wallSide { fill: hsl(281, 16%, 53%); }
    .wallFront { fill: hsl(281, 25%, 64%); }
}

.drivingHouseLeft {
    .wallSide { fill: hsl(281, 16%, 53%); }
    .wallFront { fill: hsl(281, 25%, 64%); }
}

.drivingHouseRight {
    .wallSide { fill: hsl(281, 16%, 53%); }
    .wallFront { fill: hsl(281, 25%, 64%); }
}

.elCerritoFar {
    .antennaWhite { fill: hsl(0, 0%, 92%); }
    .antennaRed { fill: hsl(14, 52%, 53%); }
    .antennaBuilding { fill: hsl(51, 20%, 64%); }
    .antennaRoof { fill: hsl(90, 5%, 91%); }
}

.elCerritoNear {
    .houseLeftSide { fill: hsl(209, 10%, 55%); }
    .houseLeftFront { fill: hsl(202, 5%, 46%); }
    .houseCentre { fill: hsl(60, 15%, 61%); }
    .houseRightFront { fill: hsl(295, 5%, 47%); }
    .houseRightSide { fill: hsl(297, 9%, 56%); }

}

.familyHouse {
    .wallFront { fill: hsl(68, 100%, 83%); }
}

.ferrisWheel {
    .tower { fill: hsl(0, 0%, 40%); }
    .towerLeftTopBottom { fill: hsl(30, 50%, 40%); }
    .towerLeftFront { fill: hsl(30, 50%, 60%); }
    .tentTopLight { fill: hsl(0, 0%, 80%); }
    .spokes { fill: hsla(30, 50%, 39%, 0.5); }
    .car { fill: hsl(120, 50%, 40%); }
    .wheel { fill: hsl(120, 20%, 50%); }
    .support { fill: hsl(204, 100%, 37%); }
    .base { fill: hsl(198, 76%, 52%); }
    .hub { fill: hsl(176, 100%, 33%); }
    .tentRightWall { fill: hsl(300, 50%, 40%); }
    .tentWallLight { fill: hsl(60, 20%, 50%); }
    .tentLeftWall { fill: hsl(220, 60%, 50%); }
    .towerRightTop { fill: hsl(200, 60%, 50%); }
    .tentRightTop { fill: hsl(0, 50%, 60%); }
    .tentLeftTop { fill: hsl(270, 50%, 60%); }
    .towerRightFront { fill: hsl(200, 100%, 30%); }
    .tentRightFront { fill: hsl(0, 50%, 40%); }
    .tentLeftFront { fill: hsl(280, 60%, 50%); }
    .tentFrontLight { fill: hsl(0, 0%, 60%); }
}

.goKartTrack {
    .checkerBlack { fill: hsl(24, 4%, 26%); }
    .checkerWhite { fill: hsl(0, 0%, 100%); }
    .pole { fill: hsl(26, 10%, 48%); }
}

.nohoHouseLeft {
    .wallFront { fill: hsl(234, 46%, 80%); }
}

.nohoHouseRight {
    .wallSide { fill: hsl(104, 42%, 71%); }
    .wallFront { fill: hsl(104, 42%, 76%); }
}

.oaklandFlag {
    .pole { fill: hsl(55, 5%, 42%); }
    .stripeWhite { fill: hsl(0, 6%, 88%); }
    .stripeRed { fill: hsl(0, 53%, 53%); }
    .fieldBlue { fill: hsl(213, 53%, 53%); }
    .finial { fill: hsl(34, 32%, 53%); }
}

.oaklandSchool {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
    .clockSide { fill: hsl(86, 28%, 65%); }
    .clockFront { fill: hsl(86, 38%, 73%); }
    .handDisplayLine { stroke: hsl(0, 0%, 53%); }
}

.oceanBottomMiddle {
    .shadow { fill: hsl(240, 21%, 47%); }
}

.oceanBottomNear {
    .tubeWormCavity { fill: hsl(240, 20%, 50%); }
    .tubeWorm { fill: hsl(210, 50%, 60%); }
    .kelpBack { fill: hsl(120, 50%, 40%); }
    .kelpFront { fill: hsl(120, 20%, 50%); }
    .rockBack { fill: hsl(0, 0%, 40%); }
    .rockMiddle { fill: hsl(0, 0%, 60%); }
    .rockFront { fill: hsl(0, 0%, 80%); }
    .coralTube { fill: hsl(60, 50%, 40%); }
    .coralTubeCavity { fill: hsl(60, 33%, 70%); }
    .coralBrain { fill: hsl(30, 50%, 60%); }
    .coralBrainCavity { fill: hsl(30, 50%, 40%); }
    .urchinBack { fill: hsl(300, 20%, 50%); }
    .urchinFront { fill: hsl(270, 50%, 60%); }
}

.publicFar {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.publicNear {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.residentialFarLeft {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.residentialFarRight {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.residentialMiddleRight {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.residentialNearRight {
    .wallFront { fill: hsl(299, 28%, 69%); }
    .wallSide { fill: hsl(298, 19%, 60%); }
}

.rollerCoaster {
    .platformBack { fill: hsla(30, 50%, 39%, 0.5); }
    .trackBack { fill: hsl(0, 0%, 40%); }
    .platformFront { fill: hsla(30, 48%, 59%, 0.5); }
    .trackFront { fill: hsl(0, 0%, 60%); }
    .flag { fill: hsl(320, 100%, 70%); }
}

.royceHall {
    .roofDark { fill: hsl(66, 9%, 43%); }
    .roofLight { fill: hsl(60, 9%, 49%); }
    .brickDark { fill: hsl(13, 38%, 51%); }
    .brickLight { fill: hsl(13, 49%, 57%); }
    .wallFront { fill: hsl(62, 15%, 62%); }
    .trimDark { fill: hsl(65, 11%, 55%); }
    .trimLight { fill: hsl(64, 18%, 67%); }
    .brickDarker { fill: hsl(13, 37%, 45%); }
    .brickDarkest { fill: hsl(13, 37%, 38%); }
    .slit { fill: hsl(47, 7%, 26%); }
    .wallInner { fill: hsl(66, 9%, 41%); }
    .doorFrame { fill: hsl(64, 9%, 35%); }
    .door { fill: hsl(37, 15%, 30%); }
    .windowOuter { fill: hsl(194, 23%, 58%); }
    .windowOuterDisplayLine { stroke: hsl(231, 21%, 30%); }
    .windowInner { fill: hsl(195, 17%, 50%); }
    .windowInnerDisplayLine { stroke: hsl(231, 21%, 20%); }
    .stepFront { fill: hsl(226, 14%, 51%); }
    .stepSide { fill: hsl(226, 13%, 43%); }
    .trimOrnamentInner { fill: hsl(65, 9%, 52%); }
    .trimOrnamentOuter { fill: hsl(64, 14%, 62%); }
    .brickOrnament { fill: hsl(13, 42%, 53%); }
    .stainedGlass { fill: hsl(228, 24%, 47%); }
}

.schoolBungalow {
    .wallFront { fill: hsl(195, 40%, 62%); }
}

.stJosephsAnnex {
    .wallFront { fill: hsl(226, 60%, 79%); }
}

.stJosephsChurch {
    .foundationRear { fill: hsl(316, 6%, 41%); }
    .foundationMiddle { fill: hsl(316, 6%, 45%); }
    .foundationFront { fill: hsl(316, 6%, 49%); }
    .trimRear { fill: hsl(75, 20%, 60%); }
    .doorRear { fill: hsl(42, 19%, 44%); }
    .roofTopRear { fill: hsl(147, 8%, 28%); }
    .wallRear { fill: hsl(320, 25%, 61%); }
    .wallMiddleDark { fill: hsl(320, 25%, 65%); }
    .wallMiddleLight { fill: hsl(320, 25%, 69%); }
    .wallFront { fill: hsl(320, 25%, 73%); }
    .trimMiddleDark { fill: hsl(74, 21%, 61%); }
    .trimMiddle { fill: hsl(74, 34%, 71%); }
    .trimMiddleLight { fill: hsl(74, 61%, 82%); }
    .window { fill: hsl(202, 39%, 62%); }
    .slit { fill: hsl(80, 2%, 32%); }
    .roofSide { fill: hsl(150, 7%, 33%); }
    .roofTop { fill: hsl(150, 7%, 37%); }
    .cross { fill: hsl(40, 35%, 54%); }
    .ball { fill: hsl(41, 43%, 59%); }
    .trimBeam { fill: hsl(35, 12%, 72%); }
    .beam { fill: hsl(33, 24%, 84%); }
    .trimFrontLight { fill: hsl(73, 28%, 74%); }
    .marbleLight { fill: hsl(48, 24%, 84%); }
    .trimFrontDark { fill: hsl(74, 14%, 59%); }
    .marbleDark { fill: hsl(48, 8%, 65%); }
    .trimFrontDarkest { fill: hsl(74, 10%, 51%); }
    .frame { fill: hsl(56, 100%, 95%); }
    .stainedGlass { fill: hsl(224, 70%, 69%); }
    .door { fill: hsl(42, 19%, 47%); }
    .stepFront { fill: hsl(233, 26%, 49%); }
    .lamp { fill: hsl(67, 58%, 78%); }
    .lampholder { fill: hsl(30, 8%, 23%); }
    .stJosephRear { fill: hsl(60, 6%, 66%); }
    .robe { fill: hsl(47, 17%, 31%); }
    .scroll { fill: hsl(60, 3%, 46%); }
    .book { fill: hsl(60, 3%, 41%); }
    .stJosephFront { fill: hsl(65, 8%, 70%); }
}

.taiwanMountainsBridged {
    .road { fill: hsl(68, 7%, 43%); }
}

.tennisCourt {
    .court { fill: hsl(220, 51%, 55%); }
    .stripeDisplayLine { stroke: hsl(0, 0%, 100%); }
    .pole { fill: hsl(220, 1%, 46%); }
    .mesh { fill: hsla(78, 24%, 66%, 0.5); }
    .net { fill: hsl(78, 12%, 28%); }
}

.valleyFreeway {
    .overpass {fill: hsl(54, 8%, 23%); }
    .handleSide {fill: hsl(68, 15%, 50%); }
    .handleFront {fill: hsl(67, 26%, 63%); }
    .valleyPlazaSide {fill: hsl(60, 2%, 47%); }
    .valleyPlazaFrontRight {fill: hsl(70, 4%, 68%); }
    .valleyPlazaFrontCentre {fill: hsl(70, 4%, 71%); }
    .valleyPlazaFrontLeft {fill: hsl(70, 4%, 73%); }
    .shoulder {fill: hsl(57, 8%, 51%); }
    .road {fill: hsl(56, 8%, 33%); }
    .divider {fill: hsl(0, 0%, 71%); }
}
