.jacob#{$suffix} {
    .jacobShirt { fill: hsl(128, 37%, 65%); }
    .jacobShirtTrim { fill: hsl(190, 35%, 64%); }
    .jacobPants { fill: hsl(206, 27%, 68%); }
    .jacobShoe { fill: hsl(207, 27%, 42%); }
}