.frozenMeats#{$suffix} {
    .foamWhite { fill: hsl(175, 13%, 83%); }
    .foamYellow { fill: hsl(64, 35%, 75%); }
    .foamBlue { fill: hsl(189, 38%, 79%); }
    .label { fill: hsl(200, 26%, 87%); }
    .labelPrint { fill: hsl(65, 5%, 54%); }
    .flagLabelWhite { fill: hsl(0, 0%, 90%); }
    .flagLabelRed { fill: hsl(0, 100%, 64%); }
    .flagLabelBlue { fill: hsl(210, 100%, 64%); }
    .beef { fill: hsl(343, 24%, 63%); }
    .chicken { fill: hsl(20, 43%, 67%); }
    .porkFat { fill: hsl(346, 28%, 79%); }
    .porkMeat { fill: hsl(345, 46%, 72%); }
}