.TextAnchorBlock {
    position: relative;

    /**
     * Stupid hack to keep dots block and underline bar aligned in right column
     * when anchor breaks onto new line.
     */
    &:before {
        content: 'a';
        opacity: 0;
        font-size: 0;
        line-height: 0;
    }

    .dots-block {
        position: absolute;
        left: -@length__lyricAnchorDot * 0.32;
        top: -@length__lyricAnchorDot * 0.35;
    }

    // For dev purposes.
    // &.todo {
    //     color: #c00;
    //
    //     &:hover {
    //         color: #d33;
    //     }
    //
    //     &:active {
    //         color: #f66;
    //     }
    //
    //     // Make underline red.
    //     .underlineBar {
    //             background-color: mix(red, white, 50%);
    //     }
    // }
}

.Lyric .TextAnchorBlock, .dot-section-anchor {
    white-space: nowrap;
}
