@import "./TextLyricAnchor.less";

.TextSpan {
    position: relative;

    transition: color @animationDuration__default,
                text-shadow @animationDuration__default;

    .overrideAnimate
    & {
        transition: none;
    }

    // .VerseBar
    // & {
    //     z-index: @zIndex__verseBarText;
    // }
}

// .Annotation,
// .Lyric {

//     // Text span and portals should be in front of dots block.
//     .TextSpan,
//     .AnnotationPortal {
//         z-index: @zIndex__textSpan;
//     }
// }