.text-span {
    position: relative;
    color: @lyric-text-colour;

    transition: color @animation-default,
                text-shadow @animation-default;

    .override-animate
    & {
        transition: none;
    }
}

.Annotation, .Lyric {

    // Text span and portals block should be in front of dots block.
    .text-span, .portals-block {
        z-index: @text-span-z-index;
    }
}