.TextLyricAnchor {
    position: relative;

    /**
     * Stupid hack to keep dots block and underline bar aligned in right column
     * when anchor breaks onto new line.
     */
    &:before {
        content: 'a';
        opacity: 0;
        font-size: 0;
        line-height: 0;
    }
}
