@import "./TextLyricAnchor.less";

.TextSpan {
    // Position above absolute elements.
    position: relative;

    z-index: @zIndex__verseChild__topMost;

    transition: color @animationDuration__default,
                text-shadow @animationDuration__default;

    .RM__renderUnready
    & {
        transition: none;
    }
}

.textSpan__portalInPortal {
    // TODO: Make better, obviously.
    color: purple;
}
