@import "./TextLyricAnchor";

.TextSpan {
    // Position above absolute elements.
    position: relative;

    z-index: $zIndex__verseChild__topMost;

    .parentIsShown
    & {
        transition:
            // color $animationDuration__default,
            text-shadow $animationDuration__default;
    }
}

.textSpan__portalInPortal {
    // TODO: Make better, obviously.
    color: purple;
}
