@import "./TextAnchorBlock.less";
@import "./TextAnchor.less";

.TextSpan {
    position: relative;
    color: @lyric-text-colour;

    transition: color @animationDuration__default,
                text-shadow @animationDuration__default;

    .override-animate
    & {
        transition: none;
    }
}

.Annotation, .Lyric {

    // Text span and portals block should be in front of dots block.
    .TextSpan, .portals-block {
        z-index: @zIndex__textSpan;
    }
}