.progressChart#{$suffix} {
    .frame { fill: #c6c49b; }
    .sheetTopRight { fill: #d4abd8; }
    .sheetTopLeft { fill: #90d3ab; }
    .blank { fill: #f2f2f0; }
    .progress { fill: #e07255; }
    .columnHeader { fill: #e2b4ed; }
    .rowHeaderEven { fill: #adead6; }
    .rowHeaderOdd { fill: #b3ceaa; }
    .chart { fill: #e0e0d7; }
    .numeral { stroke: #444; }
    .pushpin { fill: #98d8d0; }
}
