$overviewToggleRatio: 1.5;

$width__overviewToggle: 64px;
$height__overviewToggle:
    $width__overviewToggle
    * $overviewToggleRatio;

$width__overviewToggle__laptop:
    $LENGTH_ICON_LARGE;
$height__overviewToggle__laptop:
    $width__overviewToggle__laptop
    * $overviewToggleRatio;

$width__overviewToggle__tablet:
    $LENGTH_ICON_LARGE_TABLET;
$height__overviewToggle__tablet:
    $width__overviewToggle__tablet
    * $overviewToggleRatio;

$width__overviewToggle__mini:
    $LENGTH_ICON_LARGE_MINI;
$height__overviewToggle__mini:
    $width__overviewToggle__mini
    * $overviewToggleRatio;

$width__overviewToggle__phone:
    $LENGTH_ICON;
$height__overviewToggle__phone:
    $width__overviewToggle__phone
    * $overviewToggleRatio;

.OverviewToggle {
    position: relative;

    .ShW__tipsShown__overview
    & {
        opacity: 1;
        margin-left: 0;
    }
}

.Button__overviewSize {
    height: $height__overviewToggle;
    width: $width__overviewToggle;

    .DW__laptopWidth
    & {
        height: $height__overviewToggle__laptop;
        width: $width__overviewToggle__laptop;
    }

    .DW__tabletWidth
    & {
        height: $height__overviewToggle__tablet;
        width: $width__overviewToggle__tablet;
    }

    .DW__miniWidth
    & {
        height: $height__overviewToggle__mini;
        width: $width__overviewToggle__mini;
    }

    .DW__phoneWidth
    & {
        height: $height__overviewToggle__phone;
        width: $width__overviewToggle__phone;
    }
}
