$overviewToggleRatio: 1.5;

$width__overviewToggle: 64px;
$height__overviewToggle:
    $width__overviewToggle
    * $overviewToggleRatio;

$width__overviewToggle__laptop:
    $js__length__iconLarge;
$height__overviewToggle__laptop:
    $width__overviewToggle__laptop
    * $overviewToggleRatio;

$width__overviewToggle__tablet:
    $js__length__iconLarge__tablet;
$height__overviewToggle__tablet:
    $width__overviewToggle__tablet
    * $overviewToggleRatio;

$width__overviewToggle__mini:
    $js__length__iconLarge__mini;
$height__overviewToggle__mini:
    $width__overviewToggle__mini
    * $overviewToggleRatio;

$width__overviewToggle__phone:
    $js__length__icon;
$height__overviewToggle__phone:
    $width__overviewToggle__phone
    * $overviewToggleRatio;

.OverviewToggle {
    position: relative;
}

.Button__overviewSize {
    height: $height__overviewToggle;
    width: $width__overviewToggle;

    .DW__laptopWidth
    & {
        height: $height__overviewToggle__laptop;
        width: $width__overviewToggle__laptop;
    }

    .DW__tabletWidth
    & {
        height: $height__overviewToggle__tablet;
        width: $width__overviewToggle__tablet;
    }

    .DW__miniWidth
    & {
        height: $height__overviewToggle__mini;
        width: $width__overviewToggle__mini;
    }

    .DW__phoneWidth
    & {
        height: $height__overviewToggle__phone;
        width: $width__overviewToggle__phone;
    }
}
