.Button__overviewSize {

    width: 100%;
    height: $height__overviewToggle;

    .DW__laptop
    & {
        height: $height__overviewToggle__laptop;
    }

    .DW__tablet
    & {
        height: $height__overviewToggle__tablet;
    }

    .DW__mini
    & {
        height: $height__overviewToggle__mini;
    }

    .DW__phone
    & {
        height: $height___overviewToggle__phone;
    }
}

.OverviewToggle {
    position: relative;

    // Ensure toggle button is above its popup container and the carousel.
    z-index: $zIndex__centreFieldChild;
}