.doorShared {
    .frame { fill: #b8b38c; }
    .doorSide { fill: #6e6246; }
    .doorFront { fill: #695d3e; }
    .edge { fill: #595039; }
    .panel { fill: #63593f; }
    .knob { fill: #b39c4c; }
    .knobMount { fill: #a89347; }
    .faceplate { fill: #594e26; }
    .bolt { fill: #4a4120; }
    .escutcheon { fill: #998541; }
    .lockSide { fill: #9e8a44; }
    .lockFront { fill: #a69147; }
    .peepholeFrame { fill: #a69147; }
    .peepholeGlass { fill: #3d4d54; }
}