/* FONTS */

@font-face {
  font-family: PTSansNarrow;
  src: url('../fonts/pt_sans/PTN57F.ttf') format('truetype'),
       url('../fonts/pt_sans/PTN77F.ttf') format('truetype')
}

/**
 * MEDIA QUERIES
 * make sure that these are consistent with App component
 */
@phones: ~"all and (max-width:420px)";
@minis: ~"all and (min-width:421px) and (max-width:700px)";
@tablets: ~"all and (min-width:701px) and (max-width:1200px)";
@desktops: ~"all and (min-width:1201px)";

/* WIDTHS */

/* universal widths */
@wrapper-max-width: 1600px;

/* phone widths */
@phone-title-bar-width: 100%;
@phone-synopsis-bar-width: 100%;
@phone-audio-player-width: 100%;
@phone-annotation-legend-width: 100%;
@phone-sticky-nav-wrapper-width: 100%;
@phone-lyrics-column-width: 100%;

/* mini widths */
// @mini-title-bar-width: 100%;
// @mini-synopsis-bar-width: 100%;
// @mini-audio-player-width: 100%;
// @mini-annotation-legend-width: 100%;
// @mini-sticky-nav-wrapper-width: 100%;
// @mini-lyrics-column-width: 100%;

/* desktop widths */
@title-bar-width: 67%;
@synopsis-bar-width: 100% - @title-bar-width;
@audio-player-width: 60%;
@annotation-legend-width: 100% - @audio-player-width;
@sticky-nav-wrapper-width: 80%;
@lyrics-column-width: 27%;

/* HEIGHTS */

/* universal heights */
@now-playing-bar-height: 48px;
@footer-height: 48px;

/* phone heights */
// @phone-base-height: 192px;
@phone-title-bar-height: 152px;
@phone-synopsis-bar-height: 144px;
@phone-audio-player-height: 100px;
@phone-annotation-legend-height: 160px;

@phone-scrolling-nav-height: @phone-title-bar-height + @phone-synopsis-bar-height + @phone-annotation-legend-height;
@phone-sticky-nav-height: @now-playing-bar-height + @phone-audio-player-height;
@phone-stuck-component-height: @phone-audio-player-height;
@phone-stuck-nav-height: @now-playing-bar-height + @phone-stuck-component-height;

// FIXME: Might not need? Keeping for now, since it's used to get wrapper height;
// Same deal for other devices
@phone-top-nav-height: @phone-scrolling-nav-height + @phone-sticky-nav-height;

@phone-page-height: 2000px;
@phone-wrapper-height: @phone-top-nav-height + @phone-page-height + @footer-height;

/* mini heights */
// @mini-title-bar-height: 152px;
// @mini-synopsis-bar-height: 144px;
// @mini-audio-player-height: 100px;
// @mini-annotation-legend-height: 160px;

// @mini-scrolling-nav-height: @mini-title-bar-height + @mini-synopsis-bar-height + @mini-annotation-legend-height;
// @mini-sticky-nav-height: @now-playing-bar-height + @mini-audio-player-height;
// @mini-stuck-component-height: @mini-audio-player-height;
// @mini-stuck-nav-height: @now-playing-bar-height + @mini-stuck-component-height;
// @mini-top-nav-height: @mini-scrolling-nav-height + @mini-sticky-nav-height;

// @mini-page-height: 2000px;
// @mini-wrapper-height: @mini-top-nav-height + @mini-page-height + @footer-height;

/* desktop heights */
@base-height: 192px;
@title-bar-height: @base-height;
@synopsis-bar-height: @base-height;
@audio-player-height: @base-height;
@annotation-legend-height: @base-height;

@scrolling-nav-height: @base-height;
@sticky-nav-height: @now-playing-bar-height + @base-height;

@top-nav-height: @scrolling-nav-height + @sticky-nav-height;

@page-height: 2000px;
@wrapper-height: @top-nav-height + @page-height + @footer-height;

/* Z-INDICES */

@page-z-index: 1;
@nav-z-index: @page-z-index + 1;
@lyrics-z-index: @nav-z-index + 1;
@audio-button-z-index: @lyrics-z-index + 1;
@expanded-popup-z-index: @audio-button-z-index + 1;