.electricGuitar__shared {
    .leatherDark { fill: #5e4b45; }
    .leatherLight { fill: #735c54; }
    .strapLight { fill: #5e838f; }
    .strapDark { fill: #547580; }
    .guitarSide { fill: #804040; }
    .guitarFront { fill: #8f4848; }
    .fretboard { fill: #665047; }
    .headstockSide { fill: #572b2b; }
    .headstockFront { fill: #693f3f; }
    .metalDark { fill: #636344; }
    .metalLight { fill: #757550; }
    .humbuckerSide { fill: #6e6e39; }
    .humbuckerFront { fill: #808043; }
    .bridgeNutDark { fill: #5f6646; }
    .bridgeNutLight { fill: #727a54; }
    .pickupDark { fill: #403831; }
    .pickupLight { fill: #4f453d; }
    .tuningKey { fill: #9b9c89; }
}