.CarouselToggle {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #b9d;
    padding: $js__margin__thin 0;
    // border-radius: 0 $borderRadius__nav 0 0;
    // box-shadow: $boxShadow__popupView;

    display: flex;
    justify-content: center;
    z-index: $zIndex__carouselNavButton;

    transition: margin $animationDuration__default,
                bottom $animationDuration__default,
                // border-radius $animationDuration__default,
                box-shadow $animationDuration__default;

    // Widths for all other devices are set by "width__leftShelf" class.
    .DW__desktop
    & {
        width: $width__overviewToggle__laptop;
    }

    .DW__desktop
    .RM__carouselExpanded
    & {
        bottom: $margin__scrollbar;
        // border-radius: 0 $borderRadius__nav $borderRadius__nav 0;
    }

    .DW__mobile
    & {
        top: 0;
        bottom: auto;
        // border-radius: 0 0 $borderRadius__nav 0;
    }

    .RM__carouselNavUnshowable
    &,
    .RM__noSelectedDots
    & {
        margin-left: -$width__overviewToggle__laptop;
    }
}
