.CarouselToggle {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: $js__margin__thin;

    display: flex;
    justify-content: center;

    /**
     * When annotation is selected, carousel switches z-index with lyric. So
     * carousel toggle should have same z-index as lyric to always show above
     * carousel.
     */
    z-index: $zIndex__lyricColumn;

    .DW__userAgentDesktop
    & {
        transition:
            margin $animationDuration__fast,
            bottom $animationDuration__fast,
            box-shadow $animationDuration__fast;
    }

    .DW__desktopWidth
    .ShW__carouselExpanded
    & {
        bottom: $margin__scrollBar;
    }

    .DW__mobileWidth
    & {
        top: 0;
        bottom: auto;
    }

    .RW__carouselNavUnshowable
    &,
    .TrW__cannotLyricCarouselEnter
    & {
        margin-left: -$width__overviewToggle;
    }
}
