.porcelain#{$suffix} {
    // .porcelainDarkest { fill: hsl(35, 18%, 37%); }
    // .porcelainDarker { fill: hsl(35, 19%, 42%); }
    // .porcelainDark { fill: hsl(35, 20%, 47%); }
    // .porcelainMediumDark { fill: hsl(35, 22%, 52%); }
    // .porcelainMedium { fill: hsl(35, 22%, 57%); }
    // .porcelainMediumLight { fill: hsl(35, 22%, 62%); }
    // .porcelainLight { fill: hsl(35, 24%, 67%); }
    // .porcelainLighter { fill: hsl(35, 25%, 72%); }
    // .porcelainLightest { fill: hsl(35, 26%, 77%); }
}
