.taiwanMountain#{$suffix} {
    .mountainDark { fill: #6b5450; }
    .mountainMedium { fill: #785f5a; }
    .mountainLight { fill: #856863; }
    .pineDark { fill: #5d824c; }
    .pineLight { fill: #6b9658; }
    .bonsaiTrunk { fill: #87755d; }
    .bonsaiLeavesDark { fill: #487a60; }
    .bonsaiLeavesLIght { fill: #589676; }
}