.Wall {
    top: 0;

    // Selector needs to be specific to override .Theatre__field styling.
    &.Wall__right {
        left: auto;
        right: 0;
    }
}

.WallBalcony {
    stroke: #484;
    fill: rgba(75, 100, 75, 1);
}