.taiwanBuoy#{$suffix} {
    .orangeDark { fill: hsl(22, 29%, 44%); }
    .orangeLight { fill: hsl(22, 29%, 48%); }
    .yellowDark { fill: hsl(58, 31%, 51%); }
    .yellowMedium { fill: hsl(58, 34%, 54%); }
    .yellowLight { fill: hsl(58, 37%, 57%); }
}