.metal#{$suffix} {
    .metalDark { fill: hsl(180, 8%, 47%); }
    .metalMediumDark { fill: hsl(180, 9%, 52%); }
    .metalMedium { fill: hsl(180, 10%, 57%); }
    .metalMediumLight { fill: hsl(180, 11%, 62%); }
    .metalLight { fill: hsl(180, 12%, 67%); }
}
