@import "./StanzaLogic.scss";
@import "./StanzaDot.scss";
@import "./StanzaDotLogic.scss";
@import "./StanzaCard.scss";
@import "./Stanza.scss";

$paddingY__lyrics: 20px;

.Stanzas {
    width: 100%;
    overflow-y: scroll;

    &:focus {
        outline: none;
    }
}

.Lyric__lyrics {
    padding: $paddingY__lyrics 0;
    line-height: 150%;
}

.gradientMask__lyricColumn__mobileCollapsed {

    /** Gradient mask does not work in IE or Edge. */
    $gradient__lyric__mobileCollapsed: linear-gradient(
        0deg,
        black,
        black 90%,
        transparent
    );
    .RM__mobile.RM__lyricCollapsed
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: $gradient__lyric__mobileCollapsed;
        mask-image: $gradient__lyric__mobileCollapsed;
    }
}