@import "./StanzaLogic.scss";

$paddingY__lyrics: 20px;

.Stanzas {
    width: 100%;
    overflow-y: scroll;

    line-height: 150%;

    &:focus {
        outline: none;
    }
}

.Stanzas__child {
    /**
     * I don't understand why having this nested element is necessary. But
     * adding the padding to the parent instead doesn't achieve the desired
     * effect, it turns out.
     */
    padding: $paddingY__lyrics 0;
}

.gradientMask__lyricColumn__mobileCollapsed {

    /** Gradient mask does not work in IE or Edge. */
    $gradient__lyric__mobileCollapsed: linear-gradient(
        0deg,
        black,
        black 90%,
        transparent
    );
    .RM__mobile.RM__lyricCollapsed
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: $gradient__lyric__mobileCollapsed;
        mask-image: $gradient__lyric__mobileCollapsed;
    }
}