@import '../../../scss/constants/zIndex';

.DramaMasks {
    z-index: $zIndex__theatre;

    transform: translateX(-50%);
    filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5));
}

.dramaMasks {
    .mask {
        fill: hsl(48, 25%, 52%);
        .PlW__logue & { fill: hsl(48, 25%, 72%); }
    }
}
