.khariFuture#{$suffix} {
    .khariShirt { fill: hsl($hue__future, 19%, 54%); }
    .khariCollar { fill: hsl($hue__future, 22%, 58%); }
    .khariSweater { fill: hsl($hue__future, 37%, 60%); }
    .khariSweaterTrim { fill: hsl($hue__future, 32%, 56%); }
    .khariShorts { fill: hsl($hue__future, 29%, 70%); }
    .khariShoe { fill: hsl($hue__future, 8%, 49%); }
}