.drums__shared {
    .pedalLight { fill: #aaad9f; }
    .pedalDark { fill: #9ea194; }
    .cymbalInner { fill: #a89a6d; }
    .rod { fill: #7a8385; }
    .stirrupDark { fill: #56594b; }
    .stirrupLight { fill: #6a6e5c; }
    .leg { fill: #a6b0b3; }
    .pad { fill: #403928; }
    .mountLight { fill: #8fa39b; }
    .mountDark { fill: #869991; }
    .mountDarker { fill: #708079; }
    .cymbalOuter { fill: #b8a256; }
    .padding { fill: #9287a1; }
    .bolt { fill: #828b8c; }
    .pole { fill: #959fa1; }
    .legInner { fill: #9fa8ab; }
    .shell { fill: #9dc76a; }
    .shellInner { fill: #91b862; }
    .hoop { fill: #9fabaa; }
    .lug { fill: #afbdbc; }
    .hoopInner { fill: #939e9d; }
    .head { fill: #bac7a9; }
    .claspLight { fill: #9db3a6; }
    .claspMedium { fill: #91a69a; }
    .claspDark { fill: #83968c; }
    .claspInner { fill: #6f8077; }
    .boltLight { fill: #8e9899; }
    .logo { fill: #454d34; }
    .cymbalCentre { fill: #998c63; }
    .throneTop { fill: #61615a; }
    .throneSide { fill: #52524c; }
    .support { fill: #828a80; }
}