.drums__shared {
    .head { fill: #bac7a9; }
    .lug { fill: #afbdbc; }
    .shell { fill: #9dc76a; }
    .shellInner { fill: #91b862; }
    .hoop { fill: #9fabaa; }
    .hoopInner { fill: #939e9d; }
    .claspLight { fill: #9db3a6; }
    .claspMedium { fill: #91a69a; }
    .claspDark { fill: #83968c; }
    .claspInner { fill: #6f8077; }
    .logo { fill: #454d34; }
}