@import "./Actor.less";
@import "./Cutout.less";
@import "./Fixture.less";

.Presence {
    transition: opacity @animationDuration__default;
    opacity: 0;

    .sceneIsShown
    & {
        opacity: 1;
    }
}

.Presence__temporaryText {
    font-size: 0.15em;
}
