.Presence__actor {
    fill: rgba(200, 200, 250, 1);
}

.Presence__cutout {
    fill: rgba(200, 250, 200, 1);
}

.Presence__fixture {
    fill: rgba(250, 200, 200, 1);
}

.PresenceTemporaryText {
    font-size: 0.15em;
}