.bennettGate#{$suffix} {
    .gateFrame { fill: #e6e2c3; }
    .gateDark { fill: #8cc; }
    .mesh { fill: rgba(150, 150, 200, 0.5); }
    .gateLight { fill: #9be8e8; }
    .gateLight { fill: #a0f0f0; }
    .escutcheon { fill: #93a6a3; }
    .knobMountDark { fill: #717b80; }
    .knobMountLight { fill: #7f8b8f; }
    .knobLight { fill: #96b3b3; }
    .knobDark { fill: #849e9e; }
    .bolt { fill: #424841; }
    .faceplate { fill: #4f5759; }
}