.oaklandCommercial#{$suffix} {
    .trimSide { fill: hsl(45, 16%, 49%); }
    .windowSide { fill: hsl(186, 31%, 62%); }
    .trimFront { fill: hsl(44, 25%, 60%); }
    .windowFront { fill: hsl(185, 46%, 71%); }
    .door { fill: hsl(25, 13%, 39%); }
    .roofFront { fill: hsl(18, 24%, 53%); }
    .roofBelow { fill: hsl(17, 20%, 49%); }
    .roofSide { fill: hsl(17, 20%, 45%); }
}
