// This file *must* be named style.module to get recognised as icss.

@import '../constants/colour';
@import '../constants/hue';
@import '../constants/icon';
@import '../constants/menu';
@import '../constants/nav';
@import '../constants/popup';
@import '../constants/responsive';
@import '../constants/slider';
@import '../constants/transition';

// Sass constants are uppercase when exported to JavaScript.
:export {
    COUNT_GAPS_SINGLE: $COUNT_GAPS_SINGLE;
    COUNT_GAPS_DOUBLE: $COUNT_GAPS_DOUBLE;
    HEIGHT_MENU: $HEIGHT_MENU;
    HEIGHT_NAV: $HEIGHT_NAV;
    LENGTH_ICON: $LENGTH_ICON;
    LENGTH_ICON_LARGE: $LENGTH_ICON_LARGE;
    LENGTH_ICON_LARGE_TABLET: $LENGTH_ICON_LARGE_TABLET;
    LENGTH_ICON_LARGE_MINI: $LENGTH_ICON_LARGE_MINI;
    MARGIN_THIN: $MARGIN_THIN;
    OVERLAP_MARGIN_X_SLIDER: $OVERLAP_MARGIN_X_SLIDER;
    PADDING_POPUP_CONTENT_WIDE: $PADDING_POPUP_CONTENT_WIDE;

    WIDTH_MENU_BREAKPOINT: $WIDTH_MENU_BREAKPOINT;
    WIDTH_LAPTOP: $WIDTH_LAPTOP;
    WIDTH_GOLDEN_CORD: $WIDTH_GOLDEN_CORD;
    WIDTH_UNCANNY_VALLEY: $WIDTH_UNCANNY_VALLEY;

    HUE_APARTMENT: $HUE_APARTMENT;
    HUE_BENNETT_LINENS: $HUE_BENNETT_LINENS;
    HUE_BENNETT_ROOM: $HUE_BENNETT_ROOM;
    HUE_FAMILY: $HUE_FAMILY;
    HUE_LIZ_LINENS: $HUE_LIZ_LINENS;
    HUE_LIZ_ROOM: $HUE_LIZ_ROOM;
    HUE_MIRIAM_LINENS: $HUE_MIRIAM_LINENS;
    HUE_WAITING: $HUE_WAITING;

    HUE_PAST: $HUE_PAST;
    HUE_PRESENT: $HUE_PRESENT;
    HUE_FUTURE: $HUE_FUTURE;
    HUE_MAGIC: $HUE_MAGIC;

    HUE_OCEAN: $HUE_OCEAN;
    HUE_ROOF: $HUE_ROOF;
    HUE_SAND: $HUE_SAND;
    HUE_SNOW: $HUE_SNOW;
    HUE_TENNIS: $HUE_TENNIS;

    COLOUR__PAST__LIGHTER: $COLOUR__PAST__LIGHTER;
    COLOUR__PAST__LIGHT: $COLOUR__PAST__LIGHT;
    COLOUR__PAST__MEDLIGHT: $COLOUR__PAST__MEDLIGHT;
    COLOUR__PAST__MEDIUM: $COLOUR__PAST__MEDIUM;
    COLOUR__PAST__DARK: $COLOUR__PAST__DARK;
    COLOUR__PAST__DARKER: $COLOUR__PAST__DARKER;
    COLOUR__FUTURE__LIGHTER: $COLOUR__FUTURE__LIGHTER;
    COLOUR__FUTURE__LIGHT: $COLOUR__FUTURE__LIGHT;
    COLOUR__FUTURE__DARK: $COLOUR__FUTURE__DARK;
    COLOUR__FUTURE__DARKER: $COLOUR__FUTURE__DARKER;

    TRANSITION_DURATION_CURTAINS: $TRANSITION_DURATION_CURTAINS;
    TRANSITION_DURATION_PRESENCE: $TRANSITION_DURATION_PRESENCE;
}
