.monitor#{$suffix} {
    .panelLight { fill: hsl(0, 0%, 45%); }
    .monitorLight { fill: hsl(200, 5%, 37%); }
    .panelMedium { fill: hsl(0, 0%, 38%); }
    .monitorMedium { fill: hsl(203, 5%, 31%); }
    .panelDark { fill: hsl(0, 0%, 30%); }
    .monitorDark { fill: hsl(206, 5%, 26%); }
    .coneOuter { fill: hsl(0, 0%, 91%); }
    .coneInner { fill: hsl(226, 11%, 32%); }
}