.FilmstripCell {
    width: 100%;
    height: 100%;
    border-radius: 1px;

    transition:
        background-color $animationDuration__default;

    FilmstripScene:hover
    & {
        animation: bounceHoverY $animationDuration__default;
        background-color: $bgColour__interactivated;
    }

    FilmstripScene:active
    & {
        transform: scaleY(0.9);
    }
}

.FilmstripCell__odd {
    background-color: $bgColour__beforeSlider;
}

.FilmstripCell__even {
    background-color: $bgColour__beforeSlider__even;
}

.FilmstripCell__selected {
    background-color: $bgColour__audioNeutral;
}

.FilmstripCell__afterSelected {

    &.FilmstripCell__odd {
        background-color: $bgColour__afterSlider;
    }

    &.FilmstripCell__even {
        background-color: $bgColour__afterSlider__even;
    }
}

.FilmstripCell__interactivated {

    // Make selector specific to override default colour.
    &.FilmstripCell {
        background-color: $bgColour__interactivated;
    }
}
