.FilmstripCell {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1px;

    .DW__userAgentDesktop
    & {
        transition: background-color $animationDuration__default;
    }

    .FilmstripScene__interactable:hover
    & {
        animation: bounceHoverY $animationDuration__default;
        background-color: $colour__interact__medium;
    }

    .FilmstripScene__interactable:active
    & {
        transform: scaleY(0.9);
    }
}

.FilmstripCell__trackerContainer {
    /**
     * Accommodate padding between cells. This is a little hacky, but it can't
     * be helped, because cells are solid elements rather than masks.
     */
    width: calc(100% + #{$length__filmPerf});
    left: -$length__filmPerf / 2;
}

.FilmstripCell__odd {
    background-color: $colour__past__medLight;
}

.FilmstripCell__even {
    background-color: $colour__past__medium;
}

.FilmstripCell__afterSelected {

    &.FilmstripCell__odd {
        background-color: $colour__future__medLight;
    }
    
    &.FilmstripCell__even {
        background-color: $colour__future__medium;
    }
}

.FilmstripCell__activated {

    // Make selector specific to override default colour.
    &.FilmstripCell {
        background-color: $colour__access__light;
    }
}

.FilmstripCell__selected {
    background-color: $colour__paused__empty;

    .PlW__isPlaying
    & {
        background-color: $colour__playing__empty;
    }
}
