.FilmstripCell {
    width: 100%;
    height: 100%;
    border-radius: 1px;

    .DW__userAgentDesktop
    & {
        transition: background-color $animationDuration__default;
    }

    .FilmstripScene:hover
    & {
        animation: bounceHoverY $animationDuration__default;
        background-color: $colour__hover__light;
    }

    .FilmstripScene:active
    & {
        transform: scaleY(0.9);
    }
}

.FilmstripCell__odd {
    background-color: $colour__past__medLight;
}

.FilmstripCell__even {
    background-color: $colour__past__medium;
}

.FilmstripCell__selected {
    background-color: $colour__paused__medium;

    .PlW__isPlaying
    & {
        background-color: $colour__playing__medium;
    }
}

.FilmstripCell__afterSelected {

    &.FilmstripCell__odd {
        background-color: $colour__future__medLight;
    }
    
    &.FilmstripCell__even {
        background-color: $colour__future__medium;
    }
}

.FilmstripCell__activated {

    // Make selector specific to override default colour.
    &.FilmstripCell {
        background-color: $colour__access__light;
    }
}
