.ButtonIcon__temporaryField {

    // TODO: Temporary styles, obviously.
    cx: 50;
    cy: 50;
    r: 50;
}

.ButtonIcon__temporaryImage {

    // TODO: Temporary styles, obviously.
    cx: 50;
    cy: 50;
    r: 25;
    fill: #ddd;
}

.ButtonIcon__temporaryText {
    position: relative;
}

.ButtonIcon__temporaryField__disabled {
    fill: $bgColour__audioDisabled;
}

.ButtonIcon__temporaryField__audioNext {
    fill: $bgColour__audioSelect;
}

.ButtonIcon__temporaryField__audioPrevious {
    fill: $bgColour__audioSelect;
}

.ButtonIcon__temporaryField__audioPlay {
    .RM__isPlaying
    & {
        fill: $bgColour__audioPause;
    }

    .RM__isPaused
    & {
        fill: $bgColour__audioPlay;
    }
}

.ButtonIcon__temporaryField__audioOptions {
    fill: $bgColour__audioNeutral;
}

.ButtonIcon__temporaryField__carouselNav {
    fill: #aed;
}

.ButtonIcon__temporaryField__carouselSelect {
    fill: #db8;
}

.ButtonIcon__temporaryField__dotsSlide {
    fill: #d9d;
}

.ButtonIcon__temporaryField__lyricEar {
    fill: #8db;
}

.ButtonIcon__temporaryField__lyricExpand {
    fill: #bd8;
}

.ButtonIcon__temporaryField__lyricScroll {
    fill: #d8b;
}

.ButtonIcon__temporaryField__navBook {
    fill: #dd8;

    .Button__indexSelected
    & {
        fill: orange;
    }
}

.ButtonIcon__temporaryField__navSong {
    fill: #dd8;

    .Button__indexSelected
    & {
        fill: orange;
    }
}

.ButtonIcon__temporaryField__overview {
    fill: #dbb;
}

.ButtonIcon__temporaryField__popupClose {
    fill: #dac;
}

.ButtonIcon__temporaryField__popupNext {
    fill: #cda;
}

.ButtonIcon__temporaryField__popupPrevious {
    fill: #adc;
}

.ButtonIcon__temporaryField__portal {
    fill: #bbd;
}

.ButtonIcon__temporaryField__scores {
    fill: #9bd;
}

.ButtonIcon__temporaryField__tips {
    fill: #dbb;
}

.ButtonIcon__temporaryField__title {
    fill: #d88;
}