.Button {
    position: relative;

    // Needed to position access icon properly. I'm not exactly sure why.
    .position__buttonInherit
    & {
        position: inherit;
    }
}

/**
 * Button and animated background will have same width, so that animated
 * background container can animate to zero width.
 */
.Button {
    &, & .icon-canvas {
        width: @js__length__icon;
        height: @js__length__icon;
    }
}

.Button {
    .LyricStanzaDot
    & {
        transition:
            width @animationDuration__default,
            height @animationDuration__default;

        height: 0;
        width: 0;
    }
}

.custom-shape {
    // Only absolute positioning shows the access icon. I'm not sure why.
    position: absolute;
    top: 0;
    left: 0;
}

.custom-size {
    &.Button {
        &, & .icon-canvas {
            width: 100%;
            height: 100%;
        }
    }
}

.Button.small {
    &, & .icon-canvas {
        width: @length__iconSmall;
        height: @length__iconSmall;
    }
}

.length__buttonLarge {
    &, & .icon-canvas {
        width: @length__iconLarge;
        height: @length__iconLarge;
    }
}

.RM__tablet {
    .length__buttonLarge {
        &, & .icon-canvas {
            width: @length__iconLarge__tablet;
            height: @length__iconLarge__tablet;
        }
    }
}

.RM__mini {
    .length__buttonLarge {
        &, & .icon-canvas {
            width: @length__iconLarge__mini;
            height: @length__iconLarge__mini;
        }
    }
}

.RM__phone {
    .length__buttonLarge {
        &, & .icon-canvas {
            width: @js__length__icon;
            height: @js__length__icon;
        }
    }
}
