.ButtonIcon {
    width: 100%;
    height: 100%;
}

.ButtonIcon__disabled {
    background-color: @bgColour__audioDisabled;
}

.ButtonIcon__temporaryEnabledName__audioSelect {
    background-color: @bgColour__audioSelect;
}

.ButtonIcon__temporaryEnabledName__audioPlay {
    .RM__isPlaying
    & {
        background-color: @bgColour__audioPause;
    }

    .RM__isPaused
    & {
        background-color: @bgColour__audioPlay;
    }
}

.ButtonIcon__temporaryEnabledName__audioOptions {
    background-color: @bgColour__audioNeutral;
}

.ButtonIcon__temporaryEnabledName__carouselNav {
    background-color: #aed;
}

.ButtonIcon__temporaryEnabledName__carouselSelect {
    background-color: #db8;
}

.ButtonIcon__temporaryEnabledName__dotsSlide {
    background-color: #d9d;
}

.ButtonIcon__temporaryEnabledName__lyricEar {
    background-color: #8db;
}

.ButtonIcon__temporaryEnabledName__lyricExpand {
    background-color: #bd8;
}

.ButtonIcon__temporaryEnabledName__nav {
    background-color: #dd8;

    .Button__indexSelected
    & {
        background-color: orange;
    }
}

.ButtonIcon__temporaryEnabledName__overview {
    background-color: #dbb;
}

.ButtonIcon__temporaryEnabledName__popupClose {
    background-color: #dac;
}

.ButtonIcon__temporaryEnabledName__popupPrevious {
    background-color: #adc;
}

.ButtonIcon__temporaryEnabledName__popupNext {
    background-color: #cda;
}

.ButtonIcon__temporaryEnabledName__portal {
    background-color: #bbd;
}

.ButtonIcon__temporaryEnabledName__scores {
    background-color: #9bd;
}

.ButtonIcon__temporaryEnabledName__title {
    background-color: #d88;
}

.ButtonIcon__temporaryEnabledName__tips {
    background-color: #dbb;
}