.button {
    position: relative;
}

/**
 * Button and animated background will have same width, so that animated
 * background container can animate to zero width.
 */
.button {
    &, & .icon-canvas {
        width: @app-icon-diameter;
        height: @app-icon-diameter;
    }
}

.custom-shape {
    // Only absolute positioning shows the access icon. I'm not sure why.
    position: absolute;
    top: 0;
    left: 0;
}

.custom-size {
    &.button {
        &, & .icon-canvas {
            width: 100%;
            height: 100%;
        }
    }
}

.button.small {
    &, & .icon-canvas {
        width: @app-small-icon-diameter;
        height: @app-small-icon-diameter;
    }
}

.button.large, .lyric-button-block {
    &, & .icon-canvas {
        width: @app-large-icon-diameter;
        height: @app-large-icon-diameter;
    }
}

.tablet-width {
    .button.large, .lyric-button-block {
        &, & .icon-canvas {
            width: @app-tablet-large-icon-diameter;
            height: @app-tablet-large-icon-diameter;
        }
    }
}

.mini-width {
    .button.large, .lyric-button-block {
        &, & .icon-canvas {
            width: @app-mini-large-icon-diameter;
            height: @app-mini-large-icon-diameter;
        }
    }
}

.phone-width {
    .button.large, .lyric-button-block {
        &, & .icon-canvas {
            width: @app-icon-diameter;
            height: @app-icon-diameter;
        }
    }
}
