.ButtonIcon {
    width: 100%;
    height: 100%;
}

.ButtonIcon__disabled {
    background-color: @bgColour__audioDisabled;
}

.ButtonIcon__temporaryEnabledName__scores {
    background-color: #bdb;
}

.ButtonIcon__temporaryEnabledName__tips {
    background-color: #dbb;
}
