.ButtonIcon__audioNext {
    fill: $bgColour__audioSelect;
}

.ButtonIcon__audioPrevious {
    fill: $bgColour__audioSelect;
}

.ButtonIcon__audioPlay {
    d: path("M 50,0 L 100,50 L 50,100 L0,50 Z");

    .RM__isPlaying
    & {
        fill: $bgColour__audioPause;
    }

    .RM__isPaused
    & {
        fill: $bgColour__audioPlay;
    }
}

.ButtonIcon__audioOptions {
    fill: $bgColour__audioNeutral;
}

.ButtonIcon__carouselNav {
    fill: #aed;
}

.ButtonIcon__carouselSelect {
    fill: #db8;
}

.ButtonIcon__dotsSlide {
    fill: #d9d;
}

.ButtonIcon__lyricEar {
    fill: #8db;
}

.ButtonIcon__lyricExpand {
    fill: #bd8;
}

.ButtonIcon__lyricScroll {
    fill: #d8b;
}

.ButtonIcon__navBook {
    fill: #dd8;

    .Button__indexSelected
    & {
        fill: orange;
    }
}

.ButtonIcon__navSong {
    &.NavSongIcon__field {
        fill: #884;
    }
    &.NavSongIcon__char {
        fill: #dd8;
    }

    .Button__indexSelected
    &.NavSongIcon__field {
        fill: #862;
    }
    .Button__indexSelected
    &.NavSongIcon__char {
        fill: orange;
    }
}

.ButtonIcon__overview {
    fill: #dbb;
}

.ButtonIcon__popupClose {
    fill: #dac;
}

.ButtonIcon__popupNext {
    fill: #cda;
}

.ButtonIcon__popupPrevious {
    fill: #adc;
}

.ButtonIcon__wormhole {
    fill: #bbd;
}

.ButtonIcon__scores {
    fill: #9bd;
}

.ButtonIcon__tips {
    fill: #dbb;
}

.ButtonIcon__title {
    fill: #d88;
}

.ButtonIcon__disabled {
    fill: $bgColour__audioDisabled;
}
