@import "./ButtonIcon/style";
@import "./Tooltip/style";

.Button {
    position: relative;
    opacity: 0.25;

    .DW__userAgentDesktop
    & {
        transition:
            opacity $animationDuration__default,
            background-color $animationDuration__default,
            transform $animationDuration__instant;
    }
}

.Button__popup {
    position: absolute;
    top: 0;
    left: 0;
}

.Button__defaultSize {
    min-width: $LENGTH_ICON;
    width: $LENGTH_ICON;
    height: $LENGTH_ICON;
}

.Button__smallSize {
    min-width: $length__iconSmall;
    width: $length__iconSmall;
    height: $length__iconSmall;
}

.Button__largeSize {
    min-width: $LENGTH_ICON_LARGE;
    width: $LENGTH_ICON_LARGE;
    height: $LENGTH_ICON_LARGE;

    .DW__tabletWidth
    & {
        min-width: $LENGTH_ICON_LARGE_TABLET;
        width: $LENGTH_ICON_LARGE_TABLET;
        height: $LENGTH_ICON_LARGE_TABLET;
    }

    .DW__miniWidth
    & {
        min-width: $LENGTH_ICON_LARGE_MINI;
        width: $LENGTH_ICON_LARGE_MINI;
        height: $LENGTH_ICON_LARGE_MINI;
    }

    .DW__phoneWidth
    & {
        min-width: $LENGTH_ICON;
        width: $LENGTH_ICON;
        height: $LENGTH_ICON;
    }
}

.Button__enabled {
    cursor: pointer;
}

.Button__clickDisabled,
.Button__enabled {
    opacity: 1;
}

.ButtonAnimatable {

    .Button__accessed.Button__enabled
    &,
    .Button__enabled:hover
    & {
        animation: bounceHover $animationDuration__default;
    }

    // "Root accessed letter Enter."
    .PaLEnter
    .Button__accessed.Button__enabled
    &,
    .Button__enabled:active
    & {
        transform: scale(0.9);
    }
}
