.sashaPast#{$suffix} {
    .sashaHairTie { fill: hsl($hue__past, 28%, 51%); }
    .sashaShirt { fill: hsl($hue__past, 45%, 72%); }
    .sashaPants { fill: hsl($hue__past, 29%, 56%); }
    .sashaSock { fill: hsl($hue__past, 36%, 61%); }
    .sashaShoe { fill: hsl($hue__past, 20%, 42%); }
}