@import "./Timer/style";
@import "./Title/style";

.Banner {
    height: 28px;
    top: 0;
    padding-left: $js__margin__thin * 2;
    padding-right: $js__margin__thin * 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: $borderRadius__narrow;

    line-height: 1em;

    background-color: $bgColour__audioPause;

    cursor: pointer;
}

.BannerTracker {
    background-color: $bgColour__audioPlay;
    transition:
        width $animationDuration__slow;
}
