.thoughtSpeechShared {
    .bennettShoe {
        fill: #474032;
    }

    .bennettShoeSole {
        fill: #4a4a4a;
    }

    .bennettJeans {
        fill: #5c7bab;
    }

    .bennettSweater {
        fill: #b35e58;
    }

    .bennettHood {
        fill: #bf7b77;
    }

    .bennettSleeves {
        fill: #b35e58;
    }

    .bennettShirt {
        fill: #eee;
    }

    .skinEastAsian {
        fill: #d1b899;
    }

    .lizShoe {
        fill: #706552;
    }

    .skinIndian {
        fill: #856439;
    }

    .lizPants {
        fill: #4a4870;
    }

    .lizJacket {
        fill: #60a387;
    }

    .lizLapel {
        fill: #72b398;
    }

    .lizShirt {
        fill: #bce3d5;
    }

    .hairBlack {
        fill: #343636;
    }

    .hairBlackDark {
        fill: #2a2b2b;
    }

    .mouth {
        fill: #453d36;
    }

    .eye {
        fill: #343636;
    }
}