.christopherPast#{$suffix} {
    .christopherShirt { fill: hsl($hue__past, 51%, 59%); }
    .christopherShorts { fill: hsl($hue__past, 17%, 44%); }
    .christopherShoe { fill: hsl($hue__past, 31%, 57%); }
}