.apartmentPlant {
    .stalk {
        fill: #685036;
    }

    .leaves {
        fill: #427250;
    }

    .pot {
        fill: #5d5c9b;
    }

    .brim {
        fill: #49478e;
    }
}

.codeBox {
    .boxBack {
        fill: #e6e6e6;
    }

    .slit {
        fill: #534741;
    }

    .keypad {
        fill: #998675;
    }

    .key {
        fill: #c7b299;
    }

    .boxSide {
        fill: #666;
    }

    .boxBottom {
        fill: #999;
    }

    .boxTop {
        fill: #333;
    }

    .boxFront {
        fill: #ccc;
    }
}