// Constants prefixed with js *must* be the same in JavaScript.
$js__height__menu: 72px;

.Menu__topField {
    height: $js__height__menu;
    padding: $js__margin__thin;
}

.Menu__main {
    .DW__higherProcessor
    & {
        transition:
            margin $animationDuration__slow,
            max-width $animationDuration__slow;
    }

    /**
     * Dynamic margins are calculated by JavaScript when menu mainTop is
     * centred. Override them when it's not. Not happy about doing it this way,
     * but I wasn't able to keep the animation smooth in Safari otherwise.
     */
    .DW__desktopWidth
    .PlW__song
    .ShW__overlayHidden
    & {
        // This keeps the menu mainTop to the right.
        margin: 0 !important;
        max-width: auto;
    }

        // In desktop, when in logue, centre menu main.
        .DW__desktopWidth
        .PlW__logue
        &,

        // In desktop, also centre menu main in overlay.
        .DW__desktopWidth
        .ShW__overlayShown
        & {
            $js__width__menu__breakpoint: 720px;
            max-width: $js__width__menu__breakpoint;
        }
}

.Menu__mainTop {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Margin between menu children.
    & > :not(:last-child) {
        margin-right: $js__margin__thick * 2;
    }

    /**
     * This allows the about tooltip to show above the banner and filmstrip,
     * despite being lower in stacking order.
     */
    .AboutToggle { order: 1 };
    .BannerFilmstrip { order: 2 };
    .Audio { order: 3 };
}

.Menu__mainBottom {
    top: $js__height__menu;
    padding-top: $js__margin__thin;

    height:
        $js__length__iconLarge
        + $js__margin__thin;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Menu__lyricTop {
    padding-left: $js__margin__thick * 2;
    padding-right: $js__margin__thick * 2;
}
