.chrome#{$suffix} {
    .chromeDarkest { fill: hsl(120, 10%, 37%); }
    .chromeDarker { fill: hsl(120, 10%, 42%); }
    .chromeDark { fill: hsl(120, 10%, 47%); }
    .chromeMediumDark { fill: hsl(120, 10%, 52%); }
    .chromeMedium { fill: hsl(120, 10%, 57%); }
    .chromeMediumLight { fill: hsl(120, 10%, 62%); }
    .chromeLight { fill: hsl(120, 10%, 67%); }
}
