.roseRed#{$suffix} {
    .rose { fill: hsl(336, 29%, 50%); }

    .magicSeason
    &.magic#{$suffix} {
        .rose { fill: hsl($HUE_MAGIC, 19%, 40%); }
    }

    .futureSeason
    &.future#{$suffix} {
        .rose { fill: hsl($HUE_FUTURE, 19%, 40%); }
    }
}