.tetherballPole#{$suffix} {
    .baseSide { fill: hsl(161, 9%, 65%); }
    .baseTop { fill: hsl(161, 17%, 78%); }
    .tetherball { fill: hsl(38, 30%, 58%); }
    .rope { fill: hsl(55, 17%, 55%); }
    .pole { fill: hsl(160, 12%, 71%); }
}