.drumStand#{$suffix} {
    .pole { fill: #959fa1; }
    .rod { fill: #7a8385; }
    .leg { fill: #a6b0b3; }
    .legInner { fill: #9fa8ab; }
    .pad { fill: #403928; }
    .padding { fill: #9287a1; }
    .bolt { fill: #828b8c; }
    .boltLight { fill: #8e9899; }
    .mountLight { fill: #8fa39b; }
    .mountDark { fill: #869991; }
    .mountDarker { fill: #708079; }
    .pedalLight { fill: #aaad9f; }
    .pedalDark { fill: #9ea194; }
    .stirrupDark { fill: #56594b; }
    .stirrupLight { fill: #6a6e5c; }
}