.saturn#{$suffix} {
    .wheelHandle { fill: hsl(268, 6%, 59%); }
    .wheelHub { fill: hsl(268, 6%, 54%); }

    .body { fill: hsl(268, 26%, 54%); }
    .bumper { fill: hsl(0, 0%, 60%); }

    .bar { fill: hsl(268, 11%, 66%); }
    .cushion { fill: hsl(268, 6%, 68%); }
    .metalDark { fill: hsl(268, 13%, 28%); }

    .nightTime
    &.nightTime#{$suffix} {
        .body { fill: hsl(268, 16%, 44%); }
        .bumper { fill: hsl(0, 0%, 50%); }

        .bar { fill: hsl(268, 6%, 51%); }
        .cushion { fill: hsl(268, 6%, 43%); }
        .metalDark { fill: hsl(268, 8%, 23%); }
    }
}
