.ButtonIcon__carouselNav {
    fill: hsl(165, 67%, 80%);
}

.ButtonIcon__carouselNav {
    .cardBack { fill: $bgColour__annotation__dark; }
    .cardFront { fill: $bgColour__annotation; }
    .annotation { fill: $bgColour__annotationCard; }
}