.apartSketch {
    .boyShirt { fill: #9c9c9c; }
    .boyPants { fill: #878787; }
    .boyShoe { fill: #5e5e5e; }
    .boyYarmulke { fill: #d4d4d4; }
    .land { fill: #878787; }
    .ocean { fill: #b8b8b8; }
    .hatTop { fill: #adadad; }
    .hatBottom { fill: #858585; }
    .puppetShoe { fill: #666; }
    .puppetShirt { fill: #949494; }
    .puppetPants { fill: #878787; }
}

.cinemaThoughtBuying {
    .floor { fill: #889c74; }
    .wall { fill: #b2cc99; }
    .posterLeft { fill: #5f75a3; }
    .posterRight { fill: #785fa3; }
    .albumRightTop { fill: #bf8a77; }
    .albumLeftTop { fill: #bdbf77; }
    .pileSide { fill: #a4a686; }
    .pileTop { fill: #b1b391; }
    .albumRightBottom { fill: #81bf77; }
    .yearlingsAlbum { fill: #77b0bf; }
    .standFront { fill: #9e9c6b; }
    .standSide { fill: #7a7953; }
    .binFront { fill: #bab87e; }
    .binSide { fill: #adab75; }
    .mask { fill: #c9c2a5; }
    .albumHeld { fill: #bf7c9a; }
}

.cinemaThoughtRecording {
    .wall { fill: #88a6ae; }
    .floor { fill: #506468; }
    .paper { fill: #e6e6e6; }
    .melodicaBody { fill: #b38776; }
    .melodicaKey { fill: #cfcfc8; }
    .popScreen { fill: rgba(100, 100, 150, 0.5); }
    .popScreenHolder { fill: #5f5d73; }
    .fader { fill: #a4bdb5; }
    .consoleScreen { fill: #88a199; }
    .console { fill: #7d948d; }
    .consolePanel { fill: #7b918a; }
}

.escapePodSketch {
    .stationBottom { fill: #707070; }
    .stationMiddle { fill: #7a7a7a; }
    .trim { fill: #adadad; }
    .panelFront { fill: #b5b5b5; }
    .panelSide { fill: #a3a3a3; }
    .bar { fill: #b5b5b5; }
    .hatchFront { fill: #9c9c9c; }
    .stationTop { fill: #858585; }
    .stationInner { fill: #5e5e5e; }
    .hatchHole { fill: #525252; }
    .hatchSide { fill: #8f8f8f; }
    .glass { fill: #e6e6e6; }
    .flameOuter { fill: #8c8c8c; }
    .flameInner { fill: #999; }
    .podInner { fill: #616161; }
    .podOuter { fill: #8a8a8a; }
}

.estherSpeech {
    .bubble { fill: #9eafae; }
}

.lizThought {
    .ground { fill: #a19b78; }
    .sky { fill: #a4c9eb; }
    .foliage { fill: #64a66e; }
    .cloud { fill: #59646e; }
    .windshield { fill: #6f8cbf; }
    .headrest { fill: #6b6e51; }
    .tireSide { fill: #3c3f4a; }
    .tireFront { fill: #575b6b; }
    .reattaRear { fill: #b55a50; }
    .reattaTrimRear { fill: #6f738a; }
    .reattaLightRear { fill: #ffa263; }
    .reattaSide { fill: #a6493e; }
    .reattaTrimSide { fill: #606478; }
    .reattaLightSide { fill: #bd7849; }
    .hubcap { fill: #71798a; }
    .exhaust { fill: #6f7d8a; }
    .tear { fill: #518bad; }
}

.pharmacyCel {
    .sheetFront { fill: #c9c9c9; }
    .sheetBack { fill: #dbdbdb; }
}

.siblingConstellation {
    .shoe { fill: gray; }
    .crown { fill: #adadad; }
    .dress { fill: #a8a8a8; }
    .spearShaft { fill: #7a7a7a; }
    .spearHead { fill: #b8b8b8; }
    .pommel { fill: #999; }
    .grip { fill: #787878; }
    .horn { fill: #d4d4d4; }
    .blade { fill: #c4c4c4; }
    .guard { fill: #a1a1a1; }
    .belt { fill: #878787; }
    .star { fill: #ebebeb; }
}

.tarpitConstellation {
    .tar { fill: #595959; }
    .pitSide { fill: #7a7a7a; }
    .tigerHind { fill: #919191; }
    .tigerBody { fill: #999; }
    .tigerHead { fill: #9e9e9e; }
    .mastodonHind { fill: #828282; }
    .mastodonBody { fill: #8f8f8f; }
    .mastodonHead { fill: #9c9c9c; }
    .legTar { fill: #666; }
    .eye { fill: #757575; }
    .nose { fill: #757575; }
    .mouth { fill: #757575; }
    .tongue { fill: #757575; }
    .tooth { fill: #d1d1d1; }
    .star { fill: #ebebeb; }
}

.togetherSketch {
    .mountain { fill: #5c5c5c; }
    .snow { fill: #fbfbfb; }
    .cloud { fill: #ececec; }
    .post { fill: #878787; }
    .plank { fill: #a2a2a2; }
    .suspenders { fill: #d4d4d4; }
    .rope { fill: #969696; }
}

.waitingThoughtSinging {
    .floor { fill: #4a6962; }
    .wall { fill: #7db0a5; }
    .lampPole { fill: #808079; }
    .lampShade { fill: #babaa7; }
    .lampBase { fill: #70706a; }
    .nightstand { fill: #706d4f; }
    .skirt { fill: #70577d; }
    .cushionFront { fill: #775c85; }
    .cushionTop { fill: #8c6c9c; }
    .armrest { fill: #7d618c; }
}

.waitingThoughtStudying {
    .floor { fill: #576850; }
    .wall { fill: #93ae88; }
    .chairLeg { fill: #6b624e; }
    .chairSeat { fill: #697862; }
    .pen { fill: #8c8c5f; }
    .bookBottom { fill: #536599; }
    .bookMiddle { fill: #969963; }
    .bookTop { fill: #7e5a99; }
    .cover { fill: #735361; }
    .pageFront { fill: #b2b399; }
    .pageSide { fill: #b2b399; }
    .pageTop { fill: #93947e; }
    .tableLeg { fill: #5e5645; }
    .tableTop { fill: #736954; }
}

.waitingThoughtWalking {
    .sky { fill: #b6e6f0; }
    .grass { fill: #629c61; }
    .shore { fill: #f5ffbf; }
    .path { fill: #989e76; }
    .lake { fill: #4a78bd; }
    .foliage { fill: #558c54; }
    .bush { fill: #477546; }
    .leaves { fill: #548253; }
    .benchLeg { fill: #4d4538; }
    .benchRest { fill: #5c5344; }
    .benchSeat { fill: #574f40; }
}
