.Carousel__selectButtons {
    position: absolute;
    bottom: -@app-large-icon-diameter - @app-thin-margin * 2 - @width__scrollbar;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: @app-thin-margin;
    z-index: @zIndex__carouselNavButton;

    transition: bottom @animationDuration__default;

    background-color: orange;

    .Button:first-child {
        margin-right: @app-thin-margin;
    }

    ._desktop_
    & {
        margin-bottom: @width__scrollbar;
    }

    ._monitor_
    & {
        right: @width__goldenCord;
    }

    ._laptop_
    & {
        right: @width__uncannyValley;
    }

    ._mobile_
    & {
        transition: top @animationDuration__default;
        top: -@app-tablet-large-icon-diameter - @app-thin-margin * 2;
        bottom: auto;
    }

    ._mini_
    & {
        top: -@app-mini-large-icon-diameter - @app-thin-margin * 2;
    }

    ._desktop_._song_._annotationShown_._carouselExpanded_
    & {
        bottom: 0;
    }

    ._mobile_._song_._annotationShown_._carouselExpanded_
    & {
        top: 0;
    }
}

// Hide both carousel and nav in logues.
._carouselNavShowable_ {

    &._navExpanded_._lyricHeighted_ {

        // No need to make an exception for phone, since it isn't rendered.
        &._mobile_ {
            .books-column-block {
                top: 0;
            }
        }

        &._desktop_ {
            .books-column-block {
                bottom: 0;
            }
        }
    }

    &._carouselExpanded_ {

        .Carousel {
            &.render-ready {
                opacity: 1;
            }
        }

        &._desktop_ {
            .Carousel {
                bottom: -@carousel-height-variable;
            }
        }

        &._tablet_ {
            .Carousel {
                top: -@CarouselToggle-tablet-length;
            }
        }

        &._mini_ {
            .Carousel {
                top: -@CarouselToggle-mini-length;
            }
        }
    }
}