// TODO: Move default logic here as well.

.RsDn .CcAn,
.RsDb .CcAb,
.RsDo .CcAo,
.RsDp .CcAp,
.RsDr .CcAr,
.RsDs .CcAs,
.RsDp .CcAp,
.RsDa .CcAa {

    min-width: $width__annotationCard;

    margin-left: $paddingX__carouselAnnotation;
    margin-right: $paddingX__carouselAnnotation;

    .AnnotationHeaderAnimatable {
        height: 40px;
        opacity: 1;
    }
}

.RM__mini.RsDn .CcAn,
.RM__mini.RsDb .CcAb,
.RM__mini.RsDo .CcAo,
.RM__mini.RsDp .CcAp,
.RM__mini.RsDr .CcAr,
.RM__mini.RsDs .CcAs,
.RM__mini.RsDp .CcAp,
.RM__mini.RsDa .CcAa {

    min-width: $width__annotationCard__mini;
}

/**
 * Override if hidden by single lyric column. Using specific selectors to
 * override styles for mini width as well.
 */
.Root.RM__rightLyricColumnOnly
    .CarouselAnnotation__inLyricColumn__left,
.Root.RM__leftLyricColumnOnly
    .CarouselAnnotation__inLyricColumn__right {

    min-width: 0;
    opacity: 0;

    margin: 0;

    .AnnotationCardAnimatable {
        max-height: 0;
        opacity: 0;
    }

    .AnnotationHeaderAnimatable {
        height: 0;
        opacity: 0;
    }
}
