.CarouselSelect {
    position: absolute;
    right: 0;
    display: flex;
    padding: @js__margin__thin;

    background-color: orange;

    .RM__desktop
    & {
        transition: bottom @animationDuration__default;
        bottom:
            -@js__length__iconLarge
            - @js__margin__thin * 2
            - @margin__scrollbar;

        margin-bottom: @margin__scrollbar;
        margin-right: @margin__scrollbar;
    }

    .RM__mobileNotPhone
    & {
        transition: top @animationDuration__default;
        top:
            -@js__length__iconLarge__tablet
            - @js__margin__thin * 2;

        margin-top: @js__margin__thin;
        margin-right: @js__margin__thin;
    }

    .RM__desktop.RM__song.RM__annotationShown.RM__carouselExpanded
    & {
        bottom: 0;
    }

    .RM__mobileNotPhone.RM__song.RM__annotationShown.RM__carouselExpanded
    & {
        top: 0;
    }

    :first-child {
        margin-right: @js__margin__thin;
    }
}
