$paddingX__carouselAnnotation: 8px;

.CarouselAnnotation {
    overflow: hidden;

    display: flex;
    flex-direction: column-reverse;

    min-width: 0;

    .RM__mobileNotPhone
    & {
        flex-direction: column;
    }

    .parentIsShown
    & {
        transition: min-width $animationDuration__default,
        opacity $animationDuration__default;
    }
}
