.Carousel__selectButtons {
    position: absolute;
    bottom: -@length__iconLarge - @margin__thin * 2 - @width__scrollbar;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: @margin__thin;
    z-index: @zIndex__carouselNavButton;

    transition: bottom @animationDuration__default;

    background-color: orange;

    ._desktop_
    & {
        margin-bottom: @width__scrollbar;
    }

    ._desktop_._song_._annotationShown_._carouselExpanded_
    & {
        bottom: 0;
    }

    ._mobile_._song_._annotationShown_._carouselExpanded_
    & {
        top: 0;
    }

    ._monitor_
    & {
        right: @width__goldenCord;
    }

    ._laptop_
    & {
        right: @width__uncannyValley;
    }

    ._mobile_
    & {
        transition: top @animationDuration__default;
        top: -@length__iconLarge__tablet - @margin__thin * 2;
        bottom: auto;
    }

    ._mini_
    & {
        top: -@length__iconLarge__mini - @margin__thin * 2;
    }

    :first-child {
        margin-right: @margin__thin;
    }
}
