@import "./CarouselAnnotation.less";
@import "./CarouselNav.less";
@import "./CarouselToggle.less";

.Carousel {
    position: absolute;
    left: 0;
    bottom: calc(~"-100% - @{carousel-position-variable}");
    width: 100vw;
    height: calc(~"100% + @{carousel-height-variable}");
    z-index: @zIndex__carousel;
    transition: bottom @animationDuration__slow,
                opacity @animationDuration__default;
    opacity: 0;

    ._mobile_
    & {
        transition: top @animationDuration__slow,
        opacity @animationDuration__default;
    }

    ._tablet_
    & {
        bottom: auto;
        top: calc(~"-100% - @{carousel-tablet-variable}");
        height: calc(~"100% + @{CarouselToggle-tablet-length}");
    }

    ._mini_
    & {
        top: calc(~"-100% - @{carousel-mini-variable}");
        height: calc(~"100% + @{CarouselToggle-mini-length}");
    }
}

.Carousel__scrollContainer {
    display: flex;
    flex-direction: column-reverse;
    overflow-x: scroll;
    height: 100%;

    ._mobile_
    & {
        flex-direction: column;
    }
}

/** Gradient mask does not work in IE or Edge, though. */
.Carousel__desktopGradientMask {
    // Consider Golden Cord width.
    @gradient__monitor:
        linear-gradient(
            to left,
            black,
            transparent @width__goldenCord * 0.4,
            transparent @width__goldenCord * 0.6,
            black @width__goldenCord,
            black
        );
    ._monitor_
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: @gradient__monitor;
        mask-image: @gradient__monitor;
    }

    // Consider Uncanny Valley width.
    @gradient__laptop:
        linear-gradient(
            to left,
            black,
            transparent @width__uncannyValley * 0.4,
            transparent @width__uncannyValley * 0.6,
            black @width__uncannyValley,
            black
        );
    ._laptop_
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: @gradient__laptop;
        mask-image: @gradient__laptop;
    }
}