.carousel-annotations-block {
    display: flex;

    .is-desktop
    & {
        margin-bottom: -@carousel-annotation-padding;
    }

    .is-mobile
    & {
        margin-top: -@carousel-annotation-padding;
    }
}

.carousel-annotation {
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column-reverse;

    min-width: @carousel-annotation-hidden-padding;
    transition: min-width @animation-default,
                opacity @animation-default;

    &:not(:last-child) {
        margin-right: @annotation-section-padding * 0.5 -
                      @carousel-annotation-padding * 2;
    }

    &:first-child {
        padding-left: @carousel-toggle-laptop-length;
    }

    .monitor-width
    &:last-child {
        padding-right:
            @golden-cord-width + @carousel-nav-buttons-block-width;
    }

    .laptop-width
    &:last-child {
        padding-right:
            @uncanny-valley-width + @carousel-nav-buttons-block-width;
    }

    .is-mobile
    & {
        flex-direction: column;
    }

    .tablet-width
    & {
        // Override to be consistent with desktop.
        &:first-child {
            padding-left: @OverviewToggle-tablet-width;            
        }

        &:last-child {
            padding-right: @carousel-nav-buttons-block-tablet-width;
        }
    }

    .mini-width
    & {
        // Override to be consistent with desktop.
        &:first-child {
            padding-left: @OverviewToggle-mini-width;            
        }

        &:last-child {
            padding-right: @carousel-nav-buttons-block-mini-width;
        }
    }

    .override-animate
    & {
        transition: none;
    }

    /**
     * Override if hidden by single lyric column. Using specific selectors to
     * override styles for mini width as well.
     */
    .domManager.is-song.show-only-right
    &.in-column-left,
    .domManager.is-song.show-only-left
    &.in-column-right {
        min-width: @carousel-annotation-hidden-padding;

        .annotation-title-block {
            max-height: 0;
        }
    }
}

.annotation-section {
    .carousel-annotation
    & {
        transition: background-color @animation-default;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding-bottom: @annotation-section-padding;

        // margin: @carousel-annotation-small-padding
        //         @annotation-section-padding;

        padding: @carousel-annotation-small-padding
                 @carousel-annotation-padding
                 @carousel-annotation-padding;
    }
}