.CarouselToggle {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #edf;
    padding: @margin__thin 0;
    border-radius: 0 @borderRadius__nav 0 0;
    box-shadow: @boxShadow__popup;

    display: flex;
    justify-content: center;
    z-index: @zIndex__carouselNavButton;

    transition: margin @animationDuration__default,
                bottom @animationDuration__default,
                border-radius @animationDuration__default,
                box-shadow @animationDuration__default;

    // Widths for all other devices are set by "width__leftShelf" class.
    .RM__desktop
    & {
        width: @width__overviewToggle__laptop;
    }

    .RM__desktop.RM__carouselExpanded
    & {
        bottom: @margin__scrollbar;
        border-radius: 0 @borderRadius__nav @borderRadius__nav 0;
    }

    .RM__mobile
    & {
        top: 0;
        bottom: auto;
        border-radius: 0 0 @borderRadius__nav 0;
    }

    .RM__carouselNavUnshowable
    & {
        margin-left: -@width__overviewToggle__laptop;
    }
}
