.CarouselToggle {
    position: absolute;
    width: @width__overviewToggle__laptop;
    left: 0;
    bottom: 0;
    background-color: #edf;
    padding: @margin__thin 0;
    border-radius: 0 @borderRadius__nav 0 0;
    box-shadow: @boxShadow__popup;

    display: flex;
    justify-content: center;
    z-index: @zIndex__carousel + 1;

    transition: margin @animationDuration__default,
                bottom @animationDuration__default,
                border-radius @animationDuration__default,
                box-shadow @animationDuration__default;

    ._desktop_._carouselExpanded_
    & {
        bottom: @margin__scrollbar;
        border-radius: 0 @borderRadius__nav @borderRadius__nav 0;
    }

    ._mobile_
    & {
        top: 0;
        bottom: auto;
        border-radius: 0 0 @borderRadius__nav 0;
    }

    ._tablet_
    & {
        width: @width__overviewToggle__tablet;
    }

    ._mini_
    & {
        width: @width__overviewToggle__mini;
    }

    ._carouselNavUnshowable_
    & {
        margin-left: -@width__overviewToggle__laptop;
    }
}
