@import "./CarouselAnnotation.less";
@import "./CarouselSelect.less";
@import "./CarouselToggle.less";

.Carousel {
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100vw;
    height: 100%;
    z-index: @zIndex__carousel;

    transition: bottom @animationDuration__slow,
                opacity @animationDuration__default;
    opacity: 0;

    ._mobileNotPhone_
    & {
        bottom: auto;
        transition: top @animationDuration__slow,
                    opacity @animationDuration__default;

        top: -100%;
    }

    ._carouselNavShowable_._carouselExpanded_
    &.renderReady {
        opacity: 1;
    }

    ._desktop_._carouselNavShowable_._carouselExpanded_
    & {
        bottom: 0;
    }

    ._mobileNotPhone_._carouselNavShowable_._carouselExpanded_
    & {
        top: 0;
    }
}

.Carousel__scrollParent {
    height: 100%;
    display: flex;
    overflow-x: scroll;
}

/** Gradient mask does not work in IE or Edge, though. */
.Carousel__desktopGradientMask {
    // Consider Golden Cord width.
    @gradient__monitor:
        linear-gradient(
            to left,
            black,
            transparent @js__width__goldenCord * 0.4,
            transparent @js__width__goldenCord * 0.6,
            black @js__width__goldenCord,
            black
        );
    ._monitor_
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: @gradient__monitor;
        mask-image: @gradient__monitor;
    }

    // Consider Uncanny Valley width.
    @gradient__laptop:
        linear-gradient(
            to left,
            black,
            transparent @js__width__uncannyValley * 0.4,
            transparent @js__width__uncannyValley * 0.6,
            black @js__width__uncannyValley,
            black
        );
    ._laptop_
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: @gradient__laptop;
        mask-image: @gradient__laptop;
    }
}