$paddingX__carouselAnnotation: 8px;

.CarouselAnnotation {
    overflow: hidden;

    display: flex;
    flex-direction: column-reverse;

    min-width: 0;

    .RM__mobileNotPhone
    & {
        flex-direction: column;
    }

    .parentIsShown
    & {
        transition: min-width $animationDuration__default,
        opacity $animationDuration__default;
    }
}

.Annotation {

    .CarouselAnnotation
    & {
        padding: $js__margin__thick;

        // TODO: Change this.
        background-color: rgba(200, 255, 200, 0.5);
    }
}