.carousel-toggle-button-block {
    position: absolute;
    left: 0;
    background-color: #edf;
    padding: @app-thin-margin 0;
    border-radius: 0 @nav-border-radius 0 0;

    transition: margin @animation-default,
                border-radius @animation-default,
                box-shadow @animation-default;

    display: flex;
    justify-content: center;
    z-index: @carousel-z-index + 1;

    width: @carousel-toggle-laptop-length;

    .is-desktop
    & {
        bottom: 0;
    }

    .is-mobile
    & {
        top: 0;
        bottom: auto;
        border-radius: 0 0 @nav-border-radius 0;
    }

    .carousel-nav-cannot-show
    & {
        margin-left: -@carousel-toggle-laptop-length;
    }

    box-shadow: @popup-box-shadow;
}

// TODO: These are probably unnecessary?
// .mini-width {
//     &.lyric-expanded, &.heightless-lyric, &.is-logue {
//         .carousel-toggle-button-block {
//             left: -@OverviewToggle-mini-width;
//         }
//     }
// }

// .is-mobile {

//     &.lyric-expanded, &.heightless-lyric, &.is-logue {
//         .carousel-toggle-button-block {
//             left: -@OverviewToggle-tablet-width;
//         }
//     }
// }