@paddingX__carouselAnnotation: 16px;

@paddingX__carouselAnnotation__hidden:
    @paddingX__carouselAnnotation * 2
    - @padding__annotation * 0.5;

.CarouselAnnotation {
    overflow-y: scroll;
    overflow-x: hidden;

    display: flex;
    flex-direction: column-reverse;

    min-width: @paddingX__carouselAnnotation__hidden;

    transition: min-width @animationDuration__default,
                opacity @animationDuration__default;

    ._mobile_
    & {
        flex-direction: column;
    }

    &:not(:last-child) {
        margin-right:
            @padding__annotation * 0.5
            - @paddingX__carouselAnnotation * 2;
    }

    .overrideAnimate
    & {
        transition: none;
    }

    /**
     * Override if hidden by single lyric column. Using specific selectors to
     * override styles for mini width as well.
     */
    .DomManager._song_._rightLyricColumnOnly_
    &.CarouselAnnotation__inLyricColumn__left,
    .DomManager._song_._leftLyricColumnOnly_
    &.CarouselAnnotation__inLyricColumn__right {

        min-width: @paddingX__carouselAnnotation__hidden;

        .annotation-title-block {
            max-height: 0;
        }
    }
}

.Annotation {
    .CarouselAnnotation
    & {
        transition: background-color @animationDuration__default;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 0 @paddingX__carouselAnnotation;
    }
}