@import "./Access/style";
@import "./Annotation/style";
@import "./Scroll/style";

/**
 * Make this the full height of the carousel itself, to ensure that nothing is
 * clickable when carousel is hidden.
 */
$height__carouselHidden: $height__chivalry;

.Carousel {
    position: absolute;
    left: 0;
    width: 100vw;

    opacity: 0;

    // Carousel just needs to be above nav.
    z-index: $zIndex__theatre;

    .DW__desktopWidth
    & {
        bottom: -$height__carouselHidden;

        height: $height__chivalry;
        padding-bottom: $js__margin__thin;
    }

    .DW__higherProcessor.DW__desktopWidth
    & {
        transition:
            opacity $animationDuration__fast,
            bottom $animationDuration__fast;
    }


    .DW__mobileWidth
    & {
        top: -$height__carouselHidden;
        height: 100%;
    }

    .DW__higherProcessor.DW__mobileWidth
    & {
        transition:
            opacity $animationDuration__fast,
            top $animationDuration__fast;
    }


    .RW__carouselNavShowable
    .ShW__carouselExpanded
    &.Carousel__visible {
        opacity: 1;
    }

    .DW__desktopWidth
    .RW__carouselNavShowable
    .ShW__carouselExpanded
    &.Carousel__visible {
        bottom: 0;
    }

    .DW__mobileWidth
    .RW__carouselNavShowable
    .ShW__carouselExpanded
    &.Carousel__visible {
        top: 0;
    }
}

/** Gradient mask does not work in IE or Edge, though. */
.gradientMask__carousel__desktop {

    // Consider Golden Cord width.
    $gradient__carousel__monitor:
        linear-gradient(
            to left,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0) $js__width__goldenCord * 0.25,
            rgba(0, 0, 0, 0) $js__width__goldenCord * 0.75,
            rgba(0, 0, 0, 0.4) $js__width__goldenCord,
            black $js__width__goldenCord * 1.1,
            black
        );
    .DW__monitorWidth
    .ShW__annotationHidden
    & {
        mask-image: $gradient__carousel__monitor;
    }

    // Consider Uncanny Valley width.
    $gradient__carousel__laptop:
        linear-gradient(
            to left,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0) $js__width__uncannyValley * 0.25,
            rgba(0, 0, 0, 0) $js__width__uncannyValley * 0.75,
            rgba(0, 0, 0, 0.4) $js__width__uncannyValley,
            black $js__width__uncannyValley * 1.1,
            black
        );
    .DW__laptopWidth
    .ShW__annotationHidden
    & {
        mask-image: $gradient__carousel__laptop;
    }

    .DW__desktopWidth
    .RW__carouselNavShowable
    .ShW__annotationShown.ShW__carouselExpanded
    & {
        // When carousel annotation is selected, switch z-index with lyric.
        z-index: $zIndex__lyricColumn;
    }
}