@import "./Annotation/style";
@import "./Scroll/style";
@import "./Select/style";

$height__carouselHidden: $height__chivalry * 0.1;

.Carousel {
    position: absolute;
    left: 0;
    width: 100vw;

    opacity: 0;

    .DW__desktop
    & {
        bottom: -$height__carouselHidden;

        height: $height__chivalry;
        padding-bottom: $js__margin__thin;

        transition:
            opacity $animationDuration__fast,
            bottom $animationDuration__fast;
    }

    .DW__mobileNotPhone
    & {
        top: -$height__carouselHidden;
        height: 100%;

        transition:
            opacity $animationDuration__fast,
            top $animationDuration__fast;
    }

    .RM__carouselNavShowable.RM__carouselExpanded
    &.Carousel__visible {
        opacity: 1;

        // Allows the lyric to scroll when carousel has higher z-index.
        z-index: $zIndex__annotation;
    }

    .DW__desktop
    .RM__carouselNavShowable.RM__carouselExpanded
    &.Carousel__visible {
        bottom: 0;
    }

    .DW__mobileNotPhone
    .RM__carouselNavShowable.RM__carouselExpanded
    &.Carousel__visible {
        top: 0;
    }
}

/** Gradient mask does not work in IE or Edge, though. */
.gradientMask__carousel__desktop {

    // Consider Golden Cord width.
    $gradient__carousel__monitor:
        linear-gradient(
            to left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0) $js__width__goldenCord * 0.25,
            rgba(0, 0, 0, 0) $js__width__goldenCord * 0.75,
            rgba(0, 0, 0, 0.5) $js__width__goldenCord,
            black $js__width__goldenCord * 1.1,
            black
        );
    .DW__monitor
    .RM__annotationHidden
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: $gradient__carousel__monitor;
        mask-image: $gradient__carousel__monitor;
    }

    // Consider Uncanny Valley width.
    $gradient__carousel__laptop:
        linear-gradient(
            to left,
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0) $js__width__uncannyValley * 0.25,
            rgba(0, 0, 0, 0) $js__width__uncannyValley * 0.75,
            rgba(0, 0, 0, 0.5) $js__width__uncannyValley,
            black $js__width__uncannyValley * 1.1,
            black
        );
    .DW__laptop
    .RM__annotationHidden
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: $gradient__carousel__laptop;
        mask-image: $gradient__carousel__laptop;
    }

    .DW__desktop
    .RM__carouselNavShowable.RM__carouselExpanded.RM__annotationShown
    & {
        // When carousel annotation is selected, switch z-index with lyric.
        z-index: $zIndex__lyricColumn;
    }
}