.taiwanRickshaw#{$suffix} {
    .rubberDark { fill: hsl(113, 10%, 35%); }
    .rubberMedium { fill: hsl(114, 10%, 38%); }
    .rubberLight { fill: hsl(112, 10%, 42%); }
    .metalDark { fill: hsl(167, 8%, 49%); }
    .metalLight { fill: hsl(167, 11%, 59%); }
    .rickshawDark { fill: hsl(140, 21%, 42%); }
    .rickshawLight { fill: hsl(140, 22%, 50%); }
    .light { fill: hsl(9, 36%, 48%); }
}