@import '../../../src/scss/constants/annotation';
@import '../../../src/scss/constants/font';

$multiplier__tempGlobal: 1.8;

$fontSize__tempGlobal: $fontSize__verse * $multiplier__tempGlobal;

// Eyeballed value.
$bufferWidth__tempGlobal: 0.86px;

$height__globalHeader: 50px;

$width__tempGlobalAnnotationCard:
    $baseWidth__annotationCard
    * $multiplier__tempGlobal
    + $padding__annotationCard * 2;

$padding__tempGlobalAnnotation: 10px;
$padding__tempGlobalAnnotationSongColumn: 15px;

$width__tempGlobalAnnotation:
    $width__tempGlobalAnnotationCard + $padding__tempGlobalAnnotation * 2;

$width__tempGlobalAnnotationColumn:
    $width__tempGlobalAnnotation + $padding__tempGlobalAnnotationSongColumn * 2;

.TempGlobalAnnotations {
    font-size: 1.1em; // Same as root container
}

.TempGlobalAnnotations__row {
    display: flex;
}

.TempGlobalCounter,
.TempGlobalHeader {
    z-index: 100;
}

.TempGlobalCounter {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: hsla(0, 0%, 80%, 0.9);
    padding: $padding__tempGlobalAnnotation;
    border-top-left-radius: $padding__tempGlobalAnnotationSongColumn;
    font-size: $fontSize__tempGlobal;
}

.TempGlobalCounter__button {
    margin-left: $padding__tempGlobalAnnotation;
    background-color: #bff;
}

.TempGlobalHeader {
    height: $height__globalHeader;
    font-size: $fontSize__tempGlobal;
}

.TempGlobalColumns {
    width: $width__tempGlobalAnnotationColumn * 20;
    overflow-y: hidden;
}

.TempGlobalAnnotationSongHeader {
    min-width: $width__tempGlobalAnnotationColumn;
    justify-content: space-around;
}

.TempGlobalAnnotationSongColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: $width__tempGlobalAnnotationColumn;
    padding: $padding__tempGlobalAnnotationSongColumn;
    padding-top:
        $height__globalHeader
        + $padding__tempGlobalAnnotationSongColumn;
    overflow-y: scroll;
}

.TempGlobalAnnotation {
    background-color: #cec;
    border-radius: $padding__annotationCard;
    padding: $padding__tempGlobalAnnotation;
    width: $width__tempGlobalAnnotation;
    box-shadow: 0 2px 2px 2px rgba(75, 75, 100, 0.4);

    &:not(:first-child) {
        margin-top: $padding__tempGlobalAnnotation;
    }
}

.TempGlobalAnnotation__todo {
    background-color: #ecc;
}

.TempGlobalAnnotationHeader,
.TempGlobalAnnotationCard {
    border-radius: $padding__annotationCard;
    padding: $padding__annotationCard;
    width: $width__tempGlobalAnnotationCard - $bufferWidth__tempGlobal;
    box-shadow: 0 1px 1px 1px rgba(75, 75, 100, 0.4);
}

.TempGlobalAnnotationHeader {
    display: flex;
    justify-content: space-between;
    background-color: #ffe;
    font-size: $fontSize__tempGlobal;
    cursor: pointer;
}

.TempGlobalAnnotationCard {
    margin-top: $padding__annotationCard;
    background-color: #eff;
}

.TempGlobalAnnotationCard__dotKeys {
    font-size: 0.75em;
}

.TempGlobalAnnotationCard__description {
    font-size: $fontSize__tempGlobal;
}

.TextAnchor__linkText {
    .TempGlobalAnnotations
    & {
        color: #a66;
    }
}

.Underline {
    .TempGlobalAnnotation
    & {
        display: none;
    }
}