@import '../../../src/scss/constants/annotation';
@import '../../../src/scss/constants/font';

$multiplier__todoAnnotation: 1.8;

$fontSize__todoAnnotation: $fontSize__verse * $multiplier__todoAnnotation;

// Eyeballed value.
$bufferWidth__todoAnnotation: 0.86px;

$height__todoHeader: 50px;

$width__todoAnnotationCard:
    $baseWidth__annotationCard
    * $multiplier__todoAnnotation
    + $padding__annotationCard * 2;

$padding__todoAnnotation: 10px;
$padding__todoAnnotationSongColumn: 15px;

$width__todoAnnotation:
    $width__todoAnnotationCard + $padding__todoAnnotation * 2;

$WIDTH_TODO_ANNOTATION_COLUMN:
    $width__todoAnnotation + $padding__todoAnnotationSongColumn * 2;

.colour__todo {
    background-color: hsla(240, 0%, 65%, 0.7);
}

.colour__redo {
    background-color: #ebb;
}

.colour__revise {
    background-color: #eeb;
}

.colour__review {
    background-color: #beb;
}

.colour__rest {
    background-color: #bbe;
}

.TodoAnnotations {
    font-size: 1.1em; // Same as root container
}

.TodoAnnotations__row {
    display: flex;
}

.TodoCounter,
.TodoHeaders {
    z-index: 100;
}

.TodoCounter {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: hsla(0, 0%, 80%, 0.9);
    padding: $padding__todoAnnotation;
    border-top-left-radius: $padding__todoAnnotationSongColumn;
    font-size: $fontSize__todoAnnotation;
}

.TodoHeaders {
    height: $height__todoHeader;
    font-size: $fontSize__todoAnnotation;
}

.TodoColumns {
    overflow-y: hidden;
}

.TodoSongHeader {
    min-width: $WIDTH_TODO_ANNOTATION_COLUMN;
    justify-content: space-around;
}

.TodoSongColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: $WIDTH_TODO_ANNOTATION_COLUMN;
    padding: $padding__todoAnnotationSongColumn;
    padding-top:
        $height__todoHeader
        + $padding__todoAnnotationSongColumn;
    overflow-y: scroll;
}

.TodoAnnotation {
    border-radius: $padding__annotationCard;
    padding: $padding__todoAnnotation;
    width: $width__todoAnnotation;
    box-shadow: 0 2px 2px 2px rgba(75, 75, 100, 0.4);

    &:not(:first-child) {
        margin-top: $padding__todoAnnotation;
    }
}

.TodoAnnotationHeader,
.TodoAnnotationCard {
    border-radius: $padding__annotationCard;
    padding: $padding__annotationCard;
    width: $width__todoAnnotationCard - $bufferWidth__todoAnnotation;
    box-shadow: 0 1px 1px 1px rgba(75, 75, 100, 0.4);
}

.TodoAnnotationHeader {
    display: flex;
    justify-content: space-between;
    background-color: #ffe;
    font-size: $fontSize__todoAnnotation;
    cursor: pointer;
}

.TodoAnnotationCard {
    margin-top: $padding__annotationCard;
    background-color: #eff;

    .textJustified
    & {
        text-align: justify;
    }
}

.TodoAnnotationCard__dotKeys {
    font-size: 0.75em;
}

.TodoAnnotationCard__description {
    font-size: $fontSize__todoAnnotation;
}

.TextAnchor__linkText {
    .TodoAnnotations
    & {
        color: #a66;
    }
}

.Underline {
    .TodoAnnotation
    & {
        display: none;
    }
}