@import '../../../app/scss/constants/annotation';
@import '../../../app/scss/constants/font';

$multiplier__tempGlobal: 1.5;

.TempGlobalAnnotations {
    font-size: 1.1em; // Same as root container
}

.TempGlobalAnnotation,
.TempGlobalAnnotationsCounter {
    background-color: #fafafa;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 2px 2px rgba(75, 75, 100, 0.4);
}

.TempGlobalAnnotation__header {
    font-size: $fontSize__verse * $multiplier__tempGlobal;
    border-radius: 5px;
    border: 1px solid #cca;
    background-color: #ffe;
    padding: 5px;

    display: flex;
    justify-content: space-between;
}

.TempGlobalAnnotationCard {
    border: 1px solid #acc;
    background-color: #eff;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
}

.TempGlobalAnnotationCard__description {
    font-size: $fontSize__verse * $multiplier__tempGlobal;
    padding: $padding__annotationCard;
    width: 
        $baseWidth__annotationCard
        * $multiplier__tempGlobal
        + $padding__annotationCard * 2;
}

.Button__increment {
    background-color: #ea7;
}

.Button__reset {
    background-color: #7ae;
}

.Underline {
    .TempGlobalAnnotation
    & {
        display: none;
    }
}