.ana#{$suffix} {
    .anaShirtInner { fill: hsl(39, 38%, 56%); }
    .anaShirt { fill: hsl(39, 38%, 61%); }
    .anaShirtCollar { fill: hsl(39, 24%, 44%); }
    .anaShirtTrim { fill: hsl(30, 14%, 32%); }
    .anaShirtOrnament { fill: hsl(205, 23%, 46%); }
    .anaJacketInner { fill: hsl(9, 19%, 41%); }
    .anaJacket { fill: hsl(9, 19%, 49%); }
    .anaJacketCollar { fill: hsl(8, 20%, 52%); }
    .anaJeans { fill: hsl(346, 28%, 38%); }
    .anaBootStrap { fill: hsl(30, 13%, 35%); }
    .anaBoot { fill: hsl(31, 12%, 49%); }
    .anaBootLeg { fill: hsl(32, 8%, 38%); }

    &.chuckling {
        .bottleSide { fill: hsl(22, 27%, 45%); }
        .bag { fill: hsl(42, 21%, 62%); }
    }
}