.mountainBackdrop {
    .mountain { fill: #8e649b; }
}

.pampasFar {
    .hill { fill: #7a5e5e; }
    .treeDark { fill: #618c78; }
    .treeLight { fill: #6c9c86; }
    .foliageDark { fill: #638f64; }
    .foliageLight { fill: #6c9c6d; }
}