.PampasFar {
    .hill {
        fill: #633;
    }

    .treeBack {
        fill: #393;
    }

    .treeFront {
        fill: #6c6;
    }

    .foliageBack {
        fill: #363;
    }

    .foliageFront {
        fill: #696;
    }
}
