@use 'sass:math';
@import '../../scss/constants/annotation';
@import '../../scss/constants/border';
@import '../../scss/constants/colour';
@import '../../scss/constants/icon';
@import '../../scss/constants/popup';
@import '../../scss/constants/responsive';
@import '../../scss/constants/shadow';
@import '../../scss/constants/transition';

.Annotation {
    position: relative;

    display: flex;
    flex-direction: column;

    padding:
        $PADDING_POPUP_CONTENT_WIDE * 1.5
        $PADDING_POPUP_CONTENT_WIDE
        $PADDING_POPUP_CONTENT_WIDE * 0.5;
}

.Annotation__cardField {
    border-radius: $borderRadius__narrow;
}

.Annotation__footer {
    margin-top: $MARGIN_THIN * 2;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.boxShadow__annotation,
.boxShadow__annotationTab:before {
    box-shadow: $boxShadow__mainCard;
}

.colour__annotation {
    background-color: $colour__annotation;

    .DW__userAgentDesktop
    & {
        transition: background-color $transitionDuration__default;
    }
}

.bgColour__annotation__selected {
    background-color: $colour__annotation__selected;
}

.bgColour__annotation__pattern {
    $degrees: 60deg;
    $lightShade: rgba(255, 255, 255, 0.125);
    $darkShade: rgba(0, 0, 0, 0.033);
    $height: 40px;
    $width: $height * 0.5773; // Square root of 3 for 30, 60, 90 triangle.

    background-image:
    repeating-linear-gradient(
        180 - $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent math.div($height, 2)
    ),
    repeating-linear-gradient(
        $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent math.div($height, 2)
    ),
    linear-gradient(
        $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    ),
    linear-gradient(
        180 - $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    );
    background-size: $width $height;
    background-position: top center;
}

.bgColour__annotation__pattern__reverse {
    background-position: bottom center;
}
