.Backdrop__temporaryRect {
    fill: rgba(150, 150, 200, 0.25);
    vector-effect: non-scaling-stroke;
    stroke-width: 1px;
    stroke: #444;
}

// .Backdrop {
//     transition: opacity $animationDuration__default;
//     opacity: 0;

//     .Scene__shown
//     & {
//         opacity: 1;
//     }
// }
