.Presence {
    opacity: 0;

    .DW__higherProcessor
    & {
        transition: opacity $animationDuration__fast;
    }
}

.Presence__visible {
    opacity: 1;
}

.Presence__temporaryText {
    font-size: 0.15em;
}

.Presence__temporaryRect {
    vector-effect: non-scaling-stroke;
    stroke-width: 0.25%;
    stroke: #444;
}

.Presence {
    filter: drop-shadow( 0 0 1px rgba(0, 0, 0, .5));
    stroke: #543;
    stroke-width: 0.05%;
}

.Presence__noShadow {
    filter: none;
}

[class$=Line] {
    fill: none;
}

[class$=CreaseLine] {
    .Presence
    & {
        stroke-width: 0.05%;
    }
}

[class$=DisplayLine] {
    .Presence
    & {
        stroke-width: 0.0625%;
    }
}

[class$=EdgeLine] {
    .Presence
    & {
        stroke-width: 0.025%;
    }
}

[class$=OverlapLine] {
    .Presence
    & {
        stroke-width: 0.075%;
    }
}
