.OverpassSignBack {
    .board { fill: #063; }
    .lattice { fill: #666; }
    .joint { fill: #333; }
    .frame { fill: #999; }
}

.OverpassSignFront {
    .paint { fill: #ffc; }
    .board { fill: #093; }
}