$length__filmPerf: 2px;
$length__filmPerf: 2px;
$height__albumBanner: 16px;
$height__songBanner: 30px;

@import "./AlbumBanner/style";
@import "./SongBanner/style";
@import "./Filmstrip/style";

.BannerFilmstrip {
    display: flex;
    flex-direction: column;
    flex-grow: 3;

    position: relative;
    height: 100%;

    z-index: $zIndex__menuChild;
}

.BannerFilmstrip__child {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: $jsx__margin__thin * 0.5;
    }
}
