$length__filmPerf: 2px;
$length__filmPerf: 2px;

@import "./Banner/style";
@import "./Filmstrip/style";

.BannerFilmstrip {
    flex-grow: 3;

    position: relative;
    height: 100%;

    z-index: $zIndex__menuChild;
}
