.carousel {
    position: absolute;
    left: 0;
    bottom: calc(~"-100% - @{carousel-position-variable}");
    width: 100vw;
    height: calc(~"100% + @{carousel-height-variable}");
    z-index: @carousel-z-index;
    transition: bottom @animation-slow,
                opacity @animation-default;
    opacity: 0;
}

.carousel-scroll {
    display: flex;
    flex-direction: column-reverse;
    overflow-x: scroll;
    height: 100%;
}

.monitor-width {

    .carousel-annotation {
        &:last-child {
            padding-right: @golden-cord-width + @carousel-nav-buttons-block-width;
        }
    }
}

.laptop-width {

    .carousel-annotation {
        &:last-child {
            padding-right: @uncanny-valley-width + @carousel-nav-buttons-block-width;
        }
    }
}

.is-mobile {

    .carousel {
        bottom: auto;
        top: calc(~"-100% - @{carousel-tablet-variable}");
        height: calc(~"100% + @{carousel-toggle-tablet-length}");

        transition: top @animation-slow,
                    opacity @animation-default;
    }

    .carousel-scroll {
        flex-direction: column;
    }

    &.lyric-expanded, &.heightless-lyric, &.is-logue {
        .carousel-toggle-button-block {
            left: -@overview-toggle-tablet-width;
        }
    }

    .carousel-annotations-block {
        align-items: flex-start;
    }

    .carousel-annotation {
        flex-direction: column;

        &:first-child {
            padding-left: @carousel-toggle-tablet-length;
        }

        &:last-child {
            padding-right: @carousel-nav-buttons-block-tablet-width;
        }
    }

    &.mini-width {

        .carousel {
            top: calc(~"-100% - @{carousel-mini-variable}");
            height: calc(~"100% + @{carousel-toggle-mini-length}");
        }

        &.is-song {
            &.carousel-expanded.overview-hidden.tips-hidden {
                .carousel {
                    top: -@carousel-toggle-mini-length;
                }
            }
        }

        &.lyric-expanded, &.heightless-lyric, &.is-logue {
            .carousel-toggle-button-block {
                left: -@overview-toggle-mini-width;
            }
        }

        .carousel-annotation {

            &:first-child {
                padding-left: @carousel-toggle-mini-length;
            }

            &:last-child {
                padding-right: @carousel-nav-buttons-block-mini-width;
            }
        }

    }
}
