.carousel-nav-buttons-block {
    position: absolute;
    bottom: -@app-large-icon-diameter - @app-thin-margin * 2;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: @app-thin-margin;
    z-index: @carousel-nav-button-z-index;

    transition: bottom @animation-default;

    background-color: orange;

    .button:first-child {
        margin-right: @app-thin-margin;
    }

    .icon-canvas {
        background-color: #d84;
    }
}

.monitor-width {
    .carousel-nav-buttons-block {
        right: @golden-cord-width;
    }
}

.laptop-width {
    .carousel-nav-buttons-block {
        right: @uncanny-valley-width;
    }
}

.is-song {
    &.annotation-shown.carousel-expanded {
        .carousel-nav-buttons-block {
            bottom: 0;
        }
    }
}

.is-mobile {
    .carousel-nav-buttons-block {
        top: -@app-tablet-large-icon-diameter - @app-thin-margin * 2;
        bottom: auto;

        transition: top @animation-default;
    }

    &.mini-width {
        .carousel-nav-buttons-block {
            top: -@app-mini-large-icon-diameter - @app-thin-margin * 2;
        }
    }

    &.is-song {
        &.carousel-expanded {
            &.annotation-shown {
                .carousel-nav-buttons-block {
                    bottom: auto;
                    top: 0;
                }
            }
        }
    }
}

// Hide both carousel and nav in logues.
&.is-song.overlay-hidden {
    &.dots-section-hidden.lyric-collapsed.overview-hidden.tips-hidden {

        &.nav-expanded {
            // .column-shown {
            //     .nav-panel {
            //         transform: scale(1);
            //     }
            // }

            // No need to make an exception for phone, since it isn't rendered.
            &.is-mobile {
                .books-column-block {
                    top: 0;
                }
            }

            &.is-desktop {
                .books-column-block {
                    bottom: 0;
                }
            }
        }

        &.carousel-expanded {

            .carousel {
                &.render-ready {
                    opacity: 1;
                }
            }

            &.is-desktop {
                .carousel {
                    bottom: -@carousel-height-variable;
                }
            }

            &.tablet-width {
                .carousel {
                    top: -@carousel-toggle-tablet-length;
                }
            }

            &.mini-width {
                .carousel {
                    top: -@carousel-toggle-mini-length;
                }
            }
        }
    }
}
