.carousel-toggle-button-block {
    position: absolute;
    left: 0;
    background-color: #edf;
    padding: @app-thin-margin 0;
    // margin: @dots-overview-padding 0;
    border-radius: 0 @nav-border-radius 0 0;

    transition: margin @animation-default,
                border-radius @animation-default,
                box-shadow @animation-default;

    display: flex;
    justify-content: center;
    z-index: @carousel-z-index + 1;

    width: @carousel-toggle-laptop-length;
}

.is-desktop {
    .carousel-toggle-button-block {
        bottom: 0;
    }
}

.is-mobile {

    .carousel-toggle-button-block {
        top: 0;
        bottom: auto;
        // margin: 0;
        border-radius: 0 0 @nav-border-radius 0;
    }
}

.is-logue, .overview-shown, .tips-shown {
    .carousel-toggle-button-block {
        margin-left: -@carousel-toggle-laptop-length;
    }
}

// .carousel-expanded {
    .carousel-toggle-button-block {
        box-shadow: @popup-box-shadow;
    }
// }

.carousel-toggle-button {

    .icon-canvas {
        background-color: #dfe;
    }
}
