.carousel-nav-buttons-block {
    position: absolute;
    bottom: -@app-large-icon-diameter - @app-thin-margin * 2;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: @app-thin-margin;
    z-index: @carousel-nav-button-z-index;

    transition: bottom @animation-default;

    background-color: orange;

    .button:first-child {
        margin-right: @app-thin-margin;
    }

    .monitor-width
    & {
        right: @golden-cord-width;
    }

    .laptop-width
    & {
        right: @uncanny-valley-width;
    }

    .is-mobile
    & {
        top: -@app-tablet-large-icon-diameter - @app-thin-margin * 2;
        bottom: auto;
        
        transition: top @animation-default;
    }

    .mini-width
    & {
        top: -@app-mini-large-icon-diameter - @app-thin-margin * 2;
    }

    .is-desktop.is-song.annotation-shown.carousel-expanded
    & {
        bottom: 0;
    }

    .is-mobile.is-song.annotation-shown.carousel-expanded
    & {
        top: 0;
    }
}

// Hide both carousel and nav in logues.
.carousel-nav-can-show {

    &.nav-expanded.not-heightless-lyric {

        // No need to make an exception for phone, since it isn't rendered.
        &.is-mobile {
            .books-column-block {
                top: 0;
            }
        }

        &.is-desktop {
            .books-column-block {
                bottom: 0;
            }
        }
    }

    &.carousel-expanded {

        .carousel {
            &.render-ready {
                opacity: 1;
            }
        }

        &.is-desktop {
            .carousel {
                bottom: -@carousel-height-variable;
            }
        }

        &.tablet-width {
            .carousel {
                top: -@carousel-toggle-tablet-length;
            }
        }

        &.mini-width {
            .carousel {
                top: -@carousel-toggle-mini-length;
            }
        }
    }
}