@import "./Icon2.less";

@border__dot: 1px;

.icon-canvas-block {

    width: 100%;
    height: 100%;

    // Dot stanzas and nav need to hide overflow, popup buttons need to show.
    .Button:not(.overflowShown)
    & {
        overflow: hidden;
    }

    // Necessary?
    .Nav__showSingleBook
    & {
        transition: width @animationDuration__default;
    }

    .DotsSlideSelects
    &,
    .VerseAudioButton-block
    & {
        // Override default.
        overflow: visible;
    }

    .Button.Button__enabled
    & {
        transition: background-color @animationDuration__default,
        transform @animationDuration__instant;
    }

    .Button.Button__enabled:hover
    & {
        // Animate container itself, because its overflow is hidden.
        animation: bounceHover @animationDuration__default;
    }

    .Button.Button__enabled:active
    & {
        transform: scale(0.9);
    }
}

.icon-canvas {
    border-radius: 50%;
    background-color: @bgColour__audioDisabled;
    box-sizing: border-box;

    .Button__carouselSelect
    & {
        background-color: #d84;
    }

    .Button__carouselNavToggle
    & {
        background-color: #dfe;
    }

    .custom-shape
    & {
        border-radius: 0;
    }

    .DotsToggle
    & {
        background-color: purple;
    }

    .LyricToggle
    & {
        background-color: orange;
    }

    .Button__nav
    & {
        background-color: #dd8;
    }

    .Button__nav.selected
    & {
        background-color: orange;
    }

    .OverviewToggle
    & {
        background-color: #d84;
    }

    .Button__scores.Button__enabled
    & {
        background-color: #bdb;
    }

    .Button__tips
    & {
        background-color: #dbb;
    }

    .Button__title
    & {
        background-color: #d88;
    }

    .PopupButton
    & {
        box-shadow: @boxShadow__popupButton;
    }

    .PopupButton__close
    & {
        background-color: #fdd;
    }

    .PopupButton__side
    & {
        background-color: #dfd;
    }

    .AnchorBlock
    & {
        border: @border__dot solid @lyric-underline-enabled-colour;
    }
}

// .icon-canvas {

//     .LyricStanzaDot
//     & {
//         transition:
//             background-color @animationDuration__fast,
//             border @animationDuration__fast;
//     }
// }

// .DotsSlide,
// .AnnotationPortal {
//     .dot .icon-canvas {
//         border: @border__dot solid @border__dot-colour;
//     }
// }

// .DotsSlide {
//     // Dots section and dot stanzas.
//     .dot .icon-canvas {
//         transition: background-color @animationDuration__fast;
//     }
// }
