@border__dot: 1px;

.icon-canvas-block {

    width: 100%;
    height: 100%;

    // Dot stanzas and nav need to hide overflow, popup buttons need to show.
    .Button:not(.overflowShown)
    & {
        overflow: hidden;
    }

    // Necessary?
    .Nav__showSingleBook
    & {
        transition: width @animationDuration__default;
    }

    .DotsToggle-block
    &,
    .VerseAudioButton-block
    & {
        // Override default.
        overflow: visible;
    }

    /**
     * All dot backgrounds in lyrics and annotation cards, except portal
     * annotation cards.
     */
    .TextAnchorBlock
    &,
    .AnnotationCard:not(.portal)
    & {
        // Fade out first, then reduce width.
        transition: opacity @animationDuration__default,
                    width @animationDuration__default @animationDuration__faster;
        width: 0;
        opacity: 0;
    }

    .Button.Button__enabled
    & {
        transition: background-color @animationDuration__default,
        transform @animationDuration__instant;

        // Animate container itself, because its overflow is hidden.
        &:hover {
            animation: bounceHover @animationDuration__default;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

.icon-canvas {
    border-radius: 50%;
    background-color: @colour__audioDisabled;
    box-sizing: border-box;

    // Don't add colour to dot toggle button that is deselected.
    .dot:not(.Button__dot-stanza):not(.deselected)
    & {
        &.portal { background-color: @colour__dot__portal; }
        &.observation { background-color: @colour__dot__observation; }
        &.backstory { background-color: @colour__dot__backstory; }
        &.reference { background-color: @colour__dot__reference; }
        &.pun { background-color: @colour__dot__pun; }
        &.narrative { background-color: @colour__dot__narrative; }
        &.songwriting { background-color: @colour__dot__songwriting; }
        &.afterword { background-color: @colour__dot__afterword; }
    }

    .Button__carouselSelect
    & {
        background-color: #d84;
    }

    .Button__carouselNavToggle
    & {
        background-color: #dfe;
    }

    .custom-shape
    & {
        border-radius: 0;
    }

    .DotsToggle
    & {
        background-color: purple;
    }

    .LyricToggle
    & {
        background-color: orange;
    }

    .Button__nav
    & {
        background-color: #dd8;
    }

    .Button__nav.selected
    & {
        background-color: orange;
    }

    .OverviewToggle
    & {
        background-color: #d84;
    }

    .Button__scores.Button__enabled
    & {
        background-color: #bdb;
    }

    .Button__tips
    & {
        background-color: #dbb;
    }

    .Button__title
    & {
        background-color: #d88;
    }

    .PopupButton
    & {
        box-shadow: @boxShadow__popupButton;
    }

    .PopupButton__close
    & {
        background-color: #fdd;
    }

    .PopupButton__side
    & {
        background-color: #dfd;
    }

    .anchor-block
    & {
        border: @border__dot solid @lyric-underline-enabled-colour;
    }

    .AnnotationCard
    .dots-block
    & {
        width: @length__annotationDot;
        border: @border__dot solid @border__dot-colour;
    }

    .TextAnchorBlock
    & {
        width: @length__lyricAnchorDot;
    }
}

.icon-canvas {

    .LyricStanzaDot
    & {
        transition:
            background-color @animationDuration__fast,
            border @animationDuration__fast;
    }
}

// Portals are not included here.
.RootManager.narrative .AnnotationCard .icon-canvas-block.narrative,
.RootManager.backstory .AnnotationCard .icon-canvas-block.backstory,
.RootManager.observation .AnnotationCard .icon-canvas-block.observation,
.RootManager.pun .AnnotationCard .icon-canvas-block.pun,
.RootManager.reference .AnnotationCard .icon-canvas-block.reference,
.RootManager.songwriting .AnnotationCard .icon-canvas-block.songwriting,
.RootManager.afterword .AnnotationCard .icon-canvas-block.afterword {
    // Increase width first, then fade in.
    transition: width @animationDuration__default,
                opacity @animationDuration__default @animationDuration__faster;
    width: @length__annotationDot;
    opacity: 1;
}

// Default styling. Should not be visible when slider is not moving.
.RootManager.RM__sliderNotMoving.narrative .TextAnchorBlock .icon-canvas-block.narrative,
.RootManager.RM__sliderNotMoving.backstory .TextAnchorBlock .icon-canvas-block.backstory,
.RootManager.RM__sliderNotMoving.observation .TextAnchorBlock .icon-canvas-block.observation,
.RootManager.RM__sliderNotMoving.pun .TextAnchorBlock .icon-canvas-block.pun,
.RootManager.RM__sliderNotMoving.reference .TextAnchorBlock .icon-canvas-block.reference,
.RootManager.RM__sliderNotMoving.songwriting .TextAnchorBlock .icon-canvas-block.songwriting,
.RootManager.RM__sliderNotMoving.portal .TextAnchorBlock .icon-canvas-block.portal,
.RootManager.RM__sliderNotMoving.afterword .TextAnchorBlock .icon-canvas-block.afterword {
    // Increase width first, then fade in.
    transition: width @animationDuration__default,
                opacity @animationDuration__default @animationDuration__faster;
    width: @length__lyricAnchorDot;
    opacity: 1;
}

// Hover styling.
.RootManager.narrative .TextAnchorBlock:hover .icon-canvas-block.narrative,
.RootManager.backstory .TextAnchorBlock:hover .icon-canvas-block.backstory,
.RootManager.observation .TextAnchorBlock:hover .icon-canvas-block.observation,
.RootManager.pun .TextAnchorBlock:hover .icon-canvas-block.pun,
.RootManager.reference .TextAnchorBlock:hover .icon-canvas-block.reference,
.RootManager.songwriting .TextAnchorBlock:hover .icon-canvas-block.songwriting,
.RootManager.portal .TextAnchorBlock:hover .icon-canvas-block.portal,
.RootManager.afterword .TextAnchorBlock:hover .icon-canvas-block.afterword {
   animation: bounceHover @animationDuration__slow;
}

// Active styling.
.RootManager.narrative .TextAnchorBlock:active .icon-canvas-block.narrative,
.RootManager.backstory .TextAnchorBlock:active .icon-canvas-block.backstory,
.RootManager.observation .TextAnchorBlock:active .icon-canvas-block.observation,
.RootManager.pun .TextAnchorBlock:active .icon-canvas-block.pun,
.RootManager.reference .TextAnchorBlock:active .icon-canvas-block.reference,
.RootManager.songwriting .TextAnchorBlock:active .icon-canvas-block.songwriting,
.RootManager.portal .TextAnchorBlock:active .icon-canvas-block.portal,
.RootManager.afterword .TextAnchorBlock:active .icon-canvas-block.afterword {
   transform: scale(0.8);
}

.Dots,
.AnnotationPortal {
    .dot .icon-canvas {
        border: @border__dot solid @border__dot-colour;
    }
}

.Dots {
    // Dots section and dot stanzas.
    .dot .icon-canvas {
        transition: background-color @animationDuration__fast;
    }
}
