.icon-canvas-block {

    width: 100%;
    height: 100%;

    // Dot stanzas and nav need to hide overflow, popup buttons need to show.
    .Button:not(.overflow-shown)
    & {
        overflow: hidden;
    }

    // Necessary?
    .single-book-column
    & {
        transition: width @animation-default;
    }

    .DotsToggle-block
    &,
    .VerseAudioButton-block
    & {        
        // Override default.
        overflow: visible;
    }

    /**
     * All dot backgrounds in lyrics and annotation cards, except portal
     * annotation cards.
     */
    .TextAnchorBlock
    &,
    .AnnotationCard:not(.portal)
    & {
        // Fade out first, then reduce width.
        transition: opacity @animation-default,
                    width @animation-default @animation-faster;
        width: 0;
        opacity: 0;
    }

    .Button.enabled
    & {
        transition: background-color @animation-default,
        transform @animation-instant;

        // Animate container itself, because its overflow is hidden.
        &:hover {
            animation: bounceHover @animation-default;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}

.icon-canvas {
    border-radius: 50%;
    background-color: @button-disabled-colour;
    box-sizing: border-box;

    // Don't add colour to dot toggle button that is deselected.
    .dot:not(.dot-stanza-button):not(.deselected)
    & {
        &.portal { background-color: @portal-dot-colour; }
        &.observation { background-color: @observation-dot-colour; }
        &.backstory { background-color: @backstory-dot-colour; }
        &.reference { background-color: @reference-dot-colour; }
        &.pun { background-color: @pun-dot-colour; }
        &.narrative { background-color: @narrative-dot-colour; }
        &.songwriting { background-color: @songwriting-dot-colour; }
        &.afterword { background-color: @afterword-dot-colour; }
    }

    .Button__carouselSelect
    & {
        background-color: #d84;
    }

    .Button__carouselNavToggle
    & {
        background-color: #dfe;
    }

    .custom-shape
    & {
        border-radius: 0;
    }

    .DotsToggle-button-block
    & {
        background-color: purple;
    }

    .lyric-button-block
    & {
        background-color: orange;
    }

    .Button__nav
    & {
        background-color: #dd8;
    }

    .Button__nav.selected
    & {
        background-color: orange;
    }

    .OverviewToggle-button-container
    & {
        background-color: #d84;
    }

    .Button__scores.enabled
    & {
        background-color: #bdb;
    }
    
    .Button__tips
    & {
        background-color: #dbb;
    }

    .Button__title
    & {
        background-color: #d88;
    }

    .PopupButton
    & {
        box-shadow: @PopupButton-box-shadow;
    }

    .PopupButton.close-position
    & {
        background-color: #fdd;
    }

    .PopupButton.side-position
    & {
        background-color: #dfd;
    }

    .anchor-block
    & {
        border: @dot-border solid @lyric-underline-enabled-colour;
    }

    .AnnotationCard
    .dots-block
    & {
        width: @annotation-dot-diameter;
        border: @dot-border solid @dot-border-colour;
    }

    .TextAnchorBlock
    & {
        width: @lyric-anchor-dot-diameter;
    }
}

// Portals are not included here.
.DomManager.narrative .AnnotationCard .icon-canvas-block.narrative,
.DomManager.backstory .AnnotationCard .icon-canvas-block.backstory,
.DomManager.observation .AnnotationCard .icon-canvas-block.observation,
.DomManager.pun .AnnotationCard .icon-canvas-block.pun,
.DomManager.reference .AnnotationCard .icon-canvas-block.reference,
.DomManager.songwriting .AnnotationCard .icon-canvas-block.songwriting,
.DomManager.afterword .AnnotationCard .icon-canvas-block.afterword {
    // Increase width first, then fade in.
    transition: width @animation-default,
                opacity @animation-default @animation-faster;
    width: @annotation-dot-diameter;
    opacity: 1;
}

// Default styling. Should not be visible when slider is not moving.
.DomManager.slider-not-moving.narrative .TextAnchorBlock .icon-canvas-block.narrative,
.DomManager.slider-not-moving.backstory .TextAnchorBlock .icon-canvas-block.backstory,
.DomManager.slider-not-moving.observation .TextAnchorBlock .icon-canvas-block.observation,
.DomManager.slider-not-moving.pun .TextAnchorBlock .icon-canvas-block.pun,
.DomManager.slider-not-moving.reference .TextAnchorBlock .icon-canvas-block.reference,
.DomManager.slider-not-moving.songwriting .TextAnchorBlock .icon-canvas-block.songwriting,
.DomManager.slider-not-moving.portal .TextAnchorBlock .icon-canvas-block.portal,
.DomManager.slider-not-moving.afterword .TextAnchorBlock .icon-canvas-block.afterword {
    // Increase width first, then fade in.
    transition: width @animation-default,
                opacity @animation-default @animation-faster;
    width: @lyric-anchor-dot-diameter;
    opacity: 1;
}

// Hover styling.
.DomManager.narrative .TextAnchorBlock:hover .icon-canvas-block.narrative,
.DomManager.backstory .TextAnchorBlock:hover .icon-canvas-block.backstory,
.DomManager.observation .TextAnchorBlock:hover .icon-canvas-block.observation,
.DomManager.pun .TextAnchorBlock:hover .icon-canvas-block.pun,
.DomManager.reference .TextAnchorBlock:hover .icon-canvas-block.reference,
.DomManager.songwriting .TextAnchorBlock:hover .icon-canvas-block.songwriting,
.DomManager.portal .TextAnchorBlock:hover .icon-canvas-block.portal,
.DomManager.afterword .TextAnchorBlock:hover .icon-canvas-block.afterword {
   animation: bounceHover @animation-slow;
}

// Active styling.
.DomManager.narrative .TextAnchorBlock:active .icon-canvas-block.narrative,
.DomManager.backstory .TextAnchorBlock:active .icon-canvas-block.backstory,
.DomManager.observation .TextAnchorBlock:active .icon-canvas-block.observation,
.DomManager.pun .TextAnchorBlock:active .icon-canvas-block.pun,
.DomManager.reference .TextAnchorBlock:active .icon-canvas-block.reference,
.DomManager.songwriting .TextAnchorBlock:active .icon-canvas-block.songwriting,
.DomManager.portal .TextAnchorBlock:active .icon-canvas-block.portal,
.DomManager.afterword .TextAnchorBlock:active .icon-canvas-block.afterword {
   transform: scale(0.8);
}
