.AnnotationWormhole {
    display: flex;
    padding: 10px;

    box-shadow: $boxShadow__annotationWormhole;
    background-color: $bgColour__annotationWormhole;
}

.AnnotationWormhole__text {
    padding-left: 10px;
}

// Accommodate foreign characters in Didi and Kyon.
.AnnotationWormhole__title {
    margin-bottom: 0.25em;
    font-size: 1em;
    color: $colour__annotationWormhole__title;

    strong {
        color: $colour__text__dark;
    }
}

.AnnotationWormhole__verse {
    text-indent: -$width__hangingIndent;
    padding-left: $width__hangingIndent;
    font-size: 0.9em;

    color: $colour__annotationWormhole__title;
}

.textSpan__wormholeInWormhole {
    color: $colour__selected__dark;
}
