@import "./AccessIcons.less";

.AccessIcon {
    width: @length__iconAccess;
    height: @length__iconAccess;

    transition:
        opacity @animationDuration__default;

    opacity: 0;

    // TODO: Temporary styling for now.
    border: 2px solid green;
    border-radius: 3px;
    background-color: #bfb;
}

.AccessIcon__showIfAccessed {
    .RM__accessOn
    & {
        opacity: 1;
    }
}

.AccessIcon__inButton {
    position: absolute;
    bottom: 0;
    right: 0;
}

.AccessIcon__beginsCluster:not(:first-child) {
    margin-left: @margin__lyricColumn__accessIcons;
}