@import "./AccessIcons.scss";

.AccessIcon {
    width: $length__iconAccess;
    height: $length__iconAccess;

    transition:
        opacity $animationDuration__default;

    opacity: 0;
    z-index: $zIndex__negative;

    // TODO: Temporary styling for now.
    border: 2px solid green;
    border-radius: 3px;
    background-color: #bfb;

    // TODO: These won't be necessary once we're no longer using fonts.
    font-size: $length__iconAccess;
    text-indent: 0; // Override font style propagation in Verse.

}

.AccessIcon__showIfAccessed {
    .RM__accessOn
    & {
        opacity: 1;
        z-index: $zIndex__lyricChild__topMost;
    }
}

.AccessIcon__inInteractable {
    position: absolute;
    bottom: 0;
}

.AccessIcon__inTextAnchor {
    right: -$length__iconAccess - $js__margin__thin * 1.5;
}

.AccessIcon__inButtonOrDotAnchor {
    right: 0;
}

.AccessIcon__beginsCluster:not(:first-child) {
    margin-left: $margin__lyricColumn__accessIcons;
}