.dishroomDoor {
    .stainlessSteel { fill: #a4b2bd; }
}

.conveyorBelt {
    .mount { fill: #878771; }
    .carDark { fill: #6d8c7d; }
    .carMedium { fill: #7b9e8d; }
    .carLight { fill: #8bb39f; }
    .carInnerDark { fill: #6d8c85; }
    .carInnerLight { fill: #8bb3a9; }
    .carInnerMedium { fill: #7b9e96; }
    .cup { fill: #9fc5c9; }
    .trayRim { fill: #978cc4; }
    .trayBasinLight { fill: #7667b7; }
    .shelf { fill: #83a895; }
    .track { fill: #9e9e85; }
}

.dishroomSink {
    .leg { fill: #666; }
    .foot { fill: #999; }
    .tube { fill: #333; }
    .disposalInner { fill: #366; }
    .disposalOuter { fill: #396; }
    .pipe { fill: #699; }
    .basin { fill: #9cc; }
    .rim { fill: #6cc; }
    .panelOuter { fill: #39c; }
    .panelInner { fill: #6cf; }
    .buttonStop { fill: #c33; }
    .buttonGo { fill: #3c3; }
}

.dishroomDolly {
    .wheel { fill: #46444f; }
    .hub { fill: #a8a7af; }
    .caster { fill: #aaa781; }
    .base { fill: #606058; }
    .handle { fill: #74737a; }
}