@import '../../scss/constants/icon';

.SocialMediaButtons {
    margin-top: $MARGIN_THIN * 2;
    justify-content: end;
    flex-direction: row-reverse;
}

.SocialMediaButtons__promoPage {
    margin-top: $margin__thick * 2;
    justify-content: center;
}