.title-toggle-section {
    height: 100%;
    width: 100%;

    .animated-background {
        background-color: #d88;
    }
}

.title-in-audio {
    .title-toggle-section {
        margin-right: @title-in-audio-block-padding;
    }
}

.title-toggle-button-container {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}
