.title-toggle-section {
    height: 100%;
    width: 100%;

    .icon-canvas {
        background-color: #d88;
    }
}

.title-menu-subfield {
    .title-toggle-section {
        padding: 2.5px 5px;
    }
}

.title-in-audio {
    .title-toggle-section {
        margin-right: @title-in-audio-block-padding;
    }
}

.title-toggle-button-container {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}
