.rafterSide {
    fill: hsl(51, 6%, 21%);
    .PlW__logue & { fill: hsl(51, 6%, 41%); }
}

.rafterFront {
    fill: hsl(51, 6%, 29%);
    .PlW__logue & { fill: hsl(51, 6%, 49%); }
}

.rafterBottom {
    fill: hsl(50, 8%, 38%);
    .PlW__logue & { fill: hsl(51, 6%, 58%); }
}