@import '../../../scss/constants/overview';
@import '../../../scss/constants/responsive';

.CarouselScroll {
    display: flex;
    overflow-x: scroll;

    // Make scrolling smooth in iOS.
    -webkit-overflow-scrolling: touch;

    height: 100%;

    .DW__desktopWidth
    & {
        padding-left: $width__overviewToggle__laptop;
    }

    .DW__tabletWidth
    & {
        padding-left: $width__overviewToggle__tablet;
    }

    // .DW__miniWidth
    // & {
    //     padding-left: $width__overviewToggle__mini;
    // }

    /**
     * I'm baffled why padding-right can't just be applied to the scroll parent
     * itself here, the way padding-left can. But whatever, this works.
     */
    // &:after {
    //     content: '';
    // }

    // .DW__monitorWidth
    // &:after {
    //     padding-right:
    //         $WIDTH_GOLDEN_CORD;
    // }

    // .DW__laptopWidth
    // &:after {
    //     padding-right:
    //         $WIDTH_UNCANNY_VALLEY;
    // }

    /**
    * These constants are used only to determine carousel right side margin in
    * mobile. The carousel select itself does not use them.
    */
    // $width__carouselSelect__tablet:
    //     $LENGTH_ICON_LARGE_TABLET * 2
    //     + $MARGIN_THIN * 3;

    // $width__carouselSelect__mini:
    //     $LENGTH_ICON_LARGE_MINI * 2
    //     + $MARGIN_THIN * 3;

    // .DW__tabletWidth
    // &:after {
    //     padding-right: $width__carouselSelect__tablet;
    // }

    // .DW__miniWidth
    // &:after {
    //     padding-right: $width__carouselSelect__mini;
    // }
}
