.miriamCondom#{$suffix} {
    .condomBag { fill: hsl(86, 33%, 73%); }
    .condomRing { fill: hsl(86, 49%, 64%); }
    .wrapperOuter { fill: hsl(86, 65%, 72%); }
    .wrapperInner { fill: hsl(86, 52%, 80%); }
}