.patinaDarkest { fill: hsl(151, 16%, 37%); }
.patinaDarker { fill: hsl(151, 16%, 42%); }
.patinaDark { fill: hsl(151, 16%, 47%); }
.patinaMediumDark { fill: hsl(151, 16%, 52%); }
.patinaMedium { fill: hsl(151, 16%, 57%); }
// .patinaMediumLight { fill: hsl(151, 16%, 62%); }
.patinaLight { fill: hsl(151, 16%, 67%); }

.darkRoom .darkRoom#{$suffix} {
    .patinaDark { fill: hsl(151, 10%, 29%); } // Taiwan window only.
}

.eveningTime .eveningTime#{$suffix} {
    .patinaDarkest { fill: hsl(151, 11%, 32%); }
    .patinaDarker { fill: hsl(151, 11%, 37%); }
    .patinaDark { fill: hsl(151, 11%, 42%); }
    .patinaMediumDark { fill: hsl(151, 11%, 47%); }
}

.nightTime .nightTime#{$suffix} {
    .patinaDarkest { fill: hsl(151, 11%, 27%); }
    .patinaDarker { fill: hsl(151, 11%, 32%); }
    .patinaDark { fill: hsl(151, 11%, 37%); }
}