.patinaDarkest { fill: hsl(151, 16%, 37%); }
.patinaDarker { fill: hsl(151, 16%, 42%); }
.patinaDark { fill: hsl(151, 16%, 47%); }
.patinaMediumDark { fill: hsl(151, 16%, 52%); }
.patinaMedium { fill: hsl(151, 16%, 57%); }
// .patinaMediumLight { fill: hsl(151, 16%, 62%); }
.patinaLight { fill: hsl(151, 16%, 67%); }

.nightTime .nightTime#{$suffix} {
    .patinaDark { fill: hsl(151, 11%, 37%); }
}