.button {
    position: relative;
}

.animated-background-container {
    width: 100%;
    height: 100%;
}

/**
 * Button and animated background will have same width, so that animated
 * background container can animate to zero width.
 */
.button {
    &, & .animated-background {
        width: @app-icon-diameter;
        height: @app-icon-diameter;
    }
}

.animated-background {
    border-radius: 50%;
}

// Specific selector to override styling in dot-block.
.dom-manager {
    .enabled {
        cursor: pointer;

        &.button {

            .animated-background {
                transition: background-color @animation-default,
                            transform @animation-instant;
            }

            // Animate container itself, because its overflow is hidden.
            &:hover {
                .animated-background-container {
                    animation: bounceHover @animation-default;
                }
            }

            &:active {
                .animated-background-container {
                    transform: scale(0.9);
                }
            }
        }
    }
}

.custom-shape {
    // Only absolute positioning shows the access icon. I'm not sure why.
    position: absolute;
    top: 0;
    left: 0;

    .animated-background {
        border-radius: 0;
    }
}

/**
 * All dot backgrounds in lyrics and annotation cards, except portal annotation
 * cards.
 */
.text-anchor-block, .annotation-card:not(.portal) {
    .animated-background {

        // Fade out first, then transition size.
        transition: margin @animation-fast @animation-faster,
                    height @animation-fast @animation-faster,
                    width @animation-fast @animation-faster,
                    border @animation-fast @animation-faster,
                    background-color @animation-fast @animation-faster,
                    opacity @animation-fast;

        opacity: 0;
        width: 0;
        height: 0;
    }
}

.custom-size {
    &.button {
        &, & .animated-background {
            width: 100%;
            height: 100%;
        }
    }
}

.button.small {
    &, & .animated-background {
        width: @app-small-icon-diameter;
        height: @app-small-icon-diameter;
    }
}

.button.large, .popup-button-block, .lyric-button-block {
    &, & .animated-background {
        width: @app-large-icon-diameter;
        height: @app-large-icon-diameter;
    }
}

.tablet-width {
    .button.large, .popup-button-block, .lyric-button-block {
        &, & .animated-background {
            width: @app-tablet-large-icon-diameter;
            height: @app-tablet-large-icon-diameter;
        }
    }
}

.mini-width {
    .button.large, .popup-button-block, .lyric-button-block {
        &, & .animated-background {
            width: @app-mini-large-icon-diameter;
            height: @app-mini-large-icon-diameter;
        }
    }
}

.phone-width {
    .button.large, .popup-button-block, .lyric-button-block {
        &, & .animated-background {
            width: @app-icon-diameter;
            height: @app-icon-diameter;
        }
    }
}
