.tristan#{$suffix} {
    .tristanShirtInner { fill: hsl(135, 9%, 43%); }
    .tristanShirt { fill: hsl(135, 9%, 51%); }
    .tristanVest { fill: hsl(201, 19%, 53%); }
    .tristanLapel { fill: hsl(201, 23%, 59%); }
    .tristanJeans { fill: hsl(240, 3%, 40%); }
    .tristanJeansInner { fill: hsl(240, 3%, 48%); }
    .tristanBoot { fill: hsl(138, 8%, 34%); }

    .descendentsDisplayLine { stroke: hsl(0, 0%, 80%); }
    .swastikaDisplayLine { stroke: hsl(0, 0%, 80%); }
    .antiDisplayLine { stroke: hsl(0, 30%, 60%); stroke-width: 2px; }

    &.principal {
        .shirt { fill: hsl(194, 39%, 76%); }
        .jacket { fill: hsl(205, 5%, 56%); }
        .lapel { fill: hsl(206, 7%, 62%); }
        .pants { fill: hsl(62, 15%, 62%); }
    }
}