.howie#{$suffix} {
    .howieShirt { fill: hsl(206, 15%, 56%); }
    .howieLongSleeveInner { fill: hsl(330, 16%, 50%); }
    .howieCollar { fill: hsl(330, 16%, 53%); }
    .howieLongSleeve { fill: hsl(330, 18%, 56%); }
    .howiePants { fill: hsl(56, 7%, 47%); }
    .howieShoe { fill: hsl(213, 8%, 49%); }

    &.gangbanger {
        .gangbangerWaistband { fill: hsl(0, 0%, 65%); }
        .gangbangerPants { fill: hsl(0, 0%, 51%); }
        .gangbangerPantsInner { fill: hsl(0, 0%, 47%); }
        .gangbangerShoe { fill: hsl(40, 4%, 40%); }
    }
}
