.dots-block {
    display: flex;
    width: auto;
    height: 100%;
}

.dot {
    
    .annotation-card
    // Only style dots that are not in portal.
    .dots-block
    & {
        &, & .icon-canvas {
            height: @annotation-dot-diameter;
        }
    }
    
    .text-anchor-block
    & {
        &, & .icon-canvas {
            height: @lyric-anchor-dot-diameter;
        }
    }
}