@import "./DotAnchor.less";
@import "./DotSequence.less";
@import "./DotSequenceDot.less";

.bgColour__portal {
    background-color: @Dot__portal;
}
.bgColour__observation {
    background-color: @Dot__observation;
}
.bgColour__backstory {
    background-color: @Dot__backstory;
}
.bgColour__reference {
    background-color: @Dot__reference;
}
.bgColour__pun {
    background-color: @Dot__pun;
}
.bgColour__narrative {
    background-color: @Dot__narrative;
}
.bgColour__songwriting {
    background-color: @Dot__songwriting;
}
.bgColour__afterword {
    background-color: @Dot__afterword;
}
