@import "./DotAnchor.less";
@import "./DotSequence.less";

// TODO: Eventually change this styling to put on icon canvas directly.

.Dot__annotationCard__sequence {
    &, & .icon-canvas {
        height: @length__annotationDot;
    }
}

.Dot__textAnchor {
    &, & .icon-canvas {
        height: @length__lyricAnchorDot;
    }
}

.bgColour__dot__portal {
    .icon-canvas {
        background-color: @bgColour__dot__portal;
    }
}
.bgColour__dot__observation {
    .icon-canvas {
        background-color: @bgColour__dot__observation;
    }
}
.bgColour__dot__backstory {
    .icon-canvas {
        background-color: @bgColour__dot__backstory;
    }
}
.bgColour__dot__reference {
    .icon-canvas {
        background-color: @bgColour__dot__reference;
    }
}
.bgColour__dot__pun {
    .icon-canvas {
        background-color: @bgColour__dot__pun;
    }
}
.bgColour__dot__narrative {
    .icon-canvas {
        background-color: @bgColour__dot__narrative;
    }
}
.bgColour__dot__songwriting {
    .icon-canvas {
        background-color: @bgColour__dot__songwriting;
    }
}
.bgColour__dot__afterword {
    .icon-canvas {
        background-color: @bgColour__dot__afterword;
    }
}