@import "./DotLogic.scss";
@import "./DotSequence.scss";
@import "./DotSequenceDot.scss";
@import "./DotSequenceDotLogic.scss";

.bgColour__dot {
    background-color: $bgColour__dot__deselected;

    transition: background-color $animationDuration__default;

    .RM__sliderNotMoving
    .Anchor__selected
    & {
        background-color: $bgColour__underline__selected;
    }

    .RM__sliderNotMoving.RM__accessOn
    .Anchor__accessed
    & {
        background-color: $bgColour__underline__accessed;
    }
}
