.DotAnchor {
    position: relative;

    .underlineBar {
        height: 25%;
        bottom: -10%;
    }
}

// This is the one source of truth for how dot anchors are ordered!
.RM__sliderNotMoving.RM__portal
.DotAnchor:not(.selected)
.icon-canvas.portal {
    background-color: @Dot__portal;
}
.RM__sliderNotMoving.RM__observation
.DotAnchor:not(.selected)
.icon-canvas.observation {
    background-color: @Dot__observation;
}
.RM__sliderNotMoving.RM__backstory
.DotAnchor:not(.selected)
.icon-canvas.backstory {
    background-color: @Dot__backstory;
}
.RM__sliderNotMoving.RM__reference
.DotAnchor:not(.selected)
.icon-canvas.reference {
    background-color: @Dot__reference;
}
.RM__sliderNotMoving.RM__pun
.DotAnchor:not(.selected)
.icon-canvas.pun {
    background-color: @Dot__pun;
}
.RM__sliderNotMoving.RM__narrative
.DotAnchor:not(.selected)
.icon-canvas.narrative {
    background-color: @Dot__narrative;
}
.RM__sliderNotMoving.RM__songwriting
.DotAnchor:not(.selected)
.icon-canvas.songwriting {
    background-color: @Dot__songwriting;
}
.RM__sliderNotMoving.RM__afterword
.DotAnchor:not(.selected)
.icon-canvas.afterword {
    background-color: @Dot__afterword;
}
