@import "./DotAnchor.less";

.dots-block {
    display: flex;
    width: auto;
    height: 100%;
}

.dot {

    .AnnotationCard
    // Only style dots that are not in portal.
    .dots-block
    & {
        &, & .icon-canvas {
            height: @length__annotationDot;
        }
    }

    .TextAnchorBlock
    & {
        &, & .icon-canvas {
            height: @length__lyricAnchorDot;
        }
    }
}