@import "./DotAnchor.less";
@import "./DotToggleBlock.less";
@import "./DotToggleButton.less";

.dots-block {
    display: flex;
    width: auto;
    height: 100%;
}

.dot {
    
    .AnnotationCard
    // Only style dots that are not in portal.
    .dots-block
    & {
        &, & .icon-canvas {
            height: @annotation-dot-diameter;
        }
    }
    
    .TextAnchorBlock
    & {
        &, & .icon-canvas {
            height: @lyric-anchor-dot-diameter;
        }
    }
}