.SequenceDot {
    width: 0;
    height: 0;
    opacity: 0;

    // Increase width first, then fade in.
    transition:
        width @animationDuration__default,
        opacity @animationDuration__default @animationDuration__fast;
}

.SequenceDot__annotationCard {
    height: @length__annotationDot;
}

.SequenceDot__textAnchor {
    height: @length__lyricAnchorDot;

    // TODO: Eventually put this in Anchor styling.

    .TextAnchorBlock:hover
    & {
        animation: bounceHover @animationDuration__slow;
    }

    .TextAnchorBlock:active
    & {
        transform: scale(0.8);
    }
}

// TODO: Disable colouring when selected.

.RM__narrative
    .Dot__narrative,
.RM__backstory
    .Dot__backstory,
.RM__observation
    .Dot__observation,
.RM__pun
    .Dot__pun,
.RM__reference
    .Dot__reference,
.RM__songwriting
    .Dot__songwriting,
.RM__afterword
    .Dot__afterword {

    opacity: 1;

    // FIXME: This animation is janky, for some reason.
    // Fade out first, then reduce width.
    // transition:
    //     width @animationDuration__default @animationDuration__fast,
    //     opacity @animationDuration__default;

    &.SequenceDot__annotationCard {
        width: @length__annotationDot;
    }

    &.SequenceDot__textAnchor {
        width: @length__lyricAnchorDot;
    }
}