.DotSequence {
    position: absolute;
    display: flex;
}

.DotSequence__inTextAnchor {
    left: -$length__lyricAnchorDot * 0.32;
    top: -$length__lyricAnchorDot * 0.35;

    .VerseLine__right
    & {
        // Undo reverse dot order caused by right column's rtl direction.
        flex-direction: row-reverse;
    }
}
