.SequenceDot {
    width: 0;
    height: 0;
    opacity: 0;

    // Specify to override default sole background colour transition.
    &.bgColour__dot {

        // Increase width first, then fade in.
        transition:
            width $animationDuration__default,
            background-color $animationDuration__default,
            opacity $animationDuration__default $animationDuration__fast;
    }
}

.SequenceDot__annotationCard {
    height: $length__annotationDot;
}

.SequenceDot__textAnchor {
    height: $length__lyricAnchorDot;

    // TODO: Eventually put this in Anchor styling?
    .Anchor__selectable:hover
    & {
        animation: bounceHover $animationDuration__slow;
    }

    .Anchor__selectable:active
    & {
        transform: scale(0.8);
    }
}
