.DotsToggle-block {
    flex-direction: column;

    .dot {
        &, & .icon-canvas {
            width: @dot-toggle-container-diameter;
            height: @dot-toggle-container-diameter;
        }
    }

    .phone-width
    & { 
        .dot {
            &, & .icon-canvas {
                width: @dot-toggle-container-phone-diameter;
                height: @dot-toggle-container-phone-diameter;
            }
        }
    }
}

.dot-toggle-container {
    display: flex;
    flex-direction: column-reverse;
    padding: @dot-toggle-container-padding;
    
    .DotAnchor {

        &:hover {
            .icon-canvas {
                animation: bounceHover @animation-default;
            }
        }

        &:active {
            .icon-canvas {
                transform: scale(0.9);
            }
        }
    }

    .dot {
        &.deselected {
            .icon-canvas {
                background-color: @deselected-dot-colour;
            }
        }
    }

    .phone-width
    & {
        padding: @dot-toggle-container-phone-padding;
    }
}

.DotsToggle-row {
    display: flex;
}