.Dot {
    // TODO: Better way to override the verse line styling?
    text-indent: 0;

    .TW__sliderMoving
    & {
        fill: $bgColour__dot__deselected;
    }
}

// Specific selectors to override hover drop shadow.
.dropShadow {
    &.dropShadow__accessed {
        filter: $dropShadow__access;
    }

    &.dropShadow__selected {
        filter: $dropShadow__select;
    }
}