.UnitCard {
    position: relative;
}

.UnitCard__tab {
    position: absolute;
    top: -$height__stanzaTypeTab;
    left: 0;
    border-radius: $borderRadius__wide $borderRadius__wide 0 0;

    padding: 0 5px;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 0.6em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.UnitCard__tabShadow {

    /**
     * Minimise overlap of tab and sheet box shadows. Not exactly accurate.
     */
    height: $height__stanzaTypeTab - $borderRadius__narrow * 3;
    top: -$height__stanzaTypeTab;
}

.UnitCard__tabTop {
    // Ensure that tab covers sheet.
    height: $height__stanzaTypeTab + 1px;
    color: $colour__text__light;

    cursor: pointer;

    transition: color $animationDuration__default;

    &:hover {
        color: $colour__link__light;
    }

    &:active {
        color: $colour__linkHover__light;
    }
}

.boxShadow__unitCard {
    box-shadow: $boxShadow__unitCard;
}

.UnitCard__subCard {
    $paddingX__offsetStanza: 17%;
    $marginY__offsetUnit__overlap: 6.5px;

    margin-top: -$marginY__offsetUnit__overlap;

    .Unit__column__main
    & {
        padding-left: $paddingX__offsetStanza;
    }

    // Fix the issue once and for all with subCards wrapping onto next line.
    white-space: nowrap;
}

.UnitCard__sheet {
    position: relative;

    padding: $js__margin__thin / 2;
    border-radius: $borderRadius__narrow;

    .Unit__column__main
    & {
        padding-left: $js__margin__thick;
    }

    .UnitCard__tabbed
    & {
        padding-top: $js__margin__thin * 1.5;
        border-top-left-radius: 0;
    }

    .Unit__title
    & {
        padding-top: $js__margin__thick;
    }
}

.bgColour__unit__pattern {
    $degrees: 60deg;
    $lightShade: rgba(255, 255, 255, 0.125);
    $darkShade: rgba(0, 0, 0, 0.15);
    $height: $height__stanzaTypeTab * 1.8;
    $width: $height * 0.5773; // Square root of 3 for 30, 60, 90 triangle.

    background-image:
    repeating-linear-gradient(
        180 - $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent $height / 2
    ),
    repeating-linear-gradient(
        $degrees,
        $lightShade,
        $lightShade 1px,
        transparent 1px,
        transparent $height / 2
    ),
    linear-gradient(
        $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    ),
    linear-gradient(
        180 - $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    );
    background-size: $width $height;
}

.bgColour__unit__pattern__reverse {
    background-position: bottom left;
}

.bgColour__stanzaType__title {
    background-color: $bgColour__stanzaType__title;
}
.bgColour__stanzaType__refrain {
    background-color: $bgColour__stanzaType__refrain;
}
.bgColour__stanzaType__verse {
    background-color: $bgColour__stanzaType__verse;
}
.bgColour__stanzaType__prechorus {
    background-color: $bgColour__stanzaType__prechorus;
}
.bgColour__stanzaType__chorus {
    background-color: $bgColour__stanzaType__chorus;
}
.bgColour__stanzaType__postchorus {
    background-color: $bgColour__stanzaType__postchorus;
}
.bgColour__stanzaType__bridge {
    background-color: $bgColour__stanzaType__bridge;
}
.bgColour__stanzaType__coda {
    background-color: $bgColour__stanzaType__coda;
}
.bgColour__stanzaType__intro {
    background-color: $bgColour__stanzaType__instrumental;
}
.bgColour__stanzaType__solo {
    background-color: $bgColour__stanzaType__instrumental;
}
.bgColour__stanzaType__outro {
    background-color: $bgColour__stanzaType__instrumental;
}
.bgColour__stanzaType__rhyme {
    background-color: $bgColour__stanzaType__rhyme;
}
.bgColour__stanzaType__backing {
    background-color: $bgColour__stanzaType__backing;
}
.bgColour__stanzaType__response {
    background-color: $bgColour__stanzaType__response;
}