.volcano#{$suffix} {
    .volcanoFar { fill: hsl(63, 12%, 51%); }
    .volcanoMiddle { fill: hsl(63, 13%, 47%); }
    .volcanoNear { fill: hsl(63, 14%, 43%); }
    .volcanoCaldera { fill: hsl(24, 55%, 45%); }

    .nightTime
    &.nightTime#{$suffix} {
        .volcanoFar { fill: hsl(63, 6%, 41%); }
        .volcanoMiddle { fill: hsl(63, 7%, 37%); }
        .volcanoNear { fill: hsl(63, 8%, 33%); }
        .volcanoCaldera { fill: hsl(24, 45%, 35%); }
    }
}