.drums#{$suffix} {
    .head { fill: hsl(87, 21%, 72%); }
    .shellInner { fill: hsl(205, 28%, 50%); }
    .shell { fill: hsl(205, 35%, 55%); }
    .lug { fill: hsl(176, 10%, 71%); }
    .hoop { fill: hsl(175, 7%, 65%); }
    .hoopInner { fill: hsl(175, 5%, 60%); }
    .claspLight { fill: hsl(145, 13%, 66%); }
    .claspMedium { fill: hsl(146, 11%, 61%); }
    .claspDark { fill: hsl(148, 8%, 55%); }
    .claspInner { fill: hsl(148, 7%, 47%); }
    .logo { fill: hsl(79, 19%, 25%); }
}