<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yearlings Bobtail</title>

    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>

    <!-- FIXME: Do not transpile client-side in production. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.0/JSXTransformer.js"></script>
</head>
<body>

    <div id="container"></div>

    <script type="text/jsx" src="js/top-nav.jsx"></script>
    <script type="text/jsx" src="js/book-page.jsx"></script>
    <script type="text/jsx" src="js/lyrics-column.jsx"></script>
    <script type="text/jsx" src="js/wrapper.jsx"></script>
    <script type="text/jsx">

        // FIXME: move this to server side?
        var config = {
            title: 'Yearling\'s Bobtail',
            personal: 'personal yb',
            pageStartingIndices: [0, 9],
            songs: [
                {
                    title: 'Didi',
                    narrative: 'narrative1',
                    personal: 'personal1',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'Willy the Cocoa',
                    narrative: 'narrative2',
                    personal: 'personal2',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'Dear Saskia',
                    narrative: 'narrative3',
                    personal: 'personal3',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'Odin',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a',
                        'lyrics column b'
                    ]
                },
                {
                    title: 'Ash Wednesday',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'Pchelka\'s Starry Journey',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'M',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'Good Night, Sita',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'Grasshoppers Lie Heavy',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'Constellations!',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'Look Back in Anger',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'Garryowen',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'On a Golden Cord',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a',
                        'lyrics column b'
                    ]
                },
                {
                    title: 'Kyon?',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'Uncanny Valley',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'Cremated',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a',
                        'lyrics column b'
                    ]
                },
                {
                    title: 'Vegan Proclamation',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                },
                {
                    title: 'My 100,000th Dream',
                    narrative: 'narrative',
                    personal: 'personal',
                    lyrics: [
                        'lyrics column a'
                    ]
                }
            ]
        };

        ReactDOM.render(
            <App {...config} />,
            document.getElementById('container')
        );

    </script>

</body>
</html>