<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yearlings Bobtail</title>

    <link rel="stylesheet" href="css/style.css">

    <!-- FIXME: Not currently working -->
    <script async data-main="libs/fallback-main.js" src="libs/fallback.min.js" type="text/javascript"></script>

    <!-- FIXME: Use fallbackJS, and use minified versions -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0/react-dom.js"></script>
    -->

    <script src="libs/react.js"></script>
    <script src="libs/react-dom.js"></script>

</head>
<body>
    <div id="container"></div>
    <script type="text/javascript" src="js/top-nav.js"></script>
    <script type="text/javascript" src="js/page.js"></script>
    <script type="text/javascript" src="js/book.js"></script>
    <script type="text/javascript" src="js/app.js"></script>

    <script type="text/javascript">
        var album = <%- JSON.stringify(album) %>;

        var wrapper = ReactDOM.render(React.createElement(App, album), document.getElementById('container'));

        var stickyNav = document.getElementsByClassName('sticky-nav')[0],
            lyricsColumnWrapper = document.getElementsByClassName('sticky-lyrics')[0];

        window.onscroll = function() {
            console.log('New window Y position: ' + window.pageYOffset);

            if (stickyNav) {
                if (window.pageYOffset > 384 / 2) {
                    stickyNav.classList.add('stuck');
                } else {
                    stickyNav.classList.remove('stuck');
                }
            }

            if (lyricsColumnWrapper) {
                if (window.pageYOffset > 384) {
                    lyricsColumnWrapper.classList.add('stuck');
                } else {
                    lyricsColumnWrapper.classList.remove('stuck');
                }
            }
        }

        window.onresize = function() {
            console.log('New window size: ' + window.innerWidth + ', ' + window.innerHeight);
        }
    </script>
</body>
</html>