.monitor#{$suffix} {
    .panelLight { fill: #737373; }
    .monitorLight { fill: #5a6063; }
    .panelMedium { fill: #616161; }
    .monitorMedium { fill: #4c5154; }
    .panelDark { fill: #4d4d4d; }
    .monitorDark { fill: #3e4245; }
    .coneOuter { fill: #e8e8e8; }
    .coneInner { fill: #484c59; }
}