.backpackBennett {
    .backpackStrapLight { fill: #7ca8a8; }
    .backpackStrapDark { fill: #6f9696; }
    .backpackAdjusterDark { fill: #6a7878; }
    .backpackAdjusterLight { fill: #768585; }
    .backpackPocketMedium { fill: #598a8a; }
    .backpackDark { fill: #6ca9b5; }
    .backpackLight { fill: #75b7c4; }
    .backpackPocketLight { fill: #609696; }
    .backpackMedium { fill: #72b1bd; }
    .backpackReflector { fill: #97bdbd; }
    .backpackLightest { fill: #7abecc; }
    .backpackZipperTeeth { fill: #969ba6; }
    .backpackZipperPull { fill: #5c5f66; }
}

.balledFoil {
    .foil { fill: #b2c2cf; }
}

.basementBeerCase {
    .boxDark { fill: #ab6450; }
    .boxLight { fill: #ba6d57; }
    .flap { fill: #756b58; }
    .flapDark { fill: #a15e4b; }
    .flapLight { fill: #c2725b; }
    .boxHole { fill: #4a4437; }
    .mountainDark { fill: #9171a3; }
    .mountainLight { fill: #a37fb8; }
    .iceDark { fill: #7ea8b5; }
    .iceLight { fill: #8cbbc9; }
}

.bennettCouchLamp {
    .baseSide { fill: #82817b; }
    .baseTop { fill: #a6a59d; }
    .neck { fill: #919089; }
    .lampshade { fill: #cccfbe; }
}

.bennettRecordPlayer {
    .baseBottom { fill: #a67451; }
    .baseFront { fill: #966949; }
    .baseTop { fill: #b57f58; }
    .coverFront { fill: rgba(175, 150, 125, 0.5); }
    .coverSide { fill: rgba(150, 125, 100, 0.5); }
    .coverRear { fill: rgba(125, 100, 75, 0.5); }
    .silverFront { fill: #839e9d; }
    .silverTop { fill: #94b3b1; }
    .plasticSide { fill: #5d6b65; }
    .plasticFront { fill: #525e59; }
    .plasticTop { fill: #687871; }
    .record { fill: #4a5450; }
    .label { fill: #acb37b; }
    .bar { fill: #8f9c9b; }
}

.captainBedLamp {
    .baseSide { fill: #81a371; }
    .baseTop { fill: #93ba81; }
    .mount { fill: #9c9c9c; }
    .neck { fill: #bfc2b8; }
    .dial { fill: #7c9c6c; }
    .lampshadeInner { fill: #b5d9a3; }
    .bulb { fill: #eaedd5; }
    .lampshadeOuter { fill: #89ad78; }
}

.cashBox {
    .boxDark { fill: #a38aa6; }
    .boxMedium { fill: #bfa2c2; }
    .boxLight { fill: #cbaccf; }
    .boxInset { fill: #c0a3c4; }
}

.crackedPicture {
    .crack { fill: #b4b589; }
}

.fridgeDrawings {
    .trollShoes { fill: #544e3d; }
    .trollPants { fill: #736b54; }
    .trollShirt { fill: #7587a3; }
    .trollHat { fill: #7b75a3; }
    .skinTroll { fill: #75a381; }
    .eyeBlob { fill: #616161; }
}

.haircutScissors {
    .handle { fill: #c76288; }
}

.hospitalRecordPlayer {
    .baseSide { fill: #73654e; }
    .baseFront { fill: #87775c; }
    .trimSide { fill: #bdb17f; }
    .trimFront { fill: #aba073; }
    .trimTop { fill: #c7ba86; }
    .silverDark { fill: #7f9997; }
    .hornOuter { fill: #b5a357; }
    .hornInner { fill: #bdac66; }
    .silverMedium { fill: #8ba8a7; }
    .record { fill: #4a5450; }
    .label { fill: #acb37b; }
    .stylusSide { fill: #a9b364; }
    .stylusFront { fill: #949c57; }
    .silverLight { fill: #96b5b4; }
}

.keyboard {
    .bodyBottom { fill: #7f8485; }
    .bodySide { fill: #8b9091; }
    .bodyFront { fill: #979d9e; }
    .bodyTop { fill: #a5acad; }
    .keyBlack { fill: #594c41; }
    .keyWhiteBottom { fill: #d9d7cd; }
    .keyWhiteTop { fill: #f2f0e6; }
    .wheelDisplayLine { fill: none; }
    .panel { fill: #b1b9ba; }
    .dialSide { fill: #6f827d; }
    .dialTop { fill: #c7ded7; }
    .label { fill: #ccc395; }
    .wheel { fill: #7a8f89; }
}

.lightSwitch {
    .switchPanel { fill: #d1cbae; }
    .switchInner { fill: #adad98; }
    .switchDark { fill: #c3c4ac; }
    .switchLight { fill: #dddec3; }
}

.lingerieDrawing {
    .skinIndian { fill: #bfbfbf; }
    .lingerie { fill: #8c8c8c; }
    .hairBlack { fill: #363636; }
}

.mannequin {
    .pole { fill: #8f9ea8; }
    .woodSide { fill: #a8936a; }
    .woodBottom { fill: #96835f; }
    .woodTopSide { fill: #b39c70; }
    .woodTop { fill: #bfa778; }
    .body { fill: #c3c4ba; }
}

.playgroundBall {
    .ball { fill: #915e83; }
}

.pushBroom {
    .pole { fill: #bfb390; }
    .bristle { fill: #8a8a7a; }
    .rubber { fill: #8d7791; }
    .base { fill: #7a705c; }
}

.recordingBeers {
    .bottleCap { fill: #7ea68c; }
    .packageSideDark { fill: #598a59; }
    .packageSideLight { fill: #82a677; }
    .packageFrontDark { fill: #639963; }
    .packageFrontLight { fill: #8db381; }
    .star { fill: #ba5050; }
}

.recordPlayerStool {
    .legSide { fill: #73a0de; }
    .legFront { fill: #6b95cf; }
    .supportBottom { fill: #b0ada7; }
    .supportFront { fill: #d1cdc6; }
    .surfaceSide { fill: #d9796a; }
    .surfaceFront { fill: #c97062; }
    .shellInnerFront { fill: #9c8a69; }
    .shellInnerSide { fill: #a89471; }
    .shellOuterFront { fill: #c2ac82; }
    .shellOuterSide { fill: #b39d77; }
    .baseSide { fill: #cbccb3; }
    .baseTop { fill: #bcbda6; }
    .baseFront { fill: #afb09b; }
    .stylusBottom { fill: #b08d55; }
    .record { fill: #4a5450; }
    .label { fill: #acb37b; }
    .stylusSide { fill: #cca363; }
    .stylusTop { fill: #c49d5f; }
    .stylusFront { fill: #bd975b; }
    .dialSide { fill: #86689e; }
    .dialFront { fill: #9171ab; }
    .holderSide { fill: #c1c2aa; }
    .holderTop { fill: #aeb09a; }
    .holderFront { fill: #a5a692; }
}

.redEnvelopeMoney {
    .redEnvelopeFlap { fill: #bfadad; }
    .redEnvelope { fill: #8f4242; }
    .redEnvelopeLabel { fill: #dbb16e; }
}

.stepladder {
    .rail { fill: #8f8267; }
    .rung { fill: #ab9b7b; }
}

.tchotchkes {
    .boxDarkest { fill: #9c758a; }
    .boxDarker { fill: #a87e95; }
    .boxDark { fill: #b3869e; }
    .boxLight { fill: #bf8fa9; }
    .boxLighter { fill: #cc99b4; }
    .boxLightest { fill: #d9a3c0; }
    .photoRight { fill: #759c7b; }
    .photoBelow { fill: #75989c; }
    .photoMiddle { fill: #92759c; }
    .photoTop { fill: #75819c; }
}

.thrownFruit {
    .foilEdgeLine { fill: none; }
    .puddingCupTop { fill: #f0e6da; }
    .puddingCupInner { fill: #b3aba3; }
    .puddingCupBottom { fill: #e8dfd4; }
    .pudding { fill: #69593e; }
}

.vaseline {
    .rollTop { fill: #d9cbd8; }
    .rollCentre { fill: #a1927f; }
    .sheetDark { fill: #e3cce1; }
    .sheetMedium { fill: #e6cde4; }
    .sheetLight { fill: #e8d1e6; }
    .vaselineDark { fill: #d6c797; }
    .vaselineMedium { fill: #e0d19e; }
    .vaselineLight { fill: #e6d9b8; }
    .vaselineLabel { fill: #67bde0; }
    .capRear { fill: #5777b3; }
    .capFront { fill: #5270a8; }
}
