@import '../../../scss/constants/overview';

.OverviewToggle {
    position: relative;

    .ShW__tips__overview
    & {
        opacity: 1;
        margin-left: 0;
    }

    .PlW__song
    .ShW__songOverviewShown
    .ShelfLeft__shown
    & {
        opacity: 1;
        margin-left: 0;
    }
}

.Button__overviewSize {
    height: $height__overviewToggle;
    width: $width__overviewToggle;

    .DW__laptopWidth
    & {
        height: $height__overviewToggle__laptop;
        width: $width__overviewToggle__laptop;
    }

    .DW__tabletWidth
    & {
        height: $height__overviewToggle__tablet;
        width: $width__overviewToggle__tablet;
    }

    .DW__miniWidth
    & {
        height: $height__overviewToggle__mini;
        width: $width__overviewToggle__mini;
    }

    .DW__phoneWidth
    & {
        height: $height__overviewToggle__phone;
        width: $width__overviewToggle__phone;
    }
}
