.taiwanMountainsBackdrop {
    .mountainFarthest {
        fill: #4b6185;
    }

    .mountainFar {
        fill: #51688f;
    }

    .mountainNear {
        fill: #5a739e;
    }

    .mountainNearer {
        fill: #6682b3;
    }

    .mountainNearest {
        fill: #6d8bbf;
    }
}

.taiwanMountainsBridged {
    .mountainRear {
        fill: #5e4452;
    }

    .road {
        fill: #737565;
    }

    .pineRear {
        fill: #4b824e;
    }

    .pineFront {
        fill: #549157;
    }

    .bonsaiLeavesBack {
        fill: #4e9475;
    }

    .bonsaiTrunk {
        fill: #705b39;
    }

    .bonsaiLeavesFront {
        fill: #55a17f;
    }

    .suspenders {
        fill: rgba(200, 150, 150, 0.3);
    }

    .cable {
        fill: #d4ad8c;
    }

    .planks {
        fill: #7d634c;
    }

    .post {
        fill: #857a4a;
    }

    .bushRear {
        fill: #4a7343;
    }

    .mountainFront {
        fill: #694b5b;
    }

    .bushFront {
        fill: #54824c;
    }
}

.taiwanMountainLeft {
    .mountain {
        fill: #300;
    }

    .pineSide {
        fill: #030;
    }

    .pineCentre {
        fill: #360;
    }
}

.taiwanMountainRight {
    .mountainBack {
        fill: #300;
    }

    .pineSide {
        fill: #030;
    }

    .pineCentre {
        fill: #360;
    }

    .bonsaiLeavesBack {
        fill: #063;
    }

    .bonsaiTrunk {
        fill: #633;
    }

    .bonsaiLeavesFront {
        fill: #396;
    }

    .mountainFront {
        fill: #600;
    }
}

.sketchbook {
    .paperSide {
        fill: #b7b3a5;
    }

    .paperFront {
        fill: #e8e4d9;
    }

    .wire {
        fill: #686364;
    }
}