.TaiwanMountainLeft {
    .mountain {
        fill: #300;
    }

    .pineSide {
        fill: #030;
    }

    .pineCentre {
        fill: #360;
    }
}

.TaiwanMountainRight {
    .mountainBack {
        fill: #300;
    }

    .pineSide {
        fill: #030;
    }

    .pineCentre {
        fill: #360;
    }

    .bonsaiLeavesBack {
        fill: #063;
    }

    .bonsaiTrunk {
        fill: #633;
    }

    .bonsaiLeavesFront {
        fill: #396;
    }

    .mountainFront {
        fill: #600;
    }
}