.ScoreToggle {
    position: relative;

    .ShW__tipsShown__score
    &.ShelfLeft__child {
        opacity: 1;
        margin-left: 0;
    }

    // .ShW__tipsShown__score
    // &.ShelfRight__child {
    //     margin-right: 0;
    // }
}