.basementBeerCase {
    .boxDark { fill: #ab6450; }
    .boxLight { fill: #ba6d57; }
    .flap { fill: #756b58; }
    .flapDark { fill: #a15e4b; }
    .flapLight { fill: #c2725b; }
    .boxHole { fill: #4a4437; }
    .mountainDark { fill: #9171a3; }
    .mountainLight { fill: #a37fb8; }
    .iceDark { fill: #7ea8b5; }
    .iceLight { fill: #8cbbc9; }
}