@import '../../../scss/constants/annotation';
@import '../../../scss/constants/icon';
@import '../../../scss/constants/popup';
@import '../../../scss/constants/transition';

.AnnotationHeader {
    // For access icons.
    position: absolute;
    left: 0;
    width: 100%;

    // Top and height should match for argyle pattern to stay aligned.
    top: -$PADDING_POPUP_CONTENT_WIDE - $MARGIN_THIN * 2;
    height: $PADDING_POPUP_CONTENT_WIDE + $MARGIN_THIN * 2;

    /**
     * In carousel, annotation titles are given a height so that the top cards
     * are aligned.
     */
    display: flex;
    justify-content: center;

    .DW__userAgentDesktop
    .ShW__canTransitionAfterSongChange
    & {
        transition: opacity $transitionDuration__default;
    }
}

.AnnotationHeaderAnimatable {
    opacity: 0;

    .CarouselAnnotation__shown
    & {
        opacity: 1;
    }
}
