.taiwanBuoy#{$suffix} {
    .orangeDark { fill: #8f664f; }
    .orangeLight { fill: #9e7157; }
    .yellowDark { fill: #bfbd78; }
    .yellowMedium { fill: #c7c57e; }
    .yellowLight { fill: #d1cf84; }
    .water { fill: #4f92bd; }
}