.taiwanBuoy#{$suffix} {
    .orangeDark { fill: hsl(22, 29%, 44%); }
    .orangeLight { fill: hsl(22, 29%, 48%); }
    .yellowDark { fill: hsl(58, 36%, 61%); }
    .yellowMedium { fill: hsl(58, 39%, 64%); }
    .yellowLight { fill: hsl(58, 46%, 67%); }
    .water { fill: hsl(203, 45%, 53%); }
}