.lizCondom#{$suffix} {
    .condomRing { fill: hsl(311, 49%, 64%); }
    .condomBag { fill: hsl(309, 33%, 73%); }
    .wrapperOuter { fill: hsl(310, 65%, 72%); }
    .wrapperInner { fill: hsl(310, 52%, 80%); }
}