.ShelfRight {
    padding-right: $jsx__margin__thin;

    margin-right:
        -$jsx__length__iconLarge__tablet
        - $jsx__margin__thin * 2;

        .DW__userAgentDesktop
        & {
            transition: margin-right $animationDuration__default;
        }

    .RW__carouselNavShowable
    .ShW__annotationHidden.ShW__dotsHidden
    .TrW__canLyricCarouselEnter
    & {
        margin-right: 0;
    }
}
