.AccessLetters {
    .AnnotationTitle
    & {
        position: relative;
        top: $js__margin__thin * 0.5;
        margin-left: $margin__thick * 0.5;
        margin-bottom: $js__margin__thin * 0.5;
    }

    .PlW__accessOff
    .AnnotationTitle
    & {
        display: none;
    }
}

.AccessLetters__isDot {
    .AnnotationTitle
    & {
        top: $margin__thick;
    }
}

.AccessLetters__annotationUpDown {
    left: $js__margin__thin;
}
