@import '../../../../scss/constants/icon';

.AccessLetters {
    .AnnotationTitle
    & {
        position: relative;
        top: $MARGIN_THIN * 0.5;
        margin-left: $margin__thick * 0.5;
        margin-bottom: $MARGIN_THIN * 0.5;
    }

    .PlW__accessOff
    .AnnotationTitle
    & {
        display: none;
    }
}

.AccessLetters__isDot {
    .AnnotationTitle
    & {
        top: $margin__thick;
    }
}

.AccessLetters__annotationUpDown {
    left: $MARGIN_THIN;
}
