.AccessLetters {
    .AnnotationTitle
    & {
        position: relative;
        top: $js__margin__thin;
        margin-left: $js__margin__thick * 0.5;
        margin-bottom: $js__margin__thin * 0.5;
    }

    .RM__accessOff
    .AnnotationTitle
    & {
        display: none;
    }
}

.AccessLetters__annotationUpDown {
    left: $js__margin__thin;
}
