.bronze#{$suffix} {
    // .bronzeDarkest { fill: hsl(47, 39%, 37%); }
    .bronzeDarker { fill: hsl(47, 39%, 42%); }
    .bronzeDark { fill: hsl(47, 39%, 47%); }
    .bronzeMediumDark { fill: hsl(47, 39%, 52%); }
    // .bronzeMedium { fill: hsl(47, 39%, 57%); }
    // .bronzeMediumLight { fill: hsl(47, 39%, 62%); }
    // .bronzeLight { fill: hsl(47, 39%, 67%); }

    .dark__indoor
    & {
        .bronzeDarker { fill: hsl(47, 39%, 5%); }
        .bronzeDark { fill: hsl(47, 39%, 5%); }
        .bronzeMediumDark { fill: hsl(47, 39%, 5%); }
    }
}
