.CarouselScroll {
    display: flex;
    overflow-x: scroll;

    // Make scrolling smooth in iOS.
    -webkit-overflow-scrolling: touch;

    height: 100%;

    .DW__desktopWidth
    & {
        padding-left: $width__overviewToggle__laptop;
    }

    .DW__tabletWidth
    & {
        padding-left: $width__overviewToggle__tablet;
    }

    // .DW__miniWidth
    // & {
    //     padding-left: $width__overviewToggle__mini;
    // }

    /**
     * I'm baffled why padding-right can't just be applied to the scroll parent
     * itself here, the way padding-left can. But whatever, this works.
     */
    &:after {
        content: '';
    }

    .DW__monitorWidth
    &:after {
        padding-right:
            $jsx__width__goldenCord;
    }

    .DW__laptopWidth
    &:after {
        padding-right:
            $jsx__width__uncannyValley;
    }

    /**
    * These constants are used only to determine carousel right side margin in
    * mobile. The carousel select itself does not use them.
    */
    $width__carouselSelect__tablet:
        $jsx__length__iconLarge__tablet * 2
        + $jsx__margin__thin * 3;

    $width__carouselSelect__mini:
        $jsx__length__iconLarge__mini * 2
        + $jsx__margin__thin * 3;

    .DW__tabletWidth
    &:after {
        padding-right: $width__carouselSelect__tablet;
    }

    // .DW__miniWidth
    // &:after {
    //     padding-right: $width__carouselSelect__mini;
    // }
}
