@import "./AdminNav/AdminNav";
@import "./progress";
@import "./tasks";
@import "./drawings/drawings";

$section-colour: rgba(255, 255, 255, 0.5);

$field-padding: 15px;

// Field widths.
$field-width: 350px;

// Field colours.
$album-field-colour: #ede;
$shared-field-colour: #edd;
$drawing-field-colour: #eed;

/**********
 * FIELDS *
 **********/

.Admin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    z-index: 100;
    background-color: #888;

    display: flex;
    justify-content: center;
}

.Admin__column {
    display: flex;
    box-sizing: border-box;
}

.Admin__field {
    width: $field-width;
    min-width: $field-width;
    padding: 0 ($field-padding * 0.5);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.album.Admin__field {
    padding-left: $field-padding;
    background-color: $album-field-colour;
}

.shared.Admin__field {
    background-color: $shared-field-colour;
}

.drawing.Admin__field {
    padding-right: $field-padding;
    background-color: $drawing-field-colour;
}

/************
 * SECTIONS *m
 ************/

.Admin__field > * {
    padding: $field-padding;
    margin: $field-padding 0;
    background-color: $section-colour;
    box-shadow: $boxShadow__admin;
}

.AdminToggle {
    z-index: $zIndex__popupOverlay;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 5px;
    color: #484;
    background-color: rgba(225, 225, 225, 0.8);
}
