@import "./AdminNav/AdminNav";
@import "./progress";
@import "./tasks";
@import "./drawings";

@section-colour: rgba(255, 255, 255, 0.5);

@field-padding: 15px;

// Field widths.
@field-width: 350px;

// Field colours.
@album-field-colour: #ede;
@shared-field-colour: #edd;
@drawing-field-colour: #eed;

// Progress bar colours.
@task-total-colour: #fcc;
@task-filled-colour: #daa;
@song-total-colour: #fcf;
@song-filled-colour: #dad;
@played-total-colour: #cfc;
@played-filled-colour: #ada;

/**********
 * FIELDS *
 **********/

.admin-column {
    display: flex;
    box-sizing: border-box;

    // Needed by Safari.
    height: 100%;
}

.admin-field {
    width: @field-width;
    min-width: @field-width;
    padding: 0 (@field-padding * 0.5);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.album-admin-field {
    padding-left: @field-padding;
    background-color: @album-field-colour;
}

.shared-admin-field {
    background-color: @shared-field-colour;
}

.drawing-admin-field {
    padding-right: @field-padding;
    background-color: @drawing-field-colour;
}

/************
 * SECTIONS *m
 ************/

.admin-field > * {
    padding: @field-padding;
    margin: @field-padding 0;
    background-color: @section-colour;
    box-shadow: @admin-box-shadow;
}

.admin-toggle {
    z-index: @zIndex__adminToggle;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 5px;
    color: #484;
    background-color: rgba(50, 50, 50, 0.2);
}
