@import '../../../scss/constants/transition';
@import '../../../scss/constants/zIndex';

.Curtains {
    z-index: $zIndex__curtains;
}

.Curtains__top {
    height: 7.5%;
}

.Curtains__side {
    top: 0.5%;
    width: 50%;
}

.Curtains__left {
    // Allow curtains to overlap a bit when closed.
    left: 0.1%;

    .DW__userAgentDesktop
    & {
        transition: left $TRANSITION_DURATION_CURTAINS;
    }

    .Curtains__parted
    & {
        left: -45%;
    }
}

.Curtains__right {
    left: auto;
    right: 0.1%;

    .DW__userAgentDesktop
    & {
        transition: right $TRANSITION_DURATION_CURTAINS;
    }

    .Curtains__parted
    & {
        right: -45%;
    }
}

// This is the path in the svg.
.curtainSide {
    fill: url(#fill__curtainSideDark);

    .PlW__logue
    & {
        fill: url(#fill__curtainSideLit);
    }
}
.curtainSideBand {
    fill: url(#fill__curtainSideBandDark);

    .PlW__logue
    & {
        fill: url(#fill__curtainSideBandLit);
    }
}
.curtainTop {
    fill: url(#fill__curtainTopDark);

    .PlW__logue
    & {
        fill: url(#fill__curtainTopLit);
    }
}
.curtainTopBand {
    fill: url(#fill__curtainTopBandDark);

    .PlW__logue
    & {
        fill: url(#fill__curtainTopBandLit);
    }
}
.curtainRear {
    fill: url(#fill__curtainRear);
}