.goKart#{$suffix} {
    .wheelHubDark { fill: hsl(221, 10%, 58%); }
    .wheelHubLight { fill: hsl(221, 14%, 65%); }
    .wheelHandle { fill: hsl(221, 14%, 44%); }

    .goKartHelmetTrim { fill: hsl(0, 0%, 48%); }
    .goKartHelmet { fill: hsl(45, 6%, 87%); }
}