.seaSerpent#{$suffix} {
    .eye { fill: hsl(150, 33%, 37%); }
    .scalesMedium { fill: hsl(180, 33%, 57%); }
    .scalesLight { fill: hsl(180, 33%, 67%); }
    .coralMedium { fill: hsl(325, 33%, 57%); }
    .coralLight { fill: hsl(325, 33%, 67%); }
}
