.LeftShelf {

    transition:
        opacity $animationDuration__default,
        margin-left $animationDuration__default;

    margin-left: 0;
    margin-bottom: $margin__scrollbar;

    // Align with scores tips on other side.
    padding: $js__margin__thin 0 $js__margin__thin $js__margin__thin;

    display: flex;
    flex-direction: column;

    /**
     * Allow the left shelf not to lose stacking order despite transitioning
     * opacity.
     */
     z-index: $zIndex__leftShelf;

    .DW__miniOrTabletWidth
    & {
        flex-direction: column-reverse;
    }

    // Hidden to left in these scenarios.
    .PlW__logue
    &,
    .ShW__dotsShown
    &,
    .ShW__tipsShown
    &,
    .ShW__overlayShown
    &,
    .ShW__annotationShown
    &,
    .ShW__lyricExpanded
    &,
    .TrW__cannotLyricCarouselEnter
    & {
        opacity: 0;
        margin-left: -$width__overviewToggle;
    }

    .DW__phone
    .ShW__overviewShown
    & {
        opacity: 0;
        margin-left: -$js__margin__thin - $js__length__icon;
    }
}

.LeftShelf__child {

    &:not(:last-child) {
        margin-bottom: $js__margin__thick * 2;
    }

    .DW__miniOrTabletWidth
    &:not(:last-child) {
        margin-top: $js__margin__thick;
        margin-bottom: 0;
    }

    .DW__phone
    &:not(:last-child) {
        margin-bottom: $js__margin__thick;
    }
}
