/***********
 * ANCHORS *
 ***********/

.DomManager._accessOn_ {

    // Show access highlight of dots and text...

    // ... in dots section whenever...
    .Dots,

    // ... in carousel and annotation anchor when selected...
    .selected-annotation .AnnotationCard,

    // ... in carousel title only when...
    &._verseInactive_ .Carousel .accessed-annotation:not(.selected-annotation) .annotation-title-block,

    // ... in carousel cards only when...
    &._verseInactive_ .Carousel .accessed-annotation.selected-annotation .cards-block,

    // ... in lyrics only when...
    &._verseInactive_._dotsHidden_._carouselExpanded_ .Lyric,

    // ... or...
    &._verseInactive_._dotsHidden_._lyricExpanded_ .Lyric {

        .accessHighlighted {

            &.anchor-block .icon-canvas {
                border: @dot-border solid @access-underline-colour;
            }

            /**
             * Text anchors in both lyrics and dots section. This doesn't need
             * to care whether the anchor is shown as anchor or text, because
             * the access logic will skip over the anchor if it's shown as text.
             *
             * Also, do not style text anchors in portals.
             */
            &:not(.portal-block) {

                &.TextAnchorBlock {
                    .TextSpan {
                        color: @access-link-colour;
                    }

                    &:hover {
                        .TextSpan {
                            color: @access-hover-colour;
                        }
                    }

                    &:active {
                        .TextSpan {
                            color: @access-active-colour;
                        }
                    }
                }

                .underline-bar {
                    background-color: @access-underline-colour;
                }
            }
        }
    }

    // Nav buttons in nav section.
    &._navExpanded_._verseInactive_._dotsHidden_ {
        .Nav {
            .accessHighlighted.accessKeysShown {
                .icon-canvas {
                    background-color: @access-underline-colour;
                }
            }
        }
    }

    &._verseInactive_._annotationHidden_._dotsHidden_ {

        // Lyrics annotation is accessed.
        .Lyric {
            background-color: rgba(200, 250, 200, 0.5);
        }
    }

    // Interactivated verse is accessed.
    &._verseActive_ {
        .Lyric {
            .verse.interactivated {
                background-color: @access-underline-colour;
            }
        }
    }

    // Dots section is accessed.
    &._dotsShown_ {
        .Dots {
            // background-color: @temp-access-background;

            // Show dot description in dots section.
            .accessHighlighted {
                .dot-description {
                    opacity: 1;
                }
            }
        }
    }

    .accessKeysShown {
        // Keyboard letter shown on accessible button.
        .access-button-icon:not(.isHidden) {
            opacity: 1;
        }
    }
}

.access-button-icon {
    @access-button-icon-edge: 20px;

    width: @access-button-icon-edge;
    height: @access-button-icon-edge;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity @animationDuration__default;
    opacity: 0;

    border: 2px solid green;
    border-radius: 3px;

    background-color: #bfb;

    .Button
    & {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
