/***********
 * ANCHORS *
 ***********/

.RootManager.RM__accessOn {

    // Show access highlight of dots and text...

    // ... in dots section whenever...
    .Dots,

    // ... in carousel and annotation anchor when selected...
    .Annotation__selected .AnnotationCard,

    // ... in carousel title only when...
    &.RM__verseInactive .Carousel .Annotation__accessed:not(.Annotation__selected) .AnnotationTitle,

    // ... in carousel cards only when...
    &.RM__verseInactive .Carousel .accessed-annotationAnnotation__selected,

    // ... in lyrics only when...
    &.RM__verseInactive.RM__dotsHidden.RM__carouselExpanded .Lyric,

    // ... or...
    &.RM__verseInactive.RM__dotsHidden.RM__lyricExpanded .Lyric {

        .accessHighlighted {

            &.anchor-block .icon-canvas {
                border: @dot-border solid @colour__access__underline;
            }

            /**
             * Text anchors in both lyrics and dots section. This doesn't need
             * to care whether the anchor is shown as anchor or text, because
             * the access logic will skip over the anchor if it's shown as text.
             *
             * Also, do not style text anchors in portals.
             */
            &:not(.AnnotationPortal) {

                &.TextAnchorBlock {
                    .TextSpan {
                        color: @colour__access__link;
                    }

                    &:hover {
                        .TextSpan {
                            color: @colour__access__hover;
                        }
                    }

                    &:active {
                        .TextSpan {
                            color: @colour__access__active;
                        }
                    }
                }

                .underlineBar {
                    background-color: @colour__access__underline;
                }
            }
        }
    }

    // Nav buttons in nav section.
    &.RM__navExpanded.RM__verseInactive.RM__dotsHidden {
        .Nav {
            .accessHighlighted.accessKeysShown {
                .icon-canvas {
                    background-color: @colour__access__underline;
                }
            }
        }
    }

    &.RM__verseInactive.RM__annotationHidden.RM__dotsHidden {

        // Lyrics annotation is accessed.
        .Lyric {
            background-color: rgba(200, 250, 200, 0.5);
        }
    }

    // Interactivated verse is accessed.
    &.RM__verseActive {
        .Lyric {
            .verse.interactivated {
                background-color: @colour__access__underline;
            }
        }
    }

    // Dots section is accessed.
    &.RM__dotsShown {
        .Dots {
            // background-color: @temp-access-background;

            // Show dot description in dots section.
            .accessHighlighted {
                .dot-description {
                    opacity: 1;
                }
            }
        }
    }

    .accessKeysShown {
        // Keyboard letter shown on accessible button.
        .access-button-icon:not(.isHidden) {
            opacity: 1;
        }
    }
}

.access-button-icon {
    @access-button-icon-edge: 20px;

    width: @access-button-icon-edge;
    height: @access-button-icon-edge;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity @animationDuration__default;
    opacity: 0;

    border: 2px solid green;
    border-radius: 3px;

    background-color: #bfb;

    .Button
    & {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
