@keyframes transformLightBounce {
    0% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.95);
    }
    72% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes popupGrow {
    0% {
        transform: scale(0.6);
        opacity: 0;
    }
    50% {
        transform: scale(1.05);
        opacity: 1;
    }
    80% {
        transform: scale(0.99);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes popupShrink {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0;
    }
}

@keyframes overlaidPopupIn {
    0% {
        transform: scale(1.3);
        opacity: 0;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes overlaidPopupOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes tooltipGrow {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
    }
}

@keyframes tooltipShrink {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.6);
        opacity: 0;
    }
}

@keyframes fontSnapback {
    0% {
        font-size: 0;
    }
    55% {
        font-size: 1.2em;
    }
    100% {
        font-size: 1em;
    }
}
