@animation-instant: 0.05s;
@animation-faster: 0.075s;
@animation-fast: 0.15s;
@animation-default: 0.2s;
// @animation-default: 1s;
@animation-slow: 0.25s;
@animation-debug: 1s;

@keyframes bounceHover {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(0.95);
    }
    72% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounceIn {
    0% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bounceOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes shrinkIn {
    0% {
        transform: scale(1.3);
        opacity: 0;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes shrinkOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes fontSnapback {
    0% {
        font-size: 0;
    }
    55% {
        font-size: 1.2em;
    }
    100% {
        font-size: 1em;
    }
}
