// Section colours.
@section-colour: rgba(255, 255, 255, 0.5);
@box-shadow-colour: rgba(100, 100, 120, 0.2);
@darker-box-shadow-colour: rgba(25, 25, 50, 0.4);

// Rows.
@row-height-margin: 5px;
@primary-row-font-size: 1.05em;
@secondary-row-font-size: 0.9em;

// TODO: Finalise link colours.
@pun-dot-colour: #dfa;
@backstory-dot-colour: #fbe;
@narrative-dot-colour: #adf;
@foreshadow-dot-colour: #ebf;
@songwriting-dot-colour: #afd;
@wiki-dot-colour: #aff;
@portal-dot-colour: #fda;

// TODO: Finalise lyric link colours.
@lyric-link-colour: #844;
@lyric-hover-colour: #b77;
@lyric-active-colour: #eaa;
@song-link-colour: #484;
@song-hover-colour: #7b7;
@song-active-colour: #aea;
@disabled-link-colour: #aaa;

@text-shadow-offset: 1px;
@text-shadow-blur: 0.5px;

@app-icon-diameter: 44px;
@app-large-icon-diameter: 54px;
@app-tablet-large-icon-diameter: 50px;
@app-mini-large-icon-diameter: 47px;
@default-dot-diameter: @app-icon-diameter;

@app-thin-margin: 4px;

/********
 * TEXT *
 ********/

@font-face {
  font-family: PTSansNarrow;
  src: url('../../assets/fonts/pt_sans/PTN57F.ttf') format('truetype'),
       url('../../assets/fonts/pt_sans/PTN77F.ttf') format('truetype')
}

/*************
 * Z-INDICES *
 *************/

// This should be the lowest one.
@popup-container-z-index: 0;

@admin-toggle-z-index: @popup-container-z-index + 1;

@overview-toggle-z-index: @admin-toggle-z-index + 1;

// This should be over overview toggle button for animation purposes.
@dots-overview-subfield-z-index: @overview-toggle-z-index + 1;

@scores-tips-z-index: @dots-overview-subfield-z-index + 1;
@nav-custom-subfield-z-index: @scores-tips-z-index + 1;

// Lyrics should be higher than centre field.
@lyric-column-z-index: @nav-custom-subfield-z-index + 1;
@lyrics-audio-button-z-index: @lyric-column-z-index + 1;

// This is in lyrics and annotation.
@text-span-z-index: @lyrics-audio-button-z-index + 1;

// Selected verse should be above normal text span.
@selected-verse-bar-z-index: @text-span-z-index + 1;

// Verse bar text should be even more above.
@verse-bar-text-z-index: @selected-verse-bar-z-index + 1;

// Lyric buttons should be higher than everything else in lyric column, including text span.
@lyric-column-button-z-index: @verse-bar-text-z-index + 1;

@menu-field-z-index: @lyric-column-button-z-index + 1;

// Menu should be higher than centre field and lyrics.
@menu-subfield-z-index: @menu-field-z-index + 1;

@centre-field-z-index: @menu-subfield-z-index + 1;

// Dot interactable should be above dot tooltip.
@dot-tooltip-z-index: @centre-field-z-index + 1;
@dot-interactable-z-index: @dot-tooltip-z-index + 1;

@popup-overlay-z-index: @dot-interactable-z-index + 1;
@popup-content-z-index: @popup-overlay-z-index + 1;

@wiki-popup-content-z-index: @popup-content-z-index + 1;

// Popup button should be above dot.
@popup-interactable-z-index: @wiki-popup-content-z-index + 1;


// Need for dots popup?
// Need for nav titles?

/**************
 * ANIMATIONS *
 **************/

 @keyframes transformLightBounce {
     0% {
         transform: scale(1);
     }
     40% {
         transform: scale(0.95);
     }
     72% {
         transform: scale(1.05);
     }
     100% {
         transform: scale(1);
     }
 }

 @keyframes popupGrow {
     0% {
         transform: scale(0.6);
         opacity: 0;
     }
     50% {
         transform: scale(1.05);
         opacity: 1;
     }
     80% {
         transform: scale(0.99);
     }
     100% {
         transform: scale(1);
     }
 }

 @keyframes popupShrink {
     0% {
         transform: scale(1);
         opacity: 1;
     }
     100% {
         transform: scale(0.9);
         opacity: 0;
     }
 }

 @keyframes lyricGoToSong {
     0% {
         transform: scale(1.5);
         opacity: 0;
     }
     100% {
         transform: scale(1);
     }
 }

 @keyframes lyricGoToLogue {
     0% {
         transform: scale(1);
         opacity: 1;
     }
     100% {
         transform: scale(1.5);
         opacity: 0;
     }
 }

 @keyframes tooltipGrow {
     0% {
         transform: scale(0);
         opacity: 0;
     }

     100% {
         transform: scale(1);
     }
 }

 @keyframes tooltipShrink {
     0% {
         transform: scale(1);
         opacity: 1;
     }
     100% {
         transform: scale(0.6);
         opacity: 0;
     }
 }

@keyframes fontSnapback {
    0% {
        font-size: 0;
    }
    55% {
        font-size: 1.2em;
    }
    100% {
        font-size: 1em;
    }
}
