

// Text shadow.
@text-shadow-offset: 1px;
@text-shadow-blur: 0.5px;

// App icon.
@app-small-icon-diameter: 32px;

// These values *must* be the same in js.
@app-icon-diameter: 44px;
@app-mini-large-icon-diameter: 47px;
@app-tablet-large-icon-diameter: 50px;
@app-large-icon-diameter: 54px;
@app-thin-margin: 4px;

// Dot diameters.
@default-dot-diameter: @app-icon-diameter;
@annotation-dot-diameter: 24px;
@lyric-anchor-dot-diameter: 0.9em;

// Lyric values.
@stanza-type-tab-height: 20px;
@LyricUnit-margin: @stanza-type-tab-height + 5px;
