/***************
 * DOT STANZAS *
 ***************/

.dom-manager.narrative .dot-stanza.narrative,
.dom-manager.backstory .dot-stanza.backstory,
.dom-manager.observation .dot-stanza.observation,
.dom-manager.pun .dot-stanza.pun,
.dom-manager.reference .dot-stanza.reference,
.dom-manager.songwriting .dot-stanza.songwriting,
.dom-manager.portal .dot-stanza.portal,
.dom-manager.afterword .dot-stanza.afterword {

    max-width: 720px;
    margin-top: @lyric-unit-margin;

    .button {
        width: @app-icon-diameter;
        height: @app-icon-diameter;
    }

    &:not(:first-child) {
        margin-left: @stanza-block-margin;
    }
}

/***************
 * DOT ANCHORS *
 ***************/

// This is the one source of truth for how dot anchors are ordered!
.dom-manager.slider-not-moving.portal .dot-anchor:not(.selected) .icon-canvas.portal {
    background-color: @portal-dot-colour;
}
.dom-manager.slider-not-moving.observation .dot-anchor:not(.selected) .icon-canvas.observation {
    background-color: @observation-dot-colour;
}
.dom-manager.slider-not-moving.backstory .dot-anchor:not(.selected) .icon-canvas.backstory {
    background-color: @backstory-dot-colour;
}
.dom-manager.slider-not-moving.reference .dot-anchor:not(.selected) .icon-canvas.reference {
    background-color: @reference-dot-colour;
}
.dom-manager.slider-not-moving.pun .dot-anchor:not(.selected) .icon-canvas.pun {
    background-color: @pun-dot-colour;
}
.dom-manager.slider-not-moving.narrative .dot-anchor:not(.selected) .icon-canvas.narrative {
    background-color: @narrative-dot-colour;
}
.dom-manager.slider-not-moving.songwriting .dot-anchor:not(.selected) .icon-canvas.songwriting {
    background-color: @songwriting-dot-colour;
}
.dom-manager.slider-not-moving.afterword .dot-anchor:not(.selected) .icon-canvas.afterword {
    background-color: @afterword-dot-colour;
}

/*****************
 * ANCHOR BLOCKS *
 *****************/

.dom-manager.slider-not-moving.narrative .anchor-block.narrative,
.dom-manager.slider-not-moving.backstory .anchor-block.backstory,
.dom-manager.slider-not-moving.observation .anchor-block.observation,
.dom-manager.slider-not-moving.pun .anchor-block.pun,
.dom-manager.slider-not-moving.reference .anchor-block.reference,
.dom-manager.slider-not-moving.songwriting .anchor-block.songwriting,
.dom-manager.slider-not-moving.portal .anchor-block.portal,
.dom-manager.slider-not-moving.afterword .anchor-block.afterword,

.anchor-block.in-dots-section {

    // Default colour.
    .underline-bar {
        background-color: @lyric-underline-disabled-colour;
    }

    &.anchor-block:not(.selected) {
        cursor: pointer;

        .text-span {
            color: @lyric-link-colour;
        }

        &:hover {
            .text-span {
                color: @lyric-hover-colour;
            }

            .underline-bar {
                animation: bounceHover @animation-default;
            }
        }

        &:active {
            .text-span {
                color: @lyric-active-colour;
            }

            .underline-bar {
                transform: scale(0.9);
            }
        }

        .underline-bar {
            background-color: @lyric-underline-enabled-colour;
        }
    }

    &.selected {
        .text-span {
            color: @selected-annotation-text-colour;
        }

        .underline-bar {
            background-color: @selected-annotation-underline-colour;
        }

        .icon-canvas {
            border: @dot-border solid @selected-annotation-underline-colour;
            background-color: @deselected-dot-colour;
        }
    }
}
