/************
 * CAROUSEL *
 ************/

.live-manager.narrative .carousel-annotation.narrative,
.live-manager.backstory .carousel-annotation.backstory,
.live-manager.observation .carousel-annotation.observation,
.live-manager.pun .carousel-annotation.pun,
.live-manager.reference .carousel-annotation.reference,
.live-manager.songwriting .carousel-annotation.songwriting,
.live-manager.portal .carousel-annotation.portal,
.live-manager.afterword .carousel-annotation.afterword {

    // min-width: @annotation-card-width + @carousel-annotation-padding * 2 + @annotation-section-padding * 2;
    min-width: @annotation-card-width + @annotation-card-padding * 2 + @carousel-annotation-padding * 2 + @annotation-section-padding * 2;

    .annotation-title-block {
        max-height: 2em; // Arbitrary value that's larger than its max height.
        min-height: @app-small-icon-diameter;
        padding: @annotation-section-padding 0;
    }
}

.mini-width .live-manager.narrative .carousel-annotation.narrative,
.mini-width .live-manager.backstory .carousel-annotation.backstory,
.mini-width .live-manager.observation .carousel-annotation.observation,
.mini-width .live-manager.pun .carousel-annotation.pun,
.mini-width .live-manager.reference .carousel-annotation.reference,
.mini-width .live-manager.songwriting .carousel-annotation.songwriting,
.mini-width .live-manager.portal .carousel-annotation.portal,
.mini-width .live-manager.afterword .carousel-annotation.afterword {

    // min-width: @annotation-card-width + @carousel-annotation-padding * 2 + @annotation-section-padding * 2;
    min-width: @annotation-card-mini-width + @annotation-card-padding * 2 + @carousel-annotation-padding * 2 + @annotation-section-padding * 2;
}

.live-manager.narrative .annotation-card.narrative,
.live-manager.backstory .annotation-card.backstory,
.live-manager.observation .annotation-card.observation,
.live-manager.pun .annotation-card.pun,
.live-manager.reference .annotation-card.reference,
.live-manager.songwriting .annotation-card.songwriting,
.live-manager.portal .annotation-card.portal,
.live-manager.afterword .annotation-card.afterword {

    min-height: @annotation-dot-diameter;
    max-height: 500px; // Arbitrary large number.
    padding: @annotation-card-padding;
    opacity: 1;
    box-shadow: 0 1px 1px 1px @box-shadow-colour;

    &:not(:last-child) {
        margin-bottom: @annotation-section-padding;
    }
}

/***************
 * DOT STANZAS *
 ***************/

.live-manager.narrative .dot-stanza.narrative,
.live-manager.backstory .dot-stanza.backstory,
.live-manager.observation .dot-stanza.observation,
.live-manager.pun .dot-stanza.pun,
.live-manager.reference .dot-stanza.reference,
.live-manager.songwriting .dot-stanza.songwriting,
.live-manager.portal .dot-stanza.portal,
.live-manager.afterword .dot-stanza.afterword {

    max-width: 720px;
    margin-top: @lyric-unit-margin;

    .button {
        width: @app-icon-diameter;
        height: @app-icon-diameter;
    }

    &:not(:first-child) {
        margin-left: @stanza-block-margin;
    }
}

/********
 * DOTS *
 ********/

.live-manager.narrative .animated-background.narrative,
.live-manager.backstory .animated-background.backstory,
.live-manager.observation .animated-background.observation,
.live-manager.pun .animated-background.pun,
.live-manager.reference .animated-background.reference,
.live-manager.songwriting .animated-background.songwriting,
.live-manager.portal .animated-background.portal,
.live-manager.afterword .animated-background.afterword {

    transform: scale(1);
    border: @dot-border solid @dot-border-colour;

    &:not(:last-child) {
        margin-right: 1px;
    }

    &.in-lyric {
        width: @lyric-anchor-dot-diameter;
        height: @lyric-anchor-dot-diameter;
    }

    &.in-card {
        width: @annotation-dot-diameter;
        height: @annotation-dot-diameter;
    }
}

.live-manager.narrative .text-anchor-block .animated-background.narrative,
.live-manager.backstory .text-anchor-block .animated-background.backstory,
.live-manager.observation .text-anchor-block .animated-background.observation,
.live-manager.pun .text-anchor-block .animated-background.pun,
.live-manager.reference .text-anchor-block .animated-background.reference,
.live-manager.songwriting .text-anchor-block .animated-background.songwriting,
.live-manager.portal .text-anchor-block .animated-background.portal,
.live-manager.afterword .text-anchor-block .animated-background.afterword {
    border: @dot-border solid @lyric-underline-enabled-colour;
}

.live-manager.narrative .text-anchor-block:hover .animated-background.narrative,
.live-manager.backstory .text-anchor-block:hover .animated-background.backstory,
.live-manager.observation .text-anchor-block:hover .animated-background.observation,
.live-manager.pun .text-anchor-block:hover .animated-background.pun,
.live-manager.reference .text-anchor-block:hover .animated-background.reference,
.live-manager.songwriting .text-anchor-block:hover .animated-background.songwriting,
.live-manager.portal .text-anchor-block:hover .animated-background.portal,
.live-manager.afterword .text-anchor-block:hover .animated-background.afterword {
    animation: bounceHover @animation-slow;
}

.live-manager.narrative .text-anchor-block:active .animated-background.narrative,
.live-manager.backstory .text-anchor-block:active .animated-background.backstory,
.live-manager.observation .text-anchor-block:active .animated-background.observation,
.live-manager.pun .text-anchor-block:active .animated-background.pun,
.live-manager.reference .text-anchor-block:active .animated-background.reference,
.live-manager.songwriting .text-anchor-block:active .animated-background.songwriting,
.live-manager.portal .text-anchor-block:active .animated-background.portal,
.live-manager.afterword .text-anchor-block:active .animated-background.afterword {
    transform: scale(0.75);
}

/***************
 * DOT ANCHORS *
 ***************/

// This is the one source of truth for how dot anchors are ordered!
.live-manager.portal .dot-anchor:not(.selected) .animated-background.portal {
    background-color: @portal-dot-colour;
}
.live-manager.observation .dot-anchor:not(.selected) .animated-background.observation {
    background-color: @observation-dot-colour;
}
.live-manager.backstory .dot-anchor:not(.selected) .animated-background.backstory {
    background-color: @backstory-dot-colour;
}
.live-manager.reference .dot-anchor:not(.selected) .animated-background.reference {
    background-color: @reference-dot-colour;
}
.live-manager.pun .dot-anchor:not(.selected) .animated-background.pun {
    background-color: @pun-dot-colour;
}
.live-manager.narrative .dot-anchor:not(.selected) .animated-background.narrative {
    background-color: @narrative-dot-colour;
}
.live-manager.songwriting .dot-anchor:not(.selected) .animated-background.songwriting {
    background-color: @songwriting-dot-colour;
}
.live-manager.afterword .dot-anchor:not(.selected) .animated-background.afterword {
    background-color: @afterword-dot-colour;
}

/*****************
 * ANCHOR BLOCKS *
 *****************/

.live-manager.narrative .anchor-block.narrative,
.live-manager.backstory .anchor-block.backstory,
.live-manager.observation .anchor-block.observation,
.live-manager.pun .anchor-block.pun,
.live-manager.reference .anchor-block.reference,
.live-manager.songwriting .anchor-block.songwriting,
.live-manager.portal .anchor-block.portal,
.live-manager.afterword .anchor-block.afterword,

.anchor-block.in-dots-section {

    // Default colour.
    .underline-bar {
        background-color: @lyric-underline-disabled-colour;
    }

    &.anchor-block:not(.selected) {
        cursor: pointer;

        .text-span {
            color: @lyric-link-colour;
        }

        &:hover {
            .text-span {
                color: @lyric-hover-colour;
            }

            .underline-bar {
                animation: bounceHover @animation-default;
            }
        }

        &:active {
            .text-span {
                color: @lyric-active-colour;
            }

            .underline-bar {
                transform: scale(0.9);
            }
        }

        .underline-bar {
            background-color: @lyric-underline-enabled-colour;
        }
    }

    &.selected {
        .text-span {
            color: @selected-annotation-text-colour;
        }

        .underline-bar {
            background-color: @selected-annotation-underline-colour;
        }

        .animated-background {
            border: @dot-border solid @selected-annotation-underline-colour;
            background-color: @deselected-dot-colour;
        }
    }
}
