/***************
 * DOT STANZAS *
 ***************/

.RootManager.narrative .dot-stanza.narrative,
.RootManager.backstory .dot-stanza.backstory,
.RootManager.observation .dot-stanza.observation,
.RootManager.pun .dot-stanza.pun,
.RootManager.reference .dot-stanza.reference,
.RootManager.songwriting .dot-stanza.songwriting,
.RootManager.portal .dot-stanza.portal,
.RootManager.afterword .dot-stanza.afterword {

    max-width: 720px;
    margin-top: @margin__lyricUnit;

    .Button {
        width: @js__length__icon;
        height: @js__length__icon;
    }

    &:not(:first-child) {
        margin-left: @stanza-block-margin;
    }
}

/***************
 * DOT ANCHORS *
 ***************/

// This is the one source of truth for how dot anchors are ordered!
.RootManager.dm__sliderNotMoving.portal .DotAnchor:not(.selected) .icon-canvas.portal {
    background-color: @colour__dot__portal;
}
.RootManager.dm__sliderNotMoving.observation .DotAnchor:not(.selected) .icon-canvas.observation {
    background-color: @colour__dot__observation;
}
.RootManager.dm__sliderNotMoving.backstory .DotAnchor:not(.selected) .icon-canvas.backstory {
    background-color: @colour__dot__backstory;
}
.RootManager.dm__sliderNotMoving.reference .DotAnchor:not(.selected) .icon-canvas.reference {
    background-color: @colour__dot__reference;
}
.RootManager.dm__sliderNotMoving.pun .DotAnchor:not(.selected) .icon-canvas.pun {
    background-color: @colour__dot__pun;
}
.RootManager.dm__sliderNotMoving.narrative .DotAnchor:not(.selected) .icon-canvas.narrative {
    background-color: @colour__dot__narrative;
}
.RootManager.dm__sliderNotMoving.songwriting .DotAnchor:not(.selected) .icon-canvas.songwriting {
    background-color: @colour__dot__songwriting;
}
.RootManager.dm__sliderNotMoving.afterword .DotAnchor:not(.selected) .icon-canvas.afterword {
    background-color: @colour__dot__afterword;
}

/*****************
 * ANCHOR BLOCKS *
 *****************/

.RootManager.dm__sliderNotMoving.narrative .anchor-block.narrative,
.RootManager.dm__sliderNotMoving.backstory .anchor-block.backstory,
.RootManager.dm__sliderNotMoving.observation .anchor-block.observation,
.RootManager.dm__sliderNotMoving.pun .anchor-block.pun,
.RootManager.dm__sliderNotMoving.reference .anchor-block.reference,
.RootManager.dm__sliderNotMoving.songwriting .anchor-block.songwriting,
.RootManager.dm__sliderNotMoving.portal .anchor-block.portal,
.RootManager.dm__sliderNotMoving.afterword .anchor-block.afterword,

.anchor-block.in-Dots {

    // Default colour.
    .underlineBar {
        background-color: @lyric-underline-disabled-colour;
    }

    &.anchor-block:not(.selected) {
        cursor: pointer;

        .TextSpan {
            color: @lyric-link-colour;
        }

        &:hover {
            .TextSpan {
                color: @lyric-hover-colour;
            }

            .underlineBar {
                animation: bounceHover @animationDuration__default;
            }
        }

        &:active {
            .TextSpan {
                color: @lyric-active-colour;
            }

            .underlineBar {
                transform: scale(0.9);
            }
        }

        .underlineBar {
            background-color: @lyric-underline-enabled-colour;
        }
    }

    &.selected {
        .TextSpan {
            color: @selected-annotation-text-colour;
        }

        .underlineBar {
            background-color: @selected-annotation-underline-colour;
        }

        .icon-canvas {
            border: @dot-border solid @selected-annotation-underline-colour;
            background-color: @colour__dot__deselected;
        }
    }
}
