/***************
 * DOT STANZAS *
 ***************/

.DomManager.narrative .dot-stanza.narrative,
.DomManager.backstory .dot-stanza.backstory,
.DomManager.observation .dot-stanza.observation,
.DomManager.pun .dot-stanza.pun,
.DomManager.reference .dot-stanza.reference,
.DomManager.songwriting .dot-stanza.songwriting,
.DomManager.portal .dot-stanza.portal,
.DomManager.afterword .dot-stanza.afterword {

    max-width: 720px;
    margin-top: @LyricUnit-margin;

    .Button {
        width: @app-icon-diameter;
        height: @app-icon-diameter;
    }

    &:not(:first-child) {
        margin-left: @stanza-block-margin;
    }
}

/***************
 * DOT ANCHORS *
 ***************/

// This is the one source of truth for how dot anchors are ordered!
.DomManager.slider-not-moving.portal .DotAnchor:not(.selected) .icon-canvas.portal {
    background-color: @portal-dot-colour;
}
.DomManager.slider-not-moving.observation .DotAnchor:not(.selected) .icon-canvas.observation {
    background-color: @observation-dot-colour;
}
.DomManager.slider-not-moving.backstory .DotAnchor:not(.selected) .icon-canvas.backstory {
    background-color: @backstory-dot-colour;
}
.DomManager.slider-not-moving.reference .DotAnchor:not(.selected) .icon-canvas.reference {
    background-color: @reference-dot-colour;
}
.DomManager.slider-not-moving.pun .DotAnchor:not(.selected) .icon-canvas.pun {
    background-color: @pun-dot-colour;
}
.DomManager.slider-not-moving.narrative .DotAnchor:not(.selected) .icon-canvas.narrative {
    background-color: @narrative-dot-colour;
}
.DomManager.slider-not-moving.songwriting .DotAnchor:not(.selected) .icon-canvas.songwriting {
    background-color: @songwriting-dot-colour;
}
.DomManager.slider-not-moving.afterword .DotAnchor:not(.selected) .icon-canvas.afterword {
    background-color: @afterword-dot-colour;
}

/*****************
 * ANCHOR BLOCKS *
 *****************/

.DomManager.slider-not-moving.narrative .anchor-block.narrative,
.DomManager.slider-not-moving.backstory .anchor-block.backstory,
.DomManager.slider-not-moving.observation .anchor-block.observation,
.DomManager.slider-not-moving.pun .anchor-block.pun,
.DomManager.slider-not-moving.reference .anchor-block.reference,
.DomManager.slider-not-moving.songwriting .anchor-block.songwriting,
.DomManager.slider-not-moving.portal .anchor-block.portal,
.DomManager.slider-not-moving.afterword .anchor-block.afterword,

.anchor-block.in-Dots {

    // Default colour.
    .underline-bar {
        background-color: @lyric-underline-disabled-colour;
    }

    &.anchor-block:not(.selected) {
        cursor: pointer;

        .TextSpan {
            color: @lyric-link-colour;
        }

        &:hover {
            .TextSpan {
                color: @lyric-hover-colour;
            }

            .underline-bar {
                animation: bounceHover @animation-default;
            }
        }

        &:active {
            .TextSpan {
                color: @lyric-active-colour;
            }

            .underline-bar {
                transform: scale(0.9);
            }
        }

        .underline-bar {
            background-color: @lyric-underline-enabled-colour;
        }
    }

    &.selected {
        .TextSpan {
            color: @selected-annotation-text-colour;
        }

        .underline-bar {
            background-color: @selected-annotation-underline-colour;
        }

        .icon-canvas {
            border: @dot-border solid @selected-annotation-underline-colour;
            background-color: @deselected-dot-colour;
        }
    }
}
