/********
 * TEXT *
 ********/

@font-face {
    font-family: PTSansNarrow;
    src: url('../../assets/fonts/pt_sans/PTN57F.ttf') format('truetype');
}

@font-face {
    font-family: PTSansNarrow;
    src: url('../../assets/fonts/pt_sans/PTN77F.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: PTSansNarrow;
    src: url('../../assets/fonts/pt_sans/PTS56F.ttf') format('truetype');
    font-style: italic;
}

h1 {
    font-size: 1.6em;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

/**************
 * BOX-SIZING *
 **************/

.field, .section, .popup-content-wrapper {
    box-sizing: border-box;
}

/***************
 * FLEX CENTER *
 ***************/

.annotation-title-block, .icon-canvas, .dot, .VerseBar-block, .VerseBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enabled {
    cursor: pointer;
}