/**************
 * BOX-SIZING *
 **************/

.field, .section, .popup-content-wrapper {
    box-sizing: border-box;
}

/***************
 * FLEX CENTER *
 ***************/

.button-icon, .dot, .verse-bar-block, .verse-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

/***********
 * BUTTONS *
 ***********/

.button-icon {
    width: @app-icon-diameter;
    height: @app-icon-diameter;
    border-radius: 50%;
}

.button-icon.large, .popup-button {
    width: @app-large-icon-diameter;
    height: @app-large-icon-diameter;
}

.tablet-width {
    .button-icon.large, .popup-button {
        width: @app-tablet-large-icon-diameter;
        height: @app-tablet-large-icon-diameter;
    }
}

.mini-width {
    .button-icon.large, .popup-button {
        width: @app-mini-large-icon-diameter;
        height: @app-mini-large-icon-diameter;
    }
}

.phone-width {
    .button-icon.large, .popup-button {
        width: @app-icon-diameter;
        height: @app-icon-diameter;
    }
}

.enabled {
    cursor: pointer;
}

.disabled {
    a {
        color: @disabled-link-colour;
    }
}
