.progress-bar-mixin(@progress-bar-colour, @filled-bar-colour) {
    .progress-bar {
        background-color: @progress-bar-colour;

        .filled-bar {
            background-color: @filled-bar-colour;
        }
    }
}

// Text shadow.
@textShadow__offset: 1px;
@textShadow__blur: 0.75px;

.mixin__textShadow(@colour) {

    &.textShadow__background {
        background-color: @colour;
    }

    .textShadow__text {
        text-shadow:
        -@textShadow__offset -@textShadow__offset @textShadow__blur @colour,
        @textShadow__offset -@textShadow__offset @textShadow__blur @colour,
        -@textShadow__offset @textShadow__offset @textShadow__blur @colour,
        @textShadow__offset @textShadow__offset @textShadow__blur @colour;
    }
}
