.mixin__progressBar(@colour__progressBar, @colour__progressBar__filled) {
    .ProgressBar {
        background-color: @colour__progressBar;

        .ProgressBar__filled {
            background-color: @colour__progressBar__filled;
        }
    }
}

// Text shadow.
@textShadow__offset: 1px;
@textShadow__blur: 0.75px;

.mixin__textShadow(@colour) {

    &.textShadow__background {
        background-color: @colour;
    }

    .textShadow__text {
        text-shadow:
        -@textShadow__offset -@textShadow__offset @textShadow__blur @colour,
        @textShadow__offset -@textShadow__offset @textShadow__blur @colour,
        -@textShadow__offset @textShadow__offset @textShadow__blur @colour,
        @textShadow__offset @textShadow__offset @textShadow__blur @colour;
    }
}
