.animation-mixin(@property: opacity,
                 @shown-value: 1,
                 @hidden-value: 0,
                 @duration: 0.2s,
                 @timing: ease) {

    .transition(@property @duration @timing);

    &[class*="animation-enter"] {
        @{property}: @hidden-value;

        &[class*="animation-enter-active"] {
            @{property}: @shown-value;
        }
    }

    &[class*="animation-leave"] {
        @{property}: @shown-value;

        &[class*="animation-leave-active"] {
            @{property}: @hidden-value;
        }
    }
}

.dot-diameter-mixin(@dot-diameter: @default-dot-diameter) {
    .dot {
        width: @dot-diameter;
        height: @dot-diameter;
        border: (@dot-diameter * 0.1) solid #aaa;

        &:not(:last-child) {
            margin-right: @dot-diameter * 0.1;
        }
    }
}

.progress-bar-mixin(@progress-bar-colour, @filled-bar-colour) {
    .progress-bar {
        background-color: @progress-bar-colour;

        .filled-bar {
            background-color: @filled-bar-colour;
        }
    }
}
