h1 {
    font-size: 1.6em;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

a.enabled:not(.portal-block) {
    .transition(color 0.1s ease);

    color: @lyric-link-colour;

    &:hover {
        color: @lyric-hover-colour;
    }

    &:active {
        color: @lyric-active-colour;
    }
}
