.anchor-block {
    position: relative;

    /**
     * Stupid hack to keep dots block and underline bar aligned in right column
     * when anchor breaks onto new line.
     */
    &:before {
        content: 'a';
        opacity: 0;
        font-size: 0;
        line-height: 0;
    }

    .dot-block {
        @dot-radius: 0.9em;
        .dot-diameter-mixin(@dot-radius);

        position: absolute;
        left: -@dot-radius * 0.2;
        top: -@dot-radius * 0.2;
    }

    &.access-outlined {
        background-color: violet;
    }

    // For dev purposes.
    // &.todo {
    //     color: #c00;
    //
    //     &:hover {
    //         color: #d33;
    //     }
    //
    //     &:active {
    //         color: #f66;
    //     }
    //
    //     // Make underline red.
    //     .underline-bar {
    //             background-color: mix(red, white, 50%);
    //     }
    // }
}

.text-span {
    position: relative;
    .transition(~"color 0.2s ease");

    color: #444;
}

// Invert colours.

// TODO: Make all these colours better.
.after-slider, .is-verse-interactivated .not-interactivated:not(.selected) {
    .text-span {
        color: #bbb;
    }

    a.enabled {
        .transition(~"color 0.2s ease, text-shadow 0.2s ease");

        .text-span {
            color: @lyric-link-colour;
        }

        &:hover {
            .text-span {
                color: @lyric-hover-colour;
            }
        }

        &:active {
            .text-span {
                color: @lyric-active-colour;
            }
        }
    }

    .anchor-block {

        &.show-as-anchor {

            .underline-bar {
                background-color: mix(gray, white, 15%);
            }

            &.enabled {
                .underline-bar {
                    background-color: mix(@lyric-link-colour, white, 25%);
                }
            }
        }
    }

    .dot {
        border: @dot-border solid #555;
    }
}

// Allow text to be selected only when slider is not being used.
.slider-not-moving {
    .text-span {
        .user-select;
    }
}

.annotation-section, .lyrics-section {

    // Text span and portals block should be in front of dots block.
    .text-span, .portals-block {
        z-index: @text-span-z-index;
    }
}

.verse-bar {
    .text-span {
        z-index: @verse-bar-text-z-index;
    }
}
