.anchor-block {
    position: relative;

    /**
     * Stupid hack to keep dots block and underline bar aligned in right column
     * when anchor breaks onto new line.
     */
    &:before {
        content: 'a';
        opacity: 0;
        font-size: 0;
        line-height: 0;
    }

    .dots-block {
        @dot-radius: 0.9em;
        .dot-diameter-mixin(@dot-radius);

        position: absolute;
        left: -@dot-radius * 0.2;
        top: -@dot-radius * 0.2;
    }

    // For dev purposes.
    // &.todo {
    //     color: #c00;
    //
    //     &:hover {
    //         color: #d33;
    //     }
    //
    //     &:active {
    //         color: #f66;
    //     }
    //
    //     // Make underline red.
    //     .underline-bar {
    //             background-color: mix(red, white, 50%);
    //     }
    // }
}

.text-span {
    position: relative;
    transition: color 0.2s;

    color: @lyric-text-colour;
}

// Underline anchor tag.
.underline-bar {
    transition: background-color 0.15s;

    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    left: 0;
}

.anchor-block, .portal-anchor, .dot-key {
    white-space: nowrap;

    &.anchor-block:not(.show-as-text) {
        .underline-bar {
            background-color: @lyric-underline-disabled-colour;
        }

        &.enabled {
            .underline-bar {
                background-color: @lyric-underline-enabled-colour;
            }
        }
    }

    &.portal-anchor {
        .underline-bar {
            background-color: @portal-text-colour;
        }
    }
}

// Invert colours.
.after-slider, .is-verse-interactivated .not-interactivated:not(.selected) {

    .dot:not(.button) {
        border: @dot-border solid @dot-border-invert-colour;
    }

    .text-span {
        color: @lyric-text-invert-colour;
    }

    .anchor-block {

        &.enabled {

            .text-span {
                color: @lyric-link-invert-colour;
            }

            &:hover {
                .text-span {
                    color: @lyric-hover-invert-colour;
                }
            }

            &:active {
                .text-span {
                    color: @lyric-active-invert-colour;
                }
            }
        }

        &.show-as-anchor {

            .underline-bar {
                background-color: @lyric-underline-disabled-invert-colour;
            }

            &.enabled {
                .underline-bar {
                    background-color: @lyric-underline-enabled-invert-colour;
                }
            }
        }
    }
}

// Allow text to be selected only when slider is not being used.
.slider-not-moving {
    .text-span {
        user-select: auto;
    }
}

.annotation-section, .lyrics-section {

    // Text span and portals block should be in front of dots block.
    .text-span, .portals-block {
        z-index: @text-span-z-index;
    }
}

.verse-bar {
    .text-span {
        z-index: @verse-bar-text-z-index;
    }
}
