.anchor-block {
    position: relative;

    /**
     * Stupid hack to keep dots block and underline bar aligned in right column
     * when anchor breaks onto new line.
     */
    &:before {
        content: 'a';
        opacity: 0;
        font-size: 0;
        line-height: 0;
    }

    .dots-block {
        @dot-radius: 0.9em;
        .dot-diameter-mixin(@dot-radius);

        position: absolute;
        left: -@dot-radius * 0.2;
        top: -@dot-radius * 0.2;
    }

    // Anchor text is always in front of its dots.
    .text-span {
        position: relative;
    }

    // For dev purposes.
    &.todo {
        color: #c00;

        &:hover {
            color: #d33;
        }

        &:active {
            color: #f66;
        }

        // Make underline red.
        .underline-bar {
                background-color: mix(red, white, 50%);
        }
    }
}

// Text followed by an anchor block will still be in front of dots.
.text-span {
    position: relative;
    z-index: @text-z-index;
}
