/********
 * TEXT *
 ********/

// Establish the definitive colours for each text element.

@verse-odd-before-background-default: #000;
@verse-even-before-background-default: #000;
@verse-side-before-background-default: #000;
@verse-selected-background-default: #000;
@verse-odd-after-background-default: #000;
@verse-even-after-background-default: #000;
@verse-side-after-background-default: #000;

@verse-text-odd-before-colour-default: #000;
@verse-text-even-before-colour-default: #000;
@verse-text-side-before-colour-default: #000;
@verse-text-selected-colour-default: #000;
@verse-text-odd-after-colour-default: #000;
@verse-text-even-after-colour-default: #000;
@verse-text-side-after-colour-default: #000;

@verse-text-anchor-odd-before-colour-default: #000;
@verse-text-anchor-even-before-colour-default: #000;
@verse-text-anchor-side-before-colour-default: #000;
@verse-text-anchor-selected-colour-default: #000;
@verse-text-anchor-odd-after-colour-default: #000;
@verse-text-anchor-even-after-colour-default: #000;
@verse-text-anchor-side-after-colour-default: #000;

@verse-text-anchor-hover-odd-before-colour-default: #000;
@verse-text-anchor-hover-even-before-colour-default: #000;
@verse-text-anchor-hover-side-before-colour-default: #000;
@verse-text-anchor-hover-selected-colour-default: #000;
@verse-text-anchor-hover-odd-after-colour-default: #000;
@verse-text-anchor-hover-even-after-colour-default: #000;
@verse-text-anchor-hover-side-after-colour-default: #000;

@verse-text-anchor-active-odd-before-colour-default: #000;
@verse-text-anchor-active-even-before-colour-default: #000;
@verse-text-anchor-active-side-before-colour-default: #000;
@verse-text-anchor-active-selected-colour-default: #000;
@verse-text-anchor-active-odd-after-colour-default: #000;
@verse-text-anchor-active-even-after-colour-default: #000;
@verse-text-anchor-active-side-after-colour-default: #000;

@verse-text-anchor-selected-odd-before-colour-default: #000;
@verse-text-anchor-selected-even-before-colour-default: #000;
@verse-text-anchor-selected-side-before-colour-default: #000;
@verse-text-anchor-selected-selected-colour-default: #000;
@verse-text-anchor-selected-odd-after-colour-default: #000;
@verse-text-anchor-selected-even-after-colour-default: #000;
@verse-text-anchor-selected-side-after-colour-default: #000;

@verse-text-anchor-accessed-odd-before-colour-default: #000;
@verse-text-anchor-accessed-even-before-colour-default: #000;
@verse-text-anchor-accessed-side-before-colour-default: #000;
@verse-text-anchor-accessed-selected-colour-default: #000;
@verse-text-anchor-accessed-odd-after-colour-default: #000;
@verse-text-anchor-accessed-even-after-colour-default: #000;
@verse-text-anchor-accessed-side-after-colour-default: #000;

// Lyric title.
// Underline bar.
// Dot border.
// Slider variants of background, text, underline bar, dot border.
// Annotation title.
// Annotation card text.
// Annotation anchor.
// Portal.

// Audio.
