.nestor#{$suffix} {
    .nestorShirt { fill: hsl(0, 2%, 54%); }
    .nestorJacketDark { fill: hsl(0, 2%, 21%); }
    .nestorJacket { fill: hsl(0, 1%, 30%); }
    .nestorJacketLight { fill: hsl(0, 1%, 35%); }
    .nestorPants { fill: hsl(102, 10%, 25%); }
    .nestorBoot { fill: hsl(240, 2%, 27%); }

    &.jogger {
        .sweatband { fill: hsl(191, 34%, 70%); }
        .shirt { fill: hsl(72, 29%, 72%); }
        .shorts { fill: hsl(207, 9%, 40%); }
        .shoe { fill: hsl(220, 27%, 59%); }
    }
}