.usher#{$suffix} {
    .usherShirt { fill: hsl(0, 23%, 50%); }
    .usherShirtInner { fill: hsl(0, 23%, 42%); }
    .usherLabelSide { fill: hsl(58, 21%, 49%); }
    .usherLabelFront { fill: hsl(57, 30%, 59%); }
    .usherWatchBand { fill: hsl(219, 28%, 44%); }
    .usherPants { fill: hsl(219, 8%, 34%); }
    .usherPantsButton { fill: hsl(220, 8%, 28%); }
    .usherShoe { fill: hsl(23, 11%, 33%); }
}
