.sketchbook#{$suffix} {
    .sketchPaperLight { fill: #e8e4d9; }
    .sketchPaperMedium { fill: #c9c7ad; }
    .sketchbookWire { fill: #686364; }
    .pencilBody { fill: #a5cc7b; }
    .pencilMetal { fill: #b1c4c0; }
}