.gladiatorPoster {
    .frame {
        fill: #afc6c6;
    }

    .mountain {
        fill: #72665e;
    }

    .steppe {
        fill: #8c786b;
    }

    .land {
        fill: #aaa88d;
    }

    .skin {
        fill: #ccc;
    }

    .skinOverlapLine {
        stroke: gray;
    }

    .hair {
        fill: #736357;
    }

    .boot {
        fill: #8e7a68;
    }

    .glove {
        fill: #56514c;
    }

    .skirt {
        fill: #605a57;
    }

    .skirtFoldLine {
        stroke: #534741;
    }

    .strap {
        fill: #434956;
    }

    .strapBorderLine {
        stroke: #333;
    }

    .pauldronStrap {
        fill: #3e6275;
    }

    .brass {
        fill: #c1c16f;
    }

    .shirt {
        fill: #605a55;
    }

    .belt {
        fill: #536596;
    }

    .sash {
        fill: #819cb5;
    }

    .pauldron {
        fill: #627d82;
    }

    .guard {
        fill: #9eb0b2;
    }

    .blade {
        fill: #aec1bc;
    }
}
