.LyricToggleExpand__inMain {
    position: absolute;
    bottom: $js__margin__thin;
    left: $js__margin__thin;

    z-index: $zIndex__mainShelf;

    opacity: 1;

    .DW__userAgentDesktop
    & {
        transition: opacity $animationDuration__default;
    }

    /**
     * TODO: Ideally, this would be a single selector for when the toggle is
     * shown.
     */
    .PlW__logue
    &,
    .ShW__overviewShown
    &,
    .ShW__dotsShown
    &,
    .ShW__overlayShown
    &,
    .ShW__tipsShown
    &,
    .ShW__annotationShown
    &,
    .ShW__lyricExpanded
    &,
    .TrW__cannotLyricCarouselEnter
    & {
        opacity: 0;
    }
}
