.LyricToggleExpand__inMain {
    position: absolute;
    bottom: $MARGIN_THIN;
    left: $MARGIN_THIN;

    z-index: $zIndex__mainShelf;

    opacity: 1;

    .DW__userAgentDesktop
    & {
        transition: opacity $transitionDuration__default;
    }

    /**
     * TODO: Ideally, this would be a single selector for when the toggle is
     * shown.
     */
    .PlW__logue
    &,
    .ShW__songOverviewShown
    &,
    .ShW__dotsShown
    &,
    .ShW__overlayShown
    &,
    .ShW__tipsShown:not(.ShW__tips__lyricExpand)
    &,
    .ShW__annotationShown
    &,
    .ShW__lyricExpanded
    &,
    .TrW__cannotLyricCarouselEnter
    & {
        opacity: 0;
    }
}

.LyricToggleExpand__inLyric {
    position: relative;
}
