.guitarCase#{$suffix} {
    .guitarLiningLight { fill: hsl(15, 24%, 39%); }
    .guitarLiningDark { fill: hsl(15, 24%, 32%); }
    .guitarCaseDark { fill: hsl(180, 7%, 33%); }
    .guitarLeatherDark { fill: hsl(198, 6%, 30%); }
    .guitarCaseLight { fill: hsl(180, 7%, 37%); }
    .guitarLeatherLight { fill: hsl(196, 6%, 35%); }
}

.darken__parent
.darken#{$suffix} {
    .guitarCaseLight { fill: hsl(180, 7%, 24%); }
    .guitarLeatherLight { fill: hsl(196, 6%, 22%); }
}