.ShelfLeft {
    transition:
        opacity $animationDuration__default,
        margin-left $animationDuration__default;

    padding-left: $js__margin__thin;

    opacity: 0;

    // This value only needs to be accurate for phone.
    margin-left: -$js__length__icon - $js__margin__thin;
}

.ShelfLeft__shown {
    opacity: 1;
    margin-left: 0;
}

.hidden__overviewStatus {

    .ShelfLeft
    & {
        transition: margin-left $animationDuration__default;

        /**
         * When overview is shown in song or hidden in logue, the overview
         * toggle should be the only left shelf child shown. So hide the rest.
         */
        .PlW__song
        .ShW__overviewShown
        &,
        .PlW__logue
        .ShW__overviewHidden
        & {
            margin-left: -$width__overviewToggle;
        }
    }
}

.flex__mainSideButtons {
    height: 100%;

    display: flex;
    flex-direction: column;

    z-index: $zIndex__mainShelf;
    & > * {
        z-index: $zIndex__centreFieldChild;
    }

    & > :not(:last-child) {
        margin-bottom: $js__margin__thick * 1.5;
    }

    .DW__desktopWidth.DW__cannotCarouselMount
    &,
    .DW__miniOrTabletWidth.DW__canCarouselMount
    & {
        flex-direction: column-reverse;

        & > :not(:last-child) {
            margin-top: $js__margin__thick;
            margin-bottom: 0;
        }
    }

    .DW__phoneWidth
    & {
        & > :not(:last-child) {
            margin-bottom: $js__margin__thin * 2;
        }
    }
}