.nav-button-wrapper {
    position: absolute;
    top: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-button-block, .icon-canvas-block {
    .column-hidden
    .nav-book.songs
    & {
        width: 0;
    }
}

.nav-button-block {
    .single-book-column
    & {
        transition: width @animation-default, margin @animation-default;
    }

    .static-nav-icon
    & {
        width: @app-icon-diameter;
    }

    .shrink-nav-icon
    .column-shown.column-0
    & {
        &:not(:last-child) {
            margin-right: 1px;
        }
    }

    .shrink-nav-icon
    .column-shown.column-1
    & {
        &:not(:last-child) {
            margin-left: 1px;
        }
    }
}

.nav-toggle-block {
    .shrink-nav-icon
    & {
        // Static margins after icons begin shrinking.
        margin-right: 3px;
    }
}