.nav-panel-block {
    position: absolute;
    left: 50%;

    /**
     * Arbitrary for now. However, make sure that it is never too wide that the
     * next to leftmost or rightmost goes outside the books block.
     */
    width: 100px;
    height: 100px;

    z-index: @nav-custom-subfield-z-index;
    
    border: 1px solid purple;
    
    display: flex;
    flex-direction: column;

    transform: translateX(-50%);

    opacity: 0;

    // FIXME: Make animation better.
    transition: opacity @animation-default;
}

.is-desktop {
    .nav-panel-block {
        bottom: 100%;
    }
    
    .nav-panel {
        margin-bottom: @app-thin-margin;        
    }
}
    
.is-mobile {
    .nav-panel-block {
        top: 100%;
    }
    
    .nav-panel {
        margin-top: @app-thin-margin;        
    }
}

// FIXME: Show only when is song, and only when nav is selected.
.accessed-on .access-highlighted, .nav-button:hover, .nav-button:active {
    .nav-panel-block {
        opacity: 1;
        z-index: @centre-field-element-z-index;
    }
}

// FIXME: Hide panel block so that it cannot be hovered upon when hidden.
.leftmost {
    .nav-panel-block {
        left: 0;
        transform: none;
    }
}

.rightmost {
    .nav-panel-block {
        left: auto;
        right: 0;
        transform: none;
    }
}

.nav-panel {
    white-space: nowrap;
}

.nav-panel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 100, 0.5);
}

.nav-panel-title {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
}