.nav-book {
    padding: 0 @nav-book-padding;

    &.nav-book {
        min-width: @app-icon-diameter;
        border-radius: @nav-border-radius @nav-border-radius 0 0;
        background-color: #48d;
    }
}

.column-hidden {

    &.column-0 {
        .nav-book.songs {
            left: 0;
        }
    }

    &.column-1 {
        .nav-book.logue {
            right: 0;
        }

        .nav-book.songs {
            right: 0;
        }
    }
}

.column-0 {
    .books-column {
        transition: left @animation-default;
    }

    .nav-book {
        &.songs {
            transition: left @animation-default;
        }
    }
}

.column-1 {
    right: 0;

    .books-column {
        right: 0;
        transition: right @animation-default;
    }

    .nav-book {
        &.logue {
            right: 0;
        }

        &.songs {
            transition: right @animation-default;
            flex-direction: row-reverse;
        }

        &.toggle {
            right: 0;
        }
    }
}
