.nav-toggle-block {
    position: relative;
    // overflow: hidden;

    .animated-background {
        background-color: #8dd;
    }
}

.centre-field > .nav-toggle-block {
    position: absolute;
    bottom: 0;
    z-index: @dots-overview-subfield-z-index;
    height: @dot-container-diameter;
}
