.nav-toggle-block {
    position: relative;
}

.tablet-width, .mini-width {
    &.shrink-nav-icon {
        .nav-toggle-block {
            margin-left: 3px;
            margin-right: 0;
        }
    }
}