/******************
 * MONITOR STYLES *
 ******************/

.nav-toggle-block {
    min-width: @nav-toggle-width;
}

.nav-toggle-book {
    min-width: @app-large-icon-diameter;
}

.nav-toggle-button-block {
    width: @app-large-icon-diameter;
}

.monitor-width {

    &.static-nav-icon {
        .double-book-column {
            .nav-toggle-block {
                margin-right: @monitor-large-unit;
            }

            .column-0 {
                .nav-book {
                    &.songs {
                        left: @monitor-book-offset;
                    }
                }

                .nav-button-block:not(:last-child) {
                    margin-right: @monitor-small-unit;
                }
            }

            .column-1 {
                .nav-book {
                    &.songs {
                        right: @monitor-book-offset;
                    }
                }

                .nav-button-block:not(:last-child) {
                    margin-left: @monitor-small-unit;
                }
            }
        }

        .single-book-column {
            .nav-toggle-block {
                margin-right: @monitor-single-large;
            }

            .column-shown {
                &.column-0 {
                    .nav-book {
                        &.songs {
                            left: @monitor-single-book-offset;
                        }
                    }

                    .nav-button-block:not(:last-child) {
                        margin-right: @monitor-single-small;
                    }
                }

                &.column-1 {
                    .nav-book {
                        &.songs {
                            right: @monitor-single-book-offset;
                        }
                    }

                    .nav-button-block:not(:last-child) {
                        margin-left: @monitor-single-small;
                    }
                }
            }
        }
    }

    &.shrink-nav-icon {
        .double-book-column {
            .nav-book {
                min-width: @monitor-shrink-icon;
            }

            .column-0 {
                .nav-book {
                    &.songs {
                        left: @monitor-shrink-book-offset;
                    }
                }
            }

            .column-1 {
                .nav-book {
                    &.songs {
                        right: @monitor-shrink-book-offset;
                    }
                }
            }

            .nav-button-block {
                width: @monitor-shrink-icon;
            }
            .nav-button-block .button {
                &, & .icon-canvas {
                    width: @monitor-shrink-icon;
                    height: @monitor-shrink-icon;
                }
            }
        }
    }
}

/*****************
 * LAPTOP STYLES *
 *****************/

.laptop-width {

    &.static-nav-icon {
        .single-book-column {
            .nav-toggle-block {
                margin-right: @laptop-large;
            }
            .column-shown {
                &.column-0 {
                    .nav-book {
                        &.songs {
                            left: @laptop-book-offset;
                        }
                    }

                    .nav-button-block:not(:last-child) {
                        margin-right: @laptop-small;
                    }
                }

                &.column-1 {
                    .nav-book {
                        &.songs {
                            right: @laptop-book-offset;
                        }
                    }

                    .nav-button-block:not(:last-child) {
                        margin-left: @laptop-small;
                    }
                }
            }
        }
    }

    &.shrink-nav-icon {
        .single-book-column {
            .nav-book {
                min-width: @laptop-shrink-icon;
            }

            .column-shown {
                &.column-0 {
                    .nav-book {
                        &.songs {
                            left: @laptop-shrink-book-offset;
                        }
                    }
                }

                &.column-1 {
                    .nav-book {
                        &.songs {
                            right: @laptop-shrink-book-offset;
                        }
                    }
                }
            }

            /**
             * Show song buttons in shown column, along with toggle button in
             * hidden column.
             */
            .column-shown, .column-hidden .nav-book.toggle {
                .nav-button-block {
                    width: @laptop-shrink-icon;
                }
            }

            .nav-button-block .button {
                &, & .icon-canvas {
                    width: @laptop-shrink-icon;
                    height: @laptop-shrink-icon;
                }
            }
        }
    }
}

/*****************
 * TABLET STYLES *
 *****************/

.tablet-width {

    .nav-toggle-block {
        min-width: @tablet-nav-toggle-width;
    }

    &.overlay-shown, &.is-song.lyric-expanded, &.is-song.carousel-expanded {
        .nav-toggle-book {
            left: @tablet-nav-toggle-width;
        }
    }

    .nav-toggle-book {
        min-width: @app-tablet-large-icon-diameter;
    }

    .nav-toggle-button-block {
        width: @app-tablet-large-icon-diameter;
    }

    &.static-nav-icon {
        .double-book-column {
            .nav-toggle-block {
                margin-left: @tablet-large-unit;
            }

            .column-0 {
                .nav-book {
                    &.songs {
                        left: @tablet-book-offset;
                    }
                }

                .nav-button-block:not(:last-child) {
                    margin-right: @tablet-small-unit;
                }
            }

            .column-1 {
                .nav-book {
                    &.songs {
                        right: @tablet-book-offset;
                    }
                }

                .nav-button-block:not(:last-child) {
                    margin-left: @tablet-small-unit;
                }
            }
        }

        .single-book-column {
            .nav-toggle-block {
                margin-left: @tablet-single-large;
            }

            .column-shown {
                &.column-0 {
                    .nav-book {
                        &.songs {
                            left: @tablet-single-book-offset;
                        }
                    }

                    .nav-button-block:not(:last-child) {
                        margin-right: @tablet-single-small;
                    }
                }

                &.column-1 {
                    .nav-book {
                        &.songs {
                            right: @tablet-single-book-offset;
                        }
                    }

                    .nav-button-block:not(:last-child) {
                        margin-left: @tablet-single-small;
                    }
                }
            }
        }
    }

    &.shrink-nav-icon {
        .double-book-column {
            .nav-book {
                min-width: @tablet-shrink-icon;
            }

            .column-0 {
                .nav-book {
                    &.songs {
                        left: @tablet-shrink-book-offset;
                    }
                }
            }

            .column-1 {
                .nav-book {
                    &.songs {
                        right: @tablet-shrink-book-offset;
                    }
                }
            }

            .nav-button-block {
                width: @tablet-shrink-icon;
            }

            .nav-button-block .button {
                &, & .icon-canvas {
                    width: @tablet-shrink-icon;
                    height: @tablet-shrink-icon;
                }
            }
        }
    }
}

/***************
 * MINI STYLES *
 ***************/

.mini-width {

    .nav-toggle-block {
        min-width: @mini-nav-toggle-width;
    }

    &.overlay-shown, &.is-song.lyric-expanded, &.is-song.carousel-expanded {
        .nav-toggle-book {
            left: @mini-nav-toggle-width;
        }
    }

    .nav-toggle-book {
        min-width: @app-mini-large-icon-diameter;
    }

    .nav-toggle-button-block {
        width: @app-mini-large-icon-diameter;
    }

    &.static-nav-icon {
        .single-book-column {
            .nav-toggle-block {
                margin-left: @mini-large;
            }

            .column-shown {
                &.column-0 {
                    .nav-book {
                        &.songs {
                            left: @mini-book-offset;
                        }
                    }

                    .nav-button-block:not(:last-child) {
                        margin-right: @mini-small;
                    }
                }

                &.column-1 {
                    .nav-book {
                        &.songs {
                            right: @mini-book-offset;
                        }
                    }

                    .nav-button-block:not(:last-child) {
                        margin-left: @mini-small;
                    }
                }
            }
        }
    }

    &.shrink-nav-icon {
        .single-book-column {
            .nav-book {
                min-width: @mini-shrink-icon;
            }

            .column-shown {
                &.column-0 {
                    .nav-book {
                        &.songs {
                            left: @mini-shrink-book-offset;
                        }
                    }
                }

                &.column-1 {
                    .nav-book {
                        &.songs {
                            right: @mini-shrink-book-offset;
                        }
                    }
                }
            }

            /**
             * Show song buttons in shown column, along with toggle button in
             * hidden column.
             */
            .column-shown, .column-hidden .nav-book.toggle {
                .nav-button-block {
                    width: @mini-shrink-icon;
                }
            }

            .nav-button-block .button {
                &, & .icon-canvas {
                    width: @mini-shrink-icon;
                    height: @mini-shrink-icon;
                }
            }
        }
    }
}
