.nav-button-block {
    position: relative;

    .icon-canvas {
        background-color: #dd8;
    }
}

.single-book-column {
    .nav-button-block {
        transition: width @animation-default, margin @animation-default;
    }

    .icon-canvas-block {
        transition: width @animation-default;
    }
}

.static-nav-icon {
    .nav-button-block {
        width: @app-icon-diameter;
    }
}

.column-hidden {
    .nav-book.songs {
        .nav-button-block {
            width: 0;
        }

        .icon-canvas-block {
            width: 0;
        }
    }
}

// Static margins after icons begin shrinking.
.shrink-nav-icon {
    .column-shown {
        &.column-0 {
            .nav-button-block {
                &:not(:last-child) {
                    margin-right: 1px;
                }
            }
        }

        &.column-1 {
            .nav-button-block {
                &:not(:last-child) {
                    margin-left: 1px;
                }
            }
        }
    }

    .nav-toggle-block {
        margin-right: 3px;
    }
}

.nav-button-wrapper {
    position: absolute;
    top: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-button {
    &.selected {
        .icon-canvas {
            background-color: orange;
        }
    }
}