.nav-custom-subfield {
    position: relative;
    width: 100%;
    height: @nav-height;
    z-index: @nav-custom-subfield-z-index;

    transition: top @animation-default;
}

.tablet-width {
    .nav-custom-subfield {
        height: @nav-tablet-height;
    }
}

.mini-width {
    .nav-custom-subfield {
        height: @nav-mini-height;
    }
}

.is-live-view {
    .nav-section {
        position: absolute;
        width: 100%;
        overflow: visible;
    }
}

// All containers.
.live-nav-block, .nav-book {
    display: flex;
}

.live-nav-block {
    height: 100%;
}

.books-block {
    position: relative;
    width: 100%;

    // TODO: Consider adjusting this animatable height for tablet and mini?
    height: @nav-height * 3; // Just an arbitrary value that's large enough.
}

.is-desktop {

    .books-block {
        bottom: @nav-height * 2;

        // Prevent lyric scrolling from pushing app offscreen.
        overflow: hidden;
    }
}

@nav-border-radius: @nav-height / 3;

.tablet-width, .mini-width {

    .books-block {
        top: 0;
    }

    .books-column-block {
        transition: top @animation-default;
        top: -@book-height;
    }

    .nav-book {
        border-radius: 0 0 @nav-border-radius @nav-border-radius;
    }
}