// Skews light.
.fiberDarkest { fill: hsl(59, 18%, 57%); }
.fiberDarker { fill: hsl(59, 18%, 62%); }
.fiberDark { fill: hsl(59, 18%, 67%); }
.fiberMediumDark { fill: hsl(59, 18%, 72%); }
.fiberMedium { fill: hsl(59, 18%, 77%); }
// .fiberMediumLight { fill: hsl(59, 18%, 82%); }
// .fiberLight { fill: hsl(59, 18%, 87%); }