@import '../../scss/constants/icon';
@import '../../scss/constants/pitch';
@import '../../scss/constants/popup';
@import '../../scss/constants/responsive';

.Pitch {
    position: relative;
    // width: calc(100% - #{$margin__thick * 2});
    width: 100%;
    height: calc(100% - #{$height__pitchNav});

    .PitchContainer
    & {
        // When in pitch container, width is the same as full popup.
        max-width: $WIDTH_LAPTOP;
        height: calc(100% - #{$height__pitchHeader + $height__pitchNav});
        
        // .DW__phoneOrMiniWidth
        // & {
        //     padding-left: $margin__thick;
        //     padding-right: $margin__thick;
        // }

        .DW__tabletOrDesktopWidth
        & {
            width: calc(
                100% -
                #{$LENGTH_ICON_LARGE * 2 + $PADDING_POPUP_CONTENT_WIDE * 2}
            );
        }
    }

}
