@import '../../scss/constants/pitch';

.Pitch {
    background-color: #fdd;
    width: 100%;
    height: calc(100% - #{$height__pitchNav});

    .PitchContainer
    & {
        height: calc(100% - #{$height__pitchHeader + $height__pitchNav});
    }
}
