@import '../../scss/constants/icon';
@import '../../scss/constants/marketing';
@import '../../scss/constants/popup';

.Pitch {
    position: relative;
    width: 100%;
    height: calc(100% - #{$height__marketingNav});

    font-size: 0.9em;

    .MarketingContainer
    & {
        max-width: $width__marketingContainer;
        height: calc(100% - #{$height__marketingHeader + $height__marketingNav});

        .DW__tabletOrDesktopWidth
        & {
            width: calc(
                100% -
                #{$LENGTH_ICON_LARGE * 2 + $PADDING_POPUP_CONTENT_WIDE * 2}
            );
        }
    }

}
