.heineken#{$suffix} {
    .bottleSide { fill: rgba(75, 150, 100, 0.5); }
    .bottleBottom { fill: rgba(25, 100, 50, 0.25); }
    .beerSide { fill: rgba(150, 125, 50, 0.5); }
    .beerTop { fill: rgba(175, 150, 75, 0.5); }
    .labelMain { fill: #6ba66b; }
    .labelSecondary { fill: #97bf8a; }
    .labelReverse { fill: #65805c; }
}