.heineken#{$suffix} {
    .labelReverse { fill: #65805c; }
    .bottleSide { fill: rgba(75, 150, 100, 0.5); }
    .bottleBottom { fill: rgba(25, 100, 50, 0.25); }
    .beerSide { fill: rgba(150, 125, 50, 0.5); }
    .beerTop { fill: rgba(175, 150, 75, 0.5); }
    .labelDark { fill: #97bf8a; }
    .labelLight { fill: #6ba66b; }
}