@import '../constants/hue';
@import '../constants/icon';
@import '../constants/menu';
@import '../constants/nav';
@import '../constants/popup';
@import '../constants/responsive';
@import '../constants/slider';

// Sass constants are uppercase when exported to JavaScript.
:export {
    COUNT_GAPS_SINGLE: $COUNT_GAPS_SINGLE;
    COUNT_GAPS_DOUBLE: $COUNT_GAPS_DOUBLE;
    HEIGHT_MENU: $HEIGHT_MENU;
    HEIGHT_NAV: $HEIGHT_NAV;
    LENGTH_ICON: $LENGTH_ICON;
    LENGTH_ICON_LARGE: $LENGTH_ICON_LARGE;
    LENGTH_ICON_LARGE_TABLET: $LENGTH_ICON_LARGE_TABLET;
    LENGTH_ICON_LARGE_MINI: $LENGTH_ICON_LARGE_MINI;
    MARGIN_THIN: $MARGIN_THIN;
    OVERLAP_MARGIN_X_SLIDER: $OVERLAP_MARGIN_X_SLIDER;
    PADDING_POPUP_CONTENT_WIDE: $PADDING_POPUP_CONTENT_WIDE;

    WIDTH_MENU_BREAKPOINT: $WIDTH_MENU_BREAKPOINT;
    WIDTH_LAPTOP: $WIDTH_LAPTOP;
    WIDTH_GOLDEN_CORD: $WIDTH_GOLDEN_CORD;
    WIDTH_UNCANNY_VALLEY: $WIDTH_UNCANNY_VALLEY;

    HUE_APARTMENT: $HUE_APARTMENT;
    HUE_BENNETT_LINENS: $HUE_BENNETT_LINENS;
    HUE_BENNETT_ROOM: $HUE_BENNETT_ROOM;
    HUE_FAMILY: $HUE_FAMILY;
    HUE_LIZ_LINENS: $HUE_LIZ_LINENS;
    HUE_LIZ_ROOM: $HUE_LIZ_ROOM;
    HUE_MIRIAM_LINENS: $HUE_MIRIAM_LINENS;
    HUE_WAITING: $HUE_WAITING;

    HUE_OCEAN: $HUE_OCEAN;
    HUE_ROOF: $HUE_ROOF;
    HUE_SAND: $HUE_SAND;
    HUE_SNOW: $HUE_SNOW;
    HUE_SNOWGLOBE: $HUE_SNOWGLOBE;
    HUE_TENNIS: $HUE_TENNIS;
}