.bennett#{$suffix} {
    .eyepatch { fill: hsl(18, 61%, 80%); }
    .eyepatchGauze { fill: hsl(12, 39%, 85%); }
    .bennettJacketInner { fill: hsl(224, 12%, 31%); }
    .bennettJacketCollar { fill: hsl(226, 12%, 34%); }
    .bennettJacket { fill: hsl(228, 10%, 38%); }
    .bennettUndershirtInner { fill: hsl(347, 42%, 59%); }
    .bennettUndershirt { fill: hsl(357, 57%, 66%); }
    .bennettHoodieInner { fill: hsl(357, 39%, 52%); }
    .bennettHoodie { fill: hsl(359, 37%, 54%); }
    .bennettHood { fill: hsl(358, 36%, 63%); }
    .bennettSleeves { fill: hsl(359, 41%, 54%); }
    .bennettUnderwearInner { fill: hsl(214, 28%, 53%); }
    .bennettUnderwear { fill: hsl(214, 39%, 61%); }
    .bennettWaistband { fill: hsl(215, 47%, 72%); }
    .bennettJeansInner { fill: hsl(216, 21%, 44%); }
    .bennettJeans { fill: hsl(216, 21%, 49%); }
    .bennettSoleBottom { fill: hsl(32, 15%, 53%); }
    .bennettShoe { fill: hsl(32, 11%, 41%); }
    .bennettShoeLining { fill: hsl(32, 7%, 57%); }
    .converseLogo { fill: hsl(3, 37%, 60%); }

    .pastBennettSleeves { fill: hsl($HUE_PAST, 37%, 52%); }
    .pastBennettJeans { fill: hsl($HUE_PAST, 27%, 47%); }
    .pastBennettShoe { fill: hsl($HUE_PAST, 20%, 41%); }
    .pastConverseLogo { fill: hsl($HUE_PAST, 37%, 60%); }

    .darken__parent
    &.darken#{$suffix} {
        .pastBennettJeans { fill: hsl($HUE_PAST, 13%, 27%); }
        .pastBennettShoe { fill: hsl($HUE_PAST, 12%, 23%); }
        .pastConverseLogo { fill: hsl($HUE_PAST, 17%, 33%); }
    }

    .futureBennettJacket { fill: hsl($HUE_FUTURE, 10%, 38%); }
    .futureBennettSleeves { fill: hsl($HUE_FUTURE, 37%, 52%); }
    .futureBennettUnderwear { fill: hsl($HUE_FUTURE, 39%, 61%); }
    .futureBennettWaistband { fill: hsl($HUE_FUTURE, 47%, 72%); }
    .futureBennettJeans { fill: hsl($HUE_FUTURE, 27%, 47%); }
    .futureBennettShoe { fill: hsl($HUE_FUTURE, 11%, 41%); }

    &.enraged {
        .frame { fill: hsl(175, 33%, 47%); }
        .temple { fill: hsl(175, 40%, 55%); }
        .lens { fill: hsl(70, 32%, 50%); }
    }

    &.panicked {
        .bookCover { fill: hsl(201, 31%, 58%); }
    }

    &.flustered {
        .overallsFlap { fill: hsl(350, 27%, 59%); }
        .overalls { fill: hsl(350, 36%, 67%); }
    }

    &.singing {
        .cowboyHat { fill: hsl(25, 31%, 45%); }
        .cowboyHatBrim { fill: hsl(25, 31%, 39%); }
    }

    &.youngChild {
        .backpack { fill: hsl(231, 38%, 60%); }
        .backpackStrap { fill: hsl(230, 27%, 65%); }
        .hoodieInner { fill: hsl(207, 46%, 61%); }
        .hoodie { fill: hsl(207, 57%, 66%); }
        .shorts { fill: hsl(6, 39%, 61%); }
        .shoe { fill: hsl(38, 16%, 56%); }
    }

    &.feigningSick {
        .stamp { fill: hsl(204, 100%, 75%); }
    }

    &.couchReading {
        .bookCoverDark { fill: hsl(114, 24%, 52%); }
        .bookCoverMedium { fill: hsl(114, 31%, 58%); }
        .bookCoverLight { fill: hsl(113, 38%, 63%); }
    }

    &.steamTunnel {
        .yardstickDark { fill: hsl(54, 21%, 54%); }
        .yardstickLight { fill: hsl(54, 40%, 69%); }
        .yardstickEdgeDark { fill: hsl(180, 9%, 55%); }
        .yardstickEdgeLight { fill: hsl(178, 13%, 62%); }
    }

    &.brokenHearted {
        .phoneDark { fill: hsl(240, 33%, 65%); }
        .phoneMedium { fill: hsl(240, 33%, 71%); }
        .phoneLight { fill: hsl(240, 33%, 76%); }
    }

    &.pampas {
        .sash { fill: hsl(2, 59%, 65%); }
        .bennettKurta { fill: hsl(214, 45%, 60%); }
        .garland { fill: hsl(79, 14%, 77%); }
        .garlandFlower { fill: hsl(15, 52%, 69%); }
    }
}