.scores-tips-section, .tips-section {
    .button {
        &.enabled {
            .icon-canvas {
                background-color: #dbb;
            }
        }
    }
}

.tips-image {
    // TODO: Improve these styles, obviously.
    width: 100%;
    height: 150px;
    margin-top: 10px;
    background-color: #b6b;
}
