.Anchor {
    pointer-events: none;
}

.Anchor,
.AnchorText,
.AnchorDot {
    // Keep underline below.
    position: relative;
}

.Anchor__shown {

    .TW__hidePastFutureLyrics
    &.Anchor__selectableNotLyric,

    .TW__isStationary.TW__hidePastFutureLyrics
    &.Anchor__selectableLyric,

    &.Anchor__alwaysPointer {
        cursor: pointer;
        pointer-events: all;
    }
}

.Anchor__noWrap {
    white-space: nowrap;
}
