.Anchor {
    cursor: pointer,
}

.Anchor,
.AnchorText,
.AnchorDot {
    // Keep underline below.
    position: relative;
}

.Anchor__isPlainText,

.TW__showPastFutureLyrics
.Anchor__animatable {
    cursor: default;
    pointer-events: none;
}

.Anchor__noWrap {
    white-space: nowrap;
}
