// Default styling. Kept in this stylesheet for consistency.
.VerseColour {
    // Styling for verse colours before cursored verse.

    .RM__sliderNotMoving
    & {
        background-color: $bgColour__beforeSelected;
    }
}

@for $verseIndex from 0 through $verseMax {

    // "Root default verse index, child verse index."
    .RdV#{$verseIndex} .ChV#{$verseIndex} {
        // Styling for cursored verse.

        // "Child in lyric."
        &.ChL {
            z-index: $zIndex__lyricChild__topMost;

            @include mixin__textAndLinkColours($light: true, $important: true);
            @include mixin__underlineColours($light: true, $important: true);
        }

        // "Grandchild verse colour."
        .GcV {
            // Use !important to override hover highlight.
            background-color: $bgColour__audioPause !important;
        }

        ~ .ChV {
            // Grandchildren of all subsequent "child verse" siblings.
            .GcV {
                background-color: $bgColour__afterSelected;
            }
        }
    }

    // "Root default verse index, parent of verse index."
    .RdV#{$verseIndex} .PoV#{$verseIndex} {
        /**
        * Styling for verse colours in some parent of verse. In this case, the
        * parent is a unit or unit card, as are its siblings.
        */

        // Grandchildren of all subsequent "parent of verse" siblings.
        ~ .PoV .GcV {
            background-color: $bgColour__afterSelected;
        }
    }
}
