// Default styling. Kept in this stylesheet for consistency.
.VerseColour {
    .TW__lyricsUnlocked.TW__verseActive
    &.VerseColour__activated {

        // Override even verse.
        &, &.GcE {
            background-color: $colour__access__light;
        }
    }

    // Extra selector to override even verse, but not selected verse.
    .DeviceWrapper
    .TW__verseCanHover
    .verseColour__hoverParent:hover
    & {
        background-color: $colour__interact__light;
        box-shadow: $boxShadow__activeVerse;
    }
}

@for $verseIndex from 0 through $verseMax {

    // "Root non-activated verse index, child verse index."
    .RnV#{$verseIndex} .ChV#{$verseIndex} {
        // Styling for cursored verse.

        // "Grandchild interactable."
        .GcN {
            z-index: $zIndex__cursorVerse;

            // TODO: This is some ugly nesting...
            ~ .sibling__verseCursor
            .Anchor {
                // Allow anchor in cursor verse to still show.
                z-index: $zIndex__cursorVerse;
            }
        }

        // "Grandchild in slider."
        .GcS {
            // Override hover inset box shadow.
            box-shadow: $boxShadow__cursorVerse__slider !important;

            border-radius:
                $borderRadius__narrow
                $borderRadius__narrow
                $borderRadius__narrower
                $borderRadius__narrower;
            top: -2px;
            left: -0.5px;
            height: calc(100% + 3px);
            width: calc(100% + 1px);
        }
    }

    // "Root cursored lyric verse index, child verse index."
    .RlV#{$verseIndex} .ChV#{$verseIndex} {
        // Styling for cursored verse.

        // "Grandchild in lyric."
        .GcL {
            // Override hover inset box shadow.
            box-shadow: $boxShadow__cursorVerse !important;

            border-radius: $borderRadius__narrow;
            top: -$MARGIN_THIN;
            left: -$MARGIN_THIN;
            height: calc(100% + #{$MARGIN_THIN * 2});
            width: calc(100% + #{$MARGIN_THIN * 2});
        }
    }

    // "Root playing verse index, child verse index."
    .RpV#{$verseIndex} .ChV#{$verseIndex} {
        // Styling for cursored verse.

        // "Child in lyric."
        &.ChL {
            @include mixin__textAndLinkColours($important: true);
            @include mixin__underlineColours($important: true);
        }

        // "Grandchild verse colour."
        .GcV {
            // Use !important to override hover highlight.
            background-color: $colour__playing__empty !important;
        }
    }
}
