// Default styling. Kept in this stylesheet for consistency.
.VerseColour {
    // Styling for verse colours before cursored verse.

    .RM__sliderMoving
    & {
        background-color: $bgColour__beforeSlider;
    }
}

@for $verseIndex from 0 through $verseMax {

    // "Root slider verse index, child verse index."
    .RsV#{$verseIndex} .ChV#{$verseIndex} {
        // Styling for cursored verse.

        // "Child in lyric."
        &.ChL {
            @include mixin__textAndLinkColours($important: true);
        }

        // "Grandchild verse colour."
        .GcV {
            // Use !important to override hover highlight.
            background-color: $bgColour__audioNeutral !important;
        }

        ~ .ChV {
            // Grandchildren of all subsequent "child verse" siblings.
            .GcV {
                background-color: $bgColour__afterSlider;
            }
        }
    }

    // "Root slider verse index, parent of verse index."
    .RsV#{$verseIndex} .PoV#{$verseIndex} {
        /**
        * Styling for verse colours in some parent of verse. In this case, the
        * parent is a unit or unit card, as are its siblings.
        */

        // Grandchildren of all subsequent "parent of verse" siblings.
        ~ .PoV .GcV {
            background-color: $bgColour__afterSlider;
        }
    }
}
