@import '../../../../scss/classes/mixin';
@import '../../../../scss/constants/colour';
@import '../../../../scss/constants/logic';

// Default styling. Kept in this stylesheet for consistency.
.VerseColour {
    // Styling for verse colours before cursored verse.

    .TW__lyricsLocked
    & {
        background-color: $colour__past__dark;

        // "Granchild verse colour even."
        &.GcE {
            background-color: $colour__past__darker;
        }
    }
}

@for $verseIndex from 0 through $verseMax {

    // "Root selected verse index, child verse index."
    .RxV#{$verseIndex} .ChV#{$verseIndex} {
        // This styling overrides hover, but not slider cursor.

        &.ChL {
            color: $colour__text__light;
        }

        // "Grandchild verse colour."
        .GcV {
            // Use !important to override hover highlight.
            background-color: $colour__neutral__dark !important;
            box-shadow: none !important;
        }
    }

    // "Root slider (or activated) verse index, child verse index."
    .RsV#{$verseIndex} .ChV#{$verseIndex} {
        // Styling for cursored verse.

        // "Child in lyric."
        &.ChL {
            @include mixin__textAndLinkColours($important: true);
        }

        // "Grandchild verse colour."
        .GcV {
            // Use !important to override hover highlight.
            background-color: $colour__access__light !important;
        }

        ~ .ChV {
            // Grandchildren of all subsequent "child verse" siblings.
            .GcV {
                background-color: $colour__future__dark;

                // "Granchild verse colour even."
                &.GcE {
                    background-color: $colour__future__darker;
                }
            }
        }
    }

    // "Root slider (or activated) verse index, parent of verse index."
    .RsV#{$verseIndex} .PoV#{$verseIndex} {
        /**
        * Styling for verse colours in some parent of verse. In this case, the
        * parent is a unit or unit card, as are its siblings.
        */

        // Grandchildren of all subsequent "parent of verse" siblings.
        ~ .PoV .GcV {
            background-color: $colour__future__dark;

            // "Granchild verse colour even."
            &.GcE {
                background-color: $colour__future__darker;
            }
        }
    }
}
