@import "./logicDefault";
@import "./logicSlider";
@import "./logicCursor";
@import "./VerseTracker/style";

.VerseColour {
    .DW__userAgentDesktop
    .TW__lyricsUnlocked
    & {
        transition:
            top $animationDuration__faster,
            left $animationDuration__faster,
            width $animationDuration__faster,
            height $animationDuration__faster,
            background-color $animationDuration__faster;
    }
}

.VerseColour__activated {
    box-shadow: $boxShadow__activeVerse;
}

/**
 * Border radius is needed on both parent and child because of box shadow, I
 * think.
 */
.VerseBar__animatable,
.VerseColour__inVerseBar {
    border-radius: $borderRadius__narrow;
}
