@import '../../../../scss/constants/border';
@import '../../../../scss/constants/shadow';
@import '../../../../scss/constants/transition';

.VerseColour {
    .DW__userAgentDesktop
    .TW__lyricsUnlocked
    & {
        transition:
            top $transitionDuration__faster,
            left $transitionDuration__faster,
            width $transitionDuration__faster,
            height $transitionDuration__faster,
            background-color $transitionDuration__faster;
    }
}

.VerseColour__activated {
    // Do not apply if in VerseBar.
    .Slider
    &,
    .Stanzas
    & {
        box-shadow: $boxShadow__activeVerse;
    }
}

/**
 * Border radius is needed on both parent and child because of box shadow, I
 * think.
 */
.VerseBar__animatable,
.VerseColour__inVerseBar {
    border-radius: $borderRadius__narrow;
}
