.bennett#{$suffix} {
    .goKartHelmetTrim { fill: hsl(0, 0%, 48%); }
    .goKartHelmet { fill: hsl(45, 6%, 87%); }
    .cafeteriaHatMesh { fill: hsl(226, 19%, 86%); }
    .cafeteriaHatDark { fill: hsl(221, 33%, 33%); }
    .cafeteriaHat { fill: hsl(222, 32%, 40%); }
    .cafeteriaHatAdjuster { fill: hsl(60, 14%, 79%); }

    .bennettJacketInner { fill: hsl(224, 12%, 31%); }
    .bennettJacketCollar { fill: hsl(226, 12%, 34%); }
    .bennettJacket { fill: hsl(228, 10%, 38%); }
    .bennettHoodieInner { fill: hsl(2, 39%, 50%); }
    .bennettUndershirtInner { fill: hsl(2, 42%, 59%); }
    .bennettUndershirt { fill: hsl(2, 57%, 66%); }
    .bennettHoodie { fill: hsl(4, 37%, 52%); }
    .bennettHood { fill: hsl(3, 36%, 61%); }
    .bennettSleeves { fill: hsl(4, 37%, 52%); }
    .bennettUnderwearInner { fill: hsl(214, 28%, 53%); }
    .bennettUnderwear { fill: hsl(214, 39%, 61%); }
    .bennettWaistband { fill: hsl(215, 47%, 72%); }
    .bennettJeans { fill: hsl(216, 32%, 52%); }
    .bennettSoleBottom { fill: hsl(28, 15%, 53%); }
    .bennettShoe { fill: hsl(39, 11%, 41%); }
    .bennettShoeLining { fill: hsl(34, 7%, 57%); }
    .converseLogo { fill: hsl(12, 37%, 60%); }
}