.bennett#{$suffix} {
    .cafeteriaHatMesh { fill: hsl(226, 19%, 86%); }
    .cafeteriaHatDark { fill: hsl(221, 33%, 33%); }
    .cafeteriaHat { fill: hsl(222, 32%, 40%); }
    .cafeteriaHatAdjuster { fill: hsl(60, 14%, 79%); }

    .bennettJacketInner { fill: hsl(224, 12%, 31%); }
    .bennettJacketCollar { fill: hsl(226, 12%, 34%); }
    .bennettJacket { fill: hsl(228, 10%, 38%); }
    .bennettHoodieInner { fill: hsl(2, 39%, 50%); }
    .bennettUndershirtInner { fill: hsl(2, 42%, 59%); }
    .bennettUndershirt { fill: hsl(2, 57%, 66%); }
    .bennettHoodie { fill: hsl(4, 37%, 52%); }
    .bennettHood { fill: hsl(3, 36%, 61%); }
    .bennettSleeves { fill: hsl(4, 37%, 52%); }
    .bennettUnderwearInner { fill: hsl(214, 28%, 53%); }
    .bennettUnderwear { fill: hsl(214, 39%, 61%); }
    .bennettWaistband { fill: hsl(215, 47%, 72%); }
    .bennettJeansInner { fill: hsl(216, 32%, 42%); }
    .bennettJeans { fill: hsl(216, 32%, 52%); }
    .bennettSoleBottom { fill: hsl(28, 15%, 53%); }
    .bennettShoe { fill: hsl(39, 11%, 41%); }
    .bennettShoeLining { fill: hsl(34, 7%, 57%); }
    .converseLogo { fill: hsl(12, 37%, 60%); }

    .dishroomCollar { fill: hsl(225, 30%, 48%); }
    .dishroomShirt { fill: hsl(225, 32%, 52%); }
    .dishroomApronInner { fill: hsl(64, 12%, 51%); }
    .dishroomApronLace { fill: hsl(65, 15%, 55%); }
    .dishroomApron { fill: hsl(65, 18%, 60%); }

    &.rubiksCube {
        .cubeBlack { fill: hsl(180, 1%, 38%); }
        .squareWhite { fill: hsl(0, 0%, 84%); }
        .squareBlue { fill: hsl(214, 59%, 55%); }
        .squareGreen { fill: hsl(110, 54%, 60%); }
        .squareYellow { fill: hsl(68, 50%, 63%); }
        .squareOrange { fill: hsl(36, 59%, 55%); }
        .squareRed { fill: hsl(0, 43%, 56%); }
    }

    &.couchReading {
        .bookCoverDark { fill: hsl(114, 24%, 52%); }
        .bookCoverMedium { fill: hsl(114, 31%, 58%); }
        .bookCoverLight { fill: hsl(113, 38%, 63%); }
    }

    &.pampas {
        .sash { fill: hsl(2, 59%, 65%); }
        .bennettKurta { fill: hsl(214, 45%, 60%); }
        .garland { fill: hsl(79, 14%, 77%); }
        .garlandFlower { fill: hsl(15, 52%, 69%); }
        .recorderBrass { fill: hsl(46, 28%, 61%); }
        .recorderPadding { fill: hsl(65, 28%, 61%); }
        .recorderLight { fill: hsl(330, 12%, 45%); }
        .recorderTrim { fill: hsl(341, 10%, 43%); }
        .recorderDark { fill: hsl(330, 12%, 39%); }
        .recorderInner { fill: hsl(327, 7%, 31%); }
    }

    &.flustered {
        .overallsFlap { fill: hsl(222, 23%, 55%); }
        .overalls { fill: hsl(221, 32%, 63%); }
    }

    &.youngChild {
        .backpack { fill: hsl(231, 38%, 60%); }
        .backpackStrap { fill: hsl(230, 27%, 65%); }
        .hoodieInner { fill: hsl(207, 46%, 61%); }
        .hoodie { fill: hsl(207, 57%, 66%); }
        .shorts { fill: hsl(6, 39%, 61%); }
        .shoe { fill: hsl(38, 16%, 56%); }
    }
}