.towelRack {
    .rack {
        fill: #699;
    }

    .ball {
        fill: #09c;
    }

    .band {
        fill: #996;
    }

    .towel {
        fill: #cc6;
    }
}

.bathtub {
    .suds {
        fill: #fff;
    }

    .faucet {
        fill: #ccc;
    }

    .aerator {
        fill: #999;
    }

    .stem {
        fill: #9cc;
    }

    .knob {
        fill: #ffc;
    }

    .basin {
        fill: #6ff;
    }

    .basinLightLine {
        stroke: #fff;
    }

    .rim {
        fill: #9ff;
    }

    .claw {
        fill: #699;
    }
}

.johnnyHortonAlbum {
    .sky {
        fill: #6cc;
    }

    .leaves {
        fill: #696;
    }

    .branch {
        fill: #633;
    }

    .shirt {
        fill: #ccc;
    }

    .tie {
        fill: #669;
    }

    .collar {
        fill: #cc9;
    }

    .suit {
        fill: #969;
    }

    .lapel {
        fill: #c69;
    }

    .frame {
        fill: #cff;
    }

    .banner {
        fill: #c93;
    }
}

.mirroredSink {
    .back {
        fill: #fc9;
    }

    .cabinet {
        fill: #cc9;
    }

    .doorFront {
        fill: #ff9;
    }

    .frame {
        fill: #cc9;
    }

    .doorTop {
        fill: #cc6;
    }

    .knob {
        fill: #ff9;
    }

    .doorHandle {
        fill: #996;
    }

    .mirror {
        fill: #9ff;
    }

    .reflection {
        fill: #cff;
    }

    .counterTop {
        fill: #696;
    }

    .counterFront {
        fill: #9c9;
    }

    .stem {
        fill: #999;
    }

    .faucet {
        fill: #999;
    }

    .aerator {
        fill: #ccc;
    }

    .sink {
        fill: #663;
    }

    .debbieShirt {
        fill: #0071bc;
    }

    .debbieHat {
        fill: #96c;
    }

    .photoBackground {
        fill: #666;
    }

    .nkotbShirtDark {
        fill: #369;
    }

    .nkotbShirtLight {
        fill: #00a99d;
    }

    .nkotbShirtAverage {
        fill: #22b573;
    }
}