.TowelRack {
    .rack {
        fill: #699;
    }

    .ball {
        fill: #09c;
    }

    .band {
        fill: #996;
    }

    .towel {
        fill: #cc6;
    }
}

.Bathtub {
    .suds {
        fill: #fff;
    }

    .faucet {
        fill: #ccc;
    }

    .aerator {
        fill: #999;
    }

    .stem {
        fill: #9cc;
    }

    .knob {
        fill: #ffc;
    }

    .basin {
        fill: #6ff;
    }

    .basinLightLine {
        stroke: #fff;
    }

    .rim {
        fill: #9ff;
    }

    .claw {
        fill: #699;
    }

    .clawCreaseLine {
        stroke: #29abe2;
    }
}