.TowelRack {
    .rack {
        fill: #699;
    }

    .ball {
        fill: #09c;
    }

    .band {
        fill: #996;
    }

    .towel {
        fill: #cc6;
    }
}

.Bathtub {
    .suds {
        fill: #fff;
    }

    .faucet {
        fill: #ccc;
    }

    .aerator {
        fill: #999;
    }

    .stem {
        fill: #9cc;
    }

    .knob {
        fill: #ffc;
    }

    .basin {
        fill: #6ff;
    }

    .basinLightLine {
        stroke: #fff;
    }

    .rim {
        fill: #9ff;
    }

    .claw {
        fill: #699;
    }

    .clawCreaseLine {
        stroke: #29abe2;
    }
}

.JohnnyHortonAlbum {
    .sky {
        fill: #6cc;
    }

    .leaves {
        fill: #696;
    }

    .branch {
        fill: #633;
    }

    .skin {
        fill: #c7b299;
    }

    .shirt {
        fill: #ccc;
    }

    .tie {
        fill: #669;
    }

    .tieCreaseLine {
        stroke: #336;
    }

    .collar {
        fill: #cc9;
    }

    .suit {
        fill: #969;
    }

    .lapel {
        fill: #c69;
    }

    .hair {
        fill: #963;
    }

    .hairCreaseLine {
        stroke: #42210b;
    }

    .skinOverlapLine {
        stroke: #998675;
    }

    .frame {
        fill: #cff;
    }

    .banner {
        fill: #c93;
    }
}

.MirroredSink {
    .back {
        fill: #fc9;
    }

    .cabinet {
        fill: #cc9;
    }

    .doorFront {
        fill: #ff9;
    }

    .frame {
        fill: #cc9;
    }

    .doorTop {
        fill: #cc6;
    }

    .knob {
        fill: #ff9;
    }

    .doorHandle {
        fill: #996;
    }

    .mirror {
        fill: #9ff;
    }

    .reflection {
        fill: #cff;
    }

    .counterTop {
        fill: #696;
    }

    .counterFront {
        fill: #9c9;
    }

    .faucet {
        fill: #999;
    }

    .aerator {
        fill: #ccc;
    }

    .sink {
        fill: #663;
    }

    .debbieSkin {
        fill: #c7b794;
    }

    .debbieSkinOverlapLine {
        stroke: #8c6239;
    }

    .debbieShirt {
        fill: #0071bc;
    }

    .debbieHat {
        fill: #96c;
    }

    .photoBackground {
        fill: #666;
    }

    .debbieHair {
        fill: #fbb03b;
    }

    .debbieHatOverlapLine {
        stroke: #1b1464;
    }

    .nkotbShirtDark {
        fill: #369;
    }

    .nkotbShirtLight {
        fill: #00a99d;
    }

    .nkotbShirtAverage {
        fill: #22b573;
    }

    .nkotbSkin {
        fill: #c7b299;
    }

    .nkotbHairAverage {
        fill: #534741;
    }

    .nkotbHairLight {
        fill: #998675;
    }

    .nkotbHairDark {
        fill: #754c24;
    }
}