.seaSerpentLeft {
    .gill { fill: #8cc63f; }
    .scales { fill: #0071bc; }
    .scalesOverlapLine { stroke: #0060ab; }
    .eye { fill: red; }
    .dorsalFin { fill: #009245; }
}

.seaSerpentRight {
    .gill { fill: #8cc63f; }
    .gillFoldLine { stroke: #484; }
    .scales { fill: #0071bc; }
    .scalesOverlapLine { stroke: #0060ab; }
    .eye { fill: red; }
    .dorsalFin { fill: #009245; }
}
