.SeaSerpentLeft {
    .gills { fill: #8cc63f; }
    .scales { fill: #0071bc; }
    .scalesLine { stroke: #0060ab; }
    .eyes { fill: red; }
    .dorsalFin { fill: #009245; }
}

.SeaSerpentRight {
    .gills { fill: #8cc63f; }
    .scales { fill: #0071bc; }
    .scalesLine { stroke: #0060ab; }
    .eyes { fill: red; }
    .dorsalFin { fill: #009245; }
}
