@use 'sass:math';
@import '../../../../../scss/constants/bannerFilmstrip';
@import '../../../../../scss/constants/border';
@import '../../../../../scss/constants/colour';
@import '../../../../../scss/constants/shadow';
@import '../../../../../scss/constants/transition';

.FilmstripCell {
    position: relative;
    width: 100%;

    .DW__userAgentDesktop
    .ShW__canTransitionAfterSongChange
    & {
        transition: background-color $transitionDuration__default;
    }

    .TW__showPastFutureLyrics
    .FilmstripScene__selected
    &.FilmstripCell__notCursor {
        background-color: $colour__neutral__dark;
    }

    .FilmstripScene__interactable:hover
    & {
        // This needs to override odd and even styling.
        background-color: $colour__interact__medium !important;
        box-shadow: $boxShadow__activeVerse;
    }

    .FilmstripScene__interactable:active
    & {
        transform: scaleY(0.9);
    }
}

.FilmstripCell,
.TW__showPastFutureLyrics
.FilmstripCell__cursor {
    top: 0;
    height: 100%;
    border-radius: 1px;
}

.FilmstripCell__cursor {
    background-color: $colour__paused__empty;

    box-shadow: $boxShadow__cursorVerse;
    border-radius: $borderRadius__narrow;
    top: -1.5px;
    height: calc(100% + 3px);

    .PlW__isPlaying
    & {
        background-color: $colour__playing__empty;
    }

    .TW__showPastFutureLyrics
    & {
        background-color: $colour__access__light;
        box-shadow: $boxShadow__activeVerse;
    }
}

.FilmstripCell__trackerContainer {
    /**
     * Accommodate padding between cells. This is a little hacky, but it can't
     * be helped, because cells are solid elements rather than masks.
     */
    width: calc(100% + #{$length__filmPerf});
    left: math.div(-$length__filmPerf, 2);
}