@use 'sass:math';
@import '../../../../../scss/constants/bannerFilmstrip';
@import '../../../../../scss/constants/border';
@import '../../../../../scss/constants/colour';
@import '../../../../../scss/constants/shadow';
@import '../../../../../scss/constants/transition';

.FilmstripCell {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 1px;

    .DW__userAgentDesktop
    .ShW__canTransitionAfterSongChange
    & {
        transition: background-color $transitionDuration__default;
    }

    .TW__lyricsLocked
    .FilmstripScene__selected
    &.FilmstripCell__notCursor {
        background-color: $colour__neutral__dark;
    }

    .FilmstripScene__interactable:hover
    & {
        background-color: $colour__interact__medium;
        box-shadow: $boxShadow__activeVerse;
    }

    .FilmstripScene__interactable:active
    & {
        transform: scaleY(0.9);
    }
}

.FilmstripCell__trackerContainer {
    /**
     * Accommodate padding between cells. This is a little hacky, but it can't
     * be helped, because cells are solid elements rather than masks.
     */
    width: calc(100% + #{$length__filmPerf});
    left: math.div(-$length__filmPerf, 2);
}

.FilmstripCell {
    .FilmstripScene__selected
    & {
        // This takes precedence over any odd/even, before/after styling.
        background-color: $colour__neutral__dark;
    }
}

.FilmstripCell__cursor {
    .TW__lyricsUnlocked
    & {
        background-color: $colour__paused__empty;
    }

    .PlW__isPlaying
    & {
        background-color: $colour__playing__empty;
    }

    .TW__lyricsLocked
    & {
        background-color: $colour__access__light;
    }

    .TW__verseActive
    & {
        box-shadow: $boxShadow__activeVerse;
    }

    .TW__verseInactive
    & {
        box-shadow: $boxShadow__cursorVerse;
        border-radius: $borderRadius__narrow;
        top: -1.5px;
        height: calc(100% + 3px);
    }
}
