@import '../../../scss/constants/icon';
@import '../../../scss/constants/marketing';

.PitchNav {
    height: $height__marketingNav;
    width: 100%;

    & > :first-child {
        margin-right: $MARGIN_THIN * 1.5;
    }

    & > :last-child {
        margin-left: $MARGIN_THIN * 1.5;
    }
}
