.ActionEntry__actor {
    fill: rgba(200, 200, 250, 1);
}

.ActionEntry__cutout {
    fill: rgba(200, 250, 200, 1);
}

.ActionEntry__fixture {
    fill: rgba(250, 200, 200, 1);
}

.ActionTemporaryText {
    font-size: 0.75em;
}