.Tracker {
    opacity: 0;
    background-color: $colour__paused__dark;

    .DW__userAgentDesktop
    & {
        transition:
            opacity $animationDuration__fast,
            width $animationDuration__slow;
    }

    .PlW__isPlaying
    & {
        background-color: $colour__playing__dark;
    }
}

.Tracker__visible {
    opacity: 1;
}
