.Tracker {
    opacity: 0;
    background-color: $colour__paused__filled;

    .DW__userAgentDesktop
    & {
        transition:
            opacity $animationDuration__instant,
            width $animationDuration__slow;
    }

    .PlW__isPlaying
    & {
        background-color: $colour__playing__filled;
    }
}

// TODO: Maybe better not to run tracker at all when lyrics are locked?
.Tracker__visible {
    .TW__lyricsUnlocked
    & {
        opacity: 1;
    }
}
