.mother#{$suffix} {
    .motherShirt { fill: hsl(26, 39%, 61%); }
    .motherShirtCollar { fill: hsl(26, 34%, 65%); }
    .motherShortsInner { fill: hsl(205, 32%, 49%); }
    .motherShorts { fill: hsl(205, 32%, 59%); }
    .motherShortsCuff { fill: hsl(204, 38%, 65%); }
    .motherSole { fill: hsl(230, 22%, 58%); }
    .motherSandal { fill: hsl(231, 16%, 48%); }
    .motherSandalStrap { fill: hsl(231, 29%, 59%); }

    .motherChineseGown { fill: hsl(3, 55%, 60%); }
    .motherGownInner { fill: hsl(3, 38%, 52%); }
    .motherChineseTrim { fill: hsl(37, 45%, 58%); }
    .motherBeltTrim { fill: hsl(198, 8%, 77%); }
    .motherChineseBelt { fill: hsl(200, 8%, 35%); }
}