.house#{$suffix} {
    .roofBelow { fill: hsl($HUE_ROOF, 20%, 43%); }
    .roofSide { fill: hsl($HUE_ROOF, 20%, 50%); }
    .roofTop { fill: hsl($HUE_ROOF, 20%, 54%); }
    .beam { fill: hsl(49, 10%, 49%); }
    .railFront { fill: hsl(40, 24%, 61%); }
    .railSide { fill: hsl(40, 17%, 56%); }
    .deckFront { fill: hsl(40, 14%, 61%); }
    .deckSide { fill: hsl(40, 7%, 56%); }
    .bayWallFront { fill: hsl(60, 10%, 61%); }
    .bayWallMiddle { fill: hsl(60, 10%, 58%); }
    .bayWallSide { fill: hsl(60, 10%, 55%); }
    .stepSide { fill: hsl(220, 16%, 49%); }

    // ~ concrete platform hsla.
    .stepFront { fill: hsl(220, 16%, 56%); }

    .eveningTime
    &.eveningTime#{$suffix} {
        .roofBelow { fill: hsl($HUE_ROOF, 15%, 38%); }
        .roofSide { fill: hsl($HUE_ROOF, 15%, 45%); }
        .roofTop { fill: hsl($HUE_ROOF, 15%, 49%); }
        .stepSide { fill: hsl(220, 11%, 44%); }
        .stepFront { fill: hsl(220, 11%, 51%); }
    }

    .nightTime
    &.nightTime#{$suffix} {
        .roofBelow { fill: hsl($HUE_ROOF, 10%, 33%); }
        .roofSide { fill: hsl($HUE_ROOF, 10%, 40%); }
        .roofTop { fill: hsl($HUE_ROOF, 10%, 44%); }
        .beam { fill: hsl(49, 10%, 39%); }
        .railFront { fill: hsl(40, 14%, 51%); }
        .railSide { fill: hsl(40, 12%, 46%); }
        .deckFront { fill: hsl(40, 9%, 51%); }
        .deckSide { fill: hsl(40, 4%, 46%); }
        .bayWallFront { fill: hsl(60, 5%, 51%); }
        .bayWallMiddle { fill: hsl(60, 5%, 48%); }
        .bayWallSide { fill: hsl(60, 5%, 45%); }
        .stepSide { fill: hsl(220, 8%, 39%); }
        .stepFront { fill: hsl(220, 8%, 46%); }
    }

    .magicSeason
    &.magic#{$suffix} {
        .roofSide { fill: hsl($HUE_MAGIC, 10%, 40%); }
        .roofTop { fill: hsl($HUE_MAGIC, 10%, 44%); }
        .beam { fill: hsl($HUE_MAGIC, 5%, 39%); }
        .stepFront { fill: hsl($HUE_MAGIC, 8%, 46%); }
    }
}
