.snowglobe#{$suffix} {
    .base { fill: hsl(329, 18%, 53%); }
    .rim { fill: hsl(300, 50%, 40%); }
    .globeOuter {fill: hsla(240, 100%, 94%, 0.7); }
    .globeCentre {fill: hsla(240, 100%, 94%, 0.5); }
    .globeInner { fill: hsla(180, 100%, 89%, 0.4); }
    .reflectionOuter {fill: hsla(240, 100%, 94%, 0.2); }
    .reflectionCentre {fill: hsla(240, 100%, 94%, 0.4); }
    .reflectionInner {fill: hsla(240, 100%, 94%, 0.6); }
    .snowSide { fill: hsl(186, 30%, 87%); }
    .snowTop { fill: hsl(0, 0%, 100%); }
}
