.snowglobe {fill: hsla(240, 100%, 94%, 0.7); stroke: none; }
.snowglobeClear {fill: hsla(240, 100%, 94%, 0.5); stroke: none; }
.snowglobeClearer {fill: hsla(240, 100%, 94%, 0.3); stroke: none; }
.snowglobeClearest { fill: hsla(240, 100%, 94%, 0.1); stroke: none; }

.snowSide { fill: hsl($HUE_SNOW, 30%, 77%); }
.snowTop { fill: hsl($HUE_SNOW, 30%, 87%); }

.snowglobeRoadDark { fill: $colour__road__dark; }
.snowglobeRoadMedium { fill: $colour__road__medium; }

.snowglobeRim { fill: hsl(0, 0%, 57%); }
.snowglobeBase { fill: hsl(0, 0%, 62%); }

.past#{$suffix} {
    .snowglobeRim { fill: hsl($HUE_PAST, 33%, 52%); }
    .snowglobeBase { fill: hsl($HUE_PAST, 33%, 57%); }
}

.present#{$suffix} {
    .snowglobeRim { fill: hsl($HUE_PRESENT, 33%, 52%); }
    .snowglobeBase { fill: hsl($HUE_PRESENT, 33%, 57%); }
}

.future#{$suffix} {
    .snowglobeRim { fill: hsl($HUE_FUTURE, 33%, 52%); }
    .snowglobeBase { fill: hsl($HUE_FUTURE, 33%, 57%); }
}