.window#{$suffix} {
    .windowSide { fill: hsl(183, 31%, 68%); }
    .windowMiddle { fill: hsl(183, 31%, 71%); }
    .windowFront { fill: hsl(183, 31%, 74%); }
    .windowClear { fill: hsla(240, 100%, 89%, 0.25); }
}