.garbageBag#{$suffix} {
    .bottlePurpleDark { fill: hsl(270, 16%, 27%); }
    .bottlePurpleMedium { fill: hsl(270, 16%, 31%); }
    .bottlePurpleLight { fill: hsl(269, 16%, 35%); }
    .bottleGreen { fill: hsl(160, 16%, 29%); }
    .bottleLabel { fill: hsl(224, 21%, 46%); }
    .bottleMagenta { fill: hsl(351, 16%, 34%); }
    .bottleCapGold { fill: hsl(42, 23%, 40%); }
    .bottleCapSilver { fill: hsl(36, 4%, 54%); }
    .garbageBagRear {fill: hsl(47, 5%, 37%); }
    .garbageBagFront {fill: hsl(187, 23%, 55%); }
    .bagLiningOuter {fill: hsl(186, 29%, 59%); }
    .bagLiningInner {fill: hsl(187, 19%, 46%); }

    .eveningTime
    &.eveningTime#{$suffix} {
        .garbageBagRear {fill: hsl(47, 5%, 32%); }
        .garbageBagFront {fill: hsl(187, 18%, 50%); }
    }
}