.backpack#{$suffix} {
    .backpackAdjusterDark { fill: hsl(323, 5%, 39%); }
    .backpackAdjusterMedium { fill: hsl(321, 5%, 44%); }
    .backpackAdjusterLight { fill: hsl(320, 5%, 49%); }
    .backpackZipperTeeth { fill: hsl(221, 8%, 62%); }
    .backpackZipperPull { fill: hsl(222, 8%, 38%); }
}