.TitleToggle {
    height: 100%;
    width: 100%;

    .title-menu-subfield
    & {
        padding: 2.5px 5px;
    }

    .title-in-audio
    & {
        margin-right: @title-in-audio-block-padding;
    }
}

.TitleToggle-button-container {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
}
