.TitleToggle,
.Button__titleSize {
    height: 100%;
}

.TitleToggle {

    .RM__notTitleInAudio
    & {
        padding: @js__margin__thin 0 @js__margin__thin @js__margin__thin;
        box-sizing: border-box;
    }
}