.TitleToggle,
.Button__titleSize {
    height: 100%;
}

.TitleToggle {

    .RM__oneRowMenu
    & {
        padding: @js__margin__thin 0 @js__margin__thin @js__margin__thin;
        box-sizing: border-box;
    }
}

.TitleToggleButton__animatable {

    transition:
        top @animationDuration__default,
        opacity @animationDuration__default;

    .RM__overlayShown
    & {
        top: -@js__height__menu;
        opacity: 0;
    }
}

.TitleToggle__inAudio {

    min-width: @js__minWidth__childTitle;
    max-width: @maxWidth__childTitle;
}