.lizPurse#{$suffix} {
    .purseDark { fill: hsl(153, 27%, 52%); }
    .purseMedium { fill: hsl(153, 36%, 57%); }
    .purseLight { fill: hsl(153, 37%, 62%); }
    .purseStrap { fill: hsl(153, 24%, 62%); }
}