.popup-button-block {
    position: absolute;

    .icon-canvas {
        box-shadow: @popup-button-box-shadow;
    }

    &.close-position {
        top: -@app-large-icon-diameter * @popup-button-multiplier;
        left: -@app-large-icon-diameter * @popup-button-multiplier;
        // border-radius: 50%;

        .icon-canvas {
            background-color: #fdd;
        }
    }

    &.side-position {
        top: @app-large-icon-diameter * 0.2;

        .icon-canvas {
            background-color: #dfd;
        }
    }

    &.previous-position {
        left: -@app-large-icon-diameter * @popup-button-multiplier;
    }

    &.next-position {
        right: -@app-large-icon-diameter * @popup-button-multiplier;
    }

    &.shadow {
        display: block;
        overflow: hidden;
        box-shadow: @popup-box-shadow;
        border-radius: 50%;

        &.close-position {
            box-shadow: @popup-darker-box-shadow;
        }
    }
}
