.popup-transition-group {

    box-sizing: border-box;

    &:not(.overview) {
        top: 0;
        left: 0;
    }

    &:not(.overview):not(.audio) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.annotation, &.overview, &.tips, &.title {
        .popup-wrapper {
            animation: bounceOut @popup-transition-duration-out;
        }

        &.visible {
            .popup-wrapper {
                animation: bounceIn @popup-transition-duration-in;
            }
        }
    }

    &.wiki, &.audio {
        .popup-wrapper {
            animation: shrinkOut @popup-transition-duration-out;
        }

        &.visible {
            .popup-wrapper {
                animation: shrinkIn @popup-transition-duration-in;
            }
        }
    }

    // Including annotation is possible because its height is auto, not 100%.
    &.annotation, &.audio, &.score, &.title, &.wiki {
        z-index: @popup-overlay-content-z-index;
    }

    transition: opacity @popup-transition-duration-out;
    opacity: 0;

    &.visible {
        transition: opacity @popup-transition-duration-in;
        opacity: 1;
    }

    &.not-displayed {
        z-index: @popup-container-z-index;
    }
}
