@import "./Timer/style";

.Banner {
    height: 100%;
    flex-grow: 10;

    overflow: hidden;

    border-radius: $borderRadius__narrow;
    z-index: $zIndex__menuChild;

    line-height: 1em;
    color: #ffe;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #8b8;

    .Menu__mainBottom
    & {
        position: relative;
        width: 100%;
    }
}

.BannerDisplay {
    padding: 0 5px;

    justify-content: space-between;
}