@import "./Timer/style";

.Banner {
    height: 100%;
    flex-grow: 10;

    line-height: 1em;

    border-radius: $borderRadius__narrow;

    overflow: hidden;
    box-sizing: border-box;

    color: #ffe;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);

    background-color: #8b8;

    .RW__twoRowMenu
    & {
        min-width: 200px;
    }
}

.Banner__belowMenu {
    top: $js__height__menu;
    width: calc(100% - #{$js__margin__thin * 2});
    margin: 0 $js__margin__thin $js__margin__thin;

    .DW__phoneWidth
    & {
        top: $js__height__top__twoRowMenu;
    }
}

.BannerDisplay {
    // box-sizing: border-box;
    padding: 0 5px;

    justify-content: space-between;
}