.dots-block {
    display: flex;
    width: auto;
    height: 100%;
}

.dom-manager.narrative .animated-background.narrative,
.dom-manager.backstory .animated-background.backstory,
.dom-manager.observation .animated-background.observation,
.dom-manager.pun .animated-background.pun,
.dom-manager.reference .animated-background.reference,
.dom-manager.songwriting .animated-background.songwriting,
.dom-manager.portal .animated-background.portal,
.dom-manager.afterword .animated-background.afterword {

    // Transition size first, then fade in.
    transition: margin @animation-fast,
                height @animation-fast,
                width @animation-fast,
                border @animation-fast,
                background-color @animation-fast,
                opacity @animation-fast @animation-faster;

   opacity: 1;
}

// Portals are not included here.
/**
 * NOTE: This might turn out to be a fragile way to not show the portal dot in
 * the annotation card.
 */
.dom-manager.narrative .annotation-card .animated-background.narrative,
.dom-manager.backstory .annotation-card .animated-background.backstory,
.dom-manager.observation .annotation-card .animated-background.observation,
.dom-manager.pun .annotation-card .animated-background.pun,
.dom-manager.reference .annotation-card .animated-background.reference,
.dom-manager.songwriting .annotation-card .animated-background.songwriting,
.dom-manager.afterword .annotation-card .animated-background.afterword {

   border: @dot-border solid @dot-border-colour;
   width: @annotation-dot-diameter;
   height: @annotation-dot-diameter;
}

.dom-manager.narrative .text-anchor-block .animated-background.narrative,
.dom-manager.backstory .text-anchor-block .animated-background.backstory,
.dom-manager.observation .text-anchor-block .animated-background.observation,
.dom-manager.pun .text-anchor-block .animated-background.pun,
.dom-manager.reference .text-anchor-block .animated-background.reference,
.dom-manager.songwriting .text-anchor-block .animated-background.songwriting,
.dom-manager.portal .text-anchor-block .animated-background.portal,
.dom-manager.afterword .text-anchor-block .animated-background.afterword {

   border: @dot-border solid @lyric-underline-enabled-colour;
   width: @lyric-anchor-dot-diameter;
   height: @lyric-anchor-dot-diameter;
}

.dom-manager.narrative .text-anchor-block:hover .animated-background.narrative,
.dom-manager.backstory .text-anchor-block:hover .animated-background.backstory,
.dom-manager.observation .text-anchor-block:hover .animated-background.observation,
.dom-manager.pun .text-anchor-block:hover .animated-background.pun,
.dom-manager.reference .text-anchor-block:hover .animated-background.reference,
.dom-manager.songwriting .text-anchor-block:hover .animated-background.songwriting,
.dom-manager.portal .text-anchor-block:hover .animated-background.portal,
.dom-manager.afterword .text-anchor-block:hover .animated-background.afterword {
   animation: bounceHover @animation-slow;
}

.dom-manager.narrative .text-anchor-block:active .animated-background.narrative,
.dom-manager.backstory .text-anchor-block:active .animated-background.backstory,
.dom-manager.observation .text-anchor-block:active .animated-background.observation,
.dom-manager.pun .text-anchor-block:active .animated-background.pun,
.dom-manager.reference .text-anchor-block:active .animated-background.reference,
.dom-manager.songwriting .text-anchor-block:active .animated-background.songwriting,
.dom-manager.portal .text-anchor-block:active .animated-background.portal,
.dom-manager.afterword .text-anchor-block:active .animated-background.afterword {
   transform: scale(0.75);
}
