.dots-block {
    display: flex;
    width: auto;
    height: 100%;
}

/**
 * All dot backgrounds in lyrics and annotation cards, except portal annotation
 * cards.
 */
.text-anchor-block, .annotation-card:not(.portal) {

    .animated-background-container {
        // Fade out first, then reduce width.
        transition: opacity @animation-default,
                    width @animation-default @animation-faster;
        width: 0;
        opacity: 0;
    }
}

// Portals are not included here.
.dom-manager.narrative .annotation-card .animated-background-container.narrative,
.dom-manager.backstory .annotation-card .animated-background-container.backstory,
.dom-manager.observation .annotation-card .animated-background-container.observation,
.dom-manager.pun .annotation-card .animated-background-container.pun,
.dom-manager.reference .annotation-card .animated-background-container.reference,
.dom-manager.songwriting .annotation-card .animated-background-container.songwriting,
.dom-manager.afterword .annotation-card .animated-background-container.afterword {
    // Increase width first, then fade in.
    transition: width @animation-default,
                opacity @animation-default @animation-faster;
    width: @annotation-dot-diameter;
    opacity: 1;
}

.annotation-card {

    // Only style dots that are not in portal.
    .dots-block {
        .dot {
            &, & .animated-background {
                height: @annotation-dot-diameter;
            }
        }

        .animated-background {
            width: @annotation-dot-diameter;
            border: @dot-border solid @dot-border-colour;
        }
    }
}

.dom-manager.narrative .text-anchor-block .animated-background-container.narrative,
.dom-manager.backstory .text-anchor-block .animated-background-container.backstory,
.dom-manager.observation .text-anchor-block .animated-background-container.observation,
.dom-manager.pun .text-anchor-block .animated-background-container.pun,
.dom-manager.reference .text-anchor-block .animated-background-container.reference,
.dom-manager.songwriting .text-anchor-block .animated-background-container.songwriting,
.dom-manager.portal .text-anchor-block .animated-background-container.portal,
.dom-manager.afterword .text-anchor-block .animated-background-container.afterword {
    // Increase width first, then fade in.
    transition: width @animation-default,
                opacity @animation-default @animation-faster;
    width: @lyric-anchor-dot-diameter;
    opacity: 1;
}

.text-anchor-block {
    .dot {
        &, & .animated-background {
            height: @lyric-anchor-dot-diameter;
        }
    }

    .animated-background {
        width: @lyric-anchor-dot-diameter;
    }
}

.anchor-block {
    .animated-background {
        border: @dot-border solid @lyric-underline-enabled-colour;
    }
}

.dom-manager.narrative .text-anchor-block:hover .animated-background-container.narrative,
.dom-manager.backstory .text-anchor-block:hover .animated-background-container.backstory,
.dom-manager.observation .text-anchor-block:hover .animated-background-container.observation,
.dom-manager.pun .text-anchor-block:hover .animated-background-container.pun,
.dom-manager.reference .text-anchor-block:hover .animated-background-container.reference,
.dom-manager.songwriting .text-anchor-block:hover .animated-background-container.songwriting,
.dom-manager.portal .text-anchor-block:hover .animated-background-container.portal,
.dom-manager.afterword .text-anchor-block:hover .animated-background-container.afterword {
   animation: bounceHover @animation-slow;
}

.dom-manager.narrative .text-anchor-block:active .animated-background-container.narrative,
.dom-manager.backstory .text-anchor-block:active .animated-background-container.backstory,
.dom-manager.observation .text-anchor-block:active .animated-background-container.observation,
.dom-manager.pun .text-anchor-block:active .animated-background-container.pun,
.dom-manager.reference .text-anchor-block:active .animated-background-container.reference,
.dom-manager.songwriting .text-anchor-block:active .animated-background-container.songwriting,
.dom-manager.portal .text-anchor-block:active .animated-background-container.portal,
.dom-manager.afterword .text-anchor-block:active .animated-background-container.afterword {
   transform: scale(0.8);
}
