.stone#{$suffix} {
    // .stoneDarkest { fill: hsl(155, 9%, 37%); }
    // .stoneDarker { fill: hsl(155, 9%, 42%); }
    .stoneDark { fill: hsl(155, 9%, 47%); }
    // .stoneMediumDark { fill: hsl(155, 9%, 52%); }
    .stoneMedium { fill: hsl(155, 9%, 57%); }
    // .stoneMediumLight { fill: hsl(155, 9%, 62%); }
    // .stoneLight { fill: hsl(155, 9%, 67%); }
    // .stoneLighter { fill: hsl(155, 9%, 72%); }
    // .stoneLightest { fill: hsl(155, 9%, 77%); }
}
