.stone#{$suffix} {
    // .stoneDarkest { fill: hsl(35, 18%, 37%); }
    // .stoneDarker { fill: hsl(35, 19%, 42%); }
    // .stoneDark { fill: hsl(35, 20%, 47%); }
    // .stoneMediumDark { fill: hsl(35, 22%, 52%); }
    // .stoneMedium { fill: hsl(35, 22%, 57%); }
    // .stoneMediumLight { fill: hsl(35, 22%, 62%); }
    // .stoneLight { fill: hsl(35, 24%, 67%); }
    // .stoneLighter { fill: hsl(35, 25%, 72%); }
    // .stoneLightest { fill: hsl(35, 26%, 77%); }
}
