.LoadingSpinner__spin1 {
    animation: spin 2.5s infinite linear;
}

.LoadingSpinner__spin2 {
    animation: spin 1.9s infinite linear;
}

.LoadingSpinner__spin3 {
    animation: spin 1.3s infinite linear;
}