.drawingPeopleShared {
    .skinBlack { fill: #857652; }
    .skinEastAsian { fill: #d1b899; }
    .skinIndian { fill: #856439; }
    .skinWhite { fill: #c9b2a3; }
    .hairRed { fill: #8c4b39; }
    .hairRedDark { fill: #7d4333; }
    .hairBlack { fill: #343636; }
    .hairBlackDark { fill: #2a2b2b; }
    .mouth { fill: #453d36; }
    .eye { fill: #343636; }
}