$length__dotsSlideSelect: 64px;

$length__dotsSlideSelect__tablet:
    $js__length__iconLarge * 0.95;

.DotsSlideSelect {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;

    .DW__miniWidth
    & {
        padding: $js__margin__thick * 0.75;
    }

    .DW__phoneWidth
    & {
        padding: $js__margin__thick * 0.5;
    }
}

.Anchor {
    .DotsSlideSelect
    & {
        padding-top: 5px;
        font-size: 0.75em;

        .DW__phoneWidth
        & {
            padding-top: 0;
        }
    }
}

.Button__slideSelectSize {

    width: $length__dotsSlideSelect;
    height: $length__dotsSlideSelect;

    .DW__phoneWidth
    & {
        width: $length__dotsSlideSelect__tablet;
        height: $length__dotsSlideSelect__tablet;
    }
}

.SlideSelectDescription {

    text-align: center;
    font-size: .6em;

    opacity: 0;
    transition: opacity $animationDuration__default;

    .DotsSlide__canHover
    .DotsSlideSelect:hover
    &,

    &.SlideSelectDescription__interactivated,

    &.SlideSelectDescription__accessed {
        opacity: 1;
    }
}

// TODO: Deselected styling will strategically gray out fills.
.DotField__dotsSlide__deselected {
    fill: $bgColour__dot__deselected;
}
.DotIcon__dotsSlide__deselected {
    fill: $bgColour__dot__deselected;
}