.Face {
    .DW__userAgentMobile
    .TrW__canLyricCarouselEnter
    & {
        transition:
            stroke $animationDuration__scene,
            fill $animationDuration__scene,
            d $animationDuration__scene;
    }

    stroke: hsla(60, 45%, 78%, 0.05);
    stroke-width: 1px;

    // TODO: Keep as reference, for now.

    // &.shade {

    //     &.tile {
    //         &.ceiling {
    //             fill: hsla(0, 0%, 10%, 0.45);
    //         }

    //         &.floor {
    //             // Default.
    //             fill: transparent;

    //             .Face.z0
    //             &,
    //             .Face.z1
    //             & {
    //                 fill: hsla(0, 0%, 10%, 0.1);
    //             }

    //             .Face.z2
    //             &,
    //             .Face.z3
    //             & {
    //                 fill: hsla(0, 0%, 10%, 0.075);
    //             }

    //             .Face.z4
    //             &,
    //             .Face.z5
    //             & {
    //                 fill: hsla(0, 0%, 10%, 0.05);
    //             }

    //             .Face.z6
    //             &,
    //             .Face.z7
    //             & {
    //                 fill: hsla(0, 0%, 10%, 0.025);
    //             }
    //         }
    //     }

    //     &.side {
    //         .Cube.x5
    //         &,
    //         .Cube.x6
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.1);
    //         }

    //         .Cube.x4
    //         &,
    //         .Cube.x7
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.125);
    //         }

    //         .Cube.x3
    //         &,
    //         .Cube.x8
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.15);
    //         }

    //         .Cube.x2
    //         &,
    //         .Cube.x9
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.175);
    //         }

    //         .Cube.x1
    //         &,
    //         .Cube.xa
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.2);
    //         }

    //         .Cube.x0
    //         &,
    //         .Cube.xb
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.225);
    //         }
    //     }

    //     &.front {
    //         .Cubes.y0
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.2);
    //         }

    //         .Cubes.y1
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.225);
    //         }

    //         .Cubes.y2
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.25);
    //         }

    //         .Cubes.y3
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.3);
    //         }

    //         .Cubes.y4
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.35);
    //         }

    //         .Cubes.y5
    //         & {
    //             fill: hsla(0, 0%, 10%, 0.4);
    //         }
    //     }
    // }
}
