@import '../../../../scss/constants/transition';

.Face {
    .DW__userAgentDesktop
    .TrW__isSongChangeDone.TrW__canTransitionAfterSceneChange
    & {
        transition:
            fill $transitionDuration__cubes,
            d $transitionDuration__cubes;
    }

    stroke: hsla(60, 45%, 78%, 0.05);
    stroke-width: 1px;
}
