.brickWall {
    .foliage { fill: #506d4d; }
    .building { fill: #677b8c; }
    .trunk { fill: #5b5040; }
    .leavesBack { fill: #547258; }
    .leavesFront { fill: #639369; }
    .wall { fill: #a08975; }
    .ledge { fill: #c6baa8; }
    .brickDark { fill: #895540; }
    .brickLight { fill: #99865b; }
    .bush { fill: #54775a; }
}

.cityBackdrop {
    .foliageFar { fill: #5d9157; }
    .cityFar { fill: #5d6c89; }
    .foliageNear { fill: #408940; }
    .cityNear { fill: #4d607c; }
}

.drivingBackdrop {
    .foliage { fill: #5b8761; }
}

.fenceBackdrop {
    .roof { fill: #9b5f5f; }
    .bush { fill: #537a53; }
    .trunk { fill: #6b5c4f; }
    .leavesBack { fill: #4e914e; }
    .leavesFront { fill: #549b54; }
    .fence { fill: #af947e; }
}

.goldenGateBackdrop {
    .ocean { fill: #4b92e0; }
    .mountainFar { fill: #644872; }
    .pier { fill: #5a5b5e; }
    .suspenders { fill: rgba(250, 200, 200, 0.5); }
    .tower { fill: #a06c55; }
    .cable { fill: #aa6b50; }
    .deck { fill: #aa6b50; }
    .connector { fill: #a3624b; }
    .mountainNear { fill: #7d6684; }
    .city { fill: #484e66; }
    .island { fill: #8e6c96; }
}

.losAngelesBackdrop {
    .cityscape { fill: #6f7e93; }
}

.mountainBackdrop {
    .mountain { fill: #8e649b; }
}

.nohoHousesBackdrop {
    .mountain { fill: #826684; }
}

.oaklandFront {
    .foliage { fill: #5e7054; }
}

.oaklandSide {
    .foliage { fill: #5e7054; }
}

.oceanBottomFar {
    .shadow { fill: #634b63; }
}

.oceanFloorFar {
    .volcanoDark { fill: #564c66; }
    .volcanoMedium { fill: #615673; }
    .volcanoLight { fill: #6e6182; }
    .volcanoInner { fill: #594035; }
}

.roadPast {
    .bookCover { fill: #507851; }
    .romanNumeral { fill: #f3f4cb; }
}

.schoolBackdrop {
    .mountain { fill: #ad91b7; }
}

.shoreBuoyBackdrop {
    .shore { fill: #b7b3a1; }
    .mountain { fill: #936492; }
    .ocean { fill: #71d8ce; }
}

.shoreRickshawBackdrop {
    .lighthouseInner { fill: #9bba9b; }
    .lighthouseCentre { fill: #729374; }
    .lighthouseOuter { fill: #bdd3b8; }
    .mountain { fill: #725a7a; }
    .foliage { fill: #5b7755; }
    .shore { fill: #99977a; }
    .ocean { fill: #79bab3; }
}

.taiwanMountainsBackdrop {
    .mountainFarthest { fill: #4b6185; }
    .mountainFar { fill: #51688f; }
    .mountainNear { fill: #5a739e; }
    .mountainNearer { fill: #6682b3; }
    .mountainNearest { fill: #6d8bbf; }
}

.taiwanStairsBackdrop {
    .mountain { fill: #735c85; }
    .foliage { fill: #477846; }
}

.weddingBackdrop {
    .mountainFarthest { fill: #908091; }
    .mountainFarther { fill: #796c7a; }
    .mountainFar { fill: #655c66; }
    .mountainClose { fill: #504a51; }
}

.valley {
    .mountain {fill: #9c7ba3; }
    .building {fill: #566884; }
}

.yardBackdrop {
    .foliage { fill: #445e40; }
}