// This value *must* be the same in js.
@carousel-annotation-min-width: @annotation-card-width +
                                @annotation-card-padding * 2 +
                                @carousel-annotation-padding * 2 +
                                @annotation-section-padding * 2;

@carousel-annotation-mini-min-width: @annotation-card-mini-width +
                                     @annotation-card-padding * 2 +
                                     @carousel-annotation-padding * 2 +
                                     @annotation-section-padding * 2;

.cards-block, .annotation-title-block {
    width: @annotation-card-width +
           @annotation-card-padding * 2;
}

.mini-width {
    .cards-block, .annotation-title-block {
        width: @annotation-card-mini-width +
               @annotation-card-padding * 2;
    }
}

.annotation-card {
    position: relative;

    min-height: 0;
    max-height: 0;
    padding: 0 @annotation-card-padding;
    opacity: 0;

    transition: min-height @animation-default,
                max-height @animation-default,
                margin @animation-default,
                padding @animation-default,
                opacity @animation-default,
                box-shadow @animation-default;

    .text-shadow-mixin(@annotation-card-colour);

    // Select for annotation card dots, not portal dots.
    > .dots-block {
        position: absolute;
        height: @annotation-dot-diameter;
    }
}

.dom-manager.narrative .carousel-annotation.narrative,
.dom-manager.backstory .carousel-annotation.backstory,
.dom-manager.observation .carousel-annotation.observation,
.dom-manager.pun .carousel-annotation.pun,
.dom-manager.reference .carousel-annotation.reference,
.dom-manager.songwriting .carousel-annotation.songwriting,
.dom-manager.portal .carousel-annotation.portal,
.dom-manager.afterword .carousel-annotation.afterword {

    min-width: @carousel-annotation-min-width;

    .annotation-title-block {
        max-height: 2em; // Arbitrary value that's larger than its max height.
        min-height: @app-small-icon-diameter;
        padding: @annotation-section-padding 0;
    }
}

.dom-manager.mini-width.narrative .carousel-annotation.narrative,
.dom-manager.mini-width.backstory .carousel-annotation.backstory,
.dom-manager.mini-width.observation .carousel-annotation.observation,
.dom-manager.mini-width.pun .carousel-annotation.pun,
.dom-manager.mini-width.reference .carousel-annotation.reference,
.dom-manager.mini-width.songwriting .carousel-annotation.songwriting,
.dom-manager.mini-width.portal .carousel-annotation.portal,
.dom-manager.mini-width.afterword .carousel-annotation.afterword {

    min-width: @carousel-annotation-mini-min-width;
}

.dom-manager.narrative .annotation-card.narrative,
.dom-manager.backstory .annotation-card.backstory,
.dom-manager.observation .annotation-card.observation,
.dom-manager.pun .annotation-card.pun,
.dom-manager.reference .annotation-card.reference,
.dom-manager.songwriting .annotation-card.songwriting,
.dom-manager.portal .annotation-card.portal,
.dom-manager.afterword .annotation-card.afterword {

    min-height: @annotation-dot-diameter;
    max-height: 500px; // Arbitrary large number.
    padding: @annotation-card-padding;
    opacity: 1;
    box-shadow: 0 1px 1px 1px @box-shadow-colour;

    &:not(:last-child) {
        margin-bottom: @annotation-section-padding;
    }
}

// Override if in carousel and hidden by single lyric column.
.show-only-right .carousel-annotation.in-column-left,
.show-only-left .carousel-annotation.in-column-right {

    .annotation-card {
        margin: auto;
        opacity: 0;
        box-shadow: none;
    }
}
