.reatta#{$suffix} {
    // Steering wheel.
    .wheelHandle { fill: hsl(69, 26%, 61%); }
    .wheelHubLight { fill: hsl(0, 20%, 55%); }
    .wheelHubMedium { fill: hsl(0, 17%, 51%); }
    .wheelHubDark { fill: hsl(0, 16%, 46%); }
    .wheelSpoke { fill: hsl(183, 11%, 64%); }

    .floodLight { fill: hsl(54, 61%, 74%); }
    .hoodFront { fill: hsl(12, 26%, 54%); }
    .mirror { fill: hsl(0, 11%, 44%); }
    .bodyLight { fill: hsl(0, 61%, 56%); }
    .body { fill: hsl(0, 49%, 52%); }
    .bodyDark { fill: hsl(0, 42%, 43%); }
    .ornament { fill: hsl(211, 47%, 62%); }
    .grill { fill: hsl(215, 10%, 45%); }
    .bar { fill: hsl(268, 11%, 66%); }
    .cushion { fill: hsl(69, 12%, 77%); }
    .interior { fill: hsl(56, 6%, 52%); }
    .metalDark { fill: hsl(56, 15%, 25%); }
}
