.Fixture__temporaryRect {
    fill: rgba(250, 200, 200, 0.25);
    vector-effect: non-scaling-stroke;
    stroke-width: 1px;
    stroke: #444;
}

// .Fixture__left {
//     transition: left $animationDuration__default;
//     left: -100%;

//     .Scene__shown
//     & {
//         left: 0;
//     }
// }

// .Fixture__right {
//     transition: right $animationDuration__default;
//     left: auto;
//     right: -100%;

//     .Scene__shown
//     & {
//         right: 0;
//     }
// }

.Fixture {
    transition: opacity $animationDuration__default;
    opacity: 0;

    .Scene__shown
    & {
        opacity: 1;
    }
}