.shadowDark { fill: hsl(0, 0%, 17%); }
.shadow { fill: hsl(0, 0%, 22%); }

.darkRoom .darkRoom#{$suffix} {
    .shadow { fill: hsl(0, 0%, 16%); }
}

.nightTime .nightTime#{$suffix} {
    .shadow { fill: hsl(0, 0%, 17%); }
}
