.buddhaShrine#{$suffix} {
    .base { fill: hsl(34, 28%, 32%); }
    .hair { fill: hsl(34, 28%, 37%); }
    .robe { fill: hsl(34, 28%, 39%); }
    .skin { fill: hsl(34, 28%, 42%); }
    .flange { fill: hsl(34, 28%, 35%); }
}
