// .dullFutureDarkest { fill: hsl($HUE_FUTURE, 20%, 37%); }
// .dullFutureDarker { fill: hsl($HUE_FUTURE, 20%, 42%); }
// .dullFutureDark { fill: hsl($HUE_FUTURE, 20%, 47%); }
// .dullFutureMediumDark { fill: hsl($HUE_FUTURE, 20%, 52%); }
// .dullFutureMedium { fill: hsl($HUE_FUTURE, 20%, 57%); }
// .dullFutureMediumLight { fill: hsl($HUE_FUTURE, 20%, 62%); }
// .dullFutureLight { fill: hsl($HUE_FUTURE, 20%, 67%); }
// .dullFutureLighter { fill: hsl($HUE_FUTURE, 20%, 72%); }
// .dullFutureLightest { fill: hsl($HUE_FUTURE, 20%, 77%); }

// .flatFutureDarkest { fill: hsl($HUE_FUTURE, 33%, 37%); }
// .flatFutureDarker { fill: hsl($HUE_FUTURE, 33%, 42%); }
// .flatFutureDark { fill: hsl($HUE_FUTURE, 33%, 47%); }
// .flatFutureMediumDark { fill: hsl($HUE_FUTURE, 33%, 52%); }
// .flatFutureMedium { fill: hsl($HUE_FUTURE, 33%, 57%); }
// .flatFutureMediumLight { fill: hsl($HUE_FUTURE, 33%, 62%); }
// .flatFutureLight { fill: hsl($HUE_FUTURE, 33%, 67%); }
// .flatFutureLighter { fill: hsl($HUE_FUTURE, 33%, 72%); }
// .flatFutureLightest { fill: hsl($HUE_FUTURE, 33%, 77%); }