.stJosephsAnnex {
    .wall {
        fill: #a8b7e9;
    }

    .trim {
        fill: #827144;
    }

    .door {
        fill: #ccb16b;
    }

    .window {
        fill: #8ffffd;
    }

    .windowDisplayLine {
        stroke: #005d8f;
    }

    .roofSide {
        fill: #a19065;
    }

    .roofTop {
        fill: #b09d6e;
    }
}

.berkeleyLamppost {
    .pole {
        fill: #333;
    }

    .brass {
        fill: #660;
    }

    .light {
        fill: #ff9;
    }

    .copper {
        fill: #396;
    }
}

.foliageBackdrop {
    .foliage {
        fill: #445e40;
    }
}