.foliageBackdrop {
    .foliage { fill: #445e40; }
}

.stJosephsChurch {
    .foundationRear { fill: #665b63; }
    .wallRear { fill: #b0769c; }
    .trimRear { fill: #a3ad84; }
    .doorRear { fill: #85785a; }
    .roofTopRear { fill: #424d47; }
    .foundationMiddle { fill: #7a6d76; }
    .bushRear { fill: #43754e; }
    .bushFront { fill: #4d875a; }
    .wallMiddleLight { fill: #d48ebd; }
    .wallMiddleDark { fill: #c282ad; }
    .trimMiddleDark { fill: #a6b086; }
    .trimMiddle { fill: #c3cf9d; }
    .trimMiddleLight { fill: #e0edb5; }
    .window { fill: #7aa9c4; }
    .windowDisplayLine { stroke: #3b5b63; }
    .slit { fill: #535451; }
    .roofSide { fill: #4d5953; }
    .roofTop { fill: #58665f; }
    .cross { fill: #b39861; }
    .ball { fill: #c4a76a; }
    .foundationFront { fill: #8c7d88; }
    .wallFront { fill: #e096c8; }
    .trimBeam { fill: #bfb8ae; }
    .beam { fill: #e0d7cc; }
    .trimFrontLight { fill: #c7cfaa; }
    .marbleLight { fill: #e0dccc; }
    .trimFrontDark { fill: #9fa688; }
    .marbleDark { fill: #adaa9e; }
    .trimFrontDarkest { fill: #898f75; }
    .frame { fill: #fffde3; }
    .stainedGlass { fill: #7895e7; }
    .door { fill: #8f8161; }
    .step { fill: #5c649e; }
    .lamp { fill: #dfe7a6; }
    .lampholder { fill: #403b36; }
    .stJosephRear { fill: #adada2; }
    .robe { fill: #5c5641; }
    .scroll { fill: #787871; }
    .book { fill: #6b6b65; }
    .stJosephFront { fill: #b7b8ac; }
}

.stJosephsAnnex {
    .wall { fill: #a8b7e9; }
    .trim { fill: #827144; }
    .door { fill: #ccb16b; }
    .window { fill: #8ffffd; }
    .windowDisplayLine { stroke: #005d8f; }
    .roofSide { fill: #a19065; }
    .roofTop { fill: #b09d6e; }
}

.berkeleyLamppost {
    .pole { fill: #333; }
    .brass { fill: #660; }
    .light { fill: #ff9; }
    .copper { fill: #396; }
}