@import '../../../scss/constants/border';
@import '../../../scss/constants/colour';
@import '../../../scss/constants/icon';
@import '../../../scss/constants/shadow';
@import '../../../scss/constants/transition';

.VerseColour {
    background-color: $colour__neutral__light;

    .DW__userAgentDesktop
    .ShW__canTransitionAfterSongChange
    & {
        transition:
            top $transitionDuration__fast,
            left $transitionDuration__fast,
            width $transitionDuration__fast,
            height $transitionDuration__fast,
            background-color $transitionDuration__fast;
    }

    .TW__showPastFutureLyrics
    &,
    .TW__showPastFutureLyrics
    .Verse__notCursor.Verse__selected
    & {
        background-color: $colour__neutral__dark;
    }

    .TW__isStationary.TW__isAnchorUnmoused
    .Verse__notCursor.Verse__notSelected:hover
    & {
        background-color: $colour__interact__light;
        box-shadow: $boxShadow__activeVerse;
    }

    .Verse__cursor
    & {
        background-color: $colour__paused__empty;
    }

    .PlW__isPlaying
    .Verse__cursor
    & {
        background-color: $colour__playing__empty;
    }

    .TW__showPastFutureLyrics
    .Verse__cursor
    & {
        background-color: $colour__access__light;
    }

    .TW__verseActive
    .Verse__cursor
    &.VerseColour__notVerseBar {
        box-shadow: $boxShadow__activeVerse;
    }

    .TW__verseInactive
    .Verse__cursor.Verse__slider
    & {
        box-shadow: $boxShadow__cursorVerse__slider;
        border-radius:
            $borderRadius__narrow
            $borderRadius__narrow
            $borderRadius__narrower
            $borderRadius__narrower;
        top: -2px;
        left: -0.5px;
        height: calc(100% + 3px);
        width: calc(100% + 1px);
    }

    .TW__verseInactive
    .Verse__cursor.Verse__text
    & {
        box-shadow: $boxShadow__cursorVerse;
        border-radius: $borderRadius__narrow;
        top: -$MARGIN_THIN;
        left: -$MARGIN_THIN;
        height: calc(100% + #{$MARGIN_THIN * 2});
        width: calc(100% + #{$MARGIN_THIN * 2});
    }
}

/**
 * Border radius is needed on both parent and child because of box shadow, I
 * think.
 */
.VerseBar__animatable,
.VerseColour__inVerseBar {
    border-radius: $borderRadius__narrow;
}
