/**
 * Used by OverlayPopups only. For desktop, OverviewLogue shares styling with
 * Lyric.
 */
.topHeight__overlayPopups__desktop {

    top: $js__height__menu;
    height: calc(100% - #{$js__height__menu});
}

/**
 * Used by both OverlayPopups and OverviewLogue.
 */
.topHeight__overlayPopups__mobile {

    .DW__mobile
    & {
        top: $js__height__menu;
        height: calc(100% - #{$js__height__menu});
    }

    .DW__phone
    & {
        top: $js__topOffsetTruncated__twoRowMenu__phone;
        height: calc(100% - #{$js__topOffsetTruncated__twoRowMenu__phone});
    }
}

// Always apply this styling for OverlayPopups.
.RM__twoRowMenu
.topHeight__overlayPopups,

// Only apply this styling for OverviewLogue in mobile.
.DW__mobile
.RM__twoRowMenu
.topHeight__overlayPopups__mobile {

    top: $js__topOffsetTruncated__twoRowMenu;
    height: calc(100% - #{$js__topOffsetTruncated__twoRowMenu});
}
