/**
 * Used by OverlayPopups only. For desktop, OverviewLogue shares styling with
 * Lyric.
 */
.topHeight__overlayPopups__desktop {

    top: $js__height__menu;
    height: calc(100% - #{$js__height__menu});
}

/**
 * Used by both OverlayPopups and OverviewLogue.
 */
.topHeight__overlayPopups__mobile {

    .DW__mobileWidth
    & {
        top: $js__height__menu;
        height: calc(100% - #{$js__height__menu});
    }

    .RW__twoRowMenu
    & {
        top: $js__height__twoRowMenu;
        height: calc(100% - #{$js__height__twoRowMenu});
    }
}
