.OverlayPopups {

    top: $js__height__menu;
    height: calc(100% - #{$js__height__menu});

    .RW__twoRowMenu
    & {
        top: $js__height__twoRowMenu;
        height: calc(100% - #{$js__height__twoRowMenu});
    }
}
