.bedroomFurniture#{$suffix} {
    .frameDarker { fill: #706455; }
    .frameMedium { fill: #8f7c62; }
    .frameLight { fill: #a08d6b; }
    .frameDark { fill: #807161; }
    .drawerDark { fill: #ada185; }
    .drawerMedium { fill: #c2b595; }
    .drawerLight { fill: #d9c9a7; }
    .mount { fill: #a1a691; }
    .handle { fill: #ced4ba; }
    .ball { fill: #847f76; }
}
