@import '../../../scss/constants/icon';
@import '../../../scss/constants/pitch';

.popupView__pitchWidth {
    max-width: $width__marketingContainer + $margin__thick * 2;
}

.PitchPopupViewContent {
    background-color: hsl(47, 21%, 61%);
    padding: $margin__thick $margin__thick 0;

    display: flex;
    flex-direction: column;
}