// Skews dark.
// .rubberDarkest { fill: hsl(240, 5%, 17%); }
.rubberDarker { fill: hsl(240, 5%, 22%); }
.rubberDark { fill: hsl(240, 5%, 27%); }
.rubberMediumDark { fill: hsl(240, 5%, 32%); }
.rubberMedium { fill: hsl(240, 5%, 37%); }
.rubberMediumLight { fill: hsl(240, 5%, 42%); }
.rubberLight { fill: hsl(240, 5%, 47%); }
// .rubberLighter { fill: hsl(240, 5%, 52%); }
// .rubberLightest { fill: hsl(240, 5%, 57%); }

.darken__parent
.darken#{$suffix} {
    .rubberMediumDark { fill: hsl(240, 3%, 21%); }
    .rubberMedium { fill: hsl(240, 3%, 24%); }
    .rubberLight { fill: hsl(240, 3%, 29%); }
}