.steel#{$suffix} {
    .steelDark { fill: hsl(180, 8%, 47%); }
    .steelMediumDark { fill: hsl(180, 9%, 52%); }
    .steelMedium { fill: hsl(180, 10%, 57%); }
    .steelMediumLight { fill: hsl(180, 11%, 62%); }
    .steelLight { fill: hsl(180, 12%, 67%); }
}
