.tray#{$suffix} {
    .trayBasinDark { fill: hsl(251, 21%, 56%); }
    .trayBasinMedium { fill: hsl(252, 26%, 61%); }
    .trayBasinLight { fill: hsl(252, 32%, 66%); }
    .trayRim { fill: hsl(240, 20%, 68%); }
}