.BancroftShrubs {
    .bulb { fill: #030; }
    .leavesBottom { fill: #033; }
    .leavesRight { fill: #363; }
    .leavesLeft { fill: #063; }
}

.Signpost {
    .pole { fill: #333; }
    .bottom { fill: #ccc; }
    .front { fill: #fff; }
}
