.bancroftShrubs {
    .bulb {
        fill: #030;
    }

    .leavesBottom {
        fill: #033;
    }

    .leavesRight {
        fill: #363;
    }

    .leavesLeft {
        fill: #063;
    }
}

.signpost {
    .signBottom {
        fill: #8c8e6f;
    }

    .signFront {
        fill: #d2d3cd;
    }

    .pole {
        fill: #69797a;
    }
}