.campanile {
    .foliage {
        fill: #445e40;
    }

    .spireInner {
        fill: #5f8770;
    }

    .towerInner {
        fill: #d4d4cc;
    }

    .towerOuter {
        fill: #e0e0dc;
    }

    .spireOuter {
        fill: #67937a;
    }

    .window {
        fill: #44453d;
    }

    .hourDisplayLine {
        stroke: #6e7341;
    }

    .handInner {
        fill: #5e916f;
    }

    .handOuter {
        fill: #639473;
    }

    .wallSideOuter {
        fill: #a2a392;
    }

    .wallSideInner {
        fill: #999c84;
    }

    .wallFrontOuter {
        fill: #cfd1bc;
    }

    .wallFrontMiddle {
        fill: #c5c7b1;
    }

    .wallFrontInner {
        fill: #b7ba9e;
    }

    .ledgeSide {
        fill: #8fa88f;
    }

    .ledgeFront {
        fill: #b2d1b2;
    }

    .stepTop {
        fill: #8b94cc;
    }

    .stepMiddle {
        fill: #9aa2d9;
    }

    .stepBottom {
        fill: #a8b0e0;
    }

    .bushSmall {
        fill: #68b085;
    }

    .bushMiddle {
        fill: #69a180;
    }

    .bushLarge {
        fill: #67937a;

    }
}

.bancroftShrubs {
    .bulb {
        fill: #030;
    }

    .leavesBottom {
        fill: #033;
    }

    .leavesRight {
        fill: #363;
    }

    .leavesLeft {
        fill: #063;
    }
}

.berkeleyTreeDouble {
    .trunkWide {
        fill: #57492b;
    }

    .leavesWide {
        fill: #4f8c62;
    }

    .trunkTall {
        fill: #635331;
    }

    .leavesTall {
        fill: #549669;
    }
}

.signpost {
    .signBottom {
        fill: #8c8e6f;
    }

    .signFront {
        fill: #d2d3cd;
    }

    .pole {
        fill: #69797a;
    }
}