.truncated-main {
    display: none;
}

.show-only-right {
    .complete-main {
        display: none;
    }

    .truncated-main {
        display: inline;
    }
}

.double-lines-block {
    display: flex;
    justify-content: space-between;
}

// Make font sizes smaller when showing both columns.
.is-desktop, .tablet-width {
    &.show-both-columns {

        .double-lines-block, .has-side {
            font-size: 0.96em;
        }
    }
}

.mini-width {
    &.show-both-columns {

        // In mini, only has side can still show both columns.
        .has-side {
            font-size: 0.96em * @mini-multiplier;
        }
    }
}
