@verse-bar-margin: 8px;
@verse-bar-hidden-offset: -50px;

@verse-bar-desktop-margins: @lyric-button-side-padding * 2 +
                            @app-large-icon-diameter * 2 +
                            @verse-bar-margin * 2;

@verse-bar-tablet-margins: @lyric-button-side-padding * 2 +
                           @app-tablet-large-icon-diameter * 2 +
                           @verse-bar-margin * 2;

@verse-bar-mini-margins: @lyric-button-side-padding * 2 +
                         @app-mini-large-icon-diameter * 2 +
                         @verse-bar-margin * 2;

@verse-bar-phone-margins: @lyric-button-side-padding * 2 +
                          @app-icon-diameter * 2 +
                          @verse-bar-margin * 2;

.verse-bar-block {
    position: absolute;
    left: 50%;
    width: 100%;

    max-width: ~"calc(100% - @{verse-bar-desktop-margins})";
    z-index: @selected-verse-bar-z-index;

    &.above {
        top: @verse-bar-hidden-offset;
        margin-top: @verse-bar-margin;
        transition: top @animation-fast, transform @animation-fast;

        .verse-bar {
            box-shadow: @verse-bar-above-box-shadow;
        }
    }

    &.below {
        bottom: @verse-bar-hidden-offset;
        margin-bottom: @verse-bar-margin;
        transition: bottom @animation-fast, transform @animation-fast;

        .verse-bar {
            box-shadow: @verse-bar-below-box-shadow;
        }
    }

    transform: translateX(-50%) scale(0);
    // transform: scale(0);
}

.verse-bar-above {
    .verse-bar-block {
        &.above {
            top: 0;
            transform: translateX(-50%) scale(1);
            // transform: scale(1);
        }
    }
}

.verse-bar-below {
    .verse-bar-block {
        &.below {
            bottom: 0;
            transform: translateX(-50%) scale(1);
            // transform: scale(1);
        }
    }
}

.tablet-width {
    .verse-bar-block {
        max-width: ~"calc(100% - @{verse-bar-tablet-margins})";
    }
}

.mini-width {
    .verse-bar-block {
        max-width: ~"calc(100% - @{verse-bar-mini-margins})";
    }
}

.phone-width {
    .verse-bar-block {
        max-width: ~"calc(100% - @{verse-bar-phone-margins})";
    }
}

.verse-bar {
    max-width: 100%;

    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;

    .text-span {
        z-index: @verse-bar-text-z-index;
    }
}

.slider-moving {

    .verse-bar {
        background-color: @audio-neutral-colour;
    }
}
