.verse-audio-indicator {
    position: absolute;
    top: 0;
    left: @verse-padding * 0.5;
    font-size: 0.75em;
    opacity: 1;

    transition: opacity @animation-default;
}

.interactivated {
    .verse-audio-indicator {
        opacity: 0;
    }
}
