.truncated-main {
    display: none;
}

.show-only-right {
    .complete-main {
        display: none;
    }

    .truncated-main {
        display: inline;
    }
}

.double-lines-block {
    display: flex;
    justify-content: space-between;
}
