$width__underline__bleed: 0.125em;

.Underline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    height: 2px;
    transform: translateY(50%);

    visibility: hidden;

    .Rancho
    & {
        bottom: 18%;
    }

    .DW__userAgentMobile
    & {
        transition:
            height $animationDuration__faster,
            visibility $animationDuration__fast,
            background-color $animationDuration__fast;
    }

    // "Root accessed letter Enter, child accessed letter Enter."
    .PaLEnter
    .CaLEnter
    &.Underline__accessed {
        background-color: $colour__accessedLinkActive !important;
    }

    // Specific selector to override.
    .TW__sliderMoving
    .Anchor
    & {
        visibility: hidden;
    }
}

.Underline__accessed,
.Underline__selected,
.Anchor__selectable:hover .Underline {
    height: 35%;
}

.Underline__accessed.Underline__isDot,
.Underline__selected.Underline__isDot,
.Anchor__selectable:hover .Underline__isDot {
    height: 25%;
}

.Underline__isNotWiki {
    border-radius: $borderRadius__narrow;
}

.Underline__isWiki__firstChild {
    border-top-left-radius: $borderRadius__narrow;
    border-bottom-left-radius: $borderRadius__narrow;
}
.Underline__isWiki__notFirstChild {
    left: -$width__underline__bleed;
}
.Underline__isWiki__lastChild {
    border-top-right-radius: $borderRadius__narrow;
    border-bottom-right-radius: $borderRadius__narrow;
}
.Underline__isWiki__notLastChild {
    right: -$width__underline__bleed;
}
