.Underline {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 35%;

    overflow: hidden;
}

.Underline__isNotWiki {
    border-radius: $borderRadius__narrow;
}

.Underline__isDot {
    height: 25%;
}

.Underline__isWiki {
    $width__underline__bleed: 0.125em;

    .TextAnchor__singleEntity:first-child
    & {
        border-top-left-radius: $borderRadius__narrow;
        border-bottom-left-radius: $borderRadius__narrow;
    }

    .TextAnchor__singleEntity:last-child
    & {
        border-top-right-radius: $borderRadius__narrow;
        border-bottom-right-radius: $borderRadius__narrow;
    }

    .TextAnchor__singleEntity:not(:last-child)
    & {
        right: -$width__underline__bleed;
    }

    .TextAnchor__singleEntity:not(:first-child)
    & {
        left: -$width__underline__bleed;
    }
}

.Underline__bar {
    visibility: hidden;

    .parent__shown
    & {
        transition:
            opacity $animationDuration__default,
            background-color $animationDuration__default;
    }

    // "Root accessed letter Enter, child accessed letter Enter."
    .PaLEnter
    .CaLEnter
    &.Underline__bar__accessed {
        background-color: $colour__accessedLinkActive !important;
    }
}

.RM__sliderMoving {

    .Underline__bar {
        display: none;
    }
}

.gradientMask__underline {
    $gradient__underline: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 1.0)
    );

    // Not taken care of by autoprefixer, unfortunately.
    -webkit-mask-image: $gradient__underline;
    mask-image: $gradient__underline;
}
