.Fixture__temporaryRect {
    fill: rgba(250, 200, 200, 1);
    vector-effect: non-scaling-stroke;
    stroke-width: 1px;
    stroke: #444;
}

.Fixture {
    transition: left $animationDuration__default;
    left: -100%;

    .Scene__shown
    & {
        left: 0;
    }
}
