// Constants prefixed with js *must* be the same in JavaScript.

// Left and right padding for each book.
@js__padding__navColumnChild: @js__margin__thin;

// Margin to accommodate last title. Keep for now.
@js__margin__navLastTitle: 0;

// Number of icons.
@count__icons__single: 9 + 2;
@count__icons__double: 18 + 2;

/**
 * Each gap between the icons within a book is a single unit. The gaps between
 * books can be wider.
 */
@multiplier__gap__medium: 2;
@multiplier__gap__large: 3;

// Number of gap units.
@js__count__gaps__single: 16;
@js__count__gaps__double: 26;

@width__gap__singleMedium: @multiplier__gap__medium / @js__count__gaps__single;
@width__gap__singleLarge: @multiplier__gap__large / @js__count__gaps__single;

@width__gap__doubleMedium: @multiplier__gap__medium / @js__count__gaps__double;
@width__gap__doubleLarge: @multiplier__gap__large / @js__count__gaps__double;


@screenWidth__full: 100vw;

/************************************************
 * MONITOR WIDTH: double, double shrink, single *
 ************************************************/

/**
 * Total width of wide desktop nav field is:
 * 20 * @js__length__icon +
 * 1 * @js__length__iconLarge
 * 10 * @js__padding__navColumnChild +
 * 1 * @js__margin__navLastTitle
 *
 * Monitor adds Golden Cord lyric column width.
 *
 * Margins are as follows:
 * nav toggle right margin: 1 * 3 units
 * between books margin: 1 * 3 units
 * between logue and book margin: 2 * 2 units
 * between buttons: 16 * 1 unit
 * Total units: 26 units
 */

@constant__doubleUnit__monitor:
    @js__width__goldenCord +
    @js__length__icon * @count__icons__double +
    @js__length__iconLarge +
    @js__padding__navColumnChild * 10 +
    @js__margin__navLastTitle;

@monitor-small-unit: ~"calc((@{screenWidth__full} - @{constant__doubleUnit__monitor}) / @{js__count__gaps__double})";

@monitor-multiplier__gap__large: ~"calc((@{screenWidth__full} - @{constant__doubleUnit__monitor}) * @{width__gap__doubleLarge})";

@monitor-book-offset-constant: -@width__gap__doubleMedium * (@js__width__goldenCord + @count__icons__double * @js__length__icon + @js__length__iconLarge + 10 * @js__padding__navColumnChild + @js__margin__navLastTitle) + @js__length__icon + 2 * @js__padding__navColumnChild;

@monitor-book-offset: ~"calc(@{width__gap__doubleMedium} * @{screenWidth__full} + @{monitor-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px. Note that
 * without the last title width, this will never happen now.
 *
 * Each unit is a pixel. There are 26 units, so 26 pixels.
 * To be divided amongst 20 icons.
 */

@monitor-shrink-icon-constant: @js__width__goldenCord + 10 * @js__padding__navColumnChild + @js__length__iconLarge + @js__margin__navLastTitle + @js__count__gaps__double * 1px;

@monitor-shrink-icon: ~"calc((@{screenWidth__full} - @{monitor-shrink-icon-constant}) / @{count__icons__double})";

@monitor-shrink-book-offset-constant: @multiplier__gap__medium * 1px + @js__padding__navColumnChild * 2 - (@js__width__goldenCord + 10 * @js__padding__navColumnChild + @js__length__iconLarge + @js__margin__navLastTitle + @js__count__gaps__double) / @count__icons__double;

@monitor-shrink-book-offset: ~"calc(@{screenWidth__full} / @{count__icons__double} + @{monitor-shrink-book-offset-constant})";

@monitor-shrink-toggle-width-constant: @js__padding__navColumnChild * 2 - (@js__width__goldenCord + 10 * @js__padding__navColumnChild + @js__margin__navLastTitle + @js__count__gaps__double * 1px) / @count__icons__double;

@monitor-shrink-toggle-width: ~"calc(@{screenWidth__full} / @{count__icons__double} + @{monitor-shrink-toggle-width-constant})";

/**
 * Breakpoint to switch to single column is when icon width is 36px.
 *
 * Total width of single column desktop nav field is:
 * 11 * @js__length__icon +
 * 1 * @js__length__iconLarge
 * 8 * @js__padding__navColumnChild +
 * 1 * @js__margin__navLastTitle
 *
 * Margins are as follows:
 * nav toggle right margin: 1 * 3 units
 * between books margin: 1 * 3 units
 * between logue and book margin: 1 * 2 units
 * between buttons: 8 * 1 unit
 * Total units: 16 units
 */

@constant__singleUnit__monitor:
    @js__width__goldenCord +
    @js__length__icon * @count__icons__single +
    @js__length__iconLarge +
    @js__padding__navColumnChild * 8 +
    @js__margin__navLastTitle;

@monitor-single-small: ~"calc((@{screenWidth__full} - @{constant__singleUnit__monitor}) / @{js__count__gaps__single})";
@monitor-single-large: ~"calc((@{screenWidth__full} - @{constant__singleUnit__monitor}) * @{width__gap__singleLarge})";

@monitor-single-book-offset-constant: -@width__gap__singleMedium * (@js__width__goldenCord + @count__icons__single * @js__length__icon + @js__length__iconLarge + 10 * @js__padding__navColumnChild + @js__margin__navLastTitle) + @js__length__icon + 2 * @js__padding__navColumnChild;

@monitor-single-book-offset: ~"calc(@{width__gap__singleMedium} * @{screenWidth__full} + @{monitor-single-book-offset-constant})";

/***************************************
 * LAPTOP WIDTH: single, single shrink *
 ***************************************/

/**
 * Monitor does not need to shrink icon for single column before screen width
 * switches to laptop at 1400px.
 *
 * Laptop width is too narrow for double column, so begins with single column.
 * Laptop follows same equations, with Uncanny Valley lyric column width.
 */

@laptop-unit-constant:
    @js__width__uncannyValley +
    @js__length__icon * @count__icons__single +
    @js__length__iconLarge +
    @js__padding__navColumnChild * 8 +
    @js__margin__navLastTitle;

@laptop-small: ~"calc((@{screenWidth__full} - @{laptop-unit-constant}) / @{js__count__gaps__single})";
@laptop-large: ~"calc((@{screenWidth__full} - @{laptop-unit-constant}) * @{width__gap__singleLarge})";

@laptop-book-offset-constant: -@width__gap__singleMedium * (@js__width__uncannyValley + @count__icons__single * @js__length__icon + @js__length__iconLarge + 10 * @js__padding__navColumnChild + @js__margin__navLastTitle) + @js__length__icon + 2 * @js__padding__navColumnChild;

@laptop-book-offset: ~"calc(@{width__gap__singleMedium} * @{screenWidth__full} + @{laptop-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 *
 * In single column, there are 16 units, so 16 pixels.
 * To be divided amongst 11 icons.
 */

@laptop-shrink-icon-constant:
    @js__width__uncannyValley +
    @js__padding__navColumnChild * 8 +
    @js__length__iconLarge +
    @js__margin__navLastTitle +
    @js__count__gaps__single * 1px;

@laptop-shrink-icon: ~"calc((@{screenWidth__full} - @{laptop-shrink-icon-constant}) / @{count__icons__single})";

@laptop-shrink-book-offset-constant: @multiplier__gap__medium * 1px + @js__padding__navColumnChild * 2 - (@js__width__uncannyValley + 8 * @js__padding__navColumnChild + @js__length__iconLarge + @js__margin__navLastTitle + @js__count__gaps__single) / @count__icons__single;

@laptop-shrink-book-offset: ~"calc(@{screenWidth__full} / @{count__icons__single} + @{laptop-shrink-book-offset-constant})";

@laptop-shrink-toggle-width-constant: @js__padding__navColumnChild * 2 - (@js__width__uncannyValley + 8 * @js__padding__navColumnChild + @js__margin__navLastTitle + @js__count__gaps__single * 1px) / @count__icons__single;

@laptop-shrink-toggle-width: ~"calc(@{screenWidth__full} / @{count__icons__single} + @{laptop-shrink-toggle-width-constant})";

/***********************************************
 * TABLET WIDTH: double, double shrink, single *
 ***********************************************/

/**
 * Tablet/mini follows the same equations, without a lyric column width, and
 * without nav last title margin. Switch at 1100px.
 */

@tablet-double-unit-constant:
    @js__length__icon * @count__icons__double +
    @js__length__iconLarge__tablet +
    @js__padding__navColumnChild * 10;

@tablet-small-unit: ~"calc((@{screenWidth__full} - @{tablet-double-unit-constant}) / @{js__count__gaps__double})";
@tablet-multiplier__gap__large: ~"calc((@{screenWidth__full} - @{tablet-double-unit-constant}) * @{width__gap__doubleLarge})";

@tablet-book-offset-constant: -@width__gap__doubleMedium * (@count__icons__double * @js__length__icon + @js__length__iconLarge__tablet + 10 * @js__padding__navColumnChild) + @js__length__icon + 2 * @js__padding__navColumnChild;

@tablet-book-offset: ~"calc(@{width__gap__doubleMedium} * @{screenWidth__full} + @{tablet-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 */

@tablet-shrink-icon-constant: 10 * @js__padding__navColumnChild + @js__length__iconLarge__tablet + @js__count__gaps__double * 1px;

@tablet-shrink-icon: ~"calc((@{screenWidth__full} - @{tablet-shrink-icon-constant}) / @{count__icons__double})";

@tablet-shrink-book-offset-constant: @multiplier__gap__medium * 1px + @js__padding__navColumnChild * 2 - (10 * @js__padding__navColumnChild + @js__length__iconLarge__tablet + @js__count__gaps__double) / @count__icons__double;

@tablet-shrink-book-offset: ~"calc(@{screenWidth__full} / @{count__icons__double} + @{tablet-shrink-book-offset-constant})";

/**
 * Breakpoint to switch to single column is when icon width is 36px.
 */

@tablet-single-unit-constant:
    @js__length__icon * @count__icons__single +
    @js__length__iconLarge__tablet +
    @js__padding__navColumnChild * 8;

@tablet-single-small: ~"calc((@{screenWidth__full} - @{tablet-single-unit-constant}) / @{js__count__gaps__single})";
@tablet-single-large: ~"calc((@{screenWidth__full} - @{tablet-single-unit-constant}) * @{width__gap__singleLarge})";

@tablet-single-book-offset-constant: -@width__gap__singleMedium * (@count__icons__single * @js__length__icon + @js__length__iconLarge__tablet + 10 * @js__padding__navColumnChild) + @js__length__icon + 2 * @js__padding__navColumnChild;

@tablet-single-book-offset: ~"calc(@{width__gap__singleMedium} * @{screenWidth__full} + @{tablet-single-book-offset-constant})";

/*************************************
 * MINI WIDTH: single, single shrink *
 *************************************/

@mini-unit-constant:
    @js__length__icon * @count__icons__single +
    @js__length__iconLarge__mini +
    @js__padding__navColumnChild * 8;

@mini-small: ~"calc((@{screenWidth__full} - @{mini-unit-constant}) / @{js__count__gaps__single})";
@mini-large: ~"calc((@{screenWidth__full} - @{mini-unit-constant}) * @{width__gap__singleLarge})";

@mini-book-offset-constant: -@width__gap__singleMedium * (@count__icons__single * @js__length__icon + @js__length__iconLarge__mini + 10 * @js__padding__navColumnChild) + @js__length__icon + 2 * @js__padding__navColumnChild;

@mini-book-offset: ~"calc(@{width__gap__singleMedium} * @{screenWidth__full} + @{mini-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 */

@mini-shrink-icon-constant:
    @js__padding__navColumnChild * 8 +
    @js__length__iconLarge__mini +
    @js__count__gaps__single * 1px;

@mini-shrink-icon: ~"calc((@{screenWidth__full} - @{mini-shrink-icon-constant}) / @{count__icons__single})";

@mini-shrink-book-offset-constant: @multiplier__gap__medium * 1px + @js__padding__navColumnChild * 2 - (8 * @js__padding__navColumnChild + @js__length__iconLarge__mini + @js__count__gaps__single) / @count__icons__single;

@mini-shrink-book-offset: ~"calc(@{screenWidth__full} / @{count__icons__single} + @{mini-shrink-book-offset-constant})";

@width__navToggle:
    @js__length__iconLarge +
    @js__padding__navColumnChild * 2;

@width__navToggle__tablet:
    @js__length__iconLarge__tablet +
    @js__padding__navColumnChild * 2;

@width__navToggle__mini:
    @js__length__iconLarge__mini +
    @js__padding__navColumnChild * 2;
