@screenWidth__full: 100vw;

// These values *must* be the same in js.
@js__padding__navColumnChild: @margin__thin; // Left and right padding for each book.
@js__margin__navLastTitle: 50px; // Margin to accommodate last title.

// Number of icons.
@count__iconsSingle: 9 + 2;
@count__iconsDouble: 18 + 2;

/**
 * Each gap between the icons within a book is one unit. The gaps between books
 * can be wider.
 */
@count__mediumUnit: 2;
@count__largeUnit: 3;

// Number of gap units.
@count__singleUnits: 16;
@count__doubleUnits: 26;

@count__doubleUnits__medium: @count__mediumUnit / @count__doubleUnits;
@count__doubleUnits__large: @count__largeUnit / @count__doubleUnits;

@medium-count__singleUnits: @count__mediumUnit / @count__singleUnits;
@large-count__singleUnits: @count__largeUnit / @count__singleUnits;

/************************************************
 * MONITOR WIDTH: double, double shrink, single *
 ************************************************/

/**
 * Total width of wide desktop nav field is:
 * 20 * @js__length__icon +
 * 1 * @length__iconLarge
 * 10 * @js__padding__navColumnChild +
 * 1 * @js__margin__navLastTitle
 *
 * Monitor adds Golden Cord lyric column width.
 *
 * Margins are as follows:
 * nav toggle right margin: 1 * 3 units
 * between books margin: 1 * 3 units
 * between logue and book margin: 2 * 2 units
 * between buttons: 16 * 1 unit
 * Total units: 26 units
 */

@constant__doubleUnit__monitor: @js__width__goldenCord + @count__iconsDouble * @js__length__icon + @length__iconLarge + 10 * @js__padding__navColumnChild + @js__margin__navLastTitle;

@monitor-small-unit: ~"calc((@{screenWidth__full} - @{constant__doubleUnit__monitor}) / @{count__doubleUnits})";
@monitor-count__largeUnit: ~"calc((@{screenWidth__full} - @{constant__doubleUnit__monitor}) * @{count__doubleUnits__large})";

@monitor-book-offset-constant: -@count__doubleUnits__medium * (@js__width__goldenCord + @count__iconsDouble * @js__length__icon + @length__iconLarge + 10 * @js__padding__navColumnChild + @js__margin__navLastTitle) + @js__length__icon + 2 * @js__padding__navColumnChild;

@monitor-book-offset: ~"calc(@{count__doubleUnits__medium} * @{screenWidth__full} + @{monitor-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 *
 * Each unit is a pixel. There are 26 units, so 26 pixels.
 * To be divided amongst 20 icons.
 */

@monitor-shrink-icon-constant: @js__width__goldenCord + 10 * @js__padding__navColumnChild + @length__iconLarge + @js__margin__navLastTitle + @count__doubleUnits * 1px;

@monitor-shrink-icon: ~"calc((@{screenWidth__full} - @{monitor-shrink-icon-constant}) / @{count__iconsDouble})";

@monitor-shrink-book-offset-constant: @count__mediumUnit * 1px + @js__padding__navColumnChild * 2 - (@js__width__goldenCord + 10 * @js__padding__navColumnChild + @length__iconLarge + @js__margin__navLastTitle + @count__doubleUnits) / @count__iconsDouble;

@monitor-shrink-book-offset: ~"calc(@{screenWidth__full} / @{count__iconsDouble} + @{monitor-shrink-book-offset-constant})";

@monitor-shrink-toggle-width-constant: @js__padding__navColumnChild * 2 - (@js__width__goldenCord + 10 * @js__padding__navColumnChild + @js__margin__navLastTitle + @count__doubleUnits * 1px) / @count__iconsDouble;

@monitor-shrink-toggle-width: ~"calc(@{screenWidth__full} / @{count__iconsDouble} + @{monitor-shrink-toggle-width-constant})";

/**
 * Breakpoint to switch to single column is when icon width is 36px.
 *
 * Total width of single column desktop nav field is:
 * 11 * @js__length__icon +
 * 1 * @length__iconLarge
 * 8 * @js__padding__navColumnChild +
 * 1 * @js__margin__navLastTitle
 *
 * Margins are as follows:
 * nav toggle right margin: 1 * 3 units
 * between books margin: 1 * 3 units
 * between logue and book margin: 1 * 2 units
 * between buttons: 8 * 1 unit
 * Total units: 16 units
 */

@constant__singleUnit__monitor: @js__width__goldenCord + @count__iconsSingle * @js__length__icon + @length__iconLarge + 8 * @js__padding__navColumnChild + @js__margin__navLastTitle;

@monitor-single-small: ~"calc((@{screenWidth__full} - @{constant__singleUnit__monitor}) / @{count__singleUnits})";
@monitor-single-large: ~"calc((@{screenWidth__full} - @{constant__singleUnit__monitor}) * @{large-count__singleUnits})";

@monitor-single-book-offset-constant: -@medium-count__singleUnits * (@js__width__goldenCord + @count__iconsSingle * @js__length__icon + @length__iconLarge + 10 * @js__padding__navColumnChild + @js__margin__navLastTitle) + @js__length__icon + 2 * @js__padding__navColumnChild;

@monitor-single-book-offset: ~"calc(@{medium-count__singleUnits} * @{screenWidth__full} + @{monitor-single-book-offset-constant})";

/***************************************
 * LAPTOP WIDTH: single, single shrink *
 ***************************************/

/**
 * Monitor does not need to shrink icon for single column before screen width
 * switches to laptop at 1400px.
 *
 * Laptop width is too narrow for double column, so begins with single column.
 * Laptop follows same equations, with Uncanny Valley lyric column width.
 */

@laptop-unit-constant: @js__width__uncannyValley + @count__iconsSingle * @js__length__icon + @length__iconLarge + 8 * @js__padding__navColumnChild + @js__margin__navLastTitle;

@laptop-small: ~"calc((@{screenWidth__full} - @{laptop-unit-constant}) / @{count__singleUnits})";
@laptop-large: ~"calc((@{screenWidth__full} - @{laptop-unit-constant}) * @{large-count__singleUnits})";

@laptop-book-offset-constant: -@medium-count__singleUnits * (@js__width__uncannyValley + @count__iconsSingle * @js__length__icon + @length__iconLarge + 10 * @js__padding__navColumnChild + @js__margin__navLastTitle) + @js__length__icon + 2 * @js__padding__navColumnChild;

@laptop-book-offset: ~"calc(@{medium-count__singleUnits} * @{screenWidth__full} + @{laptop-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 *
 * In single column, there are 16 units, so 16 pixels.
 * To be divided amongst 11 icons.
 */

@laptop-shrink-icon-constant: @js__width__uncannyValley + 8 * @js__padding__navColumnChild + @length__iconLarge + @js__margin__navLastTitle + @count__singleUnits * 1px;

@laptop-shrink-icon: ~"calc((@{screenWidth__full} - @{laptop-shrink-icon-constant}) / @{count__iconsSingle})";

@laptop-shrink-book-offset-constant: @count__mediumUnit * 1px + @js__padding__navColumnChild * 2 - (@js__width__uncannyValley + 8 * @js__padding__navColumnChild + @length__iconLarge + @js__margin__navLastTitle + @count__singleUnits) / @count__iconsSingle;

@laptop-shrink-book-offset: ~"calc(@{screenWidth__full} / @{count__iconsSingle} + @{laptop-shrink-book-offset-constant})";

@laptop-shrink-toggle-width-constant: @js__padding__navColumnChild * 2 - (@js__width__uncannyValley + 8 * @js__padding__navColumnChild + @js__margin__navLastTitle + @count__singleUnits * 1px) / @count__iconsSingle;

@laptop-shrink-toggle-width: ~"calc(@{screenWidth__full} / @{count__iconsSingle} + @{laptop-shrink-toggle-width-constant})";

/***********************************************
 * TABLET WIDTH: double, double shrink, single *
 ***********************************************/

/**
 * Tablet/mini follows the same equations, without a lyric column width, and
 * without nav last title margin. Switch at 1100px.
 */

@tablet-double-unit-constant: @count__iconsDouble * @js__length__icon + @length__iconLarge__tablet + 10 * @js__padding__navColumnChild;

@tablet-small-unit: ~"calc((@{screenWidth__full} - @{tablet-double-unit-constant}) / @{count__doubleUnits})";
@tablet-count__largeUnit: ~"calc((@{screenWidth__full} - @{tablet-double-unit-constant}) * @{count__doubleUnits__large})";

@tablet-book-offset-constant: -@count__doubleUnits__medium * (@count__iconsDouble * @js__length__icon + @length__iconLarge__tablet + 10 * @js__padding__navColumnChild) + @js__length__icon + 2 * @js__padding__navColumnChild;

@tablet-book-offset: ~"calc(@{count__doubleUnits__medium} * @{screenWidth__full} + @{tablet-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 */

@tablet-shrink-icon-constant: 10 * @js__padding__navColumnChild + @length__iconLarge__tablet + @count__doubleUnits * 1px;

@tablet-shrink-icon: ~"calc((@{screenWidth__full} - @{tablet-shrink-icon-constant}) / @{count__iconsDouble})";

@tablet-shrink-book-offset-constant: @count__mediumUnit * 1px + @js__padding__navColumnChild * 2 - (10 * @js__padding__navColumnChild + @length__iconLarge__tablet + @count__doubleUnits) / @count__iconsDouble;

@tablet-shrink-book-offset: ~"calc(@{screenWidth__full} / @{count__iconsDouble} + @{tablet-shrink-book-offset-constant})";

/**
 * Breakpoint to switch to single column is when icon width is 36px.
 */

@tablet-single-unit-constant: @count__iconsSingle * @js__length__icon + @length__iconLarge__tablet + 8 * @js__padding__navColumnChild;

@tablet-single-small: ~"calc((@{screenWidth__full} - @{tablet-single-unit-constant}) / @{count__singleUnits})";
@tablet-single-large: ~"calc((@{screenWidth__full} - @{tablet-single-unit-constant}) * @{large-count__singleUnits})";

@tablet-single-book-offset-constant: -@medium-count__singleUnits * (@count__iconsSingle * @js__length__icon + @length__iconLarge__tablet + 10 * @js__padding__navColumnChild) + @js__length__icon + 2 * @js__padding__navColumnChild;

@tablet-single-book-offset: ~"calc(@{medium-count__singleUnits} * @{screenWidth__full} + @{tablet-single-book-offset-constant})";

/*************************************
 * MINI WIDTH: single, single shrink *
 *************************************/

@mini-unit-constant: @count__iconsSingle * @js__length__icon + @length__iconLarge__mini + 8 * @js__padding__navColumnChild;

@mini-small: ~"calc((@{screenWidth__full} - @{mini-unit-constant}) / @{count__singleUnits})";
@mini-large: ~"calc((@{screenWidth__full} - @{mini-unit-constant}) * @{large-count__singleUnits})";

@mini-book-offset-constant: -@medium-count__singleUnits * (@count__iconsSingle * @js__length__icon + @length__iconLarge__mini + 10 * @js__padding__navColumnChild) + @js__length__icon + 2 * @js__padding__navColumnChild;

@mini-book-offset: ~"calc(@{medium-count__singleUnits} * @{screenWidth__full} + @{mini-book-offset-constant})";

/**
 * Breakpoint to start shrinking icon is when unit width is 1px.
 */

@mini-shrink-icon-constant: 8 * @js__padding__navColumnChild + @length__iconLarge__mini + @count__singleUnits * 1px;

@mini-shrink-icon: ~"calc((@{screenWidth__full} - @{mini-shrink-icon-constant}) / @{count__iconsSingle})";

@mini-shrink-book-offset-constant: @count__mediumUnit * 1px + @js__padding__navColumnChild * 2 - (8 * @js__padding__navColumnChild + @length__iconLarge__mini + @count__singleUnits) / @count__iconsSingle;

@mini-shrink-book-offset: ~"calc(@{screenWidth__full} / @{count__iconsSingle} + @{mini-shrink-book-offset-constant})";

@width__navToggle:
    @length__iconLarge +
    @js__padding__navColumnChild * 2;

@width__navToggle__tablet:
    @length__iconLarge__tablet +
    @js__padding__navColumnChild * 2;

@width__navToggle__mini:
    @length__iconLarge__mini +
    @js__padding__navColumnChild * 2;
