@import "./constants";
@import "./NavBook/NavBookLogue";
@import "./NavBook/NavBookSongs";
@import "./NavBook/NavBookToggle";
@import "./NavColumn";
@import "./NavButton";
@import "./NavPanel";
@import "./NavResponsive";

.Nav {
    z-index: $zIndex__navCustomSubfield;
    display: flex;

    .RM__mobileNotPhone
    & {
        bottom: auto;
        top: 0;
    }
}

.NavColumns {
    position: relative;
    width: 100%;
    height: 100%;

    .RM__desktop
    & {
        // Prevent lyric scrolling from pushing app offscreen.
        overflow: hidden;
    }

    .RM__mobileNotPhone
    & {
        top: 0;
    }
}

.CarouselNavToggle__placeholder {
    position: relative;

    .RM__navIconShrunk
    & {
        // Static margins after icons begin shrinking.
        margin-right: 3px;
    }

    .RM__mobileNotPhone.RM__navIconShrunk
    & {
        margin-left: 3px;
        margin-right: 0;
    }
}
