@import "./NavBook/NavBookLogue.less";
@import "./NavBook/NavBookSongs.less";
@import "./NavBook/NavBookToggle.less";
@import "./NavColumn.less";
@import "./NavButton.less";
@import "./NavPanel.less";
@import "./NavResponsive.less";

@paddingY__nav: 3px;

@js__height__nav:
    @js__length__icon +
    @paddingY__nav * 2;

@borderRadius__nav: @js__height__nav / 3;

.Nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: @js__height__nav;
    z-index: @zIndex__navCustomSubfield;
    display: flex;

    transition: top @animationDuration__default;

    ._mobileNotPhone_
    & {
        bottom: auto;
        top: 0;
    }
}

.NavColumns {
    position: relative;
    width: 100%;

    // TODO: Consider adjusting this animatable height for tablet and mini?
    height: @js__height__nav * 3; // Just an arbitrary value that's large enough.

    ._desktop_
    & {
        bottom: @js__height__nav * 2;

        // Prevent lyric scrolling from pushing app offscreen.
        overflow: hidden;
    }

    ._mobileNotPhone_
    & {
        top: 0;
    }
}

.CarouselNavToggle__placeholder {
    position: relative;

    ._navIconShrunk_
    & {
        // Static margins after icons begin shrinking.
        margin-right: 3px;
    }

    ._mobileNotPhone_._navIconShrunk_
    & {
        margin-left: 3px;
        margin-right: 0;
    }
}
