@import "./constants.less";
@import "./NavBook/NavBookLogue.less";
@import "./NavBook/NavBookSongs.less";
@import "./NavBook/NavBookToggle.less";
@import "./NavColumn.less";
@import "./NavButton.less";
@import "./NavPanel.less";
@import "./NavResponsive.less";

// This is needed by JavaScript to calculate stage coordinates.
@js__height__nav:
    @js__length__icon
     + @js__margin__thin * 2;

@borderRadius__nav: @js__height__nav / 3;

.Nav {
    z-index: @zIndex__navCustomSubfield;
    display: flex;

    .RM__mobileNotPhone
    & {
        bottom: auto;
        top: 0;
    }
}

.NavColumns {
    position: relative;
    width: 100%;
    height: 100%;

    .RM__desktop
    & {
        // Prevent lyric scrolling from pushing app offscreen.
        overflow: hidden;
    }

    .RM__mobileNotPhone
    & {
        top: 0;
    }
}

.CarouselNavToggle__placeholder {
    position: relative;

    .RM__navIconShrunk
    & {
        // Static margins after icons begin shrinking.
        margin-right: 3px;
    }

    .RM__mobileNotPhone.RM__navIconShrunk
    & {
        margin-left: 3px;
        margin-right: 0;
    }
}
