.NavColumn__child {
    padding: 0 @js__padding__navColumnChild;
    display: flex;

    min-width: @js__length__icon;
    border-radius: @borderRadius__nav @borderRadius__nav 0 0;
    background-color: #48d;

    ._mobileNotPhone_
    & {
        border-radius: 0 0 @borderRadius__nav @borderRadius__nav;
    }
}

.NavBook__logue {

    .NavColumn__right
    & {
        right: 0;
    }
}

.NavBook__songs {

    .NavColumn__left
    & {
        transition: left @animationDuration__default;
    }

    .NavColumn__left.NavColumn__hidden
    & {
        left: 0;
    }

    .NavColumn__right
    & {
        transition: right @animationDuration__default;
        flex-direction: row-reverse;
    }

    .NavColumn__right.NavColumn__hidden
    & {
        right: 0;
    }
}

.NavBook__toggle {

    .NavColumn__right
    & {
        right: 0;
    }
}
