.books-column-block, .book-column, .NavBook {
    position: absolute;
    height: 100%;
}

.books-column-block {
    height: @book-height;
}

.column-1 {
    margin-right: @nav-last-title-margin;
}

._tablet_, ._mini_ {
    .column-1 {
        margin-right: 0;
    }
}

._desktop_ {

    .books-column-block {
        transition: bottom @animationDuration__default;
        bottom: -@book-height;
    }
}
