.books-column-block, .book-column, .NavBook {
    position: absolute;
    height: 100%;
}

.books-column-block {
    height: @book-height;
}

.column-1 {
    margin-right: @nav-last-title-margin;
}

._tablet_, ._mini_ {
    .column-1 {
        margin-right: 0;
    }
}

._desktop_ {

    .books-column-block {
        transition: bottom @animationDuration__default;
        bottom: -@book-height;
    }
}

// Hide both carousel and nav in logues.
._carouselNavShowable_._navExpanded_._lyricHeighted_ {

    // No need to make an exception for phone, since it isn't rendered.
    &._mobile_ {
        .books-column-block {
            top: 0;
        }
    }

    &._desktop_ {
        .books-column-block {
            bottom: 0;
        }
    }
}