.books-column-block, .book-column, .NavBook {
    position: absolute;
    height: 100%;
}

.books-column-block {
    height: @book-height;
}

.column-1 {
    margin-right: @nav-last-title-margin;
}

.tablet-width, .mini-width {
    .column-1 {
        margin-right: 0;
    }
}

.is-desktop {

    .books-column-block {
        transition: bottom @animationDuration__default;
        bottom: -@book-height;
    }
}
