.NavButton-wrapper {
    position: absolute;
    top: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.NavButton-block, .icon-canvas-block {
    .columnHidden
    .NavBook.songs
    & {
        width: 0;
    }
}

.NavButton-block {
    .single-book-column
    & {
        transition: width @animationDuration__default, margin @animationDuration__default;
    }

    ._navIconStatic_
    & {
        width: @js__length__icon;
    }

    ._navIconShrunk_
    .columnShown.column-0
    & {
        &:not(:last-child) {
            margin-right: 1px;
        }
    }

    ._navIconShrunk_
    .columnShown.column-1
    & {
        &:not(:last-child) {
            margin-left: 1px;
        }
    }
}

.NavToggle-block {
    ._navIconShrunk_
    & {
        // Static margins after icons begin shrinking.
        margin-right: 3px;
    }
}