.NavBook {
    padding: 0 @NavBook-padding;

    &.NavBook {
        min-width: @length__icon;
        border-radius: @nav-border-radius @nav-border-radius 0 0;
        background-color: #48d;
    }
}

.columnHidden {

    &.column-0 {
        .NavBook.songs {
            left: 0;
        }
    }

    &.column-1 {
        .NavBook.logue {
            right: 0;
        }

        .NavBook.songs {
            right: 0;
        }
    }
}

.column-0 {
    .books-column {
        transition: left @animationDuration__default;
    }

    .NavBook {
        &.songs {
            transition: left @animationDuration__default;
        }
    }
}

.column-1 {
    right: 0;

    .books-column {
        right: 0;
        transition: right @animationDuration__default;
    }

    .NavBook {
        &.logue {
            right: 0;
        }

        &.songs {
            transition: right @animationDuration__default;
            flex-direction: row-reverse;
        }

        &.toggle {
            right: 0;
        }
    }
}
