.NavButton {
    display: flex;
    flex-direction: column;
    justify-content: center;

    // overflow: hidden;

    .NavColumn__hidden
    .NavBookSongs
    & {
        width: 0;
    }

    .Nav__showSingleBook
    & {
        transition:
            width @animationDuration__default,
            margin @animationDuration__default;
    }

    .RM__navIconStatic
    & {
        width: @js__length__icon;
    }

    .RM__navIconShrunk
    .NavColumn__shown.NavColumn__left
    & {
        &:not(:last-child) {
            margin-right: 1px;
        }
    }

    .RM__navIconShrunk
    .NavColumn__shown.NavColumn__right
    & {
        &:not(:last-child) {
            margin-left: 1px;
        }
    }
}
