.NavColumn,
.NavBook {
    position: absolute;
}

.NavColumn {
    height: @js__height__nav;
    opacity: 0;

    .RM__desktop
    & {
        transition:
            bottom @animationDuration__default,
            opacity @animationDuration__default;

        bottom: -@js__height__nav;
    }

    .RM__mobileNotPhone
    & {
        transition:
            top @animationDuration__default,
            opacity @animationDuration__default;

        top: -@js__height__nav;
    }

    .RM__mobile.RM__twoRowMenu
    & {
        top: -@js__height__nav - @js__height__banner__twoRowMenu__truncated;
    }
}

.NavColumn__right {
    right: 0;
    margin-right: @js__margin__navLastTitle;

    .RM__mobileNotPhone
    & {
        margin-right: 0;
    }
}

// Hide both carousel and nav in logues.
.RM__carouselNavShowable.RM__navExpanded {

    .NavColumn {
        opacity: 1;
    }

    &.RM__mobileNotPhone {
        .NavColumn {
            top: 0;
        }
    }

    &.RM__desktop {
        .NavColumn {
            bottom: 0;
        }
    }
}
