.NavColumn,
.NavBook {
    position: absolute;
}

.NavColumn {
    height: @js__height__nav;

    .dm__desktop
    & {
        transition: bottom @animationDuration__default;
        bottom: -@js__height__nav;
    }

    ._mobileNotPhone_
    & {
        transition: top @animationDuration__default;
        top: -@js__height__nav;
    }
}

.NavColumn__right {
    right: 0;
    margin-right: @js__margin__navLastTitle;

    ._mobileNotPhone_
    & {
        margin-right: 0;
    }
}

// Hide both carousel and nav in logues.
._carouselNavShowable_._navExpanded_._lyricHeighted_ {

    &._mobileNotPhone_ {
        .NavColumn {
            top: 0;
        }
    }

    &.dm__desktop {
        .NavColumn {
            bottom: 0;
        }
    }
}
