@NavPanel-length: 100px;

.NavPanel-block {
    position: absolute;
    left: 50%;

    /**
     * Arbitrary for now. However, make sure that it is never too wide that the
     * next to leftmost or rightmost goes outside the books block.
     */
    width: @NavPanel-length;
    height: @NavPanel-length;

    border: 1px solid purple;

    display: flex;
    flex-direction: column;

    opacity: 0;

    transition: opacity @animationDuration__fast,
                transform @animationDuration__fast;

    // Needed to prevent button hovering and selecting wonkiness.
    z-index: @zIndex__negative;

    &.centred {
        transform: translateX(-50%);
    }

    &.leftmost {
        left: 0;
    }

    &.rightmost {
        left: auto;
        right: 0;
    }

    ._desktop_
    & {
        bottom: 100%;
        margin-bottom: @margin__thin;
    }

    ._mobile_
    & {
        top: 100%;
        margin-top: @margin__thin;
    }
}

._carouselNavShowable_._navExpanded_ {

    // Show panel if access highlighted only when access is on.
    &._accessOn_ .accessHighlighted .accessKeysShown,

    // Show panel upon hover only when access is off.
    &._accessOff_ .Button__nav:hover {
        .NavPanel-block {
            opacity: 1;
            z-index: @zIndex__navCustomSubfield;
        }
    }

    // Show panel when button is active, and give it the higher z-index.
    .Button__nav:active {
        .NavPanel-block {
            opacity: 1;
            z-index: @zIndex__centreFieldChild;

            &.centred {
                transform: translateX(-50%) scale(1.1);
            }

            &.leftmost, &.rightmost {
                transform: scale(1.1);
            }
        }
    }
}

.NavPanel {
    white-space: nowrap;
}

.NavPanel-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(200, 200, 100, 0.5);
}

.NavPanel-title {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
}