$NavPanel-length: 100px;

.NavPanel {
    position: absolute;

    /**
     * Arbitrary for now. However, make sure that it is never too wide that the
     * next to leftmost or rightmost goes outside the books block.
     */
    width: $NavPanel-length;
    height: $NavPanel-length;

    display: flex;
    flex-direction: column;

    border: 1px solid purple;

    opacity: 0;

    white-space: nowrap;

    transition: opacity $animationDuration__fast,
                transform $animationDuration__fast;

    // Needed to prevent button hovering and selecting wonkiness.
    z-index: $zIndex__negative;

    .RM__desktop
    & {
        bottom: 100%;
        margin-bottom: $js__margin__thick;
    }

    .RM__mobile
    & {
        top: 100%;
        margin-top: $js__margin__thick;
    }

    .RM__accessOn.RM__carouselNavShowable.RM__navExpanded
    &.NavPanel__isAccessed,

    .RM__accessOff.RM__carouselNavShowable.RM__navExpanded
    // Prevent panel from showing when hovering over hidden column elements.
    .NavColumn__shown
    .Button__navSong:hover
    & {
        opacity: 1;
        z-index: $zIndex__navCustomSubfield;
    }
}

.NavPanel__default {
    left: 50%;
    transform: translateX(-50%);
}

.NavPanel__leftmost {
    left: 0;
}

.NavPanel__rightmost {
    right: 0;
}

.NavPanelImage {
    background-color: rgba(200, 200, 100, 0.5);
}

.NavPanelTitle {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 0.75em;
}