/******************
 * MONITOR STYLES *
 ******************/

.CarouselNavToggle__placeholder {
    min-width: @NavToggle-width;
}

._monitor_ {

    &._navIconStatic_ {
        .Nav__showDoubleBook {
            .CarouselNavToggle__placeholder {
                margin-right: @monitor-large-unit;
            }

            .NavColumn__left {
                .NavBook__songs {
                    left: @monitor-book-offset;
                }

                .NavButton-block:not(:last-child) {
                    margin-right: @monitor-small-unit;
                }
            }

            .NavColumn__right {
                .NavBook__songs {
                    right: @monitor-book-offset;
                }

                .NavButton-block:not(:last-child) {
                    margin-left: @monitor-small-unit;
                }
            }
        }

        .Nav__showSingleBook {
            .CarouselNavToggle__placeholder {
                margin-right: @monitor-single-large;
            }

            .NavColumn__shown {
                &.NavColumn__left {
                    .NavBook__songs {
                        left: @monitor-single-book-offset;
                    }

                    .NavButton-block:not(:last-child) {
                        margin-right: @monitor-single-small;
                    }
                }

                &.NavColumn__right {
                    .NavBook__songs {
                        right: @monitor-single-book-offset;
                    }

                    .NavButton-block:not(:last-child) {
                        margin-left: @monitor-single-small;
                    }
                }
            }
        }
    }

    &._navIconShrunk_ {
        .Nav__showDoubleBook {
            .NavColumn__child {
                min-width: @monitor-shrink-icon;
            }

            .NavColumn__left {
                .NavBook__songs {
                    left: @monitor-shrink-book-offset;
                }
            }

            .NavColumn__right {
                .NavBook__songs {
                    right: @monitor-shrink-book-offset;
                }
            }

            .NavButton-block {
                width: @monitor-shrink-icon;
            }
            .NavButton-block .Button {
                &, & .icon-canvas {
                    width: @monitor-shrink-icon;
                    height: @monitor-shrink-icon;
                }
            }
        }
    }
}

/*****************
 * LAPTOP STYLES *
 *****************/

._laptop_ {

    &._navIconStatic_ {
        .Nav__showSingleBook {
            .CarouselNavToggle__placeholder {
                margin-right: @laptop-large;
            }
            .NavColumn__shown {
                &.NavColumn__left {
                    .NavBook__songs {
                        left: @laptop-book-offset;
                    }

                    .NavButton-block:not(:last-child) {
                        margin-right: @laptop-small;
                    }
                }

                &.NavColumn__right {
                    .NavBook__songs {
                        right: @laptop-book-offset;
                    }

                    .NavButton-block:not(:last-child) {
                        margin-left: @laptop-small;
                    }
                }
            }
        }
    }

    &._navIconShrunk_ {
        .Nav__showSingleBook {
            .NavColumn__child {
                min-width: @laptop-shrink-icon;
            }

            .NavColumn__shown {
                &.NavColumn__left {
                    .NavBook__songs {
                        left: @laptop-shrink-book-offset;
                    }
                }

                &.NavColumn__right {
                    .NavBook__songs {
                        right: @laptop-shrink-book-offset;
                    }
                }
            }

            /**
             * Show song buttons in shown column, along with toggle button in
             * hidden column.
             */
            .NavColumn__shown,
            .NavColumn__hidden .NavBook__toggle {
                .NavButton-block {
                    width: @laptop-shrink-icon;
                }
            }

            .NavButton-block .Button {
                &, & .icon-canvas {
                    width: @laptop-shrink-icon;
                    height: @laptop-shrink-icon;
                }
            }
        }
    }
}

/*****************
 * TABLET STYLES *
 *****************/

._tablet_ {

    .CarouselNavToggle__placeholder {
        min-width: @tablet-NavToggle-width;
    }

    &._navIconStatic_ {
        .Nav__showDoubleBook {
            .CarouselNavToggle__placeholder {
                margin-left: @tablet-large-unit;
            }

            .NavColumn__left {
                .NavBook__songs {
                    left: @tablet-book-offset;
                }

                .NavButton-block:not(:last-child) {
                    margin-right: @tablet-small-unit;
                }
            }

            .NavColumn__right {
                .NavBook__songs {
                    right: @tablet-book-offset;
                }

                .NavButton-block:not(:last-child) {
                    margin-left: @tablet-small-unit;
                }
            }
        }

        .Nav__showSingleBook {
            .CarouselNavToggle__placeholder {
                margin-left: @tablet-single-large;
            }

            .NavColumn__shown {
                &.NavColumn__left {
                    .NavBook__songs {
                        left: @tablet-single-book-offset;
                    }

                    .NavButton-block:not(:last-child) {
                        margin-right: @tablet-single-small;
                    }
                }

                &.NavColumn__right {
                    .NavBook__songs {
                        right: @tablet-single-book-offset;
                    }

                    .NavButton-block:not(:last-child) {
                        margin-left: @tablet-single-small;
                    }
                }
            }
        }
    }

    &._navIconShrunk_ {
        .Nav__showDoubleBook {
            .NavColumn__child {
                min-width: @tablet-shrink-icon;
            }

            .NavColumn__left {
                .NavBook__songs {
                    left: @tablet-shrink-book-offset;
                }
            }

            .NavColumn__right {
                .NavBook__songs {
                    right: @tablet-shrink-book-offset;
                }
            }

            .NavButton-block {
                width: @tablet-shrink-icon;
            }

            .NavButton-block .Button {
                &, & .icon-canvas {
                    width: @tablet-shrink-icon;
                    height: @tablet-shrink-icon;
                }
            }
        }
    }
}

/***************
 * MINI STYLES *
 ***************/

._mini_ {

    .CarouselNavToggle__placeholder {
        min-width: @mini-NavToggle-width;
    }

    &._navIconStatic_ {
        .Nav__showSingleBook {
            .CarouselNavToggle__placeholder {
                margin-left: @mini-large;
            }

            .NavColumn__shown {
                &.NavColumn__left {
                    .NavBook__songs {
                        left: @mini-book-offset;
                    }

                    .NavButton-block:not(:last-child) {
                        margin-right: @mini-small;
                    }
                }

                &.NavColumn__right {
                    .NavBook__songs {
                        right: @mini-book-offset;
                    }

                    .NavButton-block:not(:last-child) {
                        margin-left: @mini-small;
                    }
                }
            }
        }
    }

    &._navIconShrunk_ {
        .Nav__showSingleBook {
            .NavColumn__child {
                min-width: @mini-shrink-icon;
            }

            .NavColumn__shown {
                &.NavColumn__left {
                    .NavBook__songs {
                        left: @mini-shrink-book-offset;
                    }
                }

                &.NavColumn__right {
                    .NavBook__songs {
                        right: @mini-shrink-book-offset;
                    }
                }
            }

            /**
             * Show song buttons in shown column, along with toggle button in
             * hidden column.
             */
            .NavColumn__shown,
            .NavColumn__hidden .NavBook__toggle {
                .NavButton-block {
                    width: @mini-shrink-icon;
                }
            }

            .NavButton-block .Button {
                &, & .icon-canvas {
                    width: @mini-shrink-icon;
                    height: @mini-shrink-icon;
                }
            }
        }
    }
}
