/******************
 * MONITOR STYLES *
 ******************/

.NavToggle-block {
    min-width: @NavToggle-width;
}

._monitor_ {

    &._navIconStatic_ {
        .double-book-column {
            .NavToggle-block {
                margin-right: @monitor-large-unit;
            }

            .column-0 {
                .NavBook {
                    &.songs {
                        left: @monitor-book-offset;
                    }
                }

                .NavButton-block:not(:last-child) {
                    margin-right: @monitor-small-unit;
                }
            }

            .column-1 {
                .NavBook {
                    &.songs {
                        right: @monitor-book-offset;
                    }
                }

                .NavButton-block:not(:last-child) {
                    margin-left: @monitor-small-unit;
                }
            }
        }

        .single-book-column {
            .NavToggle-block {
                margin-right: @monitor-single-large;
            }

            .columnShown {
                &.column-0 {
                    .NavBook {
                        &.songs {
                            left: @monitor-single-book-offset;
                        }
                    }

                    .NavButton-block:not(:last-child) {
                        margin-right: @monitor-single-small;
                    }
                }

                &.column-1 {
                    .NavBook {
                        &.songs {
                            right: @monitor-single-book-offset;
                        }
                    }

                    .NavButton-block:not(:last-child) {
                        margin-left: @monitor-single-small;
                    }
                }
            }
        }
    }

    &._navIconShrunk_ {
        .double-book-column {
            .NavBook {
                min-width: @monitor-shrink-icon;
            }

            .column-0 {
                .NavBook {
                    &.songs {
                        left: @monitor-shrink-book-offset;
                    }
                }
            }

            .column-1 {
                .NavBook {
                    &.songs {
                        right: @monitor-shrink-book-offset;
                    }
                }
            }

            .NavButton-block {
                width: @monitor-shrink-icon;
            }
            .NavButton-block .Button {
                &, & .icon-canvas {
                    width: @monitor-shrink-icon;
                    height: @monitor-shrink-icon;
                }
            }
        }
    }
}

/*****************
 * LAPTOP STYLES *
 *****************/

._laptop_ {

    &._navIconStatic_ {
        .single-book-column {
            .NavToggle-block {
                margin-right: @laptop-large;
            }
            .columnShown {
                &.column-0 {
                    .NavBook {
                        &.songs {
                            left: @laptop-book-offset;
                        }
                    }

                    .NavButton-block:not(:last-child) {
                        margin-right: @laptop-small;
                    }
                }

                &.column-1 {
                    .NavBook {
                        &.songs {
                            right: @laptop-book-offset;
                        }
                    }

                    .NavButton-block:not(:last-child) {
                        margin-left: @laptop-small;
                    }
                }
            }
        }
    }

    &._navIconShrunk_ {
        .single-book-column {
            .NavBook {
                min-width: @laptop-shrink-icon;
            }

            .columnShown {
                &.column-0 {
                    .NavBook {
                        &.songs {
                            left: @laptop-shrink-book-offset;
                        }
                    }
                }

                &.column-1 {
                    .NavBook {
                        &.songs {
                            right: @laptop-shrink-book-offset;
                        }
                    }
                }
            }

            /**
             * Show song buttons in shown column, along with toggle button in
             * hidden column.
             */
            .columnShown, .columnHidden .NavBook.toggle {
                .NavButton-block {
                    width: @laptop-shrink-icon;
                }
            }

            .NavButton-block .Button {
                &, & .icon-canvas {
                    width: @laptop-shrink-icon;
                    height: @laptop-shrink-icon;
                }
            }
        }
    }
}

/*****************
 * TABLET STYLES *
 *****************/

._tablet_ {

    .NavToggle-block {
        min-width: @tablet-NavToggle-width;
    }

    &._navIconStatic_ {
        .double-book-column {
            .NavToggle-block {
                margin-left: @tablet-large-unit;
            }

            .column-0 {
                .NavBook {
                    &.songs {
                        left: @tablet-book-offset;
                    }
                }

                .NavButton-block:not(:last-child) {
                    margin-right: @tablet-small-unit;
                }
            }

            .column-1 {
                .NavBook {
                    &.songs {
                        right: @tablet-book-offset;
                    }
                }

                .NavButton-block:not(:last-child) {
                    margin-left: @tablet-small-unit;
                }
            }
        }

        .single-book-column {
            .NavToggle-block {
                margin-left: @tablet-single-large;
            }

            .columnShown {
                &.column-0 {
                    .NavBook {
                        &.songs {
                            left: @tablet-single-book-offset;
                        }
                    }

                    .NavButton-block:not(:last-child) {
                        margin-right: @tablet-single-small;
                    }
                }

                &.column-1 {
                    .NavBook {
                        &.songs {
                            right: @tablet-single-book-offset;
                        }
                    }

                    .NavButton-block:not(:last-child) {
                        margin-left: @tablet-single-small;
                    }
                }
            }
        }
    }

    &._navIconShrunk_ {
        .double-book-column {
            .NavBook {
                min-width: @tablet-shrink-icon;
            }

            .column-0 {
                .NavBook {
                    &.songs {
                        left: @tablet-shrink-book-offset;
                    }
                }
            }

            .column-1 {
                .NavBook {
                    &.songs {
                        right: @tablet-shrink-book-offset;
                    }
                }
            }

            .NavButton-block {
                width: @tablet-shrink-icon;
            }

            .NavButton-block .Button {
                &, & .icon-canvas {
                    width: @tablet-shrink-icon;
                    height: @tablet-shrink-icon;
                }
            }
        }
    }
}

/***************
 * MINI STYLES *
 ***************/

._mini_ {

    .NavToggle-block {
        min-width: @mini-NavToggle-width;
    }

    &._navIconStatic_ {
        .single-book-column {
            .NavToggle-block {
                margin-left: @mini-large;
            }

            .columnShown {
                &.column-0 {
                    .NavBook {
                        &.songs {
                            left: @mini-book-offset;
                        }
                    }

                    .NavButton-block:not(:last-child) {
                        margin-right: @mini-small;
                    }
                }

                &.column-1 {
                    .NavBook {
                        &.songs {
                            right: @mini-book-offset;
                        }
                    }

                    .NavButton-block:not(:last-child) {
                        margin-left: @mini-small;
                    }
                }
            }
        }
    }

    &._navIconShrunk_ {
        .single-book-column {
            .NavBook {
                min-width: @mini-shrink-icon;
            }

            .columnShown {
                &.column-0 {
                    .NavBook {
                        &.songs {
                            left: @mini-shrink-book-offset;
                        }
                    }
                }

                &.column-1 {
                    .NavBook {
                        &.songs {
                            right: @mini-shrink-book-offset;
                        }
                    }
                }
            }

            /**
             * Show song buttons in shown column, along with toggle button in
             * hidden column.
             */
            .columnShown, .columnHidden .NavBook.toggle {
                .NavButton-block {
                    width: @mini-shrink-icon;
                }
            }

            .NavButton-block .Button {
                &, & .icon-canvas {
                    width: @mini-shrink-icon;
                    height: @mini-shrink-icon;
                }
            }
        }
    }
}
