@import './responsive';

.Nav {
    position: absolute;
    left: 0;
    width: 100%;

    display: flex;

    z-index: $zIndex__theatre;

    .DW__desktopWidth
    & {
        bottom: 0;
    }

    .DW__miniOrTabletWidth
    & {
        top: 0;
    }
}

.CarouselNavToggle__placeholder {
    position: relative;

    .RW__navIconShrunk
    & {
        // Static margins after icons begin shrinking.
        margin-right: 3px;
    }

    .DW__miniOrTabletWidth
    .RW__navIconShrunk
    & {
        margin-left: 3px;
        margin-right: 0;
    }
}
