@import "./variables";
@import "./responsive";
@import "./Column/style";

.Nav {
    z-index: $zIndex__navCustomSubfield;
    display: flex;

    .DW__mobileNotPhone
    & {
        bottom: auto;
        top: 0;
    }
}

.NavColumns {
    position: relative;
    width: 100%;
    height: 100%;

    .DW__desktop
    & {
        // Prevent lyric scrolling from pushing app offscreen.
        overflow: hidden;
    }

    .DW__mobileNotPhone
    & {
        top: 0;
    }
}

.CarouselNavToggle__placeholder {
    position: relative;

    .RM__navIconShrunk
    & {
        // Static margins after icons begin shrinking.
        margin-right: 3px;
    }

    .DW__mobileNotPhone
    .RM__navIconShrunk
    & {
        margin-left: 3px;
        margin-right: 0;
    }
}
