@import '../../../scss/constants/icon';
@import '../../../scss/constants/transition';

.AnchorDot {
    display: inline-block;

    .AnnotationTitle
    & {
        bottom: -$length__iconSmall * 0.1;
        width: $length__iconSmall;
        height: $length__iconSmall;
    }

    .UnitDot
    & {
        bottom: -$length__iconSmaller * 0.1;
        width: $length__iconSmaller;
        height: $length__iconSmaller;
    }
}

.DotAnchor__animatable {
    .Anchor__accessed
    &,

    .TW__isStationary
    .Anchor__animatable:hover
    & {
        animation: bounceHover $transitionDuration__slow;
    }

    // "Root accessed letter Enter."
    .PaLEnter
    .Anchor__accessed
    &,

    .Anchor__animatable:active
    & {
        transform: scale(0.9);
    }
}
