.Sandbags {
    .ropeBack {
        fill: #963;
    }

    .ropeBackLine {
        stroke: #852;
    }

    .spindle {
        fill: #993;
    }

    .post {
        fill: #630;
    }

    .postLine {
        stroke: #520;
    }

    .ropeFront {
        fill: #c96;
    }

    .ropeFrontLine {
        stroke: #b85;
    }

    .sandbagFront {
        fill: #cc9;
    }

    .sandbagBack {
        fill: #996;
    }

    .sandbagLine {
        stroke: #885;
    }

    .string {
        fill: #ffc;
    }

    .stringLine {
        stroke: #eeb;
    }
}

.StageLights {
    .shutterBottom {
        fill: #036;
    }

    .shutterSurface {
        fill: #369;
    }

    .hangerBack {
        fill: #666;
    }

    .cableBack {
        fill: #903;
    }

    .housing {
        fill: #63c;
    }

    .mountBottom {
        fill: #630;
    }

    .mountSide {
        fill: #963;
    }

    .mountTop {
        fill: #fc9;
    }

    .mountFront {
        fill: #c96;
    }

    .bar {
        fill: #996;
    }

    .shutterEdge {
        fill: #336;
    }

    .cableFront {
        fill: #c03;
    }

    .hangerFront {
        fill: #999;
    }

    .hangerScrew {
        fill: #cc9;
    }
}