.sandbags {
    .ropeDark { fill: #b5986c; }
    .post { fill: #997959; }
    .ropeLight { fill: #d1af7d; }
    .stringBorderLine { fill: none; }
    .spindle { fill: #bfbf9c; }
    .sandbag { fill: #cccc9d; }
    .sandbagInner { fill: #996; }
    .string { fill: #f0f0d1; }
}

.stageLights {
    .shutterBottom { fill: #036; }
    .shutterSurface { fill: #369; }
    .hangerBack { fill: #666; }
    .cableBack { fill: #903; }
    .housing { fill: #63c; }
    .mountBottom { fill: #630; }
    .mountSide { fill: #963; }
    .mountTop { fill: #fc9; }
    .mountFront { fill: #c96; }
    .bar { fill: #996; }
    .shutterEdge { fill: #336; }
    .cableFront { fill: #c03; }
    .hangerFront { fill: #999; }
    .hangerScrew { fill: #cc9; }
}

.stepladder {
    .rail { fill: #8f8267; }
    .rung { fill: #ab9b7b; }
}

.mannequin {
    .pole { fill: #8f9ea8; }
    .woodSide { fill: #a8936a; }
    .woodBottom { fill: #96835f; }
    .woodTopSide { fill: #b39c70; }
    .woodTop { fill: #bfa778; }
    .body { fill: #c3c4ba; }
}

.pushBroom {
    .pole { fill: #bfb390; }
    .bristle { fill: #8a8a7a; }
    .rubber { fill: #8d7791; }
    .base { fill: #7a705c; }
}