.IvDrip {
    .pole { fill: #333; }
    .boxSide { fill: #96c; }
    .boxTop { fill: #639; }
    .boxFront { fill: #c9f; }
    .buttons { fill: #cc6; }
    .buttonsLine { stroke: #bb5; }
    .bar { fill: #699; }
    .barLine { stroke: #588; }
    .console { fill: #6c9; }
    .bagEmpty { fill: #cff; }
    .bagFull { fill: #3cc; }
    .bagCap { fill: #fff; }
    .capLine { stroke: #eee; }
}
