.taiwanFoliage#{$suffix} {
    .foliage {fill: hsl(5, 23%, 54%); }

    .treeFurthest { fill: hsl(331, 25%, 67%); }
    .treeFurther { fill: hsl(331, 25%, 66%); }
    .treeMiddle { fill: hsl(331, 25%, 64%); }
    .treeCloser { fill: hsl(331, 25%, 63%); }
    .treeClosest { fill: hsl(331, 25%, 61%); }

    .treeTrunk { fill: hsl(34, 12%, 46%); }

    .bonsaiFurther { fill: hsl(290, 23%, 56%); }
    .bonsaiMiddle { fill: hsl(290, 23%, 61%); }
    .bonsaiCloser { fill: hsl(290, 23%, 66%); }
}