.cigarette#{$suffix} {
    .cigaretteBody { fill: hsl(200, 3%, 83%); }
    .cigaretteFilter { fill: hsl(40, 27%, 40%); }
    .cigaretteTip { fill: hsl(41, 34%, 55%); }
    .cigaretteEmber { fill: hsl(27, 57%, 48%); }
}