.roadPast {
    .road {
        fill: #baa77f;
    }

    .pageLight {
        fill: #c9d1c1;
    }

    .pageMedium {
        fill: #b3baab;
    }

    .pageDark {
        fill: #989e92;
    }

    .bookCover {
        fill: #507851;
    }

    .spineCreaseLine {
        stroke: #344f36;
    }
}

.snowglobe {
    .snow {
        fill: #9ff;
    }

    .reflectionOuter {
        fill: rgba(255, 255, 255, 0.2);
    }

    .reflectionCentre {
        fill: rgba(255, 255, 255, 0.4);
    }

    .reflectionInner {
        fill: rgba(255, 255, 255, 0.6);
    }

    .globeInner {
        fill: rgba(255, 255, 255, 0.5);
    }

    .globeOuter {
        fill: rgba(255, 255, 255, 0.7);
    }

    .base {
        fill: #96c;
    }

    .rim {
        fill: #939;
    }
}