.roadPast {
    .road {
        fill: #baa77f;
    }

    .pageLight {
        fill: #c9d1c1;
    }

    .pageMedium {
        fill: #b3baab;
    }

    .pageDark {
        fill: #989e92;
    }

    .bookCover {
        fill: #507851;
    }
}
