@import '../../../scss/constants/icon';
@import '../../../scss/constants/lyric';

.AccessLetters__carousel {
    left: $MARGIN_THIN;

    .VW__desktopWidth
    & {
        bottom:
            $margin__scrollBar
            + $LENGTH_ICON_LARGE
            + $MARGIN_THIN * 2;
    }

    .VW__mobileWidth
    & {
        top:
            $LENGTH_ICON_LARGE
            + $MARGIN_THIN * 2;
    }
}
