.AccessLetters__carousel {
    left: $jsx__margin__thin;

    .DW__desktopWidth
    & {
        bottom:
            $margin__scrollBar
            + $jsx__length__iconLarge
            + $jsx__margin__thin * 2;
    }

    .DW__mobileWidth
    & {
        top:
            $jsx__length__iconLarge
            + $jsx__margin__thin * 2;
    }
}
