.AccessLetters__carousel {
    left: $js__margin__thin;

    .DW__desktopWidth
    & {
        bottom:
            $margin__scrollBar
            + $js__length__iconLarge
            + $js__margin__thin * 2;
    }

    .DW__miniOrTabletWidth
    & {
        top:
            $js__length__iconLarge
            + $js__margin__thin * 2;
    }
}
