.sketchTaiwan__shared {
    .bennettShoe { fill: #525252; }
    .bennettPants { fill: #7d7d7d; }
    .bennettShirt { fill: #dedede; }
    .bennettJeans { fill: #767676; }
    .skinEastAsian { fill: #d9d9d9; }
    .bennettSleeves { fill: #8c8c8c; }
    .hairBlack { fill: #363636; }
    .sashaShoe { fill: #5e5e5e; }
    .sashaPants { fill: #878787; }
    .skinWhite { fill: #e3e3e3; }
    .eye { fill: #616161; }
    .sashaShirt { fill: #a1a1a1; }
    .hairSandy { fill: #b0b0b0; }
}