@import '../../../scss/constants/icon';
@import '../../../scss/constants/pitch';

.MarketingHeader {
    width: 100%;
    height: $height__marketingHeader;

    display: flex;
    align-items: center;
}

.ButtonTitle {
    .Button__marketingReturn
    & {
        left: 100%;
        display: flex;
        margin-left: $MARGIN_THIN;
    }
}

.Button__marketingReturnSize {
    height: $LENGTH_ICON_LARGE;
    width: $LENGTH_ICON_LARGE * 1.77;
    min-width: $LENGTH_ICON_LARGE * 1.77;
}