// .LyricAccess {
//     position: absolute;
//     right: $margin__lyricColumn__accessIcons;
//     bottom: $margin__lyricColumn__accessIcons;

//     display: flex;
//     flex-direction: column-reverse;
// }

.AccessIcons__inLyric {
    bottom: $margin__lyricColumn__accessIcons;
}

.AccessIcons__lyricLeftRight {
    left: $margin__lyricColumn__accessIcons;
}

.AccessIcons__lyricUpDown {
    right: $margin__lyricColumn__accessIcons;
}
