.TaiwanFridge {
    .base {
        fill: #666;
    }

    .door {
        fill: #6cc;
    }

    .brass {
        fill: #999;
    }

    .handle {
        fill: #cc6;
    }

    .handleLine {
        stroke: #ee8;
    }
}
