.BuddhaShrine {
    .base {
        fill: #9e005d;
    }

    .hair {
        fill: #1a1a1a;
    }

    .skin {
        fill: #c69c6d;
    }

    .skinLine {
        stroke: #b58b5c;
    }

    .robe {
        fill: #c1272d;
    }

    .robeLine {
        stroke: #b0161c;
    }

    .flange {
        fill: #ff0;
    }
}

.TaiwanFridge {
    .base {
        fill: #666;
    }

    .door {
        fill: #6cc;
    }

    .brass {
        fill: #999;
    }

    .handle {
        fill: #cc6;
    }

    .handleLine {
        stroke: #ee8;
    }
}