// TipsPopup is positioned absolute full.

.TipsPopupView {
    position: absolute;

    // Needed to prevent closing upon popup click.
    z-index: $zIndex__centreFieldChild;

    // Tip popup is in centre by default.

    /**
     * When tip button is in menu, show tip popup closer to menu.
     */
    .RW__scoresTipsMenu
    &,
    .DW__phone
    & {
        top: $js__margin__thick;
        right: $js__margin__thick;
    }

    .DW__miniOrTabletWidth
    .RW__scoresTipsMain
    & {

        /**
         * In tablet and mini, when tip button is in main, show it closer to
         * tip button.
         */
        position: absolute;
        bottom: $js__margin__thick;
        right: $js__margin__thick;
    }
}
