.lizApartment#{$suffix} {
    .frameFront { fill: hsl($HUE_LIZ_APARTMENT, 17%,60%); }
    .doorSide { fill: hsl($HUE_LIZ_APARTMENT, 22%, 50%); }
    .doorFront { fill: hsl($HUE_LIZ_APARTMENT, 22%, 55%); }

    .sill { fill: hsl($HUE_LIZ_APARTMENT, 13%, 76%); }
    .sillDark { fill: hsl($HUE_LIZ_APARTMENT, 10%, 69%); }

    .paneStill { fill: hsl($HUE_LIZ_APARTMENT, 12%, 58%); }
    .paneSliding { fill: hsl($HUE_LIZ_APARTMENT, 9%, 52%); }
    .blinds { fill: hsl($HUE_LIZ_APARTMENT, 24%, 74%); }
    .rail { fill: hsl($HUE_LIZ_APARTMENT, 17%, 66%); }
}