.copperDarkest { fill: hsl(34, 28%, 37%); }
.copperDarker { fill: hsl(34, 28%, 42%); }
.copperDark { fill: hsl(34, 28%, 47%); }
// .copperMediumDark { fill: hsl(34, 28%, 52%); }
// .copperMedium { fill: hsl(34, 28%, 57%); }
// .copperMediumLight { fill: hsl(34, 28%, 62%); }
// .copperLight { fill: hsl(34, 28%, 67%); }

.darkRoomDefault .darkRoom#{$suffix} {
    .copperDarkest { fill: hsl(34, 14%, 24%); }
    .copperDarker { fill: hsl(34, 14%, 26%); }
    .copperDark { fill: hsl(34, 14%, 29%); }
}