.bennettFuture#{$suffix} {
    .bennettJacket { fill: hsl($hue__future, 10%, 38%); }
    .bennettSleeves { fill: hsl($hue__future, 37%, 52%); }
    .bennettUnderwear { fill: hsl($hue__future, 39%, 61%); }
    .bennettWaistband { fill: hsl($hue__future, 47%, 72%); }
    .bennettJeans { fill: hsl($hue__future, 27%, 47%); }
    .bennettShoe { fill: hsl($hue__future, 11%, 41%); }
}