.Tips {
    display: flex;
}

.Tips__toggleFloatContainer {
    position: relative;
    float: left;
    margin-right: 10px;
}

.Tips__textContainer {
    overflow: auto;
}

.Tips__imageContainer {
    min-width: 200px;
    height: 250px;
    margin-left: 10px;

    // TODO: Improve these styles, obviously.
    background-color: #b6b;

    .DW__mini
    & {
        min-width: 160px;
        height: 200px;
    }

    .DW__phone
    & {
        min-width: 120px;
        height: 150px;
    }
}
