@import "./TipsToggle.less";

.Tips__textFloatContainer {
    position: relative;
    margin-right: 10px;
    float: left;
}

.Tips__imageContainer {
    // TODO: Improve these styles, obviously.
    width: 100%;
    height: 150px;
    margin-top: 10px;
    background-color: #b6b;
}
