@import '../../../scss/constants/bannerFilmstrip';
@import '../../../scss/constants/border';
@import '../../../scss/constants/colour';
@import '../../../scss/constants/shadow';

.SongBanner {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    height: $height__songBanner;

    border-radius: $borderRadius__narrow;

    background-color: $colour__paused__empty;

    .PlW__isPlaying
    & {
        background-color: $colour__playing__empty;
    }

    .PlW__song
    .TW__hidePastFutureLyrics.TW__bannerHovering
    & {
        cursor: pointer;
    }

    .TW__showPastFutureLyrics
    & {
        background-color: $colour__access__light;
    }

    .TW__verseActive
    & {
        box-shadow: $boxShadow__activeVerse;
    }

    .DW__userAgentDesktop
    .PlW__song
    .TW__hidePastFutureLyrics.TW__bannerHovering
    &:hover {
        background-color: $colour__interactPause__empty;
    }

    .DW__userAgentDesktop
    .PlW__isPlaying
    .TW__hidePastFutureLyrics.TW__bannerHovering
    &:hover {
        background-color: $colour__interactPlay__empty;
    }
}

.Tracker {

    .DW__userAgentDesktop
    .PlW__song
    .TW__hidePastFutureLyrics.TW__bannerHovering
    .SongBanner:hover
    & {
        background-color: $colour__interactPause__filled;
    }

    .DW__userAgentDesktop
    .PlW__isPlaying
    .TW__hidePastFutureLyrics.TW__bannerHovering
    .SongBanner:hover
    & {
        background-color: $colour__interactPlay__filled;
    }
}