.time-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}

.stanza-time-bar, .verse-time-bar {
    left: auto;
    right: 0;

    &.stanza-time-bar {
        transition: width 0.3s, background-color 0.3s;
    }
}

.play-time-display {
    box-sizing: border-box;

    @time-display-margin: 5px;

    position: absolute;
    bottom: 25%;
    opacity: 0;
    transform: translateY(50%);
    font-size: 0.8em;
    transition: opacity @animation-default;

    &.spent {
        left: 0;
        padding-left: @time-display-margin;

        &.above {
            color: @time-display-dark-colour;
        }

        &.below {
            color: @time-display-light-colour;
        }
    }

    &.remain {
        right: 0;
        padding-right: @time-display-margin;

        direction: rtl;
        overflow: hidden;

        &.above {
            color: @time-display-light-colour;
        }

        &.below {
            color: @time-display-dark-colour;
        }
    }
}

.slider-moving {
    .play-time-display {
        opacity: 1;
    }
}


.time-remain-bar {
    width: 100%;
}

.slider-moving {
    .play-time-bar {
        transition: background-color @animation-default;
    }

    .time-spent-bar {
        background-color: @time-spent-bar-colour;
    }

    .time-remain-bar {
        background-color: @time-remain-bar-colour;
    }
}

.slider-not-moving.is-not-verse-interactivated {

    .time-spent-bar {
        background-color: rgba(225, 225, 200, 0.8);
    }

    .play-time-bar {
        // FIXME: Width animation is buggy if longer than 0.05s?
        transition: width @animation-instant, background-color @animation-default;
    }
}
