.lockerBank {
    .frame { fill: #929475; }
    .door { fill: #7fb8c7; }
    .label { fill: #aba287; }
    .lips { fill: #9c4c61; }
    .teeth { fill: #fff; }
    .kiss { fill: #9d64ba; }
}

.trashCan {
    .can { fill: #999; }
    .ridge { fill: #8c8c8c; }
    .mount { fill: #a6a6a6; }
    .handle { fill: #b3b3b3; }
    .handleOverlapLine { fill: none; }
    .boxLeft { fill: #bf7878; }
    .boxRear { fill: #84d88c; }
    .boxFront { fill: #bb8dd6; }
    .boxRightMedium { fill: #6d9de2; }
    .boxRightDark { fill: #608ac7; }
    .boxRightLight { fill: #72a5ed; }
}

.bushSingle {
    .leaves { fill: #5c8e6b; }
}

.bushDouble {
    .leavesFront { fill: #578463; }
    .leavesRear { fill: #4e7558; }
}

.thrownFruit {
    .foilEdgeLine { fill: none; }
    .puddingCupTop { fill: #f0e6da; }
    .puddingCupInner { fill: #b3aba3; }
    .puddingCupBottom { fill: #e8dfd4; }
    .pudding { fill: #69593e; }
}

.balledFoil {
    .foil { fill: #b2c2cf; }
}