.lockerBank {
    .frame {
        fill: #996;
    }

    .door {
        fill: #6cc;
    }

    .label {
        fill: #cc3;
    }

    .lips {
        fill: #f39;
    }

    .teeth {
        fill: #fff;
    }

    .kiss {
        fill: #93c;
    }
}

.trashCan {
    .can {
        fill: #474645;
    }

    .ridge {
        fill: #2d2d2d;
    }

    .mount {
        fill: #898989;
    }

    .handle {
        fill: #a3a3a3;
    }

    .linerOuter {
        fill: #537296;
    }

    .linerInner {
        fill: #47586d;
    }

    .boxLeft {
        fill: #dd7676;
    }

    .boxBack {
        fill: #73d87d;
    }

    .peelInner {
        fill: #828278;
    }

    .peelOuter {
        fill: #d8d393;
    }

    .boxFront {
        fill: #b987d6;
    }

    .bagFront {
        fill: #755637;
    }

    .bagTop {
        fill: #aa7d4b;
    }

    .bagSide {
        fill: #936944;
    }

    .boxRightTop {
        fill: #4d82b2;
    }

    .boxRightSide {
        fill: #6d9de2;
    }

    .boxRightFront {
        fill: #9eb3dd;
    }
}

.vanNuysPlant {
    .leavesRear {
        fill: #2d5441;
    }

    .leavesFront {
        fill: #36664e;
    }
}