@import '../../../scss/constants/border';
@import '../../../scss/constants/font';
@import '../../../scss/constants/icon';
@import '../../../scss/constants/popup';

.AnnotationTitle {
    position: relative;
    text-align: center;

    display: flex;
    align-items: flex-start;

    padding:
        $MARGIN_THIN
        $PADDING_POPUP_CONTENT_WIDE
        0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &, &:before {
        border-top-left-radius: $borderRadius__narrow;
        border-top-right-radius: $borderRadius__narrow;
    }
}

.AnnotationTitle__dot {
    // Dots have a different padding top.
    padding-top: $MARGIN_THIN;
}
