.oceanLife#{$suffix} {
    .kelpBack { fill: hsl(120, 50%, 40%); }
    .kelpFront { fill: hsl(120, 20%, 50%); }
    .seaweed { fill: hsl(120, 50%, 40%); }
    .frondBack { fill: hsl(200, 100%, 30%); }
    .frondFront { fill: hsl(180, 50%, 40%); }
    .coralTube { fill: hsl(60, 50%, 40%); }
    .coralTubeCavity { fill: hsl(60, 33%, 70%); }
    .coralBrain { fill: hsl(30, 50%, 60%); }
    .coralBrainCavity { fill: hsl(30, 50%, 40%); }
    .urchinBack { fill: hsl(300, 50%, 50%); }
    .urchinFront { fill: hsl(270, 50%, 60%); }
    .tubeWormBack { fill: hsl(180, 40%, 55%); }
    .tubeWormFront { fill: hsl(180, 50%, 60%); }
    .tubeWormCavity { fill: hsl(180, 40%, 35%); }
    .tubeWormPlume { fill: hsl(20, 60%, 50%); }
}