.shoreRickshawBackdrop {
    .lighthouseInner {
        fill: #9bba9b;
    }

    .lighthouseCentre {
        fill: #729374;
    }

    .lighthouseOuter {
        fill: #bdd3b8;
    }

    .mountain {
        fill: #725a7a;
    }

    .foliage {
        fill: #5b7755;
    }

    .shore {
        fill: #99977a;
    }

    .ocean {
        fill: #79bab3;
    }
}

.rickshawTown {
    .foliageRear {
        fill: #395e40;
    }

    .foliageFront {
        fill: #497851;
    }

    .palaceWallSide {
        fill: #5b3433;
    }

    .palaceWallFront {
        fill: #693938;
    }

    .palaceRoofSide {
        fill: #625b37;
    }

    .palaceRoofFront {
        fill: #6a623b;
    }

    .palaceRoofTrimBelow {
        fill: #776e44;
    }

    .palaceRoofTrimAbove {
        fill: #857a4a;
    }

    .wallSide {
        fill: #a29d7b;
    }

    .wallFront {
        fill: #b9b28d;
    }

    .trimFront {
        fill: #75664a;
    }

    .trimSide {
        fill: #66573a;
    }

    .roofSide {
        fill: #8f6750;
    }

    .roofTop {
        fill: #a3755c;
    }

    .roofFront {
        fill: #9a6e56;
    }

    .roofBelow {
        fill: #7f5b48;
    }

    .beamSide {
        fill: #73664d;
    }

    .beamFront {
        fill: #64573e;
    }

    .awningBelow {
        fill: #42597a;
    }

    .awningSide {
        fill: #496387;
    }

    .awningFront {
        fill: #516e96;
    }

    .awningTop {
        fill: #5a7aa6;
    }
}