.shoreRickshawBackdrop {
    .lighthouseInner {
        fill: #9bba9b;
    }

    .lighthouseCentre {
        fill: #729374;
    }

    .lighthouseOuter {
        fill: #bdd3b8;
    }

    .mountain {
        fill: #725a7a;
    }

    .foliage {
        fill: #5b7755;
    }

    .shore {
        fill: #99977a;
    }

    .ocean {
        fill: #79bab3;
    }
}
