.VerseTracker {

    .RM__isPaused
    &,
    .RM__cannotTrackVerse
    &,
    &.VerseTracker__unselected {

        /**
         * Ensure that verse tracker always resets between toggling play and
         * selecting songs.
         */
        transition: none !important;
    }

    .RM__isPlaying.RM__canTrackVerse
    &.VerseTracker__selected {
        // TODO: Improve this styling.
        background-color: rgba(127, 255, 212, 1.0);
    }
}

.VerseTracker__inSlider {
    left: -100%;

    .RM__isPlaying.RM__canTrackVerse
    &.VerseTracker__selected {
        left: 0;
    }
}

.VerseTracker__inLyric {
    top: -100%;

    .RM__isPlaying.RM__canTrackVerse
    &.VerseTracker__selected {
        top: 0;
    }
}

// .VerseTracker__inSlider {
//     width: 200%;
//     left: -100%;

//     .RM__isPlaying
//     &.VerseTracker__selected {
//         left: 0;

//         // TODO: Improve this styling.
//         background: linear-gradient(
//             90deg,
//             black,
//             transparent
//         );
//     }
// }

// .VerseTracker__inLyric {
//     height: 200%;
//     top: -100%;

//     .RM__isPlaying
//     &.VerseTracker__selected {
//         top: 0;

//         // TODO: Improve this styling.
//         background: linear-gradient(
//             black,
//             transparent
//         );
//     }
// }
