.VerseTracker {

    .PlW__isPaused
    &,
    .TrW__cannotTrackVerse
    &,
    &.VerseTracker__unselected {

        /**
         * Ensure that verse tracker always resets between toggling play and
         * selecting songs.
         */
        transition: none !important;
    }

    .PlW__isPlaying
    .TrW__canTrackVerse
    &.VerseTracker__selected {
        // TODO: Improve this styling.
        background-color: $bgColour__audioPlaying;
        // background: linear-gradient(to bottom, $bgColour__audioPlaying, $bgColour__audioPause);
    }
}

.VerseTracker__inSlider {
    left: -100%;

    .PlW__isPlaying
    .TrW__canTrackVerse
    &.VerseTracker__selected {
        left: 0;
    }
}

.VerseTracker__inLyric {
    top: -100%;

    .PlW__isPlaying
    .TrW__canTrackVerse
    &.VerseTracker__selected {
        top: 0;
    }
}
