@import '../../scss/constants/icon';
@import '../../scss/constants/responsive';
@import '../../scss/constants/transition';
@import '../../scss/constants/zIndex';

/**
 * Make this the full height of the carousel itself, to ensure that nothing is
 * clickable when carousel is hidden.
 */
$height__carouselHidden: $height__schwa__stickers;

.Carousel {
    display: none;
    position: absolute;
    left: 0;
    width: 100vw;

    opacity: 0;

    // Carousel just needs to be above nav.
    z-index: $zIndex__theatre;

    .DW__desktopWidth
    & {
        bottom: -$height__carouselHidden;
        height: $height__schwa__stickers;
        padding-bottom: $MARGIN_THIN;
    }

    .DW__userAgentDesktop.DW__desktopWidth
    & {
        transition:
            opacity $TRANSITION_DURATION_CURTAINS,
            bottom $TRANSITION_DURATION_CURTAINS;
    }


    .DW__mobileWidth
    & {
        top: -$height__carouselHidden;
        height: 100%;
    }

    .DW__userAgentDesktop.DW__mobileWidth
    & {
        transition:
            opacity $TRANSITION_DURATION_CURTAINS,
            top $TRANSITION_DURATION_CURTAINS;
    }

    .RW__navShowable
    .ShW__carouselShown
    &.Carousel__visible {
        opacity: 1;
    }

    .DW__desktopWidth
    .RW__navShowable
    .ShW__carouselShown
    &.Carousel__visible {
        bottom: 0;
    }

    .DW__mobileWidth
    .RW__navShowable
    .ShW__carouselShown
    &.Carousel__visible {
        top: 0;
    }
}

.Carousel {
    .MW__canCarouselNavMount
    & {
        display: block;
    }
}

/** Gradient mask does not work in IE or Edge, though. */
.gradientMask__carousel__desktop {

    // Consider Golden Cord width.
    $gradient__carousel__monitor:
        linear-gradient(
            to left,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0) $WIDTH_GOLDEN_CORD * 0.25,
            rgba(0, 0, 0, 0) $WIDTH_GOLDEN_CORD * 0.75,
            rgba(0, 0, 0, 0.4) $WIDTH_GOLDEN_CORD,
            black $WIDTH_GOLDEN_CORD * 1.1,
            black
        );
    .DW__monitorWidth
    .ShW__annotationHidden
    & {
        mask-image: $gradient__carousel__monitor;
    }

    // Consider Uncanny Valley width.
    $gradient__carousel__laptop:
        linear-gradient(
            to left,
            rgba(0, 0, 0, 0.1),
            rgba(0, 0, 0, 0) $WIDTH_UNCANNY_VALLEY * 0.25,
            rgba(0, 0, 0, 0) $WIDTH_UNCANNY_VALLEY * 0.75,
            rgba(0, 0, 0, 0.4) $WIDTH_UNCANNY_VALLEY,
            black $WIDTH_UNCANNY_VALLEY * 1.1,
            black
        );
    .DW__laptopWidth
    .ShW__annotationHidden
    & {
        mask-image: $gradient__carousel__laptop;
    }

    .DW__desktopWidth
    .ShW__annotationShown.ShW__carouselShown
    & {
        // When carousel annotation is selected, switch z-index with lyric.
        z-index: $zIndex__lyricColumn;
    }
}