.patina#{$suffix} {
    // .patinaDarkest { fill: hsl(148, 23%, 37%); }
    // .patinaDarker { fill: hsl(148, 23%, 42%); }
    .patinaDark { fill: hsl(148, 23%, 47%); }
    // .patinaMediumDark { fill: hsl(148, 23%, 52%); }
    // .patinaMedium { fill: hsl(148, 23%, 57%); }
    // .patinaMediumLight { fill: hsl(148, 23%, 62%); }
    // .patinaLight { fill: hsl(148, 23%, 67%); }
}
