.drumStand#{$suffix} {
    .pole { fill: hsl(190, 6%, 61%); }
    .rod { fill: hsl(191, 4%, 50%); }
    .leg { fill: hsl(194, 8%, 68%); }
    .legInner { fill: hsl(195, 7%, 65%); }
    .pad { fill: hsl(43, 23%, 20%); }
    .padding { fill: hsl(265, 12%, 58%); }
    .bolt { fill: hsl(186, 4%, 53%); }
    .boltLight { fill: hsl(185, 5%, 58%); }
    .mountLight { fill: hsl(156, 10%, 60%); }
    .mountDark { fill: hsl(155, 9%, 56%); }
    .mountDarker { fill: hsl(154, 7%, 47%); }
    .pedalLight { fill: hsl(73, 8%, 65%); }
    .pedalDark { fill: hsl(74, 6%, 61%); }
    .stirrupDark { fill: hsl(73, 9%, 32%); }
    .stirrupLight { fill: hsl(73, 9%, 40%); }
}