@each $dotLetter in $dotLettersArray {

    // "Root selected dot letter, child carousel annotation."
    .RsD#{$dotLetter} .CcA#{$dotLetter} {

        min-width:
            $width__annotationCard
            + $js__padding__popupContent__wide * 2;

        margin-left: $paddingX__carouselAnnotation;

        .AnnotationHeaderAnimatable {
            opacity: 1;
        }
    }

    .RM__mini.RsD#{$dotLetter} .CcA#{$dotLetter} {

        min-width:
            $width__annotationCard__mini
            + $js__padding__popupContent__wide * 2;
    }
}

/**
 * Override if hidden by single lyric column. Using specific selectors to
 * override styles for mini width as well.
 */
.Root.RM__rightLyricColumnOnly
    .CarouselAnnotation__inLyricColumn__left,
.Root.RM__leftLyricColumnOnly
    .CarouselAnnotation__inLyricColumn__right {

    min-width: 0;
    opacity: 0;

    margin: 0;

    .AnnotationCardAnimatable {
        max-height: 0;
        opacity: 0;
    }

    .AnnotationHeaderAnimatable {
        opacity: 0;
    }
}
