@each $dotLetter in $dotLettersArray {

    // "Root selected dot letter, child carousel annotation."
    .RsD#{$dotLetter} .CcA#{$dotLetter} {

        min-width:
            $width__annotation
            + $PADDING_POPUP_CONTENT_WIDE * 2;

            padding-left: $MARGIN_THIN * 2.5;
            padding-right: $MARGIN_THIN * 2.5;

        .AnnotationHeaderAnimatable {
            opacity: 1;
        }
    }

    // .DW__miniWidth
    // .RsD#{$dotLetter} .CcA#{$dotLetter} {

    //     min-width:
    //         $width__annotation__mini
    //         + $PADDING_POPUP_CONTENT_WIDE * 2;
    // }
}

/**
 * Override if hidden by single lyric column. Using specific selectors to
 * override styles for mini width as well.
 */
.DeviceWrapper
.RW__rightEarColumnOnly
.CarouselAnnotation__inEarColumn__left,

.DeviceWrapper
.RW__leftEarColumnOnly
.CarouselAnnotation__inEarColumn__right {

    min-width: 0;
    opacity: 0;

    padding-left: 0;
    padding-right: 0;

    .AnnotationCardAnimatable {
        max-height: 0;
        opacity: 0;
    }

    .AnnotationHeaderAnimatable {
        opacity: 0;
    }
}
