@import "./logic";

.CarouselAnnotation {
    overflow: hidden;

    display: flex;
    flex-direction: column-reverse;

    min-width: 0;

    .DW__desktop
    & {
        padding-bottom: $js__margin__thick;
    }

    .DW__mobileNotPhone
    & {
        flex-direction: column;

        /**
         * Allow room for the annotation title. Then add additional padding to
         * accommodate box shadow.
         */
        padding-top:
            $height__annotationTitle
            + $js__margin__thin * 2;
    }

    .parent__shown
    & {
        transition:
            min-width $animationDuration__default,
            opacity $animationDuration__default;
    }
}
