// .waterDarkest { fill: hsl($HUE_OCEAN, 46%, 37%); }
.waterDarker { fill: hsl($HUE_OCEAN, 46%, 42%); }
.waterDark { fill: hsl($HUE_OCEAN, 46%, 47%); }
// .waterMediumDark { fill: hsl($HUE_OCEAN, 46%, 52%); }
.waterMedium { fill: hsl($HUE_OCEAN, 46%, 57%); }
// .waterMediumLight { fill: hsl($HUE_OCEAN, 46%, 62%); }
// .waterLight { fill: hsl($HUE_OCEAN, 46%, 67%); }

.darkenDefault .darken#{$suffix} {
    .waterDark { fill: hsl($HUE_OCEAN, 23%, 29%); }
}