.ThingsDashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: $padding__dashboard;
    height: $height__dashboard__mobile;

    @media (min-width: 1000px) {
        height: $height__dashboard;
    }
}

.ThingsDashboard__child {
    height: $height__input;
    font-size: 1.2em;
    width: 100%;

    @media (min-width: 1000px) {
        font-size: 1.5em;
        width: auto;

        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}

.Things__kilobytes {
    // Hide kilobytes in mobile.
    display: none;

    @media (min-width: 1000px) {
        display: block;
    }
}