.posterGladiator#{$suffix} {
    .frame { fill: hsl(180, 17%, 73%); }
    .mountain { fill: hsl(24, 10%, 41%); }
    .steppe { fill: hsl(24, 13%, 48%); }
    .land { fill: hsl(56, 15%, 61%); }
    .boot { fill: hsl(28, 15%, 48%); }
    .glove { fill: hsl(30, 6%, 32%); }
    .skirt { fill: hsl(20, 5%, 36%); }
    .strap { fill: hsl(221, 12%, 30%); }
    .pauldronStrap { fill: hsl(201, 31%, 35%); }
    .brass { fill: hsl(60, 40%, 60%); }
    .shirt { fill: hsl(27, 6%, 35%); }
    .belt { fill: hsl(224, 29%, 46%); }
    .sash { fill: hsl(209, 26%, 61%); }
    .pauldron { fill: hsl(189, 14%, 45%); }
    .guard { fill: hsl(186, 11%, 66%); }
    .blade { fill: hsl(164, 13%, 72%); }
}
