@import "./AudioBanner.less";
@import "./AudioButtons.less";
@import "./AudioTimer.less";

@js__height__audio: 64px;

.Audio, .audio-block, .audio-subblock, .audio-display-block {
    display: flex;
    align-items: center;
}

.Audio {
    @paddingY__audio: (@js__height__menu - @js__height__audio) / 2;

    box-sizing: border-box;
    height: 100%;

    flex-grow: 1;

    // Needed for audio banner in overlay.
    position: relative;
    padding: @paddingY__audio @audio-block-padding;

    background-color: #dbb;

    ._titleInAudio_
    & {
        padding: @paddingY__audio @_titleInAudio_-block-padding;
    }

    ._phone_
    & {
        justify-content: center;
    }
}

.audio-block {
    box-sizing: border-box;
    flex-grow: 1;
}