@height__audioBanner__display:
    (@js__height__menu - @paddingY__audio * 2) / 2;

.AudioBanner {
    margin-right: @js__padding__audio;
    min-width: @minWidth__audioBanner;
    line-height: 1em;

    @margin__audioBanner__accessIcons: 3px;

    .AccessIconsBlock {
        bottom: @margin__audioBanner__accessIcons;

        &.rewind-forward {
            left: @margin__audioBanner__accessIcons;
        }

        &.enter {
            right: @margin__audioBanner__accessIcons;
        }
    }

    .RM__titleInAudio
    & {
        min-width: 200px;
    }
}

.AudioBanner__display {
    box-sizing: border-box;
    padding: 0 5px;

    height: @height__audioBanner__display;
    justify-content: space-between;

    background-color: #8b8;

    .RM__titleInAudio
    & {
        font-size: 0.85em;
    }
}
