/* TODO: Revisit Menu when doing refactor here. */

.AudioBanner-block, .AudioTimer-block {
    background-color: #8dd;
}

.AudioBanner-block {
    height: 100%;
    position: relative;
    margin-right: @audio-block-padding;
    min-width: @minWidth__audioBanner;
    line-height: 1em;

    background-color: #dbd;

    @AccessIconsBlock-margin: 3px;

    .AccessIconsBlock {
        bottom: @AccessIconsBlock-margin;

        &.rewind-forward {
            left: @AccessIconsBlock-margin;
        }

        &.enter {
            right: @AccessIconsBlock-margin;
        }
    }

    ._titleInAudio_
    & {
        min-width: 200px;
        margin-right: @_titleInAudio_-block-padding;
    }
}

.AudioBanner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .AudioBanner-block
    & {
        flex-grow: 1;
    }
}

.audio-display-block {
    box-sizing: border-box;
    padding: 0 5px;

    height: @AudioBanner-height;
    justify-content: space-between;

    background-color: #8b8;
}

.AudioBanner-title {

    // Make text smaller when width is narrow.
    ._titleInAudio_
    & {
        font-size: 0.85em;
    }
}