$multiplier__audioTimer__jiffy: 0.66;
$fontSize__audioTimer: 0.95em;
$fontSize__audioTimer__titleTimer: 1.6em;

.AudioTimer__titleTimer {
    background-color: #dff;
}

.AudioTimer__base {
    font-size: $fontSize__audioTimer;

    .AudioTimer__titleTimer
    & {
        font-size: $fontSize__audioTimer__titleTimer;
    }
}

.AudioTimer__jiffy {
    font-size:
        $fontSize__audioTimer
        * $multiplier__audioTimer__jiffy;

    .AudioTimer__titleTimer
    & {
        font-size:
            $fontSize__audioTimer__titleTimer
            * $multiplier__audioTimer__jiffy;
    }
}

.AudioTimer__titleTimer {

    transition: opacity $animationDuration__default;

    .RM__overlayHidden
    & {
        opacity: 0;
    }
}