// 232 px.
@margin__audioButtons__child: 8px;
@margin__audioButtons__playerButton: 3px;
@AudioButtons-constant: @js__length__icon * 3 +
                         @margin__audioButtons__playerButton * 2 +
                         @margin__audioButtons__child;

.AudioButtons {
    justify-content: space-between;

    // Give audio banner more room.
    max-width: 220px;

    background-color: #bbb;

    .Button:not(:last-child) {
        margin-right: @margin__audioButtons__playerButton;
    }
}

.AudioButtons__child:not(:last-child) {
    margin-right: @margin__audioButtons__child;
}

.AudioButtons__childPlayer {
    justify-content: space-between;
    flex-grow: 4;
}

.AudioButtons__childOption {
    justify-content: flex-end;
    flex-grow: 3;
}

.audio-nav {
    .Button__enabled
    & {
        background-color: @colour__audioSelect;
    }
}

.audio-neutral {
    .Button__enabled
    & {
        background-color: @colour__audioNeutral;
    }
}

.audio-play-toggle {
    ._isPlaying_ .Button__enabled
    & {
        background-color: @colour__audioPause;
    }

    ._isPaused_ .Button__enabled
    & {
        background-color: @colour__audioPlay;
    }
}