// 232 px.
@audio-button-margin: 3px;
@audio-option-button-margin: 8px;
@AudioButtons-constant: @app-icon-diameter * 3 +
                         @audio-button-margin * 2 +
                         @audio-option-button-margin;

.AudioButtons-block {
    justify-content: space-between;
    height: 100%;

    // Give audio banner more room.
    max-width: 220px;

    background-color: #bbb;

    .Button:not(:last-child) {
        margin-right: @audio-button-margin;
    }
}

.player-subblock {
    justify-content: space-between;
    margin-right: @audio-option-button-margin;
    flex-grow: 4;
}

.option-subblock {
    justify-content: flex-end;
    flex-grow: 3;
}

.audio-nav {
    .enabled
    & {
        background-color: @audio-nav-colour;
    }
}

.audio-neutral {
    .enabled
    & {
        background-color: @audio-neutral-colour;
    }
}

.audio-play-toggle {
    ._isPlaying_ .enabled
    & {
        background-color: @audio-pause-colour;
    }

    ._isPaused_ .enabled
    & {
        background-color: @audio-play-colour;
    }
}