@height__audioBanner__display:
    (@js__height__menu - @paddingY__audio * 2) / 2;

.AudioBanner {
    margin-right: @js__padding__audio;
    min-width: @js__minWidth__audioBanner;
    line-height: 1em;

    .RM__titleInAudio
    & {
        min-width: 200px;
    }
}

.AudioBanner__display {
    box-sizing: border-box;
    padding: 0 5px;

    height: @height__audioBanner__display;
    justify-content: space-between;

    background-color: #8b8;

    .RM__titleInAudio
    & {
        font-size: 0.85em;
    }
}

.gradientMask__audioBanner {

    /** Gradient mask does not work in IE or Edge. */
    @gradient__audioBanner: linear-gradient(
        180deg,
        black,
        black 90%,
        transparent
    );

    // Not taken care of by autoprefixer, unfortunately.
    -webkit-mask-image: @gradient__audioBanner;
    mask-image: @gradient__audioBanner;
}