@import "./AudioBanner";
@import "./AudioButtons";
@import "./AudioTimer";

.Audio {
    box-sizing: border-box;
    height: 100%;

    // Needed for audio banner in overlay.
    position: relative;

    // PaddingX at edge is thick margin.
    padding: $paddingY__audio $js__margin__thick;

    .RM__twoRowMenu
    & {
        padding:
            $paddingY__audio
            $js__margin__thick;

        justify-content: space-around;
    }
}

.Audio__child {
    position: relative;
    height: 100%;
    width: 100%;

    &:not(:last-child) {

        // PaddingX between children is thick plus thin margin.
        margin-right: $js__margin__thick + $js__margin__thin;
    }
}