.AudioButtons {
    flex-grow: 1;
    justify-content: space-between;

    // Give audio banner more room.
    max-width: 240px;

    // background-color: #bbb;
}

.AudioButtons__child:not(:last-child) {
    margin-right: $js__margin__thick;
}

.AudioButtons__childPlayer {
    justify-content: space-between;
    flex-grow: 4;
}

.AudioButtons__childOption {
    justify-content: flex-end;
    flex-grow: 3;
}

.AudioButton:not(:last-child) {
    margin-right: $js__margin__thin;
}