@import '../../scss/constants/zIndex';

.Audio {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;

    background-color: hsla(120, 50%, 75%, 0.75);
}

.AudioButton {
    z-index: $zIndex__menuChild;
}
