@import '../../scss/constants/zIndex';

.Audio {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    z-index: $zIndex__menuChild;
}
