@import "./Unit/Unit";

@import "./StanzaLogic";

$paddingY__stanzas: 20px;

.Stanzas {
    padding: $paddingY__stanzas 0;
}

.gradientMask__lyricColumn__mobileCollapsed {

    /** Gradient mask does not work in IE or Edge. */
    $gradient__lyric__mobileCollapsed: linear-gradient(
        0deg,
        black,
        black 90%,
        transparent
    );
    .RM__mobile.RM__lyricCollapsed
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: $gradient__lyric__mobileCollapsed;
        mask-image: $gradient__lyric__mobileCollapsed;
    }
}