.shane#{$suffix} {
    .shaneShirt { fill: hsl(56, 52%, 71%); }
    .shaneShorts { fill: hsl(352, 38%, 61%); }
    .shaneSockStripe { fill: hsl(36, 49%, 59%); }
    .shaneShoe { fill: hsl(215, 20%, 50%); }

    .outline { fill: hsl(40, 30%, 86%); }
    .horseshoe { fill: hsl(41, 27%, 48%); }
    .horseshoeRidge { fill: hsl(41, 27%, 42%); }
}
