.dots-section {
    // Dots section and dot stanzas.
    .dot .animated-background {
        transition: background-color @animation-fast;
    }
}

.dots-section, .portals-block {
    .dot .animated-background {
        border: @dot-border solid @dot-border-colour;
    }
}

.dots-section {
    padding: 10px;

    // TODO: Maybe consolidate all the text shadows that use this colour.
    .text-shadow-mixin(@odd-verse-colour);
}
