.TileCubeFace__stroke {
    stroke: #bbb;
}

.TileCubeFace__tile {
    fill: rgba(0, 200, 0, 0.5);
}

.TileCubeFace__front {
    fill: rgba(0, 0, 200, 0.5);
}

.TileCubeFace__side {
    fill: rgba(200, 0, 0, 0.5);
}