@import '../../scss/constants/icon';
@import '../../scss/constants/pitch';

.PitchNav {
    height: $height__pitchNav;
    width: 100%;

    // & > :not(:last-child) {
    //     margin-right: $MARGIN_THIN;
    // }

    & > :first-child {
        margin-right: $MARGIN_THIN * 1.5;
    }

    & > :last-child {
        margin-left: $MARGIN_THIN * 1.5;
    }
}
