@import '../../scss/constants/icon';
@import '../../scss/constants/pitch';

.PitchNav {
    height: $height__pitchNav;
    width: 100%;

    & > :not(:last-child) {
        margin-right: $MARGIN_THIN;
    }
}
