.icon-canvas-block {

    // Necessary?
    .single-book-column
    & {
        transition: width @animation-default;
    }
}

.icon-canvas {
    .nav-button
    & {
        background-color: #dd8;
    }

    .nav-button.selected
    & {
        background-color: orange;
    }
}