.TextAnchor__singleEntity,
.TextAnchor__plainText {
    position: relative;
}

.TextAnchor__linkText {

    // Override defaults.
    text-indent: 0;
    padding: 0;
    line-height: 125%;
    direction: ltr;
    visibility: hidden;

    .parent__shown
    & {
        transition: color $animationDuration__fast;
    }

    // "Root accessed letter Enter, child accessed letter Enter."
    .PaLEnter
    .CaLEnter
    &.TextAnchor__linkText__accessed {
        /**
        * Overly specific selectors are needed to override default link text
        * styling in cursored verse, which also has the !important flag. This
        * is unfortunate, but unavoidable.
        */
        color: $colour__accessedLinkActive !important;
    }
}

.RM__sliderMoving {

    // Specific selector to override.
    .Anchor {
        .TextAnchor__plainText {
            visibility: visible;
        }
    }

    .TextAnchor__linkText {
        display: none;
    }
}