// .Pixel {
//     fill-opacity: 0.5;
// }

.CubeFace__shade {
    // For now, we'll have a stroke on the shade face.
    stroke: rgba(225, 225, 175, 0.5);
}

/**
 * In order from brightest to darkest.
 */

.CubeFace__shade__floorTile {

    .Cube__z9
    &,
    .Cube__z8
    & {
        fill: rgba(25, 25, 25, 0.0);
    }

    .Cube__z7
    &,
    .Cube__z6
    & {
        fill: rgba(25, 25, 25, 0.025);
    }

    .Cube__z5
    &,
    .Cube__z4
    & {
        fill: rgba(25, 25, 25, 0.05);
    }

    .Cube__z3
    &,
    .Cube__z2
    & {
        fill: rgba(25, 25, 25, 0.075);
    }

    .Cube__z1
    &,
    .Cube__z0
    & {
        fill: rgba(25, 25, 25, 0.1);
    }
}

.CubeFace__shade__side {

    .Cube__x5
    &,
    .Cube__x6
    & {
        fill: rgba(25, 25, 25, 0.1);
    }

    .Cube__x4
    &,
    .Cube__x7
    & {
        fill: rgba(25, 25, 25, 0.125);
    }

    .Cube__x3
    &,
    .Cube__x8
    & {
        fill: rgba(25, 25, 25, 0.15);
    }

    .Cube__x2
    &,
    .Cube__x9
    & {
        fill: rgba(25, 25, 25, 0.175);
    }

    .Cube__x1
    &,
    .Cube__x10
    & {
        fill: rgba(25, 25, 25, 0.2);
    }

    .Cube__x0
    &,
    .Cube__x11
    & {
        fill: rgba(25, 25, 25, 0.225);
    }
}

.CubeFace__shade__front {

    .Cubes__y0__back
    & {
        fill: rgba(25, 25, 25, 0.2);
    }

    .Cubes__y1
    & {
        fill: rgba(25, 25, 25, 0.2);
    }

    .Cubes__y2
    & {
        fill: rgba(25, 25, 25, 0.25);
    }

    .Cubes__y3
    & {
        fill: rgba(25, 25, 25, 0.3);
    }

    .Cubes__y4
    & {
        fill: rgba(25, 25, 25, 0.35);
    }

    .Cubes__y5__front
    & {
        fill: rgba(25, 25, 25, 0.4);
    }
}

.CubeFace__shade__ceilingTile {
    fill: rgba(25, 25, 25, 0.45);
}
