/**
 * In order from brightest to darkest.
 */

.CubeFace__floorTile {
    fill: none;
}

.CubeFace__side {
    fill: rgba(0, 0, 25, 0.15);
}

.CubeFace__front {
    fill: rgba(0, 0, 25, 0.3);
}

.CubeFace__ceilingTile {
    fill: rgba(0, 0, 25, 0.45);
}

.CubeFace__stroke {
    stroke: rgba(225, 225, 175, 0.5);
}

.CubePixel {
    fill-opacity: 1;
}