.AccessLetters {
    .Lyric
    & {
        bottom: $margin__lyricColumn__accessIcons;
    }
}

.AccessLetters__lyricLeftRight {
    left: $margin__lyricColumn__accessIcons;
}

.AccessLetters__lyricUpDown {
    right: $margin__lyricColumn__accessIcons;
}
