// .LyricAccess {
//     position: absolute;
//     right: $margin__lyricColumn__accessIcons;
//     bottom: $margin__lyricColumn__accessIcons;

//     display: flex;
//     flex-direction: column-reverse;
// }

.AccessLetters__inLyric {
    bottom: $margin__lyricColumn__accessIcons;
}

.AccessLetters__lyricLeftRight {
    left: $margin__lyricColumn__accessIcons;
}

.AccessLetters__lyricUpDown {
    right: $margin__lyricColumn__accessIcons;
}
