@import '../../../scss/constants/border';
@import '../../../scss/constants/colour';
@import '../../../scss/constants/icon';
@import '../../../scss/constants/marketing';
@import '../../../scss/constants/popup';
@import '../../../scss/constants/shadow';

.MarketingBody {
    position: relative;
    width: 100%;
    font-size: 0.9em;
    flex-grow: 1;

    .MarketingContainer
    & {
        max-width: $width__marketingContainer;

        .DW__tabletOrDesktopWidth
        & {
            width: calc(
                100% -
                #{$LENGTH_ICON_LARGE * 2 + $PADDING_POPUP_CONTENT_WIDE * 2}
            );
        }
    }
}

.MarketingScroll__child {
    background-color: $colour__foreground;
    box-shadow: $boxShadow__popupView;
    border-radius: $borderRadius__wide;
}

.MarketingScroll__grandchild {
    position: relative;
    width: 100%;
    height: 100%;
    padding: $margin__thick * 2;

    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    & > :not(:last-child) {
        margin-bottom: $margin__thick * 2;
    }
}
