.bass__shared {
    .strapLeather { fill: #695e54; }
    .strapCloth { fill: #566954; }
    .silver { fill: #769294; }
    .silverDark { fill: #6a8385; }
    .bodyDark { fill: #8f7c63; }
    .bodyLight { fill: #ab9577; }
    .pickGuard { fill: #696254; }
    .pickupSide { fill: #3e4c4d; }
    .pickupFront { fill: #4c5d5e; }
    .outputJack { fill: #333f40; }
    .headstockDark { fill: #b3b08d; }
    .headstockLight { fill: #c4c19b; }
    .fretboard { fill: #bdb090; }
    .neck { fill: #b0a486; }
    .nut { fill: #cfcca6; }
}