.VerseAudioIndicator {
    position: absolute;
    top: 0;
    left: @paddingX__verse * 0.5;

    font-size: 0.75em;

    transition: opacity @animationDuration__default;
}

.VerseAudioIndicator__interactivated {
    opacity: 0;
}