.VerseAudioButton {
    position: absolute;
    top: 50%;
    left: 0;

    opacity: 0;
    transform: translateY(-50%);

    transition:
        left @animationDuration__fast,
        opacity @animationDuration__default;
}

.VerseAudioButton__interactivated {
    left: -@length__iconSmall * 0.5;
    opacity: 1;
    animation: fontSnapback 0.16s;

    z-index: @zIndex__verseAudioButton;
}
