.oaklandFrontBackdrop {
    .foliage { fill: #5e7054; }
}

.residentialFarLeft {
    .wallFront { fill: #c69bc7; }
    .wallSide { fill: #ac87ad; }
    .deckFront { fill: #a3b38b; }
    .deckSide { fill: #909e7b; }
    .railFront { fill: #bdba93; }
    .railSide { fill: #a6a481; }
}

.residentialFarRight {
    .wallFront { fill: #c69bc7; }
    .wallSide { fill: #ac87ad; }
}

.residentialMiddleRight {
    .wallFront { fill: #c69bc7; }
    .wallSide { fill: #ac87ad; }
    .windowMiddle { fill: #64c7c7; }
    .bayWallFront { fill: #b799ab; }
    .bayWallMiddle { fill: #b08da0; }
    .bayWallSide { fill: #a68a94; }
}

.residentialNearRight {
    .wallFront { fill: #c69bc7; }
    .wallSide { fill: #ac87ad; }
    .deckFront { fill: #a3b38b; }
    .deckSide { fill: #909e7b; }
    .railFront { fill: #bdba93; }
    .railSide { fill: #a6a481; }
}