@import "./Ceiling/style";
@import "./Floor/style";
@import "./Wall/style";

.Theatre {
    opacity: 0;

    .DW__userAgentMobile
    & {
        transition: opacity $animationDuration__default;
    }
}

.Theatre__visible {
    opacity: 1;
}

.Theatre__field {
    position: absolute;
    width: 100%;
    left: 0;

    // Floor needs to be above scene.
    z-index: $zIndex__theatre;
}

.Theatre__subfield {
    position: relative;
}

.fillTransition__dimTheatre {
    .DW__userAgentMobile
    & {
        transition: fill $animationDuration__slow;
    }
}
