@import "./Ceiling/Ceiling.less";
@import "./Floor/Floor.less";
@import "./Wall/Wall.less";

.Theatre {
    opacity: 0;
    transition: opacity @animationDuration__default;

    // This prevents heightless lyric column from pushing theatre offscreen.
    overflow: hidden;

    &.parentIsShown {
        opacity: 1;
    }
}

.Theatre__field,
.FloorPit {
    position: absolute;
}

.Theatre__field {
    width: 100%;
    left: 0;
}

.Theatre__subfield {
    position: relative;
}