@import "./TheatreCeiling.less";
@import "./TheatreFloor.less";
@import "./TheatreWall.less";

.Theatre,
.Theatre__field,
.TheatreFloorPit {
    position: absolute;
}

.Theatre {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.Theatre__field {
    width: 100%;
    left: 0;
}

.Theatre__subfield {
    position: relative;
}