@import "./TheatreCeiling.less";
@import "./TheatreFloor.less";
@import "./TheatreFloorSeat.less";
@import "./TheatreWall.less";

.Theatre {
    opacity: 0;
    transition: opacity @animationDuration__default;

    &.parentIsShown {
        opacity: 1;
    }
}

.Theatre__field,
.TheatreFloorPit {
    position: absolute;
}

.Theatre__field {
    width: 100%;
    left: 0;
}

.Theatre__subfield {
    position: relative;
}