@import "./Ceiling/Ceiling";
@import "./Floor/Floor";
@import "./Wall/Wall";

.Theatre {
    opacity: 0;
    transition: opacity $animationDuration__default;

    // This prevents heightless lyric column from pushing theatre offscreen.
    overflow: hidden;

    &.parent__shown {
        opacity: 1;
    }
}

.Theatre__field,
.FloorPit {
    position: absolute;
}

.Theatre__field {
    width: 100%;
    left: 0;
}

.Theatre__subfield {
    position: relative;
}