.porchDoor {
    .mailSlotFrame { fill: #968340; }
    .mailSlotLid { fill: #a18c44; }
}

.haircutScissors {
    .handle { fill: #c76288; }
}

.cactusSingle {
    .leaves { fill: #83ba7f; }
}

.cactusDouble {
    .leavesRear { fill: #7bad77; }
    .leavesFront { fill: #75a070; }
}