.porchDoor {
    .frame {
        fill: #b8b38c;
    }

    .door {
        fill: #6e6246;
    }

    .edge {
        fill: #595039;
    }

    .panel {
        fill: #63593f;
    }

    .window {
        fill: #588985;
    }

    .escutcheon {
        fill: #998541;
    }

    .knob {
        fill: #b39c4c;
    }

    .lock {
        fill: #a69147;
    }

    .mailSlotFrame {
        fill: #968340;
    }

    .mailSlotLid {
        fill: #a18c44;
    }

    .peepholeFrame {
        fill: #ab9549;
    }

    .peepholeGlass {
        fill: #3d4d54;
    }
}

.porchPlant {
    .leaves {
        fill: #46915f;
    }
}