.porchDoor {
    .mailSlotFrame {
        fill: #968340;
    }

    .mailSlotLid {
        fill: #a18c44;
    }
}

.porchPlant {
    .leaves {
        fill: #46915f;
    }
}

.haircutScissors {
    .handle {
        fill: #c76288;
    }

    .bladeBottom {
        fill: #a4a8b0;
    }

    .bladeTop {
        fill: #adb1ba;
    }

    .screw {
        fill: #7a7c82;
    }
}