.theatre-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(200, 250, 250, 0.2);

    .field {
        position: absolute;
        left: 0;
    }
}

.theatre-balcony-field {
    background-color: rgba(150, 250, 150, 0.5); 
    border: 2px solid green;    
    
    &.right {
        left: auto;
        right: 0;

        background-color: rgba(250, 250, 150, 0.5); 
        border: 2px solid orange;
    }
}

.theatre-ceiling-field {
    top: 0;
    background-color: rgba(150, 150, 250, 0.5); 
    border: 2px solid blue;    
}

.theatre-seating-field {
    bottom: 0;
    background-color: rgba(250, 150, 150, 0.5); 
    border: 2px solid red;
}

.theatre-seating-row {
    position: absolute;
    width: 100%;
    left: 0;

    border: 1px solid #844;
}