.theatre-section {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(200, 250, 250, 0.2);

    .field, .theatre-pit {
        position: absolute;
        box-sizing: border-box;
    }

    .field {
        left: 0;
    }
}

.theatre-ceiling-field {
    top: 0;
    background-color: rgba(150, 150, 250, 0.2); 
    border: 2px solid blue;    
}

.theatre-seating-field {
    bottom: 0;
    background-color: rgba(250, 150, 150, 0.2); 
    border: 2px solid red;
}

.theatre-balcony-field {  

    &.left {
        background-color: rgba(150, 250, 150, 0.5); 
        border: 2px solid green;  

        .theatre-balcony-column {
            border: 1px solid #484;
        }
    }

    &.right {
        left: auto;
        right: 0;

        background-color: rgba(250, 250, 150, 0.2); 
        border: 2px solid orange;

        .theatre-balcony-column {
            border: 1px solid #884;
        }
    }
}

.theatre-repeated {
    position: absolute;

    &.theatre-row {
        width: 100%;
    }

    &.theatre-column {
        height: 100%;
    }
}

.theatre-seating-row {
    left: 0;
    border: 1px solid rgba(150, 100, 100, 0.1);
}

.theatre-ceiling-row {
    left: 0;
    border: 1px solid rgba(100, 100, 150, 0.1);
}

.theatre-balcony-column {
    top: 0;
}

.theatre-pit {
    top: 0;
    background-color: #b88;
}

.seat, .rafter, .balcony {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #88f;
    background-color: rgba(200, 200, 250, 0.75);
}

.seat, .rafter {
    height: 100%;
    top: 0;
}

.balcony {
    width: 100%;
    left: 0;
}