.theatre-floor-field {
    bottom: 0;
    background-color: rgba(250, 150, 150, 0.2); 
    border: 2px solid red;
}

.theatre-pit {
    top: 0;
    background-color: #b88;
}

.theatre-seating {
    position: relative;
}

.seat {
    stroke: #88f;
    fill: rgba(200, 200, 250, 0.75);
}