// .theatre-balcony-column {
//     top: 0;
// }

// .balcony {
//     box-sizing: border-box;
//     border: 1px solid #88f;
//     background-color: rgba(200, 200, 250, 0.75);
//     width: 100%;
//     left: 0;
//     position: absolute;
//     height: 100%;
// }

.theatre-balconies {
    position: relative;
}

.balcony {
    stroke: #484;
    fill: rgba(150, 200, 150, 0.75);
}