.theatre-ceiling-field {
    top: 0;
    background-color: rgba(150, 150, 250, 0.2); 
    border: 2px solid blue;    
}

.theatre-rafters {
    position: relative;
}

.rafter {
    stroke: #88f;
    fill: rgba(200, 200, 250, 0.75);
}
