.lizPhone__shared {
    .antennaMedium { fill: #88a0b8; }
    .antennaLight { fill: #95afc9; }
    .phoneLight { fill: #99e8be; }
    .phoneMedium { fill: #8fd9b2; }
    .phoneDark { fill: #86cca7; }
    .buttonLarge { fill: #6b96c2; }
    .buttonSmall { fill: #6abf72; }
}