.lizApartment#{$suffix} {
    .frameSide { fill: hsl($HUE_LIZ_ROOM, 17%, 54%); }
    .frameFront { fill: hsl($HUE_LIZ_ROOM, 17%, 60%); }
    .doorSide { fill: hsl($HUE_LIZ_ROOM + 20, 22%, 50%); }
    .doorFront { fill: hsl($HUE_LIZ_ROOM + 20, 22%, 55%); }

    .sill { fill: hsl($HUE_LIZ_ROOM, 13%, 64%); }
    .sillDark { fill: hsl($HUE_LIZ_ROOM, 10%, 58%); }

    .paneStill { fill: hsl($HUE_LIZ_ROOM, 12%, 58%); }
    .paneSliding { fill: hsl($HUE_LIZ_ROOM, 9%, 52%); }
    .blinds { fill: hsl($HUE_LIZ_ROOM, 5%, 74%); }
    .rail { fill: hsl($HUE_LIZ_ROOM, 17%, 66%); }

    .darkRoom &.darkRoom#{$suffix} {
        .frameSide { fill: hsl($HUE_LIZ_ROOM, 9%, 32%); }
        .frameFront { fill: hsl($HUE_LIZ_ROOM, 9%, 35%); }
        .doorSide { fill: hsl($HUE_LIZ_ROOM + 20, 11%, 30%); }
        .doorFront { fill: hsl($HUE_LIZ_ROOM + 20, 11%, 33%); }
    
        .sill { fill: hsl($HUE_LIZ_ROOM, 7%, 32%); }
    
        .paneStill { fill: hsl($HUE_LIZ_ROOM, 6%, 34%); }
        .paneSliding { fill: hsl($HUE_LIZ_ROOM, 5%, 31%); }
        .blinds { fill: hsl($HUE_LIZ_ROOM, 3%, 42%); }
        .rail { fill: hsl($HUE_LIZ_ROOM, 9%, 38%); }
    }
}