.steamTunnel#{$suffix} {
    .gasketLight { fill: hsl(175, 16%, 72%); }
    .gasketMedium { fill: hsl(157, 11%, 61%); }
    .gasketDark { fill: hsl(158, 9%, 56%); }
    .joint { fill: hsl(175, 16%, 72%); }
    .pipe { fill: hsl(175, 21%, 77%); }
}