.lizPresent#{$suffix} {
    .lizUndershirt { fill: hsl($hue__present, 26%, 65%); }
    .lizPanties { fill: hsl($hue__present, 32%, 66%); }
    .lizShortsInner { fill: hsl($hue__present, 18%, 59%); }
    .lizShorts { fill: hsl($hue__present, 26%, 68%); }
    .lizSock { fill: hsl($hue__present, 19%, 78%); }
}