@import "./LyricColumn.less";
@import "./LyricColumnAccess.less";
@import "./LyricToggle.less";
@import "./VerseBar.less";

.LyricColumn {
    position: absolute;

    transition:
        height @animationDuration__default,
        opacity @animationDuration__default;

    // Keeps elements inside window!
    overflow: hidden;

    display: flex;
    justify-content: center;

    .RM__song
    & {
        /**
         * This fixes the issue of being unable to scroll between stanzas. But
         * set only in song, otherwise lyric column in logue will cover nav.
         */
        z-index: @zIndex__lyricColumn;
    }

    .RM__mobile.RM__song.RM__lyricExpanded
    & {
        height: ~"calc(100% - @{js__height__menu})";
    }

    .RM__twoRowMenu.RM__song.RM__lyricExpanded
    & {
        height: ~"calc(100% - @{js__height__aboveOverlay__twoRowMenu})";
    }

    .RM__phone.RM__song.RM__lyricExpanded
    & {
        height: ~"calc(100% - @{js__height__aboveOverlay__phone})";
    }

    .RM__mobile.RM__lyricHeightless
    & {
        height: 0;
    }

    opacity: 0;

    .RM__song
    &.parentIsShown {
        opacity: 1;
    }
}

// Used by LyricColumn and OverviewLogue.
.position__lyricColumn__desktop {

    .RM__desktop
    & {
        width: @js__width__goldenCord;
        height: 100%;
        right: 0;
    }

    .RM__laptop
    & {
        width: @js__width__uncannyValley;
    }
}

// Used by LyricColumn only.
.position__lyricColumn__mobile {

    .RM__mobile
    & {

        height: @js__height__lyricCollapsed;
        width: 100%;
        bottom: 0;
    }
}

.gradientMask__lyricColumn__desktop {

    @gradient__lyric__desktop: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1) @height__chivalry * 0.8,
        black @height__chivalry * 1.1,
        black
    );
    .RM__desktop.RM__carouselNavShowable.RM__carouselExpanded.RM__annotationShown
    & {
        // Not taken care of by autoprefixer, unfortunately.
        -webkit-mask-image: @gradient__lyric__desktop;
        mask-image: @gradient__lyric__desktop;

        // When carousel annotation is selected, switch z-index with carousel.
        z-index: @zIndex__carousel;
    }
}
