@margin__lyricColumn__accessIcons: 10px;

.AccessIcons__inLyric {
    bottom: @margin__lyricColumn__accessIcons;
}

.AccessIcons__lyricLeftRightEnter {
    left: @margin__lyricColumn__accessIcons;
}

.AccessIcons__lyricUpDown {
    right: @margin__lyricColumn__accessIcons;
}
