.LyricToggle {
    position: absolute;
    padding: @margin__thin;

    background-color: gray;
    transition:
        opacity @animationDuration__default,
        transform @animationDuration__default;
}

.LyricToggle__inLyric {
    z-index: @zIndex__lyricToggle;
    top: @margin__scrollbar / 2;
}

.LyricToggleEar {
    // Needed to expand properly in Chrome.
    right: @margin__scrollbar;
}

.LyricToggleExpand__inLyric {
    left: @margin__scrollbar;
}

.LyricToggle__inMain {
    bottom: 0;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%) scale(1);
    z-index: @zIndex__leftShelf;

    .RM__carouselNavUnshowable
    &,
    .RM__annotationShown.RM__navExpanded
    & {
        opacity: 0;
        transform: translateX(-50%) scale(0);
    }
}
