@marginY__verseBar: 8px;
@offsetY__verseBar__hidden: -50px;

.VerseBar {
    opacity: 0;
    transform: scale(0.5);

    @js__margin__thick__double: @js__margin__thick * 2;
    max-width: ~"calc(100% - @{js__margin__thick__double})";

    z-index: @zIndex__lyricChild__topMost;
    cursor: pointer;
}

.VerseBar__animatable {

    .VerseBar:hover
    & {
        animation: bounceHover @animationDuration__default;
    }

    .VerseBar:active
    & {
        transform: scale(0.9);
    }
}

.VerseBar__animatable__above {
    box-shadow: @boxShadow__verseBar__above;
}

.VerseBar__animatable__below {
    box-shadow: @boxShadow__verseBar__below;
}

.VerseBar__above {

    transition:
        top @animationDuration__fast,
        transform @animationDuration__fast,
        opacity @animationDuration__fast;

    .RM__verseBarAbove
    & {
        top: 0;
        transform: scale(1);
        opacity: 1;
    }
}

.VerseBar__below {

    transition:
        bottom @animationDuration__fast,
        transform @animationDuration__fast,
        opacity @animationDuration__fast;

    .RM__verseBarBelow
    & {
        bottom: 0;
        transform: scale(1);
        opacity: 1;
    }
}

.Verse__inBar {
    padding: @js__margin__thick;
}
