.walkman#{$suffix} {
    .headphoneEarpad { fill: hsl(3, 10%, 55%); }
    .headphoneBand { fill: hsl(3, 10%, 76%); }

    .cassette { fill: hsl(52, 12%, 65%); }
    .cassetteTape { fill: hsl(68, 7%, 47%); }
    .cassetteReel { fill: hsl(68, 10%, 72%); }
    .walkmanButton { fill: hsl(3, 12%, 65%); }
    .walkmanDark { fill: hsl(3, 28%, 56%); }
    .walkmanMedium { fill: hsl(3, 32%, 60%); }
    .walkmanLight { fill: hsl(3, 36%, 65%); }
    .walkmanWindow { fill: hsl(3, 7%, 42%); }
}