.foliage#{$suffix} {
    .foliageFar {fill: hsl(105, 20%, 53%); }
    .foliageMiddle {fill: hsl(105, 21%, 49%); }
    .foliageNear {fill: hsl(105, 22%, 45%); }
    .foliageNearest {fill: hsl(105, 23%, 41%); }

    .palmFrond { fill: hsl(94, 22%, 46%); }
    .palmTrunk { fill: hsl(35, 24%, 35%); }

    .cactusFurther { fill: hsl(83, 23%, 46%); }
    .cactusCloser { fill: hsl(83, 23%, 51%); }
    
    .treeFurthest { fill: hsl(121, 24%, 46%); }
    .treeFurther { fill: hsl(121, 24%, 51%); }
    .treeCloser { fill: hsl(121, 24%, 56%); }
    .treeTrunkCloser { fill: hsl(35, 22%, 40%); }
    .treeTrunk { fill: hsl(35, 22%, 36%); }
    .treeTrunkFurther { fill: hsl(35, 22%, 32%); }

    .bushFurther { fill: hsl(139, 24%, 48%); }
    .bushCloser { fill: hsl(139, 24%, 52%); }

    .cypressFurther { fill: hsl(158, 24%, 42%); }
    .cypressCloser { fill: hsl(158, 24%, 46%); }

    .shrubFurther { fill: hsl(165, 25%, 41%); }
    .shrubCloser { fill: hsl(165, 25%, 46%); }

    .plantFurther { fill: hsl(149, 28%, 46%); }
    .plantMiddle { fill: hsl(151, 28%, 49%); }
    .plantCloser { fill: hsl(153, 28%, 52%); }
    .plantTrunk { fill: hsl(23, 22%, 36%); }

    .foliageTaiwan {fill: hsl(5, 23%, 54%); }

    .taiwanTreeFurthest { fill: hsl(331, 25%, 68%); }
    .taiwanTreeFurther { fill: hsl(331, 25%, 66%); }
    .taiwanTreeMiddle { fill: hsl(331, 25%, 64%); }
    .taiwanTreeCloser { fill: hsl(331, 25%, 62%); }
    .taiwanTreeClosest { fill: hsl(331, 25%, 60%); }

    .bonsaiFurther { fill: hsl(290, 23%, 56%); }
    .bonsaiMiddle { fill: hsl(290, 23%, 61%); }
    .bonsaiCloser { fill: hsl(290, 23%, 66%); }
}