.foliage#{$suffix} {
    .foliageFar {fill: hsl(105, 20%, 39%); }
    .foliageMiddle {fill: hsl(104, 21%, 44%); }
    .foliageNear {fill: hsl(103, 22%, 49%); }
    .foliageNearest {fill: hsl(102, 23%, 54%); }
    .foliageTaiwan {fill: hsl(337, 23%, 54%); }

    .cactusFurther { fill: hsl(111, 18%, 46%); }
    .cactusCloser { fill: hsl(111, 18%, 56%); }

    .palmFrond { fill: hsl(111, 18%, 46%); }
    .palmTrunk { fill: hsl(35, 32%, 35%); }
    
    .treeFurther { fill: hsl(111, 18%, 46%); }
    .treeCloser { fill: hsl(111, 18%, 56%); }
    .treeTrunk { fill: hsl(35, 32%, 46%); }

    .bushFurther { fill: hsl(111, 18%, 46%); }
    .bushCloser { fill: hsl(111, 18%, 56%); }

    .cypressFurther { fill: hsl(111, 18%, 46%); }
    .cypressCloser { fill: hsl(111, 18%, 56%); }

    .shrubFurther { fill: hsl(111, 18%, 46%); }
    .shrubCloser { fill: hsl(111, 18%, 56%); }
}