.taiwanRickshaw#{$suffix} {
    .rubberDark { fill: #51614f; }
    .rubberMedium { fill: #596b57; }
    .rubberLight { fill: #62755f; }
    .metalDark { fill: #748783; }
    .metalLight { fill: #8ca39e; }
    .tire { fill: #3c424a; }
    .rickshawDark { fill: #548263; }
    .rickshawLight { fill: #649c77; }
    .light { fill: #a85d4f; }
}