.lizPhone#{$suffix} {
    .antennaMedium { fill: hsl(210, 25%, 63%); }
    .antennaLight { fill: hsl(210, 32%, 69%); }
    .phoneDark { fill: hsl(188, 41%, 66%); }
    .phoneMedium { fill: hsl(188, 49%, 71%); }
    .phoneLight { fill: hsl(188, 63%, 75%); }
    .buttonSmall { fill: hsl(126, 40%, 58%); }
    .buttonLarge { fill: hsl(210, 42%, 59%); }

    .dark__indoor
    &.darkens#{$suffix} {
        .antennaMedium { fill: hsl(210, 13%, 37%); }
        .antennaLight { fill: hsl(210, 16%, 35%); }
        .phoneDark { fill: hsl(188, 21%, 33%); }
        .phoneMedium { fill: hsl(188, 25%, 36%); }
        .phoneLight { fill: hsl(188, 32%, 38%); }
        .buttonSmall { fill: hsl(126, 20%, 29%); }
        .buttonLarge { fill: hsl(210, 21%, 30%); }
    }
}