@import '../../../scss/constants/border';
@import '../../../scss/constants/icon';

// AnnotationPopup does not have absolute full styling to allow access to nav.
.AnnotationPopup {
    .Main
    & {
        position: absolute;
        right: 0;

        .DW__desktopWidth
        & {
            top: 0;

            // Wider margin top to make room for buttons.
            margin-top: $LENGTH_ICON;
        }

        .DW__mobileWidth
        & {
            bottom: 0;
            margin-right: $margin__thick;

            // Wider margin bottom to make room for buttons.
            margin-bottom: $LENGTH_ICON;
        }
    }
}

.AnnotationPopupViewContent {
    border-radius: $borderRadius__wide;
}