.garbageBag#{$suffix} {
    .bottlePurpleDark { fill: #44394f; }
    .bottlePurpleMedium { fill: #4f425c; }
    .bottlePurpleLight { fill: #5a4c69; }
    .bottleGreen { fill: #3f574f; }
    .bottleLabel { fill: #5e6b8f; }
    .bottleMagenta { fill: #63484c; }
    .bottleCapGold { fill: #7d6f4f; }
    .bottleCapSilver { fill: #8f8b85; }
    .garbageBagRear {fill: #63615a; }
    .garbageBagFront {fill: #70a0a6; }
    .bagLiningOuter {fill: #7aafb5; }
    .bagLiningInner {fill: #5f878c; }
}