.backpackBennett {
    .backpackDark { fill: hsl(190, 33%, 57%); }
    .backpackMedium { fill: hsl(190, 36%, 59%); }
    .backpackLight { fill: hsl(190, 40%, 61%); }
    .backpackLightest { fill: hsl(190, 45%, 64%); }
    .backpackStrapDark { fill: hsl(180, 16%, 51%); }
    .backpackStrapLight { fill: hsl(180, 20%, 57%); }
    .backpackPocketMedium { fill: hsl(180, 22%, 45%); }
    .backpackPocketLight { fill: hsl(180, 22%, 48%); }
    .backpackReflector { fill: hsl(180, 22%, 67%); }
}

.bennettRecordPlayer {
    .coverRear { fill: hsla(30, 25%, 39%, 0.2); }
    .coverSide { fill: hsla(30, 24%, 49%, 0.2); }
    .coverFront { fill: hsla(30, 24%, 59%, 0.2); }
}

.keyboard {
    .bodyBottom { fill: hsl(190, 2%, 51%); }
    .bodySide { fill: hsl(190, 3%, 56%); }
    .bodyFront { fill: hsl(189, 3%, 61%); }
    .bodyTop { fill: hsl(188, 5%, 66%); }
    .keyBlack { fill: hsl(28, 16%, 30%); }
    .keyWhiteBottom { fill: hsl(50, 14%, 83%); }
    .keyWhiteTop { fill: hsl(50, 32%, 93%); }
    .panel { fill: hsl(187, 6%, 71%); }
    .dialSide { fill: hsl(164, 8%, 47%); }
    .dialTop { fill: hsl(162, 26%, 83%); }
    .label { fill: hsl(50, 35%, 69%); }
    .wheel { fill: hsl(163, 9%, 52%); }
}