.backpackBennett {
    .backpackDark { fill: hsl(190, 33%, 57%); }
    .backpackMedium { fill: hsl(190, 36%, 59%); }
    .backpackLight { fill: hsl(190, 40%, 61%); }
    .backpackLightest { fill: hsl(190, 45%, 64%); }
    .backpackStrapDark { fill: hsl(180, 16%, 51%); }
    .backpackStrapLight { fill: hsl(180, 20%, 57%); }
    .backpackPocketMedium { fill: hsl(180, 22%, 45%); }
    .backpackPocketLight { fill: hsl(180, 22%, 48%); }
    .backpackReflector { fill: hsl(180, 22%, 67%); }
}

.budweiserCase {
    .boxDark { fill: hsl(13, 36%, 49%); }
    .boxLight { fill: hsl(13, 42%, 54%); }
    .flap { fill: hsl(39, 14%, 40%); }
    .flapDark { fill: hsl(13, 36%, 46%); }
    .flapLight { fill: hsl(13, 46%, 56%); }
    .boxHole { fill: hsl(41, 15%, 25%); }
    .mountainDark { fill: hsl(278, 21%, 54%); }
    .mountainLight { fill: hsl(278, 29%, 61%); }
    .iceDark { fill: hsl(194, 27%, 60%); }
    .iceLight { fill: hsl(194, 36%, 67%); }
}

.bennettRecordPlayer {
    .coverRear { fill: hsla(30, 25%, 39%, 0.2); }
    .coverSide { fill: hsla(30, 24%, 49%, 0.2); }
    .coverFront { fill: hsla(30, 24%, 59%, 0.2); }
}

.bedroomLamp__desk {
    // TODO: Not the best approach. Duplicate styling.
    .bulbOn { fill: hsla(240, 100%, 94%, 0.7); }

    .darken__parent
    &.darken#{$suffix} {
        .bulbOn { fill: hsla(240, 25%, 52%, 0.7); }
    }
}

.fridgeDrawings {
    .trollShoes { fill: hsl(44, 16%, 28%); }
    .trollPants { fill: hsl(45, 16%, 39%); }
    .trollShirt { fill: hsl(217, 20%, 55%); }
    .trollHat { fill: hsl(248, 20%, 55%); }
    .skinTroll { fill: hsl(136, 20%, 55%); }
    .eyeBlob { fill: hsl(0, 0%, 38%); }
}

.keyboard {
    .bodyBottom { fill: hsl(190, 2%, 51%); }
    .bodySide { fill: hsl(190, 3%, 56%); }
    .bodyFront { fill: hsl(189, 3%, 61%); }
    .bodyTop { fill: hsl(188, 5%, 66%); }
    .keyBlack { fill: hsl(28, 16%, 30%); }
    .keyWhiteBottom { fill: hsl(50, 14%, 83%); }
    .keyWhiteTop { fill: hsl(50, 32%, 93%); }
    .panel { fill: hsl(187, 6%, 71%); }
    .dialSide { fill: hsl(164, 8%, 47%); }
    .dialTop { fill: hsl(162, 26%, 83%); }
    .label { fill: hsl(50, 35%, 69%); }
    .wheel { fill: hsl(163, 9%, 52%); }
}

.heinekenPack {
    .bottleCap { fill: hsl(141, 18%, 57%); }
    .packageSideDark { fill: hsl(120, 22%, 45%); }
    .packageSideLight { fill: hsl(90, 21%, 56%); }
    .packageFrontDark { fill: hsl(120, 21%, 49%); }
    .packageFrontLight { fill: hsl(90, 25%, 60%); }
    .star { fill: hsl(0, 43%, 52%); }
}

.recordPlayerStool {
    .legSide { fill: hsl(215, 62%, 66%); }
    .legFront { fill: hsl(215, 51%, 62%); }
    .supportBottom { fill: hsl(40, 5%, 67%); }
    .supportFront { fill: hsl(38, 11%, 80%); }
    .surfaceSide { fill: hsl(8, 59%, 63%); }
    .surfaceFront { fill: hsl(8, 49%, 59%); }
    .shellInnerFront { fill: hsl(39, 20%, 51%); }
    .shellInnerSide { fill: hsl(38, 24%, 55%); }
    .shellOuterFront { fill: hsl(39, 34%, 64%); }
    .shellOuterSide { fill: hsl(38, 28%, 58%); }
    .baseSide { fill: hsl(62, 20%, 75%); }
    .baseTop { fill: hsl(63, 15%, 70%); }
    .baseFront { fill: hsl(63, 12%, 65%); }
    .stylusBottom { fill: hsl(37, 37%, 51%); }
    .label { fill: hsl(68, 27%, 59%); }
    .stylusSide { fill: hsl(37, 51%, 59%); }
    .stylusTop { fill: hsl(37, 46%, 57%); }
    .stylusFront { fill: hsl(37, 43%, 55%); }
    .dialSide { fill: hsl(273, 22%, 51%); }
    .dialFront { fill: hsl(273, 26%, 56%); }
    .holderSide { fill: hsl(63, 16%, 71%); }
    .holderTop { fill: hsl(65, 12%, 65%); }
    .holderFront { fill: hsl(63, 10%, 61%); }
}