.allVehicles#{$suffix} {
    .hubcapReflection { fill: hsl(240, 18%, 90%); stroke: none; }
    .brakeLight { fill: hsl(0, 55%, 55%); }
    .turnLight { fill: hsl(25, 60%, 50%); }
    .headLightDark { fill: hsl(56, 11%, 73%); }
    .headLight { fill: hsl(57, 21%, 81%); }
    .headLightLit { fill: hsl(58, 100%, 85%); }
}