/* FONTS */

@font-face {
  font-family: PTSansNarrow;
  src: url('../fonts/pt_sans/PTN57F.ttf') format('truetype'),
       url('../fonts/pt_sans/PTN77F.ttf') format('truetype')
}

/**
 * MEDIA QUERIES
 * make sure that these are consistent with App component
 */
@phones: ~"all and (max-width:420px)";
@minis: ~"all and (min-width:421px) and (max-width:700px)";
@tablets: ~"all and (min-width:701px) and (max-width:1200px)";
@desktops: ~"all and (min-width:1201px)";

/* WIDTHS */

/* universal widths */
@wrapper-max-width: 1600px;

/* phone widths */
@phone-title-bar-width: 100%;
@phone-synopsis-bar-width: 100%;
@phone-audio-player-width: 100%;
@phone-annotation-legend-width: 100%;
@phone-sticky-nav-wrapper-width: 100%;
@phone-lyrics-column-width: 100%;

/* mini widths */
// @mini-title-bar-width: 100%;
// @mini-synopsis-bar-width: 100%;
// @mini-audio-player-width: 100%;
// @mini-annotation-legend-width: 100%;
// @mini-sticky-nav-wrapper-width: 100%;
// @mini-lyrics-column-width: 100%;

/* desktop widths */
@title-bar-width: 67%;
@synopsis-bar-width: 100% - @title-bar-width;
@audio-player-width: 60%;
@annotation-legend-width: 100% - @audio-player-width;
@sticky-nav-wrapper-width: 80%;
@lyrics-column-width: 27%;

/* HEIGHTS */

/* universal heights */
@now-playing-bar-height: 48px;
@footer-height: 48px;

/* phone heights */
// @phone-base-height: 192px;
@phone-title-bar-height: 152px;
@phone-synopsis-bar-height: 144px;
@phone-audio-player-height: 100px;
@phone-annotation-legend-height: 160px;

@phone-scrolling-nav-height: @phone-title-bar-height + @phone-synopsis-bar-height + @phone-annotation-legend-height;
@phone-sticky-nav-height: @now-playing-bar-height + @phone-audio-player-height;
@phone-stuck-component-height: @phone-audio-player-height;
@phone-stuck-nav-height: @now-playing-bar-height + @phone-stuck-component-height;

// FIXME: Might not need? Keeping for now, since it's used to get wrapper height;
// Same deal for other devices
@phone-top-nav-height: @phone-scrolling-nav-height + @phone-sticky-nav-height;

@phone-page-height: 2000px;
@phone-wrapper-height: @phone-top-nav-height + @phone-page-height + @footer-height;

/* mini heights */
// @mini-title-bar-height: 152px;
// @mini-synopsis-bar-height: 144px;
// @mini-audio-player-height: 100px;
// @mini-annotation-legend-height: 160px;

// @mini-scrolling-nav-height: @mini-title-bar-height + @mini-synopsis-bar-height + @mini-annotation-legend-height;
// @mini-sticky-nav-height: @now-playing-bar-height + @mini-audio-player-height;
// @mini-stuck-component-height: @mini-audio-player-height;
// @mini-stuck-nav-height: @now-playing-bar-height + @mini-stuck-component-height;
// @mini-top-nav-height: @mini-scrolling-nav-height + @mini-sticky-nav-height;

// @mini-page-height: 2000px;
// @mini-wrapper-height: @mini-top-nav-height + @mini-page-height + @footer-height;

/* desktop heights */
@base-height: 192px;
@title-bar-height: @base-height;
@synopsis-bar-height: @base-height;
@audio-player-height: @base-height;
@annotation-legend-height: @base-height;

@scrolling-nav-height: @base-height;
@sticky-nav-height: @now-playing-bar-height + @base-height;

@top-nav-height: @scrolling-nav-height + @sticky-nav-height;

@page-height: 2000px;
@wrapper-height: @top-nav-height + @page-height + @footer-height;

/* Z-INDICES */

@page-z-index: 1;
@nav-z-index: @page-z-index + 1;
@lyrics-z-index: @nav-z-index + 1;
@audio-button-z-index: @lyrics-z-index + 1;
@expanded-popup-z-index: @audio-button-z-index + 1;
/* mixins */
.sticky-mixin {
    position: absolute;
    width: 100%;

    &.stuck {
        position: fixed;
        left: inherit;
        max-width: @wrapper-max-width;
        z-index: @nav-z-index;
    }

    .wrapper-width {
        height: 100%;
        margin: 0 auto;
    }
}

a {
    color: blue;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        display: inline-block;
    }
}

.button {

    &.disabled {
        opacity: 0.5;
    }

    &:not(.disabled) {
        cursor: pointer;
    }
}

.transition(@value;...) {
    -webkit-transition: @value;
       -moz-transition: @value;
        -ms-transition: @value;
         -o-transition: @value;
            transition: @value;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Chrome/Safari/Opera */
       -khtml-user-select: none; /* Konqueror */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* IE/Edge */
              user-select: none;
}
body {
    background-color: #999;
}

.dev-app {
    @dev-column-padding: 15px;
    @text-wrapper-height-margin: 4px;
    @text-wrapper-width-margin: 12px;
    @row-height-margin: 2px;

    display: flex;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    font-family: PTSansNarrow;
    font-size: 1.1em;

    h1 {
        font-size: 1.6em;
    }

    h3 {
        margin-top: 0;
    }

    // Universal styling rules.
    .dev-app-column {
        position: relative;
        padding: 0 @dev-column-padding @dev-column-padding;
        box-sizing: border-box;

        .total-progress-bar {
            position: absolute;
            width: 0%;
            height: 100%;
            border-radius: 5px;
            overflow: hidden;

            .filled-progress-bar {
                position: absolute;
                width: 0%;
                height: 100%;
            }
        }

        [class$="text-wrapper"] {
            position: relative;
            display: flex;
            justify-content: space-between;
            margin: @text-wrapper-height-margin @text-wrapper-width-margin;

            .text-cell {
                display: inline-block;
            }
        }
    }

    .songs-column {
        @button-column-width: 196px;

        background-color: #fef;
        font-size: 1.2em;

        h3 {
            margin-bottom: 0;
        }

        .dev-song-row {
            position: relative;
            overflow: hidden;
            margin: @row-height-margin 0;

            .total-progress-bar {
                background-color: #fcf;

                .filled-progress-bar {
                    background-color: #dad;
                }
            }

            &.played {
                .total-progress-bar {
                    background-color: #cfc;

                    .filled-progress-bar {
                        background-color: #ada;
                    }
                }

                a {
                    color: #484;

                    &:hover {
                        color: #7b7;
                    }

                    &:active {
                        color: #aea;
                    }
                }
            }

            .dev-song-text-wrapper {

                // Include header and footer.
                [class*="button"] {
                    width: @button-column-width;
                }

                .progress {
                    text-align: right;
                }
            }
        }
    }

    .notes-column {
        @notes-column-width: 320px;

        display: flex;
        flex-direction: column;
        width: @notes-column-width;
        min-width: @notes-column-width;
        padding: 0;
        background-color: #fee;

        .notes-row {
            padding: 0px @dev-column-padding @dev-column-padding;
            box-sizing: border-box;
        }

        .annotation-row {
            .animation-mixin;
            @overflow-margin-width: 5px;
            position: absolute;
            top: 45px;
            left: -@overflow-margin-width;
            width: @notes-column-width + (@overflow-margin-width * 2);
            box-shadow: -2px 2px 8px 8px rgba(100, 100, 120, 0.2);
            border-radius: 5px;
            z-index: 1;
            margin: auto 0;
            background-color: #eff;
        }

        .dev-progress-field {

            .dev-task-row {
                // Header is first child.
                &:not(:nth-child(2)) {
                    margin-top: @row-height-margin;
                }

                font-size: 1.05em;
            }

            .dev-subtask-row {
                padding-left: 25px;
                font-size: 0.9em;
            }

            [class$="subrow"] {
                position: relative;
                overflow: hidden;
                margin: @row-height-margin;

                .total-progress-bar {
                    background-color: #fcc;

                    .filled-progress-bar {
                        background-color: #daa;
                    }
                }

                .dev-task-text-wrapper {
                    .progress {
                        text-align: right;
                    }
                }
            }
        }
    }

    .lyrics-column {
        display: flex;
        background-color: #ffe;

        .dev-lyrics-columns {
            display: flex;
        }

        .dev-lyrics-column {
            .transition(width 0.2s ease);

            &.doublespeaker {
                &.left {
                    padding-right: @dev-column-padding * 0.5;
                }

                &.right {
                    padding-left: @dev-column-padding * 0.5;
                }
            }

            &.align-right {
                text-align: right;
            }
        }

        .lyrics-text {
            @lyrics-verse-size: 1em;
            font-size: @lyrics-verse-size;

            [class^="stanza"] {
                &:not(:last-child) {
                    margin-bottom: @lyrics-verse-size;
                }

                [class^="verse"] {
                    @hanging-indent-width: 1.5em;
                    padding-left: @hanging-indent-width;
                    text-indent:-@hanging-indent-width;
                }
            }
        }
    }

    a {
        .transition(color 0.05s ease);
        .no-select;
        cursor: pointer;

        font-weight: bold;
        color: #844;

        &:hover {
            color: #b77;
        }

        &:active {
            color: #eaa;
        }
    }

}

// Global animation rules.
.animation-mixin(@property: opacity, @shown-value: 1, @hidden-value: 0, @duration: 0.1s, @timing: ease) {
    transition: @property @duration @timing;

    &[class*="animation-enter"] {
        @{property}: @hidden-value;

        &[class*="animation-enter-active"] {
            @{property}: @shown-value;
        }
    }

    &[class*="animation-leave"] {
        @{property}: @shown-value;

        &[class*="animation-leave-active"] {
            @{property}: @hidden-value;
        }
    }
}