.bedroomSiren {
    stroke: none;
    .redLight { fill: hsla(0, 81%, 83%, 0.5); }
    .redBrighter { fill: hsla(0, 69%, 71%, 0.5); }
    .redBrightest { fill: hsla(0, 86%, 63%, 0.5); }
    .blueLight { fill: hsla(204, 86%, 84%, 0.5); }
    .blueBrighter { fill: hsla(202, 72%, 71%, 0.5); }
    .blueBrightest { fill: hsla(207, 88%, 63%, 0.5); }
}

.commercialNearLeft {
    .letterDisplayLine { stroke: hsl(180, 14%, 44%); }
}

.ferrisWheel {
    .spokes { fill: hsla(0, 10%, 47%, 0.5); }
}

.nohoHouseLeft {
    .wallFront { fill: hsl(240, 20%, 75%); }
}

.nohoHouseRight {
    .wallSide { fill: hsl(330, 20%, 66%); }
    .wallFront { fill: hsl(330, 20%, 71%); }
}

.oaklandSchool {
    .wallSide { fill: hsl(0, 19%, 60%); }
    .wallFront { fill: hsl(0, 25%, 69%); }
    .handDisplayLine { stroke: hsl(0, 0%, 53%); }
}

.publicFar {
    .wallSide { fill: hsl(300, 19%, 60%); }
    .wallFront { fill: hsl(300, 25%, 69%); }

    .eveningTime &.eveningTime#{$suffix} {
        .wallSide { fill: hsl(300, 14%, 55%); }
        .wallFront { fill: hsl(300, 20%, 64%); }
    }
}

.publicNear {
    .wallSide { fill: hsl(150, 19%, 60%); }
    .wallFront { fill: hsl(150, 25%, 69%); }

    .eveningTime &.eveningTime#{$suffix} {
        .wallSide { fill: hsl(150, 14%, 55%); }
        .wallFront { fill: hsl(150, 20%, 64%); }
    }
}

.residentialFarLeft {
    .wallSide { fill: hsl(270, 12%, 52%); }
    .wallFront { fill: hsl(270, 18%, 58%); }

    .nightTime &.nightTime#{$suffix} {
        .wallSide { fill: hsl(270, 7%, 42%); }
        .wallFront { fill: hsl(270, 13%, 48%); }
    }
}

.residentialFarRight {
    .wallSide { fill: hsl(60, 14%, 45%); }
    .wallFront { fill: hsl(60, 20%, 51%); }

    .eveningTime .eveningTime#{$suffix} & {
        .wallSide { fill: hsl(60, 9%, 40%); }
        .wallFront { fill: hsl(60, 15%, 46%); }
    }
    
    .nightTime &.nightTime#{$suffix} {
        .wallSide { fill: hsl(60, 7%, 35%); }
        .wallFront { fill: hsl(60, 13%, 41%); }
    }
}

.residentialMiddleRight {
    .wallSide { fill: hsl(0, 4%, 50%); }
    .wallFront { fill: hsl(0, 10%, 56%); }

    .eveningTime .eveningTime#{$suffix} & {
        .wallSide { fill: hsl(0, 4%, 45%); }
    }
    
    .nightTime &.nightTime#{$suffix} {
        .wallSide { fill: hsl(0, 4%, 40%); }
        .wallFront { fill: hsl(0, 10%, 46%); }
    }
}

.residentialNearRight {
    .wallSide { fill: hsl(240, 14%, 50%); }
    .wallFront { fill: hsl(240, 20%, 56%); }

    .eveningTime .eveningTime#{$suffix} & {
        .wallSide { fill: hsl(240, 9%, 45%); }
        .wallFront { fill: hsl(240, 15%, 51%); }
    }
    
    .nightTime &.nightTime#{$suffix} {
        .wallSide { fill: hsl(240, 7%, 40%); }
        .wallFront { fill: hsl(240, 13%, 46%); }
    }
}

.rollerCoaster {
    .platformBack { fill: hsla(35, 10%, 37%, 0.5); }
    .platformFront { fill: hsla(35, 10%, 42%, 0.5); }
}

.schoolBungalow {
    .wallFront { fill: hsl(195, 25%, 75%); }
}

.tennisCourt {
    .court { fill: hsl($HUE_TENNIS, 51%, 55%); }
    .stripeDisplayLine { stroke: hsl(0, 0%, 77%); }
    .mesh { fill: hsla(78, 24%, 66%, 0.5); }
    .net { fill: hsl(78, 12%, 28%); }
}