.bedroomSiren {
    stroke: none;
    .redLight { fill: hsla(0, 81%, 83%, 0.5); }
    .redBrighter { fill: hsla(0, 69%, 71%, 0.5); }
    .redBrightest { fill: hsla(0, 86%, 63%, 0.5); }
    .blueLight { fill: hsla(204, 86%, 84%, 0.5); }
    .blueBrighter { fill: hsla(202, 72%, 71%, 0.5); }
    .blueBrightest { fill: hsla(207, 88%, 63%, 0.5); }
}

.commercialNearLeft {
    .letterDisplayLine { stroke: hsl(180, 14%, 44%); }
}

.ferrisWheel {
    .spokes { fill: hsla(0, 10%, 47%, 0.5); }
}

.nohoHouseLeft {
    .wallFront { fill: hsl(240, 20%, 75%); }
}

.nohoHouseRight {
    .wallSide { fill: hsl(330, 20%, 66%); }
    .wallFront { fill: hsl(330, 20%, 71%); }
}

.oaklandSchool {
    .wallSide { fill: hsl(0, 19%, 60%); }
    .wallFront { fill: hsl(0, 25%, 69%); }
    .handDisplayLine { stroke: hsl(0, 0%, 53%); }
}

.publicFar {
    .wallSide { fill: hsl(300, 19%, 60%); }
    .wallFront { fill: hsl(300, 25%, 69%); }
}

.publicNear {
    .wallSide { fill: hsl(150, 19%, 60%); }
    .wallFront { fill: hsl(150, 25%, 69%); }
}

.residentialFarLeft {
    .wallSide { fill: hsl(270, 12%, 52%); }
    .wallFront { fill: hsl(270, 18%, 58%); }

    .nightTime &.nightTime#{$suffix} {
        .wallSide { fill: hsl(270, 7%, 42%); }
        .wallFront { fill: hsl(270, 13%, 48%); }
    }
}

.residentialFarRight {
    .wallSide { fill: hsl(60, 14%, 45%); }
    .wallFront { fill: hsl(60, 20%, 51%); }

    .nightTime &.nightTime#{$suffix} {
        .wallSide { fill: hsl(60, 7%, 35%); }
        .wallFront { fill: hsl(60, 13%, 41%); }
    }
}

.residentialMiddleRight {
    .wallSide { fill: hsl(0, 4%, 50%); }
    .wallFront { fill: hsl(0, 10%, 56%); }

    .nightTime &.nightTime#{$suffix} {
        .wallSide { fill: hsl(0, 4%, 40%); }
        .wallFront { fill: hsl(0, 10%, 46%); }
    }
}

.residentialNearRight {
    .wallSide { fill: hsl(240, 14%, 50%); }
    .wallFront { fill: hsl(240, 20%, 56%); }

    .nightTime &.nightTime#{$suffix} {
        .wallSide { fill: hsl(240, 7%, 40%); }
        .wallFront { fill: hsl(240, 13%, 46%); }
    }
}

.rollerCoaster {
    .platformBack { fill: hsla(35, 10%, 37%, 0.5); }
    .platformFront { fill: hsla(35, 10%, 42%, 0.5); }
}

.royceHall {
    .roofDark { fill: hsl(66, 9%, 38%); }
    .roofLight { fill: hsl(60, 9%, 42%); }
    .brickDarkest { fill: hsl(25, 28%, 28%); }
    .brickDarker { fill: hsl(25, 28%, 35%); }
    .brickDark { fill: hsl(25, 28%, 41%); }
    .brickLight { fill: hsl(25, 29%, 47%); }
    .wallInner { fill: hsl(66, 9%, 31%); }
    .wallFront { fill: hsl(62, 12%, 42%); }
    .trimDark { fill: hsl(65, 9%, 40%); }
    .trimLight { fill: hsl(64, 8%, 45%); }
    .stepFront { fill: hsl(226, 9%, 41%); }
    .stepSide { fill: hsl(226, 8%, 33%); }
    .trimOrnamentInner { fill: hsl(65, 9%, 37%); }
    .trimOrnamentOuter { fill: hsl(64, 9%, 42%); }
    .brickOrnament { fill: hsl(13, 32%, 43%); }
    .stainedGlass { fill: hsl(228, 14%, 37%); }
}

.schoolBungalow {
    .wallFront { fill: hsl(195, 25%, 75%); }
}

.stJosephsAnnex {
    .wallFront { fill: hsl(24, 15%, 47%); }
}

.stJosephsChurch {
    .foundationRear { fill: hsl(316, 6%, 36%); }
    .foundationMiddle { fill: hsl(316, 6%, 39%); }
    .foundationFront { fill: hsl(316, 6%, 42%); }
    .roofTopRear { fill: hsl(147, 8%, 33%); }
    .roofSide { fill: hsl(150, 7%, 38%); }
    .roofTop { fill: hsl(150, 7%, 42%); }
    .wallDark { fill: hsl(24, 15%, 41%); }
    .wallMedium { fill: hsl(24, 15%, 44%); }
    .wallLight { fill: hsl(24, 15%, 47%); }
    .ball { fill: hsl(40, 25%, 49%); }
    .cross { fill: hsl(41, 33%, 54%); }
    .marbleDark { fill: hsl(48, 8%, 44%); }
    .marbleLight { fill: hsl(48, 8%, 49%); }
    .trimDark { fill: hsl(74, 9%, 41%); }
    .trimMedium { fill: hsl(74, 9%, 46%); }
    .trimLight { fill: hsl(74, 9%, 51%); }
    .stainedGlassFrame { fill: hsl(56, 20%, 55%); }
    .stainedGlass { fill: hsl(224, 14%, 37%); }
    .stepFront { fill: hsl(233, 11%, 43%); }
    .lampholder { fill: hsl(30, 8%, 23%); }
    .stJosephRear { fill: hsl(60, 6%, 56%); }
    .stJosephFront { fill: hsl(65, 8%, 60%); }
    .robe { fill: hsl(47, 17%, 21%); }
    .scroll { fill: hsl(60, 3%, 36%); }
    .book { fill: hsl(60, 3%, 31%); }
}

.tennisCourt {
    .court { fill: hsl($HUE_TENNIS, 51%, 55%); }
    .stripeDisplayLine { stroke: hsl(0, 0%, 77%); }
    .mesh { fill: hsla(78, 24%, 66%, 0.5); }
    .net { fill: hsl(78, 12%, 28%); }
}