.acousticGuitar#{$suffix} {
    .guitarDark { fill: hsl(44, 19%, 43%); }
    .guitarLight { fill: hsl(60, 7%, 59%); }
    .guitarNeck { fill: hsl(60, 11%, 41%); }
    .guitarFretboard { fill: hsl(60, 11%, 48%); }
    .guitarHeadstock { fill: hsl(39, 20%, 34%); }
    .soundHole { fill: hsl(180, 2%, 21%); }

    .pickGuard { fill: hsl(180, 1%, 27%); }
    .rosette { fill: hsl(40, 21%, 51%); }
    .saddle { fill: hsl(39, 20%, 32%); }
    .pegPin { fill: hsl(71, 22%, 65%); }
    .bridgeNut { fill: hsl(70, 38%, 76%); }
    .headstock { fill: hsl(39, 20%, 34%); }
    .tuningKey { fill: hsl(200, 4%, 59%); }
}