.freewayFence {
    .wire { stroke: hsla(348, 2%, 40%, 0.25); }
}

.oceanWaves__front {
    .waveRidge__noStroke { fill: hsla(200, 53%, 77%, 0.5); }
    .oceanSurface__noStroke { fill: hsla(200, 53%, 47%, 0.25); }
}

.oceanWaves__rear {
    .waveRidge__noStroke { fill: hsla(200, 53%, 37%, 0.5); }
    .oceanSurface__noStroke { fill: hsl(200, 53%, 47%); }
}

.phoneCallPanel {
    .panel { fill: hsl(60, 70%, 80%); }
}

.taiwanBridge {
    .suspenders { fill: hsla(0, 6%, 93%, 0.3); }
    .cable { fill: hsl(28, 46%, 69%); }
}

.taiwanHaze {
    stroke: none;
    .haze { fill: hsla(195, 83%, 88%, 0.5); }
}