$js__marginX__slider: 3px;
$height__sliderStanzaTab: 5px;

.SliderStanza {
    position: absolute;
    bottom: 0;
    border-top-right-radius: $borderRadius;

    // Make slider stanzas all the same height when lyric is expanded.
    .RM__twoRowMenu.RM__overlayShown
    &,
    .RM__twoRowMenu.RM__lyricExpanded
    & {
        height: $js__height__banner__twoRowMenu__truncated;
    }

    .parentIsShown
    & {
        transition: height $animationDuration__default;
    }
}

.SliderStanza__tab {
    position: absolute;
    top: -$height__sliderStanzaTab;
    left: 0;
    width: $js__margin__thick;
    border-radius: $borderRadius $borderRadius 0 0;
}

.SliderStanza__tabShadow {
    /**
     * Minimise overlap of tab and sheet box shadows. Not exactly accurate.
     */
    height:
        $height__sliderStanzaTab
        - $borderRadius;

    top: -$height__sliderStanzaTab;
}

.SliderStanza__tabTop {
    // Ensure that tab covers sheet.
    height: $height__sliderStanzaTab;
}

.boxShadow__sliderStanza {
    box-shadow: $boxShadow__sliderStanza;
}

.SliderStanza__sheet {
    padding: $borderRadius 0 0 $js__marginX__slider;

    box-sizing: border-box;
    display: flex;

    .SliderStanza:not(:last-child)
    & {
        border-top-right-radius: $borderRadius;
    }
}

.SliderVerses {
    position: relative;
    flex-grow: 1;

    .SliderStanza:not(:last-child)
    & {
        border-top-right-radius: $borderRadius;
    }
}

// TODO: Make pattern between tab and sheet seamless.
.bgColour__sliderStanza__pattern {
    $degrees: 60deg;
    $darkShade: rgba(0, 0, 0, 0.1);
    $height: 15px;
    $width: $height * 0.5773; // Square root of 3 for 30, 60, 90 triangle.

    background-image:
    linear-gradient(
        $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    ),
    linear-gradient(
        180 - $degrees,
        $darkShade 25%,
        transparent 25%,
        transparent 75%,
        $darkShade 75%,
        $darkShade
    );
    background-size: $width $height;
}

.SliderStanza__refrain {
    height: 50%;
}
.SliderStanza__verse {
    height: 55%;
}
.SliderStanza__prechorus {
    height: 58%;
}
.SliderStanza__chorus {
    height: 60%;
}
.SliderStanza__postchorus {
    height: 50%;
}
.SliderStanza__bridge {
    height: 52%;
}
.SliderStanza__coda {
    height: 45%;
}
.SliderStanza__intro {
    height: 48%;
}
.SliderStanza__solo {
    height: 65%;
}
.SliderStanza__outro {
    height: 40%;
}
