@js__margin__slider__thin: 2px;

.SliderStanza {
    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    padding: @js__margin__slider__thin;

    // Make slider stanzas all the same height when lyric is expanded.
    .RM__twoRowMenu.RM__overlayShown
    &,
    .RM__twoRowMenu.RM__lyricExpanded
    & {
        height: @js__height__banner__twoRowMenu__truncated;
    }

    .parentIsShown
    & {
        transition: height @animationDuration__default;
    }
}

.SliderStanza__refrain {
    height: 50%;
}
.SliderStanza__verse {
    height: 55%;
}
.SliderStanza__prechorus {
    height: 58%;
}
.SliderStanza__chorus {
    height: 60%;
}
.SliderStanza__postchorus {
    height: 50%;
}
.SliderStanza__bridge {
    height: 52%;
}
.SliderStanza__coda {
    height: 45%;
}
.SliderStanza__intro {
    height: 48%;
}
.SliderStanza__solo {
    height: 65%;
}
.SliderStanza__outro {
    height: 40%;
}

.SliderStanzaVerses {
    flex-grow: 1;

    position: relative;
    height: 100%;
}
