@for $stanzaIndex from 0 through $stanzaMax {

    // "Root cursored stanza index, child stanza index."
    .RcS#{$stanzaIndex} .ChS#{$stanzaIndex} {
        // Styling for cursored stanza.

        /**
         * Make higher than all other stanzas. But slider stanzas still need to
         * be below slider times.
         */
        z-index: $zIndex__menuField;

        &.SliderStanza {
            height: 65%;
        }

        .boxShadow__unitCard {
            box-shadow: $boxShadow__unitCard__cursored;
        }
    }
}