.anita#{$suffix} {
    .anitaBarrette { fill: hsl(25, 67%, 59%); }

    .anitaDress { fill: hsl(51, 55%, 73%); }
    .anitaBelt { fill: hsl(38, 35%, 48%); }
    .anitaJacket { fill: hsl(204, 34%, 59%); }
    .anitaJacketSleeve { fill: hsl(205, 24%, 80%); }
    .anitaShoe { fill: hsl(0, 31%, 61%); }

    .pastSeason
    &.past#{$suffix} {
        .anitaBarrette { fill: hsl($HUE_PAST, 67%, 59%); }
        .anitaDress { fill: hsl($HUE_PAST, 55%, 73%); }
        .anitaBelt { fill: hsl($HUE_PAST, 35%, 48%); }
        .anitaShoe { fill: hsl($HUE_PAST, 31%, 61%); }
    }

    &.exasperated {
        .backpackMedium { fill: hsl(309, 37%, 60%); }
        .backpackLight { fill: hsl(310, 42%, 62%); }
        .backpackPocket { fill: hsl(300, 22%, 48%); }
        .backpackStrap { fill: hsl(300, 20%, 57%); }
    }

    &.youngChild {
        .hairTie { fill: hsl(30, 53%, 67%); }

        .lapel { fill: hsl(48, 24%, 64%); }
        .jacket { fill: hsl(48, 20%, 59%); }
        .pants { fill: hsl(211, 24%, 57%); }
        .shoe { fill: hsl(35, 18%, 55%); }

        .backpackMedium { fill: hsl(34, 46%, 56%); }
        .backpackLight { fill: hsl(34, 55%, 61%); }
        .backpackPocket { fill: hsl(44, 32%, 43%); }
        .backpackTrim { fill: hsl(45, 58%, 54%); }
        .backpackStrap { fill: hsl(45, 30%, 52%); }
    }
}