.khari#{$suffix} {
    .khariHatDark { fill: hsl(28, 10%, 48%); }
    .khariHatMedium { fill: hsl(28, 13%, 56%); }
    .khariHatLight { fill: hsl(28, 15%, 61%); }

    .khariShirt { fill: hsl(220, 34%, 64%); }
    .khariCollar { fill: hsl(220, 37%, 68%); }
    .khariSweater { fill: hsl(46, 29%, 50%); }
    .khariSweaterTrim { fill: hsl(46, 25%, 46%); }
    .khariShorts { fill: hsl(12, 32%, 58%); }
    .khariShoe { fill: hsl(66, 8%, 49%); }

    // For snowglobe.
    .futureKhariShirt { fill: hsl($HUE_FUTURE, 19%, 54%); }
    .futureKhariCollar { fill: hsl($HUE_FUTURE, 22%, 58%); }
    .futureKhariSweater { fill: hsl($HUE_FUTURE, 37%, 60%); }
    .futureKhariSweaterTrim { fill: hsl($HUE_FUTURE, 32%, 56%); }
    .futureKhariShorts { fill: hsl($HUE_FUTURE, 29%, 70%); }
    .futureKhariShoe { fill: hsl($HUE_FUTURE, 8%, 49%); }

    &.doubleAlbert {
        .hatBottom { fill: hsl(3, 11%, 38%); }
        .hatTop { fill: hsl(5, 11%, 42%); }
        .hatTrim { fill: hsl(9, 6%, 51%); }
        .shirt { fill: hsl(205, 39%, 72%); }
        .collar { fill: hsl(205, 46%, 76%); }
        .sock { fill: hsl(13, 12%, 38%); }
        .tie { fill: hsl(13, 27%, 36%); }
        .vest { fill: hsl(13, 12%, 31%); }
        .vestPocket { fill: hsl(12, 12%, 25%); }
        .jacketInner { fill: hsl(37, 10%, 40%); }
        .jacket { fill: hsl(36, 11%, 51%); }
        .lapel { fill: hsl(34, 10%, 47%); }
        .pants { fill: hsl(35, 11%, 44%); }
        .shoeWhite { fill: hsl(10, 7%, 82%); }
        .shoeBlack { fill: hsl(10, 21%, 22%); }
    }
}