.RootContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;

    position: relative;

    font-size: 1.1em;

    background-color: #555;

    user-select: none;

    // Keeping these together for consistency.
    @include mixin__textAndLinkColours();
    @include mixin__underlineColours();
}
