.VerseTracker {
    background-color: rgba(200, 150, 250, 0.4);

    .RM__isPaused
    & {
        // Override transition in inline style.
        transition: none !important;
    }
}

.VerseTracker__inSlider {
    width: 0;

    .RM__isPlaying
    &.VerseTracker__selected {
        border-right: 1px solid rgba(200, 150, 250, 0.7);
        width: 100%;
    }
}

.VerseTracker__inLyric {
    height: 0;

    .RM__isPlaying
    &.VerseTracker__selected {
        border-bottom: 1px solid rgba(200, 150, 250, 0.7);
        height: 100%;
    }
}
