.familyHouse#{$suffix} {
    .fenceDark { fill: hsl(65, 13%, 50%); }
    .fence { fill: hsl(65, 13%, 55%); }
    .wallFront { fill: hsl($HUE_FAMILY, 46%, 65%); }

    .eveningTime
    &.eveningTime#{$suffix} {
        .fenceDark { fill: hsl(65, 8%, 45%); }
        .fence { fill: hsl(65, 8%, 50%); }
    }

    .nightTime
    &.nightTime#{$suffix} {
        .fenceDark { fill: hsl(65, 8%, 40%); }
        .fence { fill: hsl(65, 8%, 45%); }
    }

    .magicSeason
    &.magic#{$suffix} {
        .fenceDark { fill: hsl($HUE_MAGIC, 8%, 40%); }
        .fence { fill: hsl($HUE_MAGIC, 8%, 45%); }
        .wallFront { fill: hsl($HUE_MAGIC, 21%, 40%); }
    }

    .pastSeason
    &.past#{$suffix} {
        .fence { fill: hsl($HUE_PAST, 13%, 55%); }
    }

    .futureSeason
    &.future#{$suffix} {
        .fenceDark { fill: hsl($HUE_FUTURE, 8%, 40%); }
        .fence { fill: hsl($HUE_FUTURE, 8%, 45%); }
    }
}
