.DotsSlideToggle {
    position: relative;

    .ShW__tips__dots
    &,
    .ShW__tips__isPointedAtDots
    & {
        // Not ideal, but needed to override the convoluted hide logic.
        opacity: 1 !important;
        margin-left: 0 !important;
    }
}
