.peopleInstrument__shared {
    .banjoHeadstock { fill: #adad9c; }
    .banjoSide { fill: #7d7d70; }
    .banjoNeck { fill: #babaa7; }
    .banjoHead { fill: #cfcfc7; }
    .guitarSide { fill: #827759; }
    .guitarFront { fill: #9e9e8f; }
    .guitarNeck { fill: #87876c; }
    .soundHole { fill: #343636; }
    .micStand { fill: #71798a; }
    .micBack { fill: #3d414a; }
    .micBody { fill: #585e6b; }
    .micHead { fill: #8f98ad; }
}
