.iron#{$suffix} {
    .ironDarkest { fill: hsl(35, 5%, 37%); }
    .ironDarker { fill: hsl(35, 5%, 42%); }
    .ironDark { fill: hsl(35, 5%, 47%); }
    .ironMediumDark { fill: hsl(35, 5%, 52%); }
    .ironMedium { fill: hsl(35, 5%, 57%); }
    .ironMediumLight { fill: hsl(35, 5%, 62%); }
    // .ironLight { fill: hsl(35, 5%, 67%); }

    .dark__indoor
    & {
        .ironDarker { fill: hsl(35, 5%, 5%); }
        .ironMediumDark { fill: hsl(35, 5%, 5%); }
    }
}
