.iron#{$suffix} {
    .ironDark { fill: hsl(0, 1%, 47%); }
    .ironMediumDark { fill: hsl(0, 1%, 52%); }
    .ironMedium { fill: hsl(0, 1%, 57%); }
    .ironMediumLight { fill: hsl(0, 1%, 62%); }
    // .ironLight { fill: hsl(0, 1%, 67%); }
}
