.iron#{$suffix} {
    .ironDark { fill: hsl(180, 8%, 47%); }
    .ironMediumDark { fill: hsl(180, 9%, 52%); }
    .ironMedium { fill: hsl(180, 10%, 57%); }
    .ironMediumLight { fill: hsl(180, 11%, 62%); }
    .ironLight { fill: hsl(180, 12%, 67%); }
}
