@import '../../../../../../scss/constants/icon';
@import '../../../../../../scss/constants/responsive';
@import '../../../../../../scss/constants/transition';

.ButtonTitle {
    .NavButton
    & {
        top: $height__chivalry;
        opacity: 0;
    }

    .DW__userAgentDesktop
    .NavButton
    & {
        transition:
            top $transitionDuration__default,
            opacity $transitionDuration__default;
    }

    .DW__mobileWidth
    .NavButton
    & {
        top: -$height__chivalry;
    }

    .ShW__navExpanded
    .NavButton
    & {
        top: 0;
        opacity: 1;
    }
}

.ButtonTitle__text {
    .NavButton
    & {
        float: left;
        padding-left: $margin__thick / 2;
        transform: rotate(270deg);
        transform-origin: left top 0;
    }

    .DW__mobileWidth
    .NavButton
    & {
        padding-left: $margin__thick;
        transform: rotate(90deg);
        transform-origin: left bottom 0;
    }
}