.ghost#{$suffix} {
    .ghostTail { fill: hsl(180, 30%, 63%); }
    .skinGhostDark { fill: hsl(185, 10%, 59%); }
    .skinGhostLight { fill: hsl(188, 15%, 67%); }

    .chineseTie { fill: hsl(46, 25%, 46%); }
    .chineseTassel { fill: hsl(46, 38%, 55%); }
    .chineseTrim { fill: hsl(46, 45%, 65%); }

    .chineseRedDark { fill: hsl(3, 32%, 40%); }
    .chineseRed { fill: hsl(3, 32%, 50%); }
    .chineseSilver { fill: hsl(71, 20%, 77%); }
    .chineseBlack { fill: hsl(228, 8%, 28%); }
    .chinesePink { fill: hsl(305, 20%, 45%); }
}