.youngBennett#{$suffix} {
    .backpackInner { fill: hsl(200, 26%, 41%); }
    .backpackDark { fill: hsl(210, 33%, 57%); }
    .backpackMedium { fill: hsl(210, 37%, 60%); }
    .backpackLight { fill: hsl(210, 42%, 62%); }
    .backpackStrap { fill: hsl(200, 20%, 57%); }
    .backpackPocket { fill: hsl(200, 22%, 48%); }

    &.flustered {
        .overallsFlap { fill: hsl(222, 23%, 55%); }
        .overalls { fill: hsl(221, 32%, 63%); }
    }

    &.youngChild {
        .backpack { fill: hsl(231, 38%, 60%); }
        .backpackStrap { fill: hsl(230, 27%, 65%); }
        .hoodieInner { fill: hsl(207, 46%, 61%); }
        .hoodie { fill: hsl(207, 57%, 66%); }
        .shorts { fill: hsl(6, 39%, 61%); }
        .shoe { fill: hsl(38, 16%, 56%); }
    }
}