.apartmentPlant {
    .pot { fill: hsl(333, 20%, 46%); }
    .brim { fill: hsl(333, 20%, 42%); }
}

.ashCan {
    .canSide { fill: hsl(60, 6%, 59%); }
    .sand { fill: hsl(60, 20%, 79%); }
    .canTop { fill: hsl(60, 8%, 64%); }
}

.campfire {
    .flameOuter { fill: hsla(0, 95%, 68%, 0.9); }
    .flameMiddle { fill: hsla(24, 95%, 68%, 0.9); }
    .flameInner { fill: hsla(56, 95%, 68%, 0.9); }
    .wood { fill: hsl(40, 42%, 52%); }
}

.cavemanBones {
    .placardBottom { fill: hsl(60, 20%, 45%); }
    .placardSide { fill: hsl(54, 14%, 56%); }
    .placardFront { fill: hsl(253, 20%, 64%); }
    .appendageRear { fill: hsl(57, 11%, 63%); }
    .centreInner { fill: hsl(57, 11%, 65%); }
    .spine { fill: hsl(57, 12%, 67%); }
    .centreOuter { fill: hsl(57, 14%, 70%); }
    .appendageFront { fill: hsl(57, 15%, 71%); }
}

.dishroomDolly {
    .caster { fill: hsl(56, 19%, 59%); }
    .base { fill: hsl(60, 4%, 36%); }
    .handle { fill: hsl(249, 3%, 46%); }
}

.dispenserLeft {
    .dispenserLight { fill: hsl(9, 67%, 70%); }
    .dispenserDark { fill: hsl(9, 52%, 65%); }
    .panel { fill: hsl(9, 29%, 72%); }
}

.dispenserRight {
    .dispenserDark { fill: hsl(150, 28%, 52%); }
    .panel { fill: hsl(150, 14%, 41%); }
    .dispenserLight { fill: hsl(150, 36%, 58%); }
    .dispenserDoor { fill: hsl(152, 27%, 71%); }
    .suit { fill: hsl(225, 28%, 52%); }
    .shirt { fill: hsl(44, 49%, 63%); }
}

.dumpster {
.bodyOuterDark { fill: hsl(141, 36%, 33%); }
.bodyOuterLight { fill: hsl(143, 36%, 43%); }
.bodyInnerDark { fill: hsl(143, 36%, 45%); }
.bodyInnerLight { fill: hsl(143, 36%, 48%); }
.warningLabel { fill: hsl(56, 50%, 50%); }
.warningField { fill: hsl(0, 50%, 50%); }
.lidTop { fill: hsl(252, 4%, 24%); }
.lidRidge { fill: hsl(249, 4%, 34%); }
.lidRim { fill: hsl(240, 11%, 7%); }
}

.fireHydrant {
    .valveInner { fill: hsl(0, 45%, 52%); }
    .valveInnerLight { fill: hsl(0, 45%, 53%); }
    .valveOuter { fill: hsl(0, 45%, 54%); }
    .valveOuterLight { fill: hsl(0, 45%, 55%); }
    .ridge { fill: hsl(0, 45%, 53%); }
    .hydrant { fill: hsl(0, 45%, 55%); }
}

.gravestone {
    .gravestoneTop { fill: hsl(153, 7%, 68%); }
    .gravestoneFront { fill: hsl(155, 5%, 54%); }
    .stoneRear { fill: hsl(75, 3%, 47%); }
    .stoneMiddle { fill: hsl(73, 4%, 54%); }
    .stoneFront { fill: hsl(72, 5%, 60%); }
}

.howieFridge {
    .door { fill: hsl(300, 25%, 60%); }
}

.ivDrip {
    .boxLight { fill: hsl(270, 57%, 77%); }
    .boxMedium { fill: hsl(268, 37%, 68%); }
    .boxDark { fill: hsl(270, 25%, 60%); }
    .console { fill: hsl(150, 37%, 68%); }
    .button { fill: hsl(60, 47%, 77%); }
    .bar { fill: hsl(180, 20%, 61%); }
    .bagCap { fill: hsl(0, 0%, 100%); }
    .bagFull { fill: hsl(180, 60%, 75%); }
    .bagEmpty { fill: hsl(180, 51%, 90%); }
}

.lockerBank {
    .frame { fill: hsl(64, 13%, 52%); }
    .door { fill: hsl(193, 39%, 64%); }
    .label { fill: hsl(45, 18%, 60%); }
    .lips { fill: hsl(344, 34%, 45%); }
    .teeth { fill: hsl(0, 0%, 100%); }
    .kiss { fill: hsl(280, 38%, 56%); }
}

.mirroredSink {
    .back { fill: hsl(30, 100%, 80%); }
    .cabinet { fill: hsl(60, 33%, 70%); }
    .doorFront { fill: hsl(60, 100%, 80%); }
    .frame { fill: hsl(60, 33%, 70%); }
    .doorTop { fill: hsl(60, 50%, 60%); }
    .knob { fill: hsl(60, 100%, 80%); }
    .doorHandle { fill: hsl(60, 20%, 50%); }
    .mirror { fill: hsl(180, 100%, 80%); }
    .reflection { fill: hsl(180, 100%, 90%); }
    .counterTop { fill: hsl(120, 20%, 50%); }
    .counterFront { fill: hsl(120, 33%, 70%); }
    .stem { fill: hsl(0, 0%, 60%); }
    .faucet { fill: hsl(0, 0%, 60%); }
    .aerator { fill: hsl(0, 0%, 80%); }
    .sink { fill: hsl(60, 33%, 30%); }
    .debbieShirt { fill: hsl(204, 100%, 37%); }
    .debbieHat { fill: hsl(270, 50%, 60%); }
    .photoBackground { fill: hsl(0, 0%, 40%); }
    .nkotbShirtDark { fill: hsl(210, 50%, 40%); }
    .nkotbShirtLight { fill: hsl(176, 100%, 33%); }
    .nkotbShirtAverage { fill: hsl(153, 68%, 42%); }
}

.museumDisplay {
    .case { fill: hsl(60, 14%, 52%); }
    .displayBack { fill: hsl(60, 100%, 90%); }
    .displayInnerDark { fill: hsl(60, 19%, 60%); }
    .displayInnerLight { fill: hsl(60, 29%, 69%); }
    .land { fill: hsl(30, 50%, 60%); }
    .routes { fill: hsl(0, 50%, 60%); }
    .oar { fill: hsl(30, 50%, 40%); }
    .axeHandle { fill: hsl(30, 50%, 40%); }
    .axeBlade { fill: hsl(0, 0%, 60%); }
    .axeTwine { fill: hsl(0, 100%, 90%); }
    .pot { fill: hsl(60, 20%, 50%); }
    .vaseLeg { fill: hsl(180, 33%, 30%); }
    .vase { fill: hsl(180, 20%, 50%); }
    .vaseBand { fill: hsl(120, 33%, 70%); }
    .pitcher { fill: hsl(240, 33%, 70%); }
    .pitcherBand { fill: hsl(300, 33%, 70%); }
}

.overpassSignBack {
    .board {fill: hsl(150, 100%, 20%); }
    .lattice {fill: hsl(0, 0%, 40%); }
    .joint {fill: hsl(0, 0%, 20%); }
    .frame {fill: hsl(0, 0%, 60%); }
}

.pharmacyAisle {
    .rackFront { fill: hsl(60, 12%, 60%); }
    .rackBack { fill: hsl(60, 8%, 51%); }
    .plasticCap { fill: hsl(0, 0%, 85%); }
    .metalCap { fill: hsl(176, 14%, 61%); }
    .boxCap { fill: hsl(0, 0%, 76%); }
    .boxTopFirst { fill: hsl(330, 47%, 62%); }
    .labelTopFirst { fill: hsl(207, 5%, 67%); }
    .bottleTopSecond { fill: hsl(30, 50%, 60%); }
    .boxTopThird { fill: hsl(60, 50%, 60%); }
    .labelTopThird { fill: hsl(27, 49%, 61%); }
    .boxTopFourth { fill: hsl(222, 50%, 60%); }
    .boxTopFifth { fill: hsl(180, 50%, 60%); }
    .boxTopMiddleFirst { fill: hsl(270, 50%, 60%); }
    .boxTopMiddleSecond { fill: hsl(0, 51%, 59%); }
    .bottleTopMiddleThird { fill: hsl(30, 34%, 49%); }
    .boxTopMiddleThird { fill: hsl(187, 32%, 47%); }
    .labelTopMiddleThird { fill: hsl(60, 19%, 75%); }
    .boxTopMiddleFourth { fill: hsl(227, 7%, 76%); }
    .labelTopMiddleFourth { fill: hsl(228, 26%, 51%); }
    .boxMiddleFirst { fill: hsl(210, 43%, 58%); }
    .boxMiddleSecond { fill: hsl(225, 14%, 77%); }
    .labelMiddleSecond { fill: hsl(224, 52%, 58%); }
    .boxMiddleThird { fill: hsl(36, 47%, 58%); }
    .bottleMiddleThird { fill: hsl(31, 13%, 54%); }
    .labelBottomMiddleFirst { fill: hsl(36, 52%, 58%); }
    .boxMiddleFourth { fill: hsl(358, 32%, 51%); }
    .labelMiddleFourth { fill: hsl(188, 60%, 71%); }
    .boxMiddleFifth { fill: hsl(60, 50%, 60%); }
    .boxBottomMiddleFirst { fill: hsl(88, 21%, 68%); }
    .boxBottomMiddleSecond { fill: hsl(142, 50%, 60%); }
    .boxBottomMiddleThird { fill: hsl(179, 54%, 57%); }
    .boxBottomMiddleFourth { fill: hsl(211, 58%, 71%); }
    .labelBottomMiddleFourth { fill: hsl(270, 49%, 60%); }
    .boxBottomFirst { fill: hsl(359, 42%, 55%); }
    .boxBottomSecond { fill: hsl(60, 34%, 70%); }
    .labelBottomSecond { fill: hsl(252, 26%, 56%); }
    .boxBottomThird { fill: hsl(207, 39%, 60%); }
    .labelBottomThird { fill: hsl(205, 9%, 73%); }
    .boxBottomFourth { fill: hsl(233, 49%, 60%); }
    .labelWhite { fill: hsl(0, 0%, 86%); }
    .shelf { fill: hsl(60, 18%, 69%); }
}

.playgroundSlide {
    .rung { fill: hsl(165, 12%, 43%); }
    .bar { fill: hsl(165, 12%, 48%); }
    .slide { fill: hsl(207, 18%, 72%); }
    .frameSide { fill: hsl(183, 29%, 49%); }
    .frameFront { fill: hsl(183, 29%, 44%); }
}

.recyclables {
    .bin { fill: hsl(219, 47%, 51%); }
    .logo { fill: hsl(0, 0%, 78%); }
}

.sandbags {
    .ropeDark { fill: hsl(36, 33%, 57%); }
    .post { fill: hsl(30, 26%, 47%); }
    .ropeLight { fill: hsl(36, 48%, 65%); }
    .spindle { fill: hsl(60, 21%, 68%); }
    .sandbag { fill: hsl(60, 32%, 71%); }
    .sandbagInner { fill: hsl(60, 20%, 50%); }
    .string { fill: hsl(60, 51%, 88%); }
}

.shoppingCart {
    .wheelRear {fill: hsl(221, 14%, 26%); }
    .hubRear {fill: hsl(221, 14%, 44%); }
    .swivelRear {fill: hsl(221, 23%, 61%); }
    .cartRear {fill: hsla(240, 71%, 93%, 0.75); }
    .mountRear {fill: hsl(111, 10%, 51%); }
    .barRear {fill: hsl(229, 7%, 54%); }
    .wheelFront {fill: hsl(221, 14%, 31%); }
    .hubFront {fill: hsl(220, 14%, 50%); }
    .swivelFront {fill: hsl(221, 26%, 65%); }
    .cart {fill: hsl(227, 8%, 58%); }
    .mountFront {fill: hsl(111, 13%, 56%); }
    .barFront {fill: hsl(225, 11%, 64%); }
}

.signpost {
    .signBottom { fill: hsl(72, 3%, 69%); }
    .signFront { fill: hsl(70, 8%, 86%); }
}

.stageLights {
    .hangerDarker { fill: hsl(0, 0%, 49%); }
    .shutterMiddle { fill: hsl(233, 8%, 21%); }
    .shutterLighter { fill: hsl(235, 8%, 27%); }
    .shutterDarker { fill: hsl(231, 8%, 17%); }
    .housing { fill: hsl(231, 8%, 30%); }
    .cableDarker { fill: hsl(227, 29%, 36%); }
    .mountDarkest { fill: hsl(30, 34%, 47%); }
    .mountDarker { fill: hsl(30, 40%, 55%); }
    .mountLighter { fill: hsl(30, 60%, 65%); }
    .mount { fill: hsl(30, 50%, 60%); }
    .cable { fill: hsl(228, 28%, 42%); }
    .hanger { fill: hsl(0, 0%, 60%); }
    .hangerScrew { fill: hsl(0, 0%, 45%); }
}

.steamPipes {
    .flange { fill: hsl(0, 20%, 50%); }
    .flangeSide { fill: hsl(0, 33%, 30%); }
    .pipeLarge { fill: hsl(60, 33%, 30%); }
    .pipeSmall { fill: hsl(60, 20%, 50%); }
    .mount { fill: hsl(0, 0%, 40%); }
    .spokes { fill: hsl(30, 40%, 50%); }
    .wheel { fill: hsl(0, 30%, 45%); }
    .cap { fill: hsl(60, 100%, 40%); }
}

.storageBoxes {
    .boxDark { fill: hsl(30, 22%, 45%); }
    .boxMedium { fill: hsl(30, 26%, 54%); }
    .boxLight { fill: hsl(29, 36%, 63%); }
    .boxInner { fill: hsl(30, 22%, 38%); }
}

.storageChest {
    .chestDark { fill: hsl(210, 40%, 40%); }
    .chestLight { fill: hsl(210, 40%, 50%); }
    .leatherDark { fill: hsl(60, 33%, 30%); }
    .leatherLight { fill: hsl(60, 20%, 50%); }
    .brassDark { fill: hsl(60, 43%, 45%); }
    .brassLight { fill: hsl(60, 43%, 50%); }
    .handle { fill: hsl(30, 100%, 20%); }
    .slit { fill: hsl(0, 0%, 20%); }
}

.taiwanFridge {
    .door { fill: hsl(180, 30%, 55%); }
}

.television {
    .side { fill: hsl(39, 32%, 54%); }
    .back { fill: hsl(39, 32%, 49%); }
    .panel { fill: hsl(39, 22%, 43%); }
    .slat { fill: hsl(40, 22%, 34%); }
    .tubeLight { fill: hsl(195, 10%, 39%); }
    .tubeDark { fill: hsl(194, 10%, 35%); }
    .antennaBase { fill: hsl(174, 10%, 40%); }
    .antennaRing { fill: hsl(173, 10%, 47%); }
    .antennae { fill: hsl(173, 18%, 53%); }
}

.towelRack {
    .ball { fill: hsl(103, 23%, 61%); }
    .rack { fill: hsl(106, 19%, 78%); }
    .band { fill: hsl(60, 31%, 77%); }
    .towel { fill: hsl(60, 37%, 68%); }
}

.trafficLight {
    .support { fill: hsl(60, 5%, 58%); }
    .casing { fill: hsl(60, 12%, 40%); }
    .visor { fill: hsl(60, 12%, 31%); }
    .lightGreen { fill: hsl(107, 85%, 65%); }
    .lightOff { fill: hsl(18, 14%, 37%); }
    .lightRed { fill: hsl(353, 85%, 65%); }
}

.trashCan {
    .boxLeft { fill: hsl(0, 36%, 51%); }
    .boxRear { fill: hsl(126, 36%, 58%); }
    .boxFront { fill: hsl(278, 37%, 60%); }
    .boxRightMedium { fill: hsl(215, 37%, 56%); }
    .boxRightDark { fill: hsl(216, 38%, 48%); }
    .boxRightLight { fill: hsl(215, 37%, 59%); }
}

.waitingRoomPlant {
    .vase { fill: hsl(59, 31%, 46%); }
}

.yellowTapedGrill {
    .tapeDark { fill: hsl(60, 32%, 45%); }
    .tapeLight { fill: hsl(60, 34%, 50%); }
    .grillInnerLight { fill: hsl(70, 10%, 46%); }
    .grillInnerDark { fill: hsl(71, 10%, 42%); }
    .grillLight { fill: hsl(174, 12%, 55%); }
    .grillMedium { fill: hsl(173, 10%, 48%); }
    .grillDark { fill: hsl(174, 10%, 42%); }
    .coal { fill: hsl(60, 5%, 35%); }
    .rack { fill: hsl(60, 7%, 57%); }
    .handle { fill: hsl(203, 7%, 57%); }
}
