.catherine#{$suffix} {
    .catherineShirt { fill: hsl(343, 54%, 83%); }
    .catherineSweater { fill: hsl(344, 50%, 74%); }
    .catherineShorts { fill: hsl(221, 32%, 59%); }
    .catherineShoe { fill: hsl(180, 30%, 53%); }
    .catherineShoeStripe { fill: hsl(312, 35%, 62%); }

    &.gopi {
        .sari { fill: hsl(344, 50%, 74%); }
    }
}