@import '../../../scss/constants/border';
@import '../../../scss/constants/colour';
@import '../../../scss/constants/icon';
@import '../../../scss/constants/popup';
@import '../../../scss/constants/responsive';
@import '../../../scss/constants/transition';

.PopupView {
    position: relative;
}

.PopupView__canBeFullHeight {
    /**
     * This styling is duplicated in the getPopupMaxHeight logic used by the
     * About popup.
     */
    max-height: calc(
        100%
        - #{$LENGTH_ICON_LARGE * 1.25}
    );

    .DW__miniWidth
    & {
        max-height: calc(100% - #{$LENGTH_ICON_LARGE_MINI});
    }

    .DW__phoneWidth
    & {
        max-height: calc(100% - #{$LENGTH_ICON});
    }
}

.popupView__fullHeight {
    height: 100%;
}

.popupView__fullWidth {
    max-width: $WIDTH_LAPTOP;
    width: 100%;


    .DW__tabletOrDesktopWidth
    & {
        width: calc(
            100% -
            #{$LENGTH_ICON_LARGE * 2 + $PADDING_POPUP_CONTENT_WIDE * 2}
        );
    }
}

.PopupView__cardSize {
    max-width: $width__popupCard;

    .DW__miniWidth
    & {
        // Multiplier is .9, just like for lyric text in mini.
        max-width: $width__popupCard__mini;
    }

    .DW__phoneWidth
    & {
        // Multiplier is .98, just like for lyric text in phone.
        max-width: $width__popupCard__phone;
        padding: $MARGIN_THIN;
    }
}

.PopupView__bounceAnimate {

    .Popup__visible
    & {
        animation: bounceIn $transitionDuration__slow;
    }

    .Popup__invisible
    &,
    .ShW__overlayShown
    .Popup__notInOverlay
    & {
        animation: bounceOut $transitionDuration__fast;
    }
}

.PopupView__shrinkAnimate {

    .Popup__visible
    & {
        animation: shrinkIn $transitionDuration__slow;
    }

    .Popup__invisible
    &,
    .ShW__overlayShown
    .Popup__notInOverlay
    & {
        animation: shrinkOut $transitionDuration__fast;
    }
}

.PopupViewContent {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: $colour__foreground;
    border-radius: $borderRadius__narrow;

    .DW__tabletOrDesktopWidth
    & {
        border-radius: $borderRadius__wide;
    }
}

.PopupViewContent__narrowPadding {
    padding: $padding__popupContent__narrow;
}

.PopupViewContent__widePadding {
    // Wider padding to accommodate popup buttons.
    padding: $PADDING_POPUP_CONTENT_WIDE;
}

.PopupViewContent__overflowScroll {
    overflow-y: scroll;
}
