.chromeDarkest { fill: hsl(160, 10%, 37%); }
.chromeDarker { fill: hsl(160, 10%, 42%); }
.chromeDark { fill: hsl(160, 10%, 47%); }
.chromeMediumDark { fill: hsl(160, 10%, 52%); }
.chromeMedium { fill: hsl(160, 10%, 57%); }
.chromeMediumLight { fill: hsl(160, 10%, 62%); }
.chromeLight { fill: hsl(160, 10%, 67%); }

.darkRoomDefault .darkRoom#{$suffix} {
    .chromeDarkest { fill: hsl(160, 4%, 22%); }
    .chromeDark { fill: hsl(160, 4%, 27%); }
    .chromeMedium { fill: hsl(160, 4%, 32%); }
    .chromeLight { fill: hsl(160, 4%, 37%); }
}