.BannerCursor {
    height: 50%;
    top: auto;
    bottom: 0;
    padding: $js__margin__thin * 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
    border-radius: $borderRadius__narrow;

    line-height: 1em;

    background-color: #8a6;
}

// TODO: Same as button, so maybe consolidate.
.BannerCursor {
    filter: $dropShadow__button;

    .ShW__overlayShown
    & {
        filter: $dropShadow__buttonOverlay;
    }
}

.BannerTracker {
    background-color: #6a8;
    transition:
        width $animationDuration__slow;
}
