.taiwanLinens#{$suffix} {
    .cushion { fill: hsl(338, 39%, 54%); }
    .welt { fill: hsl(62, 32%, 53%); }
    .taiwanBlanket { fill: hsl(214, 57%, 66%); }
    .taiwanBlanketInner { fill: hsl(214, 40%, 58%); }
}
