.rock#{$suffix} {
    // .rockDarkest { fill: hsl(35, 18%, 37%); }
    // .rockDarker { fill: hsl(35, 19%, 42%); }
    // .rockDark { fill: hsl(35, 20%, 47%); }
    // .rockMediumDark { fill: hsl(35, 22%, 52%); }
    // .rockMedium { fill: hsl(35, 22%, 57%); }
    // .rockMediumLight { fill: hsl(35, 22%, 62%); }
    // .rockLight { fill: hsl(35, 24%, 67%); }
    // .rockLighter { fill: hsl(35, 25%, 72%); }
    // .rockLightest { fill: hsl(35, 26%, 77%); }
}
