// AnnotationPopup does not have absolute full styling to allow access to nav.

.AnnotationPopup__inMain {
    position: absolute;
    right: 0;

    .RM__desktop
    & {
        top: 0;
        margin-top: 20px;
    }

    .RM__mobile
    & {
        bottom: 0;
        margin-right: 15px;

        // Wider margin bottom to make room for lyrics at bottom.
        margin-bottom: 25px;
    }

    .RM__mobile.RM__lyricHeightless
    & {
        // Even wider margin bottom if no lyrics at bottom.
        margin-bottom: @js__length__icon;
    }
}
