// AnnotationPopup does not have absolute full styling to allow access to nav.

.AnnotationPopup__inMain {
    position: absolute;
    right: 0;

    .RM__desktop
    & {
        top: 0;

        // Wider margin top to make room for buttons.
        margin-top:
            @js__length__iconLarge * 0.5
            + @js__margin__thick;
    }

    .RM__mobile
    & {
        bottom: 0;
        margin-right: @js__margin__thick;

        // Wider margin bottom to make room for buttons.
        margin-bottom:
            @js__length__iconLarge__tablet * 0.5
            + @js__margin__thin;
    }
}
