.Popup__overview {

    max-width: 480px;

    .Main
    & {
        position: static;
        width: auto;
        height: auto;

        margin-top: @js__margin__thin;
        margin-left: @js__margin__thick;
    }

    .RM__mobileNotPhone
    .Main
    & {
        margin-top: 0;
        margin-right: @js__margin__thin;
        margin-bottom: @margin__scrollbar;
    }

    .RM__phone
    .Main
    & {
        margin: @js__margin__thin;
    }

    .RM__mini
    & {
        width: 80%;
    }

    .RM__mini.RM__lyricHeightless
    &,
    .RM__phone
    & {
        font-size: 0.9em;
    }

    .PopupView__content {
        border-radius: 25px;
    }
}
