.Popup__overview {

    max-width: 480px;

    .Main
    & {
        position: static;
        width: auto;
        height: auto;

        margin-top: @margin__overview;
        margin-left: 12px; // Arbitrary.
    }

    ._mobileNotPhone_
    .Main
    & {
        margin-top: 0;
        margin-right: @margin__overview;
        margin-bottom: @margin__scrollbar;
    }

    .RM__phone
    .Main
    & {
        margin: @margin__overview;
    }

    .RM__mini
    & {
        width: 80%;
    }

    .RM__mini.RM__lyricHeightless
    &,
    .RM__phone
    & {
        .TextSpan {
            font-size: 0.9em;
        }
    }

    .PopupView__content {
        border-radius: 25px;
    }
}
