.tips.popup-wrapper {
    /**
     * When tip button is in menu, show tip popup closer to menu. When it's in
     * main in desktop, show it in centre.
     */
    ._scoresTipsMenu_
    & {
        position: absolute;
        top: 5%;
        right: 5%;
    }
}

._mobileNotPhone_ {

    &._scoresTipsMain_ {

        /**
         * In tablet and mini, when tip button is in menu, show tip in centre.
         * When it's in main, show it closer to tip button.
         */
         .tips.popup-wrapper {
             position: absolute;
             bottom: 5%;
             right: 5%;
         }
    }
}
