.mountain#{$suffix} {
    .mountainFar { fill: hsl(340, 13%, 52%); }
    .mountain { fill: hsl(340, 13%, 47%); }
    .mountainNear { fill: hsl(340, 13%, 42%); }

    .taiwanMountainFarthest { fill: hsl(218, 13%, 62%); }
    .taiwanMountainFarther { fill: hsl(218, 13%, 57%); }
    .taiwanMountainFar { fill: hsl(218, 13%, 52%); }
    .taiwanMountain { fill: hsl(218, 13%, 47%); }
    .taiwanMountainNear { fill: hsl(218, 13%, 42%); }

    .meadowFar { fill: hsl(85, 20%, 52%); }
    .meadowMiddle { fill: hsl(85, 20%, 55%); }
    .meadowNear { fill: hsl(85, 20%, 58%); }

    .taiwanMeadowFar { fill: hsl(240, 20%, 52%); }
    .taiwanMeadowMiddle { fill: hsl(240, 20%, 55%); }
    .taiwanMeadowNear { fill: hsl(240, 20%, 58%); }
}