@import "./AnnotationTitle";

.AnnotationHeader {
    // For access icons.
    position: absolute;
    left: 0;
    width: 100%;

    top:
        $js__padding__popupContent__wide
        - $height__annotationTitle;

    height: $height__annotationTitle;

    /**
     * In carousel, annotation titles are given a height so that the top cards
     * are aligned.
     */
    display: flex;
    justify-content: center;

    .parentIsShown
    & {
        transition:
            height $animationDuration__default,
            opacity $animationDuration__default;
    }
}

.AnnotationHeaderAnimatable {
    opacity: 0;
}