.promisePhoto__shared {
    .frameDark { fill: #859671; }
    .frameMedium { fill: #93a67d; }
    .frameLight { fill: #a1b589; }
    .frameLighter { fill: #acc293; }
    .frameLightest { fill: #b9d19f; }
    .background { fill: #c5bae3; }
    .lotusRear { fill: #ca82cf; }
    .lotusFront { fill: #e594eb; }
    .glassCracked { fill: rgba(200, 250, 250, 0.5); }
}