.promisePhotoShared {
    .frameDark { fill: #859671; }
    .frameMedium { fill: #93a67d; }
    .frameLight { fill: #a1b589; }
    .frameLighter { fill: #acc293; }
    .frameLightest { fill: #b9d19f; }
    .glass { fill: #b5e8e5; }
}