@import '../../../scss/constants/icon';
@import '../../../scss/constants/transition';

.SequenceDot {
    position: relative;
    width: 0;
    height: 0;
    opacity: 0;

    // Increase width first, then fade in.
    .DW__userAgentDesktop
    & {
        transition:
            width $transitionDuration__default,
            opacity $transitionDuration__default $transitionDuration__fast;
    }
}

.SequenceDot__shown {
    opacity: 1;

    &.SequenceDot__annotationCard {
        width: $length__annotationDot;

        &:not(:last-child) {
            margin-right: $length__annotationDot * 0.1;
        }
    }
    &.SequenceDot__textAnchor {
        width: $length__lyricSequenceDot;

        &:not(:last-child) {
            margin-right: $length__lyricSequenceDot * 0.1;
        }
    }
}

.SequenceDot__annotationCard {
    height: $length__annotationDot;
}

.SequenceDot__textAnchor {
    height: $length__lyricSequenceDot;

    // "Root accessed letter Enter."
    .PaLEnter
    .Anchor__accessed
    &,

    .Anchor__animatable:active
    & {
        transform: scale(0.9);
    }
}
