.oldBennett#{$suffix} {
    .oldBennettCollar { fill: hsl(203, 37%, 87%); }
    .oldBennettShirt { fill: hsl(201, 31%, 85%); }
    .oldBennettBowtie { fill: hsl(3, 54%, 63%); }
    .oldBennettVest { fill: hsl(221, 12%, 44%); }
    .oldBennettPants { fill: hsl(223, 10%, 53%); }
    .oldBennettShoe { fill: hsl(39, 14%, 36%); }
}