.wedding#{$suffix} {
    .tableDark { fill: #6cb3b3; }
    .tableLight { fill: #7ccccc; }
    .leaves { fill: #5d935a; }
    .rose { fill: #aa5e5e; }
    .curtainFlap { fill: #88518c; }
    .curtain { fill: #9b5ca0; }
    .canopyDark { fill: #99a05c; }
    .canopyLight { fill: #a8b065; }
}
