@import '../constants/colour';
@import '../constants/hue';

.ButtonIcon__audioFastForward {
    fill: $colour__future__bold;
    transform: scaleX(-1);
}

.ButtonIcon__audioNext {
    fill: $colour__future__bold;
    transform: scaleX(-1);
}

.ButtonIcon__audioPlay {
    .PlW__isPlaying
    & {
        fill: $colour__paused__bold;
    }

    .PlW__isPaused
    & {
        fill: $colour__playing__bold;
    }
}

.ButtonIcon__audioPrevious {
    fill: $colour__past__bold;
}

.ButtonIcon__audioRewind {
    fill: $colour__past__bold;
}

.ButtonIcon__songRepeat {
    fill: $colour__interact__bold;
}

.ButtonIcon__carouselNav {
    fill: $colour__close;
    .cardBack { fill: $colour__annotation__dark; }
    .cardFront { fill: $colour__annotation; }
    .annotation { fill: $colour__annotationCard; }
}

.ButtonIcon__carouselNext {
    transform: scaleX(-1);
    .arrow { fill: $colour__navigation };
}

.ButtonIcon__carouselPrevious {
    .arrow { fill: $colour__navigation; };
}

.ButtonIcon__lyricEar {
    fill: $colour__interact__bold;
}

.ButtonIcon__lyricExpand {
    .arrow { fill: $colour__navigation };
    .line { fill: $COLOUR__PAST__LIGHTER };
    .stanzaVerse { fill: $bgColour__formType__verse };
    .stanzaPrechorus { fill: $bgColour__formType__prechorus };
    .stanzaChorus { fill: $bgColour__formType__chorus };
}

.ButtonIcon__about {
    .primaryDark { fill: hsl(30, 22%, 45%); }
    .primaryLight { fill: hsl(30, 30%, 57%); }
    .secondaryDark { fill: hsl(225, 20%, 35%); }
    .sclera { fill: hsl(225, 20%, 90%); }
}

.ButtonIcon__overview {
    stroke-width: 0.5px;
    stroke: hsla(0, 0%, 20%, 0.5);
}

.ButtonIcon__scores {
    fill: $colour__interact__bold;
}

.ButtonIcon__tips {
    .mountDark { fill: hsl(197, 50%, 60%); }
    .mountLight { fill: hsl(197, 70%, 67%); }
    .groove { fill: hsl(197, 34%, 30%); }
    .switch { fill: hsl(198, 38%, 52%); }
    .contact { fill: hsl(205, 8%, 45%); }
    .screw { fill: hsl(203, 14%, 63%); }
    .bulbOff { fill: hsla(240, 100%, 94%, 0.7); }
    .bulbOn { fill: hsl(60, 100%, 90%); }
}

.ButtonIcon__navSong__19 {
    transform: scaleX(-1);
}

// .ButtonIcon__promoHomepage {
//     .house { fill: hsl($hue__masks, 25%, 62%); }
// }

.ButtonIcon__paginationNext {
    fill:$colour__navigation;
    transform: scaleX(-1);
}

.ButtonIcon__paginationPrevious {
    fill:$colour__navigation;
}

.ButtonIcon__popupNext {
    fill:$colour__navigation;
    transform: scaleX(-1);
}

.ButtonIcon__popupPrevious {
    fill:$colour__navigation;
}

.ButtonIcon__popupClose {
    fill: $colour__close;
}

.ButtonIcon__facebook {
    .field { fill: hsl(214, 60%, 58%); }
}

.ButtonIcon__twitter {
    .bird { fill: hsl(203, 65%, 58%); }
}