@import '../constants/colour';
@import '../constants/font';

a {
    text-decoration: none;
}

body {
    margin: 0;
    color: $colour__text__dark;
    cursor: default;
}

div {
    box-sizing: border-box;
}

h1 {
    font-size: 1.6em;
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}

circle, ellipse, line, path, polygon, polyline, rect {
    // This allows the stroke width to stay constant.
    vector-effect: non-scaling-stroke;
}

p {
    margin: 0;
}

span {
    line-height: 1em;
}