.backstory {
    .dark { fill: hsl($hue__backstory, 29%, 55%); }
    .medium { fill: hsl($hue__backstory, 39%, 65%); }
    .light { fill: hsl($hue__backstory, 49%, 70%); }
}
.narrative {
    // .dark { fill: hsl($hue__narrative, 29%, 60%); }
    .medium { fill: hsl($hue__narrative, 39%, 65%); }
    .light { fill: hsl($hue__narrative, 49%, 70%); }
}
.observation {
    .dark { fill: hsl($hue__observation, 34%, 70%); }
    .medium { fill: hsl($hue__observation, 44%, 75%); }
    .light { fill: hsl($hue__observation, 54%, 80%); }
}
.pun {
    .dark { fill: hsl($hue__pun, 29%, 60%); }
    .medium { fill: hsl($hue__pun, 39%, 65%); }
    .light { fill: hsl($hue__pun, 49%, 70%); }
}
.reference {
    .dark { fill: hsl($hue__reference, 29%, 60%); }
    .medium { fill: hsl($hue__reference, 39%, 65%); }
    .light { fill: hsl($hue__reference, 49%, 70%); }
}
.wormhole {
    .dark { fill: hsl($hue__wormhole, 34%, 60%); }
    .medium { fill: hsl($hue__wormhole, 44%, 70%); }
    .light { fill: hsl($hue__wormhole, 54%, 75%); }
}
.songcraft {
    .dark { fill: hsl($hue__songcraft, 34%, 65%); }
    .medium { fill: hsl($hue__songcraft, 44%, 70%); }
    .light { fill: hsl($hue__songcraft, 54%, 75%); }
}
.afterword {
    // .dark { fill: hsl($hue__afterword, 34%, 70%); }
    .medium { fill: hsl($hue__afterword, 44%, 75%); }
    .light { fill: hsl($hue__afterword, 54%, 80%); }
}
.Dot__deselected {
    .dark { fill: hsl(0, 0%, 60%); }
    .medium { fill: hsl(0, 0%, 70%); }
    .light { fill: hsl(0, 0%, 80%); }
}
