@import '../constants/colour';

.font__text {
    font-family: PT Sans Narrow, Arial;
}

.font__heading {
    font-family: Rancho, Georgia;
}

.font__extra {
    font-family: Neuton, Times;
}

.fontColour__title {
    color: $colour__paused__empty;
}

.fontSize__largerTitle {
    font-size: $fontSize__largerTitle;

    .DW__miniWidth
    & {
        font-size: $fontSize__largerTitle__mini;
    }

    .DW__phoneWidth
    & {
        font-size: $fontSize__largerTitle__phone;
    }
}


.fontSize__largeTitle {
    font-size: $fontSize__largeTitle;

    .DW__miniWidth
    & {
        font-size: $fontSize__largeTitle__mini;
    }

    .DW__phoneWidth
    & {
        font-size: $fontSize__largeTitle__phone;
    }
}

.fontSize__mediumTitle {
    font-size: $fontSize__mediumTitle;

    .DW__miniWidth
    & {
        font-size: $fontSize__mediumTitle__mini;
    }

    .DW__phoneWidth
    & {
        font-size: $fontSize__mediumTitle__phone;
    }
}

.fontSize__smallTitle {
    font-size: $fontSize__smallTitle;

    .DW__miniWidth
    & {
        font-size: $fontSize__smallTitle__mini;
    }

    .DW__phoneWidth
    & {
        font-size: $fontSize__smallTitle__phone;
    }
}

.fontSize__verse {
    font-size: $fontSize__verse;

    .DW__miniWidth
    & {
        font-size: $fontSize__verse__mini;
    }

    .DW__phoneWidth
    & {
        font-size: $fontSize__verse__phone;
    }
}

.fontSize__lyricMultipleColumns {

    // Fix issue with "floater" line always wrapping for some reason.
    $fontSize__bothColumnsShown: 0.935em;

    // Make font sizes smaller when showing both columns.
    .DW__desktopWidth
    .RW__bothEarColumnsShown
    &,
    .DW__tabletWidth
    .RW__bothEarColumnsShown
    & {
        font-size: $fontSize__bothColumnsShown;
    }

    .DW__miniWidth
    .RW__bothEarColumnsShown
    & {
        font-size:
            $fontSize__bothColumnsShown
            * $multiplier__fontSize__mini;
    }
}