@import '../constants/colour';

@mixin mixin__textAnchorShadow($bgColour) {
    $offset: 0.5px;
    $offset__negative: -$offset;
    $blur: 0.5px;

    .TextAnchor__linkText {
        text-shadow:
            0 $offset__negative $blur $bgColour,
            $offset 0 $blur $bgColour,
            $offset__negative 0 $blur $bgColour,
            0 $offset * 1.5 $blur $bgColour;
    }
}

@mixin mixin__textAndLinkColours($light: false) {
    @if $light {
        color: $colour__text__light;

        @include mixin__textAnchorShadow(
            hsla(0, 0%, 0%, 0.2)
        );

    } @else {
        color: $colour__text__dark;

        @include mixin__textAnchorShadow(
            hsla(0, 0%, 100%, 0.5)
        );
    }

    .TextAnchor__linkText__default {
        @if $light {
            color: $colour__link__light;
        } @else {
            color: $colour__link__dark;
        }
    }

    .TextAnchor__linkText__accessed {
        @if $light {
            color: $colour__access__light;
        } @else {
            color: $colour__access__dark;
        }
    }

    .TextAnchor__linkText__selected {
        @if $light {
            color: $colour__select__light;
        } @else {
            color: $colour__select__dark;
        }
    }

    .Anchor__animatable {
        &:hover {
            .TextAnchor__linkText {
                @if $light {
                    color: $colour__linkHover__light;
                } @else {
                    color: $colour__linkHover__dark;
                }
            }
            .TextAnchor__linkText__accessed {
                @if $light {
                    color: $colour__accessHover__light;
                } @else {
                    color: $colour__accessHover__dark;
                }
            }
        }

        &:active {
            .TextAnchor__linkText {
                color: $colour__linkActive;
            }
            .TextAnchor__linkText__accessed {
                color: $colour__accessActive;
            }
        }
    }
}

@mixin mixin__underlineColours() {
    .Underline__default {
        background-color: $colour__underline;
    }

    .Underline__accessed {
        background-color: $colour__underlineAccess;
    }

    .Underline__selected {
        background-color: $colour__underlineSelect;
    }
}
