.PopupOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: $zIndex__popupOverlay;
    background-color: transparent;

    .DW__higherProcessor
    & {
        transition: background-color $animationDuration__default;
    }
}

.PopupOverlay__shown {
    background-color: rgba(50, 50, 50, 0.7);
}
