@import './allClothing/style';
@import './allPeople/style';

@import './amy/style';
@import './ana/style';
@import './andrew/style';
@import './anita/style';
@import './bennett/style';
@import './brad/style';
@import './catherine/style';
@import './christopher/style';
@import './esther/style';
@import './father/style';
@import './howie/style';
@import './jacob/style';
@import './khari/style';
@import './liz/style';
@import './mara/style';
@import './miriam/style';
@import './mother/style';
@import './nestor/style';
@import './oldBennett/style';
@import './sasha/style';
@import './shane/style';
@import './stephanie/style';
@import './tomer/style';
@import './tristan/style';
@import './usher/style';
@import './wade/style';
@import './willy/style';