@import '../../scss/constants/icon';
@import '../../scss/constants/zIndex';

.BannerFilmstrip {
    display: flex;
    flex-direction: column;
    flex-grow: 3;

    position: relative;
    height: 100%;

    z-index: $zIndex__menuChild;

    .ShW__tips__filmstrip
    & {
        z-index: $zIndex__menuChild__topMost;
    }
}

.BannerFilmstrip__child {
    position: relative;
    width: 100%;

    &:not(:last-child) {
        margin-bottom: $MARGIN_THIN * 0.5;
    }
}
