.distant#{$suffix} {
    .roofFurther { fill: #695970; }
    .fenceFurther { fill: #51566b; }

    .wallFurther { fill: #82756c; }
    .ledgeFurther { fill: #a09c95; }
    .brickDarkFurther { fill: #66483d; }
    .brickLightFurther { fill: #756950; }
}