.distant#{$suffix} {
    .roofFurther { fill: hsl(282, 11%, 39%); }
    .wallFurther { fill: hsl(25, 9%, 47%); }
    .ledgeFurther { fill: hsl(38, 5%, 61%); }
    .brickDarkFurther { fill: hsl(16, 25%, 32%); }
    .brickLightFurther { fill: hsl(41, 19%, 39%); }
}