.policeAlbum {
    .frame {
        fill: #231717;
    }

    .display {
        fill: #c94343;
    }
}

.progressChartLate {
    .sheetBottomLeft {
        fill: #bbf;
    }

    .sheetBottomRight {
        fill: #fbf;
    }
}

.leonardCohenPoster {
    .frame {
        fill: #38494c;
    }

    .pants {
        fill: #3e3344;
    }

    .pantsOverlapLine {
        stroke: #232323;
    }

    .skin {
        fill: #c7b299;
    }

    .hair {
        fill: #6d6556;
    }

    .hat {
        fill: #889399;
    }

    .band {
        fill: #9b7b99;
    }

    .hatFoldLine {
        stroke: #181818;
    }

    .shirt {
        fill: #9bc6c9;
    }

    .suitFoldLine {
        stroke: #4c4c4c;
    }

    .collar {
        fill: #8ab3ba;
    }

    .suitInner {
        fill: #4e5f68;
    }

    .cuff {
        fill: #76969b;
    }

    .suit {
        fill: #687e8c;
    }

    .lapel {
        fill: #374344;
    }

    .endPin {
        fill: #bcc9c9;
    }

    .guitarTrim {
        fill: #ccc5d3;
    }

    .guitarBody {
        fill: #474149;
    }

    .fretboard {
        fill: #afbc99;
    }

    .bridge {
        fill: #726f5b;
    }

    .skinOverlapLine {
        stroke: #545454;
    }

    .suitOverlapLine {
        stroke: #3f4e56;
    }
}