.policeAlbum {
    .frame {
        fill: #231717;
    }

    .display {
        fill: #c94343;
    }
}

.progressChartLate {
    .sheetBottomLeft {
        fill: #bbf;
    }

    .sheetBottomRight {
        fill: #fbf;
    }
}

.leonardCohenPoster {
    .frame {
        fill: #38494c;
    }

    .pants {
        fill: #3e3344;
    }

    .pantsOverlapLine {
        stroke: #232323;
    }

    .skin {
        fill: #c7b299;
    }

    .hair {
        fill: #6d6556;
    }

    .hat {
        fill: #889399;
    }

    .band {
        fill: #9b7b99;
    }

    .hatFoldLine {
        stroke: #181818;
    }

    .shirt {
        fill: #9bc6c9;
    }

    .suitFoldLine {
        stroke: #4c4c4c;
    }

    .collar {
        fill: #8ab3ba;
    }

    .suitInner {
        fill: #4e5f68;
    }

    .cuff {
        fill: #76969b;
    }

    .suit {
        fill: #687e8c;
    }

    .lapel {
        fill: #374344;
    }

    .endPin {
        fill: #bcc9c9;
    }

    .guitarTrim {
        fill: #ccc5d3;
    }

    .guitarBody {
        fill: #474149;
    }

    .fretboard {
        fill: #afbc99;
    }

    .bridge {
        fill: #726f5b;
    }

    .skinOverlapLine {
        stroke: #545454;
    }

    .suitOverlapLine {
        stroke: #3f4e56;
    }
}

.nirvanaPoster {
    .frame {
        fill: #607e87;
    }

    .pants {
        fill: #3b3e44;
    }

    .pantsOverlapLine {
        stroke: #363636;
    }

    .skin {
        fill: #c7b299;
    }

    .shirt {
        fill: #82a8a1;
    }

    .suitInner {
        fill: #7c6b87;
    }

    .strap {
        fill: #6d5563;
    }

    .suit {
        fill: #a58bbc;
    }

    .suitOverlapLine {
        stroke: #37365b;
    }

    .suitFoldLine {
        stroke: #4e4e4e;
    }

    .button {
        fill: #bdc695;
    }

    .lapel {
        fill: #7e6d89;
    }

    .hair {
        fill: #897f64;
    }

    .hairOverlapLine {
        stroke: #3f3632;
    }

    .endPin {
        fill: #98a8a7;
    }

    .guitar {
        fill: #71abbf;
    }

    .bridgeBottom {
        fill: #748988;
    }

    .bridgeTop {
        fill: #9db2b1;
    }

    .pickguard {
        fill: #b9eae9;
    }

    .knob {
        fill: #98b7b5;
    }

    .pickup {
        fill: #dae5e5;
    }

    .fretboard {
        fill: #a89a78;
    }

    .head {
        fill: #ddd0b6;
    }

    .nut {
        fill: #c0c1b2;
    }

    .skinOverlapLine {
        stroke: #736357;
    }
}

.televisionAlbum {
    .background {
        fill: #4586ad;
    }

    .billyHair {
        fill: #685848;
    }

    .fredHair {
        fill: #4c4539;
    }

    .richardHair {
        fill: #544738;
    }

    .tomHair {
        fill: #5b4d3e;
    }

    .skin {
        fill: #c7b299;
    }

    .skinOverlapLine {
        stroke: #534741;
    }

    .tomShirt {
        fill: #423939;
    }

    .billyPants {
        fill: #423939;
    }

    .billyShirt {
        fill: #698e6a;
    }

    .fredPants {
        fill: #3f3434;
    }

    .fredShirt {
        fill: #6d5e5e;
    }

    .fredSuit {
        fill: #444040;
    }

    .fredShirtOverlapLine {
        stroke: #212020;
    }

    .richardPants {
        fill: #422222;
    }

    .richardShirt {
        fill: #914646;
    }

    .richardShirtOverlapLine {
        stroke: #4c2023;
    }

    .tomPants {
        fill: #2d2020;
    }

    .tomVest {
        fill: #8e8282;
    }

    .frame {
        fill: #231717;
    }
}

.wideCouch {
    .cushion {
        fill: #665a72;
    }

    .cushionOverlapLine {
        stroke: #332b3a;
    }
}

.wideArmrest {
    .cushion {
        fill: #71607c;
    }

    .cushionOverlapLine {
        stroke: #2d2633;
    }
}