.Bubble__temporaryRect {
    fill: rgba(250, 150, 200, 0.75);
    vector-effect: non-scaling-stroke;
    stroke-width: 1px;
    stroke: #444;
}

.Bubble {
    transition: opacity $animationDuration__default;
    opacity: 0;

    .Scene__shown
    & {
        opacity: 1;
    }
}