.WeddingCrowd {
    .tableTop {
        fill: #6cc;
    }

    .floralBack {
        fill: #063;
    }

    .floralLeft {
        fill: #393;
    }

    .curtainsRight {
        fill: #c33;
    }

    .floralRight {
        fill: #3c6;
    }

    .curtainDoorRight {
        fill: #933;
    }

    .rose {
        fill: #630;
    }

    .tableSide {
        fill: #399;
    }

    .canopyTopFar {
        fill: #ff9;
    }

    .canopyTopRight {
        fill: #cc6;
    }

    .canopySideRight {
        fill: #939;
    }

    .curtainsLeft {
        fill: #c00;
    }

    .curtainDoorLeft {
        fill: #900;
    }

    .canopyTopLeft {
        fill: #993;
    }

    .canopySideLeft {
        fill: #909;
    }
}
