.weddingBackdrop {
    .mountainFarthest {
        fill: #908091;
    }

    .mountainFarther {
        fill: #796c7a;
    }

    .mountainFar {
        fill: #655c66;
    }

    .mountainClose {
        fill: #504a51;
    }
}

.weddingPlatform {
    .leaves {
        fill: #5d935a;
    }

    .rose {
        fill: #aa5e5e;
    }

    .curtain {
        fill: #9b5ca0;
    }
}

.weddingCrowd {
    .tableTop {
        fill: #6cc;
    }

    .floralBack {
        fill: #063;
    }

    .floralLeft {
        fill: #393;
    }

    .curtainsRight {
        fill: #c33;
    }

    .floralRight {
        fill: #3c6;
    }

    .curtainDoorRight {
        fill: #933;
    }

    .rose {
        fill: #630;
    }

    .tableSide {
        fill: #399;
    }

    .canopyTopFar {
        fill: #ff9;
    }

    .canopyTopRight {
        fill: #cc6;
    }

    .canopySideRight {
        fill: #939;
    }

    .curtainsLeft {
        fill: #c00;
    }

    .curtainDoorLeft {
        fill: #900;
    }

    .canopyTopLeft {
        fill: #993;
    }

    .canopySideLeft {
        fill: #909;
    }
}

.forebodingTrees {
    .treeFar {
        fill: #300;
    }

    .treeMiddle {
        fill: #330;
    }

    .treeNear {
        fill: #630;
    }
}