.tomer#{$suffix} {
    .tomerShirt { fill: hsl(38, 55%, 63%); }
    .shirtWhiteDarkest { fill: hsl(0, 0%, 60%); }
    .shirtWhiteDarker { fill: hsl(0, 0%, 70%); }
    .tomerSweater { fill: hsl(57, 18%, 60%); }
    .tomerPants { fill: hsl(210, 17%, 47%); }
    .tomerShoe { fill: hsl(218, 12%, 65%); }

    &.gangbanger {
        .shorts { fill: hsl(41, 19%, 54%); }
        .shoe { fill: hsl(210, 7%, 56%); }
    }

    &.steamTunnel {
        .broomHandle { fill: hsl(30, 22%, 63%); }
        .bundleDark { fill: hsl(68, 16%, 60%); }
        .bundleLight { fill: hsl(68, 23%, 69%); }
        .string { fill: hsl(12, 41%, 56%); }
    }
}
