.bedroomFence {
    .fenceTop {
        fill: #cc6;
    }

    .fenceFront {
        fill: #c96;
    }

    .fenceBorderLine {
        stroke: #754c24;
    }

    .bushLeft {
        fill: #396;
    }

    .bushRight {
        fill: #393;
    }
}

.bedroomBus {
    .smoke {
        fill: #818c7d;
    }

    .body {
        fill: #ddc86f;
    }

    .trim {
        fill: #595958;
    }

    .turnLight {
        fill: #f4a82f;
    }

    .window {
        fill: #9cdbd3;
    }

    .roof {
        fill: #efedcb;
    }
}

.bedroomSiren {
    .redLight {
        fill: #f7b2b2;
    }

    .redBrighter {
        fill: #e88080;
    }

    .redBrightest {
        fill: #f24e4e;
    }

    .blueLight {
        fill: #b2ddf9;
    }

    .blueBrighter {
        fill: #7fc3ea;
    }

    .blueBrightest {
        fill: #4da8f4;
    }
}

.bedroomDesk {
    .deskSide {
        fill: #4f463c;
    }

    .drawer {
        fill: #c9b891;
    }

    .deskFront {
        fill: #a08d6b;
    }

    .mount {
        fill: #979b75;
    }

    .handle {
        fill: #bfc6a3;
    }
}

.captainBed {
    .panelFront {
        fill: #847f76;
    }

    .panelSide {
        fill: #665a72;
    }

    .panelTop {
        fill: #568960;
    }

    .frameTop {
        fill: #a5a084;
    }

    .frameFront {
        fill: #917f60;
    }

    .frameSide {
        fill: #6d6a51;
    }

    .drawerSide {
        fill: #a48abc;
    }

    .drawerTop {
        fill: #95aa77;
    }

    .drawerFront {
        fill: #b59e3c;
    }

    .mount {
        fill: #56663c;
    }

    .handle {
        fill: #95aa77;
    }

    .ball {
        fill: #847f76;
    }
}

.tintinPoster {
    .frame {
        fill: #ccc897;
    }

    .fur {
        fill: #cfe8e3;
    }

    .furOverlapLine {
        stroke: #547573;
    }

    .nose {
        fill: #514a42;
    }

    .mouth {
        fill: #423a32;
    }

    .sock {
        fill: #d6ccc1;
    }

    .shoe {
        fill: #5e4f3f;
    }

    .coatInner {
        fill: #49423a;
    }

    .pants {
        fill: #684e5f;
    }

    .pantsCreaseLine {
        stroke: #453e4c;
    }

    .pantsDisplayLine {
        stroke: #453e4c;
    }

    .pantsFoldLine {
        stroke: #453e4c;
    }

    .shoeFoldLine {
        stroke: #473424;
    }

    .soleBottom {
        fill: #302b25;
    }

    .soleFront {
        fill: #302b25;
    }

    .soleSide {
        fill: #443e38;
    }

    .skin {
        fill: #d3b9b2;
    }

    .hair {
        fill: #b7b18a;
    }

    .shirt {
        fill: #8bbcbc;
    }

    .shirtFoldLine {
        stroke: #4682a3;
    }

    .shirtOverlapLine {
        stroke: #4682a3;
    }

    .collar {
        fill: #ede7e2;
    }

    .coat {
        fill: #847667;
    }

    .coatFoldLine {
        stroke: #4e4e4e;
    }

    .lapel {
        fill: #7f7366;
    }

    .skinOverlapLine {
        stroke: #736357;
    }

    .sleeve {
        fill: #7eaaa8;
    }
}

.bloomCountyPoster {
    .frame {
        fill: #a0d4e0;
    }

    .mountain {
        fill: #4c4534;
    }

    .billFur {
        fill: #b58a3c;
    }

    .billNose {
        fill: #d88dd8;
    }

    .billTongue {
        fill: #e2a6df;
    }

    .skin {
        fill: #d6c69f;
    }

    .oliverPants {
        fill: #537b91;
    }

    .oliverPantsOverlapLine {
        stroke: #3d4066;
    }

    .oliverShoe {
        fill: #2e3038;
    }

    .oliverHair {
        fill: #302e29;
    }

    .oliverSkin {
        fill: #736357;
    }

    .oliverSkinOverlapLine {
        stroke: #534741;
    }

    .oliverShirt {
        fill: #bad4e2;
    }

    .oliverShirtOverlapLine {
        stroke: #517589;
    }

    .binkleyPants {
        fill: #726daf;
    }

    .binkleyPantsOverlapLine {
        stroke: #5b5b5b;
    }

    .binkleyShoe {
        fill: #221d26;
    }

    .binkleyHair {
        fill: #a5956f;
    }

    .binkleyShirt {
        fill: #ccc7e0;
    }

    .binkleyShirtOverlapLine {
        stroke: #70637c;
    }

    .miloPants {
        fill: #938269;
    }

    .miloPantsOverlapLine {
        stroke: #493c36;
    }

    .miloShoe {
        fill: #3a3d33;
    }

    .miloShoeOverlapLine {
        stroke: #443f3b;
    }

    .miloHair {
        fill: #a89d82;
    }

    .miloHairOverlapLine {
        stroke: #525252;
    }

    .miloShirt {
        fill: #648761;
    }

    .miloShirtOverlapLine {
        stroke: #937960;
    }

    .opusFeather {
        fill: #1e1c17;
    }

    .opusCollar {
        fill: #f4f2ed;
    }

    .opusBowtie {
        fill: #f7563c;
    }

    .opusBowtieBorderLine {
        stroke: #c1272d;
    }

    .skinOverlapLine {
        stroke: #998675;
    }

    .meadow {
        fill: #62a372;
    }
}

.dogsSketch {
    .launchFront {
        fill: #949494;
    }

    .launchSide {
        fill: #8c8c8c;
    }

    .booster {
        fill: #7d7d7d;
    }

    .checkerWhite {
        fill: #d9d9d9;
    }

    .checkerRed {
        fill: #a1a1a1;
    }

    .fin {
        fill: #999;
    }

    .hindLeg {
        fill: #a6a6a6;
    }

    .body {
        fill: #ababab;
    }

    .tongue {
        fill: #858585;
    }

    .bone {
        fill: #d9d9d9;
    }

    .rocket {
        fill: #7d7d7d;
    }

    .head {
        fill: #b0b0b0;
    }

    .nose {
        fill: #5c5c5c;
    }

    .eye {
        fill: #737373;
    }
}

.earth {
    .ocean {
        fill: #46a0bd;
    }

    .land {
        fill: #8a7f6e;
    }

    .cloud {
        fill: #d6d6d6;
    }
}