.BedroomFence {
    .fenceTop {
        fill: #cc6;
    }

    .fenceFront {
        fill: #c96;
    }

    .fenceOverlapLine {
        stroke: #754c24;
    }

    .bushLeft {
        fill: #396;
    }

    .bushRight {
        fill: #393;
    }
}
