.bedroomFence {
    .fenceTop {
        fill: #cc6;
    }

    .fenceFront {
        fill: #c96;
    }

    .fenceBorderLine {
        stroke: #754c24;
    }

    .bushLeft {
        fill: #396;
    }

    .bushRight {
        fill: #393;
    }
}

.tintinPoster {
    .frame {
        fill: #ccc897;
    }

    .fur {
        fill: #cfe8e3;
    }

    .furOverlapLine {
        stroke: #547573;
    }

    .nose {
        fill: #514a42;
    }

    .mouth {
        fill: #423a32;
    }

    .sock {
        fill: #d6ccc1;
    }

    .shoe {
        fill: #5e4f3f;
    }

    .coatInner {
        fill: #49423a;
    }

    .pants {
        fill: #684e5f;
    }

    .pantsCreaseLine {
        stroke: #453e4c;
    }

    .pantsDisplayLine {
        stroke: #453e4c;
    }

    .pantsFoldLine {
        stroke: #453e4c;
    }

    .shoeFoldLine {
        stroke: #473424;
    }

    .soleBottom {
        fill: #302b25;
    }

    .soleFront {
        fill: #302b25;
    }

    .soleSide {
        fill: #443e38;
    }

    .skin {
        fill: #d3b9b2;
    }

    .hair {
        fill: #b7b18a;
    }

    .shirt {
        fill: #8bbcbc;
    }

    .shirtFoldLine {
        stroke: #4682a3;
    }

    .shirtOverlapLine {
        stroke: #4682a3;
    }

    .collar {
        fill: #ede7e2;
    }

    .coat {
        fill: #847667;
    }

    .coatFoldLine {
        stroke: #4e4e4e;
    }

    .lapel {
        fill: #7f7366;
    }

    .skinOverlapLine {
        stroke: #736357;
    }

    .sleeve {
        fill: #7eaaa8;
    }
}
