// .bronzeDarkest { fill: hsl(47, 37%, 37%); }
.bronzeDarker { fill: hsl(47, 37%, 42%); }
.bronzeDark { fill: hsl(47, 37%, 47%); }
.bronzeMediumDark { fill: hsl(47, 37%, 52%); }
.bronzeMedium { fill: hsl(47, 37%, 57%); }
// .bronzeMediumLight { fill: hsl(47, 37%, 62%); }
// .bronzeLight { fill: hsl(47, 37%, 67%); }

.darkenDefault .darken#{$suffix} {
    .bronzeDarker { fill: hsl(47, 19%, 26%); }
    .bronzeDark { fill: hsl(47, 19%, 29%); }
    .bronzeMediumDark { fill: hsl(47, 19%, 31%); }
}