.liz#{$suffix} {
    .lizShoe { fill: hsl(38, 15%, 38%); }
    .lizPanties { fill: hsl(152, 32%, 66%); }
    .lizPants { fill: hsl(243, 22%, 36%); }
    .lizJacket { fill: hsl(155, 27%, 51%); }
    .lizLapel { fill: hsl(155, 30%, 57%); }
    .lizShirt { fill: hsl(158, 41%, 81%); }
}