.apartmentPlant {
    .pot { fill: hsl(333, 20%, 46%); }
    .brim { fill: hsl(333, 20%, 42%); }
}

.ashCan {
    .canSide { fill: hsl(60, 6%, 59%); }
    .sand { fill: hsl(60, 20%, 79%); }
    .canTop { fill: hsl(60, 8%, 64%); }
}

.campfire {
    .flameOuter { fill: hsla(0, 95%, 68%, 0.9); }
    .flameMiddle { fill: hsla(24, 95%, 68%, 0.9); }
    .flameInner { fill: hsla(56, 95%, 68%, 0.9); }
    .wood { fill: hsl(40, 42%, 52%); }
}

.cavemanBones {
    .placardBottom { fill: hsl(60, 20%, 45%); }
    .placardSide { fill: hsl(54, 14%, 56%); }
    .placardFront { fill: hsl(253, 20%, 64%); }
    .appendageRear { fill: hsl(57, 11%, 63%); }
    .centreInner { fill: hsl(57, 11%, 65%); }
    .spine { fill: hsl(57, 12%, 67%); }
    .centreOuter { fill: hsl(57, 14%, 70%); }
    .appendageFront { fill: hsl(57, 15%, 71%); }
}

.dispenserLeft {
    .dispenserLight { fill: hsl(9, 67%, 70%); }
    .dispenserDark { fill: hsl(9, 52%, 65%); }
    .panel { fill: hsl(9, 29%, 72%); }
}

.dispenserRight {
    .dispenserDark { fill: hsl(150, 28%, 52%); }
    .panel { fill: hsl(150, 14%, 41%); }
    .dispenserLight { fill: hsl(150, 36%, 58%); }
    .dispenserDoor { fill: hsl(152, 27%, 71%); }
    .suit { fill: hsl(225, 28%, 52%); }
    .shirt { fill: hsl(44, 49%, 63%); }
}

.dumpster {
    .warningLabel { fill: hsl(56, 40%, 50%); }
    .warningField { fill: hsl(0, 40%, 50%); }
}

.fireHydrant {
    .valveInner { fill: hsl(0, 45%, 52%); }
    .valveInnerLight { fill: hsl(0, 45%, 53%); }
    .valveOuter { fill: hsl(0, 45%, 54%); }
    .valveOuterLight { fill: hsl(0, 45%, 55%); }
    .ridge { fill: hsl(0, 45%, 53%); }
    .hydrant { fill: hsl(0, 45%, 55%); }
}

.ivDrip {
    .boxLight { fill: hsl(270, 57%, 77%); }
    .boxMedium { fill: hsl(268, 37%, 68%); }
    .boxDark { fill: hsl(270, 25%, 60%); }
    .console { fill: hsl(150, 37%, 68%); }
    .button { fill: hsl(60, 47%, 77%); }
    .bar { fill: hsl(180, 20%, 61%); }
    .bagCap { fill: hsl(0, 0%, 100%); }
    .bagFull { fill: hsl(180, 60%, 75%); }
    .bagEmpty { fill: hsl(180, 51%, 90%); }
}

.lockerBank {
    .frame { fill: hsl(64, 13%, 52%); }
    .door { fill: hsl(193, 39%, 64%); }
    .label { fill: hsl(45, 18%, 60%); }
    .lips { fill: hsl(344, 34%, 45%); }
    .teeth { fill: hsl(0, 0%, 100%); }
    .kiss { fill: hsl(280, 38%, 56%); }
}

.mirroredSink {
    .mirror { fill: hsl(180, 100%, 80%); }
    .reflection { fill: hsl(180, 100%, 90%); }
    .debbieShirt { fill: hsl(204, 100%, 37%); }
    .debbieHat { fill: hsl(270, 50%, 60%); }
    .photoBackground { fill: hsl(0, 0%, 40%); }
    .nkotbShirtDark { fill: hsl(210, 50%, 40%); }
    .nkotbShirtLight { fill: hsl(176, 100%, 33%); }
    .nkotbShirtAverage { fill: hsl(153, 68%, 42%); }
}

.museumDisplay {
    .displayBack { fill: hsl(60, 100%, 90%); }
    .case { fill: hsl(13, 16%, 33%); }
    .displayInnerDark { fill: hsl(13, 16%, 43%); }
    .displayInnerLight { fill: hsl(13, 16%, 48%); }
    .land { fill: hsl(30, 50%, 60%); }
    .routes { fill: hsl(0, 50%, 60%); }
    .oar { fill: hsl(30, 50%, 40%); }
    .axeHandle { fill: hsl(30, 50%, 40%); }
    .axeBlade { fill: hsl(0, 0%, 60%); }
    .axeTwine { fill: hsl(0, 100%, 90%); }
    .pot { fill: hsl(60, 20%, 50%); }
    .vaseLeg { fill: hsl(180, 33%, 30%); }
    .vase { fill: hsl(180, 20%, 50%); }
    .vaseBand { fill: hsl(120, 33%, 70%); }
    .pitcher { fill: hsl(240, 33%, 70%); }
    .pitcherBand { fill: hsl(300, 33%, 70%); }
}

.pharmacyAisle {
    .rackFront { fill: hsl(60, 12%, 60%); }
    .rackBack { fill: hsl(60, 8%, 51%); }
    .plasticCap { fill: hsl(0, 0%, 85%); }
    .metalCap { fill: hsl(176, 14%, 61%); }
    .boxCap { fill: hsl(0, 0%, 76%); }
    .boxTopFirst { fill: hsl(330, 47%, 62%); }
    .labelTopFirst { fill: hsl(207, 5%, 67%); }
    .bottleTopSecond { fill: hsl(30, 50%, 60%); }
    .boxTopThird { fill: hsl(60, 50%, 60%); }
    .labelTopThird { fill: hsl(27, 49%, 61%); }
    .boxTopFourth { fill: hsl(222, 50%, 60%); }
    .boxTopFifth { fill: hsl(180, 50%, 60%); }
    .boxTopMiddleFirst { fill: hsl(270, 50%, 60%); }
    .boxTopMiddleSecond { fill: hsl(0, 51%, 59%); }
    .bottleTopMiddleThird { fill: hsl(30, 34%, 49%); }
    .boxTopMiddleThird { fill: hsl(187, 32%, 47%); }
    .labelTopMiddleThird { fill: hsl(60, 19%, 75%); }
    .boxTopMiddleFourth { fill: hsl(227, 7%, 76%); }
    .labelTopMiddleFourth { fill: hsl(228, 26%, 51%); }
    .boxMiddleFirst { fill: hsl(210, 43%, 58%); }
    .boxMiddleSecond { fill: hsl(225, 14%, 77%); }
    .labelMiddleSecond { fill: hsl(224, 52%, 58%); }
    .boxMiddleThird { fill: hsl(36, 47%, 58%); }
    .bottleMiddleThird { fill: hsl(31, 13%, 54%); }
    .labelBottomMiddleFirst { fill: hsl(36, 52%, 58%); }
    .boxMiddleFourth { fill: hsl(358, 32%, 51%); }
    .labelMiddleFourth { fill: hsl(188, 60%, 71%); }
    .boxMiddleFifth { fill: hsl(60, 50%, 60%); }
    .boxBottomMiddleFirst { fill: hsl(88, 21%, 68%); }
    .boxBottomMiddleSecond { fill: hsl(142, 50%, 60%); }
    .boxBottomMiddleThird { fill: hsl(179, 54%, 57%); }
    .boxBottomMiddleFourth { fill: hsl(211, 58%, 71%); }
    .labelBottomMiddleFourth { fill: hsl(270, 49%, 60%); }
    .boxBottomFirst { fill: hsl(359, 42%, 55%); }
    .boxBottomSecond { fill: hsl(60, 34%, 70%); }
    .labelBottomSecond { fill: hsl(252, 26%, 56%); }
    .boxBottomThird { fill: hsl(207, 39%, 60%); }
    .labelBottomThird { fill: hsl(205, 9%, 73%); }
    .boxBottomFourth { fill: hsl(233, 49%, 60%); }
    .labelWhite { fill: hsl(0, 0%, 86%); }
    .shelf { fill: hsl(60, 18%, 69%); }
}

.recyclingBin {
    .logo { fill: hsl(0, 0%, 73%); }
}

.sandbags {
    .ropeDark { fill: hsl(36, 33%, 57%); }
    .post { fill: hsl(30, 26%, 47%); }
    .ropeLight { fill: hsl(36, 48%, 65%); }
    .spindle { fill: hsl(60, 21%, 68%); }
    .sandbag { fill: hsl(60, 32%, 71%); }
    .sandbagInner { fill: hsl(60, 20%, 50%); }
    .string { fill: hsl(60, 51%, 88%); }
}

.shoppingCart {
    .wheelRear {fill: hsl(221, 14%, 26%); }
    .hubRear {fill: hsl(221, 14%, 44%); }
    .swivelRear {fill: hsl(221, 23%, 61%); }
    .mountRear {fill: hsl(111, 10%, 51%); }
    .barRear {fill: hsl(229, 7%, 54%); }
    .wheelFront {fill: hsl(221, 14%, 31%); }
    .hubFront {fill: hsl(220, 14%, 50%); }
    .swivelFront {fill: hsl(221, 26%, 65%); }
    .cart {fill: hsl(227, 8%, 58%); }
    .mountFront {fill: hsl(111, 13%, 56%); }
    .barFront {fill: hsl(225, 11%, 64%); }
}

.signpost {
    .signBottom { fill: hsl(72, 3%, 69%); }
    .signFront { fill: hsl(70, 8%, 86%); }
}

.stageLights {
    .hangerDarker { fill: hsl(0, 0%, 49%); }
    .shutterMiddle { fill: hsl(233, 8%, 21%); }
    .shutterLighter { fill: hsl(235, 8%, 27%); }
    .shutterDarker { fill: hsl(231, 8%, 17%); }
    .housing { fill: hsl(231, 8%, 30%); }
    .cableDarker { fill: hsl(227, 29%, 36%); }
    .cable { fill: hsl(228, 28%, 42%); }
    .hanger { fill: hsl(0, 0%, 60%); }
    .hangerScrew { fill: hsl(0, 0%, 45%); }
}

.steamPipes {
    .flange { fill: hsl(0, 20%, 50%); }
    .flangeSide { fill: hsl(0, 33%, 30%); }
    .pipeLarge { fill: hsl(60, 33%, 30%); }
    .pipeSmall { fill: hsl(60, 20%, 50%); }
    .mount { fill: hsl(0, 0%, 40%); }
    .spokes { fill: hsl(30, 40%, 50%); }
    .wheel { fill: hsl(0, 30%, 45%); }
    .cap { fill: hsl(60, 100%, 40%); }
}

.trashCan {
    .boxLeft { fill: hsl(0, 36%, 51%); }
    .boxRear { fill: hsl(126, 36%, 58%); }
    .boxFront { fill: hsl(278, 37%, 60%); }
    .boxRightMedium { fill: hsl(215, 37%, 56%); }
    .boxRightDark { fill: hsl(216, 38%, 48%); }
    .boxRightLight { fill: hsl(215, 37%, 59%); }
}

.waitingRoomPlant {
    .vase { fill: hsl(59, 31%, 46%); }
}

.yellowTapedGrill {
    .tapeDark { fill: hsl(60, 32%, 45%); }
    .tapeLight { fill: hsl(60, 34%, 50%); }
    .grillInnerLight { fill: hsl(70, 10%, 46%); }
    .grillInnerDark { fill: hsl(71, 10%, 42%); }
    .grillLight { fill: hsl(174, 12%, 55%); }
    .grillMedium { fill: hsl(173, 10%, 48%); }
    .grillDark { fill: hsl(174, 10%, 42%); }
    .coal { fill: hsl(60, 5%, 35%); }
    .rack { fill: hsl(60, 7%, 57%); }
    .handle { fill: hsl(203, 7%, 57%); }
}
