.campfire {
    .flameOuter { fill: hsla(0, 95%, 68%, 0.9); }
    .flameMiddle { fill: hsla(24, 95%, 68%, 0.9); }
    .flameInner { fill: hsla(56, 95%, 68%, 0.9); }
    .wood { fill: hsl(40, 42%, 52%); }
}
