.oceanRockDarkest { fill: hsl(204, 23%, 37%); }
.oceanRockDarker { fill: hsl(207, 23%, 42%); }
.oceanRockDark { fill: hsl(210, 23%, 47%); }
.oceanRockMediumDark { fill: hsl(213, 23%, 52%); }
.oceanRockMedium { fill: hsl(216, 23%, 57%); }
.oceanRockMediumLight { fill: hsl(219, 23%, 62%); }
// .oceanRockLight { fill: hsl(225, 23%, 67%); }
// .oceanRockLighter { fill: hsl(225, 23%, 72%); }
// .oceanRockLightest { fill: hsl(225, 23%, 77%); }

.nightTime .nightTime#{$suffix} {
    .oceanRockDarkest { fill: hsl(204, 13%, 27%); }
    .oceanRockDarker { fill: hsl(207, 13%, 32%); }
    .oceanRockDark { fill: hsl(210, 13%, 37%); }
    .oceanRockMediumDark { fill: hsl(213, 13%, 42%); }
    .oceanRockMedium { fill: hsl(216, 13%, 47%); }
    .oceanRockMediumLight { fill: hsl(219, 13%, 52%); }
} 