.bennettBed {
    .postSide {
        fill: #493b2e;
    }

    .frame {
        fill: #87705b;
    }

    .postFront {
        fill: #665340;
    }
}

.bennettPillow {
    .pillow {
        fill: #9dc296;
    }
}