.ButtonIcon__about {
    .hoof { fill: #48516b; }
    .letter { fill: #997d61; }
    .head { fill: #b39272; }
    .snout { fill: #8c735a; }
    .ear { fill: #9c7f63; }
    .eyeDark { fill: #333; }
    .eyeLight { fill: #f2f2f2; }
}