.CemeteryHillsLeft {
    .foliage {
        fill: #063;
    }

    .trunk {
        fill: #633;
    }

    .leaves {
        fill: #033;
    }

    .palmFronds {
        fill: #663;
    }

    .palmTrunk {
        fill: #963;
    }

    .graveRight {
        fill: #333;
    }

    .meadow {
        fill: #360;
    }

    .graveLeft {
        fill: #666;
    }

    .graveEdgeLine {
        stroke: #333;
    }
}

.CemeteryHillsRight {
    .foliage {
        fill: #063;
    }

    .graveLeft {
        fill: #999;
    }

    .graveRight {
        fill: #666;
    }

    .palmFronds {
        fill: #693;
    }

    .palmTrunk {
        fill: #963;
    }

    .postLeft {
        fill: #9ff;
    }

    .postRight {
        fill: #6ff;
    }

    .postEdgeLine {
        stroke: #488;
    }

    .fence {
        fill: #399;
    }

    .meadow {
        fill: #363;
    }
}