.taiwanStairsBackdrop {
    .mountain {
        fill: #735c85;
    }

    .foliage {
        fill: #477846;
    }

    .wallSide {
        fill: #a19d7f;
    }

    .trimSide {
        fill: #64573e;
    }

    .roofSide {
        fill: #896853;
    }

    .palaceWallSide {
        fill: #613c3b;
    }

    .palaceRoofSide {
        fill: #625b37;
    }

    .palaceRoofTrimBelow {
        fill: #776e44;
    }

    .palaceWallFront {
        fill: #693938;
    }

    .beamFront {
        fill: #73664d;
    }

    .palaceRoofFront {
        fill: #6a623b;
    }

    .palaceRoofTrimAbove {
        fill: #857a4a;
    }

    .wallFront {
        fill: #b9b28d;
    }

    .trimFront {
        fill: #75664a;
    }

    .slit {
        fill: #454545;
    }

    .roofFront {
        fill: #9a6e56;
    }
}