.fireHydrant {
    .cap {
        fill: #cc3;
    }

    .capLine {
        stroke: #bb2;
    }

    .valveInner {
        fill: #639;
    }

    .valveOuter {
        fill: #30c;
    }

    .valveLine {
        stroke: #528;
    }

    .reservoir {
        fill: #c33;
    }

    .contour {
        fill: #c03;
    }
}
