.fireHydrant {
    .cap {
        fill: #cc3;
    }

    .capLine {
        stroke: #bb2;
    }

    .valveInner {
        fill: #639;
    }

    .valveOuter {
        fill: #30c;
    }

    .valveLine {
        stroke: #528;
    }

    .reservoir {
        fill: #c33;
    }

    .contour {
        fill: #c03;
    }
}

.nohoHousesBackdrop {
    .mountain {
        fill: #826684;
    }

    .palmTrunk {
        fill: #6d5533;
    }

    .palmFrond {
        fill: #668960;
    }

    .roof {
        fill: #9b5f5f;
    }

    .bush {
        fill: #537a53;
    }

    .trunk {
        fill: #6b5c4f;
    }

    .leavesBack {
        fill: #4e914e;
    }

    .leavesFront {
        fill: #549b54;
    }

    .fence {
        fill: #af947e;
    }
}

.nohoHouseLeft {
    .wall {
        fill: #b3b8e3;
    }

    .doorTrim {
        fill: #85785a;
    }

    .door {
        fill: #b9a87e;
    }

    .stepTop {
        fill: #a2c2bb;
    }

    .stepBottom {
        fill: #9ab8b2;
    }

    .plant {
        fill: #5bb96e;
    }

    .windowTrim {
        fill: #b9a569;
    }

    .window {
        fill: #88ccdb;
    }

    .windowDisplayLine {
        stroke: #448f91;
    }

    .roofSide {
        fill: #947850;
    }

    .roofTop {
        fill: #ab8d60;
    }

    .can {
        fill: #758b88;
    }

    .handle {
        fill: #748a86;
    }

    .lid {
        fill: #5c6e6b;
    }
}
