.bennettBed#{$suffix} {
    .postSide { fill: hsl(29, 23%, 23%); }
    .postFront { fill: hsl(30, 23%, 33%); }
    .frame { fill: hsl(29, 19%, 44%); }

    // From cubes hsla.
    .mattress { fill: hsl($HUE_BENNETT_LINENS, 35%, 60%); }
    .floor { fill:hsl($HUE_BENNETT_LINENS + 15, 15%, 69%); }
}
