@import '../../../scss/constants/icon';
@import '../../../scss/constants/lyric';
@import '../../../scss/constants/transition';
@import '../../../scss/constants/zIndex';

.CarouselSelect {
    right: 0;
    display: flex;
    padding: $MARGIN_THIN;

    // Remain visible as it fades out.
    z-index: $zIndex__lyricChild__topMost;

    opacity: 0;

    .DW__desktopWidth
    & {
        position: fixed;
        bottom:
            -$LENGTH_ICON_LARGE
            - $MARGIN_THIN * 2
            - $margin__scrollBar;

        margin-bottom: $margin__scrollBar;
    }

    .DW__userAgentDesktop.DW__desktopWidth
    & {
        transition:
            bottom $transitionDuration__default,
            opacity $transitionDuration__default;
    }


    .DW__miniOrTabletWidth
    & {
        position: absolute;
        top:
            -$LENGTH_ICON_LARGE_TABLET
            - $MARGIN_THIN * 2;
    }

    .DW__userAgentDesktop.DW__miniOrTabletWidth
    & {
        transition:
            top $transitionDuration__default,
            opacity $transitionDuration__default;
    }

    .PlW__song
    .ShW__annotationShown.ShW__carouselShown
    .TrW__canLyricCarouselEnter
    & {
        opacity: 1;
    }

    .DW__desktopWidth
    .PlW__song
    .ShW__annotationShown.ShW__carouselShown
    .TrW__canLyricCarouselEnter
    & {
        bottom: 0;
    }

    .DW__miniOrTabletWidth
    .PlW__song
    .ShW__annotationShown.ShW__carouselShown
    .TrW__canLyricCarouselEnter
    & {
        top: 0;
    }

    .Button:first-child {
        margin-right: $MARGIN_THIN;
    }
}
