.father#{$suffix} {
    .fatherGlassesDisplayLine { stroke: hsl(37, 30%, 45%); }
    .fatherCollar { fill: hsl(0, 28%, 73%); }
    .fatherShirt { fill: hsl(0, 28%, 77%); }
    .fatherTie { fill: hsl(221, 34%, 57%); }
    .fatherPants { fill: hsl(201, 16%, 59%); }
    .fatherPantsPocket { fill: hsl(201, 12%, 51%); }
    .fatherSock { fill: hsl(221, 20%, 68%); }
    .fatherShoe { fill: hsl(37, 25%, 45%); }
}