.MailingList {
    display: flex;

    & > :not(:last-child) {
        margin-right: $js__margin__thin * 2;
    }
}

.MailingList__input {
    font-size: 1em;
}

.MailingList__emailField {
    flex-grow: 1;
}
