.MailingList {
    display: flex;

    & > :not(:last-child) {
        margin-right: $js__margin__thin * 2;
    }
}

.MailingList__input {
    box-sizing: border-box;
    font-size: 1em;
    padding: 0;
}

.MailingList__emailField {
    flex-grow: 1;
    
    height: $length__iconSmall;
    padding-top: $js__margin__thin;
    padding-left: $js__margin__thin * 2;

    color: $colour__text__dark;

    border: 1px solid $bgColour__audioDisabled;
    border-radius: $borderRadius__narrow;

    .DW__higherProcessor
    & {
        transition: border-color $animationDuration__default;
    }

    &::placeholder {
        color: $colour__annotationWormhole__title;
    }

    &:hover,
    &:active,
    &:focus {
        border-color: $bgColour__audioPause;
    }
}

.MailingList__submitButton {
    height: $length__iconSmall + $js__margin__thin;

    border: 1px solid transparent;
    background-color: transparent;
    
    color: $bgColour__audioPause;
    
    &:not(:disabled) {
        cursor: pointer;
    }

    .DW__higherProcessor
    & {
        transition: color $animationDuration__default;
    }

    &:hover,
    &:active,
    &:focus {
        color: $bgColour__audioPlay;
    }

    &:disabled {
        color: $bgColour__audioDisabled;
    }
}