.MailingList {
    display: flex;

    & > :not(:last-child) {
        margin-right: $js__margin__thin * 2;
    }
}

.MailingList__input {
    font-size: 1em;

    -webkit-appearance: none;
    color: rgb(42, 42, 51);
    -webkit-font-smoothing: antialiased;
    font-family: "Open Sans", Tahoma, Geneva, sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0px;
    text-transform: none;
    box-sizing: border-box;
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(255, 255, 255);
    caret-color: rgb(0, 106, 255);
    padding-top: 8px;
    padding-bottom: 8px;
    height: 42px;
    line-height: 24px;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(209, 209, 213);
    border-image: initial;
    border-radius: 3px;

    &:hover,
    &:active,
    &:focus {
        border-color: rgb(0, 106, 255);
    }
}

.MailingList__emailField {
    flex-grow: 1;
}
