$padding__progress: 15px;
$backgroundColour__columnOdd: #ede;
$backgroundColour__columnEven: #eed;
$backgroundColour__field: rgba(255, 255, 255, 0.5);

.Progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #888;
    
    display: flex;
    justify-content: center;
}

.Progress__column {
    $width__column: 350px;
    width: $width__column;
    padding: 0 ($padding__progress * 0.5);
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    &:first-child {
        padding-left: $padding__progress;
    }

    &:last-child {
        padding-right: $padding__progress;
    }

    &:nth-child(odd) {
        background-color: $backgroundColour__columnOdd;
    }

    &:nth-child(even) {
        background-color: $backgroundColour__columnEven;
    }
}

.Progress__field {
    padding: $padding__progress;
    margin: $padding__progress 0;

    display: flex;
    flex-direction: column;

    background-color: $backgroundColour__field;
    box-shadow: 0 2px 2px 2px rgba(75, 75, 100, 0.4);
}
