.Actor__temporaryRect {
    fill: rgba(200, 200, 250, 0.75);
    vector-effect: non-scaling-stroke;
    stroke-width: 1px;
    stroke: #444;
}

.Actor {
    transition: opacity $animationDuration__default;
    opacity: 0;

    .Scene__shown
    & {
        opacity: 1;
    }
}
