@import "./YoungBennett/style";
@import "./PreteenBennett/style";
@import "./Bennett/style";
@import "./BennettFather/style";
@import "./BennettLiz/style";
@import "./BennettLizReflection/style";
@import "./BennettsChristopherLiz/style";
@import "./BennettStephanie/style";
@import "./OldBennett/style";
@import "./Anita/style";
@import "./AnitaBennett/style";
@import "./Esther/style";
@import "./EstherMother/style";
@import "./Willy/style";
@import "./Mother/style";
@import "./Father/style";
@import "./Christopher/style";
@import "./ChristopherBennett/style";
@import "./ChristopherBennettWilly/style";
@import "./Sasha/style";
@import "./SashaBennett/style";
@import "./Brad/style";
@import "./BradBennett/style";
@import "./BradSasha/style";
@import "./Andrew/style";
@import "./Catherine/style";
@import "./Mara/style";
@import "./Jacob/style";
@import "./JacobMara/style";
@import "./Ana/style";
@import "./AnaHowie/style";
@import "./Howie/style";
@import "./HowieWilly/style";
@import "./Tomer/style";
@import "./Liz/style";
@import "./Khari/style";
@import "./KhariLiz/style";
@import "./Miriam/style";
@import "./MiriamBennett/style";
@import "./MiriamStephanie/style";
@import "./MiriamTristan/style";
@import "./Tristan/style";
@import "./Nestor/style";
@import "./Amy/style";
@import "./AmyStephanie/style";
@import "./AmyNestorTomer/style";
@import "./Stephanie/style";
@import "./Wade/style";
@import "./BennettReflection/style";
@import "./LizReflection/style";
@import "./KhariLizReflection/style";

.Actor__temporaryRect {
    fill: rgba(200, 200, 250, 0.25);
    vector-effect: non-scaling-stroke;
    stroke-width: 1px;
    stroke: #444;
}
