.bennettApartment#{$suffix} {
    .frameExterior { fill: hsl($HUE_APARTMENT, 10%, 50%); }
    .doorExterior { fill: hsl($HUE_APARTMENT + 20, 10%, 55%); }

    .paneStill { fill: hsl($HUE_APARTMENT, 12%, 58%); }
    .paneSliding { fill: hsl($HUE_APARTMENT, 9%, 52%); }
    .blinds { fill: hsl($HUE_APARTMENT, 5%, 70%); }
    .rail { fill: hsl($HUE_APARTMENT, 17%, 62%); }

    .darkRoom &.darkRoom#{$suffix} {
        .doorExterior { fill: hsl($HUE_APARTMENT + 20, 5%, 33%); }
    }

    .eveningTime &.eveningTime#{$suffix} {
        .frameExterior { fill: hsl($HUE_APARTMENT, 7%, 45%); }
        .doorExterior { fill: hsl($HUE_APARTMENT + 20, 7%, 50%); }
    
        .paneStill { fill: hsl($HUE_APARTMENT, 9%, 53%); }
        .blinds { fill: hsl($HUE_APARTMENT, 7%, 65%); }
        .rail { fill: hsl($HUE_APARTMENT, 12%, 57%); }
    }

    .nightTime &.nightTime#{$suffix} {
        .frameExterior { fill: hsl($HUE_APARTMENT, 5%, 40%); }
        .doorExterior { fill: hsl($HUE_APARTMENT + 20, 5%, 45%); }

        .paneStill { fill: hsl($HUE_APARTMENT, 7%, 48%); }
        .blinds { fill: hsl($HUE_APARTMENT, 5%, 60%); }
        .rail { fill: hsl($HUE_APARTMENT, 12%, 52%); }
    }
}