.preteenFurniture#{$suffix} {
    .frameDarker { fill: hsl(33, 14%, 39%); }
    .frameMedium { fill: hsl(35, 19%, 47%); }
    .frameLight { fill: hsl(38, 22%, 52%); }
    .frameDark { fill: hsl(31, 14%, 44%); }
    .drawerDark { fill: hsl(42, 20%, 60%); }
    .drawerMedium { fill: hsl(43, 27%, 67%); }
    .drawerLight { fill: hsl(41, 40%, 75%); }
    .mount { fill: hsl(74, 11%, 61%); }
    .handle { fill: hsl(74, 23%, 78%); }
    .ball { fill: hsl(39, 6%, 49%); }

    .dark__indoor
    & {
        .frameDarker { fill: hsl(33, 14%, 5%); }
        .frameMedium { fill: hsl(35, 19%, 5%); }
        .frameLight { fill: hsl(38, 22%, 5%); }
        .frameDark { fill: hsl(31, 14%, 5%); }
        .drawerDark { fill: hsl(42, 71%, 5%); }
        .drawerMedium { fill: hsl(43, 27%, 5%); }
        .drawerLight { fill: hsl(41, 40%, 5%); }
        .mount { fill: hsl(74, 11%, 5%); }
        .handle { fill: hsl(74, 23%, 5%); }
        .ball { fill: hsl(39, 6%, 5%); }
    }
}
