// These values are used to determine the min-width of the menu.
@width__childScoresTips:
    @js__length__iconLarge * 2
    + @js__margin__thin * 2
    + @js__margin__thick;

@width__childScoresTips__tablet:
    @js__length__iconLarge__tablet * 2
    + @js__margin__thin * 2
    + @js__margin__thick;

@width__childScoresTips__mini:
    @js__length__iconLarge__mini * 2
    + @js__margin__thin * 2
    + @js__margin__thick;

.ScoresTips {
    display: flex;
    background-color: rgba(225, 250, 200, 0.5);

    padding: @js__margin__thin;
}

.ScoresTips__inMenu {
    justify-content: space-between;
    align-items: center;
}

.ScoresTips__inMain {
    flex-direction: column;
    align-items: flex-start;
}

.ScoresTips__inLeftShelf {
    padding: 0;
}

.ScoresTips__inMainRight {
    position: absolute;

    right:
        -@js__length__iconLarge__tablet
        - @js__margin__thin * 2;

    transition:
        right @animationDuration__default;

    .RM__mobileNotPhone
    & {
        bottom: @margin__scrollbar;
    }

    .RM__carouselNavShowable.RM__dotsHidden.RM__annotationHidden
    & {
        right: 0;
    }
}

.ScoresTipsButton {
    // Ensure that these buttons are above the carousel.
    z-index: @zIndex__centreFieldChild;

    transition:
        transform @animationDuration__default,
        opacity @animationDuration__default;

    .ScoresTips__inMenu
    &:not(:last-child) {
        margin-right: @js__margin__thick;
    }

    .ScoresTips__inMain
    &:not(:last-child) {
        margin-bottom: @js__margin__thick;
    }

    .RM__logue
    &,
    .RM__song.RM__overviewShown.RM__scoresTipsMain
    & {
        transform: scale(0);
        opacity: 0;
    }
}