.ScoresTips {
    display: flex;
    padding: $js__margin__thin;
    flex-direction: column;
    align-items: flex-start;

    z-index: $zIndex__centreFieldChild;
}

.ScoresTips__inLeftShelf {
    padding: 0;

    transition: margin $animationDuration__default;

    .ShW__overviewShown
    & {
        margin-left: -$width__overviewToggle;
    }
}

.ScoresTips__inMainRight {
    position: absolute;

    right:
        -$js__length__iconLarge__tablet
        - $js__margin__thin * 2;

    transition:
        right $animationDuration__default;

    .DW__miniOrTabletWidth
    & {
        bottom: $margin__scrollbar;
    }

    .RW__carouselNavShowable
    .ShW__annotationHidden.ShW__dotsHidden
    .TrW__canLyricCarouselEnter
    & {
        right: 0;
    }
}

.Button {
    .ScoresTips
    &:not(:last-child) {
        margin-bottom: $js__margin__thick;
    }
}
