.ScoresTips {
    position: absolute;
    padding-right: $js__margin__thin;

    right:
        -$js__length__iconLarge__tablet
        - $js__margin__thin * 2;

    transition:
        right $animationDuration__default;

    .RW__carouselNavShowable
    .ShW__annotationHidden.ShW__dotsHidden
    .TrW__canLyricCarouselEnter
    & {
        right: 0;
    }
}
