.taiwanRickshaw#{$suffix} {
    .frameDarkest { fill: hsl(94, 21%, 33%); }
    .frameDark { fill: hsl(94, 22%, 35%); }
    .frameMedium { fill: hsl(93, 22%, 39%); }
    .frameLight { fill: hsl(94, 21%, 42%); }
    .rickshawDark { fill: hsl(140, 21%, 42%); }
    .rickshawMedium { fill: hsl(140, 22%, 45%); }
    .rickshawLight { fill: hsl(140, 22%, 50%); }

    .spokes { fill: hsla(173, 13%, 62%, 0.5); }
    .seatDark { fill: hsl(310, 11%, 42%); }
    .seatLight { fill: hsl(311, 11%, 47%); }
    .bikeSeat { fill: hsl(45, 11%, 41%); }
}