.bennettPast#{$suffix} {
    .bennettSleeves { fill: hsl($hue__past, 37%, 52%); }
    .bennettUnderwear { fill: hsl($hue__past, 39%, 61%); }
    .bennettWaistband { fill: hsl($hue__past, 47%, 72%); }
    .bennettJeans { fill: hsl($hue__past, 27%, 47%); }
    .bennettShoe { fill: hsl($hue__past, 20%, 41%); }
    .converseLogo { fill: hsl($hue__past, 37%, 60%); }
}