.bassCase__shared {
    .caseDark { fill: #807158; }
    .caseMedium { fill: #87785d; }
    .caseLight { fill: #948466; }
    .brassDark { fill: #a1986a; }
    .brassMedium { fill: #aba271; }
    .brassLight { fill: #bab07b; }
    .liningLight { fill: #d1d4b2; }
    .liningMedium { fill: #c2c4a5; }
    .liningDark { fill: #b1b396; }
    .caseStrap { fill: #665a46; }
    .handle { fill: #756d51; }
}