.saturn#{$suffix} {
    .body { fill: hsl(262, 26%, 49%); }
    .bumper { fill: hsl(0, 0%, 60%); }

    .bar { fill: hsl(268, 11%, 66%); }
    .cushion { fill: hsl(267, 19%, 50%); }
    .metalDark { fill: hsl(265, 13%, 28%); }
}
