.Tiles {
    position: relative;
}

.TilesCubeFace {
    stroke: #bbb;
}

.TilesCubeFace__tile {
    fill: rgba(0, 200, 0, 0.5);
}

.TilesCubeFace__front {
    fill: rgba(0, 0, 200, 0.5);
}

.TilesCubeFace__side {
    fill: rgba(200, 0, 0, 0.5);
}