// TODO: Either do or delete.

// Slider verse colour before cursor.
.CM__sliderVerseColour {

    background-color: $bgColour__beforeSlider;
}

// Slider verse colour on cursor.
.RM__sliderVerseColour0 .CM__verseColour0,
.RM__sliderVerseColour1 .CM__verseColour1,
.RM__sliderVerseColour2 .CM__verseColour2,
.RM__sliderVerseColour3 .CM__verseColour3,
.RM__sliderVerseColour4 .CM__verseColour4,
.RM__sliderVerseColour5 .CM__verseColour5,
.RM__sliderVerseColour6 .CM__verseColour6,
.RM__sliderVerseColour7 .CM__verseColour7,
.RM__sliderVerseColour8 .CM__verseColour8,
.RM__sliderVerseColour9 .CM__verseColour9,
.RM__sliderVerseColour10 .CM__verseColour10,
.RM__sliderVerseColour11 .CM__verseColour11,
.RM__sliderVerseColour12 .CM__verseColour12,
.RM__sliderVerseColour13 .CM__verseColour13,
.RM__sliderVerseColour14 .CM__verseColour14,
.RM__sliderVerseColour15 .CM__verseColour15,
.RM__sliderVerseColour16 .CM__verseColour16,
.RM__sliderVerseColour17 .CM__verseColour17,
.RM__sliderVerseColour18 .CM__verseColour18,
.RM__sliderVerseColour19 .CM__verseColour19,
.RM__sliderVerseColour20 .CM__verseColour20,
.RM__sliderVerseColour21 .CM__verseColour21,
.RM__sliderVerseColour22 .CM__verseColour22,
.RM__sliderVerseColour23 .CM__verseColour23,
.RM__sliderVerseColour24 .CM__verseColour24,
.RM__sliderVerseColour25 .CM__verseColour25,
.RM__sliderVerseColour26 .CM__verseColour26,
.RM__sliderVerseColour27 .CM__verseColour27,
.RM__sliderVerseColour28 .CM__verseColour28,
.RM__sliderVerseColour29 .CM__verseColour29,
.RM__sliderVerseColour30 .CM__verseColour30,
.RM__sliderVerseColour31 .CM__verseColour31,
.RM__sliderVerseColour32 .CM__verseColour32,
.RM__sliderVerseColour33 .CM__verseColour33,
.RM__sliderVerseColour34 .CM__verseColour34,
.RM__sliderVerseColour35 .CM__verseColour35,
.RM__sliderVerseColour36 .CM__verseColour36,
.RM__sliderVerseColour37 .CM__verseColour37,
.RM__sliderVerseColour38 .CM__verseColour38,
.RM__sliderVerseColour39 .CM__verseColour39,
.RM__sliderVerseColour40 .CM__verseColour40,
.RM__sliderVerseColour41 .CM__verseColour41,
.RM__sliderVerseColour42 .CM__verseColour42,
.RM__sliderVerseColour43 .CM__verseColour43,
.RM__sliderVerseColour44 .CM__verseColour44,
.RM__sliderVerseColour45 .CM__verseColour45,
.RM__sliderVerseColour46 .CM__verseColour46,
.RM__sliderVerseColour47 .CM__verseColour47,
.RM__sliderVerseColour48 .CM__verseColour48,
.RM__sliderVerseColour49 .CM__verseColour49,
.RM__sliderVerseColour50 .CM__verseColour50,
.RM__sliderVerseColour51 .CM__verseColour51,
.RM__sliderVerseColour52 .CM__verseColour52,
.RM__sliderVerseColour53 .CM__verseColour53,
.RM__sliderVerseColour54 .CM__verseColour54,
.RM__sliderVerseColour55 .CM__verseColour55,
.RM__sliderVerseColour56 .CM__verseColour56,
.RM__sliderVerseColour57 .CM__verseColour57,
.RM__sliderVerseColour58 .CM__verseColour58,
.RM__sliderVerseColour59 .CM__verseColour59,
.RM__sliderVerseColour60 .CM__verseColour60,
.RM__sliderVerseColour61 .CM__verseColour61,
.RM__sliderVerseColour62 .CM__verseColour62 {

    background-color: $bgColour__audioNeutral;

    // Slider verse colour after cursor.
    ~ .CM__sliderVerseColour {

        background-color: $bgColour__afterSlider;
    }
}