// Default interactivated colour.
.VerseColour {
    .RM__verseCanHover
    .verseColour__hoverParent:hover
    &,

    .RM__sliderNotMoving.RM__verseActive
    &.VerseColour__interactivated {

        background-color: $bgColour__audioHighlight;
        @include mixin__textShadow($bgColour__audioHighlight);

        // Nesting here for simplicity.
        .VerseColour__evenFilter {
            display: none;
        }
    }
}

// Verse colour in cursored stanza, on cursored verse.
.RnV0 .CcV0, .RnV1 .CcV1, .RnV2 .CcV2, .RnV3 .CcV3, .RnV4 .CcV4, .RnV5 .CcV5, .RnV6 .CcV6, .RnV7 .CcV7, .RnV8 .CcV8, .RnV9 .CcV9, .RnV10 .CcV10, .RnV11 .CcV11, .RnV12 .CcV12, .RnV13 .CcV13, .RnV14 .CcV14, .RnV15 .CcV15, .RnV16 .CcV16, .RnV17 .CcV17, .RnV18 .CcV18, .RnV19 .CcV19, .RnV20 .CcV20, .RnV21 .CcV21, .RnV22 .CcV22, .RnV23 .CcV23, .RnV24 .CcV24, .RnV25 .CcV25, .RnV26 .CcV26, .RnV27 .CcV27, .RnV28 .CcV28, .RnV29 .CcV29, .RnV30 .CcV30, .RnV31 .CcV31, .RnV32 .CcV32, .RnV33 .CcV33, .RnV34 .CcV34, .RnV35 .CcV35, .RnV36 .CcV36, .RnV37 .CcV37, .RnV38 .CcV38, .RnV39 .CcV39, .RnV40 .CcV40, .RnV41 .CcV41, .RnV42 .CcV42, .RnV43 .CcV43, .RnV44 .CcV44, .RnV45 .CcV45, .RnV46 .CcV46, .RnV47 .CcV47, .RnV48 .CcV48, .RnV49 .CcV49, .RnV50 .CcV50, .RnV51 .CcV51, .RnV52 .CcV52, .RnV53 .CcV53, .RnV54 .CcV54, .RnV55 .CcV55, .RnV56 .CcV56, .RnV57 .CcV57, .RnV58 .CcV58, .RnV59 .CcV59, .RnV60 .CcV60, .RnV61 .CcV61, .RnV62 .CcV62 {

    .GcN {
        z-index: $zIndex__cursorVerse;

        // TODO: This is some ugly nesting...
        ~ .sibling__verseCursor
        .Anchor {
            // Allow anchor in cursor verse to still show.
            z-index: $zIndex__cursorVerse;
        }
    }

    .GcS {
        box-shadow: $boxShadow__cursorVerse;

        border-radius: $borderRadius $borderRadius 0 0;
        top: -2px;
        left: -0.5px;
        height: calc(100% + 2px);
        width: calc(100% + 1px);
    }
}

// Verse colour in cursored stanza, on cursored verse.
.RlV0 .CcV0, .RlV1 .CcV1, .RlV2 .CcV2, .RlV3 .CcV3, .RlV4 .CcV4, .RlV5 .CcV5, .RlV6 .CcV6, .RlV7 .CcV7, .RlV8 .CcV8, .RlV9 .CcV9, .RlV10 .CcV10, .RlV11 .CcV11, .RlV12 .CcV12, .RlV13 .CcV13, .RlV14 .CcV14, .RlV15 .CcV15, .RlV16 .CcV16, .RlV17 .CcV17, .RlV18 .CcV18, .RlV19 .CcV19, .RlV20 .CcV20, .RlV21 .CcV21, .RlV22 .CcV22, .RlV23 .CcV23, .RlV24 .CcV24, .RlV25 .CcV25, .RlV26 .CcV26, .RlV27 .CcV27, .RlV28 .CcV28, .RlV29 .CcV29, .RlV30 .CcV30, .RlV31 .CcV31, .RlV32 .CcV32, .RlV33 .CcV33, .RlV34 .CcV34, .RlV35 .CcV35, .RlV36 .CcV36, .RlV37 .CcV37, .RlV38 .CcV38, .RlV39 .CcV39, .RlV40 .CcV40, .RlV41 .CcV41, .RlV42 .CcV42, .RlV43 .CcV43, .RlV44 .CcV44, .RlV45 .CcV45, .RlV46 .CcV46, .RlV47 .CcV47, .RlV48 .CcV48, .RlV49 .CcV49, .RlV50 .CcV50, .RlV51 .CcV51, .RlV52 .CcV52, .RlV53 .CcV53, .RlV54 .CcV54, .RlV55 .CcV55, .RlV56 .CcV56, .RlV57 .CcV57, .RlV58 .CcV58, .RlV59 .CcV59, .RlV60 .CcV60, .RlV61 .CcV61, .RlV62 .CcV62 {

    .GcL {
        box-shadow: $boxShadow__cursorVerse;

        border-radius: $borderRadius;
        top: -$js__margin__thin;
        left: -$js__margin__thin;
        height: calc(100% + #{$js__margin__thin * 2});
        width: calc(100% + #{$js__margin__thin * 2});
    }

    .VerseColour__evenFilter {
        display: none;
    }
}
