.VerseCursor {
    background-color: rgba(200, 150, 250, 0.4);
    height: 0;
}

.VerseCursor__onCursor {

    .RM__isPlaying
    & {
        height: 100%;
    }

    .RM__isPaused
    &,
    .RM__sliderMoving
    & {
        transition: none !important;
    }
}
