// Default. Verse colour before cursored stanza and before cursored verse.
.RM__sliderNotMoving {
    .VerseColour {
        background-color: $bgColour__beforeSelected;
    }
}

// Verse colour in cursored stanza, on cursored verse.
.RM__noSliderVerse0 .CM__verse0,
.RM__noSliderVerse1 .CM__verse1,
.RM__noSliderVerse2 .CM__verse2,
.RM__noSliderVerse3 .CM__verse3,
.RM__noSliderVerse4 .CM__verse4,
.RM__noSliderVerse5 .CM__verse5,
.RM__noSliderVerse6 .CM__verse6,
.RM__noSliderVerse7 .CM__verse7,
.RM__noSliderVerse8 .CM__verse8,
.RM__noSliderVerse9 .CM__verse9,
.RM__noSliderVerse10 .CM__verse10,
.RM__noSliderVerse11 .CM__verse11,
.RM__noSliderVerse12 .CM__verse12,
.RM__noSliderVerse13 .CM__verse13,
.RM__noSliderVerse14 .CM__verse14,
.RM__noSliderVerse15 .CM__verse15,
.RM__noSliderVerse16 .CM__verse16,
.RM__noSliderVerse17 .CM__verse17,
.RM__noSliderVerse18 .CM__verse18,
.RM__noSliderVerse19 .CM__verse19,
.RM__noSliderVerse20 .CM__verse20,
.RM__noSliderVerse21 .CM__verse21,
.RM__noSliderVerse22 .CM__verse22,
.RM__noSliderVerse23 .CM__verse23,
.RM__noSliderVerse24 .CM__verse24,
.RM__noSliderVerse25 .CM__verse25,
.RM__noSliderVerse26 .CM__verse26,
.RM__noSliderVerse27 .CM__verse27,
.RM__noSliderVerse28 .CM__verse28,
.RM__noSliderVerse29 .CM__verse29,
.RM__noSliderVerse30 .CM__verse30,
.RM__noSliderVerse31 .CM__verse31,
.RM__noSliderVerse32 .CM__verse32,
.RM__noSliderVerse33 .CM__verse33,
.RM__noSliderVerse34 .CM__verse34,
.RM__noSliderVerse35 .CM__verse35,
.RM__noSliderVerse36 .CM__verse36,
.RM__noSliderVerse37 .CM__verse37,
.RM__noSliderVerse38 .CM__verse38,
.RM__noSliderVerse39 .CM__verse39,
.RM__noSliderVerse40 .CM__verse40,
.RM__noSliderVerse41 .CM__verse41,
.RM__noSliderVerse42 .CM__verse42,
.RM__noSliderVerse43 .CM__verse43,
.RM__noSliderVerse44 .CM__verse44,
.RM__noSliderVerse45 .CM__verse45,
.RM__noSliderVerse46 .CM__verse46,
.RM__noSliderVerse47 .CM__verse47,
.RM__noSliderVerse48 .CM__verse48,
.RM__noSliderVerse49 .CM__verse49,
.RM__noSliderVerse50 .CM__verse50,
.RM__noSliderVerse51 .CM__verse51,
.RM__noSliderVerse52 .CM__verse52,
.RM__noSliderVerse53 .CM__verse53,
.RM__noSliderVerse54 .CM__verse54,
.RM__noSliderVerse55 .CM__verse55,
.RM__noSliderVerse56 .CM__verse56,
.RM__noSliderVerse57 .CM__verse57,
.RM__noSliderVerse58 .CM__verse58,
.RM__noSliderVerse59 .CM__verse59,
.RM__noSliderVerse60 .CM__verse60,
.RM__noSliderVerse61 .CM__verse61,
.RM__noSliderVerse62 .CM__verse62 {

    .VerseColour {
        // Use !important to override hover highlight for non-cursored verse.
        background-color: $bgColour__audioPause !important;
    }

    // Verse colour in cursored stanza, after cursored verse.
    ~ .CM__verse {

        .VerseColour {
            background-color: $bgColour__afterSelected;
        }
    }
}

// Verse colour after cursored stanza.
.RM__noSliderStanza0 .CM__stanza0,
.RM__noSliderStanza1 .CM__stanza1,
.RM__noSliderStanza2 .CM__stanza2,
.RM__noSliderStanza3 .CM__stanza3,
.RM__noSliderStanza4 .CM__stanza4,
.RM__noSliderStanza5 .CM__stanza5,
.RM__noSliderStanza6 .CM__stanza6,
.RM__noSliderStanza7 .CM__stanza7,
.RM__noSliderStanza8 .CM__stanza8,
.RM__noSliderStanza9 .CM__stanza9,
.RM__noSliderStanza10 .CM__stanza10,
.RM__noSliderStanza11 .CM__stanza11,
.RM__noSliderStanza12 .CM__stanza12,
.RM__noSliderStanza13 .CM__stanza13 {

    ~ .CM__stanza {

        .VerseColour {
            background-color: $bgColour__afterSelected;
        }
    }
}