.VerseCursor {
    background-color: rgba(200, 150, 250, 0.4);

    .RM__isPaused
    &,
    .RM__sliderMoving
    & {
        transition: none !important;
    }
}

.VerseCursor__horizontalTransition {
    left: -100%;

    .RM__isPlaying
    &.VerseCursor__onCursor {
        left: 0;
    }
}

.VerseCursor__verticalTransition {
    top: -100%;

    .RM__isPlaying
    &.VerseCursor__onCursor {
        top: 0;
    }
}
