.VerseColour {
    overflow: hidden;

    .RM__sliderNotMoving
    .parentIsShown
    & {
        transition:
        // color $animationDuration__fast,
        background-color $animationDuration__fast;
    }

    /**
     * Interactable verse has highlighted styling only when interactivated, or
     * when hovered, not selected, and with no other verse interactivated.
     */
    .RM__sliderNotMoving.RM__verseInactive
    .verseColour__hoverParent:hover
    &:not(.VerseColour__onCursor),

    .RM__sliderNotMoving.RM__verseActive
    &.VerseColour__interactivated {

        background-color: $bgColour__audioHighlight;
        @include mixin__textShadow($bgColour__audioHighlight);
    }

    /**
     * Default verse colours.
     */
    .RM__sliderNotMoving
    &.VerseColour__beforeCursor,
    .RM__sliderNotMoving.RM__verseBarBelow
    &.VerseColour__onCursor {
        background-color: $bgColour__beforeSelected;
        @include mixin__textShadow($bgColour__beforeSelected);

        // color: $colour__beforeSelected;
    }

    .RM__sliderMoving
    &.VerseColour__beforeCursor,
    .RM__sliderMoving.RM__verseBarBelow
    &.VerseColour__onCursor {
        background-color: $bgColour__beforeSlider;
        @include mixin__textShadow($bgColour__beforeSlider);

        // color: $colour__beforeSlider;
    }

    .RM__sliderNotMoving
    &.VerseColour__afterCursor,
    .RM__sliderNotMoving.RM__verseBarAbove
    &.VerseColour__onCursor {
        background-color: $bgColour__afterSelected;
        @include mixin__textShadow($bgColour__afterSelected);

        // color: $colour__afterSelected;
    }

    .RM__sliderMoving
    &.VerseColour__afterCursor,
    .RM__sliderMoving.RM__verseBarAbove
    &.VerseColour__onCursor {
        background-color: $bgColour__afterSlider;
        @include mixin__textShadow($bgColour__afterSlider);

        // color: $colour__afterSlider;
    }
}

.VerseColour__onCursor {
    .RM__verseInactive
    & {

        &.VerseColour__interactable {
            z-index: $zIndex__cursorVerse;
        }

        &.VerseColour__inSliderVerse {
            box-shadow: $boxShadow__cursorVerse;

            border-radius: $borderRadius $borderRadius 0 0;
            top: -2px;
            left: -0.5px;
            height: calc(100% + 2px);
            width: calc(100% + 1px);
        }
    }

    .RM__verseInactive.RM__verseBarHidden
    & {

        &.VerseColour__inLyricVerse {
            box-shadow: $boxShadow__cursorVerse;

            border-radius: $borderRadius;
            top: -$js__margin__thin;
            left: -$js__margin__thin;
            height: calc(100% + #{$js__margin__thin * 2});
            width: calc(100% + #{$js__margin__thin * 2});
        }
    }

    /**
     * Only apply these colours to verse in lyric when bar is hidden, and to
     * verse in bar when bar is shown.
     */
    .RM__sliderNotMoving.RM__isPlaying
    &.VerseColour__inSliderVerse,
    .RM__sliderNotMoving.RM__isPlaying.RM__verseBarHidden
    &.VerseColour__inLyricVerse,
    .RM__sliderNotMoving.RM__isPlaying.RM__verseBarShown
    &.VerseColour__inVerseBar {
        background-color: $bgColour__audioPlay;
        @include mixin__textShadow($bgColour__audioPlay);
    }

    .RM__sliderNotMoving.RM__isPaused
    &.VerseColour__inSliderVerse,
    .RM__sliderNotMoving.RM__isPaused.RM__verseBarHidden
    &.VerseColour__inLyricVerse,
    .RM__sliderNotMoving.RM__isPaused.RM__verseBarShown
    &.VerseColour__inVerseBar {
        background-color: $bgColour__audioPause;
        @include mixin__textShadow($bgColour__audioPause);
    }

    .RM__sliderMoving
    &.VerseColour__inSliderVerse,
    .RM__sliderMoving.RM__verseBarHidden
    &.VerseColour__inLyricVerse,
    .RM__sliderMoving.RM__verseBarShown
    &.VerseColour__inVerseBar {
        background-color: $bgColour__audioNeutral;
        @include mixin__textShadow($bgColour__audioNeutral);
    }
}

.VerseColour__evenFilter {
    background-color: rgba(0, 0, 0, 0.05);

    .RM__verseBarHidden
    .VerseColour__onCursor
    & {
        display: none;
    }
}

.VerseColour__interactivated {
    box-shadow: $boxShadow__activeVerse;
}

/**
 * Border radius is needed on both parent and child because of box shadow, I
 * think.
 */
.VerseBar__animatable,
.VerseColour__inVerseBar {
    border-radius: $borderRadius;
}