.VerseColour {
    .parentIsShown
    & {
        transition:
        color $animationDuration__fast,
        background-color $animationDuration__fast;
    }
}

.VerseColour__interactivated {
    box-shadow: $boxShadow__activeVerse;
}

/**
 * Border radius is needed on both parent and child because of box shadow, I
 * think.
 */
.VerseBar__animatable,
.VerseColour__inVerseBar {
    border-radius: $borderRadius;
}

.VerseColour__onCursor {
    .RM__verseInactive
    & {
        box-shadow: $boxShadow__cursorVerse;
    }
}

// TODO: This should only apply to lyric in verse.
.VerseColour__onCursor,
.VerseCursor__onCursor {
    .RM__verseInactive
    & {
        z-index: $zIndex__cursorVerse;
        transform: scale(1, 1.2);

        border-radius: $borderRadius;
    }
}

.VerseColour__odd {
    /**
     * Default odd verse colours.
     */

    .RM__sliderNotMoving
    &.VerseColour__beforeCursor,
    .RM__sliderNotMoving.RM__verseBarBelow
    &.VerseColour__onCursor {
        background-color: $bgColour__beforeSelected__odd;
        @include mixin__textShadow($bgColour__beforeSelected__odd);

        color: $colour__beforeSelected__odd;
    }

    .RM__sliderMoving
    &.VerseColour__beforeCursor,
    .RM__sliderMoving.RM__verseBarBelow
    &.VerseColour__onCursor {
        background-color: $bgColour__beforeSlider__odd;
        @include mixin__textShadow($bgColour__beforeSlider__odd);

        color: $colour__beforeSlider__odd;
    }

    .RM__sliderNotMoving
    &.VerseColour__afterCursor,
    .RM__sliderNotMoving.RM__verseBarAbove
    &.VerseColour__onCursor {
        background-color: $bgColour__afterSelected__odd;
        @include mixin__textShadow($bgColour__afterSelected__odd);

        color: $colour__afterSelected__odd;
    }

    .RM__sliderMoving
    &.VerseColour__afterCursor,
    .RM__sliderMoving.RM__verseBarAbove
    &.VerseColour__onCursor {
        background-color: $bgColour__afterSlider__odd;
        @include mixin__textShadow($bgColour__afterSlider__odd);

        color: $colour__afterSlider__odd;
    }
}

.VerseColour__even {
    /**
     * Default even verse colours.
     */

    .RM__sliderNotMoving
    &.VerseColour__beforeCursor,
    .RM__sliderNotMoving.RM__verseBarBelow
    &.VerseColour__onCursor {
        background-color: $bgColour__beforeSelected__even;
        @include mixin__textShadow($bgColour__beforeSelected__even);

        color: $colour__beforeSelected__even;
    }

    .RM__sliderMoving
    &.VerseColour__beforeCursor,
    .RM__sliderMoving.RM__verseBarBelow
    &.VerseColour__onCursor {
        background-color: $bgColour__beforeSlider__even;
        @include mixin__textShadow($bgColour__beforeSlider__even);

        color: $colour__beforeSlider__even;
    }

    .RM__sliderNotMoving
    &.VerseColour__afterCursor,
    .RM__sliderNotMoving.RM__verseBarAbove
    &.VerseColour__onCursor {
        background-color: $bgColour__afterSelected__even;
        @include mixin__textShadow($bgColour__afterSelected__even);

        color: $colour__afterSelected__even;
    }

    .RM__sliderMoving
    &.VerseColour__afterCursor,
    .RM__sliderMoving.RM__verseBarAbove
    &.VerseColour__onCursor {
        background-color: $bgColour__afterSlider__even;
        @include mixin__textShadow($bgColour__afterSlider__even);

        color: $colour__afterSlider__even;
    }
}

/**
 * Making this selector specific because these styles definitely need to
 * override any previous ones.
 */
.VerseColour.VerseColour__onCursor {
    /**
     * Only apply these colours to verse in lyric when bar is hidden, and to
     * verse in bar when bar is shown.
     */

    .RM__sliderNotMoving.RM__isPlaying
    &.VerseColour__inSliderVerse,
    .RM__sliderNotMoving.RM__isPlaying.RM__verseBarHidden
    &.VerseColour__inLyricVerse,
    .RM__sliderNotMoving.RM__isPlaying.RM__verseBarShown
    &.VerseColour__inVerseBar {
        background-color: $bgColour__audioPlay;
        @include mixin__textShadow($bgColour__audioPlay);
    }

    .RM__sliderNotMoving.RM__isPaused
    &.VerseColour__inSliderVerse,
    .RM__sliderNotMoving.RM__isPaused.RM__verseBarHidden
    &.VerseColour__inLyricVerse,
    .RM__sliderNotMoving.RM__isPaused.RM__verseBarShown
    &.VerseColour__inVerseBar {
        background-color: $bgColour__audioPause;
        @include mixin__textShadow($bgColour__audioPause);
    }

    .RM__sliderMoving
    &.VerseColour__inSliderVerse,
    .RM__sliderMoving.RM__verseBarHidden
    &.VerseColour__inLyricVerse,
    .RM__sliderMoving.RM__verseBarShown
    &.VerseColour__inVerseBar {
        background-color: $bgColour__audioNeutral;
        @include mixin__textShadow($bgColour__audioNeutral);
    }
}

.VerseColour__placeholder {

    .RM__sliderNotMoving
    & {
        // Default side verse.
        background-color: $bgColour__beforeSelected__odd;
        @include mixin__textShadow($bgColour__beforeSelected__odd);

        color: #644;
    }

    .RM__sliderMoving
    & {
        // Slider side verse.
        background-color: $bgColour__sideSlider;
        @include mixin__textShadow($bgColour__sideSlider);

        color: $colour__sideSlider;
    }
}

.VerseColour {
    /**
     * Interactable verse has highlighted styling only when interactivated, or
     * when hovered, not selected, and with no other verse interactivated.
     */
    .RM__sliderNotMoving.RM__verseInactive
    .verseColour__hoverParent:hover
    &:not(.VerseColour__onCursor),
    .RM__sliderNotMoving.RM__verseActive
    &.VerseColour__interactivated {

        background-color: $bgColour__audioHighlight;
        @include mixin__textShadow($bgColour__audioHighlight);
    }
}