@import "./VerseColour.less";
@import "./VerseCursor.less";

/**
 * These styles are shared by SliderVerse and Verse, both lyric and bar.
 */

.verse__odd {

    /**
     * Default odd verse colours.
     */

    .RM__sliderNotMoving
    &.verse__beforeCursor,
    .RM__sliderNotMoving.RM__verseBarBelow
    &.verse__onCursor {
        background-color: @bgColour__beforeSelected__odd;
        .mixin__textShadow(@bgColour__beforeSelected__odd);

        color: @colour__beforeSelected__odd;
    }

    .RM__sliderMoving
    &.verse__beforeCursor,
    .RM__sliderMoving.RM__verseBarBelow
    &.verse__onCursor {
        background-color: @bgColour__beforeSlider__odd;
        .mixin__textShadow(@bgColour__beforeSlider__odd);

        color: @colour__beforeSlider__odd;
    }

    .RM__sliderNotMoving
    &.verse__afterCursor,
    .RM__sliderNotMoving.RM__verseBarAbove
    &.verse__onCursor {
        background-color: @bgColour__afterSelected__odd;
        .mixin__textShadow(@bgColour__afterSelected__odd);

        color: @colour__afterSelected__odd;
    }

    .RM__sliderMoving
    &.verse__afterCursor,
    .RM__sliderMoving.RM__verseBarAbove
    &.verse__onCursor {
        background-color: @bgColour__afterSlider__odd;
        .mixin__textShadow(@bgColour__afterSlider__odd);

        color: @colour__afterSlider__odd;
    }
}

.verse__even {

    /**
     * Default even verse colours.
     */

    .RM__sliderNotMoving
    &.verse__beforeCursor,
    .RM__sliderNotMoving.RM__verseBarBelow
    &.verse__onCursor {
        background-color: @bgColour__beforeSelected__even;
        .mixin__textShadow(@bgColour__beforeSelected__even);

        color: @colour__beforeSelected__even;
    }

    .RM__sliderMoving
    &.verse__beforeCursor,
    .RM__sliderMoving.RM__verseBarBelow
    &.verse__onCursor {
        background-color: @bgColour__beforeSlider__even;
        .mixin__textShadow(@bgColour__beforeSlider__even);

        color: @colour__beforeSlider__even;
    }

    .RM__sliderNotMoving
    &.verse__afterCursor,
    .RM__sliderNotMoving.RM__verseBarAbove
    &.verse__onCursor {
        background-color: @bgColour__afterSelected__even;
        .mixin__textShadow(@bgColour__afterSelected__even);

        color: @colour__afterSelected__even;
    }

    .RM__sliderMoving
    &.verse__afterCursor,
    .RM__sliderMoving.RM__verseBarAbove
    &.verse__onCursor {
        background-color: @bgColour__afterSlider__even;
        .mixin__textShadow(@bgColour__afterSlider__even);

        color: @colour__afterSlider__even;
    }
}

.verse__onCursor {

    /**
     * Only apply these colours to verse in lyric when bar is hidden, and to
     * verse in bar when bar is shown.
     */

    .RM__sliderNotMoving.RM__isPlaying
    &.SliderVerse,
    .RM__sliderNotMoving.RM__isPlaying.RM__verseBarHidden
    &.Verse__inLyric,
    .RM__sliderNotMoving.RM__isPlaying.RM__verseBarShown
    &.Verse__inBar {
        background-color: @bgColour__audioPlay;
        .mixin__textShadow(@bgColour__audioPlay);
    }

    .RM__sliderNotMoving.RM__isPaused
    &.SliderVerse,
    .RM__sliderNotMoving.RM__isPaused.RM__verseBarHidden
    &.Verse__inLyric,
    .RM__sliderNotMoving.RM__isPaused.RM__verseBarShown
    &.Verse__inBar {
        background-color: @bgColour__audioPause;
        .mixin__textShadow(@bgColour__audioPause);
    }

    .RM__sliderMoving
    &.SliderVerse,
    .RM__sliderMoving.RM__verseBarHidden
    &.Verse__inLyric,
    .RM__sliderMoving.RM__verseBarShown
    &.Verse__inBar {
        background-color: @bgColour__audioNeutral;
        .mixin__textShadow(@bgColour__audioNeutral);
    }
}

.verse__interactable {

    /**
     * Interactable verse has highlighted styling only when interactivated, or
     * when hovered, not selected, and with no other verse interactivated.
     */
    .RM__sliderNotMoving.RM__verseInactive
    &:not(.verse__onCursor):hover,
    .RM__sliderNotMoving.RM__verseActive
    &.verse__interactivated {

        background-color: @bgColour__audioHighlight;
        .mixin__textShadow(@bgColour__audioHighlight);
    }
}