.magazine#{$suffix} {
    .paperRed { fill: #ad745f; }
    .paperBlue { fill: #5f75ad; }
    .paperPurple { fill: #9d5fad; }
    .paperGreen { fill: #5fad75; }
    .magazineStackDark { fill: #a3a2a0; }
    .magazineStackLight { fill: #b0afad; }
}   