.magazine#{$suffix} {
    .paperRed { fill: hsl(16, 32%, 53%); }
    .paperBlue { fill: hsl(223, 32%, 53%); }
    .paperPurple { fill: hsl(288, 32%, 53%); }
    .paperGreen { fill: hsl(137, 32%, 53%); }
    .magazineStackDark { fill: hsl(40, 2%, 63%); }
    .magazineStackLight { fill: hsl(40, 2%, 68%); }
}   