.taiwanHouse#{$suffix} {
    .palaceWallSide { fill: hsl(2, 28%, 28%); }
    .palaceWallFront { fill: hsl(1, 30%, 32%); }
    .palaceWallInner { fill: hsl(0, 30%, 25%); }
    .palaceTrimFront { fill: hsl(44, 34%, 39%); }
    .palaceTrimSide { fill: hsl(43, 34%, 42%); }
    .palaceRoofSide { fill: hsl(50, 28%, 30%); }
    .palaceRoofFront { fill: hsl(50, 28%, 32%); }
    .palaceRoofTrimBelow { fill: hsl(49, 27%, 37%); }
    .palaceRoofTrimAbove { fill: hsl(49, 29%, 41%); }

    .wallLowSide { fill: hsl(38, 18%, 49%); }
    .wallLowFront { fill: hsl(38, 19%, 57%); }
    .wallHighSide { fill: hsl(45, 18%, 43%); }
    .wallHighFront { fill: hsl(45, 19%, 51%); }

    .stepFront { fill: hsl(221, 20%, 47%); }
    .stepSide { fill: hsl(221, 20%, 42%); }
    .roofBelow { fill: hsl(21, 28%, 39%); }
    .roofSide { fill: hsl(22, 28%, 44%); }
    .roofFront { fill: hsl(21, 28%, 47%); }
    .roofTop { fill: hsl(21, 28%, 50%); }
    .beamSide { fill: hsl(39, 20%, 32%); }
    .beamFront { fill: hsl(39, 23%, 38%); }
    .awningBelow { fill: hsl(215, 25%, 37%); }
    .awningSide { fill: hsl(215, 25%, 41%); }
    .awningFront { fill: hsl(215, 25%, 45%); }
    .awningTop { fill: hsl(215, 25%, 50%); }

    .nightTime
    &.nightTime#{$suffix} {

    }
}