.waitingRoomPlant {
    .frondBack { fill: #396; }
    .frondMiddle { fill: #063; }
    .frondFront { fill: #033; }
    .vase { fill: #63c; }
}

.clipboard {
    .folder { fill: #cc9; }
    .rack { fill: #699; }
    .labelBottom { fill: #9cf; }
    .labelMiddle { fill: #9c9; }
    .labelTop { fill: #c99; }
}

.painting {
    .wall { fill: #99c; }
    .table { fill: #663; }
    .appleRed { fill: #933; }
    .pear { fill: #996; }
    .orange { fill: #c93; }
    .banana { fill: #cc6; }
    .bananaDisplayLine { stroke: #8c6239; }
    .bowlBase { fill: #399; }
    .bowl { fill: #6cc; }
    .grapes { fill: #669; }
    .peach { fill: #c96; }
    .olive { fill: #6c6; }
    .kiwi { fill: #966; }
    .appleGreen { fill: #693; }
    .frame { fill: #630; }
}

.waitingArmchair {
    .button { fill: #7a7756; }
}

.waitingArmrest {
    .foot { fill: #666; }
}

.waitingThoughtWalking {
    .sky { fill: #b6e6f0; }
    .grass { fill: #629c61; }
    .shore { fill: #f5ffbf; }
    .path { fill: #989e76; }
    .lake { fill: #4a78bd; }
    .foliage { fill: #558c54; }
    .bush { fill: #477546; }
    .leaves { fill: #548253; }
    .benchLeg { fill: #4d4538; }
    .benchRest { fill: #5c5344; }
    .benchSeat { fill: #574f40; }
}

.waitingThoughtSinging {
    .floor { fill: #4a6962; }
    .wall { fill: #7db0a5; }
    .lampPole { fill: #808079; }
    .lampShade { fill: #babaa7; }
    .lampBase { fill: #70706a; }
    .nightstand { fill: #706d4f; }
    .skirt { fill: #70577d; }
    .cushionFront { fill: #775c85; }
    .cushionTop { fill: #8c6c9c; }
    .armrest { fill: #7d618c; }
}

.waitingThoughtStudying {
    .floor { fill: #576850; }
    .wall { fill: #93ae88; }
    .chairLeg { fill: #6b624e; }
    .chairSeat { fill: #697862; }
    .pen { fill: #8c8c5f; }
    .bookBottom { fill: #536599; }
    .bookMiddle { fill: #969963; }
    .bookTop { fill: #7e5a99; }
    .cover { fill: #735361; }
    .pageFront { fill: #b2b399; }
    .pageSide { fill: #b2b399; }
    .pageTop { fill: #93947e; }
    .tableLeg { fill: #5e5645; }
    .tableTop { fill: #736954; }
}