$height__audioBanner__display:
    ($js__height__menu - $paddingY__audio * 2) / 2;

.AudioBanner {
    flex-grow: 10;

    min-width: $js__minWidth__audioBanner;
    line-height: 1em;

    border-radius: $borderRadius__narrow;

    overflow: hidden;
    box-sizing: border-box;

    box-shadow: $boxShadow__annotation;

    color: #ffe;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.1);

    background-color: #8b8;

    .RM__twoRowMenu
    & {
        min-width: 200px;
    }
}

.AudioBanner__belowMenu {
    top: $js__height__menu;
    width: calc(100% - #{$js__margin__thin * 2});
    height:
        $js__height__banner__twoRowMenu
        - $js__margin__thin;

    margin: 0 $js__margin__thin $js__margin__thin;

    transition:
        height $animationDuration__default;

    .DW__phone
    & {
        top: $js__height__menu__phone;
    }

    .RM__song.RM__overlayShown
    &,
    .RM__song.RM__lyricExpanded
    & {
        height: $js__height__banner__twoRowMenu__truncated;
    }
}

.AudioBannerDisplay {
    box-sizing: border-box;
    padding: 0 5px;

    height: $height__audioBanner__display;
    justify-content: space-between;

    .RM__twoRowMenu
    & {
        font-size: 0.85em;
    }

    .RM__song.RM__twoRowMenu.RM__overlayShown
    &,
    .RM__twoRowMenu.RM__lyricExpanded
    & {
        opacity: 0;
    }
}