.peacock {
    .body { fill: #3981c4; }
    .train { fill: #61a17f; }
    .trainTop { fill: #82c282; }
    .eyespotOuter { fill: #74c99f; }
    .eyespotInner { fill: #5499f0; }
    .neckBottom { fill: #3993c4; }
    .neckTop { fill: #399fc4; }
    .mouth { fill: #5c4f45; }
    .head { fill: #39afc4; }
}

.peahen {
    .body { fill: #9eb0a6; }
    .train { fill: #6d7370; }
    .wing { fill: #828784; }
    .neckBottom { fill: #94b0a0; }
    .neckTop { fill: #84b097; }
    .head { fill: #8db09c; }
}

.puppetKhariLiz {
    .khariShoe { fill: #7a5765; }
    .khariPajama { fill: #e6e8d4; }
    .khariKurta { fill: #bcbf92; }
    .khariTurban { fill: #663b4a; }
    .lizSari { fill: #77b874; }
    .lizSash { fill: #558894; }
    .lizVeil { fill: #55947a; }
}