.peacock {
    .body { fill: hsl(209, 55%, 50%); }
    .train { fill: hsl(148, 25%, 51%); }
    .trainTop { fill: hsl(120, 34%, 64%); }
    .eyespotOuter { fill: hsl(150, 44%, 62%); }
    .eyespotInner { fill: hsl(213, 84%, 64%); }
    .neckBottom { fill: hsl(201, 55%, 50%); }
    .neckTop { fill: hsl(196, 55%, 50%); }
    .mouth { fill: hsl(26, 14%, 32%); }
    .head { fill: hsl(189, 55%, 50%); }
}

.peahen {
    .body { fill: hsl(147, 10%, 65%); }
    .train { fill: hsl(150, 3%, 44%); }
    .wing { fill: hsl(144, 2%, 52%); }
    .neckBottom { fill: hsl(146, 15%, 64%); }
    .neckTop { fill: hsl(146, 22%, 60%); }
    .head { fill: hsl(146, 18%, 62%); }
}

.puppetKhariLiz {
    .khariShoe { fill: hsl(336, 17%, 41%); }
    .khariPajama { fill: hsl(66, 30%, 87%); }
    .khariKurta { fill: hsl(64, 26%, 66%); }
    .khariTurban { fill: hsl(339, 27%, 32%); }
    .lizSari { fill: hsl(117, 32%, 59%); }
    .lizSash { fill: hsl(191, 27%, 46%); }
    .lizVeil { fill: hsl(155, 27%, 46%); }
}