.Sky__filter {
    transition:
        background-color $animationDuration__slow;
}

.Sky__celestial {
    position: absolute;
    border-radius: 50%;
    opacity: 0;

    transition:
        opacity $animationDuration__slow,
        top $animationDuration__slow,
        left $animationDuration__slow;
}
