.atticArmrest {
    .cushion { fill: hsl(90, 15%, 42%); }
    .post { fill: hsl(42, 15%, 39%); }
    .foot { fill: hsl(42, 15%, 39%); }
}

.atticCouch {
    .cushion { fill: hsl(90, 15%, 41%); }
    .button { fill: hsl(297, 11%, 39%); }
}

.bathtub {
    .suds { fill: hsl(0, 0%, 100%); }
    .faucet { fill: hsl(0, 0%, 80%); }
    .aerator { fill: hsl(0, 0%, 60%); }
    .stem { fill: hsl(180, 33%, 70%); }
    .knob { fill: hsl(60, 100%, 90%); }
    .basin { fill: hsl(180, 100%, 70%); }
    .rim { fill: hsl(180, 100%, 80%); }
    .claw { fill: hsl(180, 20%, 50%); }
}

.bennettBed {
    .postSide { fill: hsl(29, 23%, 23%); }
    .frame { fill: hsl(29, 19%, 44%); }
    .postFront { fill: hsl(30, 23%, 33%); }
}

.conveyorBelt {
    .mount { fill: hsl(60, 9%, 49%); }
    .carDark { fill: hsl(151, 12%, 49%); }
    .carMedium { fill: hsl(151, 15%, 55%); }
    .carLight { fill: hsl(150, 21%, 62%); }
    .carInnerDark { fill: hsl(166, 12%, 49%); }
    .carInnerLight { fill: hsl(165, 21%, 62%); }
    .carInnerMedium { fill: hsl(166, 15%, 55%); }
    .cup { fill: hsl(186, 28%, 71%); }
    .trayRim { fill: hsl(252, 32%, 66%); }
    .trayBasinLight { fill: hsl(251, 36%, 56%); }
    .shelf { fill: hsl(149, 18%, 59%); }
    .track { fill: hsl(60, 11%, 57%); }
}

.dishroomSink {
    .leg { fill: hsl(0, 0%, 40%); }
    .foot { fill: hsl(0, 0%, 60%); }
    .tube { fill: hsl(0, 0%, 20%); }
    .disposalInner { fill: hsl(180, 33%, 30%); }
    .disposalOuter { fill: hsl(150, 50%, 40%); }
    .pipe { fill: hsl(180, 20%, 50%); }
    .basin { fill: hsl(180, 33%, 70%); }
    .rim { fill: hsl(180, 50%, 60%); }
    .panelOuter { fill: hsl(200, 60%, 50%); }
    .panelInner { fill: hsl(200, 100%, 70%); }
    .buttonStop { fill: hsl(0, 60%, 50%); }
    .buttonGo { fill: hsl(120, 60%, 50%); }
}

.goKartExterior {
    .cap { fill: hsl(60, 20%, 50%); }
    .cooler { fill: hsl(217, 18%, 31%); }
    .tank { fill: hsl(37, 25%, 73%); }
    .rod { fill: hsl(0, 0%, 60%); }
    .frame { fill: hsl(0, 0%, 40%); }
    .engine { fill: hsl(0, 38%, 38%); }
    .ring { fill: hsl(0, 16%, 26%); }
    .hubcap { fill: hsl(0, 0%, 80%); }
    .guard { fill: hsl(35, 20%, 83%); }
    .body { fill: hsl(0, 40%, 49%); }
}

.goKartSeat {
    .cushion { fill: hsl(88, 8%, 30%); }
}

.hospitalBed {
    .swivel { fill: hsl(240, 3%, 59%); }
    .wheelSide { fill: hsl(0, 0%, 22%); }
    .wheelFront { fill: hsl(240, 1%, 28%); }
    .headBoardEdge { fill: hsl(30, 24%, 34%); }
    .headBoardSurface { fill: hsl(28, 35%, 52%); }
    .platformBelowTop { fill: hsl(174, 12%, 50%); }
    .platformBelowSide { fill: hsl(183, 13%, 34%); }
    .platformBelowFront { fill: hsl(178, 16%, 60%); }
    .frameSide { fill: hsl(267, 16%, 48%); }
    .frameFront { fill: hsl(230, 12%, 58%); }
    .platformAboveSide { fill: hsl(186, 14%, 41%); }
    .platformAboveFront { fill: hsl(179, 26%, 69%); }
    .platformAboveTop { fill: hsl(174, 16%, 55%); }
    .mattressSide { fill: hsl(334, 11%, 45%); }
    .mattressFront { fill: hsl(335, 14%, 53%); }
    .footBoardEdge { fill: hsl(31, 26%, 40%); }
    .footBoardSurface { fill: hsl(30, 47%, 58%); }
}

.lizBed {
    .slat { fill: hsl(39, 12%, 52%); }
    .frameSide { fill: hsl(39, 13%, 26%); }
    .frameTop { fill: hsl(40, 17%, 35%); }
    .frameFront { fill: hsl(42, 18%, 30%); }
}

.lizCouch {
    .foot { fill: hsl(37, 17%, 37%); }
    .pillowSurface { fill: hsl(45, 8%, 39%); }
    .pillowEdge { fill: hsl(45, 10%, 34%); }
    .skirt { fill: hsl(45, 11%, 32%); }
    .weltDisplayLine { stroke: hsl(45, 10%, 23%); }
    .cushion { fill: hsl(45, 11%, 46%); }
}

.phoneCallPanel {
    .panel { fill: hsl(60, 100%, 90%); }
}

.saturnExterior {
    .body { fill: hsl(262, 26%, 49%); }
    .bumper { fill: hsl(0, 0%, 60%); }
}

.saturnSeat {
    .bar { fill: hsl(268, 11%, 66%); }
    .cushion { fill: hsl(267, 19%, 50%); }
}

.schoolbusSeat {
    .cushion { fill: hsl(113, 17%, 39%); }
}

.taiwanBridge {
    .suspenders { fill: hsla(0, 6%, 93%, 0.3); }
    .cable { fill: hsl(28, 46%, 69%); }
    .planks { fill: hsl(28, 24%, 39%); }
    .post { fill: hsl(49, 29%, 41%); }
}

.taiwanHaze {
    stroke: none;
    .hazeRear { fill: hsla(195, 83%, 88%, 0.5); }
    .hazeFront { fill: hsla(195, 83%, 88%, 0.5); }
}

.volkswagen {
    .handleRecess { fill: hsl(68, 25%, 64%); }
    .window { fill: hsl(160, 17%, 61%); }
    .windowTrim { fill: hsl(63, 24%, 29%); }
    .bodyDark { fill: hsl(72, 48%, 56%); }
    .body { fill: hsl(72, 52%, 64%); }
    .bodyLight { fill: hsl(72, 53%, 65%); }

}

.waitingArmchair {
    .button { fill: hsl(55, 17%, 41%); }
}

.waitingArmrest {
    .foot { fill: hsl(0, 0%, 40%); }
}

.wideCouch {
    .cushion { fill: hsl(125, 12%, 40%); }
}

.wideArmrest {
    .cushion { fill: hsl(125, 13%, 41%); }
}