@import "./TempGlobalAnnotations/style";

.LyricScroll {
    width: 100%;
    overflow-y: scroll;

    // Make scrolling smooth in iOS.
    -webkit-overflow-scrolling: touch;

    line-height: 150%;

    &:focus {
        outline: none;
    }

    .DW__higherProcessor.DW__desktopWidth
    & {
        padding-top: $js__height__menu;
    }
}
