@jiffy-multiplier: 0.8;

.audio-banner-time {
    @audio-banner-time-font-size: 0.95em;

    .base {
        font-size: @audio-banner-time-font-size;
    }

    .jiffy {
        font-size: @audio-banner-time-font-size * @jiffy-multiplier;
    }
}

.audio-timer-block {

    .audio-banner-time {
        @audio-timer-block-font-size: 1.6em;

        .base {
            font-size: @audio-timer-block-font-size;
        }

        .jiffy {
            font-size: @audio-timer-block-font-size * @jiffy-multiplier;
        }
    }
}
