/**
 * Don't bother to show if not in phone. Child component also will not be
 * rendered.
 */
.audio-banner-custom-subfield {
    display: none;
}
.phone-width {
    .audio-banner-custom-subfield {
        display: block;
    }
}

.audio-banner-block, .audio-timer-block {
    background-color: #8dd;
}

.audio-banner-block {
    height: 100%;
    position: relative;
    margin-right: @audio-block-padding;
    min-width: @audio-banner-min-width;
    line-height: 1em;

    background-color: #dbd;

    .audio-banner {
        flex-grow: 1;
    }
}

.audio-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.audio-display-block {
    box-sizing: border-box;
    padding: 0 5px;

    height: @audio-banner-height;
    justify-content: space-between;

    background-color: #8b8;
}

.title-in-audio {

    .audio-banner-block {
        min-width: 200px;
        margin-right: @title-in-audio-block-padding;
    }

    // Make text smaller when width is narrow.
    .audio-banner-title {
        font-size: 0.85em;
    }
}
