@audio-max-width: 640px; // Arbitrary

.audio-section, .audio-block, .audio-subblock, .audio-display-block {
    display: flex;
    align-items: center;
}

// Parent container of both audio sections.
.audio-subfield, .popup-wrapper.audio {

    min-width: @audio-banner-min-width + @audio-buttons-constant + @app-large-icon-diameter + @audio-block-padding * 3;
    max-width: @audio-max-width;

    box-sizing: border-box;

    .tablet-width
    & {
        min-width: @audio-banner-min-width + @audio-buttons-constant + @app-tablet-large-icon-diameter + @audio-block-padding * 3;
    }

    .mini-width
    & {
        min-width: @audio-banner-min-width + @audio-buttons-constant + @app-mini-large-icon-diameter + @audio-block-padding * 3;
    }

    .phone-width
    & {
        min-width: @audio-buttons-constant + @app-icon-diameter + @audio-block-padding * 3;
    }
}

.audio-subfield {
    transition: margin-bottom @animation-default;

    .overlay-shown
    & {
        // TODO: I don't understand this number, but it doesn't push it up all the way.
        margin-bottom: @nav-height * 2;
    }
}

.audio-section {

    flex-grow: 1;

    // Needed for audio banner in overlay.
    position: relative;
    padding: @audio-block-padding-y @audio-block-padding;

    background-color: #dbb;

    .title-in-audio
    & {
        padding: @audio-block-padding-y @title-in-audio-block-padding;
    }

    .phone-width
    & {
        justify-content: center;
    }

    .audio-subfield
    & {
        height: 100%;
    }
}

.audio-block {
    box-sizing: border-box;
    flex-grow: 1;
}