.banjo__shared {
    .banjoHeadstock { fill: #adad9c; }
    .banjoHead { fill: #cfcfc7; }
    .banjoSide { fill: #7d7d70; }
    .brassDark { fill: #899399; }
    .hoop { fill: #7b848a; }
    .tuningKey { fill: #c2cfcf; }
    .brassLight { fill: #9ea9b0; }
    .banjoNeck { fill: #babaa7; }
    .banjoFretboard { fill: #c7c6b3; }
    .bridgeFront { fill: #a6a695; }
    .bridgeSide { fill: #b5b5a3; }
    .bridgeNut { fill: #ccccb7; }
}