@import '../../scss/constants/icon';
@import '../../scss/constants/transition';
@import '../../scss/constants/zIndex';

.Slider {
    position: relative;
    height: $LENGTH_ICON_LARGE + $MARGIN_THIN;

    z-index: $zIndex__slider;

    opacity: 0;

    .DW__userAgentDesktop
    & {
        transition: opacity $transitionDuration__fast;
    }

    .PlW__song
    & {
        cursor: pointer;
    }
}

.ShW__overlayHidden
.Slider__visible {
    opacity: 1;
}
