.liz#{$suffix} {
    .lizUndershirt { fill: hsl(149, 26%, 59%); }
    .lizShirt { fill: hsl(159, 39%, 59%); }
    .lizShirtCollar { fill: hsl(159, 41%, 64%); }
    .lizJacketInner { fill: hsl(97, 11%, 61%); }
    .lizJacket { fill: hsl(96, 14%, 65%); }
    .lizJacketLapel { fill: hsl(97, 14%, 70%); }
    .lizCoatInner { fill: hsl(78, 24%, 61%); }
    .lizCoatBelt { fill: hsl(78, 20%, 66%); }
    .lizCoat { fill: hsl(78, 24%, 71%); }
    .lizCoatLapel { fill: hsl(77, 29%, 75%); }
    .lizPanties { fill: hsl(152, 32%, 66%); }
    .lizJeans { fill: hsl(225, 18%, 54%); }
    .lizJeansCuff { fill: hsl(225, 21%, 62%); }
    .lizShortsInner { fill: hsl(225, 25%, 59%); }
    .lizShorts { fill: hsl(226, 26%, 68%); }
    .lizSock { fill: hsl(186, 19%, 78%); }
    .lizShoe { fill: hsl(40, 18%, 48%); }

    .darkenExtra &.darkenExtra#{$suffix} {
        .lizUndershirt { fill: hsl(149, 13%, 34%); }
    }

    // For snowglobe.
    .futureLizShirt { fill: hsl($HUE_FUTURE, 28%, 57%); }
    .futureLizShirtCollar { fill: hsl($HUE_FUTURE, 32%, 62%); }
    .futureLizJeans { fill: hsl($HUE_FUTURE, 12%, 54%); }
    .futureLizJeansCuff { fill: hsl($HUE_FUTURE, 14%, 62%); }
    .futureLizShoe { fill: hsl($HUE_FUTURE, 18%, 48%); }

    .backpackMedium { fill: hsl(242, 30%, 54%); }
    .backpackLight { fill: hsl(242, 37%, 59%); }
    .backpackPocket { fill: hsl(243, 18%, 48%); }
    .backpackTrim { fill: hsl(252, 19%, 61%); }
    .backpackStrap { fill: hsl(253, 15%, 57%); }

    &.brushOff {
        .negligeeTop { fill: hsl(140, 28%, 57%); }
        .ribbonDark { fill: hsl(148, 31%, 44%); }
        .ribbon { fill: hsl(148, 33%, 51%); }
        .negligeeMesh { fill: hsla(136, 32%, 56%, 0.5); }
        .negligeeTrim { fill: hsla(139, 30%, 50%, 0.7); }
        .lizPanties { fill: hsl(149, 32%, 56%); }
    }

    &.cheekUnveiled {
        .gown { fill: hsl(63, 18%, 85%); }
        .gownStrapDark { fill: hsl(63, 10%, 72%); }
        .gownStrap { fill: hsl(63, 14%, 80%); }
    }

    &.siftingTchotchkes {
        .wishboneDark { fill: hsl(41, 22%, 48%); }
        .wishboneLight { fill: hsl(40, 29%, 56%); }
        .photoFrame { fill: hsl(180, 24%, 41%); }
        .photoCel { fill: hsl(177, 39%, 79%); }
    }

    &.elTorito {
        .senoritaDress { fill: hsl(157, 15%, 83%); }
        .senoritaStripe { fill: hsl(159, 28%, 57%); }
        .senoritaBelt { fill: hsl(346, 34%, 53%); }
    }

    &.pampas {
        .sari { fill: hsl(120, 52%, 69%); }
        .cymbalBand { fill: hsl(119, 26%, 46%); }
    }
}