// This is the svg.
.wallBalcony__left {
    transform: scaleX(-1);
}

// This is the path in the svg.
.balcony {
    fill: url(#fill__theatreDark);

    .PlW__logue
    & {
        fill: url(#fill__theatreLit);
    }
}
