// .rustDarkest { fill: hsl(18, 31%, 37%); }
// .rustDarker { fill: hsl(18, 31%, 42%); }
.rustDark { fill: hsl(18, 31%, 47%); }
// .rustMediumDark { fill: hsl(18, 31%, 52%); }
// .rustMedium { fill: hsl(18, 31%, 57%); }
// .rustMediumLight { fill: hsl(18, 31%, 62%); }
// .rustLight { fill: hsl(18, 31%, 67%); }
// .rustLighter { fill: hsl(18, 31%, 72%); }
// .rustLightest { fill: hsl(18, 31%, 77%); }

.eveningTime .eveningTime#{$suffix} {
    .rustDark { fill: hsl(18, 26%, 42%); }
}