.tomer#{$suffix} {
    .tomerShirt { fill: hsl(38, 45%, 67%); }
    .tomerSweater { fill: hsl(57, 12%, 65%); }
    .tomerPants { fill: hsl(210, 17%, 43%); }
    .tomerShoe { fill: hsl(218, 12%, 60%); }

    &.gangbanger {
        .shorts { fill: hsl(41, 19%, 54%); }
        .shoe { fill: hsl(210, 7%, 56%); }
    }

    &.steamTunnel {
        .broomHandle { fill: hsl(30, 22%, 63%); }
        .bundleDark { fill: hsl(68, 16%, 60%); }
        .bundleLight { fill: hsl(68, 23%, 69%); }
        .string { fill: hsl(12, 41%, 56%); }
    }
}

.shane#{$suffix} {
    .shaneShirt { fill: hsl(56, 52%, 71%); }
    .shaneShorts { fill: hsl(352, 19%, 53%); }
    .shaneSockStripe { fill: hsl(36, 49%, 59%); }
    .shaneShoe { fill: hsl(215, 20%, 50%); }

    .outline { fill: hsl(40, 30%, 86%); }
    .horseshoe { fill: hsl(41, 27%, 48%); }
    .horseshoeRidge { fill: hsl(41, 27%, 42%); }
}