.popupOverlaid__container {

    // Prevent lyric scrolling from pushing app offscreen.
    overflow: hidden;

    // Centre the audio section.
    display: flex;
    flex-direction: column;
    align-items: center;

    .AudioPopup-block, .Audio {
        height: @height__menu;
    }

    .Popup {
        &.audio {
            display: flex;
            justify-content: center;
        }
    }

    .popup-wrapper.audio {
        flex-grow: 1;
        box-shadow: @popup-darker-box-shadow;
    }

    .popup-content-wrapper {
        box-sizing: border-box;

        &.annotation {
            box-shadow: @popup-box-shadow;
        }

        &.score, &.wiki, &.title {
            box-shadow: @popup-darker-box-shadow;
        }
    }
}

.popupOverlaid__child {
    position: relative;
    width: 100%;

    &.AudioPopup-block {
        display: flex;
        justify-content: center;
    }

    &.main-popup-block {
        flex-grow: 1;
    }
}

._desktop_, ._tablet_ {
    /**
     * In desktop and tablet, width of audio subfield in overlay is less than
     * width of screen.
     */
    .popupOverlaid__container {
        .popup-wrapper.audio {
            overflow: hidden;
            border-radius: 15px;
        }
    }
}

._annotationOverlaid_ {
    .popupOverlaid__container {
        .popup-content-wrapper {
            &.annotation {
                box-shadow: @popup-darker-box-shadow;
            }
        }
    }
}

// Styling for overlaid audio in phone, which has timer in audio section.
._phone_ {
    &._overlayShown_ {

        // .AudioBanner-custom-subfield {
        //     top: -@height__menu - @AudioBanner-custom-subfield-height - 2 * @AudioBanner-custom-subfield-padding;
        // }

        .popupOverlaid__container {

            @banner-margin: 5px;

            .Audio {
                align-items: flex-start;
            }

            .Audio, .AudioPopup-block {
                height: @length__icon * 2 + @banner-margin;
            }

            .AudioButtons-block, .AudioTimer-block, .AudioBanner-block {
                height: @length__icon;
            }

            .AudioButtons-block {
                max-width: 300px; // Also arbitrary.
            }

            .AudioTimer-block {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: @audio-block-padding;
            }

            .AudioBanner-block {
                position: absolute;
                bottom: 0;
                width: 100%;
            }

            .audio-display-block {
                display: none;
            }
        }
    }
}

// ._desktop_ {
//     &._overlayShown_ {

//         // Only hide menu in desktop, because menu hides nav in mobile.
//         .Menu {
//             top: -@height__menu;
//         }

//         .AudioBanner-custom-subfield {
//             top: -@height__menu - @AudioBanner-custom-subfield-height - 2 * @AudioBanner-custom-subfield-padding;
//         }
//     }
// }
