@offset__popupButton: 0.5;

.PopupViewButton {
    position: absolute;
}

.PopupViewButton__inFullSize {
    position: absolute;
}

.PopupViewButton__close {

    .RM__desktop
    & {
        // Top left corner.
        top: -@js__length__iconLarge * @offset__popupButton;
        left: -@js__length__iconLarge * @offset__popupButton;
    }
    .RM__tablet
    & {
        // Top left corner.
        top: -@js__length__iconLarge__tablet * @offset__popupButton;
        left: -@js__length__iconLarge__tablet * @offset__popupButton;
    }

    .RM__mini
    & {

        // Top left corner.
        top: -@js__length__iconLarge__mini * @offset__popupButton;
        left: -@js__length__iconLarge__mini * @offset__popupButton;

        &.PopupViewButton__inFullSize {
            // On top, to the left.
            top: -@js__length__iconLarge__mini + @js__margin__thin;
        }
    }

    .RM__phone
    & {

        &.PopupViewButton__inCardSize {
            // If card size, don't show close button at all in phone.
            display: none;
        }

        &.PopupViewButton__inFullSize {
            // On top, to the left.
            top: -@js__length__icon + @js__margin__thin;
        }
    }

    .RM__mini
    &,
    .RM__phone
    & {
        &.PopupViewButton__inFullSize {
            left: 10%;
        }
    }
}

.PopupViewButton__side {
    top: @js__length__iconLarge * 0.2;

    .RM__overlayShown
    & {
        top: 50%;
        transform: translateY(-50%);
    }
}

.PopupViewButton {

    .RM__mini
    &.PopupViewButton__inFullSize,
    .RM__phone
    & {
        // Align left from centre of button.
        transform: translateX(-50%);
    }
}

.PopupViewButton__previous {
    left: -@js__length__iconLarge * @offset__popupButton;
}

.PopupViewButton__next {
    right: -@js__length__iconLarge * @offset__popupButton;
}

.RM__phone,
.RM__mobile.RM__overlayHidden {

    .PopupViewButton__side {
        // Override default styling.
        transform: none;
        top: auto;
        bottom: -@js__length__icon * @offset__popupButton;
    }

    .PopupViewButton__previous {
        left: @js__length__icon * 0.2;
    }

    .PopupViewButton__next {
        right: @js__length__icon * 0.2;
    }
}
