@import "./PopupViewButton.less";
@import "./PopupView.less";

@import "../Popups/AnnotationPopup.less";
@import "../Popups/OverviewPopup.less";
@import "../Popups/TipsPopup.less";

.Popup__visible {
    transition: opacity @animationDuration__slow;
    opacity: 1;
}

.Popup__invisible,

.RM__overlayShown
.Popup__displaysNotInOverlay {
    transition: opacity @animationDuration__fast;
    opacity: 0;
}

.Popup__notDisplayed {
    z-index: @zIndex__popupContainer;
}

.Popup__displayed {
    // Allows the popup to prevent a click inside from closing it.
    z-index: @zIndex__popupOverlayContent;
}
