// This value is used to determine whether to show the mobile wiki page.
@js__padding__popupContent__wide: 20px;

@margin__popup__fullSize: @js__length__iconLarge;

/**
 * Even though this size is based on annotation card width, it is now only
 * applied to the tips and title popups.
 */
@width__popupCard:
    @width__annotationCard
    + @paddingX__annotationCard * 2
    + @js__padding__popupContent__wide * 2;

@width__popupCard__mini:
    @width__annotationCard__mini
    + @paddingX__annotationCard * 2
    + @js__padding__popupContent__wide * 2;

@width__popupCard__phone:
    @width__annotationCard__phone
    + @paddingX__annotationCard * 2
    + @js__padding__popupContent__wide * 2;

.PopupView {
    position: relative;
}

.PopupView__fullSize {
    max-width: @js__width__laptop;
    width: ~"calc(100% - @{margin__popup__fullSize} * 2.5)";
    height: ~"calc(100% - @{margin__popup__fullSize})";
}

.PopupView__cardSize {
    max-width: @width__popupCard;
    width: @width__popupCard;

    .RM__mini
    & {
        // Multiplier is .9, just like for lyric text in mini.
        max-width: @width__popupCard__mini;
        width: @width__popupCard__mini;
    }

    .RM__phone
    & {
        // Multiplier is .98, just like for lyric text in phone.
        max-width: @width__popupCard__phone;
        width: @width__popupCard__phone;
    }
}

.PopupView__bounceAnimate {

    .Popup__visible
    & {
        animation: bounceIn @animationDuration__slow;
    }

    .Popup__invisible
    &,
    .RM__overlayShown .Popup__displaysNotInOverlay
    & {
        animation: bounceOut @animationDuration__fast;
    }
}

.PopupView__shrinkAnimate {

    .Popup__visible
    & {
        animation: shrinkIn @animationDuration__slow;
    }

    .Popup__invisible
    &,
    .RM__overlayShown .Popup__displaysNotInOverlay
    & {
        animation: shrinkOut @animationDuration__fast;
    }
}

.PopupViewContent {
    position: relative;
    width: 100%;
    height: 100%;

    box-sizing: border-box;

    background-color: @bgColour__verse__odd;

    .Popup__displaysNotInOverlay
    & {
        box-shadow: @boxShadow__popup;
    }

    .Popup__displaysInOverlay
    & {
        box-shadow: @boxShadow__popupDarker;
    }
}

@padding__popupContent__narrow: 15px;

.PopupViewContent__narrowPadding {
    padding: @padding__popupContent__narrow;
}

.PopupViewContent__widePadding {
    // Wider padding to accommodate popup buttons.
    padding: @js__padding__popupContent__wide;
}

// TODO: Revisit mobile sizing.

// @margin__popupView__mini: 10px;

// .RM__mobile {

//     &:not(.RM__tablet) {
//         .PopupView__fullSize {
//             width: ~"calc(100% - @{margin__popupView__mini} * 2)";
//             height: ~"calc(100% - @{js__length__icon})";
//         }

//         &.RM__phone {
//             .Popup__displaysInOverlay {
//                 .PopupView {
//                     // Make side margin in phone just that much thinner.
//                     width: ~"calc(100% - @{margin__popupView__mini})";
//                 }
//             }

//             &.RM__lyricHeightless {
//                 .PopupView__fullSize {
//                     height: ~"calc(100% - @{margin__popupView__mini})";
//                 }
//             }
//         }

//         // Reverse width and height when width is greater than height.
//         &.RM__lyricHeightless {
//             .PopupView__fullSize {
//                 width: ~"calc(100% - @{js__length__icon} * 2)";
//                 height: ~"calc(100% - @{margin__popupView__mini})";
//             }
//         }
//     }
// }
