@offset__popupButton: 0.5;

.PopupViewButton {
    position: absolute;
}

.Button__popupNotShadow {
    z-index: @zIndex__popupButton;
}

// Apply box shadow to button itself, so that it animates as well.
.ButtonAnimatable__popup {
    box-shadow: @boxShadow__button;

    .RM__overlayShown
    & {
        box-shadow: @boxShadow__button__inOverlay;
    }
}

.PopupViewButton__close {

    .RM__desktop
    & {
        // Top left corner.
        top: -@js__length__iconLarge * @offset__popupButton;
        left: -@js__length__iconLarge * @offset__popupButton;
    }
    .RM__tablet
    & {
        // Top left corner.
        top: -@js__length__iconLarge__tablet * @offset__popupButton;
        left: -@js__length__iconLarge__tablet * @offset__popupButton;
    }

    .RM__mini
    & {

        // Top left corner.
        top: -@js__length__iconLarge__mini * @offset__popupButton;
        left: -@js__length__iconLarge__mini * @offset__popupButton;
    }

    .RM__phone
    & {

        &.PopupViewButton__inCardSize {

            // If card size, don't show close button at all in phone.
            display: none;
        }
    }

    .RM__mini
    &,
    .RM__phone
    & {
        &.PopupViewButton__inFullSize {
            left: 10%;
        }
    }
}

.PopupViewButton__side {

    .RM__desktop
    & {
        // Buttons on top so they don't shift regardless of content height.
        top: -@js__length__iconLarge * @offset__popupButton;
    }

    .RM__tablet.RM__overlayHidden
    & {
        // Buttons on bottom so they don't shift regardless of content height.
        bottom: -@js__length__iconLarge__tablet * @offset__popupButton;
    }

    .RM__mini.RM__overlayHidden
    & {
        bottom: -@js__length__iconLarge__mini * @offset__popupButton;
    }

    .RM__phone
    & {
        bottom: -@js__length__icon * @offset__popupButton;
    }

    // Using calc here because transform messes with z-indices.
    .RM__desktop
    &.PopupViewButton__inFullSize {
        top: ~"calc(50% - @{js__length__iconLarge} * 0.5)";
    }

    .RM__tablet
    &.PopupViewButton__inFullSize,

    .RM__overlayShown.RM__tablet
    &.PopupViewButton__notInFullSize {
        top: ~"calc(50% - @{js__length__iconLarge__tablet} * 0.5)";
    }

    .RM__overlayShown.RM__mini
    &.PopupViewButton__notInFullSize {
        top: ~"calc(50% - @{js__length__iconLarge__mini} * 0.5)";
    }
}

.PopupViewButton__previous {

    .RM__desktop
    & {
        left: -@js__length__iconLarge * @offset__popupButton;
    }

    .RM__tablet
    & {
        left: -@js__length__iconLarge__tablet * @offset__popupButton;
    }

    .RM__mini
    & {
        left: -@js__length__iconLarge__mini * @offset__popupButton;
    }

    .RM__desktop
    &.PopupViewButton__notInFullSize,
    .RM__phone
    &,
    .RM__mobile.RM__overlayHidden
    & {
        left: 10%;
    }

    .RM__mini
    &,
    .RM__phone
    & {
        &.PopupViewButton__inFullSize {
            left: auto;
            right: 22.5%;
        }
    }
}

.PopupViewButton__next {

    .RM__desktop
    & {
        right: -@js__length__iconLarge * @offset__popupButton;
    }

    .RM__tablet
    & {
        right: -@js__length__iconLarge__tablet * @offset__popupButton;
    }

    .RM__mini
    & {
        right: -@js__length__iconLarge__mini * @offset__popupButton;
    }

    .RM__desktop
    &.PopupViewButton__notInFullSize,
    .RM__phone
    &,
    .RM__mobile.RM__overlayHidden
    & {
        right: 10%;
    }

    /**
     * Keeping this as a separate style. They are currently the same, but this
     * might change.
     */
    .RM__mini
    &,
    .RM__phone
    & {
        &.PopupViewButton__inFullSize {
            right: 10%;
        }
    }
}

.PopupViewButton__inFullSize {

    .RM__mini
    & {
        top: -@js__length__iconLarge__mini + @js__margin__thick;
    }

    .RM__phone
    & {
        top: -@js__length__icon + @js__margin__thick;
    }
}