@import "./PopupViewButton.scss";
@import "./PopupView.scss";

@import "../Popups/AnnotationPopup.scss";
@import "../Popups/OverviewPopup.scss";
@import "../Popups/TipsPopup.scss";

// Styles for showing popup or not.
.Popup {
    flex-direction: column-reverse;
}

.Popup__fullSize {
    .RM__mobile:not(.RM__tablet)
    & {
        /**
         * In mini and phone, anchor full size popups to bottom to make room
         * for popup buttons.
         */
        justify-content: start;
    }
}

.Popup__visible {
    transition: opacity $animationDuration__slow;
    opacity: 1;
}

.Popup__invisible,

.RM__overlayShown
.Popup__notInOverlay {
    transition: opacity $animationDuration__fast;
    opacity: 0;
}

.Popup__undisplayedZIndex {
    z-index: $zIndex__popupContainer;
}

.Popup__displayedZIndex {
    // Allows the popup to prevent a click inside from closing it.
    z-index: $zIndex__popupOverlayContent;
}
