@import "./overlay.less";
@import "./webview.less";

@import "./PopupButton.less";
@import "./PopupOverlay.less";

@import "../Popups/AnnotationPopup.less";
@import "../Popups/OverviewPopup.less";
@import "../Popups/ScorePopup.less";
@import "../Popups/TipsPopup.less";

.Popup {

    box-sizing: border-box;
    
    &:not(.overview) {
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &.annotation,
    &.overview,
    &.tips,
    &.title {
        .popup-wrapper {
            animation: bounceOut @popup-transition-duration-out;
        }

        &.visible {
            .popup-wrapper {
                animation: bounceIn @popup-transition-duration-in;
            }
        }
    }

    &.wiki {
        .popup-wrapper {
            animation: shrinkOut @popup-transition-duration-out;
        }

        &.visible {
            .popup-wrapper {
                animation: shrinkIn @popup-transition-duration-in;
            }
        }
    }

    // Including annotation is possible because its height is auto, not 100%.
    &.annotation,
    &.score,
    &.title,
    &.wiki {
        z-index: @zIndex__popupOverlayContent;
    }

    &.not-visible {
        transition: opacity @popup-transition-duration-out;
        opacity: 0;
    }

    &.visible {
        transition: opacity @popup-transition-duration-in;
        opacity: 1;
    }

    &.not-displayed {
        z-index: @zIndex__popupContainer;
    }
}

.Popup {
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup-wrapper {
    position: relative;

    z-index: @zIndex__popupOverlayContent;

    &.wiki, &.score {
        width: ~"calc(100% - @{full-subfield-margin} * 2.5)";
        max-width: @maxWidth__laptop;

        height: ~"calc(100% - @{full-subfield-margin})";
    }

    &.annotation, &.tips, &.title {
        width: @popup-annotation-width;
        max-width: @popup-annotation-width;
    }

    // Multiplier is .9, just like for lyric text in mini.
    ._mini_
    & {
        &.annotation, &.tips, &.title {
            // width: @mini-popup-annotation-width;
            max-width: @mini-popup-annotation-width;
        }
    }

    // Multiplier is .98, just like for lyric text in phone.
    ._phone_
    & {
        &.annotation, &.tips, &.title {
            // width: @phone-popup-annotation-width;
            max-width: @phone-popup-annotation-width;
        }
    }
}

.popup-content-wrapper {
    box-sizing: border-box;
    box-shadow: @popup-box-shadow;
    background-color: @odd-verse-colour;
    position: relative;

    &:not(.overview) {
        width: 100%;
        height: 100%;
    }

    &.overview, &.tips {
        // Standard narrow padding.
        padding: @text-popup-content-wrapper-padding;
    }

    &.annotation, &.title {
        // Wider padding to accommodate popup buttons.
        padding: @popup-content-side-padding;
    }

    &.tips {
        // Arbitrary for now.
        min-height: 150px;
    }
}

._mobile_ {

    &._phone_, &._annotationSide_ {

        .PopupButton {
            &.side-position {
                // Override default styling.
                transform: none;
                top: auto;
                bottom: -@js__length__icon * @PopupButton-multiplier;
            }

            &.previous-position {
                left: @js__length__icon * 0.2;
            }

            &.next-position {
                right: @js__length__icon * 0.2;
            }
        }
    }

    &:not(._tablet_) {
        .popup-wrapper {
            &.wiki, &.score {
                width: ~"calc(100% - @{mini-full-subfield-margin} * 2)";
                height: ~"calc(100% - @{js__length__icon})";
            }

            .PopupButton {
                &.close-position {
                    display: none;
                }
            }
        }

        &._phone_ {
            .popup-wrapper {
                &.wiki, &.score, &.annotation, &.title {
                    // Make side margin in phone just that much thinner.
                    width: ~"calc(100% - @{mini-full-subfield-margin})";
                }
            }

            &._lyricHeightless_ {
                .popup-wrapper {
                    &.wiki, &.score {
                        height: ~"calc(100% - @{mini-full-subfield-margin})";
                    }
                }
            }
        }

        // Reverse width and height when width is greater than height.
        &._lyricHeightless_ {
            .popup-wrapper {
                &.wiki, &.score {
                    width: ~"calc(100% - @{js__length__icon} * 2)";
                    height: ~"calc(100% - @{mini-full-subfield-margin})";
                }
            }
        }
    }
}
