.PopupButton {
    position: absolute;

    &.close-position {
        top: -@length__iconLarge * @PopupButton-multiplier;
        left: -@length__iconLarge * @PopupButton-multiplier;
    }

    &.side-position {
        top: @length__iconLarge * 0.2;
    }

    &.previous-position {
        left: -@length__iconLarge * @PopupButton-multiplier;
    }

    &.next-position {
        right: -@length__iconLarge * @PopupButton-multiplier;
    }

    &.shadow {
        display: block;
        overflow: hidden;
        box-shadow: @popup-box-shadow;
        border-radius: 50%;

        &.close-position {
            box-shadow: @popup-darker-box-shadow;
        }
    }

    ._annotationOverlaid_
    & {
        &.side-position {
            top: 50%;
            transform: translateY(-50%);
        }

        &.shadow {
            box-shadow: @popup-darker-box-shadow;
        }
    }

    // Corrects access icon position in popup buttons, for some reason.
    .Button {
        position: initial;
    }
}


._mobile_ {

    &._phone_, &._annotationSide_ {

        .PopupButton {
            &.side-position {
                // Override default styling.
                transform: none;
                top: auto;
                bottom: -@js__length__icon * @PopupButton-multiplier;
            }

            &.previous-position {
                left: @js__length__icon * 0.2;
            }

            &.next-position {
                right: @js__length__icon * 0.2;
            }
        }
    }

    &:not(._tablet_) {
        .PopupButton {
            &.close-position {
                display: none;
            }
        }
    }
}