@import "./View/style";

// Styles for showing popup or not.
.Popup {
    flex-direction: column-reverse;

    .DW__higherProcessor
    & {
        transition: opacity $animationDuration__fast;
    }

    opacity: 0;
}

.Popup__fullSize {
    .DW__phoneOrMiniWidth
    & {
        /**
         * In mini and phone, anchor full size popups to bottom to make room
         * for popup buttons.
         */
        justify-content: start;
    }
}

.Popup__exiting,
.Popup__visible {
    z-index: $zIndex__popupOverlayContent;
}

.Popup__visible {
    .DW__higherProcessor
    & {
        transition: opacity $animationDuration__slow;
    }

    opacity: 1;
}
